<div class="d-flex justify-content-between align-items-center">
  <div class="my-3 small-text">
    <button
      (click)="connectWallet()"
      class="button button-chart button-outline button-outline__in-card btn-unconnect"
      *ngIf="!isConnectedWallet">
      <div class="icon-connect"></div>
      <span class="">Connect to Web3</span>
    </button>
    <button
      [routerLink]="['/account/', walletAddress]"
      class="button button-chart button-outline button-outline__in-card"
      *ngIf="isConnectedWallet">
      <div class="icon-connect connected"></div>
      <span class="">Connected to Web3</span>
    </button>
  </div>
  <div class="small-text">
    <span class="cursor-pointer text--green mr-6" (click)="expandMenu()">
      <ng-container *ngIf="!isExpand">Expand all</ng-container>
      <ng-container *ngIf="isExpand">Collapse all</ng-container>
    </span>
    <span class="cursor-pointer text--green" (click)="reloadData()">Reset</span>
  </div>
</div>

<div class="box-content text--white mt-3">
  <ng-container *ngFor="let writeContract of jsonWriteContract.oneOf; index as i">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="content-contract">
        <mat-panel-title class="item-content"> {{ i + 1 }}. {{ writeContract.required }} </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-flex row p-3">
        <ng-container *ngFor="let item of writeContract?.properties[writeContract.required[0]].required; index as idx">
          <p class="px-0 text--greyscale-1">
            {{ item }} ({{ writeContract.properties[writeContract.required[0]].properties[item].type }})
          </p>
          <input
            class="form-check-input {{ writeContract.required }} {{ item }} col-12 mb-4"
            type="text"
            (keyup)="resetCheck()"
            [class.error-null]="
              writeContract?.properties[writeContract.required[0]].checkErr &&
              writeContract?.properties[writeContract.required[0]].checkErr[item] &&
              errorInput
            "
            placeholder="{{ item }} ({{
              writeContract.properties[writeContract.required[0]].properties[item].type
            }})" />
        </ng-container>
        <div class="px-0">
          <button
            class="button button-chart button-outline button-outline__in-card body"
            [disabled]="errorInput && currentFrom === i"
            (click)="excuteSmartContract(writeContract.required[0], i)">
            <span class="ml-1 text-gradient">Write</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>
