<div class="d-flex justify-content-between align-items-center fw-bold">
  <div class="my-3">
    <a [routerLink]="'/'" class="button button-chart button-outline">
      <img src="assets/icons/icons-svg/color/chart-pie-right.svg" alt="" width="16px" />
      <span class="ml-1">Connect to Web3</span>
    </a>
  </div>
  <div>
    <span class="cursor-pointer text--green mr-5" (click)="expandMenu()">
      <ng-container *ngIf="!isExpand">Expand all</ng-container>
      <ng-container *ngIf="isExpand">Collapse all</ng-container>
    </span>
    <span class="cursor-pointer text--green">Reset</span>
  </div>
</div>

<div class="box-content text--white mt-3">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="content-contract">
      <mat-panel-title class="item-content">1. upgrade to</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex row p-3">
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <a [routerLink]="'/'" class="button button-chart button-outline">
        <span class="ml-1">Write</span>
      </a>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="content-contract">
      <mat-panel-title class="item-content"> 2. upgrade to and call </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex row p-3">
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <a [routerLink]="'/'" class="button button-chart button-outline">
        <span class="ml-1">Write</span>
      </a>
    </div>
  </mat-expansion-panel>
</div>
