<div class="row mb-3">
  <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">{{ label }}</div>
  <div class="col-12 col-lg-9 body-01">
    <ng-container *ngIf="dataLink">
      <ng-container *ngIf="value?.length > 0 && value !== '-'; else noValues">
        <span *ngIf="value === '[do-not-modify]'">{{ value }}</span>
        <a
          class="text--primary"
          [routerLink]="[dataLink?.url || '/account', dataLink?.data || value]"
          *ngIf="value !== '[do-not-modify]'">
          {{ dataLink?.data || value || '-' }}
        </a>
      </ng-container>
    </ng-container>
    <ng-container [ngSwitch]="pipeType" *ngIf="!dataLink">
      <ng-container *ngSwitchCase="pipeTypeData.Number">
        {{ (value | mask : 'separator.6') || '-' }}
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.BalanceOf">
        {{ value > 0 ? (value | balanceOf | mask : 'separator.6') : '-' }}
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.Json">
        {{ value | balanceOf | mask : 'separator.6' }}
        <pre id="json" class="raw-content text--white px-4" [innerHtml]="value | appJson"></pre>
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.Percent">
        {{ value | percent : global.formatNumber2Decimal }}
      </ng-container>
      <ng-container *ngSwitchDefault>{{ value || '-' }}</ng-container>
      <ng-container *ngIf="denom"
        ><span class="text--primary" *ngIf="value">{{ denom }}</span></ng-container
      >
    </ng-container>
  </div>
</div>

<ng-template #noValues> - </ng-template>
