.proposal-title {
  max-width: 370px;
}

.aura-table.proposal-table th.mat-header-cell:nth-child(4),
.aura-table.proposal-table th.mat-header-cell:nth-child(5) {
  min-width: 156px;
}

.aura-table.proposal-table th.mat-header-cell:nth-child(1) {
  min-width: 4%;
}

.aura-table.proposal-table th.mat-header-cell:nth-child(2) {
  min-width: 300px;
}

.aura-table.proposal-table th.mat-header-cell:nth-child(3),
.aura-table.proposal-table th.mat-header-cell:nth-child(6) {
  min-width: 110px;
}

.aura-table.proposal-table th.mat-header-cell:nth-child(7) {
  min-width: 175px;
}