<ng-container *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <!-- Proposal Table -->
  <section class="all-list table-responsive">
    <div class="card">
      <div class="card-header card-header-dark align-items-center d-flex justify-content-between">
        <h2 class="mb-0 text--white h3-mob">Community Pool Spent Proposals</h2>
      </div>
      <div class="card-body pt-0" *ngIf="length > 0 && !isLoading; else noData">
        <ng-container *ngIf="!breakpoint.value.matches">
          <table mat-table [dataSource]="dataSource" matSort class="table-reponsive aura-table proposal-table">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#ID</th>
              <td mat-cell *matCellDef="let element" class="fw-normal">#{{ element.proposal_id }}</td>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element" class="title-cell fw-normal">
                <a [routerLink]="['/votings/', element.proposal_id]" class="line-claim-v proposal-title">
                  {{ element.title }}
                </a>
              </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="pl-5">Status</th>
              <td mat-cell *matCellDef="let element" class="pl-5">
                <div
                  class="aura-status-inline {{ getStatus(element.status).class }} text-capitalize fw-normal"
                  *ngIf="getStatus(element.status)">
                  <span class="status fw-normal">{{ getStatus(element.status).value }}</span>
                </div>
              </td>
            </ng-container>

            <!-- Sender Column -->
            <ng-container matColumnDef="sender">
              <th mat-header-cell *matHeaderCellDef>Sender</th>
              <td mat-cell *matCellDef="let element">
                <app-name-tag [value]="distributionAcc" [linkRouter]="['/address', distributionAcc]"></app-name-tag>
              </td>
            </ng-container>

            <!-- Recipient Column -->
            <ng-container matColumnDef="recipient">
              <th mat-header-cell *matHeaderCellDef>Recipient</th>
              <td mat-cell *matCellDef="let element">
                <app-name-tag [value]="element.recipient" [linkRouter]="['/address', element.recipient]"></app-name-tag>
              </td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">
                <span class="mb-0 text--gray-1 fw-normal">
                  <span
                    *ngIf="element?.amount[0].amount | balance: 6 | lt: 0.001"
                    [appTooltip]="{ priceAmount: element?.amount[0].amount, decimal: 6 }">
                    {{ '<0.001' }}
                  </span>
                  <span
                    [appTooltip]="{ priceAmount: element?.amount[0].amount, decimal: 6 }"
                    [class.cursor-text]="element?.amount[0].amount | balance: 6 | lt: 1000000"
                    *ngIf="element?.amount[0].amount | balance: 6 | gte: 0.001"
                    [appBigNumber]="element?.amount[0].amount"
                    [decimal]="6"></span>
                </span>
                <span class="fw-normal" appLinkDenom> {{ denom }}</span>
              </td>
            </ng-container>

            <!-- Voting end Time Column -->
            <ng-container matColumnDef="voting_end_time">
              <th mat-header-cell *matHeaderCellDef>Voting End</th>
              <td mat-cell *matCellDef="let element">
                <div
                  *ngIf="element.status != 'PROPOSAL_STATUS_DEPOSIT_PERIOD'"
                  class="d-flex align-items-center fw-normal">
                  <span>{{ element.voting_end_time | customDateTime: 'DateOnly' }}</span>
                  <div class="mx-1"></div>
                  <span>{{ element.voting_end_time | customDateTime: 'TimeOnly' }}</span>
                </div>
                <div
                  class="body-02 d-flex align-items-center"
                  *ngIf="element.status === 'PROPOSAL_STATUS_DEPOSIT_PERIOD'">
                  <span>-</span>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
        </ng-container>
        <ng-container *ngIf="breakpoint.value.matches">
          <div *ngIf="dataSource?.data?.length > 0">
            <app-card-mob-explain
              *ngFor="let data of dataSource?.data"
              [data]="data"
              [title]="{
                label: data.title,
                labelLink: '/votings/' + data.proposal_id,
                subLabel: '#' + data.proposal_id
              }"
              [status]="getStatus(data.status)"
              [content]="[
                {
                  address: distributionAcc,
                  label: 'Sender',
                  class: !(distributionAcc | nameTagTooltipPipe) ? 'name-tag' : '',
                  info: !(distributionAcc | nameTagTooltipPipe)
                    ? '<a class=text--primary href=' +
                      ('/address/' + distributionAcc) +
                      '>' +
                      (distributionAcc | nameTag | ellipsis: 16) +
                      '</a>'
                    : '<a class=text--primary href=' +
                      ('/address/' + distributionAcc) +
                      '>' +
                      (distributionAcc | nameTag | ellipsis: 8 : 8) +
                      '</a>'
                },
                {
                  address: data.recipient,
                  label: 'Recipient',
                  class: !(data.recipient | nameTagTooltipPipe) ? 'name-tag' : '',
                  info: !(data.recipient | nameTagTooltipPipe)
                    ? '<a class=text--primary href=' +
                      ('/address/' + data.recipient) +
                      '>' +
                      (data.recipient | nameTag | ellipsis: 16) +
                      '</a>'
                    : '<a class=text--primary href=' +
                      ('/address/' + data.recipient) +
                      '>' +
                      (data.recipient | nameTag | ellipsis: 8 : 8) +
                      '</a>'
                },
                {
                  label: 'Amount',
                  class: '',
                  info: data.amount[0].amount,
                  isAmount: true
                },
                {
                  label: 'Voting End',
                  class: '',
                  info:
                    data.status !== 'PROPOSAL_STATUS_DEPOSIT_PERIOD'
                      ? '<span>' +
                        (data.voting_end_time | customDateTime: 'DateOnly') +
                        '</span>' +
                        ' ' +
                        '<span>' +
                        (data.voting_end_time | customDateTime: 'TimeOnly') +
                        '</span>'
                      : '-'
                }
              ]">
            </app-card-mob-explain>
          </div>
          <!-- </div> -->
        </ng-container>

        <div class="mt-6 d-flex justify-content-center justify-content-md-end">
          <app-custom-paginator
            [paginator]="pageData"
            [length]="length"
            (pageChange)="getListProposal({ index: $event })">
          </app-custom-paginator>
        </div>
      </div>
      <div class="my-10" *ngIf="isLoading">
        <app-loading-sprint></app-loading-sprint>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #noData>
  <app-table-no-data *ngIf="!isLoading" [textNull]="errTxt"></app-table-no-data>
</ng-template>
