<div class="code-contract justify-content-between text--white mt-5">
  <ng-container *ngIf="contractDetailData?.contract_verification === contractVerifyType.Exact_Match">
    <img src="assets/images/icons/contract-verify.svg" alt="" width="16" height="16" />
    <span class="ml-2 mr-1 fw-semibold">Contract Source Code Verified</span
    ><span class="text--light-gray">(Exact Match)</span>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification === contractVerifyType.Similar_Match">
    <img src="assets/images/icons/contract-simimar.svg" alt="" width="16" height="16" />
    <span class="ml-2 mr-1 fw-semibold">Similar Match Source Code</span>
    <div class="text--light-gray mt-4 mb-2">
      Note: This contract matches the deployed ByteCode of the Source Code for Contract
      <a class="text--green ml-1" [routerLink]="['/account', 'aura1a6xdrvyree2jrpn2fcxqd0rychu8gcczftld2c']">
        aura1a6xdrvyree2jrpn2fcxqd0rychu8gcczftld2c</a
      >
    </div>
  </ng-container>

  <div class="d-flex" *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="col-lg-6">
      <table class="aura-basic-table w-100">
        <tr>
          <td>Contract Name:</td>
          <td class="fw-semibold">{{ contractDetailData?.contract_name }}</td>
        </tr>
        <tr>
          <td>Compiler Version:</td>
          <td class="text--contract fw-semibold">{{ contractDetailData?.compiler_version }}</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="aura-basic-table w-100">
        <tr>
          <td>Optimization Enabled:</td>
          <td><span class="fw-semibold">No</span> with <span class="fw-semibold">200</span> runs</td>
        </tr>
        <tr>
          <td>Other Settings:</td>
          <td><span class="fw-semibold">default</span> evmVersion</td>
        </tr>
      </table>
    </div>
  </div>
  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="mt-3 mb-3">
      <img src="assets/images/icons/token-contract.svg" alt="" width="14" height="17" />
      <span class="text--white ml-2 fw-semibold">Link Contract Source Code</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="col-lg-11 small-text content-info link-url">{{ contractDetailData?.url }}</div>
      <div class="col-lg-1">
        <div class="d-flex justify-content-end">
          <button
            class="button button-chart button-outline button-outline__in-card btn-copy"
            (click)="copyData(contractDetailData?.url)">
            <span class="ml-1">Copy</span>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-5 mb-2">
      <div>
        <img src="../../../assets/icons/icons-svg/basic/menu.svg" alt="" width="16" height="16" />
        <span class="text--white ml-2 fw-semibold">Contract Schema</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="d-flex justify-content-between align-items-center">
      <span class="text--contract">File 1 of 3: execute msg.ison</span>
      <div class="d-flex align-items-center">
        <div class="dropdown aura-dropdown mr-4 small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center"
            type="button"
            id="delegateAction1"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0"
              src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
              alt="wallet-avatar"
              height="24px"
              width="24px" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction1">
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          src="assets/icons/icons-svg/basic/copy.svg"
          class="ml-4 mr-4 cursor-pointer"
          alt=""
          width="24"
          height="24"
          (click)="copyData(contractDetailData?.execute_msg_schema)" />
        <img src="assets/images/icons/address-popup.png" alt="" width="24" height="24" class="cursor-pointer"
             (click)="(pre1.className.includes('show')) ? pre1.classList.remove('show') : pre1.classList.add('show')"/>
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre1>{{ contractDetailData?.execute_msg_schema }}</pre>

    <div class="d-flex justify-content-between align-items-center mt-2">
      <span class="text--contract">File 2 of 3: instantiate msg.json</span>
      <div class="d-flex align-items-center">
        <div class="dropdown aura-dropdown mr-4 small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center"
            type="button"
            id="delegateAction2"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0"
              src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
              alt="wallet-avatar"
              height="24px"
              width="24px" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction2">
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          src="assets/icons/icons-svg/basic/copy.svg"
          class="ml-4 mr-4 cursor-pointer"
          alt=""
          width="24"
          height="24"
          (click)="copyData(contractDetailData?.instantiate_msg_schema)" />
        <img src="assets/images/icons/address-popup.png" alt="" width="24" height="24" class="cursor-pointer"
             (click)="(pre2.className.includes('show')) ? pre2.classList.remove('show') : pre2.classList.add('show')" />
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre2>{{ contractDetailData?.instantiate_msg_schema }}</pre>

    <div class="d-flex justify-content-between align-items-center mt-2">
      <span class="text--contract">File 3 of 3: query msg.json</span>
      <div class="d-flex align-items-center">
        <div class="dropdown aura-dropdown mr-4 small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center"
            type="button"
            id="delegateAction3"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0"
              src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
              alt="wallet-avatar"
              height="24px"
              width="24px" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction3">
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li class="dropdown-item cursor-pointer" (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          src="assets/icons/icons-svg/basic/copy.svg"
          class="ml-4 mr-4 cursor-pointer"
          alt=""
          width="24"
          height="24"
          (click)="copyData(contractDetailData?.query_msg_schema)" />
        <img src="assets/images/icons/address-popup.png" alt="" width="24" height="24" class="cursor-pointer"
             (click)="(pre3.className.includes('show')) ? pre3.classList.remove('show') : pre3.classList.add('show')" />
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre3>{{ contractDetailData?.query_msg_schema }}</pre>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="mt-2">
      <img src="../../../assets/icons/icons-svg/basic/code.svg" alt="" width="16" height="16" />
      <span class="text--white ml-2 fw-semibold">Contract Creation Code</span>
    </div>

    <div class="mt-3 small-text content-info">
      {{ contractDetailData?.contract_hash }}
    </div>
  </ng-container>
</div>
