<div class="justify-content-between text--white mt-3">
  <img src="assets/images/icons/contract-verify.svg" alt="" width="16" height="16" />
  <span class="small-text ml-2 mr-1 fw-bold">Contract Source Code Verified</span
  ><span class="text-secondary">(Exact Match)</span>
  <div class="d-flex fw-bold">
    <div class="col-lg-6">
      <table class="aura-basic-table w-100">
        <tr>
          <td>Contract Name:</td>
          <td>FiatTokenProxy</td>
        </tr>
        <tr>
          <td>Compiler Version:</td>
          <td>v0.4.24+commit.e67f0147</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="aura-basic-table w-100">
        <tr>
          <td>Optimization Enabled:</td>
          <td>No with 200 runs</td>
        </tr>
        <tr>
          <td>Other Settings:</td>
          <td>default evmVersion</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mt-3">
    <img src="assets/images/icons/token-contract.svg" alt="" width="14" height="17" />
    <span class="text--white ml-2 fw-bold">Link Contract Source Code</span>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="col-lg-11 mt-3 small-text content-info">https://github.com/aura-nw/flower-store-contract</div>
    <div class="col-lg-1">
      <a href="javascript:void(0)" class="button button-chart button-outline">
        <span class="ml-1">Copy</span>
      </a>
    </div>
  </div>

  <div class="mt-5 mb-2">
    <img src="../../../assets/icons/icons-svg/basic/menu.svg" alt="" width="16" height="16" />
    <span class="text--white ml-2 fw-bold">Contract Schema</span>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <span>File 1 of 3: execute msg.ison</span>
    <div class="d-flex align-items-center">
      <div class="dropdown aura-dropdown mr-4 small-text">
        <button
          class="button button-outline d-flex align-items-center"
          type="button"
          id="delegateAction"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <img
            class="flex-shrink-0"
            src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
            alt="wallet-avatar"
            height="24px"
            width="24px" />
          <span class="">Export Schema</span>
        </button>
        <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction">
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">JSON Format</button>
          </li>
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">RAW/Text Format</button>
          </li>
        </ul>
      </div>
      <img src="assets/icons/icons-svg/basic/copy.svg" class="ml-4 mr-4" alt="" width="24" height="24" />
      <img src="assets/images/icons/address-popup.png" alt="" width="20" height="20" />
    </div>
  </div>
  <pre class="mt-3 small-text content-info">
    "http://ison-schema.org/draft-07/schema#"
    "titien:
    "QueryMsg",
    wanvoE':
    "description": "Returns the current balance of the given address, 0 if unset. Return type: BalanceRegponse."
    levoel:
    "object",
    "required":
  </pre>

  <div class="d-flex justify-content-between align-items-center mt-2">
    <span>File 2 of 3: instantiate msg.json</span>
    <div class="d-flex align-items-center">
      <div class="dropdown aura-dropdown mr-4 small-text">
        <button
          class="button button-outline d-flex align-items-center"
          type="button"
          id="delegateAction"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <img
            class="flex-shrink-0"
            src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
            alt="wallet-avatar"
            height="24px"
            width="24px" />
          <span class="">Export Schema</span>
        </button>
        <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction">
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">JSON Format</button>
          </li>
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">RAW/Text Format</button>
          </li>
        </ul>
      </div>
      <img src="assets/icons/icons-svg/basic/copy.svg" class="ml-4 mr-4" alt="" width="24" height="24" />
      <img src="assets/images/icons/address-popup.png" alt="" width="20" height="20" />
    </div>
  </div>
  <pre class="mt-3 small-text content-info">
    "http://ison-schema.org/draft-07/schema#"
    "titien:
    "QueryMsg",
    wanvoE':
    "description": "Returns the current balance of the given address, 0 if unset. Return type: BalanceRegponse."
    levoel:
    "object",
    "required":
  </pre>

  <div class="d-flex justify-content-between align-items-center mt-2">
    <span>File 3 of 3: query msg.json</span>
    <div class="d-flex align-items-center">
      <div class="dropdown aura-dropdown mr-4 small-text">
        <button
          class="button button-outline d-flex align-items-center"
          type="button"
          id="delegateAction"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <img
            class="flex-shrink-0"
            src="../../../../assets/icons/icons-svg/color/chevron-down.svg"
            alt="wallet-avatar"
            height="24px"
            width="24px" />
          <span class="">Export Schema</span>
        </button>
        <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction">
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">JSON Format</button>
          </li>
          <li class="dropdown-item cursor-pointer">
            <button type="button" class="button p-0 small-text">RAW/Text Format</button>
          </li>
        </ul>
      </div>
      <img src="assets/icons/icons-svg/basic/copy.svg" class="ml-4 mr-4" alt="" width="24" height="24" />
      <img src="assets/images/icons/address-popup.png" alt="" width="20" height="20" />
    </div>
  </div>
  <pre class="mt-3 small-text content-info">
    "http://ison-schema.org/draft-07/schema#"
    "titien:
    "QueryMsg",
    wanvoE':
    "description": "Returns the current balance of the given address, 0 if unset. Return type: BalanceRegponse."
    levoel:
    "object",
    "required":
  </pre>

  <div class="mt-2">
    <img src="../../../assets/icons/icons-svg/basic/code.svg" alt="" width="16" height="16" />
    <span class="text--white ml-2 fw-bold">Contract Creation Code</span>
  </div>

  <div class="mt-3 small-text content-info">
    606060405234156200001057600080fd5b604051620016d8380380620016d883398101604052808051906020019091908051820191906020018051906020019091908051820191905050568360056000=
    373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002081905550836003819055508260009080519060200196
    620000ad929190620001 0190620000€6929190620001256565081600260006
    101000a81548160f40219169083604416021790555033600460006101000281548173547
    157510££10183117855520001=2565h82800160010185558215620001=2570182015h82811115620001-157825182554
  </div>
</div>
