@font-face {
  font-family: Inter;
  src: url('Inter-Thin.ttf');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url('Inter-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url('Inter-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url('Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url('Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url('Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url('Inter-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url('Inter-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url('Inter-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
