@font-face {
  font-family: 'ico-aura';
  src:  url('ico-aura.eot?ydbisn');
  src:  url('ico-aura.eot?ydbisn#iefix') format('embedded-opentype'),
    url('ico-aura.ttf?ydbisn') format('truetype'),
    url('ico-aura.woff?ydbisn') format('woff'),
    url('ico-aura.svg?ydbisn#ico-aura') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-aura' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download-simple:before {
  content: "\e918";
}
.icon-bound-token:before {
  content: "\e91a";
}
.icon-nft:before {
  content: "\e919";
}
.icon-coins:before {
  content: "\e917";
}
.icon-dot:before {
  content: "\e916";
}
.icon-github:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e908";
}
.icon-burger:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-block:before {
  content: "\e90b";
}
.icon-grid:before {
  content: "\e90c";
}
.icon-archive:before {
  content: "\e90d";
}
.icon-file-document:before {
  content: "\e90f";
}
.icon-collab:before {
  content: "\e90e";
}
.icon-coin:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e910";
}
.icon-credit-card:before {
  content: "\e912";
}
.icon-download:before {
  content: "\e913";
}
.icon-plus-circle:before {
  content: "\e914";
}
.icon-minus-circle:before {
  content: "\e915";
}
