@font-face {
  font-family: 'icon-aura';
  src:  url('icon-aura.eot?xchece');
  src:  url('icon-aura.eot?xchece#iefix') format('embedded-opentype'),
    url('icon-aura.ttf?xchece') format('truetype'),
    url('icon-aura.woff?xchece') format('woff'),
    url('icon-aura.svg?xchece#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-aura' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-block:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-credit-card:before {
  content: "\e909";
}
.icon-grid:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
