@font-face {
  font-family: 'ico-aura';
  src:  url('ico-aura.eot?w8bdhl');
  src:  url('ico-aura.eot?w8bdhl#iefix') format('embedded-opentype'),
  url('ico-aura.ttf?w8bdhl') format('truetype'),
  url('ico-aura.woff?w8bdhl') format('woff'),
  url('ico-aura.svg?w8bdhl#ico-aura') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-aura' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus-circle:before {
  content: "\e90e";
}
.icon-plus-circle:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e90d";
}
.icon-credit-card:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90b";
}
.icon-collab:before {
  content: "\e90c";
}
.icon-archive:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-block:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-grid:before {
  content: "\e90a";
}
