<div class="validator-container" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <section class="user-wallet-info">
    <app-user-wallet-info
      [breakpoint]="breakpoint"
      [userAddress]="userAddress"
      [arrayDelegate]="arrayDelegate"
      [dataDelegate]="dataDelegate"
      [lstUndelegate]="lstUndelegate"
      [modalManage]="modalManage"
      [denom]="denom"
      [isLoading]="isClaimRewardLoading"
      (onViewDialog)="handleViewPopup($event)"></app-user-wallet-info>
  </section>

  <div class="card box-validators">
    <div class="card-header card-header-dark d-lg-flex justify-content-between pb-2">
      <div>
        <h2 class="h3-mob mb-0 text--white">Validators</h2>
        <div class="d-flex body mt-2 text--gray-1">
          <div>
            <span>Staking APR:</span>
            <span class="fw-semibold ml-1">{{ staking_APR.toFixed(2) || 0 }}%</span>
          </div>
          <a
            href="https://docs.aura.network/product/aurascan/getting-started/stake/choose-a-trust-validator"
            target="_blank"
            class="text--primary ml-2"
            >How to stake?</a
          >
        </div>
      </div>
      <form class="aura-form single-input-field search-form-validators" *ngIf="!breakpoint.value.matches">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search validator"
            [(ngModel)]="textSearch"
            (ngModelChange)="searchValidator()"
            name="search"
            autocomplete="off" />
          <button
            type="submit"
            class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
            (click)="searchValidator()">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="btn-reset cursor-pointer {{
              !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
            }}"
            (click)="textSearch = ''; searchValidator()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>

    <div class="card-body pt-0">
      <!-- tab -->
      <ul
        ngbNav
        #customNav="ngbNav"
        [activeId]="0"
        class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified flex-nowrap"
        [class.mobile-tab]="breakpoint.value.matches">
        <ng-container *ngFor="let tab of TABS; index as index">
          <li [ngbNavItem]="index">
            <a ngbNavLink (click)="changeType(tab.key)">
              <span class="h5 mb-0" [class.text--white]="customNav.activeId === index">{{ tab.label }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
      <!-- Search mobile -->
      <form class="aura-form single-input-field search-form-validators my-4" *ngIf="breakpoint.value.matches">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search validator"
            [(ngModel)]="textSearch"
            (ngModelChange)="searchValidator()"
            name="search"
            autocomplete="off" />
          <button
            type="submit"
            class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
            (click)="searchValidator()">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="btn-reset cursor-pointer {{
              !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
            }}"
            (click)="textSearch = ''; searchValidator()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
      <!-- validator -->
      <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
        <ng-container *ngIf="!breakpoint.value.matches">
          <div class="table-responsive mt-6">
            <table
              mat-table
              matSort
              [dataSource]="dataSource"
              class="aura-table"
              (matSortChange)="sortData($event)"
              ng-container
              *ngIf="!searchNullData; else noValues">
              <ng-container *ngFor="let template of templates; index as i">
                <ng-container [matColumnDef]="template.matColumnDef" [ngSwitch]="template.matColumnDef">
                  <ng-container *ngSwitchCase="'percent_power'">
                    <th mat-header-cell *matHeaderCellDef>
                      <div class="fw-500" [innerHTML]="template.headerCellDef | translate"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'rank'">
                    <th mat-header-cell *matHeaderCellDef class="col-per-5">
                      <div
                        class="fw-500 text-center"
                        [innerHTML]="template.headerCellDef | translate"
                        matTooltipPosition="above"
                        matTooltip="Ranking based on validators' voting power."
                        #tooltip="matTooltip"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'title'">
                    <th mat-header-cell *matHeaderCellDef class="pl-5 col-per-25">
                      <div class="pl-5" [innerHTML]="template.headerCellDef | translate"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'action'">
                    <th mat-header-cell *matHeaderCellDef>
                      <div [innerHTML]="template.headerCellDef | translate"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'up_time'" class="pr-5 col-per-25">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div
                        [innerHTML]="template.headerCellDef | translate"
                        matTooltipPosition="above"
                        matTooltip="Validator's availability in the last {{ numBlock }} blocks."
                        #tooltip="matTooltip"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'power'" class="col-per-25">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div
                        [innerHTML]="template.headerCellDef | translate"
                        matTooltipPosition="above"
                        matTooltip="The more AURA delegated to a validator, the higher the validator's voting power."
                        #tooltip="matTooltip"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'commission'" class="col-per-25">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div
                        [innerHTML]="template.headerCellDef | translate"
                        matTooltipPosition="above"
                        matTooltip="The proportion of staking reward being taken by the validator as a commission."
                        #tooltip="matTooltip"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchCase="'participation'" class="col-per-25">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div
                        [innerHTML]="template.headerCellDef | translate"
                        matTooltipPosition="above"
                        matTooltip="Vote participation stat for the last {{ numberProposal || 0 }} proposals."
                        #tooltip="matTooltip"></div>
                    </th>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-per-25">
                      <div [innerHTML]="template.headerCellDef | translate"></div>
                    </th>
                  </ng-container>
                  <td mat-cell *matCellDef="let data" style="max-width: 300px">
                    <div>
                      <ng-container [ngSwitch]="template.matColumnDef">
                        <div *ngSwitchCase="'operator_address'" class="text--primary cursor-pointer">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'commission'" class="">
                          {{ data[template.matColumnDef] | percent : globals.formatNumber2Decimal }}
                        </div>
                        <div *ngSwitchCase="'power'" class="py-4">
                          {{ data[template.matColumnDef] | number }}<br />
                          <span class="percent-vote text--gray-5 mt-1">{{ data['percent_power'] + '%' }}</span>
                        </div>
                        <div *ngSwitchCase="'participation'">
                          {{ data[template.matColumnDef] + '/' + data['target_count'] }}
                        </div>
                        <div *ngSwitchCase="'up_time'" class="pr-10">
                          <ng-container *ngIf="data['status'] === statusValidator.Active">
                            {{ calculatorUpTime(data['acc_address']) | number : globals.formatNumber2Decimal }}%
                          </ng-container>
                          <ng-container *ngIf="data['status'] !== statusValidator.Active"> 0.00% </ng-container>
                        </div>
                        <a
                          *ngSwitchCase="'title'"
                          class="text--primary cursor-pointer text-clamp box-title-validator pl-5"
                          [routerLink]="['/validators', data.operator_address]">
                          <div class="avatar-wrapper validator-avatar-wrapper pl-5">
                            <div class="validator-avatar">
                              <app-loading-image
                                [appClass]="data['jailed'] ? 'jailed' : ''"
                                [identity]="data.identity"
                                [srcImg]="getValidatorAvatar(data.operator_address)"></app-loading-image>
                            </div>
                          </div>
                          <span [class.text-jailed]="data['jailed']">
                            {{ data[template.matColumnDef] }}
                          </span>
                        </a>
                        <div *ngSwitchCase="'percent_power'" class="box-percent-power">
                          <div class="cumulative-share_container">
                            <div
                              class="cumulative-share_cum"
                              [ngStyle]="{ width: data.cumulative_share_before + '%' }"></div>
                            <div class="cumulative-share_fill" [ngStyle]="{ width: data.cumulative_share + '%' }"></div>
                            <span>{{ data['cumulative_share_after'] + '%' }}</span>
                          </div>
                        </div>
                        <div *ngSwitchCase="'action'">
                          <button
                            type="button"
                            class="button button--sm button-pill button-outline button-outline__in-card ml-auto"
                            [disabled]="clicked"
                            *ngIf="!data['jailed']"
                            (click)="viewPopupDetail(modalManage, data.operator_address, dialogMode.Delegate, true)">
                            <span class="fw-500 body-02 text--gray-1">Delegate</span>
                          </button>
                        </div>
                        <div *ngSwitchDefault class="text-center">{{ data[template.matColumnDef] }}</div>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell g-no-data" colspan="9999">
                  {{ 'NO VALIDATORS' | translate }}
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="breakpoint.value.matches">
          <div class="table-mobile">
            <ng-container *ngFor="let validator of dataSource.data; index as i">
              <div class="table-mobile__item small-body body-mob">
                <div class="table-header">
                  <div class="cursor-pointer table-header__title">
                    <div class="d-flex body-mob text--primary fw-semibold">
                      <a
                        class="box-title-validator text--primary g-flex-start-center"
                        [routerLink]="['/validators', validator.operator_address]">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [identity]="validator['identity']"
                              [appClass]="validator['jailed'] ? 'jailed' : ''"
                              [srcImg]="getValidatorAvatar(validator['operator_address'])">
                            </app-loading-image>
                          </span>
                          <div
                            class="rank-wrapper _small"
                            *ngIf="validator['rank']"
                            [class._jailed]="validator['jailed']">
                            <div class="box-rank _small _fill">
                              <span> {{ validator['rank'] }} </span>
                            </div>
                          </div>
                        </div>
                        <h5
                          class="text--primary mb-0 text-break"
                          [class.text-title]="validator?.jailed && validator['status'] !== statusValidator.Active">
                          {{ validator.title }}
                        </h5>
                      </a>
                    </div>
                  </div>
                  <div class="table-header__action">
                    <button
                      type="button"
                      class="button button--sm button-pill button-outline button-outline__in-card ml-auto"
                      [disabled]="clicked"
                      *ngIf="!validator?.jailed"
                      (click)="viewPopupDetail(modalManage, validator.operator_address, dialogMode.Delegate, true)">
                      <span class="text--gray-1 body-02-mob">Delegate</span>
                    </button>
                  </div>
                </div>
                <div class="table-body body-01 pb-0">
                  <ng-container *ngFor="let template of templates; index as idx">
                    <div
                      class="table-body__item d-flex justify-content-between text--gray-4 mb-3"
                      *ngIf="!template?.desktopOnly">
                      <span>{{ template['headerCellDef'] }}</span>

                      <div class="body-01 text--gray-4 text-end">
                        <ng-container [ngSwitch]="template['headerCellDef']">
                          <ng-container *ngSwitchCase="'Voting Power'">
                            <h5 class="mb-1 text--gray-1">
                              {{ validator.power | number }}
                            </h5>
                            <div>{{ validator['percent_power'] + '%' }}</div>
                          </ng-container>
                          <ng-container *ngSwitchCase="'Commission'">
                            <div class="text--gray-1">
                              {{ validator[template.matColumnDef] | percent : globals.formatNumber2Decimal }}
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchCase="'Participation'">
                            <div class="text--gray-1">
                              {{ validator[template.matColumnDef] + '/' + validator['target_count'] }}
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchCase="'Uptime'">
                            <ng-container *ngIf="validator['status'] === statusValidator.Active">
                              <div class="text--gray-1">{{ calculatorUpTime(validator['cons_address']) }}%</div>
                            </ng-container>
                            <ng-container *ngIf="validator['status'] !== statusValidator.Active">
                              <div class="text--gray-1">0.00%</div>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <div class="text--gray-1">{{ validator[template.matColumnDef] }}</div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #noValues>
        <app-table-no-data></app-table-no-data>
      </ng-template>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <ng-template #modalManage let-modal (clickOutside)="closeDialog(modal)">
    <div class="box-staking aura-form">
      <img
        [src]="'assets/icons/icons-svg/white/arrow-left.svg' | imageS3"
        alt=""
        class="d-lg-none mb-6"
        width="24px"
        height="24px"
        (click)="closeDialog(modal)" />
      <div class="mb-4 mb-xl-6">
        <div class="mb-4 d-flex align-items-center">
          <div class="avatar-wrapper">
            <div class="validator-avatar large">
              <app-loading-image
                [appClass]="dataModal['jailed'] ? 'jailed' : ''"
                [identity]="dataModal.identity"
                [srcImg]="getValidatorAvatar(dataModal.operator_address)">
              </app-loading-image>
            </div>
          </div>
          <div class="ml-2">
            <div class="h1 mb-0 text-gradient fw-bolder d-inline-block">
              <span class="modal__title">{{ dataModal?.title }}</span>
            </div>
            <div class="h6 body-02-mob mb-0 text--gray-1">
              Commission - {{ dataModal?.commission | percent : globals.formatNumber2Decimal }}
            </div>
          </div>
        </div>
        <div class="body-01 text--gray-5">
          <div class="mb-1">
            <span>Voting power - {{ dataModal?.percent_power }}%</span>&nbsp;
            <span>({{ dataModal?.power | mask : 'separator.6' }}</span>
            <span class="text--primary ml-1">{{ denom }}</span
            >)
          </div>
          <div>Delegators - {{ totalDelegator }}</div>
        </div>
      </div>
      <div>
        <popup-delegate [data]="dataDelegate"></popup-delegate>
        <div *ngIf="dataDelegate.dialogMode === dialogMode.Undelegate">
          <div class="mt-2 h6 text--white mb-0">
            <span>Available for undelegation</span>
            <span class="ml-3 fw-normal">
              {{ dataDelegate?.validatorDetail?.amount_staked | mask : 'separator.6' }}
            </span>
            <span class="text--primary fw-normal"> {{ denom }} </span>
          </div>
          <div class="input-group pr-0 mt-3" [ngStyle]="{ 'border-color': isExceedAmount ? 'red' : '' }">
            <input
              mask="separator.6"
              [max]="globals.maxNumberInput"
              [ngStyle]="{ 'border-color': isExceedAmount ? 'red' : '' }"
              [(ngModel)]="amountFormat"
              (blur)="resetCheck()" />
            <div class="d-flex align-items-center mr-2 mr-lg-4">
              <button
                class="button button-primary active button-flat button--sm button-max fw-semibold"
                type="button"
                (click)="getMaxToken(dialogMode.Undelegate)">
                MAX
              </button>
            </div>
            <div class="input-group-append h6 mb-0 text--primary">{{ denom }}</div>
          </div>
        </div>
        <ng-container *ngIf="dataDelegate.dialogMode === dialogMode.Delegate">
          <div class="input-group pr-0 mt-3" [ngStyle]="{ 'border-color': isExceedAmount ? 'red' : '' }">
            <input [max]="globals.maxNumberInput" mask="separator.6" [(ngModel)]="amountFormat" (blur)="resetCheck()" />
            <div class="d-flex align-items-center py-1 mr-4">
              <button
                class="button button-primary active button-flat button--sm button-max fw-semibold"
                type="button"
                (click)="getMaxToken(dialogMode.Delegate)">
                MAX
              </button>
            </div>
            <div class="input-group-append fw-500 text--primary">{{ denom }}</div>
          </div>
          <div *ngIf="errorExceedAmount" class="text--danger mt-3">
            Insufficient available balance for transaction fee
          </div>
        </ng-container>
        <div *ngIf="dataDelegate.dialogMode === dialogMode.Redelegate">
          <div class="divider divider-horizontal mb-6"></div>
          <div class="h6 body-02-mob mb-3 text--white">Redelegate to:</div>
          <mat-form-field appearance="fill" dense>
            <mat-select
              class="list-token"
              placeholder="Select validator"
              panelClass="commissionPanel"
              [(value)]="selectedValidator"
              [disableOptionCentering]="true">
              <mat-select-trigger>{{ commissionLabel }}</mat-select-trigger>
              <mat-option
                *ngFor="let item of lstReValidator; let last = last"
                [class.mb-2]="!last"
                [value]="item.operator_address"
                (click)="setCommissionTitle(item.title)">
                <div class="d-flex option-contain align-items-center justify-content-between">
                  <div
                    class="option-label d-flex align-items-center text--gray-1"
                    [ngClass]="{ active: item.isStaking === 1 }">
                    <div class="avatar-wrapper">
                      <div class="validator-avatar">
                        <app-loading-image
                          [appClass]="item['jailed'] ? 'jailed' : ''"
                          [identity]="item.identity"
                          [srcImg]="getValidatorAvatar(item.operator_address)">
                        </app-loading-image>
                      </div>
                    </div>
                    <span class="option__name">{{ item.title | translate }}</span>
                  </div>
                  <div class="option-label text--gray-1">
                    Commission - {{ item.commission | translate | percent : globals.formatNumber2Decimal }}
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="selectedValidator">
            <div class="mt-6 body-01 body-02-mob">
              <span class="fw-500">Available for redelegation</span>
              <span class="ml-3">
                {{ dataDelegate?.validatorDetail?.amount_staked | mask : 'separator.6' }}
              </span>
              <span class="text--primary"> {{ denom }} </span>
            </div>
            <div class="input-group pr-0 mt-3" [ngStyle]="{ 'border-color': isExceedAmount ? 'red' : '' }">
              <input
                [(ngModel)]="amountFormat"
                [max]="globals.maxNumberInput"
                mask="separator.6"
                (blur)="resetCheck()" />
              <div class="d-flex align-items-center py-1 mr-4">
                <button
                  class="button button-primary active button-flat button--sm button-max fw-semibold"
                  type="button"
                  (click)="getMaxToken(dialogMode.Undelegate)">
                  MAX
                </button>
              </div>
              <div class="input-group-append fw-500 text--primary">{{ denom }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <ng-container [ngSwitch]="dataDelegate.dialogMode">
          <div
            *ngSwitchCase="dialogMode.Manage"
            class="d-flex justify-content-between justify-content-sm-end button-group-selection">
            <div class="dropdown aura-dropdown mr-4 btn-item">
              <button
                class="button button--sm button--md-mob button-pill button-outline button-outline--gradient button-dropdown w-100"
                type="button"
                id="delegateAction"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>Select Action</span>
              </button>
              <ul class="dropdown-menu aura-dropdown-menu delegateAction" aria-labelledby="delegateAction">
                <li class="dropdown-item cursor-pointer" (click)="changeTypePopup(dialogMode.Undelegate)">
                  <img
                    class="mr-2"
                    [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                    alt=""
                    width="20"
                    height="20"
                    *ngIf="isLoading" />
                  <button type="button" class="button p-0">Undelegate</button>
                </li>
                <li class="dropdown-item cursor-pointer" (click)="changeTypePopup(dialogMode.Redelegate)">
                  <img
                    class="mr-2"
                    [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                    alt=""
                    width="20"
                    height="20"
                    *ngIf="isLoading" />
                  <button type="button" class="button p-0">Redelegate</button>
                </li>
              </ul>
            </div>
            <button
              *ngIf="!dataModal['jailed']"
              type="button"
              class="button button--sm button--md-mob button-pill button-outline button-outline--gradient d-flex btn-item"
              (click)="changeTypePopup(dialogMode.Delegate)">
              <img
                class="mr-2"
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                width="20"
                height="20"
                *ngIf="isLoading" />
              <span>Delegate</span>
            </button>
          </div>
          <div
            *ngSwitchCase="dialogMode.Undelegate"
            class="d-flex align-items-center justify-content-center justify-content-lg-end">
            <button
              type="button"
              class="button button--sm button--md-mob button-pill button-outline button-fixed mr-4"
              (click)="changeTypePopup(dialogMode.Manage)">
              <span>Back</span>
            </button>
            <button
              type="button"
              class="button button--sm button--md-mob button-pill button-outline button-outline--gradient button-fixed d-flex"
              (click)="handleUndelegate()"
              [disabled]="isExceedAmount || !(amountFormat && amountFormat > 0) || isHandleStake">
              <img
                class="mr-2"
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                width="20"
                height="20"
                *ngIf="isLoading" />
              <span>Undelegate</span>
            </button>
          </div>
          <div
            *ngSwitchCase="dialogMode.Delegate"
            class="d-flex align-items-center justify-content-center justify-content-lg-end">
            <button
              type="button"
              class="button button--sm button--md-mob button-fixed button-pill button-outline mr-4"
              (click)="!isOpenStaking ? changeTypePopup(dialogMode.Manage) : closeDialog(modal)"
              *ngIf="!isOpenStaking">
              <span>Back</span>
            </button>
            <button
              type="button"
              class="button button--sm button--md-mob button-fixed button-pill button-outline button-outline--gradient d-flex"
              (click)="handleStaking()"
              [disabled]="isExceedAmount || !(amountFormat && amountFormat > 0) || isHandleStake">
              <img
                class="mr-2"
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                width="20"
                height="20"
                *ngIf="isLoading" />
              <span>Delegate</span>
            </button>
          </div>
          <div
            *ngSwitchCase="dialogMode.Redelegate"
            class="d-flex align-items-center justify-content-center justify-content-lg-end">
            <button
              type="button"
              class="button button--sm button--md-mob button-pill button-outline button-fixed mr-4"
              (click)="changeTypePopup(dialogMode.Manage)">
              <span>Back</span>
            </button>
            <button
              type="button"
              class="button button--sm button--md-mob button-pill button-outline button-outline--gradient button-fixed d-flex"
              (click)="handleRedelegate()"
              [disabled]="isExceedAmount || !(amountFormat && amountFormat > 0) || isHandleStake">
              <img
                class="mr-2"
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                width="20"
                height="20"
                *ngIf="isLoading" />
              <span>Redelegate</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
