@import "../../../assets/scss/color.scss";

.validator-container {
    .cumulative-share_container {
    position: relative;
    border-right: 0.1rem solid #e6e6e6;
    border-left: 0.1rem solid #e6e6e6;
    // border-bottom: 0.1rem solid #e6e6e6;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 48px;
    .cumulative-share_cum {
      height: 100%;
      background: #ecf8f4;
    }
    .cumulative-share_fill {
      height: 100%;
      background: #c5f1de;
    }
    p {
      position: absolute;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      padding: 0.5rem;
      font-size: 13px;
      font-weight: 400;
      text-align: right;
      color: var(--gunmetal);
    }
  }
}

form.search-form {
  .input-group {
    background-color: #1C1C1F; // this color not define in root
  }
  input {
    width: 100% !important;
    @media (min-width: 992px) {
      width: 782px !important;
    }
  }
}

.visually-hidden {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.mat-form-field[dense] {
  width: 100%;
  background: var(--aura-dark-gray);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  .mat-form-field-wrapper {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .mat-form-field-flex {
    padding: 0;
    background: transparent;
  }
  .mat-select-placeholder, mat-select-trigger  {
    position: relative;
    color: var(--aura-white);
    font-size: 2rem;
    line-height: 2.3rem;
    &:after {
      content: '';
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: url("../../../assets/icons/icons-svg/white/triangle-down.svg");
      background-size: cover;
    }
  }
  .mat-select-arrow {
    border: none;
  }
  .mat-form-field-underline {
    display: none;
  }
}
.mat-option {
  background: #25252C;
  .option-contain {
    .option-lable {
      &:first-child {
        width: 50%;
      }
      &.active {
        span {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -16px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #5E84E6;
          }
        }
      }
    }
  }
}

.cdk-overlay-pane {
  transform: translateY(64px) !important;
}

.mat-select-panel {
  width: 100%;
  min-width: 100% !important;
}


.aura-form {
  .select-action-field {
    min-width: 180px;
  }
  .input-group {
    button.button.button-primary.active {
      color: var(--aura-black);
      font-size: 20px;
      line-height: 23px;
      font-weight: 600;
      border-radius: 4px;
    }
  }
}
