@import "../../../assets/scss/color.scss";

.validator-container {
    .cumulative-share_container {
    position: relative;
    border-right: 0.1rem solid #e6e6e6;
    border-left: 0.1rem solid #e6e6e6;
    // border-bottom: 0.1rem solid #e6e6e6;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 48px;
    .cumulative-share_cum {
      height: 100%;
      background: #ecf8f4;
    }
    .cumulative-share_fill {
      height: 100%;
      background: #c5f1de;
    }
    p {
      position: absolute;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      height: 100%;
      width: 100%;
      padding: 0.5rem;
      font-size: 13px;
      font-weight: 400;
      text-align: right;
      color: var(--gunmetal);
    }
  }
  .box-undelegate {
    .title-name {
      // display: flex;
      // align-items: center;
      margin-top: 5px;
    }
    .txt-time {
      color: var(--aura-neutrals-4);
    }
  }
}

form.search-form {
  .input-group {
    background-color: #1C1C1F; // this color not define in root
  }
  input {
    width: 100%;
    @media (min-width: 992px) {
      width: 782px;
    }
  }
}

.visually-hidden {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
