<div class="d-flex justify-content-between">
  <div>
    <img [src]="'assets/images/icons/token-contract.svg' | imageS3" alt="" width="14" height="17" />
    <span class="small-text text--white ml-2">Read Contract Information</span>
  </div>
  <div class="small-text">
    <span class="cursor-pointer text--green mr-6" (click)="expandMenu()">
      <ng-container *ngIf="!isExpand">Expand all</ng-container>
      <ng-container *ngIf="isExpand">Collapse all</ng-container>
    </span>
    <span class="cursor-pointer text--green" (click)="reloadData()">Reset</span>
  </div>
</div>
<div class="box-content text--white mt-3">
  <ng-container *ngFor="let readContract of jsonReadContract?.oneOf; index as i">
    <!-- skip logo function -->
    <ng-container *ngIf="!readContract?.required?.toString().includes('_logo')">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="content-contract">
          <mat-panel-title class="item-content"> {{ i + 1 }}. {{ readContract?.required }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex row p-3">
          <ng-container *ngFor="let item of readContract?.properties[readContract.required[0]]?.required; index as idx">
            <p
              class="px-0"
              [class.input-require]="readContract?.properties[readContract?.required[0]]?.hasOwnProperty('required')">
              {{ item }} ({{
                readContract?.properties[readContract?.required[0]]?.properties[item]?.type ||
                  readContract?.properties[readContract?.required[0]]?.properties[item]?.$ref ||
                  'any'
              }})
            </p>
            <input
              [class.error-null]="
                readContract?.properties[readContract?.required[0]]?.checkErr &&
                readContract?.properties[readContract?.required[0]]?.checkErr[item] &&
                errorInput &&
                currentFrom === i
              "
              [class.input-require]="readContract?.properties[readContract?.required[0]]?.hasOwnProperty('required')"
              class="form-check-input {{ readContract.required }} {{ item }} col-12 mb-4"
              [type]="
                readContract?.properties[readContract?.required[0]]?.properties[item]?.type === 'integer'
                  ? 'number'
                  : 'string'
              "
              (keyup)="resetCheck()"
              placeholder="{{ item }} ({{
                readContract?.properties[readContract?.required[0]]?.properties[item]?.type ||
                  readContract?.properties[readContract?.required[0]]?.properties[item]?.$ref ||
                  'any'
              }})" />
          </ng-container>
          <div class="w-100 mb-2 px-0">
            <button
              *ngIf="readContract?.properties[readContract?.required[0]]?.hasOwnProperty('required')"
              class="button button-chart button-outline button-outline__in-card body btn-contract"
              [disabled]="currentFrom === i && (errorInput || isLoading)"
              type="button"
              (click)="querySmartContract(readContract.required[0], i)">
              <img
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                width="20"
                height="20"
                *ngIf="isLoading && currentFrom === i" />
              <span class="ml-1 text-gradient">Query</span>
            </button>
          </div>
          <div class="col-12">
            <ng-container *ngIf="!readContract?.properties[readContract?.required[0]]?.hasOwnProperty('required')">
              <div class="mb-2">
                {{ readContract.required }}
                <span class="ml-1 font-italic text--light-gray small-body">{{
                  readContract?.properties[readContract?.required[0]]?.type
                }}</span>
              </div>
              <div class="d-flex" *ngIf="objQuery[readContract?.required]">
                <div class="">Response:</div>
                <div class="">
                  <pre
                    id="json"
                    class="raw-content text--white pl-2"
                    [innerHtml]="objQuery[readContract?.required] | appJson"></pre>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="readContract?.properties[readContract?.required[0]]?.hasOwnProperty('required')">
              <p>
                {{ readContract?.required }}
                <span class="ml-1 font-italic text--light-gray small-body">{{ readContract?.type }}</span>
              </p>
            </ng-container>
            <ng-container *ngIf="dataResponse && currentFrom === i">
              <div class="d-flex">
                <div class="">Response:</div>
                <div class="">
                  <pre id="json" class="raw-content text--white ml-2" [innerHtml]="dataResponse | appJson"></pre>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</div>
