.box-token-info {
  .flex-item {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    padding-right: 20px;
    &:after {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     width: 1px;
     background-color: var(--aura-dark-gray);
    }
  }
  table.aura-basic-table {
    min-height: 280px;
    tr,
    td {
      color: var(--aura-gray-5);
      height: 56px;
      padding: 0px var(--spacer-4);
    }
  }
}
.fixed-col {
  min-width: 135px;
}
