<!-- Compiler debug log -->
<div class="small-body text--white">
  <div class="fw-semibold">Compiler debug log:</div>
  <!-- Compiler debug log Success -->
  <div *ngIf="!logError">
    <div class="d-flex fw-normal text-break mt-3">
      <img src="assets/icons/icons-svg/color/info.svg" alt="" width="16px" height="16px" />
      <div class="ml-2">
        <span>Note: Contract was created at TxHash</span>
        <span class="text--green ml-1">{{ contractTxHash | cutStringPipe: 20 }}</span>
      </div>
    </div>

    <div class="d-flex fw-normal text-break mt-3">
      <img src="assets/icons/icons-svg/color/check-circle.svg" alt="" width="16px" height="16px" />
      <div class="ml-2">
        <span class="mr-1">Successfully generated Creation Code and Schema for Contract Address</span>
        <a class="text--green d-block d-lg-inline-block" [routerLink]="['/contracts', contractAddress]">
          [{{ contractAddress }}]
        </a>
      </div>
    </div>
  </div>
  <!-- Compiler debug log Error -->
  <div *ngIf="logError">
    <div class="d-flex fw-normal text-break mt-3">
      <img src="assets/icons/icons-svg/color/block.svg" alt="" width="16px" height="16px" />
      <div class="ml-2">Error! Unable to generate Contract Creation Code and Schema</div>
    </div>
  </div>
</div>
<!-- Code -->
<div class="mt-6 border-box">
  <div>
    <span class="fw-semibold mr-1" (click)="switchErrStatus()">Compiler Version:</span>
    <span>{{ contractOutput?.compiler_version }}</span>
  </div>
  <div class="mt-4">
    <span class="fw-semibold mr-1">Contract Name:</span>
    <span>{{ contractOutput?.contract_name }}</span>
  </div>
  <div class="mt-4">
    <div class="fw-semibold">Contract Creation Code <span *ngIf="logError"> (What we are looking for)</span> :</div>
    <pre class="mt-3 small-text code-block">
        {{ contractOutput?.contract_hash }}
    </pre>
  </div>
  <div class="mt-4" *ngIf="!logError">
    <div class="fw-semibold">Contract Schema</div>
    <div class="mt-3">File 1 of 3: execute msg.ison</div>
    <pre class="mt-2 small-text code-block">
        {{ contractOutput?.execute_msg_schema }}
    </pre>
    <div class="mt-3">File 2 of 3: instantiate msg.json</div>
    <pre class="mt-2 small-text code-block">
        {{ contractOutput?.instantiate_msg_schema }}
    </pre>

    <div class="mt-3">File 3 of 3: query msg.json</div>
    <pre class="mt-2 small-text code-block">
        {{ contractOutput?.query_msg_schema }}
    </pre>
  </div>
</div>

<div *ngIf="logError" class="mt-6">
  <button class="button button-outline button-outline__in-card ml-auto" type="button">
    <span class="text-gradient" (click)="switchStageEmit()">Start Over</span>
  </button>
</div>
