<div class="contract-popover-container">
  <div class="text--white">
    <div class="sub-text sub-text-mob">Additional info</div>
    <div class="small-body">Status:</div>
    <img
      alt=""
      [src]="
        tokenDetail?.code == codeTransaction.Success
          ? 'assets/icons/icons-svg/color/success.svg'
          : 'assets/icons/icons-svg/color/fail.svg'
      " />
    <div class="small-body">{{ tokenDetail?.status }}</div>
    <hr />
    <div class="small-body">Token Transfer</div>
    <div class="small-body">
      {{ tokenDetail?.amount | mask: 'separator' }}
      (${{ tokenDetail?.price | mask: 'separator' }})
      <a class="text--green" [routerLink]="['/token/token', tokenDetail.tokenAddress]"> {{ tokenDetail.symbol }} </a>
    </div>
    <div class="small-body">
      <span class="small-body text--light-gray">From</span>
      <a class="text--green" [routerLink]="['/account', tokenDetail?.from_address]">
        {{ tokenDetail?.from_address || '-' | cutStringPipe: 10 }}
      </a>
      <span class="small-body text--light-gray">To</span>
      <a class="text--green" [routerLink]="['/account', tokenDetail?.to_address]">
        {{ tokenDetail?.to_address || '-' | cutStringPipe: 10 }}
      </a>
    </div>
    <hr />

    <div class="small-body">Transaction Fee:</div>
    <div class="small-body text--contract">
      {{ tokenDetail.fee | mask: 'separator' }}
    </div>
    <hr />

    <div class="small-body">Gas info:</div>
    <!-- <div class="small-body">Fee: {{ tokenDetail.fee | mask: 'separator' }}</div> -->
    <hr />

    <a class="small-text text--green cursor-pointer" [routerLink]="['/transaction', tokenDetail?.tx_hash]">
      See more details
    </a>
  </div>
</div>
