<div class="contract-popover-container">
  <div class="text--white">
    <div class="title-small fw-500 sub-text-mob mb-1">Additional info</div>
    <div class="small-body fw-semibold" style="padding-bottom: 5px">Status:</div>

    <div
      class="small-body d-flex align-items-center gap-2"
      [class.text--active]="popoverData?.code == codeTransaction.Success"
      [class.text--danger]="popoverData?.code != codeTransaction.Success">
      <img
        width="16px"
        alt="{{ popoverData.code }}"
        [src]="
          popoverData?.code == codeTransaction.Success
            ? 'assets/icons/icons-svg/color/check-circle-2.svg'
            : 'assets/icons/icons-svg/color/fail.svg'
        " />
      {{ popoverData?.status }}
    </div>
    <hr />
    <div class="d-flex flex-column gap-2 small-body">
      <div>Token Transfer</div>
      <div>
        <img class="d-inline" width="20px" src="assets/icons/icons-svg/color/aura.svg" alt="aura" />
        {{ popoverData?.amount | number: FORMAT.PRICE_6 }}
        (${{ popoverData?.price || 0 | number: FORMAT.PRICE_2 }})
        <a class="text--green" [routerLink]="['/token/token', popoverData.tokenAddress]"> {{ popoverData.symbol }} </a>
      </div>
      <div>
        <span class="text--light-gray mr-1">From</span>
        <a class="text--white" [routerLink]="['/account', popoverData?.from_address]">
          {{ popoverData?.from_address || '-' | cutStringPipe: 8:8 }}
        </a>
        <span class="text--light-gray mr-1 ml-1">To</span>
        <a class="text--white" [routerLink]="['/account', popoverData?.to_address]">
          {{ popoverData?.to_address || '-' | cutStringPipe: 8:8 }}
        </a>
      </div>
    </div>

    <hr />

    <div class="d-flex flex-column gap-2 small-body">
      <div>Transaction Fee:</div>
      <div class="text--contract">{{ popoverData.fee | number: FORMAT.PRICE_6 }} AURA ($0.00)</div>
    </div>
    <hr />

    <div class="d-flex flex-column gap-2 small-body">
      <div>Gas info:</div>
      <div class="text--contract">
        {{ popoverData.gas_used | mask: 'separator' }} Gas Used From
        {{ popoverData.gas_wanted | mask: 'separator' }} Gas Limit
      </div>
    </div>
    <hr />
    <a
      class="small-text text--green cursor-pointer d-flex align-items-center gap-2"
      [routerLink]="['/transaction', popoverData?.tx_hash]"
      target="_blank">
      See more details <img class="d-inline" src="assets/icons/icons-svg/color/share.svg" alt="share" />
    </a>
  </div>
</div>
