<div class="card-mob-explain" *ngIf="content && content.length > 0">
  <div *ngIf="title" class="title d-flex justify-content-between align-items-center">
    <div>
      <div class="body-01 d-flex mb-2">
        <a href="{{ title.labelLink }}" class="text--primary">{{ title.label | stringEllipsis : 20 }}</a>
        <span class="ml-2 text-gray-3">{{ title.subLabel }}</span>
      </div>
      <div class="aura-status-inline">
        <div class="status {{ status.class }}">
          {{ status.value | titlecase }}
        </div>
      </div>
    </div>
    <button
      class="button button-explain"
      (click)="
        cardContent.classList.contains('show')
          ? cardContent.classList.remove('show')
          : cardContent.classList.add('show')
      ">
      <img
        src="assets/icons/icons-svg/white/chevron-down-white.svg"
        alt=""
        width="20px"
        [class.rotate]="cardContent.classList.contains('show')" />
    </button>
  </div>
  <div class="card__content mt-4" #cardContent>
    <div class="card__content-item" *ngFor="let data of content; let idx = index">
      <div class="text--gray-4">{{ data.label }}</div>
      <div
        *ngIf="!data.isAmount"
        class="{{ data.class }}"
        [class.private-name-tag]="
          (data.label === 'Sender' || data.label === 'Recipient') && commonService.checkPrivate(data['address'])
        "
        [innerHTML]="data.info"></div>
      <div *ngIf="data.isAmount" class="{{ data.class }}">
        <span [appBigNumber]="data.info"></span>
        <span class="ml-2 text--white">{{ denom }}</span>
      </div>
    </div>
  </div>
</div>
