<div class="card-mob-explain" *ngIf="content && content.length > 0">
  <div *ngIf="title" class="title d-flex justify-content-between align-items-center mb-2">
    <div>
      <div class="body-01 d-flex mb-2">
        <a href="{{ title.labelLink }}" class="text--primary">{{ title.label | ellipsis: 20 }}</a>
        <span class="ml-2 text--gray-3">{{ title.subLabel }}</span>
      </div>
      <div class="aura-status-inline">
        <div class="status {{ status.class }}">
          {{ status.value | titlecase }}
        </div>
      </div>
    </div>
    <div>
      <i
        *ngIf="!data.expand"
        class="ph ph-caret-down text--white h3 icon-expand"
        (click)="expandData(data)"
        [ngClass]="data.arrEvent?.length > 1 ? 'active' : ''"></i>
      <i *ngIf="data.expand" class="ph ph-caret-up text--white h3 cursor-pointer" (click)="data.expand = false"></i>
    </div>
  </div>
  <div class="card__content my-4" *ngIf="data.expand">
    <div class="card__content-item" *ngFor="let data of content; let idx = index">
      <div class="text--gray-4">{{ data.label }}</div>
      <div
        *ngIf="!data.isAmount"
        class="{{ data.class }}"
        [class.private-name-tag]="
          (data.label === 'Sender' || data.label === 'Recipient') && (data['address'] | isPrivateNameTag)
        "
        [copyBtn]="data.label === 'Sender' || data.label === 'Recipient' ? data['address'] : null"
        [innerHTML]="data.info"></div>
      <div *ngIf="data.isAmount" class="{{ data.class }}">
        <span [appBigNumber]="data.info"></span>
        <span class="ml-2" appLinkDenom>{{ denom }}</span>
      </div>
    </div>
  </div>
</div>
