.card-mob-explain {
  background-color: var(--aura-gray-9);
  border-radius: var(--spacer-2);
  padding: var(--spacer-4);
  padding-bottom: 0;
  margin-bottom: var(--spacer-4);
  overflow: hidden;
  &>* {
    color: var(--aura-white);
  }
  .card__content {
    max-height: 100px;
    &.show {
      transition: all .35s ease-in-out;
      max-height: 900px;
      padding-bottom: var(--spacer-4);
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      &:not(:last-child){
        margin-bottom: 6px;
      }
    }
  }
  .name-tag:not(.private-name-tag) {
    &:after {
      border-right: 15px solid var(--aura-gray-9);
    }
  }
}
.button-explain:has(.rotate) {
  transform: rotate(180deg);
}
.text-gray-3 {
  color: #B4B8C0;
}
