<div class="card box-token-info">
  <div class="card-body">
    <div class="table-responsive aura-table-contain">
      <table class="aura-basic-table">
        <tr>
          <td>Profile Summary</td>
          <td>[Edit]</td>
          <td class="text-end">More</td>
        </tr>

        <tr>
          <td>Contract:</td>
          <td colspan="2">
            <a class="text--green" routerLink="/blocks/id/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
              >0xB8c77482e45F1F44dE1745F52C74426C631bDD52</a
            >
          </td>
        </tr>

        <tr>
          <td>Decimals:</td>
          <td colspan="2">6</td>
        </tr>

        <tr>
          <td>Offcial Site:</td>
          <td colspan="2"><a class="text--green" href="https://aura.network">https://aura.network</a></td>
        </tr>

        <tr>
          <td>Social Profiles:</td>
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
