<div class="card box-token-info">
  <div class="">
    <div class="table-responsive aura-table-contain">
      <table class="aura-basic-table w-100">
        <tr>
          <td colspan="2">Profile Summary <a class="text--green" href="javascript:void(0)">[Edit]</a></td>
          <td class="d-flex justify-content-end">
            <a href="javascript:void(0)" class="button button-chart button-outline">
              <img src="assets/images/icons/arrow-move-down.svg" alt="" width="24px" />
              <span class="ml-2">More</span>
            </a>
          </td>
        </tr>

        <tr>
          <td>Contract:</td>
          <td colspan="2">
            <a class="text--green" routerLink="/blocks/id/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
              >0xB8c77482e45F1F44dE1745F52C74426C631bDD52</a
            >
          </td>
        </tr>

        <tr>
          <td>Decimals:</td>
          <td colspan="2">6</td>
        </tr>

        <tr>
          <td>Offcial Site:</td>
          <td colspan="2"><a class="text--green" href="https://aura.network">https://aura.network</a></td>
        </tr>

        <tr>
          <td>Social Profiles:</td>
          <td colspan="2">
            <div class="d-flex">
              <a href="https://github.com/aura-nw" target="_blank">
                <i class="mr-3 aura-icon icon--switch-stage icon-github"></i>
              </a>
              <a href="https://twitter.com/AuraNetworkHQ" target="_blank">
                <i class="mx-3 aura-icon icon--switch-stage icon-twitter"></i>
              </a>
              <a href="https://www.facebook.com/AuraNetworkHQ/" target="_blank">
                <i class="mx-3 aura-icon icon--switch-stage icon-fb-circle"></i>
              </a>
              <a href="https://t.me/auranw" target="_blank">
                <i class="mx-3 aura-icon icon--switch-stage icon-telegram"></i>
              </a>
              <a href="https://www.linkedin.com/company/auranetwork/about/" target="_blank">
                <i class="ml-3 aura-icon icon--switch-stage icon-linkedIn"></i>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
