section.account-detail {
  .qr-code {
    background-color: var(--aura-gray-9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  form.search-form {
    .input-group {
      background-color: var(--aura-bg-form);
    }
    input {
      width: 100%;
      @media (min-width: 992px) {
        width: 150px;
      }
      @media (min-width: 1200px) {
        width: 250px;
      }
      @media (min-width: 1440px) {
        width: 405px;
      }
    }
  }
  .box-account-info{
    flex-grow: 1;
    min-height: 228px;
  }
}

.button {
  &.button-circle {
    aspect-ratio: 1 / 1 !important;
    padding: 0;
    border-radius: 50%;
    background-color: #363843;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.link-reset-data {
  text-decoration: underline;
  color: aqua;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .g-ellipsis-address {
    width: 310px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .box-account {
    padding: var(--spacer-4) !important;
  }
  ::ng-deep {
    .modal-dialog .modal-content {
      padding-bottom: 52px !important;
    }
  }
  .header-mob {
    padding-bottom: 0px !important;
    font-size: 2rem !important;
    font-weight: 500;
  }
  .aura-form {
    .select-input-field {
      height: auto;
      padding: 6px 16px 8px 22px;
      border: 1px solid var(--aura-white);
    }
  }
  ::ng-deep {
    .mat-tab-label-content {
      font-size: 1.6rem !important;
      font-weight: 600;
    }
  }
}
::ng-deep.account-search-form {
  width: 100%;
  @media (min-width: 992px) {
    width: 370px;
  }
}
.account__tab-item {
  min-width: 160px;
}

.aura-table.transaction-table th.mat-header-cell {
  min-width: 150px;
}
.aura-table.transaction-table th.mat-header-cell:nth-child(1),
.aura-table.transaction-table th.mat-header-cell:nth-child(2),
.aura-table.transaction-table th.mat-header-cell:nth-child(7) {
  min-width: 200px;
}

.button-switch-stage {
  &__1 {
    width: 100%;
    @media (min-width: 568.98px) {
      max-width: 168px;
    }
    button {
      padding: 0 14px;
    }
  }
  &__2 {
    width: 100%;
    max-width: unset;
    @media (min-width: 991.98px) {
      max-width: 239px;
    }
  }
}

.name-tag:not(.private-name-tag) {
  &:after {
    border-right: 15px solid var(--aura-gray-10);
  }
}

.btn-private {
  width: fit-content;
}

@media (max-width: 414px) {
  .box-title {
    .btn-copy {
      border: 1px solid #717582;
      border-radius: 8px;
      button {
        padding: 8px;
      }
    }
  }
}

.contract-label {
  height: 20px;
  @media (min-width: 991.98px) {
    height: 32px;    
  }
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--aura-gray-9);
  padding-right: 12px;
  padding-left: 8px;
  margin-left: 16px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;     
    border-right: 10px solid var(--aura-gray-9); 
    @media (min-width: 991.98px) {
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;     
      border-right: 20px solid var(--aura-gray-9); 
      left: -20px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--aura-gray-3);
    border-radius: 50%;
    left: 0px;
    @media (min-width: 991.98px) {
      left: -6px;
    }
  }
}