<div class="mb-4 mb-md-6 d-flex align-items-center">
  <app-pagetitle title="Account Details" [displayInfo]="false"></app-pagetitle>
  <span class="body-01 text--gray-5">{{ currentAddress }}</span>
  <div class="aura-tooltip-contain">
    <button
      class="button aura-tooltip-object disabled-hover"
      #tooltip
      (click)="commonService.showToolTip(tooltip)"
      [cdkCopyToClipboard]="currentAddress">
      <img [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3" alt="" width="16px" height="16px" />
    </button>
    <app-tooltip-customize [content]="'Copied!'"> </app-tooltip-customize>
  </div>
</div>
<section class="account-detail text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <!-- Summary info -->
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card card-h-100">
        <div class="px-4 px-xl-0 py-4 py-lg-6 qr-code d-none d-lg-block">
          <app-qr [address]="currentAddress || ''"> </app-qr>
        </div>
        <div class="d-flex flex-column col-lg-auto col-12 py-4 px-4 pl-md-6 pb-md-6">
          <div>
            <h3 class="fw-bold fw-semibold-mob mb-2 text--white">Address Info</h3>
            <div
              *ngIf="commonService.setNameTag(currentAddress) !== currentAddress"
              class="name-tag cursor-pointer mt-2 aura-tooltip-contain d-inline-flex">
              <div class="d-inline-flex aura-tooltip-object align-items-center">
                <span class="d-none d-lg-flex">{{ commonService.setNameTag(currentAddress) || '-' }}</span>
                <span class="d-flex d-lg-none justify-content-center">
                  <ng-container *ngIf="!commonService.checkDisplayTooltip(currentAddress)">
                    {{ (commonService.setNameTag(currentAddress) | cutStringPipe : 16) || '-' }}
                  </ng-container>
                  <ng-container *ngIf="commonService.checkDisplayTooltip(currentAddress)">
                    {{ (commonService.setNameTag(currentAddress) | cutStringPipe : 8 : 8) || '-' }}
                  </ng-container>
                </span>
                <a
                  target="_blank"
                  [href]="extendLink(commonService.findUrlNameTag(currentAddress))"
                  *ngIf="commonService.findUrlNameTag(currentAddress)">
                  <i
                    _ngcontent-wrg-c372=""
                    class="ph-arrow-square-out-fill text--primary body-01 h4-mob ml-1 cursor-pointer mt-1"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- <button
            class="button button-outline button-outline--gradient button-outline__in-card button-pill mt-2 btn-private">
            <span class="caption fw-normal">Set Private Name Tag</span>
          </button> -->
          <div class="mt-6 mt-lg-3 d-flex justify-content-between align-items-center d-xl-block">
            <div>
              <h3 class="fw-bold fw-semibold-mob mb-1 text--white">Total Value</h3>
              <span class="h1 mb-0 fw-700 mb-0 text-gradient d-inline" *ngIf="!isNoData">
                $ {{ totalValueToken + totalValueNft || 0 | number : global.formatNumber2Decimal }}
              </span>
              <img
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                class="ml-10"
                width="20"
                height="20"
                *ngIf="isNoData" />
            </div>
            <div class="button button--md button-circle ml-1 d-lg-none">
              <img
                [src]="'assets/icons/icons-svg/color/qr-code.svg' | imageS3"
                alt=""
                width="30px"
                height="30px"
                (click)="viewQrAddress(modalManage)" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="card card-h-100">
        <div class="px-4 py-4 px-lg-6 py-lg-6">
          <app-token-table
            [address]="currentAddress"
            (totalAssets)="totalAssets = $event"
            (totalValue)="totalValueToken = $event"
            *ngIf="!isNoData"></app-token-table>
          <ng-container *ngTemplateOutlet="reloadTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- QR code popup-->
  <div class="col-lg-6">
    <ng-template #modalManage let-modal>
      <div class="box-address">
        <div class="txt-right mb-4">
          <img
            [src]="'assets/images/icons/close-popup.png' | imageS3"
            alt=""
            width="14"
            height="14"
            (click)="closePopup()" />
        </div>
        <app-qr [address]="currentAddress || ''"> </app-qr>
      </div>
    </ng-template>
  </div>
</section>

<section class="account-detail text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <!--SBT  -->
  <div class="card" *ngIf="totalSBT > 0 || currentAddress === userAddress">
    <div class="px-4 py-4 pt-xl-6 pb-xl-6 px-xl-0">
      <app-soulbound-feature-tokens
        [extend]="true"
        (totalPick)="totalSBT = $event"
        [displayManage]="true"
        [accountAddress]="currentAddress"
        [isAccountDetail]="true"></app-soulbound-feature-tokens>
    </div>
  </div>

  <!-- NFT -->
  <app-nft-list [address]="currentAddress" (totalValueNft)="totalValueNft = $event"></app-nft-list>

  <!-- Staking-->
  <app-account-stake
    *ngIf="currentAccountDetail"
    [chartOptions]="chartOptions"
    [chartCustomOptions]="chartCustomOptions"
    [currentAccountDetail]="currentAccountDetail"></app-account-stake>

  <!-- Transaction List-->
  <app-account-transaction [address]="currentAddress"></app-account-transaction>
</section>

<ng-template #reloadTemplate>
  <div class="card p-5 d-flex justify-content-between align-items-center" *ngIf="isNoData">
    <div class="text-center">
      <img [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3" alt="" class="mr-2" width="40" height="40" />
      <div class="small-text text--light-gray mt-4">
        Fetching data, might take longer than usual. <br />
        Please come back later or
        <span class="link-reset-data" (click)="reloadData()">refresh the page</span>
      </div>
    </div>
  </div>
</ng-template>
