<section class="account-detail text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="mb-1 mb-md-6">
    <div class="d-flex d-block align-items-center">
      <span class="h2 fw-700 text--white mr-lg-5 mr-2">Account</span>
      <a
        [routerLink]="[
          accountEvmAddress ? '/evm-contracts' : '/contracts',
          accountEvmAddress ? accountEvmAddress : accountAddress
        ]"
        *ngIf="isContractAddress"
        [appTooltip]="'Go to Contract Details'"
        class="contract-label text--primary body-04 mr-5">
        Contract
      </a>
      <i
        class="ph ph-star body-01"
        [appTooltip]="isWatchList ? 'Remove this address from your watch list' : 'Add this address to my watch list'"
        (click)="handleWatchList()"
        [ngClass]="isWatchList ? 'ph-star-fill text--yellow-2' : 'text--white'"></i>
    </div>

    <div class="d-lg-flex align-items-center mb-lg-2 mb-3 mt-3 body-01 body-mob">
      <div class="text--gray-4 title-address mb-1 mb-lg-0">Cosmos Address:</div>
      <span [copyBtn]="accountAddress" class="break-word">{{ accountAddress }} </span>
    </div>
    <div class="d-lg-flex align-items-center mb-4 body-01 body-mob" *ngIf="accountEvmAddress">
      <div class="text--gray-4 title-address mb-1 mb-lg-0">EVM Address:</div>
      <span [copyBtn]="accountEvmAddress" class="break-word">{{ accountEvmAddress | beautyAddress }} </span>
    </div>
  </div>
  <!-- Summary info -->
  <div class="row box-summary-info">
    <div class="col-12 col-lg-3">
      <div class="card card-h-100">
        <div class="px-4 px-xl-0 py-4 py-lg-6 qr-code d-none d-lg-block">
          <app-qr [address]="accountAddress || ''"></app-qr>
        </div>
        <div class="d-flex flex-column col-lg-auto col-12 box-account-info">
          <div>
            <h3 class="fw-bold fw-semibold-mob mb-2 text--white">Account Info</h3>
            <app-name-tag [value]="accountAddress" [mode]="ENameTag.Public" [fullText]="true"></app-name-tag>
            <div class="mt-2">
              <app-name-tag [value]="accountAddress" [mode]="ENameTag.Private" [fullText]="true"></app-name-tag>
            </div>
          </div>

          <div class="mt-auto d-flex justify-content-between align-items-center d-xl-block">
            <div>
              <div class="body mb-1 text--white">Total Value</div>
              <div class="h1 mb-0 fw-700 mb-0 text--white">
                <span
                  *ngIf="totalValue.lt(0.01)"
                  [appTooltip]="!totalValue.eq(0) ? (totalValue.toFixed() | mask: 'separator') : null">
                  {{ totalValue.eq(0) ? '$0' : '< $0.01' }}
                </span>
                <span
                  [appTooltip]="
                    totalValue.gte(0.01) && totalValue.lt(1000000) ? null : (totalValue.toFixed() | mask: 'separator.6')
                  "
                  [class.cursor-text]="totalValue.gte(0.01) && totalValue.lt(1000000)"
                  *ngIf="!isNoData && totalValue.gte(0.01)">
                  $<span [decimal]="0" [appBigNumber]="totalValue.toFixed() || 0"></span>
                </span>
              </div>
              <img
                [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
                alt=""
                class="ml-10"
                width="20"
                height="20"
                *ngIf="isNoData" />
            </div>
            <div class="button button--md button-circle ml-1 d-lg-none">
              <img
                [src]="'assets/icons/icons-svg/white/qr-code.svg' | imageS3"
                alt=""
                width="36px"
                height="36px"
                (click)="viewQrAddress(modalManage)" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="card card-h-100">
        <div class="px-4 py-4 px-lg-6 py-lg-6">
          <app-token-table
            [address]="accountAddress"
            (totalAssets)="totalAssets = $event"
            (totalValue)="totalValueToken = $event"
            *ngIf="!isNoData"></app-token-table>
          <ng-container *ngTemplateOutlet="reloadTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- QR code popup-->
  <div class="col-lg-6">
    <ng-template #modalManage let-modal>
      <div class="box-address">
        <div class="text-end mb-4">
          <img
            [src]="'assets/images/icons/close-popup.png' | imageS3"
            alt=""
            width="14"
            height="14"
            (click)="closePopup()" />
        </div>
        <app-qr [address]="accountAddress || ''"></app-qr>
      </div>
    </ng-template>
  </div>
</section>

<section class="account-detail text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <!--SBT  -->
  <div
    class="card"
    *ngIf="
      (totalSBTPick > 0 || (accountAddress === connectedAddress && totalSBT > 0)) &&
      commonService.isValidAddress(accountAddress)
    "
    [appFeature]="EFeature.Cw4973">
    <div class="px-4 py-4 pt-xl-6 pb-xl-6 px-xl-0">
      <app-soulbound-feature-tokens
        [extend]="true"
        (totalSBTPick)="totalSBTPick = $event"
        [displayManage]="true"
        [accountAddress]="accountAddress"
        [reloadAPI]="false"
        [isAccountDetail]="true"></app-soulbound-feature-tokens>
    </div>
  </div>

  <!-- NFT -->
  <app-nft-list
    [address]="accountAddress"
    (totalValueNft)="totalValueNft = $event"
    [appFeature]="EFeature.Cw721"></app-nft-list>

  <!-- Staking-->
  <app-account-stake
    *ngIf="currentAccountDetail"
    [chartOptions]="chartOptions"
    [chartCustomOptions]="chartCustomOptions"
    [currentAccountDetail]="currentAccountDetail"></app-account-stake>

  <!-- Transaction List-->
  <app-account-transaction [address]="currentUrlAddress"></app-account-transaction>
</section>

<ng-template #reloadTemplate>
  <div class="card p-5 d-flex justify-content-between align-items-center" *ngIf="isNoData">
    <div class="text-center">
      <img [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3" alt="" class="mr-2" width="40" height="40" />
      <div class="small-text text--light-gray mt-4">
        Fetching data, might take longer than usual. <br />
        Please come back later or
        <span class="link-reset-data" (click)="reloadData()">refresh the page</span>
      </div>
    </div>
  </div>
</ng-template>
