section.account-detail {
  .warning {
      border: 1px solid #ffa237;
      background: #3d3730;
      padding: 8px;
      border-radius: 8px;
      display: flex;
      align-items: center;

      span {
        font-size: 12;
        line-height: 16px;
        color: #CCD0D5;
        margin-left: 2px;
      }
    }

  .qr-code {
    background-color: var(--aura-gray-9);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .title-address {
    min-width: 150px;
  }

  .box-account-info {
    flex-grow: 1;
    min-height: 235px;
    padding: 20px;

    @media (max-width: 1366px) {
      padding: 12px;
    }

    @media (max-width: 992px) {
      padding: 16px;
    }

    .btn-private {
      width: fit-content;
    }

    .converted-address {
      max-width: 100%;
      display: inline-flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.6rem;
      word-break: break-word;
      background-color: var(--aura-gray-9);
      border-radius: 4px 0 0 4px;
      padding: 5px var(--spacer-5) 5px var(--spacer-2);
      color: var(--aura-gray-light);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-top: 20px solid transparent;
        border-right: 15px solid var(--aura-gray-10);
        border-bottom: 20px solid transparent;
      }
    }
  }

  .box-summary-info {
    min-height: 540px;
  }
}

.button {
  &.button-circle {
    aspect-ratio: 1 / 1 !important;
    padding: 0;
    border-radius: 50%;
    background-color: #363843;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link-reset-data {
  text-decoration: underline;
  color: aqua;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .box-account {
    padding: var(--spacer-4) !important;
  }

  ::ng-deep {
    .modal-dialog .modal-content {
      padding-bottom: 52px !important;
    }
  }

  .header-mob {
    padding-bottom: 0px !important;
    font-size: 2rem !important;
    font-weight: 500;
  }

  .aura-form {
    .select-input-field {
      height: auto;
      padding: 6px 16px 8px 22px;
      border: 1px solid var(--aura-white);
    }
  }

  ::ng-deep {
    .mat-tab-label-content {
      font-size: 1.6rem !important;
      font-weight: 600;
    }
  }
}

.account__tab-item {
  min-width: 160px;
}

.name-tag {
  max-width: 100%;
}

.contract-label {
  height: 20px;

  @media (min-width: 991.98px) {
    height: 32px;
  }

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--aura-gray-9);
  padding-right: 12px;
  padding-left: 8px;
  margin-left: 16px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--aura-gray-9);

    @media (min-width: 991.98px) {
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 20px solid var(--aura-gray-9);
      left: -20px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--aura-gray-3);
    border-radius: 50%;
    left: 0;

    @media (min-width: 991.98px) {
      left: -6px;
    }
  }
}
