<div class="d-flex flex-wrap mb-3">
  <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">{{ label }}</div>
  <div class="col-12 col-lg-9">
    <ng-container *ngIf="dataLink">
      <ng-container *ngIf="value?.length > 0 && value !== '-'; else noValues">
        <span *ngIf="value === '[do-not-modify]'">{{ value }}</span>
        <ng-container *ngIf="value !== '[do-not-modify]'">
          <ng-container *ngIf="dataLink?.nameTag">
            <app-name-tag
              class="msg-item"
              [value]="value || dataLink?.data"
              [linkRouter]="[dataLink?.url || '/address', dataLink?.data || value]"
              [fullText]="true"
              [addressOnly]="dataLink?.data || value"
              [fullTextMob]="true"
              [widthAuto]="true">
            </app-name-tag>
          </ng-container>
          <ng-container *ngIf="!dataLink.nameTag">
            <a
              *ngIf="dataLink.url.indexOf('http') === -1"
              class="text--primary"
              [routerLink]="[dataLink?.url || '/address', dataLink?.data || value]">
              {{ value || dataLink?.data || '-' }}
            </a>
            <a class="text--primary" [href]="dataLink?.url" *ngIf="dataLink.url.indexOf('http') > -1" target="_blank">
              {{ dataLink?.data || value || '-' }}
            </a>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container [ngSwitch]="pipeType" *ngIf="!dataLink">
      <ng-container *ngSwitchCase="pipeTypeData.Number">
        {{ (value | mask: 'separator.6') || '-' }}
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.BalanceOf">
        {{ value > 0 ? (value | balance: denom.decimals | mask: 'separator.6') : '-' }}
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.Json">
        <pre id="json" class="raw-content text--white px-4" [innerHtml]="value | appJson"></pre>
      </ng-container>
      <ng-container *ngSwitchCase="pipeTypeData.Percent">
        {{ value == '-' ? value : (value | percent: number2Digit) }}
      </ng-container>
      <ng-container *ngSwitchDefault>{{ value || '-' }}</ng-container>
      <ng-container *ngIf="denom?.display && value !== '-'">
        <span *ngIf="value" [appLinkDenom]="denom?.denom">{{ denom?.display }}</span>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #noValues> -</ng-template>
