<app-pagetitle title="Blocks" [displayInfo]="true"></app-pagetitle>
<section *ngIf="!loading">
  <ng-container *ngIf="length > 0; else noValues">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive d-none d-lg-block">
          <table mat-table [dataSource]="dataSource" class="aura-table">
            <ng-container *ngFor="let template of templates; index as i">
              <ng-container [matColumnDef]="template.matColumnDef">
                <th mat-header-cell *matHeaderCellDef class="col-per-20">
                  <div [innerHTML]="template.headerCellDef | translate"></div>
                </th>

                <td mat-cell *matCellDef="let data" style="max-width: 300px">
                  <div>
                    <ng-container [ngSwitch]="template.matColumnDef">
                      <a
                        *ngSwitchCase="'height'"
                        class="text--primary cursor-pointer block-link"
                        [routerLink]="['/blocks', data[template.matColumnDef]]">
                        {{ data[template.matColumnDef] }}
                      </a>
                      <a
                        *ngSwitchCase="'block_hash'"
                        class="text--primary cursor-pointer block-link"
                        [routerLink]="['/blocks', data['height']]">
                        {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                      </a>
                      <a
                        *ngSwitchCase="'proposer'"
                        class="text-clamp text--primary cursor-pointer validator-link"
                        [routerLink]="['/validators', data['operator_address']]">
                        {{ data[template.matColumnDef] }}
                      </a>
                      <div *ngSwitchCase="'timestamp'">
                        {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                      </div>
                      <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                    </ng-container>
                  </div>
                </td>
              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
        </div>
        <div class="d-lg-none" *ngIf="dataBlock && dataBlock.length > 0">
          <app-card-mob-simple
            *ngFor="let data of dataBlock"
            [link]="'/blocks/' + data.height"
            [title]="{ size: 'md', label: data.height, subLabelContent: commonService.getDateValue(data.timestamp)[0] }"
            [content]="[
              { label: 'Proposer', info: '<span class=text--primary>' + data.proposer + '</span>' },
              { label: 'Txs', info: data.num_txs.toString() },
              { label: 'Time', info: commonService.getDateValue(data.timestamp, false)[1] }
            ]"></app-card-mob-simple>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</section>

<div *ngIf="loading">
  <app-loading-sprint></app-loading-sprint>
</div>
