.soulbound-list {
  .qr-code {
    border-right: 1px solid var(--aura-gray-9);
    vertical-align: middle;
  }
  .sbt-detail {
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 4px;
    }
    ::ng-deep {
      flex-wrap: wrap;
      flex-basis: 20%;
      .soulbound__item {
        min-width: 120px;
      }
      .nft-cards__label {
        display: none;
      }
    }
  }
  .soulbound-feature-tokens {
    flex: 1 0 100%;
    border-top: 1px solid var(--aura-gray-9);
    @media (min-width: 1199.98px) {
      flex: 0 1 100%;
      overflow-x: auto;
      //display: flex;
      //align-items: center;
      justify-content: flex-end;
      border-top: none;
      border-left: 1px solid var(--aura-gray-9);
    }
  }
}

.aura-nav-tabs.nav-tabs .nav-link {
  font-size: 14px;
  @media (min-width: 992px) {
    font-weight: 600;
  }
}

.tab-contract {
  width: 100%;
  ul.aura-nav-tabs {
    flex-wrap: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .nav-item {
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 180px;
    @media (max-width: 414px) {
      width: 50%;
      min-width: 50%;
    }
  }
}
::ng-deep.search-form-sbtokenlist {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 364px;
  }
}

.nft__unclaimed-noti {
  margin-left: var(--spacer-1);
  width: 19px;
  height: 19px;
}

::ng-deep {
  .nft-cards__item {
    overflow: hidden;
    .nft__info {
      overflow: hidden;
    }
  }
}

.name-tag:not(.private-name-tag) {
  &:after {
    border-right: 15px solid var(--aura-gray-10);
  }
}

.btn-private {
  width: fit-content;
}
