<div class="mb-4 mb-md-6">
  <app-pagetitle title="Account Bound Token (ABT)"></app-pagetitle>
</div>
<section class="soulbound-list text--white">
  <!-- Summary info -->
  <div class="card">
    <div class="px-4 py-4 pt-xl-6 pb-xl-6 px-xl-0 d-flex flex-wrap flex-lg-nowrap">
      <div class="d-none d-lg-block">
        <div class="qr-code d-inline-block pl-6 pr-6">
          <app-qr [address]="userAddress || ''"></app-qr>
        </div>
      </div>
      <div class="d-flex flex-column py-lg-6 col-lg-auto col-12 px-md-6 pr-lg-8">
        <div>
          <div class="body-01 fw-semibold mb-1 mb-lg-2 text--white">Address</div>
          <div class="d-flex align-items-center">
            <div class="body text--gray-1" id="userAddress">
              <span class="d-md-flex d-none">{{ userAddress }}</span>
              <span class="d-md-none d-flex">{{ userAddress | cutStringPipe : 8 : 8 }}</span>
            </div>
            <div class="aura-tooltip-contain ml-2">
              <button
                class="button button--xxs button-circle aura-tooltip-object disabled-hover"
                #tooltip
                (click)="commonService.showToolTip(tooltip)"
                [cdkCopyToClipboard]="userAddress">
                <img [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3" alt="" width="12px" height="12px" />
              </button>
              <app-tooltip-customize [content]="'Copied!'"> </app-tooltip-customize>
            </div>
          </div>
          <div
            *ngIf="commonService.setNameTag(userAddress, null, false) !== userAddress"
            class="name-tag cursor-pointer mt-1 aura-tooltip-contain d-inline-flex">
            <div class="d-inline-flex aura-tooltip-object align-items-center">
              <span class="d-none d-lg-flex">{{ commonService.setNameTag(userAddress, null, false) || '-' }}</span>
              <span class="d-flex d-lg-none justify-content-center">
                <ng-container *ngIf="!commonService.checkDisplayTooltip(userAddress)">
                  {{ commonService.setNameTag(userAddress, null, false) || '-' }}
                </ng-container>
                <ng-container *ngIf="commonService.checkDisplayTooltip(userAddress)">
                  {{ (commonService.setNameTag(userAddress, null, false) | cutStringPipe : 8 : 8) || '-' }}
                </ng-container>
              </span>
              <a
                target="_blank"
                [href]="extendLink(commonService.findUrlNameTag(userAddress))"
                *ngIf="commonService.findUrlNameTag(userAddress)">
                <i _ngcontent-wrg-c372="" class="ph-arrow-square-out-fill body-01 h4-mob ml-1 cursor-pointer"></i>
              </a>
            </div>
            <app-tooltip-customize
              [className]="'tooltip--right'"
              [content]="'Public name: ' + commonService.setNameTag(userAddress, null, false)">
            </app-tooltip-customize>
          </div>
        </div>

        <!-- Private Name Tag -->
        <button
          class="button button-outline button-outline--gradient button-outline__in-card button-pill mt-2 btn-private"
          *ngIf="!commonService.checkPrivate(userAddress)"
          (click)="editPrivateName()">
          <span class="caption fw-normal"> Set Private Name Tag </span>
        </button>
        <div
          *ngIf="commonService.checkPrivate(userAddress)"
          class="mt-2 aura-tooltip-contain d-inline-flex box-private align-items-center">
          <div class="d-inline-flex aura-tooltip-object align-items-center private-name-tag">
            <span class="d-none d-lg-flex">{{ commonService.setNameTag(userAddress) || '-' }}</span>
            <span class="d-flex d-lg-none justify-content-center">
              <ng-container *ngIf="!commonService.checkDisplayTooltip(userAddress)">
                {{ (commonService.setNameTag(userAddress) | cutStringPipe : 16) || '-' }}
              </ng-container>
              <ng-container *ngIf="commonService.checkDisplayTooltip(userAddress)">
                {{ (commonService.setNameTag(userAddress) | cutStringPipe : 8 : 8) || '-' }}
              </ng-container>
            </span>
          </div>

          <app-tooltip-customize
            *ngIf="!commonService.checkDisplayTooltip(userAddress)"
            [content]="'Private name: ' + commonService.setNameTag(userAddress)"></app-tooltip-customize>
          <i
            class="ph ph-note-pencil ml-2 body-01 cursor-pointer"
            (click)="editPrivateName(commonService.setNameTag(userAddress))"></i>
        </div>

        <div class="mt-6 mt-lg-4">
          <div class="body-01 fw-semibold mb-1 mb-lg-2 text--white">
            <ng-container *ngIf="activeId !== 1">Total Equipped Badges</ng-container>
            <ng-container *ngIf="activeId === 1">Total Un-equipped Badges</ng-container>
          </div>
          <div class="d-flex justify-content-between align-items-center d-lg-block">
            <span class="h1 h2-mob mb-0 fw-bold mb-0 text-gradient d-inline">{{ totalSBT }} ABT</span>
            <div class="button button--md button-circle ml-1 d-lg-none">
              <img
                [src]="'assets/icons/icons-svg/color/qr-code.svg' | imageS3"
                alt=""
                width="30px"
                height="30px"
                (click)="viewQrAddress(modalManage)" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-4 mt-lg-0 ml-auto sbt-detail {{ totalPick > 0 ? 'soulbound-feature-tokens' : 'px-6' }}"
        *ngIf="userAddress && totalPick > 0">
        <app-soulbound-feature-tokens
          [extend]="false"
          [accountAddress]="userAddress"
          (closeDlg)="reloadAPI = true"
          (totalNotify)="totalNotifyEmitHandle($event)"></app-soulbound-feature-tokens>
      </div>
    </div>
  </div>
  <!-- Main -->
  <div class="d-flex justify-content-between tab-wrapper tab-contract">
    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="activeId"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-12">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a ngbNavLink (click)="changeTab(tab.key)">
            <span class="tab-title h5 body-mob fw-semibold mb-0 text-capitalize">{{ tab.value }}</span>
            <span
              class="nft__unclaimed-noti text--white"
              *ngIf="totalNotify >= 1 && index === 1"
              [class.noti--pill]="totalNotify > 9"
              >{{ totalNotify > 99 ? '99+' : totalNotify }}</span
            >
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <app-soulbound-token-equipped
    *ngIf="activeId === 0"
    (totalSBT)="totalSBT = $event"
    [reloadAPI]="reloadAPI"></app-soulbound-token-equipped>
  <app-soulbound-token-unequipped
    [reloadAPI]="reloadAPI"
    (resetReload)="reloadAPI = $event"
    *ngIf="activeId === 1"
    (updateChangeNotify)="getABTNotify()"
    (totalNotify)="totalNotify = $event"
    (totalUnEquip)="totalSBT = $event"></app-soulbound-token-unequipped>
</section>

<!-- QR code popup-->
<ng-template #modalManage let-modal>
  <div class="box-address">
    <div class="txt-right mb-4">
      <img
        [src]="'assets/images/icons/close-popup.png' | imageS3"
        alt=""
        width="14"
        height="14"
        (click)="closePopup()" />
    </div>
    <app-qr [address]="userAddress || ''"></app-qr>
  </div>
</ng-template>
