@import '../../../../assets/scss/color.scss';

.raw-content {
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: 400;
  background: var(--aura-gray-9);
  border-radius: 8px;
  padding: var(--spacer-3);
}

.box-error {
  background-color: var(--aura-gray-9);
  color: #e65e5e;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 1rem;
  word-break: break-word;
  font-size: 16px;
  font-weight: 400;
  .ellipsis-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

::ng-deep app-transaction-messages .card-info:not(:last-child) {
  margin-bottom: 16px;
}
