<app-pagetitle title="Transaction Details"></app-pagetitle>
<div class="row justify-content-end mb-2 d-none d-lg-flex">
  <div class="col-auto">
    <div class="button-tab-group">
      <button class="button-tab" [class.active]="!isRawData" (click)="changeType(false)"><span>Summary</span></button>
      <button class="button-tab" [class.active]="isRawData" (click)="changeType(true)"><span>JSON</span></button>
    </div>
  </div>
</div>

<div class="card text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <h2 class="card-header mb-0 text--white d-none d-lg-flex pb-0">{{ !isRawData ? 'Information' : 'Raw Data' }}</h2>
  <div class="card-body body">
    <div class="d-lg-none mb-4">
      <h2 class="mb-4 text--white">{{ !isRawData ? 'Information' : 'Raw Data' }}</h2>
      <!-- Tabs -->
      <ul ngbNav #customNav="ngbNav" [activeId]="isRawData ? 1 : 0" class="aura-nav-tabs nav-tabs nav-tabs-custom">
        <ng-container *ngFor="let tab of TAB; index as index">
          <li [ngbNavItem]="index" class="flex-shrink-0 flex-grow-1">
            <a ngbNavLink (click)="changeType(tab.id === 1)" class="fw-semibold">
              <span>{{ tab.value }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="!isRawData" [ngClass]="{'card-info': breakpoint.value.matches}">
      <div class="row box-error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Chain Id</div>
        <div class="col-auto col-lg-9 text--primary h6 mb-0">{{ transaction?.chainid }}</div>
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">TxHash</div>
        <div class="col-auto col-lg-9">
          <span class="d-none d-lg-block">{{transaction?.tx_hash}}</span>
          <span class="d-lg-none">{{ transaction?.tx_hash | cutStringPipe: 8:8 }}</span>
        </div>
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Status</div>
        <div class="col-auto col-lg-9 d-flex align-items-center">
          <img
            [src]="
              transaction?.code == codeTransaction.Success
                ? ('assets/icons/icons-svg/color/success.svg' | imageS3)
                : ('assets/icons/icons-svg/color/fail.svg' | imageS3)
            "
            alt="" width="20px" height="20px" />
          <span class="ml-2">{{ transaction?.status }}</span>
        </div>
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Height</div>
        <div class="col-auto col-lg-9">
          <a class="text--primary" routerLink="/blocks/id/{{ transaction?.blockId }}">
            {{ transaction?.height | number }}
          </a>
        </div>
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Time</div>
        <div class="col-auto col-lg-9 text-end text-lg-start">
          <div>{{ commonService.getDateValue(transaction?.timestamp)[0] }}</div>
          <div class="d-flex align-items-center text--gray-4 mt-1">
            <span class="d-none d-lg-block">(</span>
            <span>{{ transaction?.timestamp | customDate: 'yyyy-MM-dd' }}</span>
            <div class="divider divider-vertical divider-lighter mx-2"></div>
            <span>{{ transaction?.timestamp | customDate: 'h:mm:ss' }}</span>
            <span class="d-none d-lg-block">)</span>
          </div>
        </div>
      </div>
      <div class="row mb-3 body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Fee</div>
        <div class="col-auto col-lg-9">
          {{ transaction?.fee }} <span class="text--primary">{{ denom }}</span>
        </div>
      </div>
      <div class="row body-02 body-01-mob justify-content-between justify-content-lg-start">
        <div class="col-auto col-lg-3 text--gray-4">Gas (used / wanted)</div>
        <div class="col-auto col-lg-9">{{ transaction?.gas_used | number }} / {{ transaction?.gas_wanted | number }}</div>
      </div>
    </div>

    <pre *ngIf="isRawData" id="json" class="raw-content text--white px-4" [innerHtml]="transaction.tx | appJson"></pre>
  </div>
</div>

<div class="card text--white" *ngIf="!isRawData && transaction?.messages">
  <app-transaction-messages [transactionDetail]="transaction"> </app-transaction-messages>
</div>

<div class="card text--white" *ngIf="!isRawData && transaction?.read_set">
  <div class="card-header title-small">Read</div>
  <div class="card-body">
    <ngx-json-viewer [json]="!isRawData && transaction?.read_set"></ngx-json-viewer>
  </div>
</div>

<div class="card text--white" *ngIf="!isRawData && transaction?.write_set">
  <div class="card-header title-small">Write</div>
  <div class="card-body" *ngIf="transaction?.write_set">
    <ngx-json-viewer [json]="transaction?.write_set"></ngx-json-viewer>
  </div>
</div>
