@import "../../../../assets/scss/color.scss";

.raw-content {
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: 400;
  background: var(--aura-gray-9);
  border-radius: 8px;
  padding: var(--spacer-3);
}

.box-error {
  background-color: lightgray;
  color: var(--aura-danger);
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 1rem;
}

::ng-deep app-transaction-messages .card-info:not(:last-child) {
  margin-bottom: 16px;
}
