@import '../../../../assets/scss/color.scss';

.raw-content {
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: 400;
  background: var(--aura-gray-9);
  border-radius: 8px;
  padding: var(--spacer-3);
}

.box-error {
  background-color: var(--aura-gray-10);
  color: #e65e5e;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  word-break: break-word;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0px;
  line-height: 1.6rem !important;
  .txt-see-more {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--aura-gray-light);
  }
}

::ng-deep app-transaction-messages .card-info:not(:last-child) {
  margin-bottom: 16px;
}

#contentError.line-claim-v {
  -webkit-line-clamp: 3;
}
