.transfer-card {
  .card-body {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card-header {
    position: relative;
  }

  .card-nodata,
  .table-token {
    height: 210px;
    margin-bottom: 0;
    overflow-y: auto;

    .aura-table {
      tr.mat-row {
        height: 68px;
      }

      td.mat-cell:first-of-type {
        padding-left: 8px;
      }

      td.mat-cell {
        max-width: 200px;
      }

      @media (max-width: 414px) {
        ::ng-deep a {
          font-size: 12px;
        }
      }
    }

    .hide-td {
      display: none;
    }
  }

  .transfer-token-info {
    flex-direction: column;
  }

  .transfer-address-label {
    width: 30px;
  }

  .transfer-address {
    min-width: 180px;

    @media (min-width: 991.98px) {
      min-width: 225px;
    }
  }
}

@media (max-width: 430px) {
  .token-id {
    max-width: 80px;
  }
}
