.transfer-card {
  .card-body {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card-header {
    position: relative;
  }

  .card-nodata,
  .table-token {
    height: 210px;
    margin-bottom: 0;
    overflow-y: auto;

    .aura-table {
      tr.mat-row {
        height: 68px;
      }

      td.mat-cell:first-of-type {
        padding-left: 8px;
      }

      td.mat-cell {
        max-width: 200px;
      }

      @media (max-width: 414px) {
        ::ng-deep a {
          font-size: 12px;
        }
      }
    }

    .hide-td {
      display: none;
    }
  }

  .transfer-token-info {
    flex-direction: column;
  }

  .transfer-address-label {
    width: 30px;
  }

  .transfer-address {
    min-width: 180px;

    @media (min-width: 991.98px) {
      min-width: 225px;
    }
  }
}

@media (max-width: 430px) {
  .token-id {
    max-width: 80px;
  }
}

.text-white {
  color: #e5e7ea;
  /* Desktop/Body/S (Sb) */
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.nft-bg-white {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;

  border-radius: 6px;
  background: #f8f9fa;

  color: #5c606d;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 200% */
}

.min-w-custom {
  min-width: 150px;
} 
