/* custom scss */
$filter-uptime-icon: invert(73%) sepia(80%) saturate(294%) hue-rotate(114deg) brightness(98%) contrast(87%);
$filter-white-icon: brightness(0) invert(1);

// css validators
$validator-btn-text: #89909b;
$validator-bg-uptime: #5EE6D0;
