/* custom scss */
$white: #fff;
$black: #000;
$filter-purple-icon: invert(43%) sepia(47%) saturate(1485%) hue-rotate(226deg) brightness(103%) contrast(101%);
$filter-white-icon: brightness(0) invert(1);

// css validators
$validator-black: #222;
$validator-btn-color: #e6e6e6;
$validator-btn-text: #89909b;
$validator-bg-content: #f5f5f5;
$validator-bg-uptime: #9c6cff;
$validator-bg-header: #e3e3e3;

// css account
$account-box-total: #111;
/* custom scss */