// regular style toast
@import "~ngx-toastr/toastr";

// Custom Dashboard Css
.activity-wid .activity-list:last-child::before {
    display: none;
}

// Select2
// @import "~@ng-select/ng-select/themes/default.theme.css";

// Custome css
.border_none {
    border: none !important;
}

// dark style
body[data-layout-mode="dark"] {

    // Accordion
    .accordion {
        .card-header {
            padding: 5px;
            background-color: $secondary;
        }
    }

    // Advance Form
    // .ng-select .ng-select-container {
    //     background-color: lighten($gray-dark-200, 2%);
    //     color: $gray-dark-500;
    //     border-color: $gray-dark-300;

    //     .ng-value-container .ng-input>input {
    //         color: $gray-dark-500;
    //     }
    // }

    .ng-dropdown-panel {
        background-color: lighten($gray-dark-200, 2%) !important;
        border-color: $gray-dark-300;

        .ng-dropdown-panel-items {
            .ng-option {
                background-color: lighten($gray-dark-200, 2%) !important;
                color: $gray-dark-500;

                &.ng-option-marked {
                    background-color: lighten($gray-dark-200, 4%) !important;
                    color: $gray-dark-600;
                }
            }

            .ng-optgroup {
                color: rgba($white, 0.4);
            }
        }
    }
}

body {
    * {
        outline: none;
    }
}

.g-ellipsis {
    display: inline-block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cdk-overlay-container {
    z-index: 1100;
}

.disabled-pointer {
    pointer-events: none;
}

// vote bar (similar process bar)

.vote-bar {
    width: 100%;
    max-height: 36px;
    ul {
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;

        li {
            &.primary {
                background-color: var(--aura-primary);
            }

            &.danger {
                background-color: var(--aura-danger);
            }

            &.info {
                background-color: var(--aura-secondary);
            }

            &.secondary {
                background-color: #777e91;
            }
        }
    }
}

.proposal-status {
    border-radius: 4px;
    text-transform: capitalize;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer-4);
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;

    &__PROPOSAL_STATUS_DEPOSIT_PERIOD {
        background: rgba(231, 187, 65, 0.2);
        color: var(--aura-yellow-2);
    }

    &__PROPOSAL_STATUS_VOTING_PERIOD {
        background: rgba(91, 200, 255, 0.2);
        color: var(--aura-blue-2);
    }

    &__PROPOSAL_STATUS_REJECTED {
        background: rgba(220, 56, 63, 0.2);
        color: var(--aura-red-2);
    }

    &__PROPOSAL_STATUS_PASSED {
        background: rgba(84, 206, 140, 0.2);
        color: var(--aura-green-2);
    }
}

.aura-status {
    .status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 34px;
        padding: 0 16px;
        border-radius: 4px;
        background-color: var(--aura-gray-9);
        color: var(--aura-gray-light);
    }
}

.aura-status-inline {
    display: inline-block;
    padding-left: 16px;
    .status {
        position: relative;
        &:before {
            font-family: 'ico-aura';
            content: '\e916';
            color: inherit;
            position: absolute;
            left: -16px;
            top: 50%;
            font-size: 8px;
            transform: translateY(-50%);
        }
    }
}

.top-border {
    border-top: solid 1px var(--aura-light-gray);
    padding-top: var(--spacer-5);
}

.custom-apex-tooltip {
    padding: 8px;
    border: 1px var(--aura-light-gray);
    transition: all 1s;

    .tooltip {
        &-title {
            margin-bottom: 12px;
            font-weight: 500;
        }

        &-amount {
            font-weight: 400;
        }
    }
}

.text-clamp {
    display: -webkit-inline-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


.icon-close {
    width: 24px;
    cursor: pointer;
}

.json {
    &-key {
        color: #569CD6;
    }

    &-value {
        color: #AAC19E;
    }

    &-string {
        color: #CE9178;
    }
}

.table-mobile {
    &__item {
        background: var(--aura-gray-9);
        border-radius: 8px;
        padding: 0 12px;
        margin: 8px 0px;

        .table-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid var(--aura-gray-8);
            padding: 12px 0px;

            &__title {

                display: flex;
                flex-direction: column;
                justify-content: center;

                .title {
                    display: flex;
                    align-items: center;
                }

                .sub-title {
                    margin-left: 32px;
                }

            }

            &__action {}
        }

        .table-body {
            padding: 12px 0px;

            &__item {
                width: 100%;

                .item-link {
                    color: var(--aura-green);

                    &.disabled-link {
                        pointer-events: none;
                        color: var(--aura-white);
                    }
                }
            }

            &__revert {
                display: flex;
                flex-wrap: wrap-reverse;
            }
        }

        .button-outline__in-card {
            box-shadow: 2px 1000px 1px var(--aura-gray-9) inset !important;
        }
    }
}

.box-rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 24px;
    height: 24px;

    /* Green */

    border: 2px solid #5EE6D0;
    border-radius: 1000px;


    span {
        //font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        /* Green */

        color: #5EE6D0;
    }

    &._fill {
        background-color: #5EE6D0;

        span {
            color: var(--aura-black);
        }
    }

    &._small {
        width: 12px;
        height: 12px;

        padding: 3.5px;

        span {
            font-size: 9px;
            letter-spacing: 0.02em;

        }
    }
}

.box-mob-table {
    background-color: var(--aura-gray-10);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin: 0 auto;
}

//css text align right
.txt-right {
    text-align: right;
}


.custom-popover {
    background: var(--aura-bg-form);
    border: none;
    min-width: 200px;
    box-shadow: 2px 2px 30px #ffffff05;
    border-radius: 8px;

    @media (min-width: 576px) {
        min-width: 357px;
    }

    .arrow {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background-color: var(--aura-bg-form);
            top: 179px;

            @media (min-width: 576px) {
                top: 163px;
            }

            left: -6px;
            transform: rotate(45deg);
        }
    }

    .popover-body {
        padding: 16px;
        min-width: 230px;
    }

    &.token-popover .arrow::before {
        top: 227px;
        @media (min-width: 576px) {
            top: 217px;
        }
        @media (min-width: 992px) {
            top: 223px;
        }
    }
}

.aura__change {
    position: relative;
    color: var(--aura-white) !important;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 500;

    &--desc {
        color: var(--aura-danger) !important;
        padding-left: 24px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            width: 24px;
            height: 24px;
            background: url("../../assets/icons/icons-svg/color/arrow-down-red.svg") center no-repeat;
        }
    }

    &--asc {
        padding-left: 24px;
        color: var(--aura-primary) !important;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            width: 24px;
            height: 24px;
            background: url("../../assets/icons/icons-svg/color/arrow-up-green.svg") center no-repeat;
        }
    }
}

.g-flex-start-center {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}


.avatar-wrapper {
    position: relative;
    height: fit-content;
    margin-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    .rank-wrapper {
        position: absolute;
        top: 0px;
        right: 0px;

        &._jailed {
            opacity: 0.6;
        }

        &._small {
            right: -3px;
            top: -3px
        }
    }

    .validator-avatar {
        display: inline-block;
        overflow: hidden;

        width: 24px;
        height: 24px;
        border-radius: 1000px;

        &.x-large {
            width: 80px;
            height: 80px;
        }

        &.large {
            width: 56px;
            height: 56px;
        }

        &.medium {
            width: 40px;
            height: 40px;
        }

        img {
            width: 100%;
        }
    }

    .validator-jailed {
        opacity: 0.6;
    }

    .jailed {
        position: absolute;
        top: 0px;
        left: -2px;

        @media screen and (min-width: 992px) {
            top: 4px;
        }
    }
}

.label-jailed {
    text-align: center;
    transform: rotate(-15deg);
    span {
        position: absolute;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        letter-spacing: 0.05em;
        color: var(--aura-danger);
        transform: rotate(-15deg);
        border: 1px solid var(--aura-danger);
        padding: 2px 7px;
        left: 50%;
        min-width: 50px;
        top: -19px;
        transform: translateX(-50%);
    }
}
.box-search-data {
    position: absolute;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1;
    background-color: var(--aura-bg-form);
    width: 350px;
    margin-top: 5px;
    border-radius: 10px;

    .logo-token {
        margin-top: 2px;
        max-width: 18px;
        max-height: 18px;
    }

    .txt-title-search {
        background-color: var(--aura-gray-10);
        border-radius: 48px;
        padding: 4px 12px;
        font-weight: 600;
    }
}
.txt-copied {
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 0 8px;
    &.show {
        opacity: 1;
        height: 24px;
    }
}
.break-word {
    word-break: break-word;
}
