@import "~@angular/material/theming";
$custom-typography: mat-typography-config(
    $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);
@include angular-material-typography($custom-typography);
* {
    font-family:'SFProDisplay' , Roboto, "Helvetica Neue", sans-serif;
}

.mat-table {
    width: 100%;
}

.custom-menu.mat-menu-panel {
    border-radius: 25px;
    min-width: 192px;
    background-color: #1C1C1F;
    .mat-menu-content {
        padding: 0;
    }
    .mat-menu-item {
        display: flex;
        padding: 13px 0px 13px 25px ;
        align-items: center;
    }
    
    .mat-menu-item.row-first {
        background-color: #38383D;
    }

    

}