// regular style toast
@import 'ngx-toastr/toastr';

body {
  * {
    outline: none;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-text {
  cursor: text !important;
}

.disabled-pointer {
  pointer-events: none;
}

.cdk-overlay-container {
  z-index: 1100 !important;

  &.__grant {
    z-index: 2100 !important;
  }
}

// vote bar (similar process bar)

.vote-bar {
  width: 100%;
  max-height: 36px;

  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;

    li {
      &.primary {
        background-color: var(--aura-green-3);
      }

      &.danger {
        background-color: var(--aura-danger);
      }

      &.info {
        background-color: var(--aura-red-2);
      }

      &.secondary {
        background-color: var(--aura-gray-8);
      }
    }
  }

  .aura-tooltip-contain {
    width: 100%;
    height: 100%;
  }
}

.proposal-status {
  border-radius: 4px;
  text-transform: capitalize;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacer-4);
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;

  &__PROPOSAL_STATUS_DEPOSIT_PERIOD {
    background: rgba(231, 187, 65, 0.2);
    color: var(--aura-yellow-3);
  }

  &__PROPOSAL_STATUS_VOTING_PERIOD {
    background: rgba(91, 200, 255, 0.2);
    color: var(--aura-blue-2);
  }

  &__PROPOSAL_STATUS_REJECTED,
  &__PROPOSAL_STATUS_FAILED {
    background: rgba(220, 56, 63, 0.2);
    color: var(--aura-red-3);
  }

  &__PROPOSAL_STATUS_PASSED {
    background: rgba(84, 206, 140, 0.2);
    color: var(--aura-green-3);
  }
}

.aura-status {
  .status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    border-radius: 4px;
    color: var(--aura-gray-light);
  }
}

.aura-status-inline {
  display: inline-block;
  padding-left: 16px;

  .status {
    position: relative;

    &:before {
      font-family: 'ico-aura';
      content: '\e916';
      color: inherit;
      position: absolute;
      left: -16px;
      top: 50%;
      font-size: 8px;
      transform: translateY(-50%);
    }
  }
}

.box-rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 24px;
  height: 24px;
  /* Green */
  border: 2px solid var(--aura-primary);
  border-radius: 1000px;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--aura-primary);
  }

  &._fill {
    background-color: #5ee6d0;

    span {
      color: var(--aura-black);
    }
  }

  &._small {
    width: 12px;
    height: 12px;

    padding: 3.5px;

    span {
      font-size: 9px;
      letter-spacing: 0.02em;
    }
  }
}

.box-mob-table {
  background-color: var(--aura-gray-9);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  margin: 0 auto;
}

.avatar-wrapper {
  position: relative;
  height: fit-content;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  .rank-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    &._jailed {
      opacity: 0.6;
    }

    &._small {
      right: -3px;
      top: -3px;
    }
  }

  .validator-avatar {
    display: inline-block;
    // overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 1000px;

    &.x-large {
      width: 80px;
      height: 80px;
    }

    &.large {
      width: 56px;
      height: 56px;
    }

    &.medium {
      width: 48px;
      height: 48px;
    }

    &.small {
      width: 24px;
      height: 24px;
    }

    img {
      width: 100%;
    }
  }

  .validator-jailed {
    opacity: 0.6;
  }

  .jailed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
  }
}

.text-jailed {
  opacity: 0.5;
  min-width: 60px;
  display: block;
}

.control-container {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 5;

  @media (min-width: 992px) {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.5);
  }

  i {
    font-size: 16px;
    color: var(--aura-white);
  }
}

.notice-warning {
  padding: 16px;
  background: rgba(213, 98, 94, 0.16);
  border-radius: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  .notice-icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 8px;

    line-height: 18px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  .notice-content {
    i {
      font-size: 1.6rem !important;
      vertical-align: text-top;
      cursor: pointer;
    }
  }
}

.overflow-scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 6px;
  }
}

.box-error-message {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--aura-red-4);
  color: var(--aura-white);
  line-height: 1.8rem;

  .item-error-message {
    display: flex;

    &:not(:first-child) {
      margin-top: var(--spacer-1);
    }
  }
}

.w-fit-content {
  width: fit-content;
}

.nft__unclaimed-noti {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aura-red-3);
  font-size: 10px;
  font-weight: 600;

  &.noti--pill {
    width: auto;
    border-radius: 24px;
    padding: 4px 8px;
  }
}

.mat-slide-toggle-thumb {
  width: 14px !important;
  height: 14px !important;
}

.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-bar {
    background-color: var(--aura-orange-1) !important;
  }

  .mat-slide-toggle-thumb {
    background-color: var(--aura-white) !important;
  }
}

.mode-disable.mat-slide-toggle {
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: var(--aura-orange-1) !important;
    }
  }

  &.mat-disabled {
    opacity: 1;

    .txt-disable {
      color: var(--aura-gray-8);
    }

    .mat-slide-toggle-bar {
      background-color: var(--aura-gray-8) !important;
    }

    .mat-slide-toggle-thumb {
      box-shadow: 0px 2px 20px 0px #1b1c22b2;
    }
  }
}

.mat-slide-toggle-bar {
  height: 20px !important;
  border-radius: 12px !important;
}

.mat-slide-toggle-thumb-container {
  width: 14px !important;
  height: 14px !important;
  top: 3px !important;
  transform: translate3d(4px, 0, 0) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(18px, 0, 0) !important;
}

.mat-slide-toggle {
  width: fit-content;
  width: -moz-fit-content;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--aura-gray-1);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
  caret-color: white !important;
}

.message-custom {
  transform: translate(0, 8px) !important;
}

.highlight-noti {
  font-weight: 600;
  color: var(--aura-gray-11);
}

.expandable-button {
  font-weight: 600;
  cursor: pointer;
  display: inline;
  color: var(--aura-primary);
  margin-left: 2px;

  &.expanded {
    display: block;
    margin-left: 0;
  }
}
