// regular style toast
@import "~ngx-toastr/toastr";

// Custom Dashboard Css
.activity-wid .activity-list:last-child::before {
    display: none;
}

/**
* lightbox
*/

@import "~ngx-lightbox/lightbox.css";

// Select2
@import "~@ng-select/ng-select/themes/default.theme.css";

// Custome css
.border_none {
    border: none !important;
}

// dark style
body[data-layout-mode="dark"] {

    // Accordion
    .accordion {
        .card-header {
            padding: 5px;
            background-color: $secondary;
        }
    }

    // Advance Form
    .ng-select .ng-select-container {
        background-color: lighten($gray-dark-200, 2%);
        color: $gray-dark-500;
        border-color: $gray-dark-300;

        .ng-value-container .ng-input>input {
            color: $gray-dark-500;
        }
    }

    .ng-dropdown-panel {
        background-color: lighten($gray-dark-200, 2%) !important;
        border-color: $gray-dark-300;

        .ng-dropdown-panel-items {
            .ng-option {
                background-color: lighten($gray-dark-200, 2%) !important;
                color: $gray-dark-500;

                &.ng-option-marked {
                    background-color: lighten($gray-dark-200, 4%) !important;
                    color: $gray-dark-600;
                }
            }

            .ng-optgroup {
                color: rgba($white, 0.4);
            }
        }
    }
}

body {
    * {
        outline: none;
    }
}

.g-ellipsis {
    display: inline-block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cdk-overlay-container {
    z-index: 1100;
}

.disabled-pointer {
    pointer-events: none;
}

// vote bar (similar process bar)

.vote-bar {
    width: 100%;

    ul {
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;

        li {
            &.primary {
                background-color: #5ee6d0;
            }

            &.danger {
                background-color: #e65e5e;
            }

            &.info {
                background-color: #5e84e6;
            }

            &.secondary {
                background-color: #777e91;
            }
        }
    }
}

.proposal-status {
    border-radius: 8px;
    text-transform: capitalize;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacer-4);
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;

    &__PROPOSAL_STATUS_DEPOSIT_PERIOD {
        background: rgba(227, 230, 94, 0.2);
        color: #e3e65e;
    }

    &__PROPOSAL_STATUS_VOTING_PERIOD {
        background: rgba(94, 132, 230, 0.2);
        color: #5e84e6;
    }

    &__PROPOSAL_STATUS_REJECTED {
        background: rgba(230, 94, 94, 0.2);
        color: #e65e5e;
    }

    &__PROPOSAL_STATUS_PASSED {
        background: rgba(94, 230, 208, 0.2);
        color: #5ee6d0;
    }
}

.top-border {
    border-top: solid 1px var(--aura-light-gray);
    padding-top: var(--spacer-5);
}

.custom-apex-tooltip {
    padding: 8px;
    border: 1px var(--aura-light-gray);
    transition: all 1s;

    .tooltip {
        &-title {
            margin-bottom: 12px;
            font-weight: 500;
        }

        &-amount {
            font-weight: 400;
        }
    }
}

.text-clamp {
    display: -webkit-inline-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


.icon-close {
    width: 24px;
    cursor: pointer;
}

.json {
    &-key {
        color: #569CD6;
    }

    &-value {
        color: #AAC19E;
    }

    &-string {
        color: #CE9178;
    }
}

.table-mobile {
    &__item {
        background: #38383D;
        border-radius: 8px;
        padding: 0 12px;
        margin: 8px 0px;

        .table-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #777E91;
            padding: 12px 0px;

            &__title {

                display: flex;
                flex-direction: column;
                justify-content: center;
                .title {
                    display: flex;
                    align-items: center;
                }

                .sub-title {
                    margin-left: 32px;
                }

            }

            &__action {}
        }

        .table-body {
            padding: 12px 0px;

            &__item {
                width: 100%;
                        
                .item-link {
                    color: var(--aura-green);

                    &.disabled-link {
                        pointer-events: none;
                        color: var(--aura-white);
                    }
                }
            }

            &__revert {
                display: flex;
                flex-wrap: wrap-reverse;
            }
        }
    }
}

.box-rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 24px;
    height: 24px;

    /* Green */

    border: 2px solid #5EE6D0;
    border-radius: 1000px;


    span {
        //font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        /* Green */

        color: #5EE6D0;
    }

    &._fill {
        background-color: #5EE6D0;
        span {
            color: var(--aura-bg-contract);
        }
    }
}

.box-mob-table {
    background-color: var(--aura-dark-gray);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin: 0 auto;
}

//css text align right
.txt-right {
    text-align: right;
}


.custom-popover {
    background: var(--aura-bg-form);
    border: none;
    min-width: 200px;
    box-shadow: 2px 2px 30px #ffffff05;
    border-radius: 8px;
    @media (min-width: 576px) {
        min-width: 357px;
    }

    .arrow {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            background-color: var(--aura-bg-form);
            top: 179px;
            @media (min-width: 576px) {
                top: 163px;
            }
            left: -6px;
            transform: rotate(45deg);
        }
    }

    .popover-body {
        padding: 16px;
        min-width: 230px;
    }
}

.aura__change {
    position: relative;
    color: var(--aura-white) !important;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 500;
    &--desc {
        color: var(--aura-danger) !important;
        padding-left: 24px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            width: 24px;
            height: 24px;
            background: url("../../assets/icons/icons-svg/color/arrow-down-red.svg") center no-repeat;
        }
    }
    &--asc {
        padding-left: 24px;
        color: var(--aura-primary) !important;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            width: 24px;
            height: 24px;
            background: url("../../assets/icons/icons-svg/color/arrow-up-green.svg") center no-repeat;
        }
    }
}
