<span *ngIf="isMoreTx" class="body-02 caption-mob fw-normal-mob text--gray-5">
  More than {{ pageData?.length | number }} token{{ pageData?.length > 1 ? 's' : '' }} found
</span>
<span *ngIf="!isMoreTx" class="body-02 caption-mob fw-normal-mob text--gray-5">
  A total {{ pageData?.length | number }} token{{ pageData?.length > 1 ? 's' : '' }} found
</span>

<div *ngIf="loading" class="m-auto mt-10">
  <app-loading-sprint></app-loading-sprint>
</div>

<!-- Table -->
<ng-container>
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <div class="mt-2 mt-lg-4">
      <div
        class="nft-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5"
        id="nft-cards"
        *ngIf="!loading">
        <div class="nft-cards__col col" *ngFor="let item of dataSourceMobile; let i = index">
          <div class="nft-cards__item-border">
            <div class="nft-cards__item">
              <app-nft-card
                [nftItem]="item"
                [nftType]="getTypeFile(item)"
                nftId="{{ 'nft#' + i }}"
                [nftLink]="'/tokens/' + linkToken + '/' + item.contract_address + '/' + encodeData(item.token_id)">
              </app-nft-card>
              <div class="mt-3 nft__info">
                <span class="small-text mr-1 text--gray-1">Token ID:</span>
                <a
                  class="small-text text--primary hover-link"
                  href="/tokens/{{linkToken}}/{{ item.contract_address }}?a={{ encodeData(item.token_id) }}">
                  {{ item.token_id }}
                </a>
              </div>
              <div class="mt-1 nft__info">
                <span class="small-text mr-1 text--gray-1">Owner:</span>
                <a
                  class="small-text text--primary d-lg-none hover-link"
                  href="/tokens/{{linkToken}}/{{ item.contract_address }}?a={{ item.owner }}"
                  >{{ item.owner | cutStringPipe: 6:6 }}</a
                >
                <a
                  class="small-text text--primary d-none d-lg-inline hover-link"
                  href="/tokens/{{linkToken}}/{{ item.contract_address }}?a={{ item.owner }}"
                  >{{ item.owner | cutStringPipe: 8:8 }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <app-paginator
    [length]="pageData?.length"
    [pageSize]="pageData?.pageSize"
    (paginator)="paginatorEmit($event)"
    (pageEvent)="pageEvent($event)">
  </app-paginator>
  <ng-template #noValues>
    <app-table-no-data *ngIf="!loading"></app-table-no-data>
  </ng-template>
</ng-container>
