<div class="box-contract">
  <div class="d-flex mb-3">
    <button class="btn-contract active">Read Contract</button>
    <button class="btn-contract">Write Contract</button>
    <button class="btn-contract">Read as Proxy</button>
    <button class="btn-contract">Write as Proxy</button>
  </div>
  <div class="d-flex justify-content-between fw-bold">
    <div>
      <img src="assets/images/icons/token-contract.svg" alt="" width="14" height="17" />
      <span class="small-text text--white ml-2">Read Contract Information</span>
    </div>
    <div>
      <span class="cursor-pointer text--green mr-5">Expand all</span>
      <span class="cursor-pointer text--green">Reset</span>
    </div>
  </div>
  <div class="box-content text--white">
    <div class="">
      <div
        class="content-contract d-flex justify-content-between cursor-pointer"
        data-toggle="collapse"
        data-target="#impl"
        aria-expanded="false"
        aria-controls="collapseExample">
        <div>1. implementation</div>
      </div>
      <div class="collapse p-4" id="impl"><span class="text--green">aura</span> address</div>
    </div>
    <div class="">
      <div
        class="content-contract d-flex justify-content-between cursor-pointer"
        data-toggle="collapse"
        data-target="#admin"
        aria-expanded="false"
        aria-controls="collapseExample">
        <div>2. admin</div>
      </div>
      <div class="collapse p-4" id="admin"><span class="text--green">aura</span> address</div>
    </div>
  </div>
</div>
