::ng-deep .pagination {
  .page-item {
    margin: 0 2px;
    min-width: 24px;
    height: 24px;
    // padding: 0 ;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    color: var(--aura-white);

    .page-link {
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      padding: 0;
      color: var(--aura-white);

      &:focus {
        box-shadow: none;
      }
    }

    &.active {
      border: 1px solid var(--aura-orange-1);
      background-color: var(--aura-orange-1);
      border-radius: 4px;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
