.transparent-dialog .mat-dialog-container {
  background: transparent !important;
  box-shadow: none;
}

.wallet-popup {
  max-width: 92vw !important;

  .mat-dialog-container {
    padding: 0;
    background-color: var(--aura-gray-10) !important;
    border-radius: 8px;
    box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
  }

  &--mob {
    .mat-bottom-sheet-container {
      padding: 0;
      background-color: var(--aura-gray-10) !important;
      box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
    }
  }
}
