@import '@angular/material/theming';

@import './expansion.scss';
@import './dialog.scss';

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);
@include angular-material-typography($custom-typography);
* {
  font-family: 'Inter', Roboto, 'Helvetica Neue', sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

.mat-table {
  width: 100%;
}

.mat-bottom-sheet-container {
  padding: 0;
}
