<div id="layout-wrapper">
  <!-- Top bar -->
  <app-horizontaltopbar
    (mobileMenuButtonClicked)="onToggleMobileMenu()"
    (settingsButtonClicked)="onSettingsButtonClicked()"></app-horizontaltopbar>
  <div class="main-content">
    <div class="page-content" [ngClass]="router.url === '/login' ? 'box-mobile-login' : ''">
      <div class="container-fluid">
        <div class="row mb-4 mb-lg-6" *ngIf="notice?.content && (router.url === '/' || router.url === '/dashboard')">
          <div class="col">
            <div class="notice-warning">
              <div class="notice-icon">
                <img [src]="'assets/icons/icons-svg/color/warning-red.svg' | imageS3" alt="icon" />
                <span class="body-03 text--red-3 fw-semibold"> NOTICE </span>
              </div>
              <span class="body-03 text--gray-1 notice-content">
                {{ notice?.content }}
                <a href="{{ notice.url }}" target="_blank">
                  <i class="ph-arrow-square-out-fill body-03 text--gray-1"> </i>
                </a>
              </span>
            </div>
          </div>
        </div>

        <app-wallet-connect></app-wallet-connect>
        <!-- content -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- footer -->
    <app-footer></app-footer>
  </div>
</div>
