.transfer-card {

  .card-nodata,
  .table-token {
    height: 194px;
    margin-bottom: 0;
    overflow-y: auto;

    .aura-table {
      tr.mat-row {
        height: 68px;
      }
      td.mat-cell:first-of-type {
        padding-left: 8px;
      }
    }

    .hide-td {
      display: none;
    }

    @media (max-width: 992px) {
      .nft-list .mat-cell {
        padding-right: 0 !important;
      }
    }
  }

  .transfer-token-info {
    flex-direction: column;
  }

  .transfer-address-label {
    width: 30px;
  }

  .transfer-address {
    min-width: 180px;
    @media (max-width: 992px) {
      min-width: 172px;
    }
  }
}
