<div class="row" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <section class="col-12 col-lg-6 card-h-100 mb-4 mb-lg-0">
    <div class="card mb-0 transfer-card">
      <div class="card-body p-0">
        <div class="d-xl-flex justify-content-between align-items-center">
          <h5 class="card-header w-100 card-header-gray mb-3 text--gray-light-2 mb-xl-0 py-4">
            Fungible Token (FT) Transfer
          </h5>
        </div>
        <div class="pb-4">
          <div class="table-responsive table-token" *ngIf="dataSourceFTs.data.length > 0; else noFTValues">
            <table mat-table [dataSource]="dataSourceFTs" class="aura-table">
              <ng-container *ngFor="let template of templatesFTs; index as i">
                <ng-container [matColumnDef]="template.matColumnDef">
                  <th *matHeaderCellDef></th>
                  <td
                    mat-cell
                    *matCellDef="let data"
                    class="py-2"
                    [class.hide-td]="i === 1 && breakpoint.value.matches"
                    [class.text-end]="i === 2"
                    [class.pr-4]="i === 2">
                    <ng-container [ngSwitch]="template.matColumnDef">
                      <div *ngSwitchCase="'assets'">
                        <div class="d-flex align-items-center">
                          <img
                            class="rounded-circle"
                            [src]="data.cw20_contract?.marketing_info?.logo?.url || defaultLogoToken"
                            width="20"
                            height="20" />
                          <div class="ml-3 d-flex transfer-token-info">
                            <span *ngIf="data.cw20_contract.symbol" class="caption text-sm">{{
                              data.cw20_contract.symbol
                            }}</span>
                            <span
                              *ngIf="data.cw20_contract.name && !breakpoint.value.matches"
                              class="body-02 d-xl-none"
                              >{{ data.cw20_contract.name | stringEllipsis : 16 }}</span
                            >
                            <span
                              *ngIf="data.cw20_contract.name && !breakpoint.value.matches"
                              class="body-02 d-none d-xl-inline"
                              >{{ data.cw20_contract.name }}</span
                            >
                            <span
                              *ngIf="breakpoint.value.matches"
                              class="body-02"
                              [appBigNumber]="data.amount"
                              [decimal]="data.cw20_contract.decimal"></span>
                          </div>
                        </div>
                      </div>
                      <ng-container *ngIf="!breakpoint.value.matches">
                        <div *ngSwitchCase="'amount'" class="d-flex transfer-token-info">
                          <span class="caption fw-normal text--gray-4">Amount</span>
                          <span
                            class="body-02"
                            [appBigNumber]="data[template.matColumnDef]"
                            [decimal]="data.cw20_contract.decimal"></span>
                        </div>
                      </ng-container>

                      <div *ngSwitchCase="'transfer'" class="d-inline-block pr-lg-5">
                        <div class="mb-1 text-start">
                          <span class="caption fw-normal text--gray-4 mr-1 transfer-address-label d-inline-block"
                            >From</span
                          >
                          <app-name-tag [value]="data.from || nullAddress" [url]="'contracts'"></app-name-tag>
                        </div>
                        <div class="text-start">
                          <span class="caption fw-normal text--gray-4 mr-1 transfer-address-label d-inline-block"
                            >To</span
                          >
                          <app-name-tag [value]="data.to || nullAddress" [url]="'contracts'"></app-name-tag>
                        </div>
                      </div>
                    </ng-container>
                  </td>
                </ng-container>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFTs"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFTs"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell g-no-data" colspan="9999">
                  {{ 'NO DATA' | translate }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <ng-template #noFTValues>
          <div class="card card-nodata">
            <app-table-no-data
              [textNull]="'No FTs transfer activity due to this transaction'"
              [img]="'assets/images/notFoundNFT.png'"
              [class]="'img-height'"
              [classText]="'body'"></app-table-no-data>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  <section class="col-12 col-lg-6 card-h-100 mb-4 mb-lg-0">
    <div class="card mb-0 transfer-card">
      <div class="card-body p-0">
        <div class="d-xl-flex justify-content-between align-items-center">
          <h5 class="card-header w-100 card-header-gray mb-3 text--gray-light-2 mb-xl-0 py-4">
            Non-Fungible Token (NFT) Transfer
          </h5>
        </div>
        <div class="pb-4">
          <div class="table-responsive table-token" *ngIf="dataSourceNFTs.data.length > 0; else noValues">
            <table mat-table [dataSource]="dataSourceNFTs" class="aura-table nft-list">
              <ng-container *ngFor="let template of templatesNFTs; index as i">
                <ng-container [matColumnDef]="template.matColumnDef">
                  <th *matHeaderCellDef></th>
                  <td
                    mat-cell
                    *matCellDef="let data"
                    class="py-2"
                    [class.hide-td]="i === 2 && breakpoint.value.matches">
                    <div>
                      <ng-container [ngSwitch]="template.matColumnDef">
                        <div *ngSwitchCase="'nft'">
                          <div class="d-flex transfer-token-info">
                            <div *ngIf="!breakpoint.value.matches">
                              <span class="caption fw-normal text--gray-4 mr-1">Token ID</span>
                              <span>{{ data?.cw721_token?.token_id }}</span>
                            </div>
                            <div *ngIf="breakpoint.value.matches" class="d-flex">
                              <span>{{ data?.cw721_token?.token_id }}</span>
                              <div
                                *ngIf="breakpoint.value.matches"
                                class="ml-1"
                                (click)="
                                  navigateToNFTDetail(
                                    data?.cw721_contract?.smart_contract?.address,
                                    data?.cw721_token?.token_id
                                  )
                                ">
                                <i class="ph-arrow-square-out-fill text--gray-1 body-01 h5-mob mb-0"></i>
                              </div>
                            </div>
                            <div>
                              <app-name-tag [value]="data.to" [iconContract]="true" [url]="'contracts'"></app-name-tag>
                            </div>
                          </div>
                        </div>

                        <div *ngSwitchCase="'transfer'">
                          <div class="mb-1">
                            <span class="caption fw-normal text--gray-4 mr-1 transfer-address-label d-inline-block"
                              >From</span
                            >
                            <app-name-tag [value]="data.from || nullAddress" [url]="'contracts'"></app-name-tag>
                          </div>
                          <div>
                            <span class="caption fw-normal text--gray-4 mr-1 transfer-address-label d-inline-block"
                              >To</span
                            >
                            <app-name-tag [value]="data.to || nullAddress" [url]="'contracts'"></app-name-tag>
                          </div>
                        </div>
                        <ng-container *ngIf="!breakpoint.value.matches">
                          <div *ngSwitchCase="'action'" class="text-end">
                            <button
                              class="button button--sm button-outline button-outline--gradient button-outline__in-card button-pill"
                              [routerLink]="[
                                '/tokens/token-nft/',
                                data?.cw721_contract?.smart_contract?.address,
                                data?.cw721_token?.token_id
                              ]">
                              <span>NFT</span>
                            </button>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsNFTs"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsNFTs"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell g-no-data" colspan="9999">
                  {{ 'NO DATA' | translate }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <ng-template #noValues>
          <div class="card card-nodata">
            <app-table-no-data
              [textNull]="'No NFTs transfer activity due to this transaction'"
              [img]="'assets/images/notFoundNFT.png'"
              [class]="'img-height'"
              [classText]="'body'"></app-table-no-data>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
</div>
