.single-input-field {
  min-width: 100%;
  @media (min-width: 1440px) {
    min-width: 410px;
  }
}
.aura-basic-table tr td:not(:last-child) {
  border-right: 1px solid var(--aura-gray-9);
}
.input-group {
  background-color: var(--aura-bg-form);
  padding: var(--spacer-1) var(--spacer-4) !important;
}
.aura-nav-tabs.nav-tabs {
  flex-wrap: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tab-token {
  width: 100%;
  .nav-item {
    min-width: 130px;
  }
}
.border-x {
  border-top: 1px solid var(--aura-gray-9);
  border-bottom: 1px solid var(--aura-gray-9);
  @media (min-width: 992px) {
    border-left: 1px solid var(--aura-gray-9);
    //border-right: 1px solid var(--aura-gray-9);
    border-top: none;
    border-bottom: none;
  }
}
.no-border-bottom {
  border-bottom: none;
}
