<ng-container *ngIf="textSearch && textSearch?.length > 0">
  <section class="text--white">
    <div *ngIf="isSearchTx" class="p-4 card main-tab">
      <p class="small-text d-flex align-item-center">
        <img [src]="'assets/images/icons/token-tx.png' | imageS3" class="mr-2" alt="" width="15" height="15" />
        FILTER BY TOKEN TXN HASH
      </p>
      <a class="text--primary" [routerLink]="['/transaction', textSearch]">{{ textSearch }}</a>
    </div>
    <div *ngIf="!isSearchTx && isSearchAddress" class="card main-tab p-3">
      <div class="table-responsive">
        <table class="aura-basic-table w-100">
          <tr>
            <td>
              <div class="small-text d-flex align-item-center mb-1">
                <img
                  [src]="'assets/images/icons/token-holder.png' | imageS3"
                  class="mr-2"
                  alt=""
                  width="15"
                  height="15" />
                FILTER BY TOKEN HOLDER
              </div>
              <a class="text--primary" [routerLink]="['/account', textSearch]">{{ textSearch }}</a>
            </td>
            <td>
              <div class="small-text txt-light mb-1">BALANCE</div>
              <span *ngIf="!tokenDetail?.isNFTContract"
                >{{ infoSearch?.balance || 0 | number: global.formatNumberToken }} {{ tokenDetail.name }}</span
              >
              <span *ngIf="tokenDetail?.isNFTContract">{{ infoSearch?.balance || 0 }}</span>
            </td>
            <td *ngIf="!tokenDetail?.isNFTContract">
              <div class="small-text txt-light mb-1">VALUE</div>
              - ( - {{ denom }})
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</ng-container>
<section class="card main-tab mt-2 p-4">
  <div class="d-lg-flex justify-content-between align-items-end tab-wrapper tab-token">
    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="0"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-lg-8 mb-4 mb-lg-0">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a ngbNavLink (click)="changeTab(tab.key)" class="verify-contract">
            <span class="tab-title mr-2">{{ tab.value }}</span>
            <img
              *ngIf="tab.key === tokenTab.Contract"
              [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
              alt="contract_verification"
              width="16px"
              height="16px" />
          </a>
        </li>
      </ng-container>
    </ul>
    <div class="d-lg-flex align-item-center justify-content-end">
      <form class="aura-form single-input-field search-form">
        <div class="input-group small-input">
          <input
            type="text"
            class="form-control aura-form"
            placeholder="Filter Address/ TX Hash/ Token ID"
            [(ngModel)]="searchTemp"
            [maxLength]="maxLengthSearch"
            name="search"
            (keyup.enter)="handleSearch()"
            [disabled]="paramQuery?.length > 0"
            autocomplete="off" />
          <button type="submit" class="btn-search {{ searchTemp && searchTemp?.length > 0 ? 'd-none' : '' }}">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="cursor-pointer btn-reset {{
              !searchTemp || (searchTemp && searchTemp.length === 0) ? 'd-none' : ''
            }}"
            (click)="resetSearch()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-4 mt-lg-3">
    <app-token-transfers-tab
      *ngIf="countCurrent === ''"
      [isNFTContract]="tokenDetail?.isNFTContract"
      [keyWord]="textSearch"
      [contractAddress]="contractAddress"
      [isSearchAddress]="isSearchAddress"
      (resultLength)="getLength($event)"></app-token-transfers-tab>
    <app-token-holders-tab
      *ngIf="countCurrent === tokenTab.Holders"
      [keyWord]="textSearch"
      [isNFTContract]="tokenDetail?.isNFTContract"
      [contractAddress]="contractAddress"></app-token-holders-tab>
    <app-token-inventory-tab *ngIf="countCurrent === tokenTab.Inventory"></app-token-inventory-tab>
    <app-token-info-tab *ngIf="countCurrent === tokenTab.Info"></app-token-info-tab>
    <app-token-contract-tab
      *ngIf="countCurrent === tokenTab.Contract"
      [contractAddress]="contractAddress"></app-token-contract-tab>
  </div>
</section>
