<ng-container *ngIf="textSearch && textSearch?.length > 0">
  <section class="text--white">
    <div *ngIf="isSearchTx" class="px-4 py-4 py-lg-3 card border_none">
      <p class="caption d-flex align-item-center mb-1 mb-lg-0">
        <img [src]="'assets/images/icons/token-tx.png' | imageS3" class="mr-2" alt="" width="18px" height="18px" />
        FILTER BY TOKEN TXN HASH
      </p>
      <a class="text--primary body-02" [routerLink]="['/transaction', textSearch]">{{ textSearch }}</a>
    </div>
    <div *ngIf="!isSearchTx && isSearchAddress" class="card main-tab py-3 py-lg-4 px-4">
      <div class="row">
        <div class="col-12 col-lg-5 py-3 py-lg-0">
          <div class="caption d-flex align-item-center mb-1 mb-lg-0">
            <img
              [src]="'assets/images/icons/token-holder.png' | imageS3"
              class="mr-2"
              alt=""
              width="18px"
              height="18px" />
            FILTER BY ADDRESS
          </div>
          <a
            class="body-02 text--primary"
            [routerLink]="[textSearch?.length > lengthNormalAddress ? '/contracts' : '/account', textSearch]"
            >{{ textSearch }}</a
          >
        </div>
        <div
          class="col-12 col-lg-4 pt-3 py-lg-0 px-lg-4 border-x text--gray-1 {{
            tokenDetail?.isNFTContract ? 'no-border-bottom pb-0' : 'pb-3'
          }}">
          <div class="caption text--gray-5 mb-1 mb-lg-0">BALANCE</div>
          <span *ngIf="!tokenDetail?.isNFTContract">
            {{ infoSearch['balance'] || 0 | number: global.formatNumberToken }}
            {{ tokenDetail.symbol || tokenDetail.name }}
          </span>
          <span *ngIf="tokenDetail?.isNFTContract">{{ infoSearch['balance'] || 0 }}</span>
        </div>
        <div class="col-12 col-lg-3 py-3 py-lg-0 text--gray-1" *ngIf="!tokenDetail?.isNFTContract">
          <div class="caption text--gray-5 mb-1 mb-lg-0">VALUE</div>
          ${{ +infoSearch['balance'] * tokenDetail.price | number: global.formatNumber2Decimal }} (
          {{ (infoSearch['balance'] * tokenDetail.price) / global.price.aura | number: global.formatNumberToken }}
          {{ denom }})
        </div>
      </div>
    </div>
  </section>
</ng-container>
<section class="card mt-2 p-4" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="d-lg-flex justify-content-between align-items-end tab-wrapper tab-token">
    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="0"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-lg-8 mb-4 mb-lg-0">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a ngbNavLink (click)="changeTab(tab.key)" class="verify-contract">
            <span class="text-uppercase">{{ tab.value }}</span>
            <img
              class="ml-2"
              *ngIf="
                tab.key === tokenTab.Contract && tokenDetail.contract_verification !== contractVerifyType.Unverifed
              "
              [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
              alt="contract_verification"
              width="16px"
              height="16px" />
          </a>
        </li>
      </ng-container>
    </ul>
    <div class="d-lg-flex align-item-center justify-content-end mb-3 mb-lg-0">
      <form
        class="aura-form single-input-field search-form"
        *ngIf="
          !breakpoint.value.matches ||
          (breakpoint.value.matches && (countCurrent === '' || countCurrent === tokenTab.Holders))
        ">
        <div class="input-group">
          <input
            type="text"
            class="form-control aura-form"
            placeholder="Filter Address/ TX Hash/ Token ID"
            [(ngModel)]="searchTemp"
            [maxLength]="maxLengthSearch"
            name="search"
            (keyup.enter)="handleSearch()"
            [disabled]="paramQuery?.length > 0"
            autocomplete="off" />
          <button type="submit" class="btn-search {{ searchTemp && searchTemp?.length > 0 ? 'd-none' : '' }}">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="cursor-pointer btn-reset {{
              !searchTemp || (searchTemp && searchTemp.length === 0) ? 'd-none' : ''
            }}"
            (click)="resetSearch()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-lg-3">
    <app-token-transfers-tab
      *ngIf="countCurrent === ''"
      [isNFTContract]="tokenDetail?.isNFTContract"
      [keyWord]="textSearch"
      [contractAddress]="contractAddress"
      [isSearchAddress]="isSearchAddress"
      (resultLength)="getLength($event)"
      (hasMore)="getMoreTx($event)">
    </app-token-transfers-tab>
    <app-token-holders-tab
      *ngIf="countCurrent === tokenTab.Holders"
      [keyWord]="textSearch"
      [tokenDetail]="tokenDetail"
      [isNFTContract]="tokenDetail?.isNFTContract"
      [contractAddress]="contractAddress"></app-token-holders-tab>
    <app-token-inventory-tab *ngIf="countCurrent === tokenTab.Inventory"></app-token-inventory-tab>
    <app-token-info-tab *ngIf="countCurrent === tokenTab.Info"></app-token-info-tab>
    <app-token-contract-tab
      *ngIf="countCurrent === tokenTab.Contract"
      [contractAddress]="contractAddress"></app-token-contract-tab>
  </div>
</section>
