<div
  id="popupCopy"
  class="code-contract justify-content-between text--white mt-5"
  *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="contractDetailData?.contract_verification === contractVerifyType.Exact_Match">
    <img [src]="'assets/images/icons/contract-verify.svg' | imageS3" alt="" width="16" height="16" />
    <span class="ml-2 mr-1 fw-semibold">Contract Source Code Verified</span
    ><span class="text--light-gray">(Exact Match)</span>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification === contractVerifyType.Similar_Match">
    <img [src]="'assets/images/icons/contract-simimar.svg' | imageS3" alt="" width="16" height="16" />
    <span class="ml-2 mr-1 fw-semibold">Similar Match Source Code</span>
    <div class="text--light-gray mt-4 mb-2 box-note">
      <span>Note: This contract matches the deployed ByteCode of the Source Code for Contract</span>
      <a class="text--green ml-1" href="/contracts/{{ contractDetailData?.contract_match }}">
        {{ contractDetailData?.contract_match }}</a
      >
    </div>
  </ng-container>

  <div
    class="d-flex row my-1 my-lg-0"
    *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="col-lg-6 col-12">
      <table class="aura-basic-table w-100 table-detail">
        <tr>
          <td>Contract Name:</td>
          <td class="fw-semibold">{{ contractDetailData?.contract_name }}</td>
        </tr>
        <tr>
          <td>Compiler Version:</td>
          <td class="text--contract fw-semibold">{{ contractDetailData?.compiler_version }}</td>
        </tr>
      </table>
    </div>
    <!-- <div class="col-lg-6 col-12">
      <table class="aura-basic-table w-100 table-detail">
        <tr>
          <td>Optimization Enabled:</td>
          <td><span class="fw-semibold">No</span> with <span class="fw-semibold">200</span> runs</td>
        </tr>
        <tr>
          <td>Other Settings:</td>
          <td><span class="fw-semibold">default</span> evmVersion</td>
        </tr>
      </table>
    </div> -->
  </div>
  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <!-- Link Contract Source Code -->
    <div class="mt-3 mb-3">
      <img [src]="'assets/images/icons/token-contract.svg' | imageS3" alt="" width="14" height="17" />
      <span class="text--white ml-2 fw-semibold">Link Contract Source Code</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="w-100 text-nowrap small-text content-info link-url mr-6" [class.g-ellipsis]="breakpoint.value.matches">
        {{ contractDetailData?.url }}
      </div>
      <div class="d-flex justify-content-end">
          <button
            class="button button-chart button-outline button-outline__in-card btn-copy"
            matTooltip="Copied!"
            #tooltip1="matTooltip"
            (mouseenter)="$event.stopImmediatePropagation()"
            (mouseleave)="$event.stopImmediatePropagation()"
            (click)="copyData(contractDetailData?.url); tooltip1.toggle()">
            <span class="ml-1">Copy</span>
          </button>
        </div>
    </div>
    <!-- File Contract Source Code -->
    <div *ngIf="contractDetailData.s3_location">
      <div class="mt-3 mb-3">
        <img src="assets/images/icons/token-contract.svg" alt="" width="14" height="17" />
        <span class="text--white ml-2 fw-semibold">File Contract Source Code</span>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="w-100 text-nowrap small-text content-info link-url mr-6" [class.g-ellipsis]="breakpoint.value.matches">
          {{ contractDetailData?.s3_location.split('/')[contractDetailData?.s3_location.split('/').length-1] }}
        </div>
        <a href="{{contractDetailData?.s3_location}}"
           class="button button-chart button-outline button-outline__in-card d-flex flex-shrink-0">
          <img src="assets/icons/icons-svg/white/download.svg" alt="" width="16px" height="16px" class="d-none d-lg-block">
          <span class="ml-2 text-white">{{ breakpoint.value.matches ? 'Download' : 'Download ZIP'}}</span>
        </a>
      </div>
    </div>
    <!-- Contract Schema -->
    <div class="d-flex justify-content-between align-items-center my-4 mt-lg-6 mb-lg-5">
      <div>
        <img [src]="'../../../assets/icons/icons-svg/basic/menu.svg' | imageS3" alt="" width="16" height="16" />
        <span class="text--white ml-2 fw-semibold">Contract Schema</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="d-flex justify-content-between align-items-center" [class.row]="breakpoint.value.matches">
      <span class="text--contract" [class.col-12]="breakpoint.value.matches">File 1 of 3: execute msg.ison</span>
      <div
        class="d-flex align-items-center justify-content-end mt-1 mt-lg-0"
        [class.btn-export-mob]="breakpoint.value.matches">
        <div class="dropdown aura-dropdown small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center button-export"
            type="button"
            id="delegateAction1"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0"
              [src]="'../../../../assets/icons/icons-svg/color/chevron-down.svg' | imageS3"
              alt="wallet-avatar"
              height="24px"
              width="24px" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction1">
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
          class="mx-6 cursor-pointer icon-contract"
          alt=""
          matTooltip="Copied!"
          #tooltip2="matTooltip"
          (mouseenter)="$event.stopImmediatePropagation()"
          (mouseleave)="$event.stopImmediatePropagation()"
          (click)="copyData(contractDetailData?.execute_msg_schema); tooltip2.toggle()" />
        <img
          [src]="'assets/images/icons/address-popup.png' | imageS3"
          alt=""
          class="cursor-pointer icon-contract"
          (click)="pre1.className.includes('show') ? pre1.classList.remove('show') : pre1.classList.add('show')" />
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre1>{{ contractDetailData?.execute_msg_schema }}</pre>

    <div class="d-flex justify-content-between align-items-center mt-2" [class.row]="breakpoint.value.matches">
      <span class="text--contract" [class.col-12]="breakpoint.value.matches">File 2 of 3: instantiate msg.json</span>
      <div
        class="d-flex align-items-center justify-content-end mt-1 mt-lg-0"
        [class.btn-export-mob]="breakpoint.value.matches">
        <div class="dropdown aura-dropdown small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center button-export"
            type="button"
            id="delegateAction2"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0 icon-contract"
              [src]="'../../../../assets/icons/icons-svg/color/chevron-down.svg' | imageS3"
              alt="wallet-avatar" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction2">
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
          class="mx-6 cursor-pointer icon-contract"
          alt=""
          matTooltip="Copied!"
          #tooltip3="matTooltip"
          (mouseenter)="$event.stopImmediatePropagation()"
          (mouseleave)="$event.stopImmediatePropagation()"
          (click)="copyData(contractDetailData?.instantiate_msg_schema); tooltip3.toggle()" />
        <img
          [src]="'assets/images/icons/address-popup.png' | imageS3"
          alt=""
          class="cursor-pointer icon-contract"
          (click)="pre2.className.includes('show') ? pre2.classList.remove('show') : pre2.classList.add('show')" />
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre2>{{ contractDetailData?.instantiate_msg_schema }}</pre>

    <div class="d-flex justify-content-between align-items-center mt-2" [class.row]="breakpoint.value.matches">
      <span class="text--contract" [class.col-12]="breakpoint.value.matches">File 3 of 3: query msg.json</span>
      <div
        class="d-flex align-items-center justify-content-end mt-1 mt-lg-0"
        [class.btn-export-mob]="breakpoint.value.matches">
        <div class="dropdown aura-dropdown small-text">
          <button
            class="button button-outline button-outline__in-card d-flex align-items-center button-export"
            type="button"
            id="delegateAction3"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
              class="flex-shrink-0"
              [src]="'../../../../assets/icons/icons-svg/color/chevron-down.svg' | imageS3"
              alt="wallet-avatar"
              height="24px"
              width="24px" />
            <span class="">Export Schema</span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="delegateAction3">
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('json', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JSON Format</button>
            </li>
            <li
              class="dropdown-item cursor-pointer"
              (click)="sendRouteObject('text', contractDetailData?.execute_msg_schema)">
              <button type="button" class="button p-0 small-text">JRAW/Text Format</button>
            </li>
          </ul>
        </div>
        <img
          [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
          class="mx-6 cursor-pointer icon-contract"
          alt=""
          matTooltip="Copied!"
          #tooltip4="matTooltip"
          (mouseenter)="$event.stopImmediatePropagation()"
          (mouseleave)="$event.stopImmediatePropagation()"
          (click)="copyData(contractDetailData?.query_msg_schema); tooltip4.toggle()" />
        <img
          [src]="'assets/images/icons/address-popup.png' | imageS3"
          alt=""
          class="cursor-pointer icon-contract"
          (click)="pre3.className.includes('show') ? pre3.classList.remove('show') : pre3.classList.add('show')" />
      </div>
    </div>
    <pre class="mt-3 small-text content-info" #pre3>{{ contractDetailData?.query_msg_schema }}</pre>
  </ng-container>

  <ng-container *ngIf="contractDetailData?.contract_verification !== contractVerifyType.Unverifed">
    <div class="mt-2">
      <img [src]="'../../../assets/icons/icons-svg/basic/code.svg' | imageS3" alt="" width="16" height="16" />
      <span class="text--white ml-2 fw-semibold">Contract Creation Code</span>
    </div>

    <div class="mt-3 small-text content-info">
      {{ contractDetailData?.contract_hash }}
    </div>
  </ng-container>
</div>
