.code-contract {
  pre.content-info {
    min-height: 124px;
    align-items: start;
    @media (max-width: 991.98px) {
      &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
      }
    }
  }
  .content-info {
    background: var(--aura-gray-9);
    padding: 0 var(--spacer-4);
    min-height: 34px;
    @media (min-width: 992px) {
      min-height: 32px;
    }
    border-radius: 8px;
    color: var(--aura-gray-1);
    max-height: 203px;
    transition: all 0.5s ease-in-out;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    &.show {
      max-height: 9999px;
      height: auto;
    }
    &-ellipsis {
      display: inline;
      padding: 7px 16px;
    }
  }

  li.dropdown-item {
    padding: var(--spacer-2) var(--spacer-4);

    button {
      color: var(--aura-gray-1);
    }

    &:first-child {
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
      padding-top: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      padding-bottom: 10px;
    }
  }

  .txt-title {
    margin: 10px 4px 10px 8px;
  }

  .aura-basic-table {
    tr,
    td {
      color: var(--aura-gray-1);
    }
  }
}

@media (max-width: 414px) {
  .content-info {
    max-height: 162px;
  }
  pre.content-info {
    white-space: break-spaces;
  }
  .aura-basic-table {
    tr,
    td {
      width: 50%;
    }
  }
  .btn-export-mob {
    width: 100%;
    justify-content: end;
    margin-top: 8px;
  }
  .box-note {
    word-break: break-all;
  }
}
@media (max-width: 991.99px) {
  .table-detail {
    tr {
      td {
        padding: 12px 0;
        &:first-child {
          width: 140px;
        }
      }
    }
  }
}
.aura-dropdown .dropdown-menu.aura-dropdown-menu li.dropdown-item:hover {
  background-color: var(--aura-gray-10);
}
