<div class="row">
    <div class="col-12">
        <a [routerLink]="'/'" class="button button-chart button-outline">
            <img src="assets/icons/icons-svg/color/chart-pie-right.svg" alt="" width="16px">
            <span class="text-gradient ml-1">Token Holders Chart</span>
        </a>
    </div>
    <div class="col-12 mt-3">
        <span class="small-body text--light-gray">Top 1,000 holders (From a total of 322,259 holders)</span>
    </div>
</div>
<!-- Table -->
<div class="row mt-4">
    <div class="col-12">
        <div *ngIf="loading" class="m-auto">
            <app-loading-sprint></app-loading-sprint>
        </div>
        <ng-container *ngIf="pageData?.length > 0; else noValues">
            <div class="table-responsive aura-table-contain">
                <table mat-table [dataSource]="dataSource" class="aura-table d-none d-lg-table">
                    <!-- Rank Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef style="min-width: 50px">Rank</th>
                        <td mat-cell *matCellDef="let element"><span class="token-id">{{ element.id }}</span></td>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Address</th>
                        <td mat-cell *matCellDef="let element" class="title-cell py-4">
                            <a [routerLink]="['/smart-contract/token', element.hashCode]" class="text-clamp">{{ element.name }}</a>
                        </td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">${{ element.amount | number: global.formatNumberOnlyDecimal }}</td>
                    </ng-container>

                    <!-- Percentage Column -->
                    <ng-container matColumnDef="percentage">
                        <th mat-header-cell *matHeaderCellDef>Percentage</th>
                        <td mat-cell *matCellDef="let element">{{ element.percentage }}%</td>
                    </ng-container>

                    <!-- Value Column -->
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element">${{ element.value | number: global.formatNumberOnlyDecimal }}</td>
                    </ng-container>

                    <!-- Analytics -->
                    <ng-container matColumnDef="hashCode">
                        <th mat-header-cell *matHeaderCellDef>Analytics</th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/smart-contract/token', element.hashCode]">
                                <img src="assets/icons/icons-svg/color/chart-line-up.svg" alt="">
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell g-no-data" colspan="9999">
                            {{ 'NO DATA' | translate }}
                        </td>
                    </tr>
                </table>
                <app-paginator
                        [length]="pageData.length"
                        [pageSize]="pageData.pageSize"
                        (paginator)="paginatorEmit($event)">
                </app-paginator>
            </div>
        </ng-container>
        <ng-template #noValues>
            <app-table-no-data></app-table-no-data>
        </ng-template>
    </div>
</div>
