.wallet-connect-container {
  margin-bottom: 22px;

  .connection-info {
    span {
      margin-left: 4px;
      color: var(--aura-gray-2);
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  @media (max-width: 414px) {
    margin-bottom: 16px;
  }
}

.box-connect {
  box-shadow: 2px 1000px 1px var(--aura-black) inset !important;
  padding: 0px 16px 0px 8px;
  height: 32px;
  border: 1px solid var(--aura-gray-9);
  cursor: unset;
}

.box-connect-wallet {
  .divider-vertical {
    height: 32px;
  }

  .aura-tooltip-object {
    background: none;
  }

  .txt-wallet,
  .txt-disconnect:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .txt-disconnect:hover {
    color: var(--aura-blue-4);
  }

  @media (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
  }
}
