.wallet-connect-container {
  margin-bottom: 22px;

  .connection-info {
    span {
      margin-left: 4px;
      color: var(--aura-gray-2);
      font-size: 12px;
      line-height: 16px;
    }
  }
  @media (max-width: 414px) {
    margin-bottom: 16px;
  }
}

.box-connect {
  box-shadow: 2px 1000px 1px var(--aura-black) inset !important;
  padding: 0px 16px 0px 8px;
  height: 32px;
  border: 1px solid var(--aura-gray-9);
  cursor: unset;
}
