<div class="wallet-connect-container">
  <ng-container *ngIf="{ wallet: wallet$ | async } as ng">
    <button
      #connectButton
      *ngIf="!ng.wallet"
      type="button"
      class="button button-pill box-connect caption fw-normal cursor-pointer"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWallet"
      aria-controls="offcanvasWallet">
      <span class="icon-connect"></span>
      <span class="text--white">Connect Wallet</span>
    </button>

    <div *ngIf="ng.wallet" class="d-flex align-items-center box-connect-wallet">
      <div class="button button-pill button--xs box-connect caption fw-normal">
        <span class="icon-connect connected"></span>
        <span class="fw-semibold fw-normal-mob text--gray-1 d-flex align-items-center">
          <span class="txt-wallet cursor-pointer" [routerLink]="['/account/', ng.wallet?.bech32Address]">
            <ng-container *ngIf="ng.wallet?.name">
              {{ ng.wallet?.name | cutStringPipe : 16 }}
            </ng-container>
            <ng-container *ngIf="!ng.wallet?.name">
              {{ ng.wallet?.bech32Address | cutStringPipe : 8 : 8 }}
            </ng-container>
          </span>
          <div class="aura-tooltip-contain ml-2">
            <button
              class="aura-tooltip-object disabled-hover p-0"
              #tooltip
              (click)="commonService.showToolTip(tooltip)"
              [cdkCopyToClipboard]="ng.wallet?.bech32Address">
              <i class="ph-light ph-copy body-01 text--white"></i>
            </button>
            <app-tooltip-customize [content]="'BUTTON.COPIED' | translate"> </app-tooltip-customize>
          </div>
        </span>
      </div>
      <div class="divider divider-vertical mx-2 mx-lg-3 d-none d-lg-flex"></div>
      <div class="text--blue-3link caption fw-normal cursor-pointer d-flex align-items-center" (click)="disconnect()">
        <span class="txt-disconnect">Disconnect</span>
        <img
          [src]="'assets/icons/icons-svg/color/disconnect.svg' | imageS3"
          alt=""
          width="18px"
          height="18px"
          class="ml-1" />
      </div>
    </div>
    <div
      class="offcanvas offcanvas-wallet offcanvas-end"
      tabindex="-1"
      id="offcanvasWallet"
      #offcanvasWallet
      aria-labelledby="offcanvasWalletLabel">
      <div class="offcanvas-body p-0">
        <div class="wallet-container">
          <div class="card border-0">
            <div class="card-body" *ngIf="{ b: breakpoint$ | async } as breakpoint">
              <app-wallet-list
                [disabled]="breakpoint.b.matches"
                (onConnect)="connectWallet($event)"
                (onDismiss)="dismiss()"></app-wallet-list>
            </div>
          </div>
        </div>
      </div>
      <button #buttonDismiss class="d-none" data-bs-dismiss="offcanvas"></button>
    </div>
  </ng-container>
</div>
