<div class="sbt-contain {{ sbtClass }}" [ngClass]="!isSBTValidator ? 'text-end' : 'sbt-validator'" *ngIf="!isLoading">
  <div class="d-flex w-100 justify-content-between mb-4" *ngIf="displayManage">
    <h3 class="mb-0 fw-700 text--gray-light-2">ABTs ({{ totalABT || 0 }})</h3>
    <a
      [routerLink]="['/accountbound/address', accountAddress]"
      (click)="setLinkTab()"
      [class.mr-2]="soulboundUnclaimedNum > 0 && wallet === userAddress"
      class="button button-pill button-outline button--sm position-relative d-inline-flex btn-sbt">
      <span class="caption fw-normal">{{ wallet === accountAddress ? 'Manage my ABTs' : 'See more' }} </span>
      <span
        class="nft__unclaimed-noti caption"
        *ngIf="soulboundUnclaimedNum > 0 && wallet === userAddress"
        [appTooltip]="
          'You have new un-claimed Account Bound Token(s) (ABTs). </br>Kindly check and manage your ABTs in your account.'
        "
        [classTooltip]="'tooltip--left'"
        [class.noti--pill]="soulboundUnclaimedNum > 9">
        {{ soulboundUnclaimedNum > 99 ? '99+' : soulboundUnclaimedNum }}
      </span>
    </a>
  </div>
  <div
    class="soulbound-list mt-lg-0 d-flex align-items-center"
    [class.mt-0]="isSBTValidator"
    [class.mt-4]="!isSBTValidator">
    <ng-container *ngIf="soulboundList && soulboundList?.length > 0; else noNFT">
      <div
        id="nft-cards"
        class="{{
          !isSBTValidator
            ? 'AccountDetail row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5 w-100 flex-nowrap flex-grow-1 pb-2'
            : 'sbt-validator'
        }}">
        <div
          *ngFor="let token of soulboundList; let last = last; let i = index"
          [class.sbt-card-contain]="sbtPage"
          [class.mr-0]="last">
          <div class="soulbound__item" [class.sbt-validator]="isSBTValidator" *ngIf="token.picked">
            <div class="nft-cards__item-border" [class.mr-0]="last">
              <div class="nft-cards__item">
                <app-nft-card
                  nftId="{{ 'nft#' + i }}"
                  [nftLink]="'/token/cw4973/' + token.contract_address + '/' + token.token_id"
                  [nftItem]="token"
                  [nftType]="getTypeFile(token)"></app-nft-card>
                <div class="nft-cards__label" [class.sbt-validator]="isSBTValidator">
                  <span class="text--white">CW-4973</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noNFT>
      <div class="w-100" *ngIf="isAccountDetail">
        <app-table-no-data
          [textNull]="wallet === accountAddress ? 'Kindly pick your featured ABTs' : 'No ABTs highlighted by the owner'"
          [img]="'assets/images/noItemABT.png'"></app-table-no-data>
      </div>
    </ng-template>
  </div>
</div>
