<div class="sbt-contain" [ngClass]="!isSBTValidator ? 'text-end' : 'sbt-validator'">
  <div class="soulbound-list" *ngIf="soulboundList && soulboundList?.length > 0">
    <ng-container *ngFor="let token of soulboundList; let last = last">
      <div class="soulbound__item">
        <ng-container *ngIf="token.picked">
          <a
            href="javascript:void(0)"
            class="nft-card d-block"
            (click)="linkSBDetail(token.contract_address, token.token_id)">
            <app-sb-img [token]="token"></app-sb-img>
          </a>
        </ng-container>
        <ng-container *ngIf="!token.picked">
          <div class="nft-card nft__unclaimed">
            <div class="position-relative text-center">
              <app-sb-img [token]="token"></app-sb-img>
              <button
                class="button button-pill button--sm button-flat btn-preview border_none px-3 px-lg-4"
                (click)="getSBTDetail(token.contract_address, token.token_id)">
                <span>Preview</span>
              </button>
            </div>
            <div class="text-center text--yellow-3 mt-3">{{ token.status }}</div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <a
    [routerLink]="['/accountbound/account', accountAddress]"
    class="button button-pill button-outline button-outline--gradient button-outline__in-card button--sm mt-md-3 mt-lg-0 mt-xl-3 position-relative"
    [class.mr-2]="soulboundUnclaimedNum > 0"
    [class.mt-6]="soulboundList && soulboundList?.length > 0"
    (click)="setLinkTab()"
    *ngIf="wallet === accountAddress && displayManage && !isLoading">
    <span>Manage your ABTs</span>
    <span
      class="nft__unclaimed-noti caption"
      matTooltip="You have new un-claimed Account Bound Token(s) (ABTs). Kindly check and manage your ABTs in your account."
      [matTooltipPosition]="'above'"
      *ngIf="soulboundUnclaimedNum > 0"
      [class.noti--pill]="soulboundUnclaimedNum > 9"
      >{{ soulboundUnclaimedNum > 99 ? '99+' : soulboundUnclaimedNum }}</span
    >
  </a>
  <!-- Placeholder space for flex position -->
  <ng-container *ngIf="!isSBTValidator">
    <div
      class="button button--sm mt-md-3 mt-lg-0 mt-xl-3"
      *ngIf="wallet !== accountAddress || !displayManage || isLoading"></div>
  </ng-container>
</div>
