.btn-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.soulbound-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  @media (min-width: 991.98px) {
    justify-content: flex-end;
  }
  .soulbound__item {
    flex-basis: 20%;
    box-sizing: border-box;
    .nft-card {
      min-height: 120px;
      max-width: 90px;
    }
    padding: var(--spacer-2) var(--spacer-3);
    @media (min-width: 413.98px) {
      padding: var(--spacer-2);
      .nft-card {
        max-width: 100px;
      }
    }
    &:not(:last-child) {
      @media (min-width: 1200px) {
        margin-right: var(--spacer-1);
      }
      @media (min-width: 1600px) {
        margin-right: var(--spacer-2);
      }
    }
    &:hover {
      background: rgba(54, 56, 67, 0.5);
      border-radius: 8px;
      .btn-preview {
        opacity: 1;
      }
    }
  }
}
.nft__unclaimed {
  img {
    transition: unset;
  }
  @media (min-width: 991.98px) {
    &:hover img {
      opacity: 0.5;
      border: solid 1px var(--aura-gray-8);
      background-image: unset;
    }
  }
}
.nft__unclaimed-noti {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--aura-red-3);
  color: white;
  transform: translate(50%, -50%);
  &.noti--pill {
    width: auto;
    border-radius: 24px;
    padding: 4px 8px;
  }
}
@media (min-width: 991.98px) {
  .sbt-contain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 190px;
    align-items: flex-end;
    padding: 0px 24px;
  }
}

.sbt-validator {
  min-height: auto;
  padding: 0;
  align-items: flex-start;
}

.btn-text-manage {
  color: var(--aura-aqua-3);
}
