.divider.divider-vertical {
  min-height: 16px;
  margin: 0 16px;
}

input.form-check-input {
  color: var(--aura-gray-1);
}

.error-null {
  border: 2px solid var(--aura-red-3) !important;
}

.btn-add-zero {
  width: 25px;
  height: 25px;

  .icon-add-zero {
    font-size: 15px;
    color: var(--aura-white);
  }
}

textarea {
  padding: 8px 12px;
  resize: none;
}
