.card.card-ibc {
  @media (min-width: 992px) {
    width: 1090px;
  }
  @media (max-width: 430px) {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    .card-header {
      border-radius: 0px !important;
      padding: 24px;
    }
  }

  .card-header {
    background-color: var(--aura-gray-9);
  }

  .card-body {
    max-height: 66vh;
    overflow-y: auto;

    .box-connect {
      position: relative;
      @media (max-width: 430px) {
        background-color: var(--aura-gray-9);
        padding: 16px;
        border-radius: 8px;
      }

      .divider-horizontal {
        background-color: var(--aura-green-4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--aura-green-4);
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }

      .divider-vertical {
        width: 2px;
        background-color: var(--aura-green-4);
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        height: 60px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: var(--aura-green-4);
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    .box-connected {
      color: var(--aura-white);
      background-color: var(--aura-green-4);
      border-radius: 8px;
      padding: 8px 0;
      display: flex;
      justify-content: center;
      width: 92px;
      position: relative;
      z-index: 1;
      @media (min-width: 912px) {
        width: 158px;
      }
    }

    .box-connect-chain {
      // width: 275px;
      height: 68px;
      padding: 0 24px;
      background: linear-gradient(110.97deg, #262838 0%, #2e2e38 97.13%);
      border-radius: 8px;

      .img-chain {
        width: 30px;
        height: 30px;
      }

      @media (min-width: 912px) {
        width: 332px;
        height: 84px;
        padding: 16px;
        .img-chain {
          width: 48px;
          height: 48px;
        }
      }
    }

    @media (max-width: 430px) {
      max-height: 100vh;
      padding: 0 0 16px 0;
    }

    .txt-state {
      color: var(--aura-green-6);

      .icon-connect {
        display: inline-block;
      }

      &.close {
        color: #98989b;

        .icon-connect {
          background-color: #98989b;
        }
      }
    }

    .card-relayer {
      margin: 16px;
      border-radius: 8px;
      background: var(--aura-gray-9);
      padding: 12px;
    }
  }

  .btn {
    height: 40px;
    padding: 0 24px;
  }

  .btn-create {
    border: none;

    &:disabled {
      background: var(--aura-gray-8);
    }
  }

  .safari-device {
    padding-bottom: 75px;
  }
}
