<div class="card mt-3" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card-body">
    <h3 class="mb-0 fw-bold text--white mb-4">Stake</h3>
    <div class="row row-eq-height" *ngIf="!isNoData">
      <div class="col-12 col-lg-8 right-border pr-lg-6">
        <div class="card card-h-100">
          <div class="article-2">
            <div *ngIf="!accDetailLoading">
              <!-- Tab List-->
              <ul
                ngbNav
                #customNav2="ngbNav"
                [activeId]="0"
                class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified flex-nowrap mb-4 mb-lg-6"
                [class.mobile-tab]="breakpoint.value.matches">
                <ng-container *ngFor="let tab of TABS_STAKE; index as index">
                  <li [ngbNavItem]="index">
                    <a class="account__tab-item" ngbNavLink (click)="currentStake = tab.key">
                      <span
                        class="h5 text--white text-uppercase mb-0
                        {{ customNav2.activeId === index ? 'text--white' : 'text--gray-light' }}">
                        {{ tab.label }}
                      </span>
                    </a>
                  </li>
                </ng-container>
              </ul>
              <!-- Delegations-->
              <app-account-detail-table
                *ngIf="currentStake === stakeMode.Delegations"
                [dataSource]="dataSourceDelegation"
                [templates]="templatesDelegation"
                [displayedColumns]="displayedColumnsDelegation"
                [pageData]="pageDataDelegation"
                [pageEventType]="pageEventType.Delegation"
                (pageEvent)="changePage($event)">
              </app-account-detail-table>
              <!-- Unbondings-->
              <app-account-detail-table
                *ngIf="currentStake === stakeMode.Unbondings"
                [dataSource]="dataSourceUnBonding"
                [templates]="templatesUnBonding"
                [displayedColumns]="displayedColumnsUnBonding"
                [pageData]="pageDataUnbonding"
                [pageEventType]="pageEventType.Unbonding"
                (pageEvent)="changePage($event)">
              </app-account-detail-table>
              <!-- Redelegations-->
              <div *ngIf="currentStake === stakeMode.Redelegations">
                <div class="my-3" *ngIf="pageDataRedelegation?.length > 0">
                  1. {{ 'NOTICE.REDELEGATE_WAITING' | translate : { timeStaking: timeStaking } }}<br />
                  2. {{ 'NOTICE.NUMBER_REDELEGATE' | translate }}
                </div>
                <app-account-detail-table
                  [dataSource]="dataSourceReDelegation"
                  [templates]="templatesReDelegation"
                  [displayedColumns]="displayedColumnsReDelegation"
                  [pageData]="pageDataRedelegation"
                  [pageEventType]="pageEventType.Redelegation"
                  (pageEvent)="changePage($event)"></app-account-detail-table>
              </div>
              <!-- Vestings-->
              <app-account-detail-table
                *ngIf="currentStake === stakeMode.Vestings"
                [dataSource]="dataSourceVesting"
                [templates]="templatesVesting"
                [displayedColumns]="displayedColumnsVesting"
                [pageData]="pageDataVesting"
                [pageEventType]="pageEventType.Vestings"
                (pageEvent)="changePage($event)">
              </app-account-detail-table>
            </div>
            <div class="mt-20" *ngIf="accDetailLoading">
              <app-loading-sprint></app-loading-sprint>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 pl-lg-6">
        <div class="card card-h-100">
          <div class="article-2 d-flex flex-column justify-content-between">
            <ng-container *ngIf="!chartLoading">
              <div id="walletChart" class="my-0 mx-auto">
                <ng-container *ngIf="+currentAccountDetail?.total > 0; else chartNoValue">
                  <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [fill]="chartOptions.fill"
                    [dataLabels]="chartOptions.dataLabels"
                    [responsive]="chartOptions.responsive"
                    [plotOptions]="chartOptions.plotOptions"
                    [legend]="chartOptions.legend"
                    [colors]="chartOptions.colors"
                    [tooltip]="chartOptions.tooltip"
                    [stroke]="{ show: false }">
                  </apx-chart>
                </ng-container>
                <ng-template #chartNoValue>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="box-chart d-flex align-items-center justify-content-center">
                      <div></div>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <span class="h2 h3-mob mb-0 text--gray-1">{{ denom }}</span>
                  <span
                    class="h5 h6-mob mb-0 text--gray-1"
                    [appBigNumber]="currentAccountDetail?.total"
                    [decimal]="0"></span>
                </div>
                <ng-container *ngFor="let item of chartCustomOptions; let last = last">
                  <div
                    class="d-flex justify-content-between align-items-center body-02 body-01-mob chart-legend-item py-3 px-0">
                    <div class="d-flex align-items-center">
                      <div class="item-color-balance mr-2" [ngStyle]="{ 'background-color': item.color }"></div>
                      <span class="text--gray-5 body body-01-mob">{{ item.name }}</span>
                    </div>
                    <span class="text--gray-1 body body-01-mob" [appBigNumber]="item.amount" [decimal]="0"></span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <div *ngIf="chartLoading" class="mt-14">
              <app-loading-sprint></app-loading-sprint>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>