<app-loading-sprint class="mt-10" *ngIf="isLoading"></app-loading-sprint>
<app-table-no-data class="mt-10" *ngIf="!isLoading && errTxt" [textNull]="errTxt"></app-table-no-data>
<div class="box-contract text-white" *ngIf="tokenDetail">
  <!-- Unverified -->
  <ng-container
    *ngIf="!tokenDetail?.contract_verification || tokenDetail?.contract_verification === contractVerifyType.Unverified">
    <div class="d-flex break-word body-02">
      <img
        [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
        alt=""
        width="16"
        height="16"
        class="mr-2" />
      <div>
        Are you the Code ID's owner?
        <a class="text--primary" [routerLink]="['/code-ids/verify', this.tokenDetail.code_id]"> Verify and Publish </a>
        your Code ID source code today!
      </div>
    </div>
    <div class="mt-3 small-text content-info">{{ tokenDetail.tx_hash }}</div>
  </ng-container>

  <!-- Verifying -->
  <ng-container *ngIf="tokenDetail?.contract_verification === contractVerifyType.Verifying">
    <div class="d-flex break-word body-02">
      <img
        [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
        alt=""
        width="16"
        height="16"
        class="mr-2 mt-1" />
      <div>
        <div>
          The code ID source code that this smart contract was instantiated from is currently pending in Verify and
          Publish process.
        </div>
        <div>
          Kindly click
          <a class="text--primary cursor-pointer" (click)="navigateToVerify()"> here </a>
          for more detail
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Verify Fail -->
  <ng-container *ngIf="tokenDetail?.contract_verification === contractVerifyType.VerifiedFail">
    <div class="d-flex break-word body-02">
      <img
        [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
        alt=""
        width="16"
        height="16"
        class="mr-2" />
      <div>
        Are you the Code ID's owner?
        <a class="text--primary" (click)="navigateToVerify()"> Verify and Publish </a>
        your Code ID source code today!
      </div>
    </div>
    <div class="mt-4 mt-lg-6">
      Let check the status of the last time this Code ID source code was unable to Verify and Publish
    </div>
    <app-contract-verify-steps [codeID]="tokenDetail.code_id"></app-contract-verify-steps>
  </ng-container>

  <!-- Verify Successfull -->
  <ng-container *ngIf="tokenDetail?.contract_verification === contractVerifyType.Verified">
    <div class="button-tab-group mb-4 mt-lg-3">
      <button
        class="button-tab"
        [class.active]="currentTab === contractType.ReadContract"
        (click)="changeTab(contractType.ReadContract)">
        <span>Read Contract</span>
      </button>
      <button
        class="button-tab"
        [class.active]="currentTab === contractType.WriteContract"
        (click)="changeTab(contractType.WriteContract)">
        <span>Write Contract</span>
      </button>
    </div>

    <div class="mt-3">
      <ng-container *ngIf="tokenDetail">
        <app-read-contract
          *ngIf="currentTab === contractType.ReadContract"
          [contractDetailData]="tokenDetail"></app-read-contract>
        <app-write-contract
          *ngIf="currentTab === contractType.WriteContract"
          [contractDetailData]="tokenDetail"></app-write-contract>
      </ng-container>
    </div>
  </ng-container>
</div>
