<div class="h-100 d-flex justify-content-between flex-column">
  <div class="">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="mb-0 text--gray-1 fw-semibold fw-500-mob">Current Turnout</h6>
      <div class="caption fw-500 text--gray-5">
        <h5 class="text--gray-1 mr-lg-2 mb-0 d-inline">
          {{ proposalDetail.pro_turnout | number: global.formatNumber2Decimal }}%
        </h5>
        <span class="fw-semibold-mob">
          ({{ formatNumber(proposalDetail.pro_total_vote) || 0 }} of
          {{ formatNumber(proposalDetail.total_bonded_token) }} voted)
        </span>
      </div>
    </div>
    <div class="mt-1 caption text--gray-5 content--fixed-height">
      The result of governance will only be applied when quorum is more than
      {{ proposalDetail.quorum | number: global.formatNumber2Decimal }}% of the total votes.
    </div>
  </div>
  <div class="mt-6">
    <div class="vote-bar mb-4">
      <ul class="vote-bar-ul">
        <li class="bg--primary" [style.width]="proposalDetail.pro_turnout + '%'"></li>
        <li class="bg--secondary" [style.width]="100 - proposalDetail.pro_turnout + '%'"></li>
      </ul>
      <div class="vote-bar__info" [style.left]="proposalDetail.quorum + '%'">
        <span class="caption">
          <span class="text--gray-5">Quorum:</span>
          <span class="text--gray-1 ml-1">{{ proposalDetail.quorum | number: global.formatNumber2Decimal }}%</span>
          <span class="text--green-3 ml-1">{{ quorumStatus }}</span>
        </span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="vote --w-0"></div>
      <div class="row flex-grow-1 align-items-center">
        <div class="col-4 col-lg-5 body-01 text--gray-5 mb-0">Voted</div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1">
          {{ proposalDetail.voted_percent | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 text-end body-01 mb-0 fw-normal text--gray-5">
          {{ proposalDetail.voted | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center mt-2">
      <div class="vote --w-0"></div>
      <div class="row flex-grow-1 align-items-center">
        <div class="col-4 col-lg-5 body-01 text--gray-5 mb-0">Voted Abstain</div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1">
          {{ proposalDetail.abstainPercent | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 text-end body-01 mb-0 text--gray-5">
          {{ proposalDetail.pro_votes_abstain | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center mt-2">
      <div class="vote --w-0"></div>
      <div class="row flex-grow-1 align-items-center">
        <div class="col-4 col-lg-5 body-01 text--gray-5 mb-0">Did not vote</div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1">
          {{ 100 - proposalDetail.pro_turnout | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 text-end body-01 mb-0 text--gray-5">
          {{ proposalDetail.total_bonded_token - proposalDetail.pro_total_vote | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
  </div>
</div>
