.vote-bar {
    @media (max-width: 991.98px) {
        .vote-bar-ul {
            width: 100%;
            height: 20px;
        }

        &__info {
            position: absolute;
            top: 5px;
            bottom: 0;
            transform: translate(-50%, -130%);

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 110%;
                transform: translateX(-50%);
                height: 91%;
                width: 4px;
                background-color: var(--aura-white);
                border-radius: 2px;
            }

            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #777E91;
            }
        }
    }
}