<div class="card box-token-info">
  <table class="aura-basic-table w-100 body-02">
    <tr>
      <td colspan="2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h4 mb-0">
            <span class="text--white">Profile Summary </span>
          </div>
          <div class="dropdown aura-dropdown">
            <ul
              class="dropdown-menu aura-dropdown-menu token-summary-more"
              *ngIf="!tokenDetail.isNFTContract"
              aria-labelledby="token-summary-more">
              <li class="dropdown-item cursor-pointer">Add token to Web3</li>
              <li class="dropdown-item cursor-pointer">Update Name Tag</li>
            </ul>
            <ul
              class="dropdown-menu aura-dropdown-menu token-summary-more"
              *ngIf="tokenDetail.isNFTContract"
              aria-labelledby="token-summary-more">
              <li class="dropdown-item cursor-pointer">Add token to Web3</li>
              <li class="dropdown-item cursor-pointer">Update Token Info</li>
              <li class="dropdown-item cursor-pointer">Update Name Tag</li>
            </ul>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">Contract:</div>
          <div class="break-word">
            <app-name-tag
              [value]="tokenDetail?.contract_address || tokenDetail?.denom | beautyAddress"
              [iconContract]="tokenDetail?.contract_address"
              [linkRouter]="['/evm-contracts', tokenDetail?.contract_address]"
              [fullText]="true"></app-name-tag>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="!tokenDetail.isNFTContract">
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">Decimals:</div>
          <div class="text--white">{{ tokenDetail?.decimals }}</div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <span class="first-col text--gray-5">Official Site:</span>
          <a *ngIf="tokenDetail?.officialSite" [href]="tokenDetail?.officialSite" target="_blank"
            rel="noopener noreferrer" class="text--primary">{{tokenDetail?.officialSite}}</a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">
            Social Profiles:
          </div>
          <div class="socials" *ngIf="tokenDetail?.socialProfiles?.length">
            <a *ngFor="let item of tokenDetail?.socialProfiles" [href]="item?.url" target="_blank"
              rel="noopener noreferrer">
              <img [src]="item?.icon" alt="social-media">
            </a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>