::ng-deep {
  .sizeNormal {
    max-width: 90vw !important;
    @media (min-width: 991.98px) {
      max-width: 500px !important;
    }
  }

  .mat-dialog-container {
    background: transparent;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    .card .popup-common {
      max-width: 550px;
      min-width: 300px;
    }
  }
}
