<div class="wallet-list-container">
  <div class="d-flex justify-content-between align-items-center popup-header px-6">
    <h2 class="text--white h3-mob fw-semibold mb-0">Connect wallet</h2>
    <i class="ph ph-x h2 cursor-pointer text--white ml-10" (click)="bottomSheetRef.dismiss()"></i>
  </div>
  <div class="py-6 px-6">
    <div class="wallet-list">
      <div class="body mb-3 text--gray-2 ml-2">Select a provider to connect or create a wallet</div>
      <ul class="list-group">
        <li
          *ngFor="let wallet of walletList"
          class="wallet-item mt-1"
          [class.d-none]="isMobileMatched && wallet.disableMobile"
          (click)="connectWallet(wallet.name)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="wallet.icon | imageS3"/>
            <span class="h5 text--white ml-3">{{ wallet.name | titlecase }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="ml-lg-6 mt-6 mt-lg-0 wallet-info px-4 py-5 d-flex flex-column align-items-center justify-content-center">
      <img [src]="'assets/images/digital-wallet.png' | imageS3" alt=""/>
      <div class="body mt-4 text--gray-1 text-center">
        Wallets are used to send, receive, store digital assets like Aura and NFTs.
      </div>
    </div>
  </div>
</div>
