<div class="card" *ngIf="proposalDetail">
  <div class="card-header bg-transparent border-bottom text-uppercase fw-bold">
    <div class="d-flex justify-content-between">
      <div class="card__title">
        <div>#{{ proposalId }}</div>
        <h2>{{ proposalDetail.pro_title }}</h2>
      </div>
      <div class="flex-shrink-0">
        <div
          class="aura-status aura-status--has-elevation text-uppercase {{ getStatus(proposalDetail.pro_status).class }}"
        >
          <span class="status">{{ getStatus(proposalDetail.pro_status).value }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card__info">
      <div class="row mb-3">
        <div class="col-12 col-md-2 title">Proposer</div>
        <div class="col-12 col-md-10 info" *ngIf="proposalDetail.pro_proposer">
          <a href="#">{{proposalDetail.pro_proposer}}</a>
        </div>
      </div>
      <div class="row mb-3" *ngIf="false">
        <div class="col-12 col-md-2 title">Initial Deposit</div>
        <div class="col-12 col-md-10 info">1.000000 <span class="g-purple">AURA</span></div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_total_deposits">
        <div class="col-12 col-md-2 title">Total Deposit</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_total_deposits}}<span class="g-purple">AURA</span></div>
      </div>
      <div class="row mb-3"*ngIf="proposalDetail.pro_voting_start_time" >
        <div class="col-12 col-md-2 title">Voting Start</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_voting_start_time}}</div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_voting_end_time">
        <div class="col-12 col-md-2 title">Voting End</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_voting_end_time}}</div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_type">
        <div class="col-12 col-md-2 title">Type</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_type}}</div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_submit_time">
        <div class="col-12 col-md-2 title">Submit Time</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_submit_time}}</div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_deposit_end_time">
        <div class="col-12 col-md-2 title">Deposit End Time</div>
        <div class="col-12 col-md-10 info">{{proposalDetail.pro_deposit_end_time}}</div>
      </div>
      <div class="row mb-3" *ngIf="proposalDetail.pro_description">
        <div class="col-12 col-md-2 title">Details</div>
        <div class="col-12 col-md-10 info">
          <div class="editorial-container" [innerText]='proposalDetail.pro_description'></div>
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-12 col-md-2 title">Request Amount</div>
        <div class="col-12 col-md-10 info">1,000.000000 <span class="g-purple">ATOM</span></div>
      </div> -->
      <div class="proposal__summary-total" *ngIf="false">
        <div class="d-md-flex flex-md-row-reverse justify-content-between">
          <div class="text-md-end mb-2 mb-md-0">
            <div class="d-sm-flex">
              <div><b>Current Turnout :</b>{{proposalDetail.pro_turnout}}</div>
              <div class="spacer-custom my-2 my-sm-0"><b>Quorum :</b> 40.00%</div>
            </div>
            <small>59 M of 185 M has voted</small>
          </div>
          <div><b>Total :</b> 58,787,660.197391 <span class="g-purple">ATOM</span></div>
        </div>
        <div class="vote-bar mt-3">
          <ul>
            <li class="primary" style="width: 60%" matTooltip="Yes 63%" [matTooltipPosition]="'above'"></li>
            <li class="danger" style="width: 10%" matTooltip="No 10%" [matTooltipPosition]="'above'"></li>
            <li class="info" style="width: 10%" matTooltip="No with veto 10%" [matTooltipPosition]="'above'"></li>
            <li class="secondary" style="width: 20%" matTooltip="Abstain 20%" [matTooltipPosition]="'above'"></li>
          </ul>
        </div>
        <div class="vote-legend">
          <ul>
            <li data-style="primary">
              <p class="item item-label">Yes</p>
              <p class="item item-percent">63<span class="decimal">.01%</span></p>
              <p class="item item-amount">
                53,803,328<span class="decimal">.593122 </span> <span class="g-purple">ATOM</span>
              </p>
            </li>
            <li data-style="danger">
              <p class="item item-label">No</p>
              <p class="item item-percent">63<span class="decimal">.01%</span></p>
              <p class="item item-amount">
                53,803,328<span class="decimal">.593122 </span> <span class="g-purple">ATOM</span>
              </p>
            </li>
            <li data-style="info">
              <p class="item item-label">No with veto</p>
              <p class="item item-percent">63<span class="decimal">.01%</span></p>
              <p class="item item-amount">
                53,803,328<span class="decimal">.593122 </span> <span class="g-purple">ATOM</span>
              </p>
            </li>
            <li data-style="secondary">
              <p class="item item-label">Abstain</p>
              <p class="item item-percent">63<span class="decimal">.01%</span></p>
              <p class="item item-amount">
                53,803,328<span class="decimal">.593122 </span> <span class="g-purple">ATOM</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
