.card {
  &__header {
    border-bottom: 1px solid var(--bs-light);
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
  }
  &__status {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__info {
    font-size: 15px;
    font-weight: 400;
    color: var(--bs-secondary);
    .title {
      font-size: 15px;
      font-weight: 600;
      color: var(--bs-gray-700);
    }
    .decimal {
      font-size: 14px;
    }
  }
}
.editorial-container {
  max-height: 360px;
  overflow-y: scroll;
  padding: 16px;
  background-color: var(--bs-gray-100);
}
.proposal__summary-total {
  border-radius: 5px;
  border: 1px solid var(--bs-gray-400);
  box-shadow: none;
  padding: 24px;
  b {
    color: var(--bs-gray-700);
  }
}
.spacer-custom {
  @media (min-width: 576px) {
    margin-left: 16px;
  }
}
.vote-bar {
  height: 30px;
  ul {
    background-color: #e3e3e3;
  }
}

.vote-legend {
  ul {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 7rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    padding: 0;

    li {
      border-left: 4px solid;

      padding: 0px 16px;

      height: 5rem;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      &[data-style='primary'] {
        border-left-color: var(--bs-success);
      }
      &[data-style='danger'] {
        border-left-color: var(--bs-danger);
      }
      &[data-style='info'] {
        border-left-color: var(--bs-info);
      }
      &[data-style='secondary'] {
        border-left-color: var(--bs-secondary);
      }

      .item {
        font-size: 16px;
        &-label {
          font-weight: 600;
          color: var(--black);
        }
        &-percent {
          color: var(--black);
        }
        &-amount {
          font-weight: 400;
          color: var(--black);
        }

        .decimal {
          font-size: 14px;
        }
        .g-purple {
          margin-left: 4px;
        }
      }
    }
  }
}
