.card {
  .divider.divider-vertical {
    max-height: 32px;
  }
}

::ng-deep{
  .proposal__summary-total {
    color: var(--aura-white);
    .vote-bar {
      margin-top: 24px;
      height: 56px;
      border-radius: 4px;
      position: relative;
  
      &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translate(-50%, -130%);
  
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: 120%;
          transform: translateX(-50%);
          height: 120%;
          width: 4px;
          background-color: var(--aura-white);
          border-radius: 2px;
        }
  
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -4px;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #777E91;
        }
      }
    }
  
    .vote-bar-mobile {
      margin-top: 12px;
      height: 20px;
    }
  
    .vote-legend {
      ul {
        margin-top: var(--spacer-4);
        display: grid;
        grid-template-rows: 7rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0;
  
        li {
          padding: 0 16px;
          padding-left: 24px;
          height: 5rem;
          position: relative;
  
          .item-box {
            height: 32px;
            display: flex;
            align-items: center;
            position: relative;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.02em;
          }
  
          &[data-style] .item-box::before {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            left: -24px;
            top: 8px;
            border-radius: 100rem;
          }
  
          &[data-style='primary'] .item-box::before {
            background-color: var(--aura-green-3);
          }
  
          &[data-style='danger'] .item-box::before {
            background-color: var(--aura-danger);
          }
  
          &[data-style='info'] .item-box::before {
            background-color: var(--aura-red-2);
          }
  
          &[data-style='secondary'] .item-box::before {
            background-color: #777e91;
          }
  
          .item {
            font-size: 16px;
            font-weight: 600;
            color: var(--aura-gray-1);
  
            &-label {
              margin-right: 32px;
            }
  
            &-amount {
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
            }
  
            &-percent {
              font-size: 22px;
              line-height: 26px;
              font-weight: 600;
            }
          }
        }
      }
    }
  
    .vote-status {
      position: relative;
      height: 24px;
    }
  
    .vote {
      width: 8px;
      height: 8px;
  
      @media (min-width: 992px) {
        width: 16px;
        height: 16px;
      }
  
      display: inline-block;
      margin-right: 8px;
  
      border-radius: 50%;
  
      &.--w-0 {
        width: 0;
      }
  
      &.status--primary {
        background-color: var(--aura-green-3);
      }
  
      &.status--danger {
        background-color: var(--aura-danger);
      }
  
      &.status--info {
        background-color: var(--aura-red-2);
      }
  
      &.status--secondary {
        background-color: var(--aura-gray-7);
      }
    }
  }
}

.content--fixed-height {
  @media (min-width: 992px) {
    min-height: 48px;
  }
}

.g-ellipsis__type {
  @media (max-width: 991.99px) {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}
.nav-tabs-proposal.aura-nav-tabs.nav-tabs {
  .nav-item {
    flex-grow: 0;
    padding: 0 12px;
    height: 32px;
    @media (min-width: 991.98px) {
      padding: 0 32px;
    }
  }
   .nav-link {
    height: 32px;
  }
}
.overflow-scroll-x--md {
  @media (min-width: 991.98px) {
    overflow-x: auto;
    &::-webkit-scrollbar:vertical {
      display: none;
    }
    &::-webkit-scrollbar {
      display: block;
      height: 4px;
      width: 4px;
    }
  }
}
.changes-contain.overflow-scroll-y {
  overflow-y: auto;
  max-height: 116px;
}
