<div class="box-contract text-white">
  <div *ngIf="loading">
    <app-loading-sprint></app-loading-sprint>
  </div>
  <div *ngIf="!loading">
    <!-- Unverified -->
    <ng-container *ngIf="!codeIdDetail?.contract_verification || codeIdDetail?.contract_verification?.length === 0">
      <div class="d-flex content-contract body-02">
        <img
          [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
          alt=""
          width="16"
          height="16"
          class="mr-2" />
        <div>
          {{ 'PAGES.CODE_ID.ownerMsg' | translate }}
          <a class="text--primary" (click)="navigateToVerify()"> {{ 'PAGES.CODE_ID.verifyAndPublish' | translate }} </a>
          {{ 'PAGES.CODE_ID.yourCodeID' | translate }}
        </div>
      </div>
    </ng-container>
    <!-- Verifying -->
    <ng-container *ngIf="codeIdDetail?.contract_verification === contractVerifyType.Verifying">
      <div class="d-flex content-contract body-02">
        <img
          [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
          alt=""
          width="16"
          height="16"
          class="mr-2 mt-1" />
        <div>
          <div>{{ 'PAGES.CODE_ID.pendingMsg' | translate }}</div>
          <div>
            {{ 'PAGES.CODE_ID.kindlyClick' | translate }}
            <a class="text--primary cursor-pointer" (click)="navigateToVerify()">
              {{ 'PAGES.CODE_ID.here' | translate }}
            </a>
            {{ 'PAGES.CODE_ID.forMoreDetail' | translate }}
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Verify Fail -->
    <ng-container *ngIf="codeIdDetail?.contract_verification === contractVerifyType.VerifiedFail">
      <div class="d-flex content-contract body-02">
        <img
          [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
          alt=""
          width="16"
          height="16"
          class="mr-2" />
        <div>
          {{ 'PAGES.CODE_ID.ownerMsg' | translate }}
          <a class="text--primary" (click)="navigateToVerify()"> {{ 'PAGES.CODE_ID.verifyAndPublish' | translate }} </a>
          {{ 'PAGES.CODE_ID.yourCodeID' | translate }}
        </div>
      </div>
      <div class="mt-4 mt-lg-6">
        {{ 'PAGES.CODE_ID.checkStatus' | translate }}
      </div>
      <app-contract-verify-steps [codeID]="codeIdDetail.code_id"></app-contract-verify-steps>
    </ng-container>
    <!-- Verify Successfull -->
    <ng-container *ngIf="codeIdDetail?.contract_verification === contractVerifyType.Verified">
      <div class="d-flex fw-semibold">
        <img [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3" alt="" width="16px" height="16px" />
        <div class="ml-2">{{ 'PAGES.CODE_ID.verified' | translate }}</div>
      </div>
      <div class="mt-6 fw-semibold">
        <span class="text--gray-5">{{ 'PAGES.CODE_ID.complierVer' | translate }}</span>
        <span>{{ codeIdDetail.compiler_version }}</span>
      </div>
      <div class="mt-2 fw-semibold" *ngIf="codeIdDetail.verified_at">
        <span class="text--gray-5">{{ 'PAGES.CODE_ID.verifiedTime' | translate }} </span>
        <span>{{ codeIdDetail.verified_at | customDateTime: 'DateTime' }}</span>
      </div>
      <div class="d-flex mt-6">
        <i class="icon icon-file-document text--gray-4"></i>
        <div class="ml-2 fw">{{ 'PAGES.CODE_ID.linkSourceCode' | translate }}</div>
      </div>

      <div class="form-group mt-4 d-flex align-items-center">
        <input
          id="popupCopy"
          type="text"
          class="form-control form-check-input body mt-0 text--gray-1"
          readonly
          value="{{ codeIdDetail.url }}" />
        <div class="aura-tooltip-contain">
          <button
            class="button button-outline button-pill ml-4 aura-tooltip-object disabled-hover"
            #tooltip
            (click)="commonService.showToolTip(tooltip)"
            [cdkCopyToClipboard]="codeIdDetail.url">
            <span class="body-01">{{ 'BUTTON.COPY' | translate }}</span>
          </button>
          <app-tooltip-customize [content]="'BUTTON.COPIED' | translate"> </app-tooltip-customize>
        </div>
      </div>
    </ng-container>
  </div>
</div>
