<div class="card-header title-small d-none d-lg-block">Message</div>
<div class="card-body body">
  <div class="d-flex justify-content-between align-items-center d-lg-none">
    <div class="sub-text-mob fw-500">Messages</div>
    <div class="label__status fw-semibold">{{ transactionDetailType }}</div>
  </div>
  <div class="divider divider-horizontal my-4 d-lg-none"></div>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Send">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">From Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
        [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]">
        {{ transactionDetail?.messages[0]?.from_address }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">To Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
        [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]">
        {{ transactionDetail?.messages[0]?.to_address }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Amount</div>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.ExecuteContract">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Contract</div>
      </div>
      <div class="col-12 col-lg-6">{{ transactionDetail?.messages[0]?.contract }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Sender</div>
      </div>
      <a class="col-12 col-lg-6 text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
        {{ transactionDetail?.messages[0]?.sender }}
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.InstantiateContract">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Label</div>
      </div>
      <div class="col-12 col-lg-6">{{ transactionDetail?.messages[0]?.label }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Sender</div>
      </div>
      <div class="col-12 col-lg-6" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
        {{ transactionDetail?.messages[0]?.sender }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="
      transactionDetail?.type === eTransType.GetReward ||
      transactionDetail?.type === eTransType.Delegate ||
      transactionDetail?.type === this.eTransType.Undelegate">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <ng-container *ngIf="transactionDetail?.type === eTransType.GetReward && transactionDetail?.messages.length > 1">
      <ng-container *ngFor="let item of transactionDetail?.messages, let i = index">
        <div class="row mb-3">
          <div class="col-12 col-lg-3">
            <div class="card-text fw-bold">Delegator Address</div>
          </div>
          <a class="col-12 col-lg-6 text--green" [routerLink]="['/account', item.delegator_address]">
            {{ item.delegator_address }}
          </a>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-lg-3">
            <div class="card-text fw-bold">Validator Address</div>
          </div>
          <a class="col-12 col-lg-6 text--green" [routerLink]="['/validators', item.validator_address]">
            {{ item.validator_address }}<br />
            <ng-container *ngIf="item.validatorName">({{ item.validatorName }})</ng-container>
          </a>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-3">
            <div class="card-text fw-bold">Amount</div>
          </div>
          <div class="col-12 col-lg-6">
            <ng-container *ngIf="listAmountClaim[i] > 0">
              {{ listAmountClaim[i] | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
            </ng-container>
            <ng-container *ngIf="listAmountClaim[i] == 0"> - </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="transactionDetail?.messages.length === 1">
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-bold">Delegator Address</div>
        </div>
        <a class="col-12 col-lg-6 text--green"
           [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]">
          {{ transactionDetail?.messages[0]?.delegator_address }}
        </a>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-bold">Validator Address</div>
        </div>
        <a class="col-12 col-lg-6 text--green"
           [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]">
          {{ transactionDetail?.messages[0]?.validator_address }}<br />
          <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
        </a>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Amount</div>
        </div>
        <div class="col-12 col-lg-6">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
      <div class="row mb-3" *ngIf="amountClaim > 0">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Auto Claim Reward</div>
        </div>
        <div class="col-12 col-lg-6">
          {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vote">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Proposal Id</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/proposal', transactionDetail?.messages[0]?.proposal_id]">
        {{ transactionDetail?.messages[0]?.proposal_id }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Voter</div>
      </div>
      <a class="col-12 col-lg-6 text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.voter]">
        {{ transactionDetail?.messages[0]?.voter }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Option</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ parsingOptionVote(transactionDetail?.messages[0]?.option) }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vesting">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">From Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]">
        {{ transactionDetail?.messages[0]?.from_address }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">To Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]">
        {{ transactionDetail?.messages[0]?.to_address }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Vesting Schedule</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ dateVesting }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.SubmitProposalTx">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Initial Deposit</div>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0">
          0.000000 <span class="text--green">{{ global.stableToken }}</span></ng-container
        >
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Proposer</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.proposer]">
        {{ transactionDetail?.messages[0]?.proposer }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Proposal Id</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ transactionDetail?.tx?.logs[0].events[4].attributes[0].value }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Proposal Type</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ transactionDetail?.tx?.logs[0]?.events[4].attributes[1].value }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Title</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ transactionDetail?.tx?.tx?.body?.messages[0]?.content.title }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Redelegate">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Delegate Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]">
        {{ transactionDetail?.messages[0]?.delegator_address }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Source Validator Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_src_address]">
        {{ transactionDetail?.messages[0]?.validator_src_address }}
        <ng-container *ngIf="validatorName"><br />({{ validatorName }})</ng-container>
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Destination Validator Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_dst_address]">
        {{ transactionDetail?.messages[0]?.validator_dst_address }}
        <ng-container *ngIf="validatorNameDes"><br />({{ validatorNameDes }})</ng-container>
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Amount</div>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
    <div class="row mb-3" *ngIf="amountClaim > 0">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Auto Claim Reward</div>
      </div>
      <div class="col-12 col-lg-6">
        {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Deposit">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Proposal Id</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/proposal', transactionDetail?.messages[0]?.proposal_id]">
        {{ transactionDetail?.messages[0]?.proposal_id }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Depositor</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.depositor]">
        {{ transactionDetail?.messages[0]?.depositor }}
      </a>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-semibold">Amount</div>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Validator</div>
      </div>
      <div class="col-12 col-lg-6">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Validator Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green"
         [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
        {{ transactionDetail?.messages[0]?.validator_address }}
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3 d-none d-lg-flex">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Validator</div>
      </div>
      <div class="col-12 col-lg-6">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-lg-3">
        <div class="card-text fw-bold">Validator Address</div>
      </div>
      <a class="col-12 col-lg-6 text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
        {{ transactionDetail?.messages[0]?.validator_address }}
      </a>
    </div>
  </ng-container>
</div>
