<div class="card-header title-small d-none d-lg-block">Message</div>
<div class="card-body body">
  <div class="d-flex justify-content-between align-items-center d-lg-none">
    <div class="sub-text-mob fw-500">Messages</div>
    <div class="label__status fw-semibold body small-body-mob">{{ transactionDetailType }}</div>
  </div>
  <div class="divider divider-horizontal my-4 d-lg-none"></div>

  <div class="row mb-3 d-none d-lg-flex body small-body-mob">
    <div class="col-12 col-lg-3">
      <div class="card-text header-title">
        <img [src]="'assets/images/icons/trans-send.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
      </div>
    </div>
  </div>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Send">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">From Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]">
          {{ transactionDetail?.messages[0]?.from_address }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">To Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]">
          {{ transactionDetail?.messages[0]?.to_address }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Amount</div>
      <div class="col-12 col-lg-9">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.ExecuteContract">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Contract</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/contracts', transactionDetail?.messages[0]?.contract]">
          {{ transactionDetail?.messages[0]?.contract }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Sender</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
          {{ transactionDetail?.messages[0]?.sender }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Messages</div>
      <div class="col-12 col-lg-9">
        <pre id="json" class="raw-content text--white px-4" [innerHtml]="objMsgContract | appJson"></pre>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.InstantiateContract">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Label</div>
      <div class="col-12 col-lg-9">{{ transactionDetail?.messages[0]?.label }}</div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Sender</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
          {{ transactionDetail?.messages[0]?.sender }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Messages</div>
      <div class="col-12 col-lg-9">
        <pre id="json" class="raw-content text--white px-2" [innerHtml]="objMsgContract | appJson"></pre>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      transactionDetail?.type === eTransType.GetReward ||
      transactionDetail?.type === eTransType.Delegate ||
      transactionDetail?.type === this.eTransType.Undelegate
    ">
    <ng-container *ngIf="transactionDetail?.type === eTransType.GetReward && transactionDetail?.messages.length > 1">
      <ng-container *ngFor="let item of transactionDetail?.messages; let i = index">
        <div class="row mb-3 small-body">
          <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Delegator Address</div>
          <div class="col-12 col-lg-9">
            <a class="text--green" [routerLink]="['/account', item.delegator_address]">
              {{ item.delegator_address }}
            </a>
          </div>
        </div>
        <div class="row mb-3 small-body">
          <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator Address</div>
          <div class="col-12 col-lg-9">
            <a class="text--green" [routerLink]="['/validators', item.validator_address]">
              {{ item.validator_address }}<br />
              <ng-container *ngIf="item.validatorName">({{ item.validatorName }})</ng-container>
            </a>
          </div>
        </div>
        <div class="row mb-5 small-body">
          <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Amount</div>
          <div class="col-12 col-lg-9">
            <ng-container *ngIf="listAmountClaim[i] > 0">
              {{ listAmountClaim[i] | number: global.formatNumberToken }}
              <span class="text--green">{{ denom }}</span>
            </ng-container>
            <ng-container *ngIf="listAmountClaim[i] == 0"> - </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="transactionDetail?.messages.length === 1">
      <div class="row mb-3 small-body">
        <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Delegator Address</div>
        <div class="col-12 col-lg-9">
          <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]">
            {{ transactionDetail?.messages[0]?.delegator_address }}
          </a>
        </div>
      </div>
      <div class="row mb-3 small-body">
        <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator Address</div>
        <div class="col-12 col-lg-9">
          <a class="text--green" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]">
            {{ transactionDetail?.messages[0]?.validator_address }}<br />
            <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
          </a>
        </div>
      </div>
      <div class="row mb-3 small-body">
        <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Amount</div>
        <div class="col-12 col-lg-9">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
      <div class="row mb-3 small-body" *ngIf="amountClaim > 0">
        <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Auto Claim Reward</div>
        <div class="col-12 col-lg-6">
          {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vote">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Proposal Id</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/votings', transactionDetail?.messages[0]?.proposal_id]">
          {{ transactionDetail?.messages[0]?.proposal_id }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Voter</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.voter]">
          {{ transactionDetail?.messages[0]?.voter }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Option</div>
      <div class="col-12 col-lg-9">
        {{ parsingOptionVote(transactionDetail?.messages[0]?.option) }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vesting">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">From Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]">
          {{ transactionDetail?.messages[0]?.from_address }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">To Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]">
          {{ transactionDetail?.messages[0]?.to_address }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Vesting Schedule</div>
      <div class="col-12 col-lg-9">
        {{ dateVesting }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.SubmitProposalTx">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Initial Deposit</div>
      <div class="col-12 col-lg-9">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0">
          0.000000 <span class="text--green">{{ denom }}</span></ng-container
        >
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Proposer</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.proposer]">
          {{ transactionDetail?.messages[0]?.proposer }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Proposal Id</div>
      <div class="col-12 col-lg-9">
        {{ transactionDetail?.tx?.logs[0].events[4].attributes[0].value }}
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Proposal Type</div>
      <div class="col-12 col-lg-9">
        {{ transactionDetail?.tx?.logs[0]?.events[4].attributes[1].value }}
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Title</div>
      <div class="col-12 col-lg-9">
        {{ transactionDetail?.tx?.tx?.body?.messages[0]?.content.title }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Redelegate">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Delegate Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]">
          {{ transactionDetail?.messages[0]?.delegator_address }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Source Validator Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_src_address]">
          {{ transactionDetail?.messages[0]?.validator_src_address }}
          <ng-container *ngIf="validatorName"><br />({{ validatorName }})</ng-container>
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Destination Validator Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_dst_address]">
          {{ transactionDetail?.messages[0]?.validator_dst_address }}
          <ng-container *ngIf="validatorNameDes"><br />({{ validatorNameDes }})</ng-container>
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Amount</div>
      <div class="col-12 col-lg-9">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
    <div class="row mb-3 small-body" *ngIf="amountClaim > 0">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Auto Claim Reward</div>
      <div class="col-12 col-lg-6">
        {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Deposit">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Proposal Id</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/votings', transactionDetail?.messages[0]?.proposal_id]">
          {{ transactionDetail?.messages[0]?.proposal_id }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Depositor</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.depositor]">
          {{ transactionDetail?.messages[0]?.depositor }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Amount</div>
      <div class="col-12 col-lg-9">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ denom }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator</div>
      <div class="col-12 col-lg-9">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator Address</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
          {{ transactionDetail?.messages[0]?.validator_address }}
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator</div>
      <div class="col-12 col-lg-9">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Validator Address</div>
      <a
        class="col-12 col-lg-9 text--green"
        [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
        {{ transactionDetail?.messages[0]?.validator_address }}
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.StoreCode">
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Sender</div>
      <div class="col-12 col-lg-9">
        <a class="text--green" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
          {{ transactionDetail?.messages[0]?.sender }}
        </a>
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Code Id</div>
      <div class="col-12 col-lg-9">
        {{ storeCodeId }}
      </div>
    </div>
    <div class="row mb-3 small-body">
      <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0">Byte Code</div>
      <div class="col-12 col-lg-9">
        {{ transactionDetail?.messages[0]?.wasm_byte_code }}
      </div>
    </div>
  </ng-container>
</div>
