@import "../../../../../assets/scss/color.scss";

.msg-image {
  width: auto;
  height: 40px;
  filter: $filter-purple-icon;
}

.header-title{
  font-size: 18px;
}

.label__status {
  @media (max-width: 375px) {
    max-width: 175px !important; 
  }
}