@import '../../../../../assets/scss/color.scss';

.msg-image {
  width: auto;
  height: 38px;
  filter: $filter-purple-icon;
}

.header-title {
  font-size: 18px;
}

.tx-detail {
  .label__status {
    @media (max-width: 375px) {
      max-width: 175px !important;
    }
  }
}

.raw-content {
  white-space: pre-wrap;
}
