<h2 class="card-header mb-0 pb-0 text--white d-block">
  Messages
  <div class="divider divider-horizontal my-4 d-lg-none"></div>
</h2>
<div class="card-body body" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="transactionDetail?.type === eTransType.Send">
    <ng-container *ngFor="let item of transactionDetail?.messages; let i = index; let isLast = last">
      <div class="card-info" *ngIf="i < numberListSend">
        <div class="mb-3 d-flex box-header">
          <div class="col-12 col-lg-3">
            <div class="card-text header-title">
              <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
              {{ transactionDetailType }}
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal my-3"></div>
        <app-messages-item
          [label]="'From Address'"
          [value]="item?.from_address"
          [dataLink]="{ url: '/account' }"></app-messages-item>
        <app-messages-item
          [label]="'To Address'"
          [value]="item?.to_address"
          [dataLink]="{ url: '/account' }"></app-messages-item>
        <div class="row mb-3 body-01">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
          <div class="col-12 col-lg-9 text--gray-1">
            <ng-container *ngIf="item?.amount[0]?.amount > 0">
              {{ item?.amount[0]?.amount | balanceOf | number: global.formatNumberToken }}
              <span class="text--primary">{{ denom }}</span>
            </ng-container>
            <ng-container *ngIf="item?.amount[0]?.amount == 0"> - </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="text-md-left text-center">
      <button
        type="button"
        class="button button--md button-pill button-outline button-outline__in-card ml-auto"
        (click)="loadMoreSend()"
        *ngIf="transactionDetail?.messages?.length > numberListSend">
        <span class="fw-500 body-02 text--gray-1">Load More</span>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.ExecuteContract">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Contract'"
        [value]="transactionDetail?.messages[0]?.contract"
        [dataLink]="{ url: '/contracts' }"></app-messages-item>
      <app-messages-item
        [label]="'Sender'"
        [value]="transactionDetail?.messages[0]?.sender"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Messages</div>
        <div class="col-12 col-lg-9">
          <pre id="json" class="raw-content text--white px-4" [innerHtml]="objMsgContract | appJson"></pre>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.InstantiateContract">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <div class="row mb-3 body-01">
        <div class="col-3 mb-2 mb-lg-0 text--gray-4">Label</div>
        <div class="col-9 text--gray-1">{{ transactionDetail?.messages[0]?.label }}</div>
      </div>
      <app-messages-item
        [label]="'Sender'"
        [value]="transactionDetail?.messages[0]?.sender"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 fw-semibold mb-2 mb-lg-0 text--gray-4">Messages</div>
        <div class="col-12 col-lg-9">
          <pre id="json" class="raw-content text--white px-4" [innerHtml]="objMsgContract | appJson"></pre>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      transactionDetail?.type === eTransType.GetReward ||
      transactionDetail?.type === eTransType.Delegate ||
      transactionDetail?.type === this.eTransType.Undelegate
    ">
    <ng-container
      *ngIf="transactionDetail?.type === eTransType.GetReward && getRewardLength(transactionDetail?.messages) > 1">
      <ng-container *ngFor="let item of transactionDetail?.messages; let i = index; let isLast = last">
        <div class="card-info">
          <div class="mb-3 d-flex box-header">
            <div class="col-12 col-lg-3">
              <div class="card-text header-title">
                <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
                {{ transactionDetailType }}
              </div>
            </div>
          </div>
          <div class="divider divider-horizontal my-3"></div>
          <app-messages-item
            [label]="'Delegator Address'"
            [value]="item.delegator_address"
            [dataLink]="{ url: '/account' }"></app-messages-item>
          <div class="row mb-3 body-01">
            <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Validator Address</div>
            <div class="col-12 col-lg-9">
              <a class="text--primary" [routerLink]="['/validators', item.validator_address]">
                {{ item.validator_address }}
                <span>
                  <ng-container *ngIf="item.validatorName">({{ item.validatorName }})</ng-container>
                </span>
              </a>
            </div>
          </div>
          <div class="row mb-3 body-01">
            <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
            <div class="col-12 col-lg-9 text--gray-1">
              <ng-container *ngIf="listAmountClaim[i] > 0">
                {{ listAmountClaim[i] | number: global.formatNumberToken }}
                <span class="text--primary">{{ denom }}</span>
              </ng-container>
              <ng-container *ngIf="listAmountClaim[i] == 0"> - </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="getRewardLength(transactionDetail?.messages) === 1">
      <div class="card-info">
        <div class="mb-3 d-flex box-header">
          <div class="col-12 col-lg-3">
            <div class="card-text header-title">
              <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
              {{ transactionDetailType }}
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal my-3"></div>
        <app-messages-item
          [label]="'Delegator Address'"
          [value]="transactionDetail?.messages[0]?.delegator_address"
          [dataLink]="{ url: '/account' }"></app-messages-item>
        <div class="row mb-3 body-01">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Validator Address</div>
          <div class="col-12 col-lg-9">
            <a class="text--primary" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]">
              {{ transactionDetail?.messages[0]?.validator_address }}
              <span>
                <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
              </span>
            </a>
          </div>
        </div>
        <div class="row mb-3 body-01">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
          <div class="col-12 col-lg-9 text--gray-1">
            <ng-container *ngIf="amount > 0 || amountCommission > 0; else noValues">
              {{ amountCommission || amount | number: global.formatNumberToken }}
              <span class="text--primary">{{ denom }}</span>
            </ng-container>
            <ng-template #noValues> - </ng-template>
          </div>
        </div>
        <div class="row mb-3 body-01" *ngIf="amountClaim > 0">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Auto Claim Reward</div>
          <div class="col-12 col-lg-9 text--gray-1">
            {{ amountClaim | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="commissionAutoClaim > 0">
      <div class="card-info">
        <div class="mb-3 d-flex box-header">
          <div class="col-12 col-lg-3">
            <div class="card-text header-title">
              <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
              {{ transactionDetailType }}
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal my-3"></div>
        <div class="row mb-3 mt-5 d-none d-lg-flex">
          <div class="col-12">
            <div class="card-text header-title">
              <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
              Get Commission
            </div>
          </div>
        </div>
        <app-messages-item
          [label]="'To Address'"
          [value]="transactionDetail?.messages[0]?.to_address"
          [dataLink]="{ url: '/account' }"></app-messages-item>
        <div class="row mb-3 body-01">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Validator Address</div>
          <div class="col-12 col-lg-9">
            <a class="text--primary" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]">
              {{ transactionDetail?.messages[0]?.validator_address }}
              <span>
                <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
              </span>
            </a>
          </div>
        </div>
        <div class="row mb-3 body-01">
          <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
          <div class="col-12 col-lg-9 text--gray-1">
            {{ commissionAutoClaim | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vote">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Proposal Id'"
        [value]="transactionDetail?.messages[0]?.proposal_id"
        [dataLink]="{ url: '/votings' }"></app-messages-item>
      <app-messages-item
        [label]="'Voter'"
        [value]="transactionDetail?.messages[0]?.voter"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-3 mb-2 mb-lg-0 text--gray-4">Option</div>
        <div class="col-9 text--gray-1">
          {{ parsingOptionVote(transactionDetail?.messages[0]?.option) }}
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vesting">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'From Address'"
        [value]="transactionDetail?.messages[0]?.from_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <app-messages-item
        [label]="'To Address'"
        [value]="transactionDetail?.messages[0]?.to_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <app-messages-item [label]="'Vesting Schedule'" [value]="dateVesting"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.SubmitProposalTx">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
        <div class="col-12 col-lg-9 text--gray-1">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0">
            0.000000 <span class="text--primary">{{ denom }}</span></ng-container
          >
        </div>
      </div>
      <app-messages-item
        [label]="'Proposer'"
        [value]="transactionDetail?.messages[0]?.proposer"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <app-messages-item
        [label]="'Proposal Id'"
        [value]="transactionDetail?.tx?.logs[0].events[4].attributes[0].value"></app-messages-item>
      <app-messages-item
        [label]="'Proposal Type'"
        [value]="transactionDetail?.tx?.logs[0]?.events[4].attributes[1].value"></app-messages-item>
      <app-messages-item
        [label]="'Title'"
        [value]="transactionDetail?.tx?.tx?.body?.messages[0]?.content.title"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Redelegate">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Delegate Address'"
        [value]="transactionDetail?.messages[0]?.delegator_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Source Validator Address</div>
        <div class="col-12 col-lg-9">
          <a
            class="text--primary"
            [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_src_address]">
            {{ transactionDetail?.messages[0]?.validator_src_address }}
            <span>
              <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
            </span>
          </a>
        </div>
      </div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Destination Validator Address</div>
        <div class="col-12 col-lg-9">
          <a
            class="text--primary"
            [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_dst_address]">
            {{ transactionDetail?.messages[0]?.validator_dst_address }}
            <span>
              <ng-container *ngIf="validatorNameDes">({{ validatorNameDes }})</ng-container>
            </span>
          </a>
        </div>
      </div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
        <div class="col-12 col-lg-9 text--gray-1">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
      <div class="row mb-3 body-01" *ngIf="amountClaim > 0">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Auto Claim Reward</div>
        <div class="col-12 col-lg-9 text--gray-1">
          {{ amountClaim | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Deposit">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Proposal Id'"
        [value]="transactionDetail?.messages[0]?.proposal_id"
        [dataLink]="{ url: '/votings' }"></app-messages-item>
      <app-messages-item
        [label]="'Depositor'"
        [value]="transactionDetail?.messages[0]?.depositor"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
        <div class="col-12 col-lg-9 text--gray-1">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'To Address'"
        [value]="transactionDetail?.messages[0]?.to_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Validator</div>
        <div class="col-12 col-lg-9 text--gray-1">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
      </div>
      <app-messages-item
        [label]="'Validator Address'"
        [value]="transactionDetail?.messages[0]?.validator_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Validator'"
        [value]="transactionDetail?.messages[0]?.description?.moniker"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <app-messages-item
        [label]="'Validator'"
        [value]="transactionDetail?.messages[0]?.validator_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.StoreCode">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <app-messages-item
        [label]="'Sender'"
        [value]="transactionDetail?.messages[0]?.validator_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <app-messages-item [label]="'Code Id'" [value]="storeCodeId"></app-messages-item>
      <app-messages-item
        [label]="'Byte Code'"
        [value]="transactionDetail?.messages[0]?.wasm_byte_code"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.CreateValidator">
    <div class="card-info">
      <div class="mb-3 d-flex box-header">
        <div class="col-12 col-lg-3">
          <div class="card-text header-title">
            <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
            {{ transactionDetailType }}
          </div>
        </div>
      </div>
      <div class="divider divider-horizontal my-3"></div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Min Self Delegation</div>
        <div class="col-12 col-lg-9 text--gray-1">
          {{ transactionDetail?.messages[0]?.min_self_delegation | number: global.formatNumberToken }}
        </div>
      </div>
      <app-messages-item
        [label]="'Delegator Address'"
        [value]="transactionDetail?.messages[0]?.delegator_address"
        [dataLink]="{ url: '/account' }"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Validator Address</div>
        <div class="col-12 col-lg-9">
          <a class="text--primary" [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]">
            {{ transactionDetail?.messages[0]?.validator_address }}
            <span>
              <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
            </span>
          </a>
        </div>
      </div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
        <div class="col-12 col-lg-9 text--gray-1">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--primary">{{ denom }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
      <app-messages-item
        [label]="'Details'"
        [value]="transactionDetail?.messages[0]?.description?.details || '-'"></app-messages-item>
      <app-messages-item
        [label]="'Moniker'"
        [value]="transactionDetail?.messages[0]?.description?.moniker"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-3 mb-2 mb-lg-0 text--gray-4">Website</div>
        <div class="col-9">
          <ng-container *ngIf="transactionDetail?.messages[0]?.description?.website?.length > 0">
            <a class="text--primary" [href]="transactionDetail?.messages[0]?.description?.website">
              {{ transactionDetail?.messages[0]?.description?.website }}
            </a>
          </ng-container>
          <ng-container *ngIf="transactionDetail?.messages[0]?.description?.website?.length === 0">-</ng-container>
        </div>
      </div>
      <app-messages-item
        [label]="'Identity'"
        [value]="transactionDetail?.messages[0]?.description?.identity || '-'"></app-messages-item>
      <div class="row mb-3 body-01">
        <div class="col-3 mb-2 mb-lg-0 text--gray-4">Commission Rate</div>
        <div class="col-9">
          {{ transactionDetail?.messages[0]?.commission?.rate || 0 | percent: global.formatNumber2Decimal }}
        </div>
      </div>
      <div class="row mb-3 body-01">
        <div class="col-3 mb-2 mb-lg-0 text--gray-4">Commission Max Rate</div>
        <div class="col-9">
          {{ transactionDetail?.messages[0]?.commission?.max_rate || 0 | percent: global.formatNumber2Decimal }}
        </div>
      </div>
      <div class="row mb-3 body-01">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Commission Max Change Rate</div>
        <div class="col-12 col-lg-9">
          {{ transactionDetail?.messages[0]?.commission?.max_change_rate || 0 | percent: global.formatNumber2Decimal }}
        </div>
      </div>
      <app-messages-item
        [label]="'Public Key'"
        [value]="transactionDetail?.messages[0]?.pubkey?.key"></app-messages-item>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type?.toLowerCase().indexOf('ibc') > -1">
    <ng-container *ngFor="let item of transactionDetail?.messages; index as i">
      <div class="card-info" *ngIf="i === 1 && item['@type'] === eTransType.IBCTimeout || item['@type'] !== eTransType.IBCTimeout">
        <div class="mb-3 d-flex box-header">
          <div class="col-12 col-lg-3">
            <div class="card-text header-title">
              <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="m-1 mb-0 mt-0 msg-image" />
              {{ displayTitle(item['@type']) }}
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal my-3"></div>
        <ng-container [ngSwitch]="item['@type']">
          <div *ngSwitchCase="eTransType.IBCTransfer">
            <ng-container [ngTemplateOutlet]="ibcTransfer" [ngTemplateOutletContext]="{ data: item }"> </ng-container>
            <ng-container *ngTemplateOutlet="ibcProgress"> </ng-container>
          </div>
          <div *ngSwitchCase="eTransType.IBCReceived">
            <ng-container [ngTemplateOutlet]="ibcReceive" [ngTemplateOutletContext]="{ data: item }"> </ng-container>
            <ng-container *ngTemplateOutlet="ibcProgress"> </ng-container>
          </div>
          <div *ngSwitchCase="eTransType.IBCAcknowledgement">
            <ng-container [ngTemplateOutlet]="ibcAck" [ngTemplateOutletContext]="{ data: item }"> </ng-container>
            <ng-container *ngTemplateOutlet="ibcProgress"> </ng-container>
          </div>
          <div *ngSwitchCase="eTransType.IBCUpdateClient">
            <ng-container [ngTemplateOutlet]="ibcUpdateClient" [ngTemplateOutletContext]="{ data: item }">
            </ng-container>
          </div>
          <div *ngSwitchCase="eTransType.IBCTimeout">
            <ng-container [ngTemplateOutlet]="ibcTimeout" [ngTemplateOutletContext]="{ data: item }"> </ng-container>
            <ng-container *ngTemplateOutlet="ibcProgress"> </ng-container>
          </div>
          <div *ngSwitchCase="eTransType.IBCChannelOpenInit">
            <ng-container [ngTemplateOutlet]="ibcChannelOpen" [ngTemplateOutletContext]="{ data: item }">
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #ibcTransfer let-data="data">
    {{ getDataIBC(ibcListMapping.Transfer) }}
    <app-messages-item
      [label]="'Sender'"
      [value]="transactionDetail?.messages[0]?.sender"
      [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item [label]="'Receiver'" [value]="transactionDetail?.messages[0]?.receiver"></app-messages-item>
    <app-messages-item
      [label]="'Source Channel'"
      [value]="transactionDetail?.messages[0]?.source_channel"></app-messages-item>
    <app-messages-item [label]="'Port'" [value]="transactionDetail?.messages[0]?.source_port"></app-messages-item>
    <app-messages-item
      [label]="'Sequence'"
      [value]="ibcData?.packet_sequence"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="row mb-3 body-01">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div class="col-12 col-lg-9">
        {{ transactionDetail?.tx?.tx?.body?.messages[0]?.token?.amount | balanceOf | number: global.formatNumberToken }}
        <span class="text--primary">{{ denom }}</span>
      </div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="transactionDetail?.tx?.tx?.body?.messages[0]?.token?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item
      [label]="'Origin Denom'"
      [value]="transactionDetail?.tx?.tx?.body?.messages[0]?.token?.denom"></app-messages-item>
  </ng-template>

  <ng-template #ibcReceive let-data="data">
    {{ getDataIBC(ibcListMapping.Receive) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="data?.packet?.sequence"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="row mb-3 body-01" *ngIf="ibcData?.receive?.denom">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div class="col-12 col-lg-9">
        {{ ibcData?.amount | balanceOf | number: global.formatNumberToken }}
        <span class="text--primary">{{ ibcData?.receive?.denom }}</span>
      </div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="ibcData?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'Origin Denom'" [value]="ibcData?.denom"></app-messages-item>
    <app-messages-item [label]="'Source Port'" [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item [label]="'Source Channel'" [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <app-messages-item
      [label]="'Signer'"
      [value]="ibcData?.update_client?.signer"
      [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item
      [label]="'Receiver'"
      [value]="ibcData?.receiver"
      [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item [label]="'Sender'" [value]="ibcData?.sender"></app-messages-item>
    <app-messages-item [label]="'Effected'" [value]="ibcData?.effected"></app-messages-item>
  </ng-template>

  <ng-template #ibcAck let-data="data">
    {{ getDataIBC(ibcListMapping.Ack) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="ibcData?.packet_sequence"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="row mb-3 body-01">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div class="col-12 col-lg-9">
        {{ ibcData?.acknowledgement?.amount | balanceOf | number: global.formatNumberToken }}
        <span class="text--primary">{{ denom }}</span>
      </div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="ibcData?.acknowledgement?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'Origin Denom'" [value]="ibcData?.acknowledgement?.denom"></app-messages-item>
    <app-messages-item [label]="'Receiver'" [value]="ibcData?.acknowledgement?.receiver"></app-messages-item>
    <app-messages-item
      [label]="'Sender'"
      [value]="ibcData?.acknowledgement?.sender"
      [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item [label]="'Source Port'" [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item [label]="'Source Channel'" [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <app-messages-item
      [label]="'Signer'"
      [value]="ibcData?.acknowledgement?.signer"
      [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item [label]="'Effected'" [value]="ibcData?.effected"></app-messages-item>
  </ng-template>

  <ng-template #ibcTimeout let-data="data">
    {{ getDataIBC(ibcListMapping.TimeOut) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="ibcData?.packet_sequence"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item
      [label]="'Source Port'"
      [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item
      [label]="'Source Channel'"
      [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <div class="row mb-3 body-01">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Data</div>
      <div class="col-12 col-lg-9">
        <pre id="json" class="raw-content text--white px-4" [innerHtml]="ibcData?.time_out?.data | appJson"></pre>
      </div>
    </div>
    <app-messages-item
      [label]="'Timeout Revision Number'"
      [value]="ibcData?.time_out?.packet?.timeout_height?.revision_number"></app-messages-item>
    <app-messages-item
      [label]="'Timeout Revision Height'"
      [value]="ibcData?.time_out?.packet?.timeout_height?.revision_height"></app-messages-item>
    <app-messages-item
      [label]="'Timeout Timestamp'"
      [value]="ibcData?.time_out?.packet?.timeout_timestamp"></app-messages-item>
    <app-messages-item
      [label]="'Proof Revision Number'"
      [value]="ibcData?.time_out?.proof_height?.revision_number"></app-messages-item>
    <app-messages-item
      [label]="'Proof Revision Height'"
      [value]="ibcData?.time_out?.proof_height?.revision_height"></app-messages-item>
    <app-messages-item
      [label]="'Next Sequence Recv'"
      [value]="ibcData?.time_out?.next_sequence_recv"></app-messages-item>
    <app-messages-item [label]="'Signer'" [value]="ibcData?.time_out?.signer" [dataLink]="{ url: '/account' }"></app-messages-item>
  </ng-template>

  <ng-template #ibcUpdateClient let-data="data">
    <app-messages-item [label]="'Signer'" [value]="data?.signer" [dataLink]="{ url: '/account' }"></app-messages-item>
    <app-messages-item [label]="'Client ID'" [value]="data?.client_id"></app-messages-item>
    <app-messages-item
      [label]="'block'"
      [value]="data?.header?.signed_header?.header?.version?.block"></app-messages-item>
    <app-messages-item [label]="'app'" [value]="data?.header?.signed_header?.header?.version?.app"></app-messages-item>
    <app-messages-item [label]="'chain_id'" [value]="data?.header?.signed_header?.header?.chain_id"></app-messages-item>
    <app-messages-item
      [label]="'height'"
      [value]="data?.header?.signed_header?.header?.height"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'time'" [value]="data?.header?.signed_header?.header?.time"></app-messages-item>
    <app-messages-item
      [label]="'hash'"
      [value]="data?.header?.signed_header?.header?.last_block_id?.part_set_header?.hash"></app-messages-item>
    <app-messages-item
      [label]="'total'"
      [value]="data?.header?.signed_header?.header?.last_block_id?.part_set_header?.total"></app-messages-item>
    <app-messages-item
      [label]="'last_commit_hash'"
      [value]="data?.header?.signed_header?.header?.last_commit_hash"></app-messages-item>
    <app-messages-item
      [label]="'data_hash'"
      [value]="data?.header?.signed_header?.header?.data_hash"></app-messages-item>
    <app-messages-item
      [label]="'validators_hash'"
      [value]="data?.header?.signed_header?.header?.validators_hash"></app-messages-item>
    <app-messages-item
      [label]="'next_validators_hash'"
      [value]="data?.header?.signed_header?.header?.next_validators_hash"></app-messages-item>
    <app-messages-item
      [label]="'consensus_hash'"
      [value]="data?.header?.signed_header?.header?.consensus_hash"></app-messages-item>
    <app-messages-item [label]="'app_hash'" [value]="data?.header?.signed_header?.header?.app_hash"></app-messages-item>
    <app-messages-item
      [label]="'last_results_hash'"
      [value]="data?.header?.signed_header?.header?.last_results_hash"></app-messages-item>
    <app-messages-item
      [label]="'evidence_hash'"
      [value]="data?.header?.signed_header?.header?.evidence_hash"></app-messages-item>
    <app-messages-item
      [label]="'proposer_address'"
      [value]="data?.header?.signed_header?.header?.proposer_address"></app-messages-item>
  </ng-template>

  <ng-template #ibcChannelOpen let-data="data">
    <app-messages-item
      [label]="'Sequence'"
      [value]="ibcData?.packet_sequence"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
  </ng-template>

  <ng-template #ibcProgress>
    <div *ngIf="listIBCProgress?.length > 0">
      <div class="divider divider-horizontal my-3"></div>
      <div class="row mb-3 body-01 ibc-process">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">IBC Progress</div>
        <div class="col-12 col-lg-9" style="word-break: break-word">
          <ng-container
            [ngTemplateOutlet]="ibcItem"
            [ngTemplateOutletContext]="{ type: eTransType.IBCTransfer, title: 'Transfer' }"
            *ngIf="filterIBCType(eTransType.IBCTransfer)?.length > 0">
          </ng-container>

          <ng-container *ngIf="filterIBCType(eTransType.IBCTimeout).length === 0">
            <ng-container
              [ngTemplateOutlet]="ibcItem"
              [ngTemplateOutletContext]="{ type: eTransType.IBCReceived, title: 'Receive' }"
              *ngIf="filterIBCType(eTransType.IBCReceived)?.length > 0">
            </ng-container>

            <ng-container
              [ngTemplateOutlet]="ibcItem"
              [ngTemplateOutletContext]="{ type: eTransType.IBCAcknowledgement, title: 'Acknowledgement' }"
              *ngIf="filterIBCType(eTransType.IBCAcknowledgement)?.length > 0">
            </ng-container>
          </ng-container>
          <ng-container *ngIf="filterIBCType(eTransType.IBCTimeout).length > 0">
            <ng-container
              [ngTemplateOutlet]="ibcItem"
              [ngTemplateOutletContext]="{ type: eTransType.IBCTimeout, title: 'Timeout' }"
              *ngIf="filterIBCType(eTransType.IBCTimeout)?.length > 0">
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-template #ibcItem let-type="type" let-title="title">
        <div class="ibc-item">
          <div class="d-flex align-items-center">
            <div class="ibc-checker mr-2"></div>
            <div class="text--green-4">{{ title }}</div>
          </div>
          <div class="ml-10 p-3 p-lg-4 bg-gray-8">
            <ng-container *ngFor="let item of filterIBCType(type)">
              <div class="d-lg-flex justify-content-between">
                <div>{{ item.denom }}</div>
                <div class="body text-end mt-3 mt-lg-0">
                  <div>
                    <a *ngIf="item.denom === denom" class="text--primary" href="/transaction/{{ item.tx_hash }}">
                      <span class="d-lg-none">{{ item.tx_hash | cutStringPipe: 8:8 }}</span>
                      <span class="d-none d-lg-block">{{ item.tx_hash }}</span>
                    </a>
                    <span *ngIf="item.denom !== denom">
                      <span class="d-lg-none">{{ item.tx_hash | cutStringPipe: 8:8 }}</span>
                      <span class="d-none d-lg-block">{{ item.tx_hash }}</span>
                    </span>
                  </div>
                  <div class="mt-1 ibc__date">
                    <div class="d-flex justify-content-end">
                      <img
                        src="assets/icons/icons-svg/color/Check.svg"
                        width="16px"
                        height="16px"
                        *ngIf="item.effected"
                        class="mr-1" />
                      {{ commonService.getDateValue(item.time)[0] }}
                    </div>
                    <div class="d-flex justify-content-end align-items-center ml-2">
                      <span>({{ item.time | customDate: 'yyyy-MM-dd' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-1 mx-md-2"></div>
                      <span>{{ item.time | customDate: 'HH:mm:ss' }})</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</div>
