<section class="mt-4 mt-lg-6">
  <h2 class="text--white">Equipped SBT</h2>
  <div class="card">
    <div class="card-body">
      <!-- Title -->
      <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-lg-center mb-4">
        <div class="body text--gray-4 mt-4 mt-lg-0" *ngIf="tokenList && tokenList.length > 0">
          {{countSelected ?? 0}} of {{tokenList.length}} item{{tokenList.length > 1 ? 's' : ''}} selected
        </div>
        <form class="aura-form single-input-field search-form-sbequipped" #searchForm>
          <div class="input-group">
            <input
                type="text"
                class="form-control"
                placeholder="Search for Tx Hash, Address or Status"
                [(ngModel)]="textSearch"
                [maxLength]="maxLengthSearch"
                (keyup)="searchToken()"
                name="search"
                autocomplete="off" />
            <button
                type="submit"
                class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
                (click)="searchToken()">
              <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
            </button>
            <button
                type="reset"
                class="btn-reset cursor-pointer {{
                  !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
                }}"
                (click)="resetSearch()">
              <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="loading" class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
      <div *ngIf="!loading">
        <!-- Token list -->
        <div class="nft-cards token-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5"
             *ngIf="tokenList.length > 0; else noValues">
          <div class="nft-cards__col col" *ngFor="let token of showData">
            <div class="nft-cards__item-border">
              <a href="#">
                <div class="nft-cards__item">
                  <div class="token-cards__img">
                    <img src="{{token.img}}" alt="{{token.name}}">
                    <i class="ph-bookmark-simple-thin token__bookmark token__bookmark--unequipped" *ngIf="!token.isSelected"></i>
                    <i class="ph-bookmark-simple-fill token__bookmark token__bookmark--equipped" *ngIf="token.isSelected"></i>
                  </div>
                  <div class="pt-2 pb-4 px-2">
                    <div class="nft__info">
                      <span class="body mr-1 text--gray-1">Token ID:</span>
                      <span>Aureliana</span>
                    </div>
                    <div class="nft__info caption fw-normal">
                      <span class="mr-1 text--gray-1">Token:</span>
                      <span>3933</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <app-paginator *ngIf="tokenList.length > 20"
            [length]="pageData?.length"
            [pageSize]="pageData?.pageSize"
            (paginator)="paginatorEmit($event)"
            (pageEvent)="pageEvent($event)">
        </app-paginator>
        <ng-template #noValues>
          <app-table-no-data *ngIf="!loading"></app-table-no-data>
        </ng-template>
      </div>
    </div>
  </div>
</section>
