<div class="box-tx-detail">
  <div *ngIf="!isTransactionTypeDefault">
    <ng-container *ngIf="transactionDetail?.type?.toLowerCase().indexOf('ibc') == -1">
      <ng-container *ngIf="!(transactionDetail?.messages[0]['@type'] === eTransType.MultiSend); else multiSend">
        <ng-container *ngFor="let element of currentData; let i = index">
          <div class="card text--white">
            <div class="card-body body">
              <ng-container
                *ngTemplateOutlet="
                  messageHeader;
                  context: {
                    data: {
                      label:
                        element[element.length - 1].key === 'header'
                          ? element[element.length - 1].value
                          : transactionTypeArr[i] || transactionDetailType
                    }
                  }
                "></ng-container>
              <ng-container *ngIf="element.length > 0">
                <ng-container *ngFor="let item of element">
                  <app-messages-item
                    *ngIf="!item.specialCase && item.key !== 'header'"
                    [label]="item.key"
                    [value]="item.value"
                    [dataLink]="item.link"
                    [denom]="item.denom"
                    [pipeType]="item.pipeType"></app-messages-item>
                  <ng-container [ngSwitch]="item.specialCase" *ngIf="item.specialCase">
                    <div *ngSwitchCase="specialCase.ByteCode">
                      <div class="d-flex flex-wrap mb-2">
                        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Byte Code</div>
                        <div class="col-12 col-lg-9 text--gray-1">
                          <div [class.line-claim-v]="!seeLessArr[i]" class="overflow-hidden">
                            {{ item?.value }}
                          </div>
                          <div
                            (click)="seeLessArr[i] = true"
                            class="text--primary cursor-pointer mt-1"
                            *ngIf="!seeLessArr[i]">
                            See More
                          </div>
                          <div
                            (click)="seeLessArr[i] = false"
                            class="text--primary cursor-pointer mt-1"
                            *ngIf="seeLessArr[i]">
                            See Less
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="specialCase.EventLog">
                      <ng-container
                        [ngTemplateOutlet]="logEvent"
                        [ngTemplateOutletContext]="{ data: item.value, idx: i }">
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="element.length == 0">
                <div class="d-flex flex-wrap mb-2">
                  <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Message</div>
                  <div class="col-12 col-lg-9">
                    <pre
                      id="json"
                      class="raw-content text--white px-4"
                      [innerHtml]="transactionDetail?.messages[0] | appJson"></pre>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.type?.toLowerCase().indexOf('ibc') > -1">
      <ng-container *ngFor="let item of transactionDetail?.messages; index as i">
        <div class="card text--white">
          <div class="card-body body">
            <ng-container *ngTemplateOutlet="messageHeader; context: { data: { label: displayTitle(item['@type']) } }">
            </ng-container>
            <ng-container [ngSwitch]="item['@type']">
              <div *ngSwitchCase="eTransType.IBCTransfer">
                <ng-container [ngTemplateOutlet]="ibcTransfer" [ngTemplateOutletContext]="{ data: item }">
                </ng-container>
                <ng-container *ngTemplateOutlet="ibcProgress"></ng-container>
              </div>
              <div *ngSwitchCase="eTransType.IBCReceived">
                <ng-container [ngTemplateOutlet]="ibcReceive" [ngTemplateOutletContext]="{ data: item }">
                </ng-container>
                <ng-container *ngTemplateOutlet="ibcProgress"></ng-container>
              </div>
              <div *ngSwitchCase="eTransType.IBCAcknowledgement">
                <ng-container [ngTemplateOutlet]="ibcAck" [ngTemplateOutletContext]="{ data: item }"></ng-container>
                <ng-container *ngTemplateOutlet="ibcProgress"></ng-container>
              </div>
              <div *ngSwitchCase="eTransType.IBCUpdateClient">
                <ng-container [ngTemplateOutlet]="ibcUpdateClient" [ngTemplateOutletContext]="{ data: item }">
                </ng-container>
              </div>
              <div *ngSwitchCase="eTransType.IBCTimeout">
                <ng-container [ngTemplateOutlet]="ibcTimeout" [ngTemplateOutletContext]="{ data: item, index: i }">
                </ng-container>
                <ng-container *ngTemplateOutlet="ibcProgress"></ng-container>
              </div>
              <div *ngSwitchCase="eTransType.IBCChannelOpenInit">
                <ng-container [ngTemplateOutlet]="ibcChannelOpen" [ngTemplateOutletContext]="{ data: item }">
                </ng-container>
              </div>
            </ng-container>
            <ng-container
              [ngTemplateOutlet]="logEvent"
              [ngTemplateOutletContext]="{ data: transactionDetail?.tx?.logs, idx: i }">
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="transactionDetail?.messages[0]['@type'] === '/ethermint.evm.v1.MsgEthereumTx'">
    <ng-container *ngFor="let item of transactionDetail?.messages; let i = index">
      <div class="card text--white">
        <div class="card-body body">
          <div class="d-flex flex-wrap mb-2">
            <div class="col-12 col-lg-3 mb-2 text--gray-4 body">Type</div>
            <div class="col-12 col-lg-9 mb-2">{{ transactionDetail?.messages[0]['@type'] }}</div>
            <div class="col-12 col-lg-3 mb-lg-0 mb-2 text--gray-4 d-flex align-items-center body">EVM Txn hash</div>
            <div class="col-12 col-lg-9">
              <a
                class="text--primary"
                routerLink="/tx/{{ transactionDetail?.messages[0]['hash'] }}"
                [copyBtn]="transactionDetail?.messages[0]['hash']">
                {{
                  environmentService.isMobile
                    ? (transactionDetail?.messages[0]['hash'] | ellipsis: 8 : 8)
                    : transactionDetail?.messages[0]['hash']
                }}
              </a>
            </div>
            <div class="col-12 col-lg-3 my-2 text--gray-4 body">Message</div>
            <div class="col-12 col-lg-9 my-2">
              <pre id="json" class="raw-content text--white px-4" [innerHtml]="item | appJson"></pre>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="logEvent"
            [ngTemplateOutletContext]="{ data: transactionDetail.tx?.logs, idx: i }">
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div
    *ngIf="isTransactionTypeDefault && transactionDetail?.messages[0]['@type'] !== '/ethermint.evm.v1.MsgEthereumTx'">
    <ng-container *ngFor="let item of transactionDetail?.messages; let i = index">
      <div class="card text--white">
        <div class="card-body body">
          <div class="d-flex flex-wrap mb-2">
            <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Message</div>
            <div class="col-12 col-lg-9">
              <pre id="json" class="raw-content text--white px-4" [innerHtml]="item | appJson"></pre>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="logEvent"
            [ngTemplateOutletContext]="{ data: transactionDetail.tx?.logs, idx: i }">
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #ibcTransfer let-data="data">
    {{ getDataIBC(ibcListMapping.Transfer) }}
    <app-messages-item
      [label]="'Sender'"
      [value]="transactionDetail?.messages[0]?.sender"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item [label]="'Receiver'" [value]="transactionDetail?.messages[0]?.receiver"></app-messages-item>
    <app-messages-item
      [label]="'Source Channel'"
      [value]="transactionDetail?.messages[0]?.source_channel"></app-messages-item>
    <app-messages-item [label]="'Port'" [value]="transactionDetail?.messages[0]?.source_port"></app-messages-item>
    <app-messages-item
      [label]="'Sequence'"
      [value]="getLongValue(ibcData?.packet_sequence)"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="d-flex flex-wrap mb-2">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div
        class="col-12 col-lg-9"
        [innerHTML]="
          (transactionDetail?.tx?.tx?.body?.messages[0]?.token?.denom === coinMinimalDenom
            ? denom
            : transactionDetail?.tx?.tx?.body?.messages[0]?.token?.denom
          ) | ibcDenom: transactionDetail?.tx?.tx?.body?.messages[0]?.token?.amount
        "></div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="transactionDetail?.tx?.tx?.body?.messages[0]?.token?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item
      [label]="'Origin Denom'"
      [value]="transactionDetail?.tx?.tx?.body?.messages[0]?.token?.denom"></app-messages-item>
  </ng-template>

  <ng-template #ibcReceive let-data="data">
    {{ getDataIBC(ibcListMapping.Receive) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="getLongValue(data?.packet?.sequence)"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="d-flex flex-wrap mb-2" *ngIf="ibcData?.receive?.denomOrigin">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div class="col-12 col-lg-9" [innerHTML]="ibcData?.receive?.denomOrigin | ibcDenom: ibcData?.amount"></div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="ibcData?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'Origin Denom'" [value]="ibcData?.receive?.denomOrigin"></app-messages-item>
    <app-messages-item [label]="'Source Port'" [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item [label]="'Source Channel'" [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <app-messages-item
      [label]="'Signer'"
      [value]="ibcData?.update_client?.signer || transactionDetail.messages[0].signer"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item
      [label]="'Receiver'"
      [value]="ibcData?.receiver"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item [label]="'Sender'" [value]="ibcData?.sender"></app-messages-item>
    <app-messages-item [label]="'Effected'" [value]="ibcData?.effected"></app-messages-item>
  </ng-template>

  <ng-template #ibcAck let-data="data">
    {{ getDataIBC(ibcListMapping.Ack) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="getLongValue(ibcData?.packet_sequence)"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <div class="d-flex flex-wrap mb-2">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Amount</div>
      <div class="col-12 col-lg-9">
        {{ ibcData?.acknowledgement?.amount | balance | mask: 'separator.6' }}
        <span appLinkDenom>{{ denom }}</span>
      </div>
    </div>
    <app-messages-item
      [label]="'Origin Amount'"
      [value]="ibcData?.acknowledgement?.amount"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'Origin Denom'" [value]="ibcData?.acknowledgement?.denom"></app-messages-item>
    <app-messages-item [label]="'Receiver'" [value]="ibcData?.acknowledgement?.receiver"></app-messages-item>
    <app-messages-item
      [label]="'Sender'"
      [value]="ibcData?.acknowledgement?.sender"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item [label]="'Source Port'" [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item [label]="'Source Channel'" [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <app-messages-item
      [label]="'Signer'"
      [value]="ibcData?.acknowledgement?.signer"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item [label]="'Effected'" [value]="ibcData?.effected"></app-messages-item>
  </ng-template>

  <ng-template #ibcTimeout let-data="data" let-index="index">
    {{ getDataIBC(ibcListMapping.TimeOut) }}
    <app-messages-item
      [label]="'Sequence'"
      [value]="getLongValue(ibcData?.time_out[index - 1]?.next_sequence_recv)"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'Source Port'" [value]="ibcData?.packet_src_port"></app-messages-item>
    <app-messages-item [label]="'Source Channel'" [value]="ibcData?.packet_src_channel"></app-messages-item>
    <app-messages-item [label]="'Destination Port'" [value]="ibcData?.packet_dst_port"></app-messages-item>
    <app-messages-item [label]="'Destination Channel'" [value]="ibcData?.packet_dst_channel"></app-messages-item>
    <div class="d-flex flex-wrap mb-2">
      <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Data</div>
      <div class="col-12 col-lg-9">
        <pre
          id="json"
          class="raw-content text--white px-4"
          [innerHtml]="ibcData?.time_out[index - 1]?.data | appJson"></pre>
      </div>
    </div>
    <app-messages-item
      [label]="'Timeout Revision Number'"
      [value]="ibcData?.time_out[index - 1]?.packet?.timeout_height?.revision_number"></app-messages-item>
    <app-messages-item
      [label]="'Timeout Revision Height'"
      [value]="ibcData?.time_out[index - 1]?.packet?.timeout_height?.revision_height"></app-messages-item>
    <app-messages-item
      [label]="'Timeout Timestamp'"
      [value]="ibcData?.time_out[index - 1]?.packet?.timeout_timestamp"></app-messages-item>
    <app-messages-item
      [label]="'Proof Revision Number'"
      [value]="ibcData?.time_out[index - 1]?.proof_height?.revision_number"></app-messages-item>
    <app-messages-item
      [label]="'Proof Revision Height'"
      [value]="ibcData?.time_out[index - 1]?.proof_height?.revision_height"></app-messages-item>
    <app-messages-item
      [label]="'Next Sequence Recv'"
      [value]="getLongValue(ibcData?.time_out[index - 1]?.next_sequence_recv)"></app-messages-item>
    <app-messages-item
      [label]="'Signer'"
      [value]="ibcData?.time_out[index - 1]?.signer"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
  </ng-template>

  <ng-template #ibcUpdateClient let-data="data">
    <app-messages-item
      [label]="'Signer'"
      [value]="data?.signer"
      [dataLink]="{ url: '/address', nameTag: true }"></app-messages-item>
    <app-messages-item [label]="'Client ID'" [value]="data?.client_id"></app-messages-item>
    <app-messages-item
      [label]="'block'"
      [value]="data[keyIbc]?.signed_header?.header?.version?.block"></app-messages-item>
    <app-messages-item [label]="'app'" [value]="data[keyIbc]?.signed_header?.header?.version?.app"></app-messages-item>
    <app-messages-item [label]="'chain_id'" [value]="data[keyIbc]?.signed_header?.header?.chain_id"></app-messages-item>
    <app-messages-item
      [label]="'height'"
      [value]="data[keyIbc]?.signed_header?.header?.height"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
    <app-messages-item [label]="'time'" [value]="data[keyIbc]?.signed_header?.header?.time"></app-messages-item>
    <app-messages-item
      [label]="'hash'"
      [value]="data[keyIbc]?.signed_header?.header?.last_block_id?.part_set_header?.hash"></app-messages-item>
    <app-messages-item
      [label]="'total'"
      [value]="data[keyIbc]?.signed_header?.header?.last_block_id?.part_set_header?.total"></app-messages-item>
    <app-messages-item
      [label]="'last_commit_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.last_commit_hash"></app-messages-item>
    <app-messages-item
      [label]="'data_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.data_hash"></app-messages-item>
    <app-messages-item
      [label]="'validators_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.validators_hash"></app-messages-item>
    <app-messages-item
      [label]="'next_validators_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.next_validators_hash"></app-messages-item>
    <app-messages-item
      [label]="'consensus_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.consensus_hash"></app-messages-item>
    <app-messages-item [label]="'app_hash'" [value]="data[keyIbc]?.signed_header?.header?.app_hash"></app-messages-item>
    <app-messages-item
      [label]="'last_results_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.last_results_hash"></app-messages-item>
    <app-messages-item
      [label]="'evidence_hash'"
      [value]="data[keyIbc]?.signed_header?.header?.evidence_hash"></app-messages-item>
    <app-messages-item
      [label]="'proposer_address'"
      [value]="data[keyIbc]?.signed_header?.header?.proposer_address"></app-messages-item>
  </ng-template>

  <ng-template #ibcChannelOpen let-data="data">
    <app-messages-item
      [label]="'Sequence'"
      [value]="getLongValue(ibcData?.packet_sequence)"
      [pipeType]="pipeTypeData.Number"></app-messages-item>
  </ng-template>

  <ng-template #ibcProgress>
    <div *ngIf="listIBCProgress?.length > 0">
      <div class="divider divider-horizontal mt-4 mb-6"></div>
      <div class="d-flex flex-wrap mb-2 ibc-process">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">IBC Progress</div>
        <div class="col-12 col-lg-9" style="word-break: break-word">
          <ng-container
            [ngTemplateOutlet]="ibcItem"
            [ngTemplateOutletContext]="{ type: eTransType.IBCTransfer, title: 'Transfer' }"
            *ngIf="filterIBCType(eTransType.IBCTransfer)?.length > 0">
          </ng-container>

          <ng-container *ngIf="filterIBCType(eTransType.IBCTimeout)?.length === 0">
            <ng-container
              [ngTemplateOutlet]="ibcItem"
              [ngTemplateOutletContext]="{ type: eTransType.IBCReceived, title: 'Receive' }"
              *ngIf="filterIBCType(eTransType.IBCReceived)?.length > 0">
            </ng-container>
            <ng-container
              [ngTemplateOutlet]="ibcItem"
              [ngTemplateOutletContext]="{ type: eTransType.IBCAcknowledgement, title: 'Acknowledgement' }"
              *ngIf="filterIBCType(eTransType.IBCAcknowledgement)?.length > 0">
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="filterIBCType(eTransType.IBCTimeout)?.length > 0"
            [ngTemplateOutlet]="ibcItem"
            [ngTemplateOutletContext]="{ type: eTransType.IBCTimeout, title: 'Timeout' }">
          </ng-container>
        </div>
      </div>
      <ng-template #ibcItem let-type="type" let-title="title">
        <div class="ibc-item" *ngIf="listIBCProgress">
          <div class="d-flex align-items-center">
            <div class="ibc-checker mr-2" [ngClass]="type === eTransType.IBCTimeout ? 'timeout' : ''"></div>
            <div class="text--green-4" [ngClass]="type === eTransType.IBCTimeout ? 'text--red-3' : ''">{{ title }}</div>
          </div>
          <div class="ml-10 p-3 p-lg-4 bg-gray-8">
            <ng-container *ngFor="let item of listIBCProgress">
              <div class="d-lg-flex justify-content-between" *ngIf="item.typeTx === type">
                <div>
                  <!-- {{ denomIBC || ibcData?.receive?.denomOrigin | ellipsis : 25 }} -->
                </div>
                <div class="body text-end mt-3 mt-lg-0">
                  <div>
                    <a *ngIf="item.denom === denom" class="text--primary" href="/tx/{{ item.tx_hash }}">
                      <span class="d-lg-none">{{ item.tx_hash | ellipsis: 8 : 8 }}</span>
                      <span class="d-none d-lg-block">{{ item.tx_hash }}</span>
                    </a>
                    <span *ngIf="item.denom !== denom">
                      <span class="d-lg-none">{{ item.tx_hash | ellipsis: 8 : 8 }}</span>
                      <span class="d-none d-lg-block">{{ item.tx_hash }}</span>
                    </span>
                  </div>
                  <div class="mt-1 ibc__date">
                    <div class="d-flex justify-content-end">
                      <i class="ph ph-check mr-1 text--green-4 body-01" *ngIf="item.effected"></i>
                      {{ item.time | customDateTime: 'Distance' }}
                    </div>
                    <div class="d-flex justify-content-end align-items-center ml-2">
                      <span>({{ item.time | customDateTime: 'DateOnly' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-1 mx-md-2"></div>
                      <span>{{ item.time | customDateTime: 'TimeOnly' }})</span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>

  <ng-template #multiSend>
    <div class="card-info box-multisend">
      <div class="card-text header-title d-flex align-items-center">
        <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="mb-0 mt-0 msg-image mr-2" />
        Multisend
      </div>
      <div class="body-multisend">
        <ng-container *ngFor="let item of transactionDetail?.messages[0]?.outputs; let i = index">
          <div class="d-flex justify-content-between mx-4 my-5">
            <div class="txt-label">From</div>
            <div class="txt-address">
              <app-name-tag
                [value]="transactionDetail?.messages[0]?.inputs[0]?.address"
                [linkRouter]="[
                  (transactionDetail?.messages[0]?.inputs[0]?.address | isContract) ? '/contracts' : '/address',
                  transactionDetail?.messages[0]?.inputs[0]?.address
                ]"
                [fullText]="true"
                [fullTextMob]="true">
              </app-name-tag>
            </div>
            <div class="txt-label">To</div>
            <div class="txt-address">
              <app-name-tag
                [linkRouter]="[(item?.address | isContract) ? '/contracts' : '/address', item?.address]"
                [fullText]="true"
                [fullTextMob]="true"
                [value]="item?.address">
              </app-name-tag>
            </div>
            <div class="txt-amount">
              <i class="ph-currency-circle-dollar mx-auto h3 mr-2 mb-0 text--white"></i>
              <div class="ml-2">
                <span
                  class="pr-lg-0 pr-4"
                  *ngIf="item?.coins?.length > 0"
                  [innerHTML]="item?.coins[0]?.denom | ibcDenom: item?.coins[0]?.amount">
                </span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="mx-4 mt-3 mt-lg-1">
        <ng-container
          [ngTemplateOutlet]="logEvent"
          [ngTemplateOutletContext]="{ data: transactionDetail?.tx?.logs, idx: 0 }">
        </ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template #logEvent let-data="data" let-idx="idx">
    <ng-container *ngIf="transactionDetail.code === codeTransaction.Success">
      <div class="d-flex flex-wrap mb-2">
        <div class="col-12 col-lg-3 mb-2 mb-lg-0 text--gray-4 body">Event Log</div>
        <div class="col-12 col-lg-9 text--gray-1">
          <mat-slide-toggle (click)="changeShowData(idx)">Show all events</mat-slide-toggle>
          <div class="box-event-log mt-2" *ngIf="isDisplay[idx]">
            <ng-container *ngFor="let element of data; let index = index">
              <div class="item-event-log" *ngIf="index === idx">
                <span class="caption fw-normal">{{ element.events.type }}</span>
                <mat-expansion-panel
                  [disabled]="!item.attributes || item.attributes?.length === 0"
                  class="custom-expansion-panel"
                  [hideToggle]="true"
                  *ngFor="let item of element.events; first as isFirst; let i = index"
                  [expanded]="isFirst">
                  <mat-expansion-panel-header class="content-contract">
                    <mat-panel-title class="item-content body-02 text--gray-1">
                      <div class="caption fw-normal text--white" [class.txt-header]="item.attributes?.length > 0">
                        {{ item.type }}
                      </div>
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                  </mat-expansion-panel-header>

                  <div [class.content-log]="item.attributes?.length > 0">
                    <ng-container *ngFor="let data of item.attributes; let idx = index">
                      <div class="ml-5 mb-2 row">
                        <span class="col-12 col-lg-3 txt-event-key body-02 fw-normal">{{ data.key }}</span>
                        <span class="col-12 col-lg-9 break-all">
                          {{ data.value }}
                        </span>
                      </div>
                    </ng-container>
                  </div>
                </mat-expansion-panel>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #messageHeader let-data="data">
    <div class="mb-3 d-flex box-header">
      <div class="col-12 col-lg-3">
        <div class="card-text header-title d-flex align-items-center">
          <img [src]="'assets/icons/icons-svg/color/money.svg' | imageS3" class="mb-0 mt-0 msg-image mr-2" />
          {{ data.label || displayTitleTX() }}
        </div>
      </div>
    </div>
    <div class="divider divider-horizontal mt-4 mb-6"></div>
  </ng-template>
</div>

<ng-template #noValues> -</ng-template>
