<div
  *ngIf="{ value: breakpoint$ | async } as breakpoint"
  class="code-contract justify-content-between text--white mt-8 mt-lg-6">
  <div class="d-flex align-items-center">
    <img [src]="'assets/images/icons/contract-verify.svg' | imageS3" alt="" width="16" height="16" />
    <span class="ml-2 mr-1 text--gray-1"> Contract Source Code Verified </span>
  </div>

  <div class="d-flex row my-lg-0">
    <div class="col-lg-6 col-12">
      <table class="aura-basic-table w-100 table-detail body-02 fw-semibold">
        <tr>
          <td class="px-0 text--gray-5 py-3 align-baseline">Contract Name:</td>
          <td class="px-0 py-3 text--gray-1">{{ contractDetailData?.contract_name || '-' }}</td>
        </tr>
        <tr>
          <td class="px-0 text--gray-5 py-3 align-baseline">Compiler Version:</td>
          <td class="text--contract px-0 py-3 text--gray-1">{{ contractDetailData?.compiler_version || '-' }}</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-6 col-12">
      <table class="aura-basic-table w-100 table-detail body-02 fw-semibold">
        <tr>
          <td class="px-0 text--gray-5 py-3 align-baseline">Optimization Enabled:</td>
          <td class="px-0 py-3 text--gray-1">{{ '-' }}</td>
        </tr>
        <tr>
          <td class="px-0 text--gray-5 py-3 align-baseline">Other Settings:</td>
          <td class="text--contract px-0 py-3 text--gray-1">{{ '-' }}</td>
        </tr>
      </table>
    </div>
  </div>

  <ng-container>
    <!-- File Contract Source Code -->
    <div>
      <div class="my-4 mt-lg-6 d-flex align-items-center">
        <img [src]="'assets/images/icons/token-contract.svg' | imageS3" alt="" width="16px" height="16px" />
        <span class="text--gray-1 ml-2 body-02">File Contract Source Code</span>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div
          class="w-100 text-nowrap body-03 content-info mr-6"
          [ngClass]="{ 'line-claim content-info-ellipsis': breakpoint.value.matches }">
          {{ 'Contract.ZIP' }}
        </div>
        <!-- <a href="#" class="button button-pill button--sm button-outline button-outline__in-card d-flex flex-shrink-0">
          <img
            [src]="'assets/icons/icons-svg/white/download.svg' | imageS3"
            alt=""
            width="16px"
            height="16px"
            class="d-none d-lg-block mr-2" />
          <span class="text-white">{{ breakpoint.value.matches ? 'Download' : 'Download ZIP' }}</span>
        </a> -->
      </div>
    </div>

    <div class="mt-4 mt-lg-6">
      <span class="text--gray-1 ml-2 fw-semibold">Contract ABI</span>
    </div>
    <pre class="mt-4 caption fw-normal content-info break-word pb-3 pb-lg-0 small-text">{{ abiString }}</pre>

    <div class="mt-4 mt-lg-6">
      <span class="text--gray-1 ml-2 fw-semibold">Code Hash</span>
    </div>
    <pre class="mt-4 caption fw-normal content-info break-word pb-3 pb-lg-0 small-text">{{
      contractDetailData?.code_hash || '-'
    }}</pre>
  </ng-container>
</div>
