.single-input-field {
  min-width: 420px;
}
.aura-basic-table tr td:not(:last-child) {
  border-right: 1px solid var(--aura-dark-gray);
}
.input-group {
  background-color: var(--aura-bg-form);
  height: auto !important;
  padding: var(--spacer-1) var(--spacer-4) !important;
}
.txt-light {
  color: var(--aura-light-gray);
}
.aura-nav-tabs.nav-tabs .nav-link{
  font-weight: 600;
  font-size: 16px;
}