<h1 class="text--white mb-lg-0">Fee Grant</h1>
<!-- Tabs -->
<ul
  *ngIf="currentAddress"
  ngbNav
  #customNav="ngbNav"
  [activeId]="!isGrantees ? 1 : 0"
  class="aura-nav-tabs nav-tabs nav-tabs-custom mt-4 mb-4 d-flex">
  <ng-container *ngFor="let tab of TAB; index as index">
    <li [ngbNavItem]="index" class="flex-shrink-0 flex-grow-1 flex-lg-shrink-1 flex-lg-grow-0 px-lg-4">
      <a ngbNavLink (click)="changeType(tab.id === 0)" class="fw-semibold">
        <span>{{ tab.value | uppercase }}</span>
      </a>
    </li>
  </ng-container>
</ul>
<!-- Main -->
<div class="mt-4 mt-lg-8" *ngIf="currentAddress">
  <ng-container>
    <app-my-grantees *ngIf="isGrantees"></app-my-grantees>
    <app-my-granters *ngIf="!isGrantees"></app-my-granters>
  </ng-container>
</div>
<ng-container *ngIf="!currentAddress">
  <div class="mt-lg-5 card">
    <div class="card-body">
      <div class="mt-4">
        <app-table-no-data
          [textNull]="'Kindly connect wallet to experience feegrant functions'"
          [img]="'assets/images/noWallet.png'"
          [class]="'mb-10 mt-1'"></app-table-no-data>
      </div>
    </div>
  </div>
</ng-container>
