.dialog-container {
    background-color: transparent;

    .dialog-body {
        background-color: transparent;

        .media-wrapper {
            width: 50vw;
            height: 90vh;
            box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f;

            img,
            video,
            app-audio-player,
            app-model-view {
                max-width: 100%;
                max-height: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: contain;
            }

            app-audio-player {
                min-height: 300px;
                position: relative;
            }
        }
    }
}