@import "../../../../assets/scss/color.scss";

.box-info {
  display: flex;
  align-items: center;
  color: var(--aura-white);
  .img-valid {
    width: auto;
    height: 20px;
    margin-right: 10px;
  }
  .item-info {
    margin-right: 1rem;
  }
}
