@import "../../../../assets/scss/color.scss";

.box-info {
  display: flex;
  align-items: center;
  color: var(--aura-white);
  .img-valid {
    width: auto;
    height: 20px;
    margin-right: 10px;
  }
  .item-info {
    margin-right: 1rem;
  }
}
h1.title {
  font-weight: 500;
  @media (min-width: 992px) {
    font-weight: 700;
  }
}
