<section class="card main-tab mt-5 p-4">
  <div class="d-flex justify-content-between tab-wrapper">
    <ul ngbNav #customNav="ngbNav" [activeId]="0" class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-12">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a
            ngbNavLink
            (click)="changeTab(tab.key)"
            [class.verify-contract]="tab.key === contractTab.Contract && isVerifyContract">
            <span class="tab-title">{{ tab.value }}</span>
            <img
              *ngIf="tab.key === contractTab.Contract && isVerifyContract"
              src="assets/icons/icons-svg/color/check-circle.svg"
              alt="contract_verification"
              width="16px"
              height="16px" />
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="mt-5">
    <!-- <app-contract-transactions-tab
        *ngIf="countCurrent === ''"
        [type]="'TABLE_TOKEN'"
        (resultLength)="getLength('')"></app-contract-transactions-tab> -->
    <app-contract-table
      *ngIf="countCurrent === ''"
      [data]="contractTransaction"
      [templates]="templates"
      [contractInfo]="contractInfo"></app-contract-table>
    <app-cw20-token *ngIf="countCurrent === contractTab.Cw20Token"></app-cw20-token>
    <app-contract *ngIf="countCurrent === contractTab.Contract" [contractTypeData]="contractTypeData"></app-contract>
  </div>
</section>
