.contract-table {
  .status {
    &.TO,
    &.IN {
      background: rgba(84, 206, 140, 0.2);
      color: var(--aura-green-3);
    }

    &.OUT {
      background: rgba(213, 98, 94, 0.2);
      color: var(--aura-red-3);
    }
  }

  .method {
    color: var(--aura-white);
    font-size: 12px;
    font-weight: 600;

    .TO,
    .IN {
      color: var(--aura-green-3);
    }

    .OUT {
      color: var(--aura-red-3);
    }
  }
}

:host::ng-deep table.aura-table {
  td.mat-cell:first-of-type {
    padding-left: var(--spacer-4);
  }

  @media (max-width: 991.99px) {
    thead th:nth-child(2), thead th:nth-child(7) {
      padding-left: 32px;
    }
    tbody tr {
      & td:not(:first-child) {
        min-width: 150px;
      }

      & td:nth-child(2), & td:nth-child(7) {
        min-width: 200px;
        padding-left: 32px;
      }

      & td.nameTag {
        min-width: 210px;
      }
    }
  }
}

.table-responsive::-webkit-scrollbar {
  height: 6px;
}