<div class="card box-token-info">
  <div class="card-body">
    <div class="table-responsive aura-table-contain">
      <table class="aura-basic-table w-100">
        <tr>
          <td>Overview [ERC-20]</td>
          <td class="text-end">Chart</td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="d-flex">
              <div class="flex-item">
                <div>PRICE</div>
                <div>$0.17 @ 0.217711 Aura (+1.87%)</div>
              </div>
              <div class="pl-4">
                <div>CIRCULATING SUPPLY MARKET CAP</div>
                <div>$7,342,381,252.35</div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="d-flex">
              <div class="flex-item">
                <div>Max Total Supply</div>
                <div>1.000.000.000 AURA</div>
              </div>
              <div class="pl-4">
                <div>FULLY DILUTED MARKET CAP</div>
                <div>$27,342,381,252.35</div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>Holders:</td>
          <td>23,130 (+1.87%)</td>
        </tr>

        <tr>
          <td>Transfers:</td>
          <td>269,902</td>
        </tr>
      </table>
    </div>
  </div>
</div>
