.flex-item {
  width: 50%;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: var(--aura-dark-gray);
  }
}
.aura-table-contain {
  min-height: 304px;
}
table.aura-basic-table {
  tr td:first-child {
    width: 30%;
  }
}
