// 
// _card.scss
// 

.card {
    margin-bottom: $grid-gutter-width;
    border-radius: 12px;
    overflow: visible;
}

.card-drop {
    color: $body-color;
}

.card-title {
    font-size: 15.4px;
    margin: 0 0 7px 0;
}

.card-title-desc {
    color: $card-title-desc;
    margin-bottom: 0;
    font-size: 13px;
}

.card-header {
    padding: var(--spacer-6);
    background-color: var(--aura-dark-gray);
    border-radius: 12px 12px 0 0 !important;
    border-bottom: none !important;
}

.card-header-tabs {
    margin-top: -$card-cap-padding-y;
}

.card-body {
    padding: var(--spacer-6) !important;
}
.card-footer {
    padding: 0 var(--spacer-5) var(--spacer-5) var(--spacer-5);
    border-radius: 0 0 12px 12px;
}
body[data-layout-mode="dark"] {
    .card, .card-footer, .card-header, 
    .modal-content, .offcanvas {
        background-color: #20262B;
        border-color: #20262B;
    }

    .card-title-desc{
        color: $gray-dark-400;
    }
}
