// 
// _card.scss
// 

.card {
    margin-bottom: $grid-gutter-width;
    border-radius: 12px;
    overflow: visible;
}

.card-drop {
    color: $body-color;
}

.card-title {
    font-size: 15.4px;
    margin: 0 0 7px 0;
}

.card-title-desc {
    color: $card-title-desc;
    margin-bottom: 0;
    font-size: 13px;
}

.card-header {
    padding: var(--spacer-4);
    background-color: var(--aura-gray-10);
    border-radius: 12px 12px 0 0 !important;
    border-bottom: none !important;
}

.card-header-tabs {
    margin-top: -$card-cap-padding-y;
}

.card-body {
    padding: var(--spacer-4) !important;
}

.card-footer {
    padding: 0 var(--spacer-5) var(--spacer-3) var(--spacer-5);
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

body[data-layout-mode="dark"] {

    .card,
    .card-footer,
    .card-header.card-header-dark,
    .modal-content,
    .offcanvas {
        background-color: var(--aura-gray-10);
        border-color: var(--aura-gray-10);
    }

    .card-title-desc {
        color: $gray-dark-400;
    }
}


@media (min-width: 992px) {
    .card-header {
        padding: var(--spacer-6);
    }

    .card-body {
        padding: var(--spacer-6) !important;
    }

    body[data-layout-mode="dark"] {
        .card-header.card-header-gray-des {
            background-color: var(--aura-gray-10);
        }
    }
}
// Card Height 100
.card-h-100 {
    height: calc(100% - #{$grid-gutter-width});
}
