<section *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container>
    <div class="card mt-4 mt-lg-5">
      <div class="card-body">
        <!-- Title -->
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center">
          <h2 class="h3-mob fw-semibold text--white mb-4 my-lg-0">Asset</h2>
          <form class="aura-form single-input-field search-form" #searchForm>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for Token Name, Symbol"
                [(ngModel)]="textSearch"
                [maxLength]="maxLengthSearch"
                (keyup)="onKeyUp()"
                name="search"
                autocomplete="off" />
              <button type="submit" class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}">
                <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
              </button>
              <button
                type="reset"
                class="btn-reset cursor-pointer {{
                  !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
                }}"
                (click)="resetSearch()">
                <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
              </button>
            </div>
          </form>
        </div>
        <div class="my-4 my-lg-0"></div>
        <!-- Table -->
        <div *ngIf="!isLoading">
          <ng-container *ngIf="dataSource.data.length > 0; else noValues">
            <ng-container *ngIf="!breakpoint.value.matches">
              <div class="table-responsive aura-table-contain mt-4">
                <table mat-table matSort [dataSource]="dataSource" class="aura-table community-pool-assets-table">
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element" class="title-cell py-4 vertical-align-top">
                      <div class="d-flex">
                        <img class="rounded-circle" [appImg]="element.logo" width="18" height="18" />
                        <div class="ml-3">{{ element.name }}</div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                    <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                      <span [appLinkDenom]="element.denom">
                        {{ (element.symbol ? element.symbol : chainName) | uppercase }}
                      </span>
                    </td>
                  </ng-container>

                  <!-- Amount Column -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                      <span *ngIf="element.symbol === ''" [appBigNumber]="element.amount" [decimal]="0"></span>
                      <span
                        *ngIf="element.symbol !== ''"
                        [appTooltip]="{
                          priceAmount: element.amount,
                          decimal: element.symbol === '' ? 0 : element.decimal
                        }"
                        [appBigNumber]="element.amount"
                        [decimal]="element.decimal"></span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data" colspan="9999">
                      <app-table-no-data></app-table-no-data>
                    </td>
                  </tr>
                </table>
              </div>
              <app-paginator
                [length]="pageData.length"
                [pageSize]="pageData.pageSize"
                (paginator)="paginatorEmit($event)"
                (pageEvent)="pageEvent($event)">
              </app-paginator>
            </ng-container>
            <ng-container *ngIf="breakpoint.value.matches">
              <ng-container *ngIf="dataSourceMob?.length > 0">
                <ng-container *ngFor="let data of dataSourceMob; index as i">
                  <app-card-mob-simple
                    [tokenData]="{
                      logo: data.logo,
                      name: data.name,
                      info: (data.symbol ? data.symbol : chainName) | uppercase
                    }"
                    [tokenAmount]="{
                      amount: data.amount | balance: data.decimal,
                      decimal: data.decimal,
                      isNative: data.isNative,
                      denom: data.denom
                    }">
                  </app-card-mob-simple>
                </ng-container>
                <app-paginator
                  [length]="pageData.length"
                  [pageSize]="pageSizeMob"
                  (paginator)="paginatorEmit($event)"
                  (pageEvent)="pageEvent($event)">
                </app-paginator>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="mt-20" *ngIf="isLoading">
          <app-loading-sprint></app-loading-sprint>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- No data -->
  <ng-template #noValues>
    <app-table-no-data [textNull]="errText"></app-table-no-data>
  </ng-template>
</section>
