<div class="row">
  <div class="col-12">
    <!-- <button class="button button-outline button-outline__in-card">
      <img [src]="'assets/icons/icons-svg/white/chart-line-up.svg' | imageS3" alt="" width="16px" />
      <span class="ml-1">Token Holders Chart</span>
    </button> -->
  </div>
  <div class="col-12 mt-3">
    <span class="small-body text--light-gray"
      >Top 100 holders (From a total of {{ pageData?.length || 0 }} holders)</span
    >
  </div>
</div>
<!-- Table -->
<div class="row mt-4">
  <div class="col-12">
    <div *ngIf="loading" class="m-auto">
      <app-loading-sprint></app-loading-sprint>
    </div>
    <ng-container *ngIf="pageData?.length > 0; else noValues">
      <div class="table-responsive aura-table-contain">
        <table mat-table [dataSource]="dataSource" class="aura-table">
          <!-- Rank Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Rank</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <span class="token-id">{{ pageData?.pageIndex * 20 + i + 1 }}</span>
            </td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element" class="title-cell py-4">
              <a href="/tokens/token/{{ contractAddress }}?a={{ element.owner }}" class="text-clamp">{{
                element.owner
              }}</a>
            </td>
          </ng-container>

          <!-- quantity Column -->
          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.balance | number: global.formatNumberToken }}</td>
          </ng-container>

          <!-- Percentage Column -->
          <ng-container matColumnDef="percent_hold">
            <th mat-header-cell *matHeaderCellDef>Percentage</th>
            <td mat-cell *matCellDef="let element">
              <div>{{ element.percent_hold }}%</div>
              <div class="percentage-bar mt-4">
                <div class="percentage-bar__process" [style.width]="element.percent_hold + '%'"></div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ 'NO DATA' | translate }}
            </td>
          </tr>
        </table>
        <app-paginator [length]="pageData.length" [pageSize]="pageData.pageSize" (paginator)="paginatorEmit($event)">
        </app-paginator>
      </div>
    </ng-container>
    <ng-template #noValues>
      <app-table-no-data></app-table-no-data>
    </ng-template>
  </div>
</div>
