<div class="row">
<!--  <div class="col-12">-->
<!--     <button class="button button-outline button-outline__in-card">-->
<!--      <img [src]="'assets/icons/icons-svg/white/chart-line-up.svg' | imageS3" alt="" width="16px" />-->
<!--      <span class="ml-1">Token Holders Chart</span>-->
<!--    </button>-->
<!--  </div>-->
  <div class="col-12 mb-lg-3">
    <div class="body-03 caption-mob fw-normal-mob text--gray-5">
        <span class="small-body text--light-gray" *ngIf="pageData?.length > numberTopHolder">
          Top {{ numberTopHolder }} holders (From a total of {{ pageData?.length || 0 }} holders)
        </span>
      <span class="small-body text--light-gray" *ngIf="pageData?.length <= numberTopHolder">
          A total of {{ pageData?.length || 0 }} token holders
        </span>
    </div>
  </div>
</div>
<div class="divider divider-horizontal my-4 d-lg-none"></div>
<!-- Table -->
<div class="row">
  <div class="col-12">
    <div *ngIf="loading" class="m-auto">
      <app-loading-sprint></app-loading-sprint>
    </div>
    <ng-container *ngIf="pageData?.length > 0; else noValues">
      <div class="table-responsive aura-table-contain">
        <table mat-table [dataSource]="dataSource" class="aura-table">
          <ng-container *ngFor="let template of template; index as i">
            <ng-container [matColumnDef]="template.matColumnDef" [ngSwitch]="template.matColumnDef">
              <ng-container *ngSwitchDefault>
                <th mat-header-cell *matHeaderCellDef>
                  <div [innerHTML]="template.headerCellDef | translate" class="text-uppercase"></div>
                </th>
              </ng-container>
              <td mat-cell *matCellDef="let data; index as i">
                <div [classList]="[template.cssClass]">
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <ng-container *ngSwitchCase="'id'">
                      <span class="token-id">{{ pageData?.pageIndex * 20 + i + 1 }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'owner'">
                      <a
                        *ngIf="isNFTContract"
                        href="/tokens/token-nft/{{ contractAddress }}?a={{ data[template.matColumnDef] }}"
                        class="text-clamp">{{ data[template.matColumnDef] }}</a>
                      <a
                        *ngIf="!isNFTContract"
                        href="/tokens/token/{{ contractAddress }}?a={{ data[template.matColumnDef] }}"
                        class="text-clamp">{{ data[template.matColumnDef] }}</a>
                    </ng-container>
                    <ng-container *ngSwitchCase="'balance'">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'amount'">
                      {{ data[template.matColumnDef] || 0 }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'quantity'">
                      {{ data[template.matColumnDef] || 0 }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'percent_hold'">
                      <span *ngIf="!isNFTContract"
                        >{{ data[template.matColumnDef] | number: global.formatNumber2Decimal }}%</span
                      >
                      <ng-container *ngIf="isNFTContract">
                        <span>{{ data.percent_hold || 0 | number: global.formatNumber2Decimal }} %</span>
                        <div class="percentage-bar mt-2">
                          <div class="percentage-bar__process" [style.width]="(data.width_chart || 0) + '%'"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'value'">
                      ${{ data['balance'] * tokenDetail?.price || 0 | number: global.formatNumber2Decimal }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ data[template.matColumnDef] }}
                    </ng-container>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ 'NO DATA' | translate }}
            </td>
          </tr>
        </table>
        <app-paginator
          [length]="pageData.length"
          [pageSize]="pageData.pageSize"
          (paginator)="paginatorEmit($event)"
          (pageEvent)="pageEvent($event)">
        </app-paginator>
      </div>
    </ng-container>
    <ng-template #noValues>
      <app-table-no-data *ngIf="!loading"></app-table-no-data>
    </ng-template>
  </div>
</div>
