<div class="card box-token-info">
  <table class="aura-basic-table w-100 body-02">
    <tr>
      <td colspan="2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h4 mb-0">
            <span class="text--white">Profile Summary </span>
          </div>
          <div class="dropdown aura-dropdown">
            <ul
              class="dropdown-menu aura-dropdown-menu token-summary-more"
              *ngIf="!tokenDetail.isNFTContract"
              aria-labelledby="token-summary-more">
              <li class="dropdown-item cursor-pointer">Add token to Web3</li>
              <li class="dropdown-item cursor-pointer">Update Name Tag</li>
            </ul>
            <ul
              class="dropdown-menu aura-dropdown-menu token-summary-more"
              *ngIf="tokenDetail.isNFTContract"
              aria-labelledby="token-summary-more">
              <li class="dropdown-item cursor-pointer">Add token to Web3</li>
              <li class="dropdown-item cursor-pointer">Update Token Info</li>
              <li class="dropdown-item cursor-pointer">Update Name Tag</li>
            </ul>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="tokenDetail.modeToken === EModeToken.CWToken">
      <tr>
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Contract:</div>
            <div class="break-word">
              <app-name-tag
                [value]="tokenDetail?.contract_address || tokenDetail?.denom"
                [linkRouter]="['/contracts', tokenDetail?.contract_address]"
                [fullText]="true"></app-name-tag>
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="!tokenDetail.isNFTContract">
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Decimals:</div>
            <div class="text--white">{{ tokenDetail?.decimals }}</div>
          </div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="tokenDetail.modeToken === EModeToken.IBCCoin">
      <tr>
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Hash</div>
            <div class="break-word text--primary d-flex align-items-center" [copyBtn]="tokenDetail.denom">
              {{ tokenDetail.denom | ellipsis: 10 : 6 }}
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="!tokenDetail.isNFTContract">
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Path</div>
            <div class="text--white d-flex align-items-center">
              {{ channelPath?.path }}
              <!-- <i
                *ngIf="channelCounterId"
                class="ph-arrow-square-out-fill body-01 h4-mob ml-4 cursor-pointer"
                [routerLink]="['/ibc-relayer/', channelId, channelCounterId]"></i> -->
            </div>
          </div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="tokenDetail.modeToken === EModeToken.Native">
      <tr>
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Staking Bonded</div>
            <div class="text--gray-1 d-flex" *ngIf="global?.dataHeader?.bonded_tokens">
              <div [appTooltip]="{ priceAmount: global?.dataHeader?.bonded_tokens }">
                <span [appBigNumber]="global?.dataHeader?.bonded_tokens" [decimal]="0"></span>
              </div>
              <span class="mx-1">/</span>
              <div [appTooltip]="{ priceAmount: global?.dataHeader?.total_aura }">
                <span [appBigNumber]="global?.dataHeader?.total_aura" [decimal]="0"></span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="d-flex align-items-center py-2">
            <div class="first-col text--gray-5">Decimals:</div>
            <div class="text--gray-11">{{ tokenDetail?.decimals }}</div>
          </div>
        </td>
      </tr>
    </ng-container>

    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <span class="first-col text--gray-5">Official Site:</span>
          <a *ngIf="tokenDetail?.officialSite" [href]="tokenDetail?.officialSite" target="_blank"
            rel="noopener noreferrer" class="text--primary text-truncate">{{tokenDetail?.officialSite}}</a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="d-flex align-items-start py-2">
          <div class="first-col text--gray-5">
            Social Profiles:
          </div>
          <div *ngIf="tokenDetail?.socialProfiles?.length">
            <div class="socials">
              <a *ngFor="let item of tokenDetail?.socialProfiles" [href]="item?.url" target="_blank"
                rel="noopener noreferrer">
                <img [src]="item?.icon" alt="social-media">
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>