.card {
  .card-header {
    border-bottom: none;
  }
  @media (min-width: 992px) {
    width: 500px;
  }
}

::ng-deep {
  .box-select {
    width: 100%;
    background-color: var(--aura-gray-9);
    border-radius: 4px;
    display: flex;
    height: 40px;
    padding: 0 0.75em;

    .mat-form-field-wrapper {
      width: 100%;
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      padding: 0 0.75em 0 0.75em;
      background: transparent;
    }

    .mat-form-field-infix {
      padding: 0 0 0.75em 0;
    }

    .mat-select-placeholder,
    mat-select-trigger {
      position: relative;
      color: var(--aura-gray-5);
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .mat-select-value {
      color: var(--aura-gray-1);
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(-5%);

      .mat-select-arrow {
        border: solid #e6e7e8;
        border-width: 0 2.3px 2.3px 0;
        display: inline-block;
        padding: 2.8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }

  .contractPanel {
    background: #25252c;
    min-width: calc(100% + 20px) !important;
    transform: translate3D(5px, 35px, 0) !important;
    padding: var(--spacer-3) 0 !important;
    border-radius: 8px;

    @media (min-width: 992px) {
      padding: var(--spacer-4) 0 !important;
    }
  }

  .mat-option,
  .mat-option.mat-active {
    color: var(--aura-gray-1);
  }
}
