<div class="card mt-3" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card-body">
    <h3 class="mb-0 fw-700 text--gray-light-2 mb-4">Transactions</h3>

    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="0"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified flex-nowrap mb-4 mb-lg-6"
      [class.mobile-tab]="breakpoint.value.matches">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index" class="tab-account-transaction">
          <a
            ngbNavLink
            (click)="changeTab(tab.value)"
            [class.active]="currentTab === tab.value"
            class="button button-tab-menu body fw-semibold cursor-pointer text-normal">
            <span class="h5 fw-semibold mb-0 {{ customNav.activeId === index ? 'text--gray-1' : 'text--gray-light' }}">
              {{ tab.label }}
            </span>
          </a>
        </li>
      </ng-container>
    </ul>

    <ng-container *ngIf="currentTab === tabsData.ExecutedTxs">
      <!-- Executed Transaction -->
      <app-account-transaction-table
        [modeQuery]="currentTab"
        (lstType)="lstTypeFilter = $event"
        [tnxTypeOrigin]="lstTypeFilter"></app-account-transaction-table>
    </ng-container>

    <!-- EVM Executed Transaction -->
    <ng-container *ngIf="currentTab === tabsData.EVMExecutedTxs">
      <app-account-transaction-table
        [modeQuery]="currentTab"
        (lstType)="lstTypeFilter = $event"
        [tnxTypeOrigin]="lstTypeFilter"></app-account-transaction-table>
    </ng-container>

    <!-- Aura Transfer -->
    <ng-container *ngIf="currentTab === tabsData.NativeTxs">
      <app-account-transaction-table
        [modeQuery]="currentTab"
        (lstType)="lstTypeFilter = $event"
        [tnxTypeOrigin]="lstTypeFilter"></app-account-transaction-table>
    </ng-container>

    <!-- Fts Transaction -->
    <ng-container *ngIf="currentTab === tabsData.FtsTxs">
      <app-account-transaction-table
        [modeQuery]="currentTab"
        (lstType)="lstTypeFilter = $event"
        [tnxTypeOrigin]="lstTypeFilter"></app-account-transaction-table>
    </ng-container>

    <!-- NFT Transactions -->
    <ng-container *ngIf="currentTab === tabsData.NftTxs">
      <app-account-transaction-table
        [modeQuery]="currentTab"
        (lstType)="lstTypeFilter = $event"
        [tnxTypeOrigin]="lstTypeFilter"></app-account-transaction-table>
    </ng-container>
  </div>
</div>
