<div class="card mt-3" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card-body">
    <h3 class="mb-0 fw-bold text--white mb-4">Transactions</h3>

    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="0"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified flex-nowrap mb-4 mb-lg-6"
      [class.mobile-tab]="breakpoint.value.matches">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a class="account__tab-item" ngbNavLink (click)="currentTab = tab.label">
            <span class="h5 fw-semibold mb-0 {{ customNav.activeId === index ? 'text--white' : 'text--gray-light' }}">{{
              tab.label
            }}</span>
          </a>
        </li>
      </ng-container>
    </ul>

    <!-- Assets-->
    <ng-container *ngIf="currentTab === tabsData.ExecutedTxs">
      <!-- Executed Transaction -->
      <div class="d-flex justify-content-between mb-3">
        A total of {{ pageDataExecute?.length }} transaction{{ pageDataExecute?.length > 1 ? 's' : '' }} found
        <ng-container *ngTemplateOutlet="filter"></ng-container>
      </div>

      <app-account-transaction-table (lengthData)="pageDataExecute.length = $event"></app-account-transaction-table>
      <ng-container *ngTemplateOutlet="reloadTemplate"></ng-container>
    </ng-container>

    <!-- Aura Transfer -->
    <ng-container *ngIf="currentTab === tabsData.AuraTxs">
      <div class="d-flex justify-content-between mb-3">
        <div class="button-switch-stage button-switch-stage__1">
          <button type="button" [class.active]="isSent" (click)="isSent = true" class="w-auto px-4 py-2">
            <span>Sent</span>
          </button>
          <button type="button" [class.active]="!isSent" (click)="isSent = false" class="w-auto px-4 py-2">
            <span>Received</span>
          </button>
        </div>
        <ng-container *ngTemplateOutlet="filter"></ng-container>
      </div>
    </ng-container>

    <!-- Fts Transaction -->
    <ng-container *ngIf="currentTab === tabsData.FtsTxs">
      <app-account-transaction-table></app-account-transaction-table>
      <ng-container *ngTemplateOutlet="reloadTemplate"></ng-container>
    </ng-container>

    <!-- NFT Transactions -->
    <ng-container *ngIf="currentTab === tabsData.NftTxs">
      <ng-container *ngTemplateOutlet="reloadTemplate"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #reloadTemplate>
  <div class="card p-5 d-flex justify-content-between align-items-center" *ngIf="isNoData">
    <div class="text-center">
      <img [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3" alt="" class="mr-2" width="40" height="40" />
      <div class="small-text text--light-gray mt-4">
        Fetching data, might take longer than usual. <br />
        Please come back later or
        <span class="link-reset-data" (click)="reloadData()">refresh the page</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #filter>
  <div>
    <button
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="filterMenu"
      class="button button-pill button--sm button-outline button-outline__in-card button-filter"
      type="button">
      <span>Filter</span>
    </button>

    <mat-menu
        #filterMenu="matMenu"
        class="aura-menu-panel tsx-filter-panel text--white mt-2"
        [hasBackdrop]="false">
      <div class="body fw-500 aura-form single-input-field"
           (click)="$event.stopPropagation()"
           (keydown)="$event.stopPropagation()"
      >
        <h3 class="mb-0 fw-bold text--white mb-4">Filter</h3>
        <!-- Date -->
        <div class="cursor-pointer d-flex flex-column p-0 mb-4">
          <span class="text-sm mb-2">From - To</span>
          <div class="input-group align-items-center d-flex justify-content-between pr-1">
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="transactionFilter.startDate">
              <input matEndDate placeholder="End date" [(ngModel)]="transactionFilter.endDate" class="pl-3">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          </div>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>
        <!-- txn type -->
        <div class="cursor-pointer d-flex flex-column p-0 mb-4">
          <span class="text-sm mb-2">Tnx Type</span>
          <button
              [matMenuTriggerFor]="tnxTypeMenu"
              class="input-group align-items-center d-flex justify-content-between text--gray-4"
              type="button">
            <span>Select a type</span>
            <i class="ph-light ph-funnel-simple text--white h1"></i>
          </button>
          <mat-menu
              #tnxTypeMenu="matMenu"
              class="aura-menu-panel tnx-type-panel text--white mt-2 p-2"
              [yPosition]="'above'"
              [hasBackdrop]="false">
            <div class="aura-form single-input-field">
              <div class="input-group tnx-type-search mb-2"
                   (click)="$event.stopPropagation()"
                   (keydown)="$event.stopPropagation()">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search for Tnx Type"
                    [(ngModel)]="transactionTypeKeyWord"
                    [ngModelOptions]="{ standalone: true }"
                    (keyup.enter)="searchTransactionType()"
                    name="search"
                    autocomplete="off" />
                <button type="submit" class="btn-search {{ transactionTypeKeyWord && transactionTypeKeyWord?.length > 0 ? 'd-none' : '' }}">
                  <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
                </button>
                <button
                    type="reset"
                    class="btn-reset cursor-pointer {{
                  !transactionTypeKeyWord || (transactionTypeKeyWord && transactionTypeKeyWord?.length === 0) ? 'd-none' : ''
                }}"
                    (click)="transactionTypeKeyWord = ''">
                  <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
                </button>
              </div>
              <div>
                <div class="form-group d-flex align-items-center tnx-filter-item px-2"
                     (click)="$event.stopPropagation()"
                     (keydown)="$event.stopPropagation()">
                  <input
                      type="checkbox"
                      id="all"
                      (change)="onChangeTnxFilterType($event, 'all')"
                      class="check-box check-box--dark"/>
                  <label for="all" class="ml-2 mb-0 text-justify pl-1"> All </label>
                </div>
                <div class="divider divider-horizontal my-2"></div>
                <div class="tnx-filter-box"
                     (click)="$event.stopPropagation()"
                     (keydown)="$event.stopPropagation()">
                  <div *ngFor="let type of tnxType, let i = index"
                       class="form-group d-flex align-items-center tnx-filter-item px-2">
                    <input
                        type="checkbox"
                        id="type-{{i}}"
                        [checked]="(this.transactionFilter?.type?.length > 0 && this.transactionFilter?.type?.includes(type.label)) || this.transactionFilter.type === null"
                        (change)="onChangeTnxFilterType($event, type)"
                        class="check-box check-box--dark"/>
                    <label for="type-{{i}}" class="ml-2 mb-0 text-justify pl-1"> {{type.value}} </label>
                  </div>
                </div>
              </div>
            </div>
          </mat-menu>
        </div>
        <!-- Button action group -->
        <div class="divider divider-horizontal"></div>
        <div class="d-flex justify-content-between align-items-center pt-4">
          <button class="button button-pill button-outline button--xlg" (click)="initTnxFilter()">
            <span>Reset</span>
          </button>
          <div class="d-flex">
            <button class="button button-pill button-outline button--xlg ml-2 ml-lg-0" (click)="menuTrigger.closeMenu()">
              <span>Cancel</span>
            </button>
            <button class="button button-pill button-outline button-apply ml-2 ml-lg-4 button--xlg"
                [disabled]="!transactionFilter.startDate && !transactionFilter.endDate">
              <span>Apply</span>
            </button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
</ng-template>
