::ng-deep .mat-menu-panel {
  max-width: 375px !important;
}
.box-token-transfer {
  justify-content: center;
  min-width: 80px;
  margin-left: 30px;
  display: flex;
  .token-tranfer-status {
    display: inline-flex;
    align-items: center;
    padding: var(--spacer-2) var(--spacer-4);
    background-color: rgba(94, 230, 157, 0.2);
    color: var(--aura-active);
    border-radius: 4px;
    width: auto;
    &.status-out {
      background-color: rgba(230, 94, 94, 0.2);
      color: var(--aura-danger);
    }
  }
}
::ng-deep {
  ngb-popover-window {
    border: none !important;
    border-radius: 10px !important;
    min-width: 375px !important;
    .popover-body {
      background-color: var(--aura-bg-form);
      border-color: var(--aura-bg-form);
      font-size: 1.4rem;
    }
    .arrow {
      &::before {
        border-right-color: var(--aura-bg-form) !important;
      }
      &::after {
        border-right-color: var(--aura-bg-form) !important;
      }
    }
  }
}
