<app-pagetitle title="Voting Details"></app-pagetitle>
<ng-container *ngIf="this.errorPro === false">
  <section class="summary">
    <app-summary-info [proposalId]="proposalId" (proposalDtl)="getProposalDetail($event)"></app-summary-info>
  </section>
  <section class="votes">
    <app-votes [proposalDetail]="proposalDetail"></app-votes>
  </section>
  <section class="validator-votes">
    <app-validators-votes [proposalId]="proposalId"></app-validators-votes>
  </section>
  <section class="depositors">
    <app-depositors [proposalId]="proposalId"></app-depositors>
  </section>
</ng-container>
<ng-container *ngIf="this.errorPro === true"
  ><div class="text--white text-center my-lg-20 mb-5 h6">Proposal was not found!</div>
  <div class="py-lg-20"></div>
</ng-container>
