<div class="box-privacy">
  <div class="position-relative overflow-hidden">
    <div class="bg-privacy rounded-3">
      <div class="d-flex flex-column flex-md-row justify-content-between gap-6">
        <div class="order-md-2">
          <picture>
            <img
              [src]="'assets/images/logo/aura-explorer-logo@mob.png' | imageS3"
              alt=""
              loading="lazy"
              class="img-logo d-none d-lg-block" />
          </picture>
        </div>
        <div class="order-1">
          <div class="h1 text-white fw-700 mb-2">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</div>
          <p class="text-white body-01">{{ 'PAGES.PRIVACY_POLICY.effectiveDate' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="header-ellipse"></div>
  </div>
  <div class="rounded-bottom--3 rounded-bottom--3 col-xl-12 box-content">
    <div class="col-lg-12">
      <p class="body fw-normal col-lg-12 m-0 pt-2" [innerHTML]="'PAGES.PRIVACY_POLICY.intro' | translate"></p>
      <p class="text-white body fw-semibold col-lg-12 m-0 py-3">
        {{ 'PAGES.PRIVACY_POLICY.notice' | translate }}
      </p>
      <p class="body col-lg-12 m-0">
        {{ 'PAGES.PRIVACY_POLICY.notice_sub1' | translate }}
        <a routerLink="/terms" class="text--primary fw-semibold">{{
          'PAGES.PRIVACY_POLICY.termsOfService' | translate
        }}</a>
        {{ 'PAGES.PRIVACY_POLICY.notice_sub2' | translate }}
      </p>
    </div>
    <div class="col-xl-12 item-privacy mt-3">
      <div class="col-lg-12">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">
          {{ 'PAGES.PRIVACY_POLICY.1_ourStatus' | translate }}
        </p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-2">
            {{ 'PAGES.PRIVACY_POLICY.1_1' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.1_1Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.1_2' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.1_2Text' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">
          {{ 'PAGES.PRIVACY_POLICY.2_theDataCollect' | translate }}
        </p>
      </div>
      <div class="col-lg-12">
        <p>{{ 'PAGES.PRIVACY_POLICY.2_notice' | translate }}</p>
        <div class="col-lg-12">
          <div class="col-lg-12 d-flex">
            <p
              class="text-white body fw-semibold col-lg-12 m-0 py-2"
              [innerHTML]="'PAGES.PRIVACY_POLICY.2_1' | translate"></p>
          </div>
          <div class="col-lg-12">
            <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_1Text' | translate }}</p>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
                {{ 'PAGES.PRIVACY_POLICY.2_1_1' | translate }}
              </p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.2_1_1Text' | translate }}</p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">
                {{ 'PAGES.PRIVACY_POLICY.2_1_2' | translate }}
              </p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.2_1_2Text' | translate }}</p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">
                {{ 'PAGES.PRIVACY_POLICY.2_1_3' | translate }}
              </p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.2_1_3Text' | translate }}</p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">
                {{ 'PAGES.PRIVACY_POLICY.2_1_4' | translate }}
              </p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.2_1_4Text' | translate }}</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_2' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_2Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_3' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_3Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_4' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_4Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_5' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_5Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_6' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_6Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_7' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_7Text' | translate }}</p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">
                  {{ 'PAGES.PRIVACY_POLICY.2_8' | translate }}
                </p>
              </div>
              <p class="ml-2">{{ 'PAGES.PRIVACY_POLICY.2_8Text' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">
          {{ 'PAGES.PRIVACY_POLICY.3_POPCD' | translate }}
        </p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-4 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">
            {{ 'PAGES.PRIVACY_POLICY.3_1_i' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1_iText' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">
            {{ 'PAGES.PRIVACY_POLICY.3_1_ii' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1_iiText' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">
            {{ 'PAGES.PRIVACY_POLICY.3_1_iii' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1_iiiText' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">
            {{ 'PAGES.PRIVACY_POLICY.3_1_iv' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1_ivText' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">
            {{ 'PAGES.PRIVACY_POLICY.3_1_v' | translate }}
          </p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_1_vText' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_2' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_2Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_3' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_3Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_4' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_4Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_5' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_5Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_6' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_6Text' | translate }}</p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.3_7' | translate }}</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.3_7Text' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">
          {{ 'PAGES.PRIVACY_POLICY.4_GOPD' | translate }}
        </p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2 mr-1">{{ 'PAGES.PRIVACY_POLICY.4_1' | translate }}</p>
          <p class="body fw-normal m-0 py-2 ml-3">{{ 'PAGES.PRIVACY_POLICY.4_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.4_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2 ml-3">{{ 'PAGES.PRIVACY_POLICY.4_2Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.4_3' | translate }}</p>
          <p class="body fw-normal m-0 py-2 ml-3">{{ 'PAGES.PRIVACY_POLICY.4_3Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">
          {{ 'PAGES.PRIVACY_POLICY.5_ROTDS' | translate }}
        </p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.5_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1Text' | translate }}</p>
        </div>
        <div class="col-lg-12">
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2 mr-1">
              {{ 'PAGES.PRIVACY_POLICY.5_1_1' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_1Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_2' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_2Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_3' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_3Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_4' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_4Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_5' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_5Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_6' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_6Text' | translate }}</p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">
              {{ 'PAGES.PRIVACY_POLICY.5_1_7' | translate }}
            </p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_1_7Text' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.5_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_2Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.5_3' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.5_3Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.6_DYPI' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.6_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.6_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.6_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.6_2Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.6_3' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.6_3Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.6_4' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.6_4Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.7_TS' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.7_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.7_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.7_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.7_2Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.8_GP' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.8_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.8_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.8_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.8_2Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.9_RADPI' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.9_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.9_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.9_2' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.9_2Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.9_3' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.9_3Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">{{ 'PAGES.PRIVACY_POLICY.9_4' | translate }}</p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.9_4Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.10_PM' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-lg-2 pr-1 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.10_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.10_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-lg-2 pr-1 py-2">
            {{ 'PAGES.PRIVACY_POLICY.10_2' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.10_2Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.11_minors' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-1">
            {{ 'PAGES.PRIVACY_POLICY.11_1' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.11_1Text' | translate }}</p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2">
            {{ 'PAGES.PRIVACY_POLICY.11_2' | translate }}
          </p>
          <p class="body fw-normal m-0 py-2">{{ 'PAGES.PRIVACY_POLICY.11_2Text' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.12_CTTPP' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <p>{{ 'PAGES.PRIVACY_POLICY.12Text' | translate }}</p>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">{{ 'PAGES.PRIVACY_POLICY.13_CD' | translate }}</p>
      </div>
      <div class="col-lg-12">
        <p>
          {{ 'PAGES.PRIVACY_POLICY.13_text' | translate }}
          <a href="mailto:support@aura.network" class="small-body text--primary mt-lg-5">{{
            'PAGES.PRIVACY_POLICY.13_link' | translate
          }}</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>
