<div class="box-privacy">
  <div class="position-relative overflow-hidden">
    <div class="bg-privacy rounded-3">
      <div class="d-flex flex-column flex-md-row justify-content-between gap-6">
        <div class="order-md-2">
          <picture>
            <img
              [src]="'assets/images/logo/aura-explorer-logo@mob.png' | imageS3"
              alt=""
              loading="lazy"
              class="img-logo d-none d-lg-block" />
          </picture>
        </div>
        <div class="order-1">
          <div class="h1 text-white fw-700 mb-2">Privacy Policy for Aurascan</div>
          <p class="text-white body-01">Last updated: 28 September 2023</p>
        </div>
      </div>
    </div>
    <div class="header-ellipse"></div>
  </div>
  <div class="rounded-bottom--3 rounded-bottom--3 col-xl-12 box-content">
    <div class="col-lg-12">
      <p class="body fw-normal col-lg-12 m-0 pt-2">
        We respect your privacy and are committed to protecting your privacy rights. Please take the time to read our
        Privacy Policy carefully. We want to be clear about how we use information, and about how you can protect your
        privacy. To ensure transparency, this Privacy Policy describes our information-handling practices when you
        access the Software and our Services, as defined below.<br />
        References in this Privacy Policy to “Service Provider”, “we”, “our” or “us”, are to Aura Network Limited, a
        company having an address at Unit 8, 3/F., Qwomar Trading Complex, Blackburne Road, Port Purcell, Road Town,
        Tortola, British Virgin Islands VG1110 and references to “you”, “your”, “customer”, “Data Subject” or “user” are
        to the person who is a visitor or a user of the Software and/or our Services. “Services” refer individually and
        collectively to our website(s), our application programming interfaces (APIs), mobile applications
        (“Application”) (collectively, the “Software”), and any live support, software, tools, features, or
        functionalities provided on or in connection with our Services.<br />
        By using our Software and/or our Services, including but not limited to downloading one of our mobile
        Applications, or visiting our website, you express your acceptance of all the terms of this Privacy Policy.
        Where we require your consent to process your personal information, we will ask for your consent to the
        collection, use, and disclosure of your personal information as described further below.
      </p>
      <p class="text-white body fw-semibold col-lg-12 m-0 py-3">
        BY ACCESSING AND/OR USING OUR SERVICES, YOU AGREE TO BE BOUND BY PRIVACY POLICY. IF YOU DO NOT AGREE WITH THIS
        PRIVACY POLICY PLEASE LEAVE THE WEB AND/OR UNINSTALL MOBILE APPLICATIONS OR CEASE USING OUR SERVICES
        IMMEDIATELY.
      </p>
      <p class="body col-lg-12 m-0">
        All the definitions used in this Privacy Policy shall have the same meaning as in our prevailing
        <a routerLink="/terms" class="text--primary fw-semibold">Terms of Services</a> unless this Privacy Policy sets a
        different meaning.
      </p>
    </div>
    <div class="col-xl-12 item-privacy mt-3">
      <div class="col-lg-12">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">1. Our Status</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-2">1.1</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              We will act as a data controller in relation to personal information about you that may be either provided
              by you or collected by us.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-1">1.2</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              As a data controller, we will solely determine which of your personal information we will process in
              corresponding with the purposes and means of the processing of it.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">2. The Data That We Will Collect</p>
      </div>
      <div class="col-lg-12">
        <p>
          Please note that not all the information you provide to us is personally identifiable information according to
          the applicable law.
        </p>
        <div class="col-lg-12">
          <div class="col-lg-12 d-flex">
            <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.1&nbsp; Usage Data</p>
          </div>
          <div class="col-lg-12">
            <p class="ml-2">
              We may process information about your use of our Services (“Usage Data”). The source of the usage data is
              our analytics tracking system and your usage of our Services. The Usage Data may include:
            </p>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">2.1.1</p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">
                  Your IP address, geographical location, browser type and version, operating system, referral source,
                  length of visit, page views and navigation paths, as well as information about the timing, frequency
                  and pattern of your service use;
                </p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">2.1.2</p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">
                  Your device number, device ID or unique identifier, device type, and unique device token, operating
                  system and applications used, application crash-data, application version, device identifiers such as
                  IDFA (Identifier For Advertisers), Android ID (Android device), referrer URL (Playstore), Google
                  Advertiser ID, device model; and
                </p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">2.1.2</p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">
                  Your device number, device ID or unique identifier, device type, and unique device token, operating
                  system and applications used, application crash-data, application version, device identifiers such as
                  IDFA (Identifier For Advertisers), Android ID (Android device), referrer URL (Playstore), Google
                  Advertiser ID, device model; and
                </p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">2.1.3</p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">
                  Cookie, which is a small file on your device with a string of letters and numbers which serves as a
                  unique identifier. Sometimes cookies can also be used to store your personal preferences on websites.
                  When you open the Software for the first time, cookies are created on your device. When you open it
                  next time, cookies are sent back to us, thus letting us know you’ve already been there. We don’t
                  create cookies ourselves, but we use third-party providers who do it for us. Cookies make it easier
                  for you to use the Software during future visits. They also allow us to monitor traffic and
                  personalise the content of the Software for you. Session-based cookies only last while your browser is
                  open, and are automatically deleted when you close the browser. Persistent cookies last until you or
                  your browser deletes them or until they expire. Some of our cookies may be necessary for certain uses
                  of the Software. These cookies allow us to make the Software usable by enabling basic functions like
                  page navigation. The Software may not function properly without these cookies. You can generally
                  activate or later deactivate the use of cookies through a functionality built into your web browser or
                  mobile device.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-4 pr-3 ml-2 py-2">2.1.4</p>
              <div class="col-lg-11 align-items-center">
                <p class="body fw-normal m-0 py-2">
                  Local storage files, including Javascript-enabled local storage, is a typical way for a website to
                  store a small file of letters and numbers in your browser. We use local storage files to keep you
                  signed in at our customer support platform. Local storage files are deleted when the website that
                  stores them deletes them. You can also delete local storage files from your browser at any time you
                  like by visiting your web browser settings.
                </p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.2 Account Data</p>
              </div>
              <p class="ml-2">
                We may process your account data (“Account Data”). The account data may include your nickname, email
                address, your user ID. The source of the Account Data is you and our Software that you used to create
                your Account.
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.3 Enquiry Data</p>
              </div>
              <p class="ml-2">
                We may process information contained in any enquiry you submit to us regarding the Software and/or our
                Services (“Enquiry Data”). The Enquiry Data may be processed for the purposes of responding to your
                enquiry, offering, marketing, correcting any deficiencies in the Software and/or Services and selling
                relevant services to you.
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.4 Correspondence Data</p>
              </div>
              <p class="ml-2">
                We may process information contained in or relating to any communication that you send to us
                (“Correspondence Data”). The correspondence data may include the communication content and your contact
                information (phone number, social media handle, email address or other social networks or messenger
                identifiers you use to communicate with us).
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.5 Customer Relationship Data</p>
              </div>
              <p class="ml-2">
                We may process information relating to our customer relationships, including customer contact
                information (“Customer Relationship Data”). The customer relationship data may include your name, your
                nickname, your contact details (phone number, social media handle, email address or other social
                networks or messenger identifiers you use to communicate with us) and information contained in
                communications between us and you. The source of the customer relationship data is you.
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.6 Interaction Data</p>
              </div>
              <p class="ml-2">
                We may process your transaction information when you interact with technically supported decentralized
                protocols and the information you generate through the Software (“Interaction Data”). The source of this
                data is your activities at or through our Software.
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.7 Verification Data</p>
              </div>
              <p class="ml-2">
                We may process information when we verify your identity (“Verification Data”). This verification data
                may include your name, address, telephone number, e-mail address, date of birth, national identification
                number, government identification documents, and, if applicable, information regarding your bank account
                (such as the name of the bank, the account type and account number). The source of this data is you.
              </p>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-12 d-flex">
                <p class="text-white body fw-semibold col-lg-12 m-0 py-2">2.8 Other Data</p>
              </div>
              <p class="ml-2">
                We may process any of your personal information for the purposes as set out in Section 3 below.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">3. Purposes of Processing Collected Data</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-4 py-2">3.1</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Usage Data may be processed for the purposes of analysing the use of our Services. For cookies, we
              generally use them for the following purposes:
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">(i)</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              authentication – we use cookies to identify you when you visit the Software and as you navigate through
              the Software;
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">(ii)</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              status – we use cookies to help us to determine if you are logged into the Software;
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">(iii)</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              security – we use cookies as an element of the security measures used to protect user accounts, including
              preventing fraudulent use of login credentials, and to protect the Software and our Services;
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">(iv)</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              analysis – we use cookies to help us to analyse the use and performance of the Software and Services; and
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 py-2 w-order-list mb-0">(v)</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              cookie consent – we use cookies to store your preferences in relation to the use of cookies more
              generally.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.2</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Account Data may be processed for the purposes of providing you access to our Services, ensuring the
              security of our Services, maintaining back-ups of our databases and communicating with you.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.3</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Correspondence Data may be processed for the purposes of communicating with you and record-keeping.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.4</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Customer Relationship Data may be processed for the purposes of managing our relationships with
              customers, communicating with customers, keeping records of those communications, and promoting our
              products and services to customers.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.5</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Interaction Data may be processed for the purposes of providing relevant Services to you.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.6</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              The Verification Data may be processed for the purposes of identity verification, restricting access of
              ineligible users to certain Services, ensuring enforcement of geographic restrictions, the detection of
              money laundering, terrorist financing, fraud, or any other financial crime, and/or performance our
              obligations to verify the identity of our customers.
            </p>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">3.7</p>
          <div class="col-lg-11 align-items-center">
            <p class="body fw-normal m-0 py-2">
              For other personal data that may be collected by us, it may be processed for the purposes of (i) the
              establishment, exercise or defense of legal claims, whether in court proceedings or in an administrative
              or out-of-court procedure; (ii) obtaining or maintaining insurance coverage, managing risks, or obtaining
              professional advice; or (iii) compliance with a legal obligation to which we are subject, or in order to
              protect your vital interests or the vital interests of another natural person.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">4. Grounds of Processing Data</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2 mr-1">4.1</p>
          <p class="body fw-normal m-0 py-2 ml-3">
            We only process the data mentioned in Section 2 above for the purposes as set out in Section 3 above. Such
            processing is based on the grounds of (i) your acceptance of this Privacy Policy; (ii) your consent for us
            to process your personal data (applicable for the data categorized as “personal data” under the applicable
            law); (ii) our legitimate rights and interest under the applicable law and the agreements between you and
            us.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2">4.2</p>
          <p class="body fw-normal m-0 py-2 ml-3">
            Notwithstanding Section 2 above, except for your explicit consent or required by the applicable law, we will
            not process any special categories of personal data such as personal data revealing racial or ethnic origin,
            political opinions, religious or philosophical beliefs, or trade union membership, and the processing of
            genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning
            health or data concerning a natural person's sex life or sexual orientation, or other sensitive personal
            data.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold m-0 py-2">4.3</p>
          <p class="body fw-normal m-0 py-2 ml-3">
            It is your sole decision whether to provide us with the requested information or not. However, if you choose
            to withhold the requested information, we may not be able to provide you with access to the Software or the
            possibility to use Services. Depending upon the activity, some of the information that we ask you to provide
            is identified as mandatory and some as optional. Please do not supply any other person’s personal
            information to us, unless we prompt you to do so.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">5. Rights of the Data Subject</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">5.1</p>
          <p class="body fw-normal m-0 py-2">
            If you are located in the European Economic Area (“EEA”) zone, the United Kingdom (“UK”), Switzerland as a
            data subject (a person whose personal information is collected, stored and processed), you have several
            rights under data privacy laws:
          </p>
        </div>
        <div class="col-lg-12">
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2 mr-1">5.1.1</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right of access. You have the right to obtain confirmation if your personal information is being
                processed by us. If that is the case, you can access your personal information and the following
                information: (i) the purposes of the processing; (ii) the categories of personal information; (iii) to
                whom the personal information has been or will be disclosed; (iv) the envisaged period for which the
                personal information will be stored, or the criteria used to determine that period. If you would like to
                have a copy of your personal information from us, we will provide it if (i) you prove your identity,
                (ii) it will not adversely affect the rights and freedoms of others. The first copy will be provided for
                free, for any further copies we may charge a reasonable fee based on administrative costs.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.2</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to rectification. You have the right to demand that we correct without undue delay your personal
                information which we have in our systems if it is inaccurate or incomplete.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.3</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to erasure (“right to be forgotten”). You have the right to demand that we erase your personal
                information, and we shall erase it without undue delay where one of the following grounds applies: (i)
                this personal information is no longer necessary in relation to the purposes for which it was processed;
                (ii) you withdraw consent on which the processing is based, and where there is no other legal ground for
                the processing; (iii) you object to the processing and there are no overriding legitimate grounds; (iv)
                your personal information has been unlawfully processed; (v) your personal information has to be erased
                for compliance with a legal obligation.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.4</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to restrict processing. You have the right to restrict us in the ability to process your
                information where one of the following applies: (i) you contest the accuracy of your personal
                information and we are verifying it; (ii) the processing is unlawful and you want to restrict it instead
                of erasure; (iii) we no longer need your personal information, but you need it for establishment,
                exercise or defense of legal claims; (iv) you have objected to the processing and we are verifying
                whether legitimate grounds override your request.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.5</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to data portability. You have the right to receive your personal information which you provided to
                us in a structured, commonly used, and machine-readable format and have the right to transmit those data
                to another company, where: (i) the processing is based on your consent or on a contract; and (ii) the
                processing is carried out by automated means. Where technically feasible, you can demand that we
                transmit those data directly to another company.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.6</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to object. You have the right to object to the processing of your personal information based on
                our legitimate interests. We shall no longer process your personal information unless we demonstrate
                compelling legitimate grounds for the processing or for the establishment, exercise or defense of legal
                claims. Where personal information is processed for direct marketing purposes, you have the right to
                object at any time to the processing of your personal information for such marketing.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <p class="text-white body fw-semibold col-lg-0 m-0 pl-lg-3 pr-lg-5 pr-4 ml-2 py-2">5.1.7</p>
            <div class="col-lg-11 align-items-center">
              <p class="body fw-normal m-0 py-2">
                Right to withdraw consent. You have the right to withdraw your consent for processing of your personal
                information at any time. The withdrawal of consent shall not affect the lawfulness of processing based
                on consent before its withdrawal.
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">5.2</p>
          <p class="body fw-normal m-0 py-2">
            If you are located in a jurisdiction other than the area mentioned in Section 5.1 above and your
            jurisdiction requires the same level of protection of personal data of the jurisdictions as mentioned in
            Section 5.1 above, you need to declare with us and the rights of the data subject as set out in Section 5.1
            will be applied.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">5.3</p>
          <p class="body fw-normal m-0 py-2">
            If you are located in a jurisdiction other than the area mentioned in Section 5.1 above and your
            jurisdiction requires a higher level of protection of personal data than the requirements in British Virgin
            Islands or the jurisdiction mentioned in Section 5.1 above, you need to declare with us before using our
            Services. We will consider whether we can satisfy those higher requirements. If we cannot satisfy those
            higher requirements, we may restrict your use our Services, which requires the processing of your data.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">6. Disclosing Your Personal Information</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">6.1</p>
          <p class="body fw-normal m-0 py-2">
            We may disclose your personal information to our affiliates, our contractors and our service providers
            insofar as reasonably necessary for the purposes, and on the legal bases, set out in this Privacy Policy.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">6.2</p>
          <p class="body fw-normal m-0 py-2">
            We may disclose your personal information to our insurers and/or professional advisers insofar as reasonably
            necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, obtaining
            professional advice, or the establishment, exercise or defence of legal claims, whether in court proceedings
            or in an administrative or out-of-court procedure.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">6.3</p>
          <p class="body fw-normal m-0 py-2">
            In addition to the specific disclosures of personal information set out in this Section 5, we may disclose
            your personal information where such disclosure is necessary for compliance with a legal obligation to which
            we are subject, or in order to protect your vital interests or the vital interests of another natural
            person. We may also disclose your personal information where such disclosure is necessary for the
            establishment, exercise, or defence of legal claims, whether in court proceedings or in an administrative or
            out-of-court procedure.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">6.4</p>
          <p class="body fw-normal m-0 py-2">
            If we are required by the applicable law (for example, you are a resident of EEA, UK, or Switzerland) and
            your personal information is to be transferred outside our country of incorporation (British Virgin Islands)
            and/or the EEA zone, UK or Switzerland, we will ensure an adequate level of protection by any of the
            recognised methods of transfer, including but not limited to entry into the standard contractual clauses for
            the transfer of personal information to processors established in third countries.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">7. Third-parties Services</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">7.1</p>
          <p class="body fw-normal m-0 py-2">
            We use analytics packages from trusted third parties to constantly improve your experience of using the
            Software and our Services. Our trusted partners help us serve advertising and/or analytics and may place
            cookies on your device. The list of third parties include Google, Coingecko. While we do our best to keep
            this list updated, please note that third parties who place cookies on your device may change from time to
            time, and there may be a slight delay in updating the list. Please read their privacy policies to ensure
            that you are comfortable with the manner in which they use cookies.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">7.2</p>
          <p class="body fw-normal m-0 py-2">
            Except for the analytics packages mentioned in Section 7.1, the Software may contain links to any other
            websites or services. When you click on a link to any other website or location, you will leave our Service
            and go to another site, and another entity may collect information from you. We have no control over and
            cannot be responsible for these third-party websites or their content. Please be aware that this Privacy
            Policy does not apply to these third-party websites or their content, or to any collection of your
            information or information about you after you click on links to such third-party websites. We encourage you
            to read the privacy policies of every website you visit. Any links to third-party websites or locations are
            for your convenience and do not signify our endorsement of such third parties or their products, content, or
            websites.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">8. General Processing</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">8.1</p>
          <p class="body fw-normal m-0 py-2">
            Our processing means any operation or set of operations which is performed on personal information, such as
            collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval,
            consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or
            combination, restriction, erasure or destruction, support, maintenance, etc. We do not make automated
            decisions, including profiling.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">8.2</p>
          <p class="body fw-normal m-0 py-2">
            We have implemented measures designed to secure your personal information from accidental loss and
            unauthorised access, use, alteration, and disclosure.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">9. Retaining and Deleting Personal Information</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2 mr-1">9.1</p>
          <p class="body fw-normal m-0 py-2">
            We only retain your personal information for as long as it is necessary for us to use your information as
            described above or to comply with our legal obligations and legitimate interests. For instance, we may
            retain your data as necessary to meet our legal obligations, such as for tax and accounting purposes.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">9.2</p>
          <p class="body fw-normal m-0 py-2">
            We will store your personal information that is used to send you promotional e-mails and/or newsletters or
            used in relation to your support tickets. Such information will be stored and processed solely for this
            purpose until you withdraw your consent, where applicable, or unsubscribe from newsletters, but not longer
            than for 3 years after your last interaction with us.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">9.3</p>
          <p class="body fw-normal m-0 py-2">
            Otherwise, we either delete or anonymise the personal information collected. In case personal information
            was transferred to backup storage and, therefore, cannot be deleted, we continue to store it securely, but
            do not use it for any purpose. In all the other cases, we proceed with the deletion of personal information.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-3 py-2">9.4</p>
          <p class="body fw-normal m-0 py-2">
            Please be aware that any blockchain wallets cannot be deleted from blockchain due to the technological
            specifics of blockchain networks and distributed ledgers.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">10. Protection Measures</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-lg-2 pr-1 py-2 mr-1">10.1</p>
          <p class="body fw-normal m-0 py-2">
            We care about the security of your information and use physical, administrative, and technological
            safeguards to preserve the integrity and security of information collected through our Service. However, no
            security system is impenetrable and we cannot guarantee the security of our systems or those of our vendors.
            In the event that any information under our custody and control is compromised as a result of a breach of
            our security, we will take steps to investigate and remediate the situation and, in accordance with
            applicable laws and regulations, may notify those individuals whose information may have been compromised.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-lg-2 pr-1 py-2">10.2</p>
          <p class="body fw-normal m-0 py-2">
            You are responsible for the security of your digital wallet, and we urge you to take steps to ensure it is
            and remains secure. If you discover an issue related to your wallet, please contact your wallet provider.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">11. Minors</p>
      </div>
      <div class="col-lg-12">
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2 mr-1">11.1</p>
          <p class="body fw-normal m-0 py-2">
            Our Services are prohibited for children. Therefore, we do not intentionally gather information from
            visitors who are not full of 13 years old (or other age threshold under the applicable law of your
            jurisdictional area “Children Age”) (“Child” or “Children”). If a Child submits identifiable information to
            us and we learn that the identifiable information is the information of a Child, we will attempt to delete
            the information as soon as possible. If you believe that we might have any identifiable information from a
            Child, please contact us for our timely necessary action.
          </p>
        </div>
        <div class="d-flex">
          <p class="text-white body fw-semibold col-lg-0 m-0 pr-2 py-2">11.2</p>
          <p class="body fw-normal m-0 py-2">
            In case you are older than the Children Age but not full of 18 years old yet, which means you are not full
            of legal capacity, we will not process your data without sufficient approval from you and your guardian in
            accordance with the applicable law.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">12. Changes to this Privacy Policy</p>
      </div>
      <div class="col-lg-12">
        <p>
          We may modify this Privacy Policy by providing notice of such changes, such as by sending you an email,
          providing notice through the Software or its newsfeed, or updating the “Effective Date” date at the head of
          this Privacy Policy. By continuing to access or use of the Software or Services, you confirm your agreement to
          the modified Privacy Policy. If you do not agree to any modification to this Privacy Policy, you must stop
          using the Software and our Services. We encourage you to frequently review the Privacy Policy to ensure you
          understand the terms and conditions that apply to your access to, and use of, the Software and our Services.
        </p>
      </div>
    </div>

    <div class="col-xl-12 item-privacy">
      <div class="col-lg-12 d-flex">
        <p class="text-white col-lg-12 m-0 px-lg-3 px-0 py-2 h4">13. Contact details</p>
      </div>
      <div class="col-lg-12">
        <p>
          If you have any requests concerning your personal information or any queries with regard to this Privacy
          Policy please feel free to contact us at
          <a href="mailto:support@aura.network" class="small-body text--primary mt-lg-5">support@aura.network</a>.
        </p>
      </div>
    </div>
  </div>
</div>
