.txt-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: var(--aura-gray-4);
  @media (min-width: 992px) {
    line-height: 4rem;
    font-size: 3.2rem;
  }
}

.search-form.private-search-form {
  width: 100%;

  @media (min-width: 992px) {
    width: 410px;
  }
}

.private-name-table {
  th.mat-header-cell:nth-child(1) {
    min-width: 60px;
  }
  th.mat-header-cell:nth-child(7) {
    min-width: 80px;
  }
  th.mat-header-cell:nth-child(2),
  th.mat-header-cell:nth-child(4),
  th.mat-header-cell:nth-child(5),
  th.mat-header-cell:nth-child(6) {
    min-width: 150px;
  }
}

.txt-total-name {
  color: #e6e7e8;
}

.profile-private-name-tag {
  height: 24px;
  width: fit-content;
  padding: 0 var(--spacer-2);
  background-color: var(--aura-gray-10);
  border-radius: 16px;
  border: 1px solid var(--aura-gray-8);
}
