<mat-paginator class="d-none" [pageSize]="pageSize">
</mat-paginator>

<ul class="d-flex page-list position-paginator pb-0 px-0 small-body" *ngIf="length && pageLength > 1">
    <li class="page page-first" (click)="changePageMax(0);selectPage(0)" [class.disabled]="current.isFirst"> First </li>
    <li class="page page-prev" (click)="prevPage()" [class.disabled]="current.isFirst"> Prev </li>
    <ng-container *ngFor="let page of current.list">
        <li class="page" [class.active]="page.isActive" (click)="changePageMax(this.current.list[0].index); selectPage(page.index)"> {{page.index + 1}}</li>
    </ng-container>
    <li class="page page-next" (click)="nextPage()" [class.disabled]="current.isLast"> Next </li>
    <li class="page page-last" (click)="changePageMax(pageLength); selectPage(pageLength - 1)" [class.disabled]="current.isLast"> Last </li>
</ul>
