.page-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 20px 16px;

    .page {
        margin: 0 3px;
        padding: 3.5px 7.5px;
        cursor: pointer;
        color: var(--aura-white);

        &.active {
            color: var(--aura-primary);
            border: 1px solid var(--aura-primary);
            border-radius: 4px;
        }

        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }

        &-next {
            background: url("../../../../assets/icons/icons-svg/white/chevron-right.svg") center no-repeat;
            font-size: 0px;

            &:disabled {
                background: url("../../../../assets/icons/icons-svg/basic/chevron-right.svg") center no-repeat;
            }
        }

        &-prev {
            background: url("../../../../assets/icons/icons-svg/white/chevron-left.svg") center no-repeat;
            font-size: 0px;

            &:disabled {
                background: url("../../../../assets/icons/icons-svg/basic/chevron-right.svg") center no-repeat;
            }
        }
    }
}

.position-paginator {
    justify-content: flex-end;
    @media (max-width: 991.99px) {
        justify-content: center;
    }
}