.page-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 0px;

  .page {
    margin: 0 2px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--aura-white);
    padding: 0 4px;

    &.active {
      border: 1px solid var(--aura-orange-1);
      background-color: var(--aura-orange-1);
      border-radius: 4px;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &-next,
    &-prev {
      min-width: unset;
    }
  }
}

.position-paginator {
  justify-content: flex-end;

  @media (max-width: 991.99px) {
    justify-content: center;
  }
}

#pageRecord {
  &[aria-expanded='true'] {
    i.ph-caret-down {
      display: none;
    }

    i.ph-caret-up {
      display: flex;
    }
  }

  &[aria-expanded='false'] {
    i.ph-caret-down {
      display: flex;
    }

    i.ph-caret-up {
      display: none;
    }
  }
}

.content-record {
  font-weight: 600;
  @media (max-width: 415px) {
    justify-content: center;
  }

  .box-record {
    .btn-record {
      height: 32px;
      border-radius: 8px;
      padding: 0px 16px;
      border: 1px solid var(--aura-gray-8);
      background-color: var(--aura-gray-10);
      color: var(--aura-gray-4);
    }

    .menu-record {
      inset: 30px auto auto 8px !important;
      width: 75px;
      min-width: auto;
    }
  }
}
