.search-form.contract-search-form {
    width: 100%;
  @media (min-width: 992px) {
    width: 410px;
  }
  .box-search-data {
    width: 93%;
    @media (min-width: 992px) {
      width: 400px;
    }
  }
}
