<div class="d-lg-flex justify-content-between">
  <div>
    <p class="title-medium mb-2 text--white fw-bold">Contracts</p>
    <div class="body text--light-gray">A total of {{ pageData?.length }} Contracts found</div>
  </div>
  <form class="aura-form single-input-field search-form d-none d-lg-block">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search for Contract Name"
        [(ngModel)]="textSearch"
        [maxLength]="maxLengthSearch"
        (keyup)="searchToken()"
        (keyup.enter)="handleLink()"
        name="search"
        autocomplete="off" />
      <button
        type="submit"
        class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
        (click)="searchToken()">
        <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
      </button>
      <button
        type="reset"
        class="btn-reset {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
        (click)="textSearch = ''; searchToken()">
        <img src="../../../assets/icons/icons-svg/basic/close-circle.svg" alt="" width="24" height="24" />
      </button>
    </div>
    <div class="box-search-data text-white" *ngIf="filterSearchData && filterSearchData.length > 0">
      <div class="txt-title-search">Contracts</div>
      <ng-container *ngFor="let item of filterSearchData">
        <div class="d-flex p-3 cursor-pointer" [routerLink]="['/token/token', item.hashCode]">
          <img src="assets/images/icons/token-logo.png" class="logo-token" />
          <div class="ml-3">
            <div class="d-flex align-items-center">
              <span class="text-clamp">{{ item.contract_name }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>

<section>
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <div class="card mt-8">
      <div class="card-body">
        <div class="table-responsive aura-table-contain">
          <table mat-table matSort [dataSource]="dataSource" class="aura-table d-none d-lg-table">
            <ng-container *ngFor="let template of templates; index as i">
              <ng-container [matColumnDef]="template.matColumnDef">
                <th mat-header-cell *matHeaderCellDef>
                  <div [innerHTML]="template.headerCellDef | translate"></div>
                </th>
                <td mat-cell *matCellDef="let data">
                  <ng-container *ngIf="template.isUrl && template.isShort">
                    <a
                      [routerLink]="[template.isUrl, data[template.matColumnDef]]"
                      [class.disabled-link]="!data[template.matColumnDef]">
                      {{ shortenAddress(data[template.matColumnDef]) || '-' }}
                    </a>
                  </ng-container>
                  <ng-container *ngIf="template.matColumnDef === 'contract_verification'">
                    {{ data[template.matColumnDef] !== 'UNVERIFIED' ? data['updated_at'] : '-' }}
                  </ng-container>
                  <ng-container *ngIf="template.matColumnDef === 'contract_name'">
                    {{ (data[template.matColumnDef] | cutStringPipe: 20) || '-' }}
                  </ng-container>
                  <ng-container
                    *ngIf="
                      (!template.isUrl || data[template.matColumnDef] === '') &&
                      template.matColumnDef !== 'contract_verification' &&
                      template.matColumnDef !== 'contract_name'
                    ">
                    <ng-container [ngSwitch]="template.matColumnDef">
                      <ng-container *ngSwitchDefault>
                        {{
                          (template.isShort
                            ? shortenAddress(data[template.matColumnDef])
                            : data[template.matColumnDef]) || '-'
                        }}
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
          <app-paginator
            [length]="pageData.length"
            [pageSize]="pageData.pageSize"
            (paginator)="paginatorEmit($event)"
            (pageEvent)="pageEvent($event)">
          </app-paginator>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</section>
