<div class="d-lg-flex align-items-center justify-content-between">
  <div>
    <h1 class="mb-0 text--white">Contracts</h1>
    <div class="text--gray-5 body-02 d-none d-lg-block">A total of {{ pageData?.length | number }} Contract{{ pageData?.length > 1 ? 's' :'' }} found</div>
  </div>
  <form class="aura-form single-input-field search-form contract-search-form d-none d-lg-block">
    <div class="input-group px-6">
      <input
        type="text"
        class="form-control pl-0"
        placeholder="Search for Contract Name/ Address/ Creator address/ Code ID"
        [(ngModel)]="textSearch"
        [maxLength]="maxLengthSearch"
        (ngModelChange)="searchToken()"
        (keyup.enter)="handleLink()"
        name="search"
        autocomplete="off" />
      <button
        type="submit"
        class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
        (click)="searchToken()">
        <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
      </button>
      <button
        type="reset"
        class="btn-reset cursor-pointer {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
        (click)="textSearch = ''; searchToken()">
        <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
      </button>
    </div>
    <ng-container *ngIf="textSearch?.length > 0">
      <div class="box-search-data text-white">
        <ng-container *ngIf="!filterSearchData || filterSearchData && filterSearchData?.length === 0">
          <span> There are no matching contracts </span>
        </ng-container>
        <ng-container *ngIf="filterSearchData && filterSearchData.length > 0">
          <div class="txt-title-search">Contracts</div>
          <ng-container *ngFor="let item of filterSearchData">
            <div class="d-flex p-3 cursor-pointer" [routerLink]="['/contracts', item.contract_address]">
              <img [src]="'assets/images/icons/token-logo.png' | imageS3" class="logo-token" />
              <div class="ml-3">
                <div class="d-flex align-items-center">
                  <span class="text-clamp">{{ item.contract_name || '-' }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </form>
</div>

<section>
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <div class="card mt-4 mt-lg-6">
      <div class="card-body">
        <div class="d-lg-none">
          <div class="d-flex justify-content-between align-items-center" *ngIf="!searchMobVisible">
            <div class="text--gray-5 caption-mob fw-normal-mob flex-shrink-0">A total of {{ pageData?.length | number }} Contract{{ pageData?.length > 1 ? 's' :'' }} found</div>
            <button class="button">
              <img src="assets/icons/icons-svg/white/search.svg" alt="" width="24px" height="24px" (click)="searchMobVisible = true;">
            </button>
          </div>
          <form class="aura-form single-input-field search-form contract-search-form" *ngIf="searchMobVisible">
            <div class="input-group px-6">
              <input
                      type="text"
                      class="form-control pl-0"
                      placeholder="Search for Contract Name/ Address/ Creator address/ Code ID"
                      [(ngModel)]="textSearch"
                      [maxLength]="maxLengthSearch"
                      (ngModelChange)="searchToken()"
                      (keyup.enter)="handleLink()"
                      name="search"
                      autocomplete="off" />
              <button
                      type="reset"
                      class="btn-reset cursor-pointer"
                      (click)="textSearch = ''; searchToken(); searchMobVisible = false;">
                <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
              </button>
            </div>
            <ng-container *ngIf="textSearch?.length > 0">
              <div class="box-search-data text-white">
                <ng-container *ngIf="!filterSearchData || filterSearchData && filterSearchData?.length === 0">
                  <span> There are no matching contracts </span>
                </ng-container>
                <ng-container *ngIf="filterSearchData && filterSearchData.length > 0">
                  <div class="txt-title-search">Contracts</div>
                  <ng-container *ngFor="let item of filterSearchData">
                    <div class="d-flex p-3 cursor-pointer" [routerLink]="['/contracts', item.contract_address]">
                      <img [src]="'assets/images/icons/token-logo.png' | imageS3" class="logo-token" />
                      <div class="ml-3">
                        <div class="d-flex align-items-center">
                          <span class="text-clamp">{{ item.contract_name || '-' }}</span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </form>
        </div>
        <div class="table-responsive aura-table-contain mt-4 mt-lg-0">
          <table mat-table matSort [dataSource]="dataSource" class="aura-table">
            <ng-container *ngFor="let template of templates; index as i">
              <ng-container [matColumnDef]="template.matColumnDef">
                <th mat-header-cell *matHeaderCellDef>
                  <div [innerHTML]="template.headerCellDef | translate" [style.width]="'180px'"></div>
                </th>
                <td mat-cell *matCellDef="let data">
                  <ng-container
                    *ngIf="template.isUrl && template.isShort && template.matColumnDef === 'contract_address'">
                    <div class="d-flex align-items-center gap-2">
                      <div class="mr-2" [style.width]="'16px'">
                        <img
                          *ngIf="data['contract_verification'] !== contractVerifyType.Unverifed"
                          [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
                          alt="contract_verification"
                          width="16px"
                          height="16px" />
                      </div>
                      <a
                        [routerLink]="[template.isUrl, data[template.matColumnDef]]"
                        [class.disabled-link]="!data[template.matColumnDef]">
                        {{ shortenAddress(data[template.matColumnDef]) || '-' }}
                      </a>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="template.isUrl && template.isShort && template.matColumnDef !== 'contract_address'">
                    <a
                      [routerLink]="[template.isUrl, data[template.matColumnDef]]"
                      [class.disabled-link]="!data[template.matColumnDef]">
                      {{ shortenAddress(data[template.matColumnDef]) || '-' }}
                    </a>
                  </ng-container>
                  <ng-container *ngIf="template.matColumnDef === 'contract_verification'">
                    {{ data[template.matColumnDef] !== contractVerifyType.Unverifed ? data['updated_at'] : '-' }}
                  </ng-container>
                  <ng-container *ngIf="template.matColumnDef === 'contract_name'">
                    {{ (data[template.matColumnDef] | cutStringPipe: 16) || '-' }}
                  </ng-container>
                  <ng-container
                    *ngIf="
                      (!template.isUrl || data[template.matColumnDef] === '') &&
                      template.matColumnDef !== 'contract_verification' &&
                      template.matColumnDef !== 'contract_name'
                    ">
                    <ng-container [ngSwitch]="template.matColumnDef">
                      <ng-container *ngSwitchDefault>
                        {{
                          (template.isShort
                            ? shortenAddress(data[template.matColumnDef])
                            : data[template.matColumnDef]) || '-'
                        }}
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
        </div>
        <app-paginator
          [length]="pageData.length"
          [pageSize]="pageData.pageSize"
          (paginator)="paginatorEmit($event)"
          (pageEvent)="pageEvent($event)">
        </app-paginator>
      </div>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</section>
