::ng-deep .TokenSoulboundCreatePopup .mat-dialog-container {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.card {
  @media (min-width: 991.98px) {
    width: 575px;
  }
}
.address-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--aura-gray-3);
}
