<div class="d-flex justify-content-center align-items-center h-100 position-relative">
  <img
    (error)="isError = true"
    *ngIf="!isError"
    class="image"
    [src]="srcImg"
    alt="{{ srcImg }}"
    [class.validator-jailed]="appClass === 'jailed'" />

  <img *ngIf="isError" class="image" [src]="df" alt="aura" [class.validator-jailed]="appClass === 'jailed'" />
  <div class="jailed" [class.d-none]="appClass !== 'jailed'">
    <img [src]="'assets/icons/icons-svg/color/jailed.svg' | imageS3" alt="" />
  </div>
</div>
