.button-tab-menu {
  padding: 16px;
  border-radius: 8px 0 0 8px;
  transition: background-color .35s ease-in-out;
  color: var(--aura-white);
  display: block;
  width: 100%;
  min-height: 50px;
  text-align: start;
  &:hover, &.active {
    background-color: var(--aura-gray-10);
  }
}
.bg-gray-10 {
  background-color: var(--aura-gray-10);
  border-radius: 8px;
}
.profile-contain {
  padding: var(--spacer-6);
}
