<section>
  <div class="mt-2 mx-lg-0 mx-2">
    <div class="row mb-5 mb-lg-0">
      <div class="col-lg-3 col-12 pr-md-6">
        <div class="d-none d-lg-block">
          <div class="mb-8">
            <div class="body-01 fw-semibold text--gray-4 mb-4">Profile</div>
            <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: profileTab.Setting }"
              [class.active]="currentTab === profileTab.Setting"
              class="button button-tab-menu body fw-semibold"
              >Profile settings</a
            >
          </div>
          <div>
            <div class="body-01 fw-semibold text--gray-4 mb-4">Personal note</div>
            <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: profileTab.PrivateNameTag }"
              [class.active]="currentTab === profileTab.PrivateNameTag"
              class="button button-tab-menu body fw-semibold"
              >Private name tag</a
            >
            <!-- <a
              [routerLink]="['/profile']"
              [queryParams]="{ tab: profileTab.WatchList }"
              [class.active]="currentTab === profileTab.WatchList"
              class="button button-tab-menu body fw-semibold mt-2"
              >WatchList</a
            > -->
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12 bg-gray-10">
        <div class="profile-contain">
          <div class="d-flex d-lg-none justify-content-between align-items-end tab-wrapper tab-profile">
            <ul
              ngbNav
              #customNav="ngbNav"
              [activeId]="activeTabID"
              class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-lg-8 mb-4 mb-lg-0">
              <ng-container *ngFor="let tab of PROFILE_TAB; index as index">
                <li [ngbNavItem]="index">
                  <a ngbNavLink (click)="changeTab(tab.key)" class="verify-contract">
                    <span>{{ tab.value }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
          <ng-container *ngIf="currentTab">
            <app-profile-settings *ngIf="currentTab === profileTab.Setting"></app-profile-settings>
            <app-private-name-tag *ngIf="currentTab === profileTab.PrivateNameTag"></app-private-name-tag>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
