.card.card-grant {
  @media (min-width: 992px) {
    width: 575px;
  }
  .card-header {
    background-color: var(--aura-gray-9);
  }
  .card-body {
    max-height: 85vh;
    overflow-y: auto;
  }
}
.aura-form.grant-form {
  .form-check-input {
    background-color: transparent !important;
  }
}
.card-explain {
  padding: var(--spacer-6);
  background-color: #1C1D23;
  border: 1px solid var(--aura-gray-9);
  border-radius: 10px;
  .input-group.form-check-input {
    background-color: #24262E !important;
  }
}
.card-note {
  padding: var(--spacer-4);
  background-color: rgba(255, 200, 0, 0.16);
  border-radius: 8px;
}
.button-add {
  i.ph-plus-fill {
    font-size: 1.8rem;
  }
}
.aura-form {
  .input-group {
    button.button.button-primary.active {
      font-size: 1.4rem;
      line-height: 1.6rem;
      border-radius: 4px;

      @media (min-width: 992px) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }
}