.content-transfer {
  min-width: 180px;
  display: inline-block;
  @media (max-width: 991.99px) {
    min-width: 160px;
  }
}

.box-token-transfer {
  min-width: 80px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;

  .token-transfer-status {
    display: inline-flex;
    align-items: center;
    padding: var(--spacer-2) var(--spacer-4);
    color: var(--aura-green-3);
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    width: auto;
    margin: auto;

    &.status-out {
      color: var(--aura-red-3);
    }
  }
}

.aura-status {
  display: flex;
  align-items: center;

  .status {
    padding: 8px 16px;
    border-radius: 4px;
  }
}

@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell:not(:nth-child(5)) {
    min-width: 150px;
  }
  .aura-table th.mat-header-cell:nth-child(2) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(5) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(6) {
    min-width: 180px;
  }
  .aura-table th.mat-header-cell:nth-child(1) {
    min-width: 50px;
  }
}
.transfer-table-container {
  tr.mat-header-row {
    text-transform: initial;
  }
}
