<div class="row">
    <div class="col-12">
        <div class="card text--white">
            <h3 class="card-header pb-0 text--white">Aura Marking Milestone</h3>
            <div class="card-body pt-0 pb-2 d-flex flex-wrap nft-row">
                <div class="nft-item mb-4" *ngFor="let item of mileStoneData">
                    <div class="nft-item__img mx-auto">
                        <div class="nft-item__img-contain">
                            <img src="assets/images/icons/fabric.png" alt="" width="100%">
                        </div>
                    </div>
                    <h4 class="mb-0 mt-4 text--white nft-item__title">{{ item.title }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
