<div class="card box-nft">
  <div class="card-body">
    <!-- Filter -->
    <div class="d-xl-flex justify-content-between align-items-center mb-4" *ngIf="!loading">
      <div class="d-flex align-items-center mb-lg-0 mb-4 justify-content-between">
        <span class="mb-0 fw-semibold text--gray-light-2 mr-lg-6 h3"
          >NFTs ({{ listCollection[0]?.quantity || 0 }})</span
        >
        <div class="button-switch-stage button-fixed mt-lg-0">
          <button
            class="button button-switch-stage-nft body-04"
            (click)="changeType('')"
            [class.active]="typeToken === ''">
            All types
          </button>
          <button
            class="button button-switch-stage-nft body-04"
            (click)="changeType(typeTokeList.CW721)"
            [class.active]="typeToken === typeTokeList.CW721">
            CW721
          </button>
          <button
            class="button button-switch-stage-nft body-04"
            (click)="changeType(typeTokeList.ERC721)"
            [class.active]="typeToken === typeTokeList.ERC721">
            ERC721
          </button>
        </div>
      </div>
      <div
        class="d-flex flex-column flex-lg-row align-items-end justify-content-end gap-2"
        *ngIf="listCollection[0]?.quantity">
        <ng-container *ngIf="!errTxt">
          <div class="d-flex align-items-center justify-content-center ml-2 ml-lg-0 w-100">
            <div class="body d-lg-flex d-none mr-2 text--gray-1">Collections</div>
            <div class="dropdown aura-dropdown w-100">
              <button
                class="button button-pill button--sm button-outline button-outline__in-card px-3 justify-content-between"
                type="button"
                id="nftFilter"
                data-bs-toggle="dropdown"
                [disabled]="listCollection?.length === 1"
                aria-expanded="false">
                <div class="d-flex body">
                  <div class="txt-collection-name label">{{ nftFilterItem?.label }}</div>
                  <span>({{ nftFilterItem?.quantity }})</span>
                </div>
                <i class="ph ph-caret-down text--white h3"></i>
                <i class="ph ph-caret-up text--white h3"></i>
              </button>
              <ul
                class="dropdown-menu filter-dropdown-collecttion border-sm border-gray-9 border-radius--sm"
                aria-labelledby="nftFilter"
                *ngIf="listCollection?.length > 0">
                <li
                  style="height: 48px"
                  *ngFor="let item of listCollection; let i = index"
                  (click)="nftFilter = item.address; filterCollecttion(); setNFTFilter(item)"
                  [class.item-border]="i === 0"
                  [class.mb-1]="i > 0"
                  class="dropdown-item cursor-pointer px-4 px-lg-2"
                  [class.active]="nftFilter === item.address">
                  <div class="d-flex body mt-1">
                    <span class="txt-collection-name">{{ item.label }}</span>
                    <span>({{ item.quantity }})</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="position-relative ml-4 w-lg-auto w-100 mt-3 mt-lg-0">
            <form (ngSubmit)="searchTokenNft()" class="aura-form single-input-field account-search-form">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for Token ID or NFT Contract Address"
                  [(ngModel)]="searchValue"
                  [maxLength]="maxLengthSearch"
                  [ngModelOptions]="{ standalone: true }"
                  (keyup.enter)="searchTokenNft()"
                  name="search"
                  autocomplete="off" />
                <button type="submit" class="btn-search {{ searchValue && searchValue?.length > 0 ? 'd-none' : '' }}">
                  <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
                </button>
                <button
                  type="reset"
                  class="btn-reset cursor-pointer {{
                    !searchValue || (searchValue && searchValue?.length === 0) ? 'd-none' : ''
                  }}"
                  (click)="resetSearch()">
                  <img
                    [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3"
                    alt=""
                    width="24"
                    height="24" />
                </button>
              </div>
            </form>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Table -->
    <ng-container *ngIf="nftList?.length > 0 && !loading; else noValues">
      <div *ngIf="{ value: breakpoint$ | async } as breakpoint">
        <div
          class="nft-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5"
          id="nft-cards">
          <div class="nft-cards__col col" *ngFor="let item of nftList; let i = index">
            <div class="nft-cards__item-border">
              <div class="nft-cards__item">
                <app-nft-card
                  *ngIf="item"
                  [nftLink]="'/token/cw721/' + item.contract_address + '/' + encodeData(item.token_id)"
                  [nftItem]="item"
                  nftId="{{ 'nft#' + i }}"
                  [nftType]="getTypeFile(item)"></app-nft-card>
                <div class="nft-cards__label">
                  <span class="text--white">CW-721</span>
                </div>
                <div class="nft__body">
                  <div class="nft__info d-flex">
                    <span class="mr-1 text--gray-1">Token:</span>
                    <a
                      class="hover-link box-name text--primary"
                      (click)="handleRouterLink('/token/' + item.contract_address)">
                      <span class="d-inline-block txt-token-name">{{ item.token_name }}</span>
                    </a>
                  </div>
                  <div class="mt-lg-1 nft__info" [copyBtn]="item.token_id" [btnClass]="['mt-lg-1']">
                    <span class="mr-1 text--gray-1">Token ID:</span>
                    <span
                      class="text--primary hover-link"
                      (click)="handleRouterLink('/token/' + item.contract_address + '/' + encodeData(item.token_id))">
                      <span *ngIf="!breakpoint.value.matches">{{ item.token_id | ellipsis: 10 }}</span>
                      <span *ngIf="breakpoint.value.matches">{{ item.token_id | ellipsis: 5 }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-6 d-flex justify-content-center justify-content-md-end">
          <app-custom-paginator
            [paginator]="pageData"
            [length]="pageData.length"
            (pageChange)="pageEvent($event)"></app-custom-paginator>
        </div>
      </div>
    </ng-container>
    <div *ngIf="loading" class="mt-20">
      <app-loading-sprint></app-loading-sprint>
    </div>
    <ng-template #noValues>
      <ng-container *ngIf="!loading">
        <app-table-no-data
          *ngIf="(searchNotFound || listCollection[0]?.quantity <= 0) && !errTxt"
          [textNull]="'No NFTs found'"
          [img]="'assets/images/notFoundNFT.png'"></app-table-no-data>
        <app-table-no-data *ngIf="errTxt" [textNull]="errTxt"></app-table-no-data>
      </ng-container>
    </ng-template>
  </div>
</div>
