.aura-form.single-input-field.account-search-form {
  width: 100%;

  @media (min-width: 992px) {
    width: 370px;
  }

  .input-group {
    padding: 0 var(--spacer-3);

    input {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
}

.nft-filter-form.aura-form.single-input-field .input-group {
  height: 40px;
  min-width: 312px;
}

#nftFilter {
  width: 100%;

  @media (min-width: 991.98px) {
    width: 250px;
  }

  text-align: left;
  height: 40px;

  &[aria-expanded='true'] {
    i.ph-caret-down {
      display: none;
    }

    i.ph-caret-up {
      display: flex;
    }
  }

  &[aria-expanded='false'] {
    i.ph-caret-down {
      display: flex;
    }

    i.ph-caret-up {
      display: none;
    }
  }
}

.item-border {
  position: relative;
  margin-bottom: 7px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -5px;
    height: 1px;
    background-color: var(--aura-gray-8);
  }
}

.box-nft {
  .input-group {
    height: 40px;
  }

  .button {
    &:disabled {
      border-color: var(--aura-gray-8);
    }
  }

  .button-switch-stage-nft {
    height: 24px;
  }

  .button-switch-stage {
    height: 32px;
    width: 195px;
    @media (min-width: 992px) {
      width: 220px;
    }
  }
}

.dropdown-menu.filter-dropdown-collecttion {
  width: 100%;
  max-height: 230px;
  overflow-y: auto !important;
  background-color: var(--aura-gray-10);
  border-radius: 8px;
  padding: var(--spacer-2);
  border: 1px solid var(--aura-gray-8);
  overflow: hidden;
  box-shadow: none;
  margin: 4px 0px !important;

  li.dropdown-item {
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 4px;
    padding: var(--spacer-3) var(--spacer-2);
    background-color: var(--aura-gray-10);

    &>* {
      color: var(--aura-white);
    }

    &:hover {
      background-color: var(--aura-gray-9);
    }

    &.active {
      background-color: var(--aura-gray-8) !important;
    }
  }
}

.txt-collection-name {
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
  color: var(--aura-white);

  &.label {
    max-width: 235px;
  }

  @media (min-width: 991.98px) {
    max-width: 87%;

    &.label {
      max-width: 140px;
    }
  }
}

.nft-cards__item {
  .box-name {
    max-width: -webkit-fill-available;

    .txt-token-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 430px) {
        max-width: 90px;
      }

      @media (min-width: 991.98px) {
        max-width: 150px;
      }

      @media (min-width: 1367px) {
        max-width: 180px;
      }
    }
  }
}