.aura-form.single-input-field {
  .input-group {
    height: 36px;
    padding: 0 16px;
    input {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    button.btn-search img, button.btn-reset img {
      width: 18px;
      height: 18px;
    }
  }
}
.nft-cards {
  &__col {
    overflow: hidden;
    margin-bottom: var(--spacer-6);
  }
  &__item-border {
    display: block;
    border: solid 1px var(--aura-dark-gray);
    border-radius: var(--spacer-2);
    box-shadow: 2px 1000px 1px #141416 inset;
    transition: border-color .35s ease-in-out;
    &:hover {
      background-image: linear-gradient(#000, #000), linear-gradient( 108deg, rgba(94, 230, 208, 1) 12.51%, rgba(191, 198, 255, 1) 51.13%, rgba(255, 186, 105, 1) 87.49%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border: solid 1px transparent;
    }
  }
  &__item {
    display: block;
    padding: var(--spacer-3);
    border-radius: var(--spacer-2);
    background-color: var(--aura-black);
    width: 100%;
    height: auto;
  }
  &__img {
    position: relative;
    overflow: hidden;
    border-radius: var(--spacer-1);
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  &__label {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--aura-dark-gray);
    padding: 0 var(--spacer-2);
    border-radius: var(--spacer-1);
  }
  .token-id {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
