.aura-form.single-input-field {
  .input-group {
    padding: 0 var(--spacer-3);
    input {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
}

.nft-filter-form.aura-form.single-input-field .input-group {
  height: 40px;
  min-width: 312px;
}

::ng-deep {
  .mat-form-field[nftFilter] {
    background-color: var(--aura-gray-10);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid transparent;
    @media (min-width: 991.98px) {
      width: 100%;
    }
    &.mat-focused {
      border-color: var(--aura-white);
    }

    .mat-form-field-wrapper {
      width: 100%;
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      padding: 0 16px;
      background: transparent;
    }

    .mat-form-field-infix {
      padding: 4px 0 0.75em 0;
    }

    .mat-select-placeholder,
    mat-select-trigger {
      position: relative;
      color: var(--aura-gray-5);
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .mat-select-value {
      color: var(--aura-gray-1);
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(-22%);

      .mat-select-arrow {
        border: solid var(--aura-white);
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
  mat-select.nft-filter[aria-expanded='true'] {
    .mat-select-arrow {
      border-width: 1px 0 0 1px !important;
    }
  }

  .nftFilterPanel {
    border: 1px solid var(--aura-gray-8);
    background: #25252c;
    min-width: calc(100% + 20px) !important;
    transform: translate3D(5px, 32px, 0) !important;
    padding: var(--spacer-2) !important;
    border-radius: 8px;
  }
  .mat-option {
    border-radius: 4px;
    color: var(--aura-white) !important;
    padding: 0 8px !important;
  }
}

.box-nft {
  .input-group {
    height: 40px;
  }
}
