<h2 class="mb-0 text--white">NFT Assets ({{ pageData.length || 0 }})</h2>
<div class="card mt-3">
  <div class="card-body">
    <div *ngIf="loading" class="m-auto mt-10">
      <app-loading-sprint></app-loading-sprint>
    </div>
    <!-- Filter -->
    <div class="mb-6 d-lg-flex align-items-center justify-content-between">
      <div class="h1 mb-0 text-gradient">$ {{ totalValue || 0 | number: global.formatNumber2Decimal }}</div>
      <form class="aura-form single-input-field account-search-form mt-4 mt-lg-0">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for Token ID or Address"
            [(ngModel)]="searchValue"
            [maxLength]="maxLengthSearch"
            (keyup)="checkSearch()"
            (keyup.enter)="searchTokenNft()"
            [ngModelOptions]="{ standalone: true }"
            name="inputEmail"
            autocomplete="off" />
          <button type="submit" class="btn-search {{ searchValue && searchValue.length > 0 ? 'd-none' : '' }}">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="btn-reset cursor-pointer {{
              !searchValue || (searchValue && searchValue.length === 0) ? 'd-none' : ''
            }}"
            (click)="resetSearch()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
    <!-- Table -->
    <ng-container *ngIf="showedData?.length > 0; else noValues">
      <div>
        <div class="nft-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5">
          <div class="nft-cards__col col" *ngFor="let item of showedData">
            <div class="nft-cards__item-border">
              <a
                [routerLink]="['/tokens/token-nft/' + item.contract_address + '/' + item.token_id]"
                class="nft-cards__item">
                <div class="nft-cards__img">
                  <img *ngIf="!item.media_info[0]?.media_link || item.nftType === 'img'" [src]="item.media_info[0]?.media_link || defaultImgToken" alt="" />
                  <app-custom-video-player
                  [videoSrc]="item?.media_info[0]?.media_link"
                  [showControl]="false"
                  *ngIf="item.nftType === 'video'"
                  [isMuted]="true">
                </app-custom-video-player>
                  <div class="nft-cards__label">
                    <span class="text-gradient">CW-721</span>
                  </div>
                </div>
                <div class="mt-3 nft__info">
                  <span class="mr-1 text--gray-1">Token:</span>
                  <span
                    class="text--primary hover-link"
                    (click)="handleRouterLink($event, ['/tokens/token-nft/' + item.contract_address])"
                    >{{ item.token_name }}</span
                  >
                </div>
                <div class="mt-1 nft__info">
                  <span class="mr-1 text--gray-1">Token ID:</span>
                  <span
                    class="text--primary hover-link"
                    (click)="
                      handleRouterLink($event, ['/tokens/token-nft/' + item.contract_address + '/' + item.token_id])
                    ">
                    {{ item.token_id }}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
        <app-paginator
          [length]="pageData.length"
          [pageSize]="pageData.pageSize"
          (paginator)="paginatorEmit($event)"
          (pageEvent)="handlePageEvent($event)">
        </app-paginator>
      </div>
    </ng-container>
    <ng-template #noValues>
      <app-table-no-data [textNull]="'No NFTs'"></app-table-no-data>
    </ng-template>
  </div>
</div>
