.box-contract-overview {
  border-radius: 0;
  @media (min-width: 991.98px) {
    border-radius: 12px;
  }

  &.moreInfo {
    border-bottom-left-radius: var(--spacer-2);
    border-bottom-right-radius: var(--spacer-2);
    overflow: hidden;
  }

  .card__header {
    padding: var(--spacer-4);
    background-color: var(--aura-gray-9);
    @media (min-width: 991.98px) {
      padding-bottom: 0;
      background-color: transparent;
    }

    &[aria-expanded='true'] {
      img {
        transform: rotate(180deg);
      }
    }
  }

  .card__body {
    padding: 0 var(--spacer-4);
    position: static !important;
    background-color: var(--aura-gray-10) !important;
    display: block !important;
    border: none !important;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
    height: unset !important;
    @media (max-width: 992px) {
      max-height: 0;
      &.show {
        padding: var(--spacer-4);
        max-height: 9999px;
      }
    }
  }
}
