::ng-deep .TokenSoulboundCreatePopup {
  max-width: 100vw !important;
  padding: 0px var(--spacer-4) !important;
  .mat-dialog-container {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
}
.card {
  @media (min-width: 991.98px) {
    width: 620px;
  }
}
.address-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--aura-gray-3);
}
.box-note {
  background: rgba(255, 200, 0, 0.16);
  border-radius: 8px;
  padding: var(--spacer-4);
}
