<h1 class="title-medium title-small-mob mb-0 text--white">Token <span class="text-secondary small">{{tokenType}}</span></h1>
<section class="token-info text--white">
  <div class="row card-header">
    <div class="col-12 col-lg-6 tab-info">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Overview [ERC-20]</div>
        <!-- <div>test</div> -->
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          PRICE<br />
          $0.17 @ 0.217711 Aura (+1.87%)
        </div>
        <div>
          CIRCULATING SUPPLY MARKET CAP<br />
          $7,342,381,252.35
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="">
          Max Total Supply<br />
          1.000.000.000 AURA
        </div>
        <div>
          FULLY DILUTED MARKET CAP<br />
          $27,342,381,252.35
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="">Holders:</div>
        <div>23,130 (+1.87%)</div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="">Transfers:</div>
        <div>269,902</div>
      </div>
    </div>

    <div class="col-12 col-lg-6 tab-info">
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Profile Summary [Edit]</div>
        <div>More</div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Contract:</div>
        <a class="text--green" routerLink="/blocks/id/0xB8c77482e45F1F44dE1745F52C74426C631bDD52">0xB8c77482e45F1F44dE1745F52C74426C631bDD52</a>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Decimals:</div>
        <div>6</div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Offcial Site:</div>
        <a class="text--green" href="https://aura.network">https://aura.network</a>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="">Social Profiles:</div>
        <div></div>
      </div>
    </div>
  </div>
</section>

<section class="card main-tab mt-5 p-4">
  <div class="d-flex justify-content-between">
    <ul ngbNav #customNav="ngbNav" [activeId]="0" class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-8">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a ngbNavLink (click)="changeTab(tab.key)">
            <span class="tab-title">{{ tab.value }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
    <div class="d-flex align-item-center justify-content-end col-4">
      <form class="aura-form single-input-field search-form mr-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for Token Name or Address"
            [(ngModel)]="textSearch"
            (ngModelChange)="searchTokenTable()"
            name="search"
            autocomplete="off" />
          <button
            type="submit"
            class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
            (click)="searchTokenTable()">
            <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-3">
    <app-smart-contract-table
      [tabId]="countCurrent"
      [type]="'TABLE_TOKEN'"
      [length]="tokenTransferList?.length"
      [data]="tokenTransferList"></app-smart-contract-table>
    <div *ngIf="loading">
      <app-loading-sprint></app-loading-sprint>
    </div>
  </div>
</section>
