<div class="message-container text--white">
  <div class="row mb-2 body justify-content-between justify-content-lg-start">
    <div class="col-auto col-lg-2 text--gray-4">
      {{ 'Method' }}
    </div>
    <div class="col-auto col-lg-10 text--gray-1">{{ method | convertEvmTx }}</div>
  </div>

  <div
    class="row mb-3 body justify-content-between justify-content-lg-start align-items-center"
    *ngIf="transaction?.contractAddress > 0">
    <div class="col-auto col-lg-2 text--gray-4">Contract Address</div>
    <div class="col-auto col-lg-10">
      <app-name-tag
        [value]="transaction?.contractAddress?.toLowerCase()"
        [fullText]="true"
        [linkRouter]="['/evm-contracts', transaction?.contractAddress?.toLowerCase()]"
        [iconContract]="true"></app-name-tag>
    </div>
  </div>

  <div class="d-flex flex-wrap mb-4" *ngIf="transaction?.inputData">
    <div class="col-12 col-lg-2 mb-2 mb-lg-0 text--gray-4 body">
      {{ 'Input Data' }}
    </div>
    <div class="col-12 col-lg-10">
      <div class="button-switch-stage box-input-data mt-lg-0 mb-2">
        <button
          class="button body-04 {{ isCreateContract ? 'text--gray-7 pe-none' : '' }}"
          (click)="changeType(inputDataType.RAW)"
          [class.active]="typeInput === inputDataType.RAW"
          [disabled]="isCreateContract">
          {{ inputDataType.RAW }}
        </button>
        <button
          class="button body-04 {{ !isContractVerified || isCreateContract ? 'text--gray-7 pe-none' : '' }}"
          (click)="changeType(inputDataType.DECODED)"
          [class.active]="typeInput === inputDataType.DECODED"
          [disabled]="!isContractVerified || isCreateContract">
          {{ inputDataType.DECODED }}
        </button>
        <button
          class="button body-04"
          (click)="changeType(inputDataType.ORIGINAL)"
          [class.active]="typeInput === inputDataType.ORIGINAL">
          {{ inputDataType.ORIGINAL }}
        </button>
      </div>

      <div class="box-data log-content mb-3">
        <div class="log-data body-02 break-word" *ngIf="typeInput === inputDataType.RAW">
          <div *ngIf="inputDataRaw['methodId']">MethodId: {{ inputDataRaw['methodId'] }}</div>
          <p *ngIf="inputDataRaw['name']">Method name: {{ inputDataRaw['name'] }}</p>
          <ng-container *ngIf="inputDataRaw['arrList']?.length > 0">
            <ng-container *ngFor="let item of inputDataRaw['arrList']; index as index">
              <div class="mb-1 box-raw">
                <div class="d-flex">
                  <div class="index-raw-item font-mono">[{{ index }}]:</div>
                  <div class="font-mono">
                    {{ item }}
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="log-data body-02 break-word box-decoded overflow-auto" *ngIf="typeInput === inputDataType.DECODED">
          <ng-container *ngIf="!env.isMobile">
            <div class="row pb-3 text--gray-4 body-01 fw-semibold decoded-header">
              <div class="col-1 pl-4">#</div>
              <div class="col-3">Name</div>
              <div class="col-3">Type</div>
              <div class="col-5">Data</div>
            </div>
            <ng-container *ngFor="let item of inputDataDecoded['params']; index as index">
              <div class="row item-decoded text--gray-1">
                <div class="col-1 pl-4">{{ index }}</div>
                <div class="col-3">{{ item.name }}</div>
                <div class="col-3">{{ item.type }}</div>
                <div class="col-5 text-wrap">
                  {{ item.value }}
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="env.isMobile">
            <ng-container *ngFor="let item of inputDataDecoded['params']; index as index">
              <div class="row item-decoded text--gray-1">
                <div class="text--gray-4 body-04">Name</div>
                <p>{{ item.name }}</p>
                <div class="text--gray-4 body-04">Type</div>
                <p class="">{{ item.type }}</p>
                <div class="text--gray-4 body-04">Data</div>
                <p class="text-wrap">
                  {{ item.value }}
                </p>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div
          class="log-data body-02 break-word"
          *ngIf="typeInput === inputDataType.ORIGINAL"
          [appExpandable]="transaction?.inputData"
          [maxCharVisible]="500">
          {{ transaction?.inputData }}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap mb-3" *ngIf="eventLog?.length > 0">
    <div class="col-12 mb-2 mb-lg-0 text--gray-4 body">
      <div class="button-switch-stage box-input-data mt-lg-0 mb-2">
        <button
          (click)="showAll = true"
          class="button body-04 border-radius--sm"
          [class.active-gradient]="showAll"
          [disabled]="isCreateContract">
          <span>{{ 'Event log' }}</span>
        </button>
        <button
          (click)="showAll = false"
          class="button body-04 border-radius--sm"
          [class.active-gradient]="!showAll">
          <span>Internal Transactions</span>
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="box-data box mt-2" *ngIf="showAll">
        <div class="mb-6">Transaction Receipt Event Logs ({{ eventLog?.length }})</div>
        <div class="">
          <app-evm-transaction-event-log
            *ngFor="let log of eventLog; index as idx"
            [eventLog]="log"
            [arrTopicDecode]="arrTopicDecode"
            [index]="idx">
          </app-evm-transaction-event-log>
        </div>
      </div>
      <div class="box-data box mt-2" *ngIf="!showAll">
        <app-evm-internal-transactions [dataTable]="transaction.evm_internal_transactions"></app-evm-internal-transactions>
      </div>
    </div>
  </div>
</div>
