.message-container {
  .header-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--aura-white);
  }

  .box-event-log {
    background-color: var(--aura-gray-9);
    border-radius: 8px;
    padding: 12px 16px;
    overflow-y: auto;

    max-height: 704px;
    overflow-y: auto;

    .callable {
      width: auto;
      display: flex;
      padding: 4px 8px;
      border-radius: 4px;

      background-color: var(--aura-gray-10);
    }
  }
}
