<div class="message-container text--white">
  <div class="d-flex flex-wrap mb-3 body">
    <div class="col-12 col-lg-2 mb-2 mb-lg-0 text--gray-4">
      {{ 'Method' }}
    </div>

    <div class="col-12 col-lg-10">
      {{ inputData?.hexSignature ? (inputData.hexSignature | ellipsis: 10 : null : true) : 'Transfer' }}
    </div>
  </div>

  <div class="d-flex flex-wrap mb-3" *ngIf="inputData">
    <div class="col-12 col-lg-2 mb-2 mb-lg-0 text--gray-4 body">
      {{ 'Input Data:' }}
    </div>

    <div class="col-12 col-lg-10 box-event-log">
      <div class="log-content mb-3">
        <div class="log-label text--gray-4 body-04">Hex Signature</div>

        <div class="log-data body-02 break-word" [appExpandable]="inputData.hexSignature" [maxCharVisible]="220">
          {{ inputData.hexSignature }}
        </div>
      </div>

      <div class="log-content mb-3" *ngIf="inputData.call">
        <div class="log-label text--gray-4 body-04">Call</div>

        <div class="log-data body-02 break-word highlight">
          {{ inputData.call }}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap mb-3" *ngIf="eventLog?.length > 0">
    <div class="col-12 col-lg-2 mb-2 mb-lg-0 text--gray-4 body">
      {{ 'Event log' }}
    </div>
    <div class="col-12 col-lg-10">
      <mat-slide-toggle (toggleChange)="showAll = !showAll"> Show all events </mat-slide-toggle>

      <div class="box-event-log mt-2" *ngIf="showAll">
        <div class="mb-6">Transaction Receipt Event Logs ({{ eventLog?.length }})</div>
        <div class="">
          <app-evm-transaction-event-log *ngFor="let log of eventLog; index as idx" [eventLog]="log" [index]="idx">
          </app-evm-transaction-event-log>
        </div>
      </div>
    </div>
  </div>
</div>
