<div class="button-switch-stage d-lg-inline-flex">
  <button class="button" [class.active]="isActive" (click)="changeType(true)">Active</button>
  <button class="button" [class.active]="!isActive" (click)="changeType(false)">Inactive</button>
</div>

<div class="mt-4 mt-lg-5 card">
  <div class="card-body">
    <ng-container *ngIf="!loading">
      <div class="d-lg-flex flex-row-reverse justify-content-between align-items-center">
        <form (ngSubmit)="searchToken()" class="aura-form single-input-field granter-search-form">
          <div class="input-group px-6">
            <input
              type="text"
              class="form-control pl-0"
              placeholder="Search for Tx Hash or Address"
              [(ngModel)]="textSearch"
              [maxLength]="maxLengthSearch"
              name="search"
              autocomplete="off" />
            <button
              type="submit"
              class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
              (click)="searchToken()">
              <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
            </button>
            <button
              type="reset"
              class="btn-reset cursor-pointer {{
                !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
              }}"
              (click)="resetFilterSearch()">
              <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
            </button>
          </div>
        </form>
        <div class="mt-4 mt-lg-0 text--gray-1" *ngIf="dataSource.data">
          {{ dataSource.data.length }} transaction{{ dataSource.data.length > 0 ? 's' : '' }} found
        </div>
      </div>
      <div class="mt-4">
        <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
          <div class="table-responsive aura-table-contain">
            <table mat-table [dataSource]="dataSource" class="aura-table grant-table">
              <ng-container *ngFor="let template of templates; index as i">
                <ng-container [matColumnDef]="template.matColumnDef">
                  <th mat-header-cell *matHeaderCellDef>
                    <div [innerHTML]="template.headerCellDef | translate"></div>
                  </th>
                  <td mat-cell *matCellDef="let data">
                    <div>
                      <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                        <a
                          *ngSwitchCase="'tx_hash'"
                          class="text--primary cursor-pointer"
                          [routerLink]="['/transaction', data[template.matColumnDef]]">
                          <span>{{ data[template.matColumnDef] | cutStringPipe: 8:8 }}</span>
                        </a>
                        <a
                          *ngSwitchCase="'granter'"
                          class="text--primary cursor-pointer"
                          [routerLink]="['/account', data[template.matColumnDef]]">
                          <span>{{ data[template.matColumnDef] | cutStringPipe: 8:8 }}</span>
                        </a>
                        <div *ngSwitchCase="'type'">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'timestamp'">
                          {{ commonService.getDateValue(data[template.matColumnDef], false)[1] }}
                        </div>
                        <div *ngSwitchCase="'limit'">
                          <ng-container *ngIf="+data[template.matColumnDef] == 0"> - </ng-container>
                          <ng-container *ngIf="+data[template.matColumnDef] > 0">
                            {{ data[template.matColumnDef] | balanceOf | mask: 'separator.6' }}
                            <span class="ml-1">{{ denom }}</span>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="'expiration'">
                          {{
                            data[template.matColumnDef] ? (data[template.matColumnDef] | customDate: 'yyyy-MM-dd') : '-'
                          }}
                        </div>
                        <div *ngSwitchCase="'spendable'">
                          <ng-container *ngIf="+data[template.matColumnDef] == 0"> - </ng-container>
                          <ng-container *ngIf="+data[template.matColumnDef] > 0">
                            {{ data[template.matColumnDef] | balanceOf | mask: 'separator.6' }}
                            <span class="ml-1">{{ denom }}</span>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="'reason'" class="d-flex justify-content-between align-items-center">
                          <span>{{ data[template.matColumnDef] }}</span>
                          <a
                            [routerLink]="['/transaction', data['tx_hash']]"
                            *ngIf="data['reason'] === 'Revoked'"
                            class="button body-01 text--primary">
                            <i class="ph-arrow-square-out"></i>
                          </a>
                        </div>
                        <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </ng-container>
        <app-paginator
          [length]="pageData?.length"
          [pageSize]="pageData?.pageSize"
          (paginator)="paginatorEmit($event)"
          (pageEvent)="pageEvent($event)">
        </app-paginator>
        <ng-template #noValues>
          <app-table-no-data></app-table-no-data>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
    </ng-container>
  </div>
</div>
