<div class="text--white">
  <div class="d-flex p-3">
    <div class="col-4 nft-img__contain">
      <div class="card m-0 w-100 h-100 d-flex align-items-center justify-content-center">
        <!-- !important:
        Default image if this ntf-detail has not image -->
        <img *ngIf="true" src="assets/images/aura__ntf-dafault-img.png" width="100%" height="auto" />
      </div>
    </div>
    <div class="col-8 pl-7">
      <p class="fw-semibold sub-text">AuraDiamond #1289</p>
      <p class="mb-6">
        <img src="assets/images/icons/token-logo.png" width="24px" height="24px" class="mr-1 object-fit--none" />
        <span class="text--green body">AuraDiamond</span>
      </p>
      <div class="card py-3 px-6">
        <div class="row">
          <div class="flex-shrink-0 flex-grow-1 w-auto">
            <div class="body text--light-gray mb-1">Min. Price</div>
            <div class="title-small">
              <span class="fw-500">0.0297 AURA</span>
              <span class="text--light-gray ml-2">($32.42)</span>
            </div>
          </div>
          <div class="flex-shrink-0 flex-grow-1 w-auto">
            <div class="divider divider-vertical"></div>
          </div>
          <div class="flex-shrink-0 flex-grow-1 w-auto">
            <div class="body text--light-gray mb-1">Last Sale (Item)</div>
            <div class="title-small">
              <span class="fw-500">N/A</span>
<!--              <span class="text&#45;&#45;light-gray ml-2">($32.42)</span>-->
            </div>
          </div>
          <div class="flex-shrink-0 flex-grow-1 w-auto">
            <div class="divider divider-vertical"></div>
          </div>
          <div class="flex-shrink-0 flex-grow-1 w-auto">
            <div class="body text--light-gray mb-1">Last Sale (Contract)</div>
            <div class="title-small">
              <span class="fw-500">0.304 AURA</span>
              <span class="text--light-gray ml-2">($331.56)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card card__ntf-detail mb-0">
        <div class="body card__ntf-detail-item" id="popupCopy">Details</div>
        <div class="card__ntf-detail-item">
          <div class="label-detail">Owner: </div>
          <div class="d-flex align-items-center">
            <a class="text--green" [routerLink]="['/account', 'aura1trqfuz89vxe745lmn2yfedt7d4xnpcpvltc86e']">
              aura1trqfuz89vxe745lmn2yfedt7d4xnpcpvltc86e</a>
            <img  src="assets/icons/icons-svg/basic/copy.svg"
                  class="ml-2 cursor-pointer" width="16px" height="16px"
                  alt=""
                  matTooltip="Copied!"
                  #owner="matTooltip"
                  (mouseenter)="$event.stopImmediatePropagation()"
                  (mouseleave)="$event.stopImmediatePropagation()"
                  (click)="copyData('aura1trqfuz89vxe745lmn2yfedt7d4xnpcpvltc86e'); owner.toggle()" />
          </div>
        </div>
        <div class="card__ntf-detail-item">
          <div class="label-detail">Contract Address:</div>
          <div class="d-flex align-items-center">
            <img  *ngIf="contractType !== contractVerifyType.Unverifed"
                  src="assets/icons/icons-svg/color/check-circle.svg"
                  class="mr-2"
                  alt="contract_verification"
                  width="16px"
                  height="16px" />
            <a class="text--green"
                [routerLink]="['/contracts', 'aura163k7evz6hx4dq33mfqfhf5fuqym5sy2gfrfn0g8av54d4v642ctqfw8mgw']">
              aura163k7evz6hx4dq33mfqfhf5fuqym5sy2gfrfn0g8av54d4v642ctqfw8mgw</a>
            <img src="assets/icons/icons-svg/basic/copy.svg"
                  class="ml-2 cursor-pointer" width="16px" height="16px"
                  alt=""
                  matTooltip="Copied!"
                  #address="matTooltip"
                 (mouseenter)="$event.stopImmediatePropagation()"
                 (mouseleave)="$event.stopImmediatePropagation()"
                  (click)="copyData('aura163k7evz6hx4dq33mfqfhf5fuqym5sy2gfrfn0g8av54d4v642ctqfw8mgw'); address.toggle()" />
          </div>
        </div>
        <div class="card__ntf-detail-item">
          <div class="label-detail">Creator:</div>
          <div class="d-flex align-items-center">
            <span class="text--green">Aura: Deployer</span>
            <img src="assets/icons/icons-svg/basic/copy.svg"
                 class="ml-2 cursor-pointer" width="16px" height="16px"
                  alt=""
                  matTooltip="Copied!"
                  #creator="matTooltip"
                  (mouseenter)="$event.stopImmediatePropagation()"
                  (mouseleave)="$event.stopImmediatePropagation()"
                  (click)="copyData('Aura: Deployer'); creator.toggle()" />
          </div>
        </div>
        <div class="card__ntf-detail-item">
          <div class="label-detail">Token ID:</div>
          <div class="d-flex align-items-center">
            <span>1289</span>
            <img src="assets/icons/icons-svg/basic/copy.svg"
                 class="ml-2 cursor-pointer" width="16px" height="16px"
                 alt=""
                 matTooltip="Copied!"
                 #tokenId="matTooltip"
                 (mouseenter)="$event.stopImmediatePropagation()"
                 (mouseleave)="$event.stopImmediatePropagation()"
                 (click)="copyData('1289'); tokenId.toggle()" />
          </div>
        </div>
        <div class="card__ntf-detail-item">
          <div class="label-detail">Token Standard</div>
          <div>W-721</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-body">
  <span class="body text--white mb-2">Item Activity</span>
  <div class="divider divider-horizontal"></div>
  <div class="text--light-gray small-body mt-3">
    A total of {{ dataSource?.data?.length }} record{{ dataSource?.data?.length > 1 ? 's' : '' }} found</div>
  <div class="table-responsive aura-table-contain">
    <table mat-table [dataSource]="dataSource" class="aura-table">
      <ng-container *ngFor="let template of templates; index as i">
        <ng-container [matColumnDef]="template.matColumnDef">
          <th mat-header-cell *matHeaderCellDef class="">
            <div [innerHTML]="template.headerCellDef | translate"></div>
          </th>

          <td mat-cell *matCellDef="let data">
            <ng-container [ngSwitch]="template.matColumnDef">
              <ng-container *ngSwitchCase="'popover'">
                <button mat-icon-button
                        aria-label="Contract Transaction Detail"
                        placement="right"
                        [ngbPopover]="popContent"
                        popoverClass="custom-popover">
                  <img src="assets/images/icons/token-detail.png" alt="" width="16" height="16" />
                </button>
                <ng-template #popContent class="popContent">
                  <app-contract-popover [popoverData]="getPopoverData(data)"></app-contract-popover>
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="'tx_hash'">
                <a class="text--green" [routerLink]="['/transaction', data.tx_hash]">
                  {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                </a>
              </ng-container>
              <ng-container *ngSwitchCase="'timestamp'">
                {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
              </ng-container>
              <ng-container *ngSwitchCase="'type'">
                <div class="aura-status text-uppercase">
                  <span class="status">{{ data[template.matColumnDef] }}</span>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'from_address'">
                <a class="text--green content-transfer" [routerLink]="['/account', data[template.matColumnDef]]">
                  {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                </a>
                <img
                  src="../../../../../../../assets/images/icons/arrow-right.png"
                  width="14"
                  height="9"
                  class="ml-10 ml-lg-15" />
              </ng-container>
              <ng-container *ngSwitchCase="'to_address'">
                <a class="text--green" [routerLink]="['/account', data[template.matColumnDef]]">
                  {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                </a>
              </ng-container>
              <ng-container *ngSwitchCase="'price'">
                {{ data[template.matColumnDef] | number }} {{ global.stableToken }}
              </ng-container>
              <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell g-no-data pt-8" colspan="9999">
          <app-loading-sprint></app-loading-sprint>
        </td>
      </tr>
    </table>
    <app-paginator
      [length]="dataSource?.data?.length"
      [pageSize]="pageData?.pageSize"
      (paginator)="paginatorEmit($event)"
      (pageEvent)="handlePageEvent($event)">
    </app-paginator>
  </div>
  <ng-template #noValues> </ng-template>
</div>
