.aura-status {
  display: flex;
  align-items: center;
  .status {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #7b7b7b33;
    color: var(--aura-gray-light);
  }
}

.burnt-tag {
  padding: var(--spacer-1) var(--spacer-3);
  background-color: var(--aura-red-3);
  border-radius: 4px;
  margin-left: var(--spacer-2);
  width: fit-content;
}

.content-transfer {
  min-width: 170px;
  display: inline-block;
}
.nft-img__contain {
  padding: var(--spacer-2);
  @media (min-width: 1200px) {
    padding: var(--spacer-3);
  }
  border: 1px solid var(--aura-gray-9);
  border-radius: 16px;
  .nft__img {
    position: relative;
    overflow: hidden;
    width: 100%;
    &:before {
    content: "";
    display: block;
    padding-top: 100%;
    }
    img, app-custom-video-player, app-model-view, app-audio-player  {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
  @media (max-width: 991.98px) {
    app-custom-video-player, img.nft__img--mob {
      width: 136px;
      height: 136px;
      object-fit: contain;
    }
  }
}
.object-fit--none {
  object-fit: none;
}
.card__ntf-detail {
  &-item {
    display: flex;
    padding: var(--spacer-4);
    margin: 0;
    border-top: 1px solid var(--aura-gray-9);
    &:first-child {
      border-top: none;
    }
    .label-detail {
      min-width: 150px;
    }
    .g-ellipsis {
      width: unset;
      max-width: 100px;
      @media (min-width: 576px) {
        max-width: 150px;
      }
      @media (min-width: 992px) {
        max-width: 300px;
      }
      @media (min-width: 1200px) {
        max-width: 100%;
      }
    }
  }
}

.aura-table th.mat-header-cell:nth-child(5) {
  min-width: 150px;
}
@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell:nth-child(1) {
    min-width: 80px;
  }
  .aura-table th.mat-header-cell:not(:nth-child(1)) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(4) {
    min-width: 280px;
  }
}
.title--mob {
  max-width: 60%;
}
.btn-copy {
  width: 24px;
  height: 24px;
  padding: 4px;
  @media (min-width: 992px) {
    width: 16px;
    height: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--aura-gray-9);
}
