<ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
  <div class="text--white">
    <div class="row p-xl-3">
      <!-- Desktop nft-image -->
      <div class="col-4 nft-img__contain d-none d-xl-block">
        <div class="card m-0 w-100 h-100 d-flex align-items-center justify-content-center">
          <!-- !important:
          Default image if this ntf-detail has not image -->
          <img *ngIf="true" [src]="nftDetail?.media_info.media_link || defaultImgToken" />
        </div>
      </div>
      <!-- Mobile nft-image -->
      <div class="col-12 d-xl-none mb-4">
        <div class="d-flex">
          <div class="nft-img__contain">
            <div class="card m-0 w-100 h-100 d-flex align-items-center justify-content-center">
              <!-- !important:
            Default image if this ntf-detail has not image -->
              <img *ngIf="true" [src]="nftDetail?.media_info.media_link || defaultImgToken" />
            </div>
          </div>
          <div class="ml-4 flex-shrink-0 flex-grow-1 d-flex flex-column justify-content-center title--mob">
            <h1 class="fw-semibold title-small mb-0 body-01-mob text--white">{{ nftDetail?.name }} #{{ nftDetail?.token_id }}</h1>
            <span class="burnt-tag my-1" *ngIf="nftDetail?.is_burned">Burnt</span>
            <div class="mb-0">
              <img
                [src]="nftDetail?.image || defaultLogoToken"
                width="24px"
                height="24px"
                class="mr-1 object-fit--none" />
              <a class="text--primary h6 mb-0 mt-2" [routerLink]="['/tokens/token-nft', nftDetail?.contract_address]">{{
                nftDetail?.name
              }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End nft-image -->
      <div class="col-12 col-xl-8 pl-xl-7">
        <div class="d-none d-xl-block">
          <div class="d-flex align-items-center">
            <h1 class="fw-semibold sub-text text--white mb-0">{{ nftDetail?.name }} #{{ nftDetail?.token_id }}</h1>
            <span class="burnt-tag" *ngIf="nftDetail?.is_burned">Burnt</span>
          </div>
          <div class="my-5">
            <img
              [src]="nftDetail?.image || defaultLogoToken"
              width="24px"
              height="24px"
              class="mr-1 object-fit--none" />
            <a class="h6 mb-0 text--primary" [routerLink]="['/tokens/token-nft', nftDetail?.contract_address]">{{
              nftDetail?.name
            }}</a>
          </div>
        </div>
        <!-- Desktop card info -->
        <div class="d-none d-lg-block card py-3 px-6">
          <div class="d-flex">
            <div class="flex-shrink-0 flex-grow-1 w-auto">
              <div class="body-01 text--gray-5 mb-1">Min. Price</div>
              <div class="h3 mb-0 text--white">
                <span class="fw-500">- {{ denom }}</span>
                <span class="text--gray-5 ml-2">(-)</span>
              </div>
            </div>
            <div class="flex-shrink-0 flex-grow-1 w-auto">
              <div class="divider divider-vertical"></div>
            </div>
            <div class="flex-shrink-0 flex-grow-1 w-auto">
              <div class="body-01 text--gray-5 mb-1">Last Sale (Item)</div>
              <div class="h3 mb-0 text--white">
                <span class="fw-500">N/A</span>
                <!--              <span class="text--gray-5 ml-2">($32.42)</span>-->
              </div>
            </div>
            <div class="flex-shrink-0 flex-grow-1 w-auto">
              <div class="divider divider-vertical"></div>
            </div>
            <div class="flex-shrink-0 flex-grow-1 w-auto">
              <div class="body-01 text--gray-5 mb-1">Last Sale (Contract)</div>
              <div class="h3 mb-0 text--white">
                <span class="fw-500">- {{ denom }}</span>
                <span class="text--gray-5 ml-2">(-)</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile card info -->
        <div class="d-lg-none">
          <div class="card px-6 py-3 mb-4">
            <div class="body-02 text--gray-5 mb-1">Min. Price</div>
            <div class="h3 mb-0 text--white">
              <span class="fw-500">- {{ denom }}</span>
              <span class="text--gray-5 ml-2">(-)</span>
            </div>
          </div>
          <div class="card px-6 py-3 mb-4">
            <div class="body-02 text--gray-5 mb-1">Last Sale (Item)</div>
            <div class="h3 mb-0 text--white">
              <span class="fw-500">N/A</span>
              <!--              <span class="text--gray-5 ml-2">($32.42)</span>-->
            </div>
          </div>
          <div class="card px-6 py-3 mb-4">
            <div class="body-02 text--gray-5 mb-1">Last Sale (Contract)</div>
            <div class="h3 mb-0 text--white">
              <span class="fw-500">- {{ denom }}</span>
              <span class="text--gray-5 ml-2">(-)</span>
            </div>
          </div>
        </div>
        <!-- End card info -->
        <div class="card card__ntf-detail mb-0">
          <h4 class="mb-0 text--white card__ntf-detail-item" id="popupCopy">Details</h4>
          <div class="card__ntf-detail-item body-02">
            <div class="label-detail text--gray-5">Owner:</div>
            <div class="d-flex align-items-center position-relative" *ngIf="nftDetail?.owner">
              <a class="text--primary g-ellipsis" [routerLink]="['/account', nftDetail?.owner]">
                {{ nftDetail?.owner }}
              </a>
              <img
                [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
                class="ml-2 cursor-pointer btn-copy"
                alt=""
                matTooltip="Copied!"
                #owner="matTooltip"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()"
                (click)="copyData(nftDetail?.owner); owner.toggle()" />
            </div>
          </div>
          <div class="card__ntf-detail-item body-02">
            <div class="label-detail text--gray-5">Contract Address:</div>
            <div class="d-flex align-items-center position-relative">
              <img
                *ngIf="contractType !== contractVerifyType.Unverifed"
                [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
                class="mr-2"
                alt="contract_verification" />
              <a class="text--primary g-ellipsis" [routerLink]="['/contracts', nftDetail?.contract_address]">
                {{ nftDetail?.contract_address }}</a
              >
              <img
                [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
                class="ml-2 cursor-pointer btn-copy"
                alt=""
                matTooltip="Copied!"
                #address="matTooltip"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()"
                (click)="copyData(nftDetail?.contract_address); address.toggle()" />
            </div>
          </div>
          <div class="card__ntf-detail-item body-02">
            <div class="label-detail text--gray-5">Creator:</div>
            <div class="d-flex align-items-center">
              <a class="text--primary g-ellipsis" [routerLink]="['/account', nftDetail?.creator]">
                {{ nftDetail?.creator }}</a
              >
              <img
                [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
                class="ml-2 cursor-pointer btn-copy"
                alt=""
                matTooltip="Copied!"
                #creator="matTooltip"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()"
                (click)="copyData(nftDetail?.creator); creator.toggle()" />
            </div>
          </div>
          <div class="card__ntf-detail-item body-02">
            <div class="label-detail text--gray-5">Token ID:</div>
            <div class="d-flex align-items-center">
              <span class="text--gray-1 fw-normal-mob">{{ nftDetail?.token_id }}</span>
              <img
                [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
                class="ml-2 cursor-pointer btn-copy"
                alt=""
                matTooltip="Copied!"
                #tokenId="matTooltip"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()"
                (click)="copyData(nftDetail?.token_id); tokenId.toggle()" />
            </div>
          </div>
          <div class="card__ntf-detail-item body-02">
            <div class="label-detail text--gray-5">Token Standard:</div>
            <div class="text--gray-1 fw-normal-mob">CW-721</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body mt-4 mt-lg-3">
    <h2 class="text--white mb-0">Item Activity</h2>
    <div class="divider divider-horizontal d-none d-lg-block mt-2"></div>
    <div class="text--gray-5 body-02 caption-mob fw-normal-mob mt-3">
      A total of {{ pageData?.length | number }} record{{ pageData?.length > 1 ? 's' : '' }} found
    </div>
    <div class="table-responsive aura-table-contain mt-2 mt-lg-3">
      <table mat-table [dataSource]="dataSource" class="aura-table">
        <ng-container *ngFor="let template of templates; index as i">
          <ng-container [matColumnDef]="template.matColumnDef">
            <th mat-header-cell *matHeaderCellDef class="">
              <div [innerHTML]="template.headerCellDef | translate"></div>
            </th>

            <td mat-cell *matCellDef="let data">
              <ng-container [ngSwitch]="template.matColumnDef">
                <ng-container *ngSwitchCase="'popover'">
                  <button
                    mat-icon-button
                    aria-label="Contract Transaction Detail"
                    placement="right"
                    [ngbPopover]="popContent"
                    popoverClass="custom-popover">
                    <img [src]="'assets/images/icons/token-detail.png' | imageS3" alt="" width="16" height="16" />
                  </button>
                  <ng-template #popContent class="popContent">
                    <app-contract-popover [popoverData]="getPopoverData(data)"></app-contract-popover>
                  </ng-template>
                </ng-container>
                <ng-container *ngSwitchCase="'tx_hash'">
                  <a class="text--primary" [routerLink]="['/transaction', data.tx_hash]">
                    {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                  </a>
                </ng-container>
                <ng-container *ngSwitchCase="'timestamp'">
                  {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                </ng-container>
                <ng-container *ngSwitchCase="'type'">
                  <div class="aura-status text-capitalize">
                    <span class="status">{{ data[template.matColumnDef] }}</span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'from_address'">
                  <a
                    class="text--primary content-transfer"
                    [routerLink]="['/account', data[template.matColumnDef]]"
                    *ngIf="data.modeExecute !== modeExecuteTransaction.Mint && data[template.matColumnDef]">
                    {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                  </a>
                  <span *ngIf="data.modeExecute === modeExecuteTransaction.Mint" class="content-transfer">{{
                    data[template.matColumnDef] | cutStringPipe: 8:8
                  }}</span>
                  <span *ngIf="!data[template.matColumnDef]"> - </span>
                  <img
                    [src]="'assets/images/icons/arrow-right.png' | imageS3"
                    width="14"
                    height="9"
                    class="ml-10 ml-lg-15" />
                </ng-container>
                <ng-container *ngSwitchCase="'to_address'">
                  <a
                    class="text--primary"
                    [routerLink]="['/account', data[template.matColumnDef]]"
                    *ngIf="data.modeExecute !== modeExecuteTransaction.Burn && data[template.matColumnDef]">
                    {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                  </a>
                  <span *ngIf="data.modeExecute === modeExecuteTransaction.Burn">{{
                    data[template.matColumnDef] | cutStringPipe: 8:8
                  }}</span>
                  <span *ngIf="!data[template.matColumnDef]"> - </span>
                </ng-container>
                <ng-container *ngSwitchCase="'price'">
                  <span *ngIf="data[template.matColumnDef]">
                    {{ data[template.matColumnDef] || '-' }} {{ denom }}
                  </span>
                </ng-container>
                <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell g-no-data pt-8" colspan="9999">
            <app-loading-sprint></app-loading-sprint>
          </td>
        </tr>
      </table>
    </div>
    <app-paginator
      [length]="pageData?.length"
      [pageSize]="pageData?.pageSize"
      (paginator)="paginatorEmit($event)"
      (pageEvent)="handlePageEvent($event)">
    </app-paginator>
    <ng-template #noValues> </ng-template>
  </div>
</ng-container>

<ng-template #noValues>
  <app-table-no-data></app-table-no-data>
</ng-template>
