<div class="dropdown aura-dropdown">
  <div type="button" id="dropDownButton" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="assets/icons/icons-svg/white/more-vertical.svg" alt="" />
  </div>
  <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="dropDownButton">
    <li
      class="dropdown-item cursor-pointer"
      *ngFor="let element of elements"
      [id]="element.key"
      (click)="elementClick(element)">
      <button type="button" class="button p-0">
        <div class="icon-wrapper d-inline-block icon-check">
          <img
            *ngIf="element.key == currentLabel"
            src="assets/icons/icons-svg/color/check-green.svg"
            alt="icon"
            class="icon"
            width="25px" />
        </div>
        <div class="icon-wrapper d-inline">
          <img *ngIf="element?.image" [src]="element?.image" alt="icon" class="icon" />
        </div>
        {{ element?.disableTranslate ? element.label : (element.label | translate) }}
      </button>
    </li>
  </ul>
</div>
