<div class="dropdown aura-dropdown">
  <button class="button button--xs button-circle" type="button" id="dropDownButton" data-bs-toggle="dropdown" aria-expanded="false">
    <img [src]="'assets/icons/icons-svg/white/more-vertical.svg' | imageS3" alt="" class="cursor-pointer" width="16px" height="16px"/>
  </button>
  <ul class="dropdown-menu aura-dropdown-menu" aria-labelledby="dropDownButton">
    <li
      class="dropdown-item cursor-pointer"
      *ngFor="let element of elements"
      [id]="element.key"
      (click)="elementClick(element)">
      <button type="button" class="button p-0">
        <!-- <div class="icon-wrapper d-inline-block icon-check" *ngIf="currentLabel">
          <img
            *ngIf="element.key == currentLabel"
            src="assets/icons/icons-svg/color/check-green.svg"
            alt="icon"
            class="icon"
            width="25px" />
        </div> -->
        <div class="icon-wrapper d-inline">
          <img
            *ngIf="element?.image"
            [src]="element.key == currentLabel ? (element?.imageActive | imageS3) : (element?.image | imageS3)"
            alt="icon"
            class="icon" />
          <!-- <img *ngIf="element?.image" [src]="element?.image" alt="icon" class="icon" /> -->
        </div>
        <span class="text--{{ element.key == currentLabel ? 'primary' : 'contract' }} small-body">{{
          element?.disableTranslate ? element.label : (element.label | translate)
        }}</span>
      </button>
    </li>
  </ul>
</div>
