.dropdown {
    .dropdown-menu {
        min-width: 230px;
        border-radius: 8px;
        inset: 28px 0px auto auto !important;

        li.dropdown-item {
            padding: 6px 24px;

            &:first-child {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                padding-top: 16px;
            }

            &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding-bottom: 16px;
            }

            .icon-wrapper {
                width: 16px;
                height: 16px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
