.dropdown {
  .dropdown-menu {
    min-width: 230px;
    border-radius: 8px;
    inset: 28px 0px auto auto !important;
    background-color: var(--aura-black);

    li.dropdown-item {
      padding: 4px;
      background-color: var(--aura-black);

      &:hover {
        background-color: var(--aura-gray-9);
      }

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}
