<div class="card card-proxy-contract">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="h2 h3-mob mb-0 text--white w-100 fw-semibold">Proxy Contract Verification</div>
      <i class="ph ph-x h2 cursor-pointer text--white" (click)="closeDialog()"></i>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="box-proxy-content">
      <div
        class="box-proxy-verify align-items-center mb-4 {{
          displayMode === modePopup.WARNING ? 'warning' : displayMode === modePopup.ERROR ? 'error' : ''
        }}">
        <div class="body-02 mb-4">The proxy contract verification completed with the message:</div>

        <ng-container *ngIf="displayMode !== modePopup.ERROR">
          The proxy contract
          <a class="text--primary" (click)="navigateToAddress(address)">
            {{ address }}
            <ng-container *ngIf="!(address | nameTagTooltipPipe)">({{ address | nameTag }})</ng-container> </a
          >’s <br />implementation contract is found at:
          <a class="text--primary" (click)="navigateToAddress(data['implementationContract'])">
            {{ data['implementationContract']
            }}<ng-container *ngIf="!(data['implementationContract'] | nameTagTooltipPipe)">
              <span>({{ data['implementationContract'] | nameTag }})</span>
            </ng-container> </a
          ><span *ngIf="displayMode === modePopup.WARNING" class="text--white"
            >. But the implementation contract does not seem to be verified.
          </span>
        </ng-container>

        <ng-container *ngIf="displayMode === modePopup.ERROR">
          Can not detect the implementation contract for the proxy address
          <a class="text--primary" (click)="navigateToAddress(address)">
            {{ address
            }}<ng-container *ngIf="!(address | nameTagTooltipPipe)">
              <span>({{ address | nameTag }})</span>
            </ng-container>
          </a>
        </ng-container>
      </div>

      <div class="body-04">
        <ng-container *ngIf="displayMode === modePopup.SUCCESS">
          In case our verification process is wrong, please click “Contact Us” to provide us with more information so we
          could update contract information more accurately.
        </ng-container>
        <ng-container *ngIf="displayMode === modePopup.WARNING">
          Please <a class="text--primary" (click)="navigateToVerify()">Verify and Publish</a> the contract source before
          proceeding with this proxy verification.
        </ng-container>
        <ng-container *ngIf="displayMode === modePopup.ERROR">
          Please click "Contact Us" to provide us with more information so we could update contract information more
          accurately
        </ng-container>
      </div>
    </div>

    <!-- button group -->
    <div class="d-flex px-6 py-6 justify-content-end">
      <button class="button button--xlg button-pill button-outline btn" type="button" (click)="closeDialog('close')">
        <span>Close</span>
      </button>
      <button
        *ngIf="displayMode !== modePopup.WARNING"
        class="button button--xlg button-pill button-outline button-outline__in-card button-outline--gradient ml-4 btn"
        type="button">
        <a href="mailto:support@aura.network" class="text--white">Contact Us</a>
      </button>
    </div>
  </div>
</div>
