<app-pagetitle title="Aura Charts & Statistics"></app-pagetitle>
<section>
    <div class="card">
        <div class="card-body">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card-info p-6 p-lg-5">
                            <div class="mx-auto">
                                <div class="d-flex align-items-center justify-content-center">
                                    <img src="assets/images/logo/auraTitleLogo.png" alt="" class="mr-2" width="40px" height="40px">
                                    <div class="h1 fw-normal text--white">AURA</div>
                                </div>
                                <div class="price-text mt-4 text-center">$0.092655</div>
                            </div>
                            <div class="divider divider-horizontal my-6"></div>
                            <div>
                                <div class="d-flex justify-content-between h4 fw-normal mb-3 text--gray-1">
                                    <div class="text--primary">Coingecko</div>
                                    <div>
                                        <span class="percent percent--desc"></span>
                                        <span class="text--red-3">0.5% </span>
                                        <span class="text--gray-1">(24h)</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between h4 fw-normal mb-3 text--gray-1">
                                    <div>Market Cap</div>
                                    <div>$3.323.361</div>
                                </div>
                                <div class="d-flex justify-content-between h4 fw-normal text--gray-1">
                                    <div>24 Hours Trading Volume</div>
                                    <div>$23.361</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="h1 text--white">Price Chart</div>
                            <div class="d-flex align-items-center chart__options">
                                <div class="button-switch-stage">
                                    <button type="button"
                                            [class.active]="true">
                                        <span>24H</span>
                                    </button>
                                    <button type="button">
                                        <span>7D</span>
                                    </button>
                                    <button type="button">
                                        <span>30D</span>
                                    </button>
                                </div>
                                <div class="divider divider-vertical mx-3 mx-md-4"></div>
                                <button class="button d-flex align-items-center justify-content-center text--gray-4"
                                        (click)="triggerChartMenuClick()">
                                    <img src="assets/icons/icons-svg/basic/download-simple.svg" alt="" class="download-simple">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
