.price-text {
  font-family: BigShouldersDisplay;
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 700;
}
.percent {
  margin-right: var(--spacer-1);
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 2px;
  &--desc {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid var(--aura-red-3);
  }
  &--asc {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid var(--aura-green-3);
  }
}
