<app-pagetitle title="Aura Charts & Statistics"></app-pagetitle>
<section>
    <div class="card">
        <div class="card-body">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card-info p-6 p-lg-5">
                            asdasd
                        </div>
                    </div>
                    <div class="col-12 col-lg-8"></div>
                </div>
            </div>
        </div>
    </div>
</section>
