a.text-link:hover {
  color: var(--aura-green-3) !important;
}
section.chart-stats .chart-contain {
  .chart__name {
    z-index: 10;
    @media (min-width: 992px) {
      display: none;
    }
  }
}
.card-info {
  @media (min-width: 991.98px) {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--aura-gray-7);
    }
  }
}

::ng-deep {
  .tv-lightweight-charts table tr:last-child {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 1.5px;
      z-index: 2;
      background: linear-gradient(117deg, #ffd569 0%, #fc8e4f 21.39%, #ff697b 34.6%);
    }
  }
}
