<app-pagetitle title="TRANSACTION DETAILS" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="card">
    <div class="card-header bg-transparent border-bottom text-uppercase fw-bold">
        Transaction Information
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Chain Id</p>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">TxHash</p>
            </div>
            <div class="col-6">{{item?.tx_hash}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Status</p>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Height</p>
            </div>
            <div class="col-6">{{item?.height}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Time</p>
            </div>
            <div class="col-6">{{item?.timestamp}}({{item?.timestamp | calDate}} ago)</div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Fee</p>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <p class="card-text fw-bold">Gas (used / wanted)</p>
            </div>
            <div class="col-6">{{item?.gas_used}} / {{item?.gas_wanted}}</div>
        </div>
    </div>
</div>
<div class="card" *ngIf="item?.read_set">
    <div class="card-header bg-transparent border-bottom text-uppercase fw-bold">
        Read
    </div>
    <div class="card-body">
        <ngx-json-viewer [json]="item?.read_set"></ngx-json-viewer>
    </div>
</div>
<div class="card" *ngIf="item?.write_set">
    <div class="card-header bg-transparent border-bottom text-uppercase fw-bold">
        Write
    </div>
    <div class="card-body" *ngIf="item?.write_set">
        <ngx-json-viewer [json]="item?.write_set"></ngx-json-viewer>
    </div>
</div>