.wallet-provider-container {
  .popup-header {
    height: 72px;
    @media (min-width: 991.98px) {
      height: 76px;
    }
    background-color: var(--aura-gray-9);
    color: var(--aura-white);
  }

  .popup-body {
    padding: 24px 24px 36px;

    .wallet-item {
      cursor: pointer;
      padding: 12px 8px;
      border-radius: 8px;

      &:hover {
        background-color: var(--aura-gray-9);
      }
      &.disabled {
        cursor: not-allowed;
        background-color: var(--aura-gray-8);
        img,
        span {
          opacity: 0.3;
        }
      }

      &.active {
        background-color: #8482fc;
      }

      .wallet-icon {
        width: 32px;
        height: 32px;
      }

      .spin-icon {
        animation: spin-keyframe 2s linear infinite;
      }

      .wallet-name {
        color: var(--aura-white);
        margin-top: 8px;
        font-size: 12px;
        text-align: center;
      }
    }

    .wallet-info {
      background-color: var(--aura-gray-9);
      border-radius: 12px;
      min-height: 234px;
    }

    .wallet-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .wallet-tab {
        display: flex;

        .button {
          flex: 1;
          justify-content: flex-start;
          padding: 12px 16px;
          box-shadow: 2px 1000px 1px var(--aura-gray-9) inset;

          &-outline--gradient {
            box-shadow: 2px 1000px 1px var(--aura-gray-10) inset;
          }
        }

        .installed-highlight {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          padding-left: 8px;
          background: var(--aura-gradient-button);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    @media (min-width: 992px) {
      .wallet-list,
      .wallet-info {
        min-height: unset;
      }

      .wallet-list {
        width: 220px;
      }
      .wallet-info {
        flex: auto;
      }
    }
  }
}

@keyframes spin-keyframe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
