<div class="wallet-list-container">
  <div class="d-flex justify-content-between align-items-center popup-header px-6">
    <h2 class="text--white h3-mob fw-semibold mb-0">Connect your wallet</h2>
    <i class="ph ph-x h2 cursor-pointer text--white ml-10" (click)="close()"></i>
  </div>
  <div class="popup-body">
    <div class="wallet-list">
      <div class="body text--gray-2 mb-4">Select a provider to connect or create a wallet</div>
      <ul class="mb-6">
        <p class="h4 text--white fw-semibold">Installed Wallets</p>
        <li
          *ngFor="let wallet of wallets"
          class="wallet-item mt-1"
          [ngClass]="{ disabled: isWalletNotExited(wallet) }"
          (click)="connect(wallet)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="getLogo(wallet)" />
            <span class="h4 text--white ml-3">
              {{ wallet.prettyName }}
            </span>
          </div>
        </li>
      </ul>

      <ul *ngIf="otherWallets?.length > 0">
        <p class="h4 text--white fw-semibold">Other wallets</p>
        <li *ngFor="let wallet of otherWallets" class="wallet-item mt-1" (click)="connect(wallet)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="getLogo(wallet)" />
            <span class="h4 text--white ml-3">
              {{ wallet.prettyName }}
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="ml-lg-6 mt-6 mt-lg-0 wallet-info px-4 py-5 d-flex flex-column align-items-center justify-content-center w-full">
      <ng-container *ngIf="!currentChainWallet?.qrUrl; else qrCode">
        <img src="./../../../../../assets/icons/icons-svg/color/wallets.svg" alt="" />
        <div class="body mt-4 text--gray-1 text-center">
          Wallets are used to send, receive, store digital assets like {{ chainName | titlecase }} and NFTs.
        </div>
      </ng-container>

      <ng-template #qrCode>
        <div class="flex-grow-1 w-100 d-flex align-items-center">
          <app-qrcode
            class="w-100"
            [qrdata]="currentChainWallet?.qrUrl"
            [imageSrc]="getLogo(otherWallets[0])"></app-qrcode>
        </div>
      </ng-template>
    </div>
  </div>
</div>
