<div class="wallet-provider-container">
  <div class="d-flex justify-content-between align-items-center popup-header px-6">
    <h2 class="text--white h3-mob fw-semibold mb-0">Connect your wallet</h2>
    <i class="ph ph-x h2 cursor-pointer text--white ml-10" (click)="close()"></i>
  </div>
  <div class="popup-body d-lg-flex">
    <div class="wallet-list">
      <div class="body text--gray-2 mb-4">Select a provider to connect or create a wallet</div>
      <ul class="mb-6">
        <p class="h4 text--white fw-semibold" *ngIf="otherWallets?.length">Installed Wallets</p>
        <li *ngFor="let wallet of wallets" class="wallet-item mt-1" (click)="connect(wallet)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="wallet.logo" *ngIf="wallet.state != 'Pending'" />
            <i class="spin-icon" *ngIf="wallet.state == 'Pending'">
              <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.4995 6.75C11.3909 6.75 7.24951 10.8914 7.24951 16C7.24951 21.1086 11.3909 25.25 16.4995 25.25C21.1359 25.25 24.9768 21.8382 25.6461 17.3884C25.7077 16.9788 26.0897 16.6967 26.4993 16.7583C26.9089 16.82 27.191 17.202 27.1294 17.6116C26.3513 22.7843 21.8892 26.75 16.4995 26.75C10.5624 26.75 5.74951 21.9371 5.74951 16C5.74951 10.0629 10.5624 5.25 16.4995 5.25C18.8184 5.25 20.9679 5.98509 22.7246 7.23488C23.0622 7.475 23.1411 7.94326 22.901 8.28078C22.6609 8.6183 22.1926 8.69726 21.8551 8.45714C20.3439 7.38206 18.4966 6.75 16.4995 6.75Z"
                  fill="#5EE6D0" />
              </svg>
            </i>
            <span class="h4 text--white ml-3">
              {{ wallet.prettyName }}
            </span>
          </div>
        </li>

        <li *ngFor="let wallet of evmWallets" class="wallet-item mt-1" (click)="connectEvm(wallet)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="wallet.logo" *ngIf="wallet.state != 'Pending'" />
            <i class="spin-icon" *ngIf="wallet.state == 'Pending'">
              <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16.4995 6.75C11.3909 6.75 7.24951 10.8914 7.24951 16C7.24951 21.1086 11.3909 25.25 16.4995 25.25C21.1359 25.25 24.9768 21.8382 25.6461 17.3884C25.7077 16.9788 26.0897 16.6967 26.4993 16.7583C26.9089 16.82 27.191 17.202 27.1294 17.6116C26.3513 22.7843 21.8892 26.75 16.4995 26.75C10.5624 26.75 5.74951 21.9371 5.74951 16C5.74951 10.0629 10.5624 5.25 16.4995 5.25C18.8184 5.25 20.9679 5.98509 22.7246 7.23488C23.0622 7.475 23.1411 7.94326 22.901 8.28078C22.6609 8.6183 22.1926 8.69726 21.8551 8.45714C20.3439 7.38206 18.4966 6.75 16.4995 6.75Z"
                  fill="#5EE6D0" />
              </svg>
            </i>
            <span class="h4 text--white ml-3">
              {{ wallet.prettyName }}
            </span>
          </div>
        </li>
      </ul>

      <ul *ngIf="otherWallets?.length || othersEvmWallet">
        <p class="h4 text--white fw-semibold">Other wallets</p>
        <li
          *ngFor="let wallet of otherWallets"
          class="wallet-item mt-1"
          (click)="connect(wallet)"
          [ngClass]="{ active: currentChainWallet?.qrUrl && wallet.mode == 'wallet-connect' }">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="wallet.logo" />
            <span class="h4 text--white ml-3">
              {{ wallet.prettyName }}
            </span>
          </div>
        </li>
        <li *ngFor="let evmWallet of othersEvmWallet" class="wallet-item mt-1" (click)="connectEvm(evmWallet)">
          <div class="d-flex align-items-center">
            <img class="wallet-icon" [src]="evmWallet.logo" />
            <span class="h4 text--white ml-3">
              {{ evmWallet.prettyName }}
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="ml-lg-6 mt-6 mt-lg-0 wallet-info px-4 py-5 d-flex flex-column align-items-center justify-content-center w-full">
      <ng-container *ngIf="!(currentChainWallet?.qrUrl?.data && isWalletConnectMode); else qrCode">
        <img src="./../../../../../assets/icons/icons-svg/color/wallets.svg" alt="" />
        <div class="body mt-4 text--gray-1 text-center">
          Wallets are used to send, receive, store digital assets like {{ chainName | titlecase }} and NFTs.
        </div>
      </ng-container>

      <ng-template #qrCode>
        <div class="flex-grow-1 w-100 d-flex align-items-center">
          <app-qrcode class="w-100" [qrdata]="currentChainWallet?.qrUrl" [imageSrc]="wcLogo"></app-qrcode>
        </div>
      </ng-template>
    </div>
  </div>
</div>