.search-form {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 410px;
  }
}
.box-search-data {
  max-height: 350px;
  width: 90%;
  @media (min-width: 992px) {
    width: 410px;
  }
  .logo-token {
    margin-top: 3px;
    width: 20px;
    height: 20px;
  }
  .box-price {
    background-color: rgba(94, 230, 208, 0.2);
    border-radius: 4px;
    color: var(--aura-green);
    padding: 1px 6px;
    margin-left: var(--spacer-2);
  }
  .search-result {
    border: 1px solid transparent;
    transition: border-color 0.35s ease-in-out;
    &:hover {
      border: 1px solid var(--aura-green-3);
      border-radius: 4px;
    }
  }
}
@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell:not(:nth-child(2)) {
    min-width: 150px;
  }
  .aura-table th.mat-header-cell:nth-child(6),
  .aura-table th.mat-header-cell:nth-child(7) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(2) {
    min-width: 250px;
  }
  .aura-table th.mat-header-cell:nth-child(1) {
    min-width: 50px;
  }
}
.vertical-align-top {
  vertical-align: top;
}
.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
