<h1 class="title-medium sub-text-mob mb-0 text--white fw-bold">Token Tracker</h1>
<section>
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <div class="card mt-5">
      <div class="card-body">
        <!-- Title -->
        <div class="d-lg-flex justify-content-between">
          <div>
            <div class="mb-3 mb-lg-0 d-flex justify-content-between d-lg-block">
              <div class="title-medium sub-text-mob  text--white fw-bold">CW-20 Tokens</div>
              <button class="button d-lg-none p-0"
                (click)="searchForm.classList.contains('show') ? searchForm.classList.remove('show') : searchForm.classList.add('show')">
                <img src="assets/icons/icons-svg/white/search.svg" alt="" width="24px" height="24px">
              </button>
            </div>
            <div class="mall-body small-text-mob text--light-gray">A total of {{ pageData?.length }} Token Contract{{ pageData?.length > 0 ? 's' : '' }} found</div>
          </div>
          <form class="aura-form single-input-field search-form mt-2 mt-lg-0" #searchForm>
            <div class="input-group">
              <input
                      type="text"
                      class="form-control"
                      placeholder="Search for Token Name or Address"
                      [(ngModel)]="textSearch"
                      [maxLength]="maxLengthSearch"
                      (keyup)="searchToken()"
                      (keyup.enter)="handleLink()"
                      name="search"
                      autocomplete="off" />
              <button
                      type="submit"
                      class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
                      (click)="searchToken()">
                <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
              </button>
              <button
                      type="reset"
                      class="btn-reset {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
                      (click)="textSearch = ''; searchToken()">
                <img src="../../../assets/icons/icons-svg/basic/close-circle.svg" alt="" width="24" height="24" />
              </button>
            </div>
            <div class="box-search-data text-white" *ngIf="filterSearchData && filterSearchData.length > 0">
              <div class="txt-title-search mb-3">Tokens (CW-20)</div>
              <ng-container *ngFor="let item of filterSearchData">
                <div class="d-flex p-3 cursor-pointer search-result" [routerLink]="['/token/token', item.hashCode]">
                  <img src="assets/images/icons/token-logo.png" class="logo-token" />
                  <div class="ml-2" style="flex: 0 0 95%">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex">
                        <span class="text-clamp small-body" style="max-width: 65%; height: 18px">{{ item.name }}</span>
                        <div class="box-price small-text">${{ item.price | number: global.formatNumber2Decimal }}</div>
                      </div>
                      <img src="assets/icons/icons-svg/color/check-circle.svg"
                           alt="icon" class="icon ml-4 mr-2" width="16px" />
                    </div>
                    <div class="pr-5 small-text text--light-gray">{{ item.hashCode }}</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
        <div class="divider divider-horizontal d-lg-none mt-4"></div>
        <!-- Table -->
        <div class="table-responsive aura-table-contain mt-4 mt-lg-6">
          <table
            mat-table
            matSort
            [dataSource]="dataSource"
            class="aura-table"
            (matSortChange)="sortData($event)">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="min-width: 50px">#</th>
              <td mat-cell *matCellDef="let element; let i = index;" class="position-relative">
                <span class="token-id">{{ i+1 }}</span>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="token">
              <th mat-header-cell *matHeaderCellDef  class="col-per-25">Token</th>
              <td mat-cell *matCellDef="let element" class="title-cell py-4">
                <div class="d-flex">
                  <img src="assets/images/icons/token-logo.png" width="18" height="18" />
                  <div class="ml-3">
                    <a [routerLink]="['/token/token', element.hashCode]">{{
                      element.name
                    }}</a><br class="d-none d-lg-block" />
                    <div class="pr-5 d-none d-lg-block">{{ element.desc }}</div>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">Price</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <!-- <div class="mb-1">${{ element.price | number: global.formatNumber2Decimal }}</div>
                  <div class="small-text text--light-gray">{{ element.btc }} Btc</div>
                  <div class="small-text text--light-gray">{{ element.eth }} Eth</div> -->
                  -
                </div>
              </td>
            </ng-container>

            <!-- Change Column -->
            <ng-container matColumnDef="change">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">Change (%)</th>
              <td mat-cell *matCellDef="let element">
                <!-- <span [ngStyle]="{ color: element.isValueUp ? '#5EE69D' : '#E65E5E' }" class="d-flex">
                  <ng-container *ngIf="element.isValueUp">
                    <img src="assets/images/icons/arrow-up.svg" />
                  </ng-container>
                  <ng-container *ngIf="!element.isValueUp">
                    <img src="assets/images/icons/arrow-down.svg" />
                  </ng-container>
                  <span class="ml-1">{{ element.change | percent: global.formatNumber2Decimal }}</span>
                </span> -->
                -
              </td>
            </ng-container>

            <!-- Volume Column -->
            <ng-container matColumnDef="volume">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">Volume (24H)</th>
              <td mat-cell *matCellDef="let element">
                <!-- ${{ element.volume | number: global.formatNumber2Decimal }} -->
                -
              </td>
            </ng-container>

            <!-- Circulating Market Cap Column -->
            <ng-container matColumnDef="circulatingMarketCap">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="">Circulating Market Cap</th>
              <td mat-cell *matCellDef="let element">
                <!-- ${{ element.circulatingMarketCap | number: global.formatNumber2Decimal }} -->
                -
              </td>
            </ng-container>

            <!-- On-Chain Market Cap Column -->
            <ng-container matColumnDef="onChainMarketCap">
              <th mat-header-cell *matHeaderCellDef class="">On-Chain Market Cap</th>
              <td mat-cell *matCellDef="let element">
                <!-- ${{ element.onChainMarketCap | number: global.formatNumber2Decimal }} -->
                -
              </td>
            </ng-container>

            <!-- Holders Column -->
            <ng-container matColumnDef="holders">
              <th mat-header-cell *matHeaderCellDef class="col-per-13">Holders</th>
              <td mat-cell *matCellDef="let element">
                {{ element.holders | number: global.formatNumberOnlyDecimal }}<br />
                <span [ngStyle]="{ color: element.isValueUp ? '#5EE69D' : '#E65E5E' }" class="d-flex mt-1">
                  <ng-container *ngIf="element.isValueUp">
                    <img src="assets/images/icons/arrow-up.svg" />
                  </ng-container>
                  <ng-container *ngIf="!element.isValueUp">
                    <img src="assets/images/icons/arrow-down.svg" />
                  </ng-container>
                  <span class="ml-1">{{ element.change | percent: global.formatNumber2Decimal }}</span>
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
          <app-paginator [length]="pageData.length" [pageSize]="pageData.pageSize" (paginator)="paginatorEmit($event)">
          </app-paginator>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</section>
