<div class="card">
  <div class="card-header card-header-gray d-flex align-items-center justify-content-between">
    <div class="h2 mb-0 fw-bold text--white">{{ soulboundDetail.name ?? 'Token detail' }}</div>
    <img
      src="assets/icons/icons-svg/white/close.svg"
      alt=""
      width="24px"
      height="24px"
      class="cursor-pointer"
      (click)="closeDialog()" />
  </div>
  <div class="card-body body-01">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="nft__img">
          <img
            *ngIf="!soulboundDetail?.ipfs?.animation_url"
            src="{{
              soulboundDetail?.ipfs?.image
                ? (soulboundDetail?.ipfs?.image | replaceIpfs)
                : commonService.getDefaultImg()
            }}" />
          <app-custom-video-player
            [videoSrc]="soulboundDetail?.ipfs?.animation_url | replaceIpfs"
            [showControl]="true"
            *ngIf="soulboundDetail?.ipfs?.animation_url">
          </app-custom-video-player>
        </div>
      </div>
      <div class="col-12 col-lg-7 mt-4 mt-lg-0">
        <div class="nft__desc">
          <div class="h5 text--white">Description</div>
          <div class="mt-4 mt-lg-2 body text--gray-1">
            {{ soulboundDetail.ipfs?.description || '-' }}
          </div>
        </div>
      </div>
    </div>
    <div class="divider divider-horizontal my-6"></div>
    <div class="h5 mb-4 text--white">Properties</div>
    <div class="row">
      <ng-container *ngIf="soulboundDetail.ipfs?.attributes">
        <div class="col-4 col-lg-3 mb-4 px-1 px-lg-2" *ngFor="let prop of soulboundDetail.ipfs?.attributes">
          <div class="nft__prop">
            <div class="caption fw-normal">{{ prop.trait_type | stringEllipsis : 13 }}</div>
            <div class="h5 mb-0 text--gray-1">
              <span class="d-none d-lg-flex">
                {{ prop.value | stringEllipsis : 13 }}
              </span>
              <span class="d-flex d-lg-none">
                {{ prop.value | stringEllipsis : 5 }}
              </span>
            </div>
          </div>
        </div>
      </ng-container>
      <span *ngIf="!soulboundDetail.ipfs?.attributes" class="px-1 px-lg-2">-</span>
    </div>
  </div>
  <div class="divider divider-horizontal"></div>
  <!-- Button group -->
  <div class="d-flex align-items-center justify-content-end px-6 py-6">
    <button class="button button-pill button-outline button--md" type="button" (click)="closeDialog()">
      <span>Cancel</span>
    </button>
    <button class="button button-pill button-flat button--md ml-4" type="button" (click)="equipSB()">
      <span>Equip</span>
    </button>
  </div>
</div>
