.box-contract-overview {
  .flex-item {
    width: 50%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: var(--aura-dark-gray);
    }
  }
  table.aura-basic-table {
    min-height: 330px;
    tr, td {
      color: var(--aura-contract)
    }
    tr:first-child td:first-child {
      width: 30%;
      color: var(--aura-white);
    }
    tr {
      height: 84px;
    }
  }

  .txt-light {
    color: var(--aura-light-gray);
  }

  .txt-danger {
    color: var(--aura-danger);
  }

  .list-token .select-input-field {
    background-color: var(--aura-bg-form);
    width: 100%;
    min-width: 315px;
    padding: 7px 22px 7px 24px;
    height: auto;
    border: 1px solid var(--aura-dark-gray);
    @media (min-width: 992px) {
      margin-right: 12px;
    }
    ::ng-deep mat-select-trigger {
      display: inline-flex;
      align-items: center;
    }
  }

  .box-wallet{
    background-color: var(--aura-bg-form);
    border-radius: 30px;
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--aura-dark-gray);
  }
}
.selected-token__label {
  margin-left: var(--spacer-2);
  background: var(--aura-gradient-simple);
  height: 22px;
  color: var(--aura-select-label);
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 var(--spacer-2);
}

::ng-deep {
  .aura-optional-panel.aura-optional-token-panel {
    .mat-option-text {
      display: inline-flex;
      align-items: center;
    }
  }
  .mat-select-value {
    color: var(--aura-contract);
  }
}
