@import "../../../assets/scss/color.scss";
section.account-detail {
  color: var(--aura-white);
  .box-account {
    width: 100%;
    padding: var(--spacer-6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .qr-code {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--spacer-2);
      overflow: hidden;
    }
    .txt-copied {
      height: 0;
      opacity: 0;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      &.show {
        opacity: 1;
        height: 24px;
      }
    }
  }
  form.search-form {
    .input-group {
      background-color: #1C1C1F; // this color not define in root
    }
    input {
      width: 100%;
      @media (min-width: 992px) {
        width: 405px;
      }
    }
  }
  .asset-type .select-input-field {
    background-color: #1C1C1F; // this color not define in root
    width: 100%;
    @media (min-width: 992px) {
      width: 186px;
    }
  }
  .list-token {
    width: 150px;
  }
  .item-color-balance {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0.2rem 1rem 0 0;
    font-weight: 500;
  }
  .box-chart {
    width: 180px;
    height: 180px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 100px;
      height: 100px;
      border: 1px solid #D3D3D3;
      border-radius: 50%;
    }
  }
  #canvas {
    border-radius: 8px;
  }
  .article-1 {
    min-height: 675px;
  }
  .article-2 {
    min-height: 500px;
  }
}
