<app-pagetitle title="Account detail" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<section class="account-detail">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="box-account article-1">
          <div>
            <div class="mb-8 qr-code">
              <canvas id="canvas" #canvas></canvas>
            </div>
            <div>
              <div class="title mb-2">Address</div>
              <p class="title-small cursor-pointer mt-0 mb-1" (click)="copyMessage(id)">{{ id }}</p>
              <p class="body txt-copied text--green" [class.show]="isCopy">copied!</p>
            </div>
          </div>
          <div>
            <p class="title-small mb-2">Total Value</p>
            <p class="title">$ {{ tokenPrice * item?.total | number: global.formatNumber2Decimal }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="px-6 py-6 article-1">
          <div class="d-flex align-items-center justify-content-between mb-8">
            <div class="d-flex align-items-center">
              <div class="title mr-4">Assets</div>
              <form class="aura-form single-input-field search-form">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Asset"
                    [(ngModel)]="textSearch"
                    (ngModelChange)="searchToken()"
                    name="search"
                    autocomplete="off"
                  />
                  <button type="submit" class="btn-search" (click)="searchToken()">
                    <img src="../../../assets/icons/icons-svg/white/search.svg" alt="" width="24" height="24" />
                  </button>
                </div>
              </form>
            </div>
            <div class="d-flex align-items-center">
              <div class="title-small mr-4">Asset Type</div>
              <div class="aura-form asset-type">
                <mat-select
                  class="list-token form-control select-input-field"
                  (selectionChange)="searchToken()"
                  [disableOptionCentering]="true"
                  [(value)]="selected"
                >
                  <mat-option *ngFor="let item of assetsType" [value]="item.label">
                    {{ item.value | translate }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!searchNullData; else noValues">
            <app-account-table
              *ngIf="dataSourceToken"
              [dataSource]="dataSourceToken"
              [templates]="templatesToken"
              [displayedColumns]="displayedColumnsToken"
              [pageData]="pageDataToken"
              [pageEventType]="pageEventType.Token"
              (pageEvent)="changePage($event)"
              [textNull]="'NO COINS'"
            >
            </app-account-table>
          </ng-container>
          <ng-template #noValues>
            <app-table-no-data></app-table-no-data>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-eq-heigth">
    <div class="col-9">
      <div class="card card-h-100">
        <div class="article-2">
          <mat-tab-group class="aura-tab" mat-stretch-tabs>
            <mat-tab label="Delegations">
              <app-account-table
                [dataSource]="dataSourceDelegation"
                [templates]="templatesDelegation"
                [displayedColumns]="displayedColumnsDelegation"
                [pageData]="pageDataDelegation"
                [pageEventType]="pageEventType.Delegation"
                (pageEvent)="changePage($event)"
              >
              </app-account-table>
            </mat-tab>
            <mat-tab label="Unbondings">
              <app-account-table
                [dataSource]="dataSourceUnBonding"
                [templates]="templatesUnBonding"
                [displayedColumns]="displayedColumnsUnBonding"
                [pageData]="pageDataUnbonding"
                [pageEventType]="pageEventType.Unbonding"
                (pageEvent)="changePage($event)"
              ></app-account-table>
            </mat-tab>
            <mat-tab label="Redelegations">
              <app-account-table
                [dataSource]="dataSourceReDelegation"
                [templates]="templatesReDelegation"
                [displayedColumns]="displayedColumnsReDelegation"
                [pageData]="pageDataRedelegation"
                [pageEventType]="pageEventType.Redelegation"
                (pageEvent)="changePage($event)"
              ></app-account-table>
            </mat-tab>
            <mat-tab label="Vestings">
              <app-account-table
                [dataSource]="dataSourceVesting"
                [templates]="templatesVesting"
                [displayedColumns]="displayedColumnsVesting"
                [pageData]="pageDataVesting"
                [pageEventType]="pageEventType.Vestings"
                (pageEvent)="changePage($event)"
              ></app-account-table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card card-h-100">
        <div class="article-2 py-6 px-6 d-flex flex-column justify-content-between">
          <div id="walletChart">
            <ng-container *ngIf="item?.total > 0; else chartNoValue">
              <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [fill]="chartOptions.fill"
                      [dataLabels]="chartOptions.dataLabels"
                      [responsive]="chartOptions.responsive"
                      [plotOptions]="chartOptions.plotOptions"
                      [legend]="chartOptions.legend"
                      [colors]="chartOptions.colors"
                      [tooltip]="chartOptions.tooltip"
                      [stroke]="chartOptions.stroke"
              >
              </apx-chart>
            </ng-container>
            <ng-template #chartNoValue>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="box-chart">
                  <div></div>
                </div>
              </div>
            </ng-template>
          </div>
          <div>
            <div class="d-flex justify-content-between align-items-center body mb-5">
              <span class="text--green">{{ global.stableToken }}</span>
              <span>{{ item?.total | number: global.formatNumberToken }}</span>
            </div>
            <ng-container *ngFor="let item of chartCustomOptions; let last = last">
              <div class="d-flex justify-content-between body chart-legend-item" [class.mb-3]="!last">
                <div class="d-flex">
                  <div class="item-color-balance" [ngStyle]="{ 'background-color': item.color }"></div>
                  <span>{{ item.name }}</span>
                </div>
                <span>{{ item.amount | number: global.formatNumberToken }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="sub-text px-6 py-6">Transactions</div>
        <div class="card-body px-6 pt-0">
          <ngx-simplebar>
            <ng-container *ngIf="length > 0; else noValues">
              <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="aura-table">
                  <ng-container *ngFor="let template of templates; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th class="none-border-top" mat-header-cell *matHeaderCellDef>
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>

                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ getDateValue(data[template.matColumnDef])[0] }}
                            </div>
                            <div *ngSwitchCase="'tx_hash_format'" class="text--green cursor-pointer hash-link">
                              {{ data[template.matColumnDef] }}
                            </div>
                            <div *ngSwitchCase="'height'">
                              {{ data[template.matColumnDef] }}
                            </div>
                            <div *ngSwitchCase="'type'">
                              {{ data[template.matColumnDef] }}
                            </div>
                            <div *ngSwitchCase="'status'">
                              <div [ngSwitch]="data[template.matColumnDef]">
                                <div *ngSwitchCase="'Success'" class="text--primary">
                                  {{ data[template.matColumnDef] }}
                                </div>
                                <div *ngSwitchCase="'Fail'" class="text--danger">
                                  {{ data[template.matColumnDef] }}
                                </div>
                                <div *ngSwitchCase="'Pending'" class="text--warning">
                                  {{ data[template.matColumnDef] }}
                                </div>
                              </div>
                            </div>
                            <div *ngSwitchCase="'fee'">
                              {{ data[template.matColumnDef] }}
                              <span class="text--green">{{ global.stableToken }}</span>
                            </div>
                            <div *ngSwitchCase="'amount'">
                              <ng-container *ngIf="data[template.matColumnDef] > 0">
                                {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                                <span class="text--green">{{ global.stableToken }}</span>
                              </ng-container>
                              <ng-container *ngIf="data[template.matColumnDef] == 0"> - </ng-container>
                            </div>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTxsDetail($event, row)"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data" colspan="9999">
                      {{ 'NO DATA' | translate }}
                    </td>
                  </tr>
                </table>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
          <div class="mt-4">
            <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="changePage($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
