<section class="contract-verify col-12 col-lg-6">
  <h1 class="text--white mb-4">Proxy Contract Verification</h1>
  <div class="box-proxy d-flex align-items-center">
    <span class="body-02 caption-mob fw-semibold text--green-3">Automated Proxy Implementation Verification</span>
  </div>

  <div class="text--white mt-8">
    This page facilitates the association of proxy contracts with their corresponding implementation ABIs and contracts,
    enhancing user interaction and awareness of the associated contract that the proxy contract is linking with.
  </div>

  <div class="mt-8">
    <div class="warning-wrapper d-flex align-items-start">
      <img src="assets/icons/icons-svg/color/warning.svg" alt="warning" />
      <span class="text--white ml-2">
        Disclaimer: The automated process utilizes programmatic heuristics that may lack accuracy. Exercise caution when
        interacting with EVM contracts.</span
      >
    </div>
  </div>

  <div class="py-6">
    <form [formGroup]="contractForm" (ngSubmit)="onSubmit()" class="aura-form" autocomplete="off">
      <div class="row mb-6">
        <div class="col-12">
          <div class="form-group">
            <label for="address" class="form-label text--gray-1 body-02"
              >Please enter the Proxy Contract Address you would like to verify</label
            >
            <input formControlName="address" type="text" class="form-control" id="address" />
            <div class="error" *ngIf="formControls['address'].invalid">Address is required!</div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center justify-content-lg-end align-items-center pt-2 pt-lg-0">
        <button
          class="button button--md button-pill button-outline button-fixed button-outline__in-card ml-4 px-1 px-sm-6"
          type="submit"
          [disabled]="loading">
          <span>Reset</span>
        </button>
        <button
          class="button button--md button-pill button-outline button-outline--gradient button-fixed button-outline__in-card ml-4 px-1 px-sm-6"
          type="submit"
          [disabled]="loading"
          (click)="openPopup()">
          <img
            [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
            alt=""
            class="mr-2"
            width="20"
            height="20"
            *ngIf="loading" />
          <span>Verify</span>
        </button>
      </div>
    </form>
  </div>
</section>
