@import '../../../../assets/scss/color.scss';

.table {
  width: 100%;
  .button {
    border: none;
    width: 24px;
    .mc-button-white {
      margin: 0px 10px;
    }
  }
}

.wap-table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.price-token {
  color: $validator-btn-text;
  font-size: 12px;
}

.box-notice {
  display: flex;
  border: 1px solid var(--aura-gray-9);
  @media (min-width: 992px) {
    border: 2px solid var(--aura-gray-9);
  }
  border-radius: 20px;
  padding: var(--spacer-3);
  background: rgba(36, 38, 46, 0.5);
  box-shadow: 0 64px 64px -48px rgba(15, 15, 15, 0.1);
  .warning-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url("../../../../assets/icons/icons-svg/color/info-circle.svg");
    background-size: cover;
  }
}

.dialog-title {
  min-width: 163px;
}
