<ng-container *ngIf="data.dialogMode === dialogMode.Delegate">
  <div class="box-notice">
    <div class="warning-icon mr-3"></div>
    <div>
      <div class="h6 mb-1 fw-semibold text--white">
        {{ 'MESSAGES.STAKING_WILL_LOCK' | translate : { timeStaking: timeStaking } }}
      </div>
      <div class="small-body mt-2 text--gray-5">
        {{ 'MESSAGES.UNDELEGATE_LOCK' | translate : { timeStaking: timeStaking } }}
      </div>
    </div>
  </div>
  <div class="box-token mt-8 body-02">
    <div class="d-lg-flex mb-4 mb-xl-6">
      <div class="dialog-title mr-10 mb-1 mb-lg-0 text--gray-5">
        {{ 'PAGES.VALIDATOR.myDelegation' | translate }}
      </div>
      <div class="body-01 text--gray-1">
        {{
          !data.validatorDetail?.amount_staked || +data.validatorDetail?.amount_staked < 0.000001
            ? '0'
            : (+data.validatorDetail?.amount_staked | mask : 'separator.6')
        }}
        <span class="text--white"> {{ denom }}</span>
      </div>
    </div>
    <div class="d-lg-flex mb-4 mb-xl-6">
      <div class="dialog-title mr-10 mb-1 mb-lg-0 text--gray-5">
        {{ 'PAGES.VALIDATOR.delegableBalance' | translate }}
      </div>
      <div class="body-01 text--gray-1">
        {{ !availableToken || +availableToken < 0.000001 ? '0' : (+availableToken | mask : 'separator.6') }}
        <span class="text--white"> {{ denom }}</span>
      </div>
    </div>
    <div class="text--gray-5">{{ 'PAGES.VALIDATOR.amountToDelegate' | translate }}</div>
  </div>
</ng-container>

<ng-container *ngIf="data.dialogMode === dialogMode.Manage">
  <div
    class="box-notice box-notice--manage mb-6 pr-8"
    [class.show]="boxNoticeShow"
    (click)="boxNoticeShow = !boxNoticeShow">
    <div class="warning-icon mr-3"></div>
    <div class="text--gray-5">
      <div [innerHTML]="'PAGES.VALIDATOR.manageNotice' | translate"></div>
    </div>
  </div>
  <div class="body-01 text--white">
    <div class="d-lg-flex mb-3 mb-xl-6">
      <div class="dialog-title mr-10 mb-1 mb-lg-0 text--gray-5 body-02">
        {{ 'PAGES.VALIDATOR.myDelegation' | translate }}
      </div>
      <div class="text--gray-1">
        {{
          !data.validatorDetail?.amount_staked || +data.validatorDetail?.amount_staked < 0.000001
            ? '0'
            : (+data.validatorDetail?.amount_staked | mask : 'separator.6')
        }}
        <span class="text--white"> {{ denom }}</span>
      </div>
    </div>
    <div class="d-lg-flex mb-3 mb-xl-6">
      <div class="dialog-title mr-10 mb-1 mb-lg-0 text--gray-5 body-02">
        {{ 'PAGES.VALIDATOR.pendingReward' | translate }}
      </div>
      <div class="text--gray-1">
        {{
          !data.validatorDetail?.pending_reward || +data.validatorDetail?.pending_reward < 0.000001
            ? '0'
            : (+data.validatorDetail?.pending_reward | mask : 'separator.6')
        }}
        <span class="text--white"> {{ denom }}</span>
      </div>
    </div>
    <div class="d-lg-flex">
      <div class="dialog-title mr-10 mb-1 mb-lg-0 text--gray-5 body-02">
        {{ 'PAGES.VALIDATOR.delegableBalance' | translate }}
      </div>
      <div class="text--gray-1">
        {{ !availableToken || +availableToken < 0.000001 ? '0' : (+availableToken | mask : 'separator.6') }}
        <span class="text--white"> {{ denom }}</span>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.dialogMode === dialogMode.Undelegate">
  <div class="box-notice">
    <div class="warning-icon mr-3"></div>
    <div class="text--gray-5">
      <div [innerHTML]="'PAGES.VALIDATOR.undelegateNotice' | translate : { timeStaking: timeStaking }"></div>
    </div>
  </div>

  <div class="box-notice mt-3 mb-5">
    <div class="warning-icon mr-3"></div>
    <div>
      <div class="text--white h6 mb-2">
        {{ 'PAGES.VALIDATOR.switchValidators' | translate }}
      </div>
      <div class="text--gray-5">
        {{ 'PAGES.VALIDATOR.stakeAnotherValidator' | translate }}
      </div>
    </div>
  </div>
</ng-container>
