@import '../../../../assets/scss/color.scss';

.table {
  width: 100%;
  .button {
    border: none;
    width: 24px;
    .mc-button-white {
      margin: 0px 10px;
    }
  }
}

.wap-table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.price-token {
  color: $validator-btn-text;
  font-size: 12px;
}

.box-notice {
  display: flex;
  border: 1px solid var(--aura-dark-gray);
  @media (min-width: 992px) {
    border: 2px solid var(--aura-dark-gray);
  }
  @media (max-width: 575.98px) {
    &--manage {
      max-height: 58px;
      overflow: hidden;
      transition: max-height .35s ease-in-out;
      position: relative;
      &:after {
        content: "";
        height: 24px;
        width: 24px;
        position: absolute;
        top: 10px;
        right: 16px;
        background: url("../../../../assets/icons/icons-svg/basic/chevron-down-gray.svg") center no-repeat;
      }
      &.show {
        max-height: 900px;
        overflow: unset;
        &:after {
          transform: rotate(180deg);
        }
      }
    }
    &__info {
      min-height: 40px;
    }
  }
  @media (max-width: 374.99px) {
    &--manage {
      max-height: 63px;
    }
  }
  border-radius: 20px;
  padding: var(--spacer-3);
  .warning-icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background: url("../../../../assets/icons/icons-svg/color/info-circle.svg");
    background-size: cover;
  }
}

.dialog-title {
  min-width: 163px;
}
