.button-switch-stage button {
  width: 100%;
  @media (min-width: 575.98px) {
    width: 70px;
  }
}

.box-statistic {
  .card-info {
    min-height: 98px;
    background-color: var(--aura-gray-9);
  }

  ::ng-deep {
    .box-name-tag {
      &:not(.private-name-tag) {
        background-color: var(--aura-gray-8) !important;
        &:after {
          border-right: 15px solid var(--aura-gray-9) !important;
        }
      }
    }
  }
}
