.button-switch-stage button {
  width: 100%;
  @media (min-width: 575.98px) {
    width: 70px;
  }
}

::ng-deep {
  .box-name-tag {
    background-color: var(--aura-gray-8) !important;

    .aura-tooltip-contain a {
    }
    &:not(.private-name-tag) {
      &:after {
        border-right: 15px solid var(--aura-gray-9) !important;
      }
    }
  }
}
