.card-reset {
  max-width: 500px;
  margin: auto;
  margin-bottom: 16px;
  .card-header {
    font-weight: 600;
    font-size: 20px;
    padding: var(--spacer-6);
    line-height: 28px;
    background-color: var(--aura-gray-9);
    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
  .card-body {
    padding: var(--spacer-6);
  }
  .btn-reset {
    border-radius: 8px;
    height: 40px;
    padding: 14px 24px;
    &:disabled {
      background: var(--aura-gray-8);
    }
  }
  .form-check-input {
    font-size: 16px;
    .isError {
      border: 1px solid red;
    }
  }
  .input-group {
    background-color: var(--aura-gray-10);
    ::-ms-reveal {
      display: none;
    }
  }
}

.img-reset-success {
  margin-top: 28px;
}
.txt-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--aura-white);
  @media (min-width: 992px) {
    font-size: 32px;
  }
}

.hidden-icon {
  font-size: 2.4rem;
  color: var(--aura-white);
}
