<div class="card card-reset" *ngIf="mode !== 'resetSuccess'">
  <div class="card-body">
    <ng-container *ngIf="errorMessage !== ''">
      <div class="box-error-message mb-lg-6 mb-4">
        <img
          [src]="'assets/icons/icons-svg/white/icon-error-login.svg' | imageS3"
          alt=""
          width="20px"
          height="20px"
          class="mr-1" />
        <span> {{ errorMessage }} </span>
      </div>
    </ng-container>

    <div class="text-center">
      <img class="img-welcome" src="assets/images/pages/planet.png" />
      <div class="mt-8">
        <div class="txt-title">Reset password</div>
        <div class="mt-2 body-01 text--gray-2">for {{ emailFormat }}</div>
      </div>
    </div>
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      class="aura-form single-input-field login-form mt-6"
      autocomplete="off">
      <div class="col-12">
        <div class="form-group">
          <label for="amount" class="form-label body-01 text--white">New Password</label>
          <div class="input-group pr-0">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Enter new password"
              formControlName="password"
              [class.form-control--error]="
                resetForm.get('password')?.invalid && getPassword.touched && getPassword.dirty
              "
              name="inputEmail"
              autocomplete="off" />
            <i
              class="pr-4 hidden-icon cursor-pointer ph-bold  {{ hidePassword ? 'ph-eye-slash' : 'ph-fill ph-eye' }}"
              (click)="hidePassword = !hidePassword"></i>
          </div>
          <div
            *ngIf="getPassword.errors?.pattern && getPassword.touched && getPassword.dirty"
            class="text--danger mt-2 caption fw-normal">
            The password need to be more than 8 characters in length with at least one upper case, 1 lower case, 1
            number and 1 special character
          </div>
        </div>
      </div>

      <div class="row mt-lg-6 mt-4">
        <div class="col-12">
          <div class="form-group">
            <label class="form-label body-01 text--white">Confirm new password</label>
            <div class="input-group pr-0">
              <input
                [type]="hideConfirmPassword ? 'password' : 'text'"
                placeholder="Enter your new password again"
                formControlName="confirmPassword"
                name="inputConfirmEmail"
                [class.form-control--error]="
                  getConfirmPassword.touched &&
                  getConfirmPassword.dirty &&
                  resetForm.value.password !== resetForm.value.confirmPassword
                "
                autocomplete="off" />
              <i
                class="pr-4 hidden-icon cursor-pointer ph-bold  {{
                  hideConfirmPassword ? 'ph-eye-slash' : 'ph-fill ph-eye'
                }}"
                (click)="hideConfirmPassword = !hideConfirmPassword"></i>
            </div>
            <div
              *ngIf="
                getConfirmPassword.touched &&
                getConfirmPassword.dirty &&
                resetForm.value.password !== resetForm.value.confirmPassword
              "
              class="text--danger mt-2 caption fw-normal">
              The password confirmation does not match
            </div>
          </div>
        </div>
      </div>

      <button
        class="button button-pill button-flat btn-reset d-flex mt-6 m-auto"
        type="submit"
        [disabled]="resetForm.status === 'INVALID' || resetForm.value.password !== resetForm.value.confirmPassword">
        <span class="body-01">Reset my password</span>
      </button>
    </form>
  </div>
</div>

<div *ngIf="mode === 'resetSuccess'" class="card-welcome text-center">
  <img class="img-reset-success" src="assets/images/pages/shield.png" />
  <div class="txt-title">Password reset successfully</div>
  <div class="body-01 text--gray-2 mt-6">Kindly log in to AuraScan using your new password</div>
  <div class="mt-6 mb-8">
    <button class="button button-outline button-outline--gradient button--xlg button-pill" [routerLink]="['/login']">
      <span class="body-01">Log in</span>
    </button>
  </div>
</div>
