<div class="card card-reset" *ngIf="mode !== 'resetSuccess'">
  <div class="card-body">
    <ng-container *ngIf="errorMessage !== ''">
      <div class="box-error-message mb-lg-6 mb-4">
        <img
          [src]="'assets/icons/icons-svg/white/icon-error-login.svg' | imageS3"
          alt=""
          width="20px"
          height="20px"
          class="mr-1" />
        <span> {{ errorMessage }} </span>
      </div>
    </ng-container>

    <div class="text-center">
      <img class="img-welcome" [src]="'assets/images/pages/planet.png' | imageS3" />
      <div class="mt-8">
        <div class="txt-title">{{ 'PAGES.LOGIN.resetPassword' | translate }}</div>
        <div class="mt-2 body-01 text--gray-2">{{ 'PAGES.LOGIN.for' | translate }} {{ emailFormat }}</div>
      </div>
    </div>
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      class="aura-form single-input-field login-form mt-6"
      autocomplete="off">
      <div class="col-12">
        <div class="form-group">
          <label for="amount" class="form-label body-01 text--white">{{ 'PAGES.LOGIN.newPassword' | translate }}</label>
          <div
            class="input-group pr-0"
            [class.form-control--error]="
              resetForm.get('password')?.invalid && getPassword.touched && getPassword.dirty
            ">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="{{ 'PAGES.LOGIN.enterNewPassPlaceHolder' | translate }}"
              formControlName="password"
              name="inputEmail"
              autocomplete="off" />
            <i
              class="pr-4 hidden-icon cursor-pointer ph-bold  {{ hidePassword ? 'ph-eye-slash' : 'ph-fill ph-eye' }}"
              (click)="hidePassword = !hidePassword"></i>
          </div>
          <div
            *ngIf="getPassword.errors?.pattern && getPassword.touched && getPassword.dirty"
            class="text--danger mt-2 caption fw-normal">
            {{ 'MESSAGES.RULE_PASSWORD' | translate }}
          </div>
        </div>
      </div>

      <div class="row mt-lg-6 mt-4">
        <div class="col-12">
          <div class="form-group">
            <label class="form-label body-01 text--white">{{ 'PAGES.LOGIN.confirmNewPass' | translate }}</label>
            <div
              class="input-group pr-0"
              [class.form-control--error]="
                getConfirmPassword.touched &&
                getConfirmPassword.dirty &&
                resetForm.value.password !== resetForm.value.confirmPassword &&
                resetForm.value.password?.length > 0 &&
                resetForm.value.confirmPassword?.length > 0
              ">
              <input
                [type]="hideConfirmPassword ? 'password' : 'text'"
                placeholder="{{ 'PAGES.LOGIN.enterNewPassAgainPlaceHolder' | translate }}"
                formControlName="confirmPassword"
                name="inputConfirmEmail"
                autocomplete="off" />
              <i
                class="pr-4 hidden-icon cursor-pointer ph-bold  {{
                  hideConfirmPassword ? 'ph-eye-slash' : 'ph-fill ph-eye'
                }}"
                (click)="hideConfirmPassword = !hideConfirmPassword"></i>
            </div>
            <div
              *ngIf="
                getConfirmPassword.touched &&
                getConfirmPassword.dirty &&
                resetForm.value.password !== resetForm.value.confirmPassword &&
                resetForm.value.password?.length > 0 &&
                resetForm.value.confirmPassword?.length > 0
              "
              class="text--danger mt-2 caption fw-normal">
              {{ 'MESSAGES.PASSWORD_NOT_MATCH' | translate }}
            </div>
          </div>
        </div>
      </div>

      <button
        class="button button-pill button-flat btn-reset d-flex mt-6 m-auto w-100 button--lg border-radius--sm"
        type="submit"
        [disabled]="resetForm.status === 'INVALID' || resetForm.value.password !== resetForm.value.confirmPassword">
        <span class="body-01">{{ 'PAGES.LOGIN.resetMyPass' | translate }}</span>
      </button>
    </form>
  </div>
</div>

<div *ngIf="mode === 'resetSuccess'" class="card-welcome text-center">
  <img class="img-reset-success" [src]="'assets/images/pages/shield.png' | imageS3" />
  <div class="txt-title">{{ 'PAGES.LOGIN.passResetSuccessfully' | translate }}</div>
  <div class="body-01 text--gray-2 mt-6 body-mob">{{ 'PAGES.LOGIN.loginWithNewPass' | translate }}</div>
  <div class="mt-6 mb-8">
    <button class="button button-outline button-outline--gradient button--xlg button-pill" [routerLink]="['/login']">
      <span class="body-01">{{ 'BUTTON.LOGIN' | translate }}</span>
    </button>
  </div>
</div>
