<div class="d-flex justify-content-between align-items-center">
  <div class="body-01 text--gray-1">{{preDay}} ~ {{currentDay}}</div>
  <div class="button-switch-stage">
    <button type="button" *ngFor="let data of rangeList | keyvalue"
            [class.active]="currentRange === data.value"
            (click)="getTransactionData(data.value)">
      <span>{{ data.value }} Day</span>
    </button>
  </div>
</div>
<div class="row mt-6" *ngIf="loading">
  <app-loading-sprint></app-loading-sprint>
</div>
<div class="row mt-6" *ngIf="!loading && !transactionsData">
  <app-table-no-data></app-table-no-data>
</div>
<div class="row mt-6" *ngIf="!loading && transactionsData">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0 text--gray-1">Top AURA Senders</h4>
        <div class="mt-4">
          <div>
            <ng-container *ngIf="AURASendersDS?.data?.length > 0; else noValues">
              <div class="table-responsive">
                <table mat-table [dataSource]="AURASendersDS" class="aura-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>rank</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <!-- address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>address</th>
                    <td mat-cell *matCellDef="let element">
                      <a class="text--primary mr-5 mr-lg-10" [routerLink]="['/account', element.address]">
                        {{ element.address | cutStringPipe: 8:8 }}
                      </a>
                    </td>
                  </ng-container>
                  <!-- Total aura Column -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>total aura</th>
                    <td mat-cell *matCellDef="let element">
                     {{ element.result?.total_sent_tx?.amount ?? 0 }}
                    </td>
                  </ng-container>
                  <!-- Percent Column -->
                  <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef>percentage</th>
                    <td mat-cell *matCellDef="let element">
                     {{ element.result?.total_sent_tx?.percentage ?? 0 }}%
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0 text--gray-1">Top AURA Receivers</h4>
        <div class="mt-4">
          <div>
            <ng-container *ngIf="AURASendersDS?.data?.length > 0; else noValues">
              <div class="table-responsive">
                <table mat-table [dataSource]="AURASendersDS" class="aura-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>rank</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <!-- address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>address</th>
                    <td mat-cell *matCellDef="let element">
                      <a class="text--primary mr-5 mr-lg-10" [routerLink]="['/account', element.address]">
                        {{ element.address | cutStringPipe: 8:8 }}
                      </a>
                    </td>
                  </ng-container>
                  <!-- Total aura Column -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>total aura</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_received_tx?.amount ?? 0 }}
                    </td>
                  </ng-container>
                  <!-- Percent Column -->
                  <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef>percentage</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_received_tx?.percentage ?? 0 }}%
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0 text--gray-1">Top Txn Count Sent</h4>
        <div class="mt-4">
          <div>
            <ng-container *ngIf="AURASendersDS?.data?.length > 0; else noValues">
              <div class="table-responsive">
                <table mat-table [dataSource]="AURASendersDS" class="aura-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>rank</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <!-- address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>address</th>
                    <td mat-cell *matCellDef="let element">
                      <a class="text--primary mr-5 mr-lg-10" [routerLink]="['/account', element.address]">
                        {{ element.address | cutStringPipe: 8:8 }}
                      </a>
                    </td>
                  </ng-container>
                  <!-- Total aura Column -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>total aura</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_sent_amount?.amount ?? 0 }}
                    </td>
                  </ng-container>
                  <!-- Percent Column -->
                  <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef>percentage</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_sent_amount?.percentage ?? 0 }}%
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0 text--gray-1">Top Txn Count Received</h4>
        <div class="mt-4">
          <div>
            <ng-container *ngIf="AURASendersDS?.data?.length > 0; else noValues">
              <div class="table-responsive">
                <table mat-table [dataSource]="AURASendersDS" class="aura-table">
                  <!-- ID Column -->
                  <ng-container matColumnDef="rank">
                    <th mat-header-cell *matHeaderCellDef>rank</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                  </ng-container>
                  <!-- address Column -->
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>address</th>
                    <td mat-cell *matCellDef="let element">
                      <a class="text--primary mr-5 mr-lg-10" [routerLink]="['/account', element.address]">
                        {{ element.address | cutStringPipe: 8:8 }}
                      </a>
                    </td>
                  </ng-container>
                  <!-- Total aura Column -->
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>total aura</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_received_amount?.amount ?? 0 }}
                    </td>
                  </ng-container>
                  <!-- Percent Column -->
                  <ng-container matColumnDef="percentage">
                    <th mat-header-cell *matHeaderCellDef>percentage</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.result?.total_received_amount?.percentage ?? 0 }}%
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
