<div class="qrcode-container" *ngIf="qrdata" #quContainer>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <p class="h4 text--white">Scan with your phone</p>
    <div [copyBtn]="qrdata?.data"></div>
  </div>
  <div class="qrcode-wrapper" [ngStyle]="{ 'height.px': quContainer.clientWidth }">
    <ng-container *ngIf="qrdata.state != 'Done'">
      <div class="m-auto">
        <app-loading-sprint></app-loading-sprint>
      </div>
    </ng-container>
    <div class="qrcode" #container *ngIf="qrdata.state == 'Done'">
      <qrcode
        [qrdata]="qrdata?.data"
        [imageSrc]="imageSrc"
        [imageHeight]="container.clientWidth / 4"
        [imageWidth]="container.clientWidth / 4"
        [width]="container.clientWidth"
        [allowEmptyString]="true"
        [cssClass]="'center'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'H'"
        [margin]="0"
        [colorDark]="'#fff'"
        [colorLight]="'#363843'">
      </qrcode>
    </div>
  </div>
</div>
