.decode-message {
    column-gap: 8px;
    .data{
        font-size: 14px;
        line-height: 24px;
    }

    .name {
        border-radius: 6px;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #B4B8C0;
        border: 1px solid var(--aura-gray-6);
        background: var(--aura-gray-9);
        font-weight: 600;
        font-size: 12px;
        white-space: nowrap;
        margin: 0;
        min-width: 30px;
        max-width: max-content;
    }
    button.button {
        background-color: #494C58;
        padding-left: 6px;
        padding-right: 25px;
        font-size: 12px;
        line-height: 16px;
        bottom: 1px;
        top: -1px;
    }

    .button.button-dropdown.button--sm:before,
    .button.button-dropdown.button--sm:after {
        right: 5px;        
    }

    .dropdown-menu.aura-dropdown-menu{
        top: 0px;
        margin-top: 0px;
    }

    .dropdown-item.cursor-pointer {
        padding: 0 4px;
        margin-top: 2px;
        
        button{
            background-color: transparent;
        }
    }

    .data-field-msg {
        padding: 2px;
        border-radius: 4px;

        p {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            margin: 0;
        }

        .data-item {
            display: grid;
            column-gap: 20px;
            row-gap: 6px;
            grid-template-columns: minmax(100px, max-content) 1fr;

            .item-name {
                color: #9DA1AC;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .highlight {
        max-width: 98%;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: var(--aura-gray-10);
      }
    
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .button-data {
        width: 39px;
        height: 24px;
        gap: 10px;
        padding: 2px;
        background: #363843;
        color: #9DA1AC;

    }

    .button-dec {
        border-radius: 8px 0px 0px 8px;
    }

    .button-hex {
        border-radius: 0px 8px 8px 0px;
    }
    
    .active {
        background-color: #000;
        span {   
            background: var(--aura-gradient-button);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}