<div *ngIf="!isDataField" class="decode-message d-flex justify-content-start align-items-start col-12 d-flex gap-3"
    [class]="!isMobile ? 'flex-nowrap' : 'flex-wrap'">
    <div class="param-field d-flex gap-3 justify-content-center align-items-start flex-nowrap">
        <p *ngIf="index !== ''" class="name">
            {{index}} <span *ngIf="name">: {{ name }}</span>
        </p>
        <div *ngIf="isAllowSwitchDecode" class="dropdown aura-dropdown btn-item">
            <button 
                style="height: 26px; min-width: max-content;"
                class="button button--sm button--md-mob button-pill button-outline button-dropdown w-100"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>{{type}}</span>
            </button>
            <ul class="dropdown-menu aura-dropdown-menu">
                <li (click)="onHex()" class="dropdown-item cursor-pointer" [class.active]="type === 'Hex'">
                    <button type="button" class="button p-0">Hex</button>
                </li>
                <li (click)="onDecode()" class="dropdown-item cursor-pointer" [class.active]="type === 'Decode'">
                    <button type="button" class="button p-0">Decode</button>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="!isAllowSwitchDecode" class="data flex-grow-1">
        <p class="mb-1 font-space-mono">{{value}}</p>
        <p class="mb-0 font-space-mono" [innerHTML]="decode | highlight_function"></p>
    </div>
    <div *ngIf="isAllowSwitchDecode" class="data flex-grow-1" [class]="isHighlight ? 'highlight' : ''">
        <a *ngIf="isLink && type === 'Decode'" class="text--primary font-space-mono" routerLink="/address/{{ data }}">
            {{data}}
        </a>
        <span class="font-space-mono" *ngIf="!isLink || type === 'Hex'">{{data}}</span>
    </div>
</div>
<div class="decode-message">
    <div *ngIf="isDataField" class="d-flex align-items-start highlight">
        <div class="flex-grow-1 data-field-msg">
            <div *ngIf="type === 'Hex'">
                <p class="font-space-mono">{{ data }}</p>
            </div>
            <div *ngIf="type === 'Decode'">
                <div class="data-item">
                    <ng-container *ngFor="let item of data">
                        <p class="item-name">{{item?.name}}</p>
                        <a *ngIf="item?.isLink" class="text--primary font-space-mono" routerLink="/address/{{ item?.decode }}">
                            {{item?.decode}}
                        </a>
                        <div *ngIf="!item?.isLink" class="font-space-mono">
                            <div *ngIf="item?.type === 'tuple'" class="d-flex flex-wrap gap-2 align-items-center">
                                <div *ngFor="let dataDecoded of item?.decode">
                                    <a ngClass="font-space-mono" *ngIf="dataDecoded?.isLink" class="text--primary" routerLink="/address/{{ dataDecoded?.name }}">
                                        {{dataDecoded?.name}}
                                    </a>
                                    <p class="font-space-mono" *ngIf="!dataDecoded?.isLink" >{{dataDecoded?.name}}</p>
                                </div>
                            </div>
                            <div *ngIf="item?.type !== 'tuple'">
                                <p class="font-space-mono">{{item?.decode}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div *ngIf="isAllowSwitchDecode" class="button-container">
            <button
                class="button-data body-04 button-dec"
                [class.active]="type === 'Decode'"
                (click)="onDecode('data')">
                <span>Dec</span>
            </button>
            <button 
                class="button-data body-04 button-hex"
                [class.active]="type === 'Hex'"
                (click)="onHex()">
                <span>Hex</span>
            </button>
        </div>
    </div>
</div>
<div class="decode-message">
    <div *ngIf="isDataField" class="d-flex align-items-start highlight">
        <div class="flex-grow-1 data-field-msg">
            <div *ngIf="type === 'Hex'">
                <p class="font-space-mono">{{ data }}</p>
            </div>
            <div *ngIf="type === 'Decode'">
                <div class="data-item">
                    <ng-container *ngFor="let item of data">
                        <p class="font-space-mono item-name">{{item?.name}}</p>
                        <a *ngIf="item?.isLink" class="text--primary" routerLink="/address/{{ item?.decode }}">
                            {{item?.decode}}
                        </a>
                        <div *ngIf="!item?.isLink">
                            <div *ngIf="item?.type === 'tuple'" class="d-flex flex-wrap gap-2 align-items-center">
                                <div *ngFor="let dataDecoded of item?.decode">
                                    <a *ngIf="dataDecoded?.isLink" class="text--primary" routerLink="/address/{{ dataDecoded?.name }}">
                                        {{dataDecoded?.name}}
                                    </a>
                                    <p *ngIf="!dataDecoded?.isLink" class="font-space-mono" >{{dataDecoded?.name}}</p>
                                </div>
                            </div>
                            <div *ngIf="item?.type !== 'tuple'">
                                <p class="font-space-mono" >{{item?.decode}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button
                class="button-data body-04 button-dec"
                [class.active]="type === 'Decode'"
                (click)="onDecode('data')">
                <span>Dec</span>
            </button>
            <button 
                class="button-data body-04 button-hex"
                [class.active]="type === 'Hex'"
                (click)="onHex()">
                <span>Hex</span>
            </button>
        </div>
    </div>
</div>
<div class="decode-message">
    <div *ngIf="isDataField" class="d-flex align-items-start highlight">
        <div class="flex-grow-1 data-field-msg">
            <div *ngIf="type === 'Hex'">
                <p class="font-space-mono">{{ data }}</p>
            </div>
            <div *ngIf="type === 'Decode'">
                <div class="data-item">
                    <ng-container *ngFor="let item of data">
                        <p class="font-space-mono item-name">{{item?.name}}</p>
                        <a *ngIf="item?.isLink" class="text--primary" routerLink="/address/{{ item?.decode }}">
                            {{item?.decode}}
                        </a>
                        <div *ngIf="!item?.isLink">
                            <div *ngIf="item?.type === 'tuple'" class="d-flex flex-wrap gap-2 align-items-center">
                                <div *ngFor="let dataDecoded of item?.decode">
                                    <a *ngIf="dataDecoded?.isLink" class="text--primary" routerLink="/address/{{ dataDecoded?.name }}">
                                        {{dataDecoded?.name}}
                                    </a>
                                    <p *ngIf="!dataDecoded?.isLink" class="font-space-mono" >{{dataDecoded?.name}}</p>
                                </div>
                            </div>
                            <div *ngIf="item?.type !== 'tuple'">
                                <p class="font-space-mono" >{{item?.decode}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button
                class="button-data body-04 button-dec"
                [class.active]="type === 'Decode'"
                (click)="onDecode('data')">
                <span>Dec</span>
            </button>
            <button 
                class="button-data body-04 button-hex"
                [class.active]="type === 'Hex'"
                (click)="onHex()">
                <span>Hex</span>
            </button>
        </div>
    </div>
</div>