@import "../../../../assets/scss/color.scss";

.validator-detail {
  max-width: 100%
}
.soulbound-feature-tokens {
  background: rgba(19, 20, 25, 0.5);
  border-radius: 8px;
  padding: var(--spacer-2);
  @media (min-width: 991.98px) {
    padding: var(--spacer-6);
  }
}

.article-1.uptime-content {
  white-space: pre-wrap;
  flex-wrap: wrap;
  display: flex;
  width: 77%;
  margin: auto;
  align-items: center;

  .block-uptime {
    margin: 4px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $validator-bg-uptime;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 31px;
    height: 31px;

    .block-item {
      border-radius: 3px;
      display: inline-block;
      font-size: 13px;
      left: -999em;
      opacity: 0;
      padding: 8px 21px;
      position: fixed;
      pointer-events: none;
      transition: opacity 0.3s ease-out;
      top: -999em;
      visibility: hidden;
      z-index: 999;
    }

    .img-uptime-miss {
      filter: $filter-uptime-icon;
    }
  }

  @media (max-width: 1199.99px) {
    min-height: 300px;
  }

  @media (max-width: 767.99px) {
    width: 100%;
    max-width: fit-content;
    min-height: 230px;

    .block-uptime {
      margin: 0 5px 7px 5px;
      width: 24px;
      height: 24px;
    }

    .header-mob {
      background: transparent;
      padding-bottom: 2px;
    }
  }
}

.valid-status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(84, 206, 140, 0.2);
  color: var(--aura-green-3);
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;

  &.status-inactive {
    background-color: rgba(119, 126, 144, 0.2);
    color: var(--aura-light-gray);
  }

  &.status-jailed {
    background-color: rgba(230, 94, 94, 0.2);
    color: var(--aura-danger);
  }
}


.img-valid {
  filter: $filter-white-icon;
  width: auto;
  height: 16px;
}

.article-1 {
  min-height: 430px;
}

form.search-form {
  .input-group {
    input.form-control {
      width: 100%;

      @media (min-width: 992px) {
        width: 500px;
      }
    }
  }
}

@media (max-width: 991.99px) {
  .header-mob {
    background: transparent;
  }
}

.custom-card-mob-simple {
  ::ng-deep app-card-mob-simple {
    .align-items-center.d-flex.justify-content-between.small-body:first-child > div {
      color: var(--aura-primary) !important;
    }
  }
}

::ng-deep .soulbound-feature-tokens app-soulbound-feature-tokens .soulbound-list {
  @media (min-width: 991.98px) {
    justify-content: start;
  }
}
