<div class="d-flex align-items-center mb-4 mb-md-6 mt-3">
  <app-pagetitle title="Validator Details" [displayInfo]="true" class="flex-grow-1"></app-pagetitle>
  <button
    type="button"
    class="button button-pill button-flat button--lg button--sm-mob ml-6 text--black"
    *ngIf="currentValidatorDetail && !currentValidatorDetail?.jailed"
    (click)="openDialog()">
    Delegate
  </button>
</div>

<section *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <!-- Summary info -->
  <div class="card text--white" *ngIf="currentValidatorDetail">
    <div class="card-header header-mob pb-0">
      <div class="d-flex align-items-center">
        <div class="avatar-wrapper flex-shrink-0 mr-2" *ngIf="!breakpoint.value.matches">
          <div class="validator-avatar medium">
            <app-loading-image [identity]="currentValidatorDetail.identity" [srcImg]="currentValidatorDetail.image_url">
            </app-loading-image>
          </div>
          <div class="rank-wrapper" [class._small]="breakpoint.value.matches">
            <div class="box-rank _fill _small">
              <span> {{ currentValidatorDetail?.rank }} </span>
            </div>
          </div>
        </div>
        <div class="flex-grow-1 validator-detail">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <div class="avatar-wrapper flex-shrink-0 mr-3" *ngIf="breakpoint.value.matches">
                <div class="validator-avatar small">
                  <app-loading-image
                    [identity]="currentValidatorDetail.identity"
                    [srcImg]="currentValidatorDetail.image_url">
                  </app-loading-image>
                </div>
                <div class="rank-wrapper" [class._small]="breakpoint.value.matches">
                  <div class="box-rank _fill _small">
                    <span> {{ currentValidatorDetail?.rank }} </span>
                  </div>
                </div>
              </div>
              <h5 class="mb-0 text--white break-all">{{ currentValidatorDetail?.title }}</h5>
            </div>
            <div
              class="valid-status caption"
              [class.status-inactive]="
                !currentValidatorDetail?.jailed && currentValidatorDetail?.status !== statusValidator.Active
              "
              [class.status-jailed]="currentValidatorDetail?.jailed"
              [ngClass]="{ 'small-body': breakpoint.value.matches }">
              <ng-container *ngIf="currentValidatorDetail?.jailed"> Jailed</ng-container>
              <ng-container *ngIf="currentValidatorDetail?.status === statusValidator.Active"> Active</ng-container>
              <ng-container
                *ngIf="!currentValidatorDetail?.jailed && currentValidatorDetail?.status !== statusValidator.Active">
                inActive
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-lg-6">
          <div class="d-flex position-relative">
            <h6 class="mb-0 text--gray-1">Operator Address</h6>
            <div class="d-flex ml-1">
              <img
                [appTooltip]="'Validator operator address at which token holders delegate <br/>their voting powers to.'"
                [src]="'assets/images/icons/questionmark-icon.svg' | imageS3"
                alt=""
                *ngIf="!breakpoint.value.matches" />
            </div>
          </div>
          <span class="body-01 text--gray-5 mt-1">{{ currentValidatorDetail?.operator_address }}</span>
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <h6 class="mb-0 text--gray-1">Address</h6>
          <app-name-tag
            [value]="currentValidatorDetail?.acc_address"
            [linkRouter]="['/address', currentValidatorDetail?.acc_address]"
            [fullText]="true"
            [widthAuto]="true"
            [fullTextMob]="true"></app-name-tag>
        </div>
      </div>
      <div class="divider divider-horizontal mt-4"></div>
    </div>
    <div class="card-body body-01 pt-2 text--gray-4">
      <div class="row mt-4" *ngIf="soulboundList && soulboundList.length > 0">
        <div class="col-12">
          <div class="body-01 text--gray-4 mb-2">Aura Marking Milestone</div>
          <div class="soulbound-feature-tokens mt-2">
            <app-soulbound-feature-tokens
              [extend]="false"
              [accountAddress]="currentValidatorDetail.acc_address"
              [isSBTValidator]="true"
              [soulboundListData]="soulboundList"></app-soulbound-feature-tokens>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-lg-6">
          <!-- Website -->
          <div class="row">
            <div class="col-6">Website</div>
            <div class="col-6 text-end text-lg-start">
              <a
                class="text--primary cursor-pointer"
                href="{{ currentValidatorDetail?.description?.website }}"
                target="_blank">
                {{ currentValidatorDetail?.description?.website }}
              </a>
            </div>
          </div>
          <!-- Commission -->
          <div class="row mt-3">
            <div class="col-6">Commission</div>
            <div class="col-6 text--gray-1 text-end text-lg-start">
              {{ currentValidatorDetail?.commission | percent: number2Digit }}
            </div>
          </div>
          <!-- Uptime -->
          <div class="row mt-3">
            <div class="col-6">Uptime</div>
            <div class="col-6 text--gray-1 text-end text-lg-start">
              <ng-container *ngIf="currentValidatorDetail['status'] === statusValidator.Active">
                {{ currentValidatorDetail['up_time'] || 100 | formatDigit: 2 }}%
              </ng-container>
              <ng-container *ngIf="currentValidatorDetail['status'] !== statusValidator.Active"> 0.00%</ng-container>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <!-- Voting Power -->
          <div class="row mt-3 mt-lg-0">
            <div class="col-6">Voting Power</div>
            <div class="col-6 text-end text-lg-start d-xl-flex">
              <div>
                <span class="text--gray-1">{{ +currentValidatorDetail?.power | mask: 'separator.6' }}</span>
                <span class="ml-1 break-word text-nowrap" appLinkDenom>{{ denom }}</span>
              </div>
              <span class="text--gray-5 ml-xl-1">({{ currentValidatorDetail?.percent_power }}%)</span>
            </div>
          </div>
          <!-- Bonded Height -->
          <div class="row mt-3">
            <div class="col-6">Bonded Height</div>
            <div class="col-6 text--gray-1 text-end text-lg-start">
              {{ currentValidatorDetail?.bonded_height | number }}
            </div>
          </div>
          <!-- Self Bonded -->
          <div class="row mt-3">
            <div class="col-6">Self Bonded</div>
            <div class="col-6 text-end text-lg-start d-xl-flex">
              <div>
                <span class="text--gray-1">{{ +currentValidatorDetail?.self_bonded | mask: 'separator.6' }}</span>
                <span class="ml-1 break-word text-nowrap" appLinkDenom>{{ denom }}</span>
              </div>
              <span class="text--gray-5 ml-xl-1">({{ currentValidatorDetail?.percent_self_bonded }})</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Details -->
      <div class="mt-3">
        <div>Details</div>
        <div class="editorial-container p-4 mt-2" *ngIf="currentValidatorDetail?.details">
          <div id="marked" class="editorial"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card py-10" *ngIf="!currentValidatorDetail">
    <app-loading-sprint></app-loading-sprint>
  </div>
  <!-- Proposed Blocks + Uptime -->
  <div class="row">
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-lg-flex align-items-center justify-content-between header-mob pb-0">
          <h3 class="h2-mob mb-0 text--gray-1">Proposed Blocks</h3>
          <!-- <div class="body-01 text--gray-5 mt-1 mt-lg-0">Total: {{ lengthBlock || 0 | number }} blocks</div> -->
        </div>
        <div class="card-body article-1 pt-4">
          <ng-container *ngIf="lengthBlock > 0 && !isLoadingBlock; else noValues">
            <div class="table-responsive aura-table-contain pb-1">
              <table mat-table [dataSource]="dataSourceBlock" class="aura-table" *ngIf="!breakpoint.value.matches">
                <ng-container *ngFor="let template of templatesBlock; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th mat-header-cell *matHeaderCellDef class="col-per-25 {{ i === 2 ? 'pl-5' : '' }}">
                      <div [innerHTML]="template.headerCellDef | translate"></div>
                    </th>

                    <td mat-cell *matCellDef="let data">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <div *ngSwitchCase="'timestamp'">
                            {{ data[template.matColumnDef] | customDateTime: 'Distance' }}
                          </div>
                          <a
                            *ngSwitchCase="'block_hash'"
                            class="text--primary cursor-pointer"
                            [routerLink]="['/block', data.height]">
                            {{ data[template.matColumnDef] | ellipsis: 8 : 8 }}
                          </a>
                          <a
                            *ngSwitchCase="'height'"
                            class="text--primary cursor-pointer"
                            [routerLink]="['/block', data.height]">
                            {{ data[template.matColumnDef] }}
                          </a>
                          <div *ngSwitchDefault class="pl-5">{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBlock"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBlock"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data pt-8" colspan="9999">
                    <app-loading-sprint></app-loading-sprint>
                  </td>
                </tr>
              </table>
              <ng-container *ngIf="breakpoint.value.matches">
                <div *ngIf="dataSourceBlock" class="titleMob">
                  <app-card-mob-simple
                    *ngFor="let data of dataSourceBlockMob"
                    [link]="'/block/' + data.height"
                    [content]="[
                      {
                        label: data.height,
                        class: 'body-01 text--gray-1',
                        info: (data.timestamp | customDateTime: 'Distance')
                      },
                      { label: 'Txs', class: 'body-01 text--gray-1', info: data.num_txs.toString() },
                      {
                        label: 'Voting Start',
                        class: 'card__date text--gray-1 body-01-mob',
                        info:
                          '<span>' +
                          (data.timestamp | customDateTime: 'DateOnly') +
                          '</span>' +
                          '<span>' +
                          (data.timestamp | customDateTime: 'TimeOnly') +
                          '</span>'
                      }
                    ]"></app-card-mob-simple>
                </div>
              </ng-container>
              <app-paginator
                [length]="lengthBlock"
                [pageSize]="pageSize"
                (paginator)="paginatorEmit($event, 'block')"
                (pageEvent)="pageEvent($event, 'block')"
                [id]="'block'">
              </app-paginator>
            </div>
          </ng-container>
          <ng-template #noValues>
            <div class="mt-20">
              <app-loading-sprint *ngIf="isLoadingBlock"></app-loading-sprint>
              <app-table-no-data *ngIf="!isLoadingBlock" [textNull]="errTxtProposedBlock"></app-table-no-data>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-lg-flex align-items-center header-mob pb-0">
          <div class="flex-grow-1 d-flex align-items-center">
            <h3 class="h2-mob text--gray-1 mb-0">Uptime</h3>
            <div class="d-flex ml-1">
              <img
                [appTooltip]="'Missed Blocks are displayed with an X'"
                [src]="'assets/images/icons/questionmark-icon.svg' | imageS3"
                alt=""
                *ngIf="!breakpoint.value.matches" />
            </div>
          </div>
          <div class="body-01 text--gray-5 mt-1 mt-lg-0">Last {{ numberLastBlock }} Blocks</div>
        </div>
        <div class="text-center box-uptime">
          <div class="card-body article-1 pt-4">
            <div class="uptime-content m-lg-auto">
              <app-loading-sprint *ngIf="lastBlockLoading" class="w-100"></app-loading-sprint>
              <ng-container *ngIf="!lastBlockLoading">
                <ng-container *ngFor="let itemBlock of arrLastBlock">
                  <a
                    class="block-uptime tool-tip"
                    [appTooltip]="(itemBlock?.height || 0).toString()"
                    [class.block-fail]="isBlockFail(itemBlock)"
                    href="/block/{{ itemBlock?.height }}"
                    currentitem="false">
                    <div class="d-flex">
                      <ng-container *ngIf="isBlockFail(itemBlock)">
                        <img class="img-uptime-miss" [src]="'assets/images/icons/uptime-fail.svg' | imageS3" alt="" />
                      </ng-container>
                    </div>
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delegators + Power Events -->
  <div class="row mt-1">
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-lg-flex align-items-center justify-content-between header-mob pb-0">
          <h3 class="h2-mob mb-0 text--gray-1">Delegators</h3>
        </div>
        <div class="card-body article-1 pt-4">
          <ng-container *ngIf="lengthDelegator > 0 && !isLoadingDelegators; else noValues">
            <div class="overflow-scroll-x" *ngIf="!breakpoint.value.matches">
              <table mat-table [dataSource]="dataSourceDelegator" class="aura-table">
                <ng-container *ngFor="let template of templatesDelegator; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th mat-header-cell *matHeaderCellDef class="col-per-50">
                      <div [innerHTML]="template.headerCellDef | translate"></div>
                    </th>

                    <td mat-cell *matCellDef="let data">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <app-name-tag
                            *ngSwitchCase="'delegator_address'"
                            [linkRouter]="['/address', data.delegator_address]"
                            [value]="data.delegator_address"
                            [tooltipPosition]="'tooltip--right'"></app-name-tag>
                          <div *ngSwitchCase="'amount'">
                            {{ data[template.matColumnDef] | mask: 'separator.6' }}
                            <span appLinkDenom>{{ denom }}</span>
                          </div>
                          <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDelegator"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDelegator"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data pt-8" colspan="9999">
                    <app-loading-sprint></app-loading-sprint>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="breakpoint.value.matches">
              <div class="custom-card-mob-simple body-01 mb-2" *ngFor="let data of dataSourceDelegatorMob">
                <a
                  [routerLink]="['/address', data.delegator_address]"
                  class="{{
                    !(data.delegator_address | nameTagTooltipPipe)
                      ? (data.delegator_address | isPrivateNameTag)
                        ? 'name-tag private-name-tag text--primary'
                        : 'name-tag text--primary'
                      : 'text--primary'
                  }}"
                  [copyBtn]="data.delegator_address">
                  {{
                    !(data.delegator_address | nameTagTooltipPipe)
                      ? (data.delegator_address | nameTag | ellipsis: 16)
                      : (data.delegator_address | nameTag | ellipsis: 6 : 6)
                  }}
                </a>
                <div class="mt-3 d-flex align-items-center justify-content-between">
                  <div class="text--gray-4">Amount</div>
                  <div class="d-flex">
                    <div class="text--white mr-2">{{ data.amount | mask: 'separator.6' }}</div>
                    <a class="text--primary" href="/token/{{ minimalDenom }}">{{ denom }}</a>
                  </div>
                </div>
              </div>
            </div>
            <app-paginator
              *ngIf="lengthDelegator > 0"
              [length]="lengthDelegator"
              [pageSize]="pageSize"
              [id]="'delegator'"
              (paginator)="paginatorEmit($event, 'delegator')"
              (pageEvent)="pageEvent($event, 'delegator')">
            </app-paginator>
          </ng-container>
          <ng-template #noValues>
            <div class="mt-20">
              <app-loading-sprint *ngIf="isLoadingDelegators"></app-loading-sprint>
              <app-table-no-data *ngIf="!isLoadingDelegators" [textNull]="errTxtDelegators"></app-table-no-data>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header align-items-center d-flex header-mob pb-0">
          <h3 class="h2-mob mb-0 text--gray-1">Power Events</h3>
        </div>
        <div class="card-body article-1 pt-4">
          <div *ngIf="isLoadingPower" class="m-auto mt-20">
            <app-loading-sprint></app-loading-sprint>
          </div>
          <ng-container *ngIf="!isLoadingPower">
            <ng-container *ngIf="lengthPower > 0; else noValues">
              <div class="overflow-scroll-x" *ngIf="!breakpoint.value.matches">
                <table mat-table [dataSource]="dataSourcePower" class="aura-table">
                  <ng-container *ngFor="let template of templatesPower; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th mat-header-cell *matHeaderCellDef class="{{ i === 0 ? 'col-per-20' : 'col-per-25' }}">
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>

                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ data[template.matColumnDef] | customDateTime: 'Distance' }}
                            </div>
                            <a
                              *ngSwitchCase="'tx_hash'"
                              [copyBtn]="data[template.matColumnDef]"
                              class="text--primary cursor-pointer hash-link"
                              [routerLink]="['/tx', data['tx_hash']]">
                              {{ data[template.matColumnDef] | ellipsis: 8 : 8 }}
                            </a>
                            <div *ngSwitchCase="'amount'">
                              <ng-container *ngIf="data['amount'] === 'More'">
                                <a
                                  class="text--primary cursor-pointer hash-link"
                                  [routerLink]="['/tx', data['tx_hash']]">
                                  More
                                </a>
                              </ng-container>
                              <ng-container *ngIf="!data['amount']">0</ng-container>
                              <ng-container *ngIf="data['amount'] !== 'More' && data['amount'] > 0">
                                <span [ngClass]="data['isStakeMode'] ? 'text--green-3' : 'text--danger'">
                                  {{ data['isStakeMode'] ? '+' : '-' }}
                                  {{ data[template.matColumnDef] | mask: 'separator.6' }}
                                </span>
                              </ng-container>
                            </div>
                            <a
                              *ngSwitchCase="'height'"
                              class="text--primary cursor-pointer block-link"
                              [routerLink]="['/block', data[template.matColumnDef]]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPower"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPower"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data pt-8" colspan="9999">
                      <app-loading-sprint></app-loading-sprint>
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngIf="breakpoint.value.matches">
                <div class="custom-card-mob-simple body-01 mb-2" *ngFor="let data of dataSourcePowerMob">
                  <div class="d-flex align-items-center justify-content-between text--primary">
                    <a href="/block/{{ data.height }}">{{ data.height }}</a>
                    <a href="/tx/{{ data.tx_hash }}" [copyBtn]="data.tx_hash">{{ data.tx_hash | ellipsis: 6 : 6 }}</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="text--gray-4">Amount</div>
                    <div
                      [innerHTML]="
                        !data.amount || data.amount === 0 || data.amount === 'More'
                          ? data.amount.toString()
                          : data.isStakeMode
                            ? '<span class=text--green-3>' + '\+ ' + (data.amount | mask: 'separator.6') + '</span>'
                            : '<span class=text--danger>' + '\- ' + (data.amount | mask: 'separator.6') + '</span>'
                      "></div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-3">
                    <div class="text--gray-4">Time</div>
                    <div class="card__date text--gray-1 body-01-mob">
                      <span>{{ data.timestamp | customDateTime: 'DateOnly' }}</span>
                      <span>{{ data.timestamp | customDateTime: 'TimeOnly' }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <app-paginator
                [length]="lengthPower"
                [pageSize]="pageSize"
                (paginator)="paginatorEmit($event, 'power')"
                (pageEvent)="pageEvent($event, 'power')"
                [id]="'power'">
              </app-paginator>
            </ng-container>
          </ng-container>
          <ng-template #noValues>
            <div class="mt-20">
              <app-table-no-data [textNull]="errTxtPowerEvent"></app-table-no-data>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<app-delegate-item
  [currentValidatorDetail]="currentValidatorDetail"
  [isOpenDialog]="isOpenDialog"
  (changeStatus)="updateStatus($event)"
  (reloadData)="loadData()">
</app-delegate-item>
