<app-pagetitle title="Validator Details" [breadcrumbItems]="breadCrumbItems" [displayInfo]="true"></app-pagetitle>
<section *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card text--white" *ngIf="currentValidatorDetail">
    <div class="card-header header-mob">
      <div class="d-flex">
        <div class="avatar-wrapper flex-shrink-0 mr-2 mr-lg-5" *ngIf="!breakpoint.value.matches">
          <!-- <div class="validator-avatar x-large" [class.x-large]="!breakpoint.value.matches"> -->
          <div class="validator-avatar x-large">
            <app-loading-image [srcImg]="getValidatorAvatar(currentValidatorDetail.operator_address)">
            </app-loading-image>
          </div>
          <div class="rank-wrapper" [class._small]="breakpoint.value.matches">
            <div class="box-rank _fill" [class._small]="breakpoint.value.matches">
              <span> {{ currentValidatorDetail?.rank }} </span>
            </div>
          </div>
        </div>
        <div class="flex-grow-1 validator-detail">
          <div class="d-flex justify-content-between align-items-center">
            <div class="title-small mb-2 d-flex">
              <!-- <div *ngIf="!breakpoint.value.matches">#{{ currentValidatorDetail?.rank }}</div> -->
              <div class="avatar-wrapper flex-shrink-0 mr-2 mr-lg-5" *ngIf="breakpoint.value.matches">
                <div class="validator-avatar">
                  <app-loading-image [srcImg]="getValidatorAvatar(currentValidatorDetail.operator_address)">
                  </app-loading-image>
                </div>
                <div class="rank-wrapper" [class._small]="breakpoint.value.matches">
                  <div class="box-rank _fill" [class._small]="breakpoint.value.matches">
                    <span> {{ currentValidatorDetail?.rank }} </span>
                  </div>
                </div>
              </div>
              <div [class.fw-500]="breakpoint.value.matches">{{ currentValidatorDetail?.title }}</div>
            </div>
            <div
              class="valid-status fw-semibold"
              [class.status-inactive]="currentValidatorDetail?.status !== statusValidator.Active"
              [class.status-jailed]="currentValidatorDetail?.jailed"
              [ngClass]="{ 'small-body': breakpoint.value.matches }">
              <ng-container *ngIf="currentValidatorDetail?.jailed">
                <!-- <img class="img-valid" [src]="'assets/images/icons/fail.svg'" alt="" /> -->
                Jailed
              </ng-container>
              <ng-container
                *ngIf="!currentValidatorDetail?.jailed && currentValidatorDetail?.status === statusValidator.Active">
                <!-- <img class="img-valid" [src]="'assets/images/icons/success.svg'" alt="" /> -->
                Active
              </ng-container>
              <ng-container
                *ngIf="!currentValidatorDetail?.jailed && currentValidatorDetail?.status !== statusValidator.Active">
                <!-- <img class="img-valid" [src]="'assets/images/icons/fail.svg'" alt=""  /> -->
                inActive
              </ng-container>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="mt-3">
                  <div class="d-flex position-relative">
                    <div class="header-title fw-semibold">Operator Address</div>
                    <div class="img-wrap">
                      <img
                        class="img-question ml-1"
                        [src]="'assets/images/icons/questionmark-icon.svg'"
                        alt=""
                        matTooltip="Validator operator address at which token
                                         holders delegate their voting powers to."
                        [matTooltipPosition]="'above'"
                        *ngIf="!breakpoint.value.matches" />
                    </div>
                  </div>
                  <span class="fw-normal">{{ currentValidatorDetail?.operator_address }}</span>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="mt-3">
                  <div class="header-title fw-semibold">Address</div>
                  <a
                    class="text--green cursor-pointer fw-normal"
                    [routerLink]="['/account', currentValidatorDetail?.acc_address]">
                    {{ currentValidatorDetail?.acc_address }}
                  </a>
                </div>
              </div>
            </div>
            <div class="border-header"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-3">
          <div class="card-text fw-semibold">Website</div>
        </div>
        <div class="col-12 col-lg-6">
          <a class="text--green cursor-pointer" href="{{ currentValidatorDetail?.website }}">{{
            currentValidatorDetail?.website
          }}</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Commission</div>
        </div>
        <div class="col-12 col-lg-6">
          {{ currentValidatorDetail?.commission | percent: global.formatNumber2Decimal }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Uptime</div>
        </div>
        <div class="col-12 col-lg-6">{{ currentValidatorDetail?.up_time }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Voting Power</div>
        </div>
        <div class="col-12 col-lg-6">
          {{ currentValidatorDetail?.percent_power }}% ({{
            currentValidatorDetail?.power | number: global.formatNumberToken
          }}
          <span class="text--green">{{ denom }}</span
          >)
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Bonded Height</div>
        </div>
        <div class="col-12 col-lg-6">{{ currentValidatorDetail?.bonded_height | number }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <div class="card-text fw-semibold">Self Bonded</div>
        </div>
        <div class="col-12 col-lg-6">
          {{ currentValidatorDetail?.self_bonded | number: global.formatNumberToken }}
          <span class="text--green">{{ denom }}</span> ({{ currentValidatorDetail?.percent_self_bonded }})
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="card-text fw-semibold">Details</div>
        </div>
        <div class="ol-12 col-lg-6">{{ currentValidatorDetail?.details }}</div>
      </div>
    </div>
  </div>
  <div class="card py-10" *ngIf="!currentValidatorDetail">
    <app-loading-sprint></app-loading-sprint>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-flex align-items-center justify-content-between header-mob">
          <div class="title-small fw-500">Proposed Blocks</div>
          <div class="small-body-mob">
            <span class="fw-bold mr-2">Total :</span><span>{{ lengthBlock | number }} blocks </span>
          </div>
        </div>
        <div class="card-body article-1">
          <ngx-simplebar>
            <ng-container *ngIf="lengthBlock > 0; else noValues">
              <div class="table-responsive aura-table-contain">
                <table mat-table [dataSource]="dataSourceBlock" class="aura-table" *ngIf="!breakpoint.value.matches">
                  <ng-container *ngFor="let template of templatesBlock; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th mat-header-cell *matHeaderCellDef class="col-per-25">
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>

                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                            </div>
                            <a
                              *ngSwitchCase="'block_hash_format'"
                              class="text--green cursor-pointer"
                              [routerLink]="['/blocks', data.height]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <a
                              *ngSwitchCase="'height'"
                              class="text--green cursor-pointer"
                              [routerLink]="['/blocks', data.height]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBlock"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBlock"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data pt-8" colspan="9999">
                      <app-loading-sprint></app-loading-sprint>
                    </td>
                  </tr>
                </table>
                <ng-container *ngIf="breakpoint.value.matches">
                  <div *ngIf="dataSourceBlock">
                    <app-card-mob-simple
                      *ngFor="let data of dataSourceBlock.data"
                      [link]="'/blocks/' + data.height"
                      [title]="{
                        size: 'md',
                        label: data.height,
                        subLabelContent: commonService.getDateValue(data.timestamp)[0]
                      }"
                      [content]="[
                        { label: 'Txs', info: data.num_txs.toString() },
                        { label: 'Time', info: commonService.getDateValue(data.timestamp, false)[1] }
                      ]"></app-card-mob-simple>
                  </div>
                </ng-container>
                <app-paginator
                  [length]="lengthBlock"
                  [pageSize]="pageSize"
                  (paginator)="paginatorEmit($event, 'block')"
                  (pageEvent)="pageEvent($event, 'block')"
                  [id]="'block'">
                </app-paginator>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-loading-sprint *ngIf="lengthBlockLoading"></app-loading-sprint>
              <app-table-no-data *ngIf="!lengthBlockLoading"></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-flex header-mob">
          <div class="flex-grow-1 d-flex align-items-center">
            <div class="title-small fw-500">Uptime</div>
            <div class="img-wrap">
              <img
                class="img-question ml-1"
                [src]="'assets/images/icons/questionmark-icon.svg'"
                alt=""
                matTooltip="Missed Blocks are displayed with an X"
                [matTooltipPosition]="'above'"
                *ngIf="!breakpoint.value.matches" />
            </div>
          </div>
          <div class="box-info body-mob">Last 100 Blocks</div>
        </div>
        <div class="text-center">
          <div class="card-body article-1 uptime-content">
            <ng-container *ngFor="let itemBlock of arrayUpTime; let index = index">
              <a
                class="block-uptime tool-tip"
                [ngStyle]="{
                  'background-color':
                    itemBlock?.isSync || currentValidatorDetail?.status !== statusValidator.Active ? 'none' : '#5EE6D0'
                }"
                href="/blocks/{{ itemBlock?.height }}"
                currentitem="false"
                matTooltip="{{ itemBlock?.height || 0 }}"
                [matTooltipPosition]="'above'">
                <div class="d-flex">
                  <img class="img-uptime-miss" [src]="'assets/images/icons/uptime-fail.svg'" alt="" />
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card text--white">
        <div class="card-header d-flex align-items-center justify-content-between header-mob">
          <div class="title-small fw-500">Delegators</div>
          <div class="box-info d-flex align-items-center" *ngIf="lengthDelegator">
            <img src="/assets/icons/icons-svg/white/user.svg" class="img-valid" />
            <span class="body">{{ lengthDelegator | number }}</span>
          </div>
        </div>
        <div class="card-body article-1 px-0">
          <ngx-simplebar>
            <ng-container *ngIf="lengthDelegator > 0; else noValues">
              <div class="table-responsive aura-table-contain">
                <table
                  mat-table
                  [dataSource]="dataSourceDelegator.data"
                  class="aura-table"
                  *ngIf="!breakpoint.value.matches">
                  <ng-container *ngFor="let template of templatesDelegator; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th mat-header-cell *matHeaderCellDef class="col-per-50">
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>

                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <a
                              *ngSwitchCase="'delegator_address_format'"
                              class="text--green cursor-pointer"
                              [routerLink]="['/account', data.delegator_address]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchCase="'amount'">
                              {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                              <span class="text--green">{{ denom }}</span>
                            </div>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsDelegator"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsDelegator"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data pt-8" colspan="9999">
                      <app-loading-sprint></app-loading-sprint>
                    </td>
                  </tr>
                </table>
                <ng-container *ngIf="breakpoint.value.matches">
                  <app-card-mob-simple
                    *ngFor="let data of dataSourceDelegator.data"
                    [link]="'/account/' + data.delegator_address"
                    [title]="{ size: 'sm', label: data.delegator_address_format, subLabelContent: null }"
                    [content]="[
                      {
                        label: 'Amount',
                        info:
                          (data.amount | number: global.formatNumberToken) +
                          '<span class=text--green> ' +
                          denom +
                          '</span>'
                      }
                    ]"></app-card-mob-simple>
                </ng-container>
                <app-paginator
                  [length]="lengthDelegator"
                  [pageSize]="pageSize"
                  [id]="'delegator'"
                  (paginator)="paginatorEmit($event, 'delegator')"
                  (pageEvent)="pageEvent($event, 'delegator')">
                </app-paginator>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
          <!-- <mat-paginator [length]="lengthDelegator" [pageIndex]="pageIndexDelegator" [pageSize]="pageSize"
            (page)="changePage($event, 'delegator')" *ngIf="lengthDelegator">
          </mat-paginator> -->
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card text--white pb-lg-1">
        <div class="card-header align-items-center d-flex header-mob">
          <div class="title-small fw-500">Power Events</div>
          <!-- <button type="button" class="btn btn-link waves-effect btn-show-more" [routerLink]="'/transaction'">Show more</button> -->
        </div>
        <div class="card-body article-1 px-0">
          <ngx-simplebar>
            <ng-container *ngIf="lengthPower > 0; else noValues">
              <div class="table-responsive aura-table-contain">
                <table
                  mat-table
                  [dataSource]="dataSourcePower.data"
                  class="aura-table"
                  *ngIf="!breakpoint.value.matches">
                  <ng-container *ngFor="let template of templatesPower; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th mat-header-cell *matHeaderCellDef class="col-per-25">
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>

                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                            </div>
                            <a
                              *ngSwitchCase="'tx_hash_format'"
                              class="text--green cursor-pointer hash-link"
                              [routerLink]="['/transaction', data['tx_hash']]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div
                              *ngSwitchCase="'amount'"
                              [ngStyle]="{ color: data['isStakeMode'] ? '#37cc6e' : '#ff2745' }">
                              {{ data['isStakeMode'] ? '+' : '-' }}
                              {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                            </div>
                            <a
                              *ngSwitchCase="'height'"
                              class="text--green cursor-pointer block-link"
                              [routerLink]="['/blocks', data[template.matColumnDef]]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPower"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPower"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data pt-8" colspan="9999">
                      <app-loading-sprint></app-loading-sprint>
                    </td>
                  </tr>
                </table>
                <ng-container *ngIf="breakpoint.value.matches">
                  <app-card-mob-simple
                    *ngFor="let data of dataSourcePower.data"
                    [link]="'/blocks/id/' + data.blockId"
                    [title]="{
                      size: 'sm',
                      label: data.height,
                      subLabelContent: data.tx_hash_format,
                      subLabelClass: 'text--green fw-normal'
                    }"
                    [content]="[
                      { label: 'Amount', info: checkAmountStaking(data.amount, data.isStakeMode) },
                      { label: 'Time', info: commonService.getDateValue(data.timestamp, false)[1] }
                    ]"></app-card-mob-simple>
                </ng-container>
                <app-paginator
                  [length]="lengthPower"
                  [pageSize]="pageSize"
                  (paginator)="paginatorEmit($event, 'power')"
                  (pageEvent)="pageEvent($event, 'power')"
                  [id]="'power'">
                </app-paginator>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-loading-sprint *ngIf="lengthPowerLoading"></app-loading-sprint>
              <app-table-no-data *ngIf="!lengthPowerLoading"></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
          <!-- <mat-paginator [length]="lengthPower" [pageIndex]="pageIndexPower" [pageSize]="pageSize"
            (page)="changePage($event, 'power')" *ngIf="lengthPower">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</section>
