@import "../../../../assets/scss/color.scss";

.valid-detail-content {
  .card-header {
    font-size: 1rem;
    min-height: 80px;
    .header-valid {
      font-size: 1.5rem;
      font-weight: 700;
      // margin-bottom: 10px;
    }
    .header-title {
      font-weight: 500;
    }
    .box-info {
      background-color: $validator-bg-header;
      border-radius: 5px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      padding: 10px 1rem;
      height: 30px;
      font-size: 14px;
      // margin-bottom: 1rem;
      .img-valid {
        width: auto;
        height: 20px;
        margin-right: 10px;
      }
    }
    .box-rank {
      font-size: 1.6rem;
      width: 5rem;
      height: 5rem;
    }
  }
  .box-data-content {
    .card-body {
      min-height: 400px;
    }
    .uptime-content {
      white-space: pre-wrap;
      flex-wrap: wrap;
      display: flex;
      width: 77%;
      margin: auto;
      align-content: flex-start;
      .block-uptime {
        margin: 0px 3px 7px 3px;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        // background-color: white;
        border: 2px solid $validator-bg-uptime;
        border-radius: 5px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        .block-item {
          border-radius: 3px;
          display: inline-block;
          font-size: 13px;
          left: -999em;
          opacity: 0;
          padding: 8px 21px;
          position: fixed;
          pointer-events: none;
          transition: opacity 0.3s ease-out;
          top: -999em;
          visibility: hidden;
          z-index: 999;
        }
        .img-uptime-miss {
          filter: $filter-purple-icon;
        }
      }
      .tool-tip {
        position: relative;
      }
      .tool-tip .tooltiptext {
        visibility: hidden;
        width: auto;
        background-color: $white;
        color: $black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        bottom: 10px;
        border: 1px solid transparent;
      }
      .tool-tip:hover .tooltiptext {
        visibility: visible;
      }
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: 500;
  }
  .box-status {
    position: absolute;
    right: 0;
    top: 0.7rem;
    display: -webkit-flex;
    display: flex;
    grid-column-gap: 1.2rem;
    -webkit-column-gap: 1.2rem;
    -moz-column-gap: 1.2rem;
    column-gap: 1.2rem;
    right: 30px;
    justify-content: flex-end;
    .valid-status {
      background-color: #37cc6e;
      border-radius: 10rem;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      padding: 3px 0.8rem;
      color: $white;
      font-size: 1rem;
      font-weight: 600;
      .img-valid {
        filter: $filter-white-icon;
        margin-right: 5px;
        width: auto;
        height: 15px;
      }
      &.status-inactive{
        background-color: #4b525d;
      }
      &.status-jailed{
        background-color: #ff2745;
      }
    }
  }
  .card-text {
    font-weight: 600;
  }
}

.img-description-layer {
  position: absolute;
  top: -60px;
  left: 40px;
  height: auto;
  background: $white;
  opacity: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  font-size: 11px;
  border-radius: 10px;
  font-weight: 500;
  width: max-content;
  &.box-uptime {
    top: -20px;
    left: 0px;
  }
}

.img-wrap:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}

.img-description {
  transition: 0.2s;
  transform: translateY(1em);
}

.img-wrap:hover .img-description {
  transform: translateY(0);
}
