@import "../../../../assets/scss/color.scss";

.box-info {
  .img-valid {
    width: auto;
    height: 20px;
    margin-right: 10px;
  }
}

.validator-detail {
  max-width: calc(100% - 28px);
}

.article-1.uptime-content {
  white-space: pre-wrap;
  flex-wrap: wrap;
  display: flex;
  width: 77%;
  margin: auto;
  align-items: center;

  .block-uptime {
    margin: 0px 3px 7px 3px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid $validator-bg-uptime;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 31px;
    height: 31px;

    .block-item {
      border-radius: 3px;
      display: inline-block;
      font-size: 13px;
      left: -999em;
      opacity: 0;
      padding: 8px 21px;
      position: fixed;
      pointer-events: none;
      transition: opacity 0.3s ease-out;
      top: -999em;
      visibility: hidden;
      z-index: 999;
    }

    .img-uptime-miss {
      filter: $filter-uptime-icon;
    }
  }

  @media (max-width: 1199.99px) {
    min-height: 300px;
  }

  @media (max-width: 767.99px) {
    width: 100%;
    max-width: fit-content;
    min-height: 230px;

    .block-uptime {
      margin: 0 5px 7px 5px;
      width: 24px;
      height: 24px;
    }

    .header-mob {
      background: transparent;
      padding-bottom: 2px;
    }
  }
}





.valid-status {
  display: inline-flex;
  align-items: center;
  width: auto;
  padding: 8px 16px;
  background-color: rgba(94, 230, 157, 0.2);
  color: var(--aura-active);
  border-radius: 4px;

  .img-valid {
    filter: $filter-white-icon;
    margin-right: 5px;
    width: auto;
    height: 15px;
  }

  &.status-inactive {
    background-color: rgba(119, 126, 144, 0.2);
    color: var(--aura-light-gray);
  }

  &.status-jailed {
    background-color: rgba(230, 94, 94, 0.2);
    color: var(--aura-danger);
  }
}

.article-1 {
  @media (min-width: 1200px) and (max-width: 1399.99px) {
    min-height: 430px;
  }

  min-height: 410px;
}

form.search-form {
  .input-group {
    input.form-control {
      width: 100%;

      @media (min-width: 992px) {
        width: 500px;
      }
    }
  }
}

@media (max-width: 991.99px) {
  .header-mob {
    background: transparent;
    padding-bottom: 2px;
  }

  .border-header {
    height: 1px;
    margin-top: 15px;
    background: var(--aura-dark-gray);
  }
}