<div class="nft-cards__img">
  <a href="{{ nftLink }}">
    <img
      *ngIf="(getTypeFile(nftItem) !== MEDIA_TYPE.IMG && !nftItem.animation?.link_s3) || isError"
      [src]="defaultImgToken"
      alt="" />
    <img *ngIf="getTypeFile(nftItem) === MEDIA_TYPE.IMG && isError === false" (error)="error()" [src]="this.nftUrl" alt="" />
  </a>
  <app-custom-video-player
    [videoSrc]="this.nftUrl"
    [showControl]="false"
    [link]="nftLink"
    [nftId]="nftId"
    *ngIf="getTypeFile(nftItem) === MEDIA_TYPE.VIDEO && nftItem.animation?.link_s3">
  </app-custom-video-player>
  <app-model-view
    *ngIf="getTypeFile(nftItem) === MEDIA_TYPE._3D && nftItem.animation?.link_s3"
    [modelUrl]="this.nftUrl"
    [link]="nftLink"
    [disablePan]="true">
  </app-model-view>
  <app-audio-player
    *ngIf="getTypeFile(nftItem) === MEDIA_TYPE.AUDIO && nftItem.animation?.link_s3"
    [link]="nftLink"
    [src]="this.nftUrl"
    [nftId]="nftId">
  </app-audio-player>
</div>
