<div class="nft-card-container" routerLink="/moment/{{ nftItem?.momentId }}">
  <div class="card-image" #card>
    <img *ngIf="nftType === 'img'" src="{{ nftItem.media_info[0]?.media_link }}" alt="" />
    <app-custom-video-player
      [videoSrc]="this.nftItem?.media_info[0]?.media_link"
      [showControl]="false"
      *ngIf="nftType === 'video'"
      [isMuted]="true"
    >
    </app-custom-video-player>
    <!-- <app-model-view
      *ngIf="nftType === '3d'"
      [modelUrl]="nftItem?.momentDisplayUri"
      [appHeight]="card.clientHeight"
      [appWidth]="card.clientWidth"
      [disablePan]="true"
    ></app-model-view> -->
  </div>
  <div class="card-name h4 text-ellipsis-3">
    {{ nftItem?.momentName }}
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div class="singer text-3">
      <!-- <app-level [level]="nftItem?.momentLevel || 0"></app-level> -->
    </div>
    <div class="count text-3">
      <i class="icon icon--switch-stage icon-nft g-mr-8"></i>
      {{ nftItem?.momentNFTAmount | mask: "separator" }} NFT
    </div>
  </div>
</div>
