<div class="nft-cards__img">
  <a href="{{ nftLink }}">
    <img *ngIf="!nftType || isError" [src]="defaultImgToken" alt="" />
    <img *ngIf="nftType === 'img' && isError === false" (error)="error()" [src]="this.nftUrl" alt="" />
  </a>
  <app-custom-video-player
    [videoSrc]="this.nftUrl"
    [showControl]="false"
    [link]="nftLink"
    [nftId]="nftId"
    *ngIf="nftType === 'video'">
  </app-custom-video-player>
  <app-model-view *ngIf="nftType === '3d'" [modelUrl]="this.nftUrl" [link]="nftLink" [disablePan]="true">
  </app-model-view>
  <app-audio-player *ngIf="nftType === 'audio'" [link]="nftLink" [src]="this.nftUrl" [nftId]="nftId">
  </app-audio-player>
</div>
