.nft-card-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 400px;

    .card-image {
        height: 300px;
        width: 274px;
        border: 2px solid var(--aura-gray-5);
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        video {
            width: 100%;
            max-height: 250px;
        }

    }

    .card-name {
        color: var(--white);
    }

    .count {
        color: var(--neutrals-10);
        display: flex;
        align-items: center;
    }

    &:hover {
        .card-image {
            border: solid 2px transparent;
            background-image: var(--aura-gradient-artaverse);
            background-origin: border-box;
            background-clip: content-box, border-box;
        }

        .card-name {
            background: var(--aura-gradient-general);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}