.card-mob-simple {
  background-color: var(--aura-gray-9);
  border-radius: var(--spacer-2);
  padding: 14px var(--spacer-3);
  margin-bottom: var(--spacer-2);
  & > * {
    color: var(--aura-white);
  }
  .title {
    &-sm {
      font-weight: 400;
    }
    &-md {
      font-weight: 500;
    }
    &-lg {
      font-weight: 600;
    }
  }
  .sub-label {
    width: 120px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: 500;
    &.label__status {
      font-weight: 600;
    }
  }
  .label__status {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    line-height: 1.6rem !important;
  }
  .avt {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    .avt__num {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 9px;
      font-weight: 700;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      background-color: var(--aura-primary);
      color: var(--aura-black);
    }
  }
  .fw-normal {
    font-weight: normal;
  }
  .divider.divider-horizontal {
    background-color: var(--aura-gray-8);
  }
  .w-time {
    width: 180px;
    text-align: right;
  }
}

::ng-deep.card__date {
  span:first-child {
    margin-right: 16px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -8px;
      width: 1px;
      height: 10px;
      background-color: var(--aura-gray-8);
    }
  }
}
