.card-mob-simple {
  background-color: var(--aura-gray-9);
  border-radius: var(--spacer-2);
  padding: 14px var(--spacer-3);
  margin-bottom: var(--spacer-2);
  & > * {
    color: var(--aura-white);
  }
  .title {
    &-sm { font-weight: 400;}
    &-md { font-weight: 500;}
    &-lg { font-weight: 600;}
  }
  .sub-label {
    font-weight: 500;
    &.label__status {
      font-weight: 600;
    }
  }
  .label__status {
    font-size: 1.4rem !important;
    line-height: 1.6rem !important;
  }
  .fw-normal {
    font-weight: normal;
  }
  .divider.divider-horizontal {
    background-color: var(--aura-gray-8);
  }
}

::ng-deep.card__date {
  span:first-child {
    margin-right: 16px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -8px;
      width: 1px;
      height: 10px;
      background-color: var(--aura-gray-8);
    }
  }
}
