<div *ngIf="link" class="card-mob-simple">
    <a href="{{link}}">
        <div *ngIf="title" class="d-flex justify-content-between align-items-center body">
            <div *ngIf="title.label" class="text--green {{title.size ? ('title-'+title.size) : ''}}">
                <span *ngIf="title.rankNum" class="mr-2">{{title.rankNum}}</span>
                <span>{{title.label}}</span>
            </div>
            <div *ngIf="title.subLabelContent" class="{{title.subLabelClass ? title.subLabelClass : ''}}">{{title.subLabelContent}}</div>
        </div>
        <div *ngIf="content && content.length > 0">
            <div *ngFor="let data of content" class="mt-2 d-flex justify-content-between align-items-center small-body">
                <div *ngIf="data.label">{{data.label}}</div>
                <div *ngIf="data.info" [innerHTML]="data.info"></div>
                <div *ngIf="data.isFail">{{data.isFail}}</div>
            </div>
        </div>
    </a>
</div>
