<div class="d-flex justify-content-between justify-content-lg-start mb-4 mb-lg-5">
  <div class="d-lg-flex align-items-center">
    <h1 class="mb-0 text--white" id="ttiopa123">Contract</h1>
    <span class="text--gray-5 body-01 body-02-mob ml-lg-2 break-word mt-2 mt-lg-0">{{ contractAddress }}</span>
  </div>
  <div class="d-flex align-items-center ml-10 ml-lg-2">
    <button class="button button--xxs button--sm-mob button-circle">
      <img
            [src]="'assets/icons/icons-svg/basic/copy.svg' | imageS3"
            class="button__icon"
            alt=""
            matTooltip="Copied!"
            #tooltip="matTooltip"
            (mouseenter)="$event.stopImmediatePropagation()"
            (mouseleave)="$event.stopImmediatePropagation()"
            (click)="copyData(); tooltip.toggle()" />

    </button>
    <button class="button button--xxs button--sm-mob button-circle ml-4 ml-lg-2">
      <img
            [src]="'assets/icons/icons-svg/basic/qr-code.svg' | imageS3"
            alt=""
            class="button__icon"
            (click)="viewQrAddress(modalManage)" />
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-6">
    <app-contracts-overview-card [contractDetail]="contractDetail" *ngIf="contractDetail"></app-contracts-overview-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-contract-info-card [contractDetail]="contractDetail" *ngIf="contractDetail"></app-contract-info-card>
  </div>
</div>

<app-contract-content
  *ngIf="contractDetail"
  [contractsAddress]="contractAddress + ''"
  [contractTypeData]="contractDetail.contract_verification"></app-contract-content>

<div class="col-lg-3">
  <ng-template #modalManage let-modal>
    <div class="box-address">
      <div class="txt-right mb-4 cursor-pointer">
        <img
          [src]="'assets/images/icons/close-popup.png' | imageS3"
          alt=""
          width="16"
          height="16"
          (click)="closePopup()" />
      </div>
      <app-qr [address]="contractAddress?.toString() || ''"> </app-qr>
    </div>
  </ng-template>
</div>
