<h1 class="title-small fw-500 mb-5 text--white">
  Contract <span class="text--light-gray body fw-normal ml-1">{{ contractAddress }}</span>
</h1>
<div class="row">
  <div class="col-12 col-lg-6">
    <app-contracts-overview-card [contractDetail]="contractDetail" *ngIf="contractDetail"></app-contracts-overview-card>
  </div>

  <div class="col-12 col-lg-6">
    <app-contract-info-card [contractDetail]="contractDetail" *ngIf="contractDetail"></app-contract-info-card>
  </div>
</div>

<app-contract-content
  *ngIf="contractDetail"
  [contractsAddress]="contractAddress + ''"
  [contractTypeData]="contractDetail.contract_verification"></app-contract-content>
