.txt-copied {
    height: 0;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 0px 8px;
    &.show {
      opacity: 1;
      height: 24px;
    }
  }