/*
 * Page-title
 */

.page-title-box {
    padding-bottom: var(--spacer-4);
    @media (min-width: 992px) {
        padding-bottom: var(--spacer-6);
    }

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }
}
