/*
 * _header.scss
 */
#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1072;
  background-color: var(--aura-black);
}

.navbar-header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 52px;
  padding: 0 16px;
  @media (min-width: 992px) {
    padding: 0 40px;
    height: $header-height;
  }
  .dropdown .show {
    &.header-item {
      background-color: $gray-100;
    }
  }
}

.navbar-brand-box {
  width: $navbar-brand-box-width;
  background: $sidebar-bg;
  border-right: 1px solid $sidebar-border-color;
  box-shadow: 0px 2px 2px $sidebar-bg;
}

@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto;
  }
  .logo {
    span.logo-lg {
      display: none;
    }
    span.logo-sm {
      display: inline-block;
    }
  }
}

.page-content {
  padding: calc(#{$header-height} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} / 2) $footer-height
    calc(#{$grid-gutter-width} / 2);
}

body[data-topbar='dark'] {
  #page-topbar {
    background-color: var(--aura-black);
  }
  .navbar-brand-box {
    background-color: $header-dark-bg;
    border-color: $header-dark-bg;
    box-shadow: 0 0 2px $header-dark-bg;
    .logo {
      color: $white !important;
    }
  }
  .navbar-header {
    .dropdown .show {
      &.header-item {
        background-color: rgba($white, 0.05);
      }
    }
    .waves-effect .waves-ripple {
      background: rgba($white, 0.4);
    }
  }
}

.navbar-header {
  .dropdown {
    .dropdown-menu {
      left: -191px !important;
      @media (max-width: 576px) {
        left: -88px !important;
        right: 0 !important;
        li.dropdown-item {
          font-size: 1.4rem;
          padding: 5px 16px;
        }
      }
    }
  }
}

body[data-layout='horizontal'] {
  .navbar-brand-box {
    width: auto;
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .page-content {
    margin-top: $header-height;
    padding: 110px calc(#{$grid-gutter-width} / 2) 0 calc(#{$grid-gutter-width} / 2);
    @media (min-width: 992px) {
      padding: 88px calc(#{$grid-gutter-width} / 2) $footer-height calc(#{$grid-gutter-width} / 2);
    }
  }
  .navbar-header {
    @media (max-width: 414px) {
      padding: 0 var(--spacer-4) !important;
    }
  }
  &[data-sidebar='dark'] {
    .navbar-brand-box {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

@media (max-width: 992px) {
  body[data-layout='horizontal'] {
    .page-content {
      margin-top: 15px;
    }
  }
}
