<app-loading-sprint *ngIf="loading"></app-loading-sprint>
<ng-container *ngIf="!loading && !errTxt && tokenDetail">
  <div class="d-flex mb-4 mb-lg-5 align-items-center">
    <h1 class="mb-0 text--white ml-2">
      <div class="d-flex">
        Token <span class="text--gray-5 break-word ml-2">{{ tokenDetail?.name }}</span>
        <div class="status cursor-pointer">
          <img [src]="'assets/images/icons/CircleWavyCheck.svg' | imageS3" alt="" width="18" height="18" class="ml-1"
            [appTooltip]="tokenDetail?.verify_text || 'Verified by Aura Network'"
            *ngIf="tokenDetail?.verify_status === 'VERIFIED'" />
        </div>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-evm-token-overview *ngIf="tokenDetail" [tokenDetail]="tokenDetail"></app-evm-token-overview>
    </div>

    <div class="col-12 col-lg-6">
      <app-evm-token-summary *ngIf="tokenDetail" [tokenDetail]="tokenDetail"
        [tokenMoreInformation]="tokenMoreInformation"></app-evm-token-summary>
    </div>
  </div>

  <app-evm-token-content *ngIf="tokenDetail" [tokenDetail]="tokenDetail" [contractAddress]="contractAddress"
    [tokenMoreInformation]="tokenMoreInformation" (hasMore)="getMoreTx($event)">
  </app-evm-token-content>
</ng-container>
<app-table-no-data *ngIf="!loading && errTxt" [textNull]="errTxt"></app-table-no-data>