<section class="contract-verify col-12 col-lg-6">
  <h1 class="text--white mb-2 mb-lg-0">Verify & Publish EVM Contract source code</h1>

  <div class="divider divider-horizontal my-4 d-none d-lg-block"></div>
  <div class="body-02 caption-mob fw-normal-mob text--gray-6">
    Add the Solidity source (.zip) files and metadata of contract you want to verify.
  </div>

  <div class="py-6">
    <form [formGroup]="contractForm" (ngSubmit)="onSubmit()" class="aura-form" autocomplete="off">
      <div class="row mb-6">
        <div class="col-12">
          <div class="form-group">
            <label for="address" class="form-label text--gray-1 body-02">Contract to verify</label>
            <input formControlName="address" type="text" class="form-control" id="address" />
            <div class="error" *ngIf="formControls['address'].invalid">Address is required!</div>
          </div>
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-12">
          <h4 class="text--white mb-4">Add (.zip) file</h4>
          <div class="drop-zone" appDragDrop (onFileDropped)="onFileDropped($event)">
            <div class="drop-content" *ngIf="!contractSourceCode">
              <div class="add-icon">
                <i class="ph-plus-fill text--gray-4"></i>
              </div>

              <div class="body-01 text--gray-4">Drag and drop here or <span class="text--primary">browse</span></div>
            </div>

            <div class="drop-content" *ngIf="contractSourceCode">
              <div class="w-100">
                {{ contractSourceCode.name }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center justify-content-lg-end align-items-center pt-2 pt-lg-0">
        <button class="button button--md button-pill button-outline button-fixed" type="button" (click)="handleReset()">
          <span>Reset</span>
        </button>
        <button
          class="button button--md button-pill button-outline button-outline--gradient button-fixed button-outline__in-card ml-4 px-1 px-sm-6"
          type="submit"
          [disabled]="contractForm.status === 'INVALID'">
          <span>Verify & Publish</span>
        </button>
      </div>
    </form>
  </div>
</section>
