<div class="card card-login">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="mb-0 text--white w-100 text-center">Log in to AuraScan</div>
    </div>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" class="aura-form single-input-field login-form" autocomplete="off">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="amount" class="form-label body-01 text--white">Email</label>
            <input
              type="text"
              class="form-control form-check-input"
              placeholder="Enter your email"
              [(ngModel)]="email"
              name="inputEmail"
              autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-12">
          <div class="form-group">
            <label for="amount" class="form-label body-01 text--white">Password</label>
            <input
              type="text"
              class="form-control form-check-input"
              placeholder="Enter your password"
              [(ngModel)]="passWord"
              name="inputEmail"
              autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="text--primary mt-6 h4">Forgot password</div>

      <div class="d-flex justify-content-end mt-6">
        <button class="button button-pill button-flat w-100 btn-login" type="submit" [disabled]="!formValid">
          <span class="body-01">Log in</span>
        </button>
      </div>

      <div class="text-center text--gray-4 body-01">
        <div class="mt-4">
          <span class="text--gray-4">Don’t have an account?</span>
          <span class="text--primary fw-semibold ml-2">Register</span>
        </div>
        <div class="py-6 text--white">or</div>
        Continue with Google<br />
        <div class="mt-6">
          By continuing, you agree to our <span class="text--primary fw-semibold">Terms of Use</span>
        </div>
      </div>
    </form>
  </div>
</div>
