<div class="d-flex justify-content-between">
  <div>
    <img src="assets/images/icons/token-contract.svg" alt="" width="14" height="17" />
    <span class="small-text text--white ml-2">Read Contract Information</span>
  </div>
  <div class="small-text">
    <span class="cursor-pointer text--green mr-5" (click)="expandMenu()">
      <ng-container *ngIf="!isExpand">Expand all</ng-container>
      <ng-container *ngIf="isExpand">Collapse All</ng-container>
    </span>
    <span class="cursor-pointer text--green">Reset</span>
  </div>
</div>
<div class="box-content text--white mt-3">
  <ng-container *ngFor="let readContract of jsonReadContract.oneOf; index as i">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="content-contract">
        <mat-panel-title class="item-content"> {{ i + 1 }}. {{ readContract.required }} </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <span class="text--green">aura</span>
      {{ readContract.properties[readContract.required[0]].type }}
    </mat-expansion-panel>
  </ng-container>
</div>
