<div class="popover-container">
  <div class="text--white">
    <div class="sub-text sub-text-mob">Additional info</div>
    <div class="small-body">Status:</div>
    <img
      alt=""
      [src]="
        tokenDetail?.code == codeTransaction.Success
          ? 'assets/icons/icons-svg/color/success.svg'
          : 'assets/icons/icons-svg/color/fail.svg'
      " />
    <div class="small-body">{{ tokenDetail?.status }}</div>
    <hr />
    <div class="small-body">Token Transfer</div>
    <div class="small-body">
      {{ tokenDetail?.amount | number: global.formatNumberToken }}
      (${{ tokenDetail?.price | number: global.formatNumber2Decimal }})
      <a class="text--green" [routerLink]="['/token/token', tokenAddress]"> {{ tokenType }} </a>
    </div>
    <div class="small-body">
      <span class="small-body text--light-gray">From</span> ... 
      <a class="text--green" [routerLink]="['/account', tokenDetail?.from_address]">
        {{ tokenDetail?.from_address_format }} 
      </a>
      <span class="small-body text--light-gray">To</span> ... 
      <a class="text--green" [routerLink]="['/account', tokenDetail?.to_address]">
        {{ tokenDetail?.to_address_format }}
      </a>
    </div>
    <hr />

    <div class="small-body">Transaction Fee:</div>
    <div class="small-body text--contract">0.00075177042 Ether ($1.52)</div>
    <hr />

    <div class="small-body">Gas info:</div>
    <div class="small-body">47,566 Gas Used From 78,549 Gas Limit @ 0.00000001580573182 Ether (15.807219472 Gwei)</div>
    <hr />

    <a class="small-text text--green cursor-pointer" [routerLink]="['/transaction', tokenDetail?.tx_hash]">See more details</a>
  </div>
</div>
