.proposal-lasted {
  margin-bottom: 20px;
  &__content {
    .title {
      width: 100px;
      font-weight: 500;
    }
  }
  .vote-bar {
    margin-right: 20px;
    ul {
      background-color: #e3e3e3;
    }
  }
  .most-vote {
    margin-left: 20px;
    .title {
      font-weight: 500;
    }
    .value {
      position: relative;
      padding-left: 18px;
      font-size: 13px;  
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
      }
      &.primary:before { background-color: var(--bs-success)}
      &.danger:before { background-color: var(--bs-danger)}
      &.info:before { background-color: var(--bs-info)}
      &.secondary:before { background-color: var(--bs-secondary)}
    }
  }
  .message {
    color: var(--bs-primary);
  }
  .btn-detail {
    margin: 0 16px;
    border: none;
  }
}
.card {
  &__title {
    font-size: 15px;
    font-weight: 500;
    a {
      color: var(--black);
      text-decoration: none;
    }
  }
}
.button {
  outline: none;
  background-color: var(--bs-white);
  border: 1px solid #d6d6d6;
  &-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
.vote-bar {
  width: 60%;
}
table {
  min-width: 800px;
}
.title-cell {
  padding-right: 24px;
}
