<app-pagetitle title="PROPOSAL"></app-pagetitle>
<section class="lasted-list d-none d-lg-block" *ngIf="lastedList && lastedList.length > 0">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-6 mb-3 proposal-lasted" *ngFor="let lastedItem of lastedList.slice(0, 4); index as idx">
        <div class="card mb-0 h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
              <div class="card__title">#{{ lastedItem.pro_id }}</div>
              <div
                *ngIf="getStatus(lastedItem.pro_status)"
                class="aura-status aura-status--has-elevation text-capitalize {{
                  getStatus(lastedItem.pro_status).class
                }}"
              >
                <span class="status">{{ getStatus(lastedItem.pro_status).value }}</span>
              </div>
            </div>
            <a [routerLink]="[lastedItem.pro_id]" class="card__title">{{ lastedItem.pro_title }}</a>
            <div class="d-flex justify-content-between mt-3 proposal-lasted__content">
              <div>
                <div class="d-flex mb-2">
                  <div class="title">Proposer</div>
                  <div>
                    <a href="/account/{{ lastedItem.pro_proposer_address }}">{{
                      lastedItem.pro_proposer ? lastedItem.pro_proposer : shortenAddress(lastedItem.pro_proposer_address)
                    }}</a>
                  </div>
                </div>
                <div class="d-flex mb-2">
                  <div class="title">Voting Start</div>
                  <div>{{ lastedItem.pro_voting_start_time }}</div>
                </div>
                <div class="d-flex mb-2">
                  <div class="title">Voting End</div>
                  <div>{{ lastedItem.pro_voting_end_time }}</div>
                </div>
              </div>
              <a [routerLink]="[lastedItem.pro_id]" class="button button-circle">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </a>
            </div>
            <div class="mt-3 d-flex">
              <div class="vote-bar">
                <ul>
                  <li
                    class="primary"
                    [style.width]="lastedItem.pro_votes_yes + '%'"
                    matTooltip="Yes {{ lastedItem.pro_votes_yes }}%"
                    [matTooltipPosition]="'above'"
                  ></li>
                  <li
                    class="danger"
                    *ngIf="lastedItem.pro_votes_no"
                    [style.width]="lastedItem.pro_votes_no + '%'"
                    matTooltip="No {{ lastedItem.pro_votes_no }}%"
                    [matTooltipPosition]="'above'"
                  ></li>
                  <li
                    class="info"
                    *ngIf="lastedItem.pro_votes_no_with_veto"
                    [style.width]="lastedItem.pro_votes_no_with_veto + '%'"
                    matTooltip="No with veto {{ lastedItem.pro_votes_no_with_veto }}%"
                    [matTooltipPosition]="'above'"
                  ></li>
                  <li
                    class="secondary"
                    *ngIf="lastedItem.pro_votes_abstain"
                    [style.width]="lastedItem.pro_votes_abstain + '%'"
                    matTooltip="Abstain {{ lastedItem.pro_votes_abstain }}%"
                    [matTooltipPosition]="'above'"
                  ></li>
                </ul>
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div class="most-vote">
                <div class="title">Most voted on</div>
                <div
                  class="value {{
                    getHighestVote(
                      lastedItem.pro_votes_yes,
                      lastedItem.pro_votes_no,
                      lastedItem.pro_votes_no_with_veto,
                      lastedItem.pro_votes_abstain
                    ).class
                  }}"
                >
                  {{
                    getHighestVote(
                      lastedItem.pro_votes_yes,
                      lastedItem.pro_votes_no,
                      lastedItem.pro_votes_no_with_veto,
                      lastedItem.pro_votes_abstain
                    ).name
                  }}&nbsp;
                  {{
                    getHighestVote(
                      lastedItem.pro_votes_yes,
                      lastedItem.pro_votes_no,
                      lastedItem.pro_votes_no_with_veto,
                      lastedItem.pro_votes_abstain
                    ).value | number: global.formatNumber2Decimal
                  }}%
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-end align-items-center">
                <div class="message" *ngIf="proposalVotes[idx] && proposalVotes[idx].vote ">
                  You vote '{{ proposalVotes[idx].vote }}' for this proposal
                </div>
              <a class="btn-detail" [routerLink]="[lastedItem.pro_id]" mat-stroked-button color="primary">Details</a>
              <button
                mat-flat-button
                *ngIf="lastedItem.pro_status != 'PROPOSAL_STATUS_DEPOSIT_PERIOD'"
                (click)="openVoteDialog(lastedItem.pro_id, lastedItem.pro_title)"
              >
                {{ lastedItem.pro_status != 'PROPOSAL_STATUS_VOTING_PERIOD' ? 'Voting Ended' : 'Vote' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="all-list table-responsive" *ngIf="dataSource">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#ID</th>
                <td mat-cell *matCellDef="let element">#{{ element.pro_id }}</td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element" class="title-cell">
                  <a [routerLink]="[element.pro_id]">{{ element.pro_title }}</a>
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <div
                    class="aura-status {{ getStatus(element.pro_status).class }} text-uppercase"
                    *ngIf="getStatus(element.pro_status)"
                  >
                    <span class="status">{{ getStatus(element.pro_status).value }}</span>
                  </div>
                </td>
              </ng-container>

              <!-- Voting Start Column -->
              <ng-container matColumnDef="votingStart">
                <th mat-header-cell *matHeaderCellDef>Voting Start</th>
                <td mat-cell *matCellDef="let element">{{ element.pro_voting_start_time }}</td>
              </ng-container>

              <!-- Submit Time Column -->
              <ng-container matColumnDef="submitTime">
                <th mat-header-cell *matHeaderCellDef>Submit Time</th>
                <td mat-cell *matCellDef="let element">{{ element.pro_submit_time }}</td>
              </ng-container>

              <!-- Total Deposit Column -->
              <ng-container matColumnDef="totalDeposit">
                <th mat-header-cell *matHeaderCellDef>Total Deposit</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.pro_total_deposits | number: global.formatNumberToken }} <span class="g-purple">{{global.stableToken}}</span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell g-no-data" colspan="9999">
                  {{ 'NO DATA' | translate }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
