.navbar-header {
  .page-title {
    color: #C6C6C6;
    padding: 6px var(--spacer-2);
    background-color: #262626;
    border-radius: 4px;
    font-size: 1rem;
    @media (min-width: 992px) {
      font-size: 1.4rem;
      padding: var(--spacer-2) var(--spacer-4);
    }
  }
  .divider.divider-vertical {
    min-height: 48px;
  }
  form.aura-form.single-input-field {
    .input-group {
      border-radius: 25px;
      padding: var(--spacer-3) 22px var(--spacer-3) var(--spacer-6);
      input {
        font-size: 1.6rem;
        line-height: 2.4rem;
        &::placeholder {
          color: var(--aura-neutrals-4);
        }
      }
    }
    button.btn-search, button.btn-reset  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    @media (min-width: 992px) {
      min-width: 504px;
    }
  }
}
.topnav {
  .navbar-nav {
    .nav-item {
      padding: var(--spacer-5) 15px;
      @media (min-width: 1440px) {
        padding: var(--spacer-5) 20px;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      i.icon, span {
        color: var(--aura-light-gray);
        transition: color .35s ease-in-out;
      }
      .nav-link {
        padding: 0;
        font-size: 2rem;
        line-height: 2.3rem;
        @media (min-width: 1440px) {
          font-size: 2rem;
          line-height: 2.5rem;
        }
        &:hover, &.active {
          i.icon, span {
            color: var(--aura-white) !important;
          }
        }
      }
    }
    i.icon {
      font-size: 2.3rem;
    }
    .nav-link__panel {
      position: absolute;
      bottom: -100%;
      transform: translateY(80%);
      background-color: var(--aura-bg-form);
      border-radius: 25px;
      z-index: 1500;
      border: none;
      overflow: hidden;
      max-height: 0;
      transition: max-height .35s ease-in-out;
      a {
        display: block;
        font-size: 1.4rem;
        color: var(--aura-light-gray);
        padding: 8px 16px;
        transition: all .35s ease-in-out;
        &:first-child {
          padding-top: 16px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
        &:last-child {
          padding-bottom: 16px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        &:hover {
          color: var(--aura-white);
          background-color: var(--aura-dark-gray);
        }
      }
    }
    .nav-item.dropdown:hover {
        .nav-link__panel {
          border: 2px solid var(--aura-dark-gray);
          max-height: 900px;
        }
      }
  }
}
