<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex align-items-center">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a routerLink="/" class="logo logo-dark">
                    <img src="assets/images/logo/aura-explorer-logo.png" alt="Aura Logo" class="w-100">
                </a>
                <a routerLink="/" class="logo logo-light">
                    <img src="assets/images/logo/aura-explorer-logo.png" alt="Aura Logo" class="w-100">
                </a>
            </div>
            <div class="divider divider-vertical mx-12 d-none d-lg-block"></div>
            <!-- App Search desktop-->
            <div class="app-search d-none d-lg-block">
                <form class="aura-form single-input-field">
                        <div class="input-group">
                            <input  type="text"
                                    class="form-control"
                                    placeholder="{{'HEADER.SEARCH' | translate}}"
                                    [(ngModel)]="searchValue"
                                    (keyup.enter)="handleSearch()"
                                    [ngModelOptions]="{standalone: true}"
                                    name="inputEmail"
                                    autocomplete="off"
                            />
                            <button type="submit" class="btn-search {{searchValue && searchValue.length > 0 ? 'd-none' : ''}}"
                                    (click)="handleSearch()">
                                <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
                            </button>
                            <button type="reset" class="btn-reset {{(!searchValue || searchValue && searchValue.length === 0) ? 'd-none' : ''}}"
                                    (click)="searchValue = null">
                                <img src="../../../assets/icons/icons-svg/basic/close-circle.svg" alt="" width="24" height="24" />
                            </button>
                        </div>
                    </form>
            </div>
        </div>
        <div class="wallet-connect">
            <app-wallet-connect></app-wallet-connect>
        </div>
    </div>
    <!-- App Search mobile-->
    <div class="app-search d-lg-none px-4 mt-4">
        <form class="aura-form single-input-field">
            <div class="input-group">
                <input  type="text"
                        class="form-control"
                        placeholder="{{'HEADER.SEARCH' | translate}}"
                        [(ngModel)]="searchValue"
                        (keyup.enter)="handleSearch()"
                        [ngModelOptions]="{standalone: true}"
                        name="inputEmail"
                        autocomplete="off"
                />
                <button type="submit" class="btn-search {{searchValue && searchValue.length > 0 ? 'd-none' : ''}}"
                        (click)="handleSearch()">
                    <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
                </button>
                <button type="reset" class="btn-reset {{(!searchValue || searchValue && searchValue.length === 0) ? 'd-none' : ''}}"
                        (click)="searchValue = null">
                    <img src="../../../assets/icons/icons-svg/basic/close-circle.svg" alt="" width="24" height="24" />
                </button>
            </div>
        </form>
    </div>
</header>
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
            <div class="collapse navbar-collapse active" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <ng-container *ngFor="let item of menuItems">
                        <li class="nav-item dropdown">
                            <a class="nav-link d-flex align-items-center" *ngIf="!item.subItems && item.link" (click)="onMenuClick($event)" href="javascript: void(0);" id="topnav-components"
                               [routerLink]="item.link" routerLinkActive="active" [class.active]="router.url === '/' && item.link === '/dashboard'" role="button">
                                <i class="icon icon-{{ item.icon }}"></i>
                                <span class="ml-2 fw-bold">{{ item.label | translate}}</span>
                            </a>
                            <a *ngIf="item.subItems" class="nav-link dropdown-toggle arrow-none d-flex align-items-center" (click)="onMenuClick($event)"
                               [class.active]="router.url === '/' && item.link === '/dashboard'" href="javascript: void(0);" id="topnav-components" role="button">
                                <i class="icon icon-{{ item.icon }}"></i>
                                <span class="ml-2 fw-bold">{{ item.label | translate}}</span>
                                <div class="arrow-down"></div>
                            </a>
                            <!--
                            <div class="dropdown-menu" aria-labelledby="topnav-dashboard" *ngIf="hasItems(item)">
                                <ng-template ngFor let-i="index" let-subitem [ngForOf]="item.subItems">
                                    <a class="col dropdown-item side-nav-link-ref" *ngIf="!hasItems(subitem)" href="javascript: void(0);" [routerLink]="subitem.link" routerLinkActive="active">{{subitem.label | translate }}</a>

                                    <div class="dropdown" *ngIf="hasItems(subitem)">
                                        <a class="dropdown-item dropdown-toggle" href="javascript: void(0);" (click)="onMenuClick($event)">{{ subitem.label | translate }}
                                            <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu">
                                            <ng-template ngFor let-subSubitem [ngForOf]="subitem.subItems">
                                                <a class="dropdown-item side-nav-link-ref" *ngIf="!hasItems(subSubitem)" href="javascript: void(0);" [routerLink]="subSubitem.link" routerLinkActive="active">{{ subSubitem.label | translate }}</a>
                                                <div class="dropdown" *ngIf="hasItems(subSubitem)">

                                                    <a class="dropdown-item dropdown-toggle" href="javascript: void(0);" (click)="onMenuClick($event)">{{ subSubitem.label | translate }}
                                                        <div class="arrow-down"></div>
                                                    </a>
                                                    <div class="dropdown-menu">
                                                        <ng-template ngFor let-subSubSubitem [ngForOf]="subSubitem.subItems">
                                                            <a class="dropdown-item side-nav-link-ref" href="javascript: void(0);" [routerLink]="subSubSubitem.link" routerLinkActive="active">{{ subSubSubitem.label | translate }}</a>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                            -->
                        </li>
                    </ng-container>
                </ul>
            </div>
        </nav>
    </div>
</div>
