.navbar-header {
  .page-title {
    color: var(--aura-gray-5);
    padding: 0 var(--spacer-2);
    background-color: var(--aura-gray-10);
    border-radius: 4px;
    font-size: 1rem;
    height: 20px;
    font-weight: 600;
    @media (min-width: 992px) {
      font-size: 1.4rem;
      padding: 0 var(--spacer-4);
      font-weight: 500;
      height: 32px;
    }
  }
  .logo {
    display: contents;
    img {
      height: 36px;
      @media (min-width: 992px) {
        height: 60px;
      }
    }
  }
  .divider.divider-vertical {
    min-height: 48px;
  }
  form.aura-form.single-input-field {
    button.btn-search, button.btn-reset  {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    @media (min-width: 992px) {
      min-width: 504px;
    }
  }
}
.topnav {
  height: 56px;
  .navbar-nav {
    .nav-item {
      padding: 13.5px 16px;
      @media (min-width: 1440px) {
        padding: 20px;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      i.icon, span {
        color: var(--aura-gray-6);
        transition: color .35s ease-in-out;
      }
      .nav-link {
        padding: 0;
        position: relative;
        &:hover, &.active {
          i.icon, span {
            color: var(--aura-white) !important;
          }
        }
        &.dropdown-toggle {
          &:after {
            content: '';
            position: absolute;
            right: -24px;
            top: 0;
            width: 24px;
            height: 24px;
            background: url("../../../assets/icons/icons-svg/basic/chevron-down.svg") center no-repeat;
            background-size: auto;
            transition: background .35s ease-in-out;
          }
          &.active {
            &:after {
              background: url("../../../assets/icons/icons-svg/white/chevron-up.svg") center no-repeat;
              background-size: auto;
              transform: rotate(180deg);
            }
          }
          &:hover {
            &:after {
              background: url("../../../assets/icons/icons-svg/white/chevron-up.svg") center no-repeat;
              background-size: auto;
              transform: unset;
            }
          }
        }
      }
    }
    i.icon {
      font-size: 2.4rem;
    }
    .nav-link__panel {
      position: absolute;
      bottom: -90%;
      transform: translateY(98%);
      border: 1px solid transparent;
      border-radius: 25px;
      z-index: 1500;
      overflow: hidden;
      max-height: 0;
      transition: max-height .35s ease-in-out;
      a {
        display: block;
        font-size: 1.4rem;
        color: var(--aura-gray-6);
        padding: 8px 16px;
        transition: all .35s ease-in-out;
        &:first-child {
          padding-top: 16px;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        }
        &:last-child {
          padding-bottom: 16px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
        }
        &:hover {
          color: var(--aura-white);
          background-color: var(--aura-gray-9);
        }
        &.active {
          color: var(--aura-white);
        }
      }
    }
    .nav-item.dropdown:hover {
        .nav-link__panel {
          max-height: 900px;
          background-color: var(--aura-gray-10);
          border: 1px solid var(--aura-gray-9);
        }
      }
  }
}

.header__input-group {
  border-radius: 25px;
  background-color: var(--aura-gray-10);
}
