.nft-cards__item-border {
  position: relative;
  .nft-cards__item {
    padding: 0;
    .token-cards__img{
      padding: 8px;
    }
  }
  .token__bookmark {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 2.4rem;
    color: var(--aura-aqua-2);
    @media (min-width: 992px) {
      font-size: 3.6rem;
    }
  }
  .box-nft-info{
    background-color: var(--aura-gray-10);
    padding: 8px 0px 16px 8px;
  }
}
