<section class="mt-4 mt-lg-6">
  <h2 class="text--white">Equipped ABT</h2>
  <div class="card">
    <div class="card-body">
      <!-- Title -->
      <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-lg-center mb-4">
        <div class="body text--gray-4 mt-4 mt-lg-0">
          {{ countSelected ?? 0 }} of {{ pageData?.length }} item{{ pageData?.length > 1 ? 's' : '' }} selected
        </div>
        <form class="aura-form single-input-field search-form-sbtokenlist" #searchForm>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for Token Name or Token ID"
              [(ngModel)]="seachValue"
              [maxLength]="maxLengthSearch"
              (keyup.enter)="searchToken()"
              name="search"
              autocomplete="off" />
            <button
              type="submit"
              class="btn-search {{ seachValue && seachValue?.length > 0 ? 'd-none' : '' }}"
              (click)="searchToken()">
              <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
            </button>
            <button
              type="reset"
              class="btn-reset cursor-pointer {{
                !seachValue || (seachValue && seachValue?.length === 0) ? 'd-none' : ''
              }}"
              (click)="resetSearch()">
              <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="loading" class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
      <div *ngIf="!loading">
        <!-- Token list -->
        <div
          id="nft-cards"
          class="nft-cards token-cards row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 g-md-3 g-lg-4 g-xl-5"
          *ngIf="soulboundData.data.length > 0; else noValues">
          <div class="nft-cards__col col" *ngFor="let token of soulboundData.data; let i = index">
            <div class="nft-cards__item-border">
              <div class="nft-cards__item">
                <div class="nft-cards__img">
                  <div class="token-cards__img">
                    <img
                      *ngIf="(!token.animation_url && getTypeFile(token) !== MEDIA_TYPE.IMG) || isError"
                      [src]="commonService.getDefaultImg()"
                      alt="" />
                    <img
                      *ngIf="getTypeFile(token) === MEDIA_TYPE.IMG"
                      (error)="error()"
                      src="{{
                        token.animation_url || token.token_img
                          ? (token.animation_url || token.token_img | replaceIpfs)
                          : commonService.getDefaultImg()
                      }}"
                      alt="{{ token.token_name }}" />
                    <app-custom-video-player
                      [videoSrc]="token.animation_url | replaceIpfs"
                      [showControl]="false"
                      [nftId]="'nft#' + i"
                      *ngIf="getTypeFile(token) === MEDIA_TYPE.VIDEO && token.animation_url">
                    </app-custom-video-player>
                    <app-model-view
                      *ngIf="getTypeFile(token) === MEDIA_TYPE._3D && token.animation_url"
                      [link]=""
                      [modelUrl]="token.animation_url | replaceIpfs"
                      [disablePan]="true">
                    </app-model-view>
                    <app-audio-player
                      *ngIf="getTypeFile(token) === MEDIA_TYPE.AUDIO && token.animation_url"
                      [link]="'/tokens/token-abt/' + token?.contract_address + '/' + token?.token_id"
                      [src]="token.animation_url | replaceIpfs"
                      [nftId]="'nft#' + i"
                      [disableLink]="true">
                    </app-audio-player>
                  </div>
                </div>
                <div class="box-nft-info d-block">
                  <div class="nft__info body-01 caption-mob fw-normal">
                    <span class="mr-1 text--gray-1">Token:</span>
                    <span
                      class="text--primary hover-link"
                      (click)="handleRouterLink('/tokens/token-abt/' + token.contract_address + '/' + token?.token_id)"
                      >{{ token.token_name }}</span
                    >
                  </div>
                  <div class="nft__info body-01 caption-mob fw-normal mt-1">
                    <span class="mr-1 text--gray-1">Token ID:</span>
                    <span
                      class="text--primary hover-link"
                      (click)="handleRouterLink('/tokens/token-abt/' + token.contract_address + '/' + token?.token_id)"
                      >{{ token.token_id | cutStringPipe : 8 : 8 }}</span
                    >
                  </div>
                </div>
              </div>
              <ng-container *ngIf="userAddress === walletAddress">
                <i
                  class="ph-bookmark-simple-thin token__bookmark token__bookmark--unequipped"
                  (click)="getSBTDetail(token.contract_address, token.token_id)"
                  *ngIf="!token.picked"></i>
                <i
                  class="ph-bookmark-simple-fill token__bookmark token__bookmark--equipped"
                  (click)="getSBTDetail(token.contract_address, token.token_id, false)"
                  *ngIf="token.picked"></i>
              </ng-container>
            </div>
          </div>
        </div>
        <app-paginator
          [length]="pageData?.length"
          [pageSize]="pageData?.pageSize"
          (paginator)="paginatorEmit($event)"
          (pageEvent)="pageEvent($event)">
        </app-paginator>
        <ng-template #noValues>
          <app-table-no-data *ngIf="!loading"></app-table-no-data>
        </ng-template>
      </div>
    </div>
  </div>
</section>
