.undelegate-item {
  padding: var(--spacer-3) 0;

  @media (min-width: 991.99px) {
    &:not(:last-child) {
      border-bottom: 1px solid var(--aura-dark-gray);
    }
  }

  &.table-mobile__item {
    padding: 12px;
  }
}
.claim-btn-group {
  min-height: 72px;
}
