<div class="card card-private-name">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="h2 h3-mob mb-0 text--white w-100 fw-700 fw-semibold-mob">
        {{ isEditMode ? 'Edit' : 'Create' }} Private Name Tag
      </div>
      <i class="ph ph-x h2 cursor-pointer text--white" (click)="closeDialog()"></i>
    </div>
  </div>
  <div class="card-body p-0">
    <form
      [formGroup]="privateNameForm"
      (ngSubmit)="onSubmit()"
      *ngIf="privateNameForm"
      class="aura-form single-input-field private-name-form"
      autocomplete="off">
      <div class="box-content">
        <mat-slide-toggle (click)="changeFavorite()" formControlName="isFavorite">
          <span>Set favorite in tag list</span>
        </mat-slide-toggle>
        <!-- Type -->
        <div class="row mt-4">
          <div class="col-lg-3 col-12">
            <label class="form-label mb-0">Type</label>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <div class="form-group d-flex align-items-center">
                <input
                  type="radio"
                  value="account"
                  id="account"
                  class="radio-box radio-box--dark"
                  [checked]="isAccount"
                  [disabled]="isEditMode"
                  (change)="changeType(true)" />
                <label for="account" class="ml-2 mb-0 text-justify">Account</label>
              </div>
              <div class="form-group d-flex align-items-center ml-8">
                <input
                  type="radio"
                  value="contract"
                  id="contract"
                  class="radio-box radio-box--dark"
                  [checked]="isContract"
                  [disabled]="isEditMode"
                  (change)="changeType(false)" />
                <label for="contract" class="ml-2 mb-0 text-justify">Contract</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Public Name Tag -->
        <div class="row mt-4">
          <div class="col-lg-3 col-12">
            <label class="form-label">Public Name Tag</label>
          </div>
          <div
            class="col-auto"
            [ngClass]="publicNameTag?.length > 0 && publicNameTag != '-' ? 'box-name-tag ml-2' : ''">
            <span class="line-claim w-100">
              {{ publicNameTag }}
            </span>
          </div>
        </div>

        <!-- Cosmos Address -->
        <div class="row mt-4 align-items-center">
          <div class="col-lg-3 col-12">
            <label class="form-label">Cosmos Address</label>
          </div>
          <div class="col-lg-9 col-12">
            <div
              class="input-group form-check-input overflow-hidden d-flex justify-content-between px-0"
              *ngIf="!isEditMode">
              <input
                type="text"
                formControlName="cosmosAddress"
                placeholder="{{ chainName }}..."
                class="input-address px-4 convert-address"
                (blur)="changeAddress('cosmosAddress')"
                (input)="isError = false"
                autocomplete="off" />
              <button
                class="button button-xxs p-0 mr-4"
                *ngIf="
                  this.privateNameForm.get('cosmosAddress').value.length > 0 &&
                  this.privateNameForm.get('cosmosAddress').enabled
                "
                type="button"
                (click)="resetAddress()">
                <i class="ph-fill ph-x-circle text--white cursor-pointer h3"></i>
              </button>
            </div>
            <span *ngIf="isEditMode">{{ privateNameForm.get('cosmosAddress').value }}</span>
          </div>
        </div>

        <!-- EVM Address -->
        <div class="row mt-4 align-items-center">
          <div class="col-lg-3 col-12">
            <label class="form-label">EVM Address</label>
          </div>
          <div class="col-lg-9 col-12">
            <div
              class="input-group form-check-input overflow-hidden d-flex justify-content-between px-0"
              *ngIf="!isEditMode">
              <input
                type="text"
                formControlName="evmAddress"
                placeholder="{{ eWalletType.EVM }}..."
                class="input-address px-4 convert-address"
                (input)="isError = false"
                (blur)="changeAddress('evmAddress')"
                autocomplete="off" />
              <button
                class="button button-xxs p-0 mr-4"
                *ngIf="
                  this.privateNameForm.get('evmAddress').value.length > 0 &&
                  this.privateNameForm.get('evmAddress').enabled
                "
                type="button"
                (click)="resetAddress()">
                <i class="ph-fill ph-x-circle text--white cursor-pointer h3"></i>
              </button>
            </div>
            <span *ngIf="isEditMode">{{ privateNameForm.get('evmAddress').value }}</span>
          </div>
        </div>

        <!-- Private Name Tag -->
        <div class="row mt-4 align-items-center">
          <div class="col-lg-3 col-12">
            <label class="form-label">Private Name Tag</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group form-check-input pr-0">
              <input
                type="text"
                class="col-12 mb-4 text--gray-1"
                [maxlength]="maxLengthNameTag"
                formControlName="name"
                (blur)="isError = false"
                (keypress)="checkValidNameTag($event)"
                placeholder="Enter private name tag" />
            </div>
          </div>
        </div>
        <div class="d-flex offset-lg-3 text--gray-4 mt-1 caption fw-normal font-italic">
          <div class="ml-lg-1">
            Character limit: {{ privateNameForm.value?.name?.length || 0 }}/{{ maxLengthNameTag }} <br />
            Set private name tag to easily identify this address in Aurascan only from your view
          </div>
        </div>

        <!-- Personal Note -->
        <div class="row mt-4">
          <div class="col-lg-3 col-12 mt-2">
            <label class="form-label">Personal Note (Optional)</label>
          </div>
          <div class="col-lg-9 col-12">
            <textarea
              rows="5"
              matInput
              formControlName="note"
              (blur)="isError = false"
              [maxLength]="maxLengthNote"
              placeholder="Enter note"
              class="form-check-input col-12 text-area txt-note"
              style="height: auto"></textarea>
          </div>
        </div>
        <div class="d-flex offset-lg-3 text--gray-4 mt-2 caption fw-normal font-italic">
          <div class="ml-lg-1">
            Character limit: {{ privateNameForm.value.note?.length || 0 }}/{{ maxLengthNote }}<br />
            A personal note of this address. Kindly note that DO NOT input any passwords or private key here
          </div>
        </div>

        <div class="mt-4 text--gray-1 caption fw-normal">All fields are required except Personal Note</div>
      </div>

      <!-- button group -->
      <div class="d-flex px-6 py-6 justify-content-end">
        <button class="button button--md button-pill button-outline btn" type="button" (click)="closeDialog()">
          <span>Cancel</span>
        </button>
        <button
          class="button button--md button-outline button-pill button-flat ml-4 btn btn-create"
          type="submit"
          [disabled]="privateNameForm.status === 'INVALID' || isError || (isAccount === false && isContract === false)">
          <span class="text--black">
            {{ isEditMode ? 'Edit' : 'Create' }}
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
