<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="h1 mb-0 text--white w-100">Revoke Detail</div>
      <img
        class="icon-close"
        [src]="'assets/icons/icons-svg/basic/close.svg' | imageS3"
        alt=""
        (click)="closeDialog()" />
    </div>
  </div>
  <div class="card-body">
    <div class="body-01 text--gray-4">Granter's Address</div>
    <div class="body-03 text--gray-1 mt-2">{{ data?.granterAddress || '' }}</div>
    <div class="body-01 text--gray-4 mt-6">Grantee's Address</div>
    <div class="body-03 text--gray-1 mt-2">{{ data?.granteeAddress || '' }}</div>
  </div>
</div>
