<div class="d-flex justify-content-between align-items-center">
  <div class="button-switch-stage">
    <button class="button" [class.active]="isActive" (click)="changeType(true)">Active</button>
    <button class="button" [class.active]="!isActive" (click)="changeType(false)">Inactive</button>
  </div>
  <button
    *ngIf="currentAddress"
    class="button button-outline button-outline--gradient button--md button-pill"
    (click)="openCreatePopup()">
    <span>Add New Grant</span>
  </button>
  <button
    #connectButton
    *ngIf="!currentAddress"
    type="button"
    class="button button-outline button-outline--gradient button--md button-pill"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasWallet"
    aria-controls="offcanvasWallet">
    <span>Add New Grant</span>
  </button>
</div>

<div class="mt-4 mt-lg-5 card">
  <div class="card-body">
    <ng-container *ngIf="!loading">
      <div
        class="d-lg-flex flex-row-reverse justify-content-between align-items-center"
        *ngIf="pageData?.length > 0 || textSearch?.length > 0">
        <form (ngSubmit)="searchToken()" class="aura-form single-input-field grantees-search-form">
          <div class="input-group px-6">
            <input
              type="text"
              class="form-control pl-0"
              placeholder="Search for Tx Hash or Address/name tag"
              [(ngModel)]="textSearch"
              [maxLength]="maxLengthSearch"
              name="search"
              autocomplete="off" />
            <button type="submit" class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}">
              <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
            </button>
            <button
              type="reset"
              class="btn-reset cursor-pointer {{
                !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
              }}"
              (click)="resetFilterSearch()">
              <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
            </button>
          </div>
        </form>
        <div class="mt-4 mt-lg-0 text--gray-1">
          {{ pageData?.length || 0 }} transaction{{ pageData?.length > 0 ? 's' : '' }} found
        </div>
      </div>
      <div class="mt-4">
        <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
          <div class="overflow-scroll-x aura-table-contain">
            <table mat-table [dataSource]="dataSource" class="aura-table grant-table">
              <ng-container *ngFor="let template of templates; index as i">
                <ng-container [matColumnDef]="template.matColumnDef">
                  <th mat-header-cell *matHeaderCellDef>
                    <div [innerHTML]="template.headerCellDef | translate | lowercase"></div>
                  </th>
                  <td mat-cell *matCellDef="let data">
                    <div>
                      <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                        <a
                          *ngSwitchCase="'tx_hash'"
                          class="text--primary cursor-pointer"
                          [routerLink]="['/tx', data[template.matColumnDef]]"
                          [copyBtn]="data[template.matColumnDef]">
                          <span>{{ data[template.matColumnDef] | ellipsis: 8 : 8 }}</span>
                        </a>
                        <app-name-tag [value]="data[template.matColumnDef]" *ngSwitchCase="'grantee'"></app-name-tag>
                        <div *ngSwitchCase="'type'">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'timestamp'">
                          {{ data[template.matColumnDef] | customDateTime: 'Distance' }}
                        </div>
                        <div *ngSwitchCase="'limit'">
                          <ng-container *ngIf="+data[template.matColumnDef] == 0"> -</ng-container>
                          <ng-container *ngIf="+data[template.matColumnDef] > 0">
                            <span
                              [appTooltip]="{ priceAmount: data[template.matColumnDef], decimal }"
                              *ngIf="data[template.matColumnDef] | balance: decimal | lt: 0.001">
                              {{ '<0.001' }}
                            </span>
                            <span
                              *ngIf="data[template.matColumnDef] | balance: decimal | gte: 0.001"
                              [appTooltip]="{ priceAmount: data[template.matColumnDef], decimal }"
                              [class.cursor-text]="data[template.matColumnDef] | balance: decimal | lt: 1000000"
                              [appBigNumber]="data[template.matColumnDef]"
                              [decimal]="6"></span>
                            <span class="ml-1" appLinkDenom>{{ denom }}</span>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="'expiration'">
                          <span class="{{ data['reason'] === 'Expired' && isActive ? 'text--red-3' : '' }}">
                            {{
                              data[template.matColumnDef]
                                ? (data[template.matColumnDef] | customDateTime: 'DateOnly')
                                : '-'
                            }}
                          </span>
                        </div>
                        <div *ngSwitchCase="'spendable'">
                          <ng-container *ngIf="+data[template.matColumnDef] == 0"> -</ng-container>
                          <ng-container *ngIf="+data[template.matColumnDef] > 0">
                            <span
                              [appTooltip]="{ priceAmount: data[template.matColumnDef], decimal }"
                              *ngIf="data[template.matColumnDef] | balance: decimal | lt: 0.001">
                              {{ '<0.001' }}
                            </span>
                            <span
                              *ngIf="data[template.matColumnDef] | balance: decimal | gte: 0.001"
                              [appTooltip]="{ priceAmount: data[template.matColumnDef], decimal }"
                              [class.cursor-text]="data[template.matColumnDef] | balance: decimal | lt: 1000000"
                              [appBigNumber]="data[template.matColumnDef]"
                              [decimal]="6"></span>
                            <span class="ml-1" appLinkDenom>{{ denom }}</span>
                          </ng-container>
                        </div>
                        <div *ngSwitchCase="'action'">
                          <button
                            *ngIf="currentAddress"
                            class="button button--sm button-pill button-outline"
                            (click)="showRevoke(data['grantee'], data['granter'])">
                            <span>Revoke</span>
                          </button>
                          <button
                            #connectButton
                            *ngIf="!currentAddress"
                            type="button"
                            class="button button--sm button-pill button-outline"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasWallet"
                            aria-controls="offcanvasWallet">
                            <span>Revoke</span>
                          </button>
                        </div>
                        <div *ngSwitchCase="'reason'" class="d-flex justify-content-between align-items-center">
                          <span>{{ data[template.matColumnDef] }}</span>
                          <a
                            [routerLink]="['/tx', data['origin_revoke_txhash']]"
                            *ngIf="data['reason'] === 'Revoked'"
                            class="button body-01 text--primary">
                            <i class="ph-arrow-square-out"></i>
                          </a>
                        </div>
                        <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div class="mt-6 d-flex justify-content-center justify-content-md-end">
            <app-custom-paginator [paginator]="pageData" [length]="pageData.length" (pageChange)="pageEvent($event)">
            </app-custom-paginator>
          </div>
        </ng-container>
        <ng-template #noValues>
          <ng-container *ngIf="!loading">
            <app-table-no-data
              [textNull]="
                this.isActive
                  ? 'You don\'t have any active granted fee allowance to others'
                  : 'You don\'t have any inactive granted fee allowance to others'
              "
              *ngIf="!textSearch"></app-table-no-data>
            <app-table-no-data *ngIf="textSearch"></app-table-no-data>
          </ng-container>
        </ng-template>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
    </ng-container>
  </div>
</div>
