.search-form {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 410px;
  }
}

@media (min-width: 991.99px) {
  ::ng-deep table.aura-table th.mat-header-cell {
    width: 33%;
  }
}

.vertical-align-top {
  vertical-align: top;
}