<h1 class="text--white fw-700">
  Export Data <br class="d-lg-none" />
  (Download CSV file)
</h1>
<div class="text--gray-2 mb-6 d-flex">
  <i class="ph ph-info body-01 mr-1" style="margin-top: 2px"></i>
  The earliest 1,000 records within the selected range will be exported
</div>

<div class="col-12 col-lg-6">
  <form
    [formGroup]="csvForm"
    (ngSubmit)="getReponseCaptcha()"
    class="aura-form single-input-field csv-form"
    autocomplete="off">
    <!-- Export data type -->
    <div class="row mb-6 align-items-center">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <span class="form-label body-02 text--gray-4 input-require">Export data type</span>
      </div>
      <div class="col-12 col-lg-9">
        <div class="form-group">
          <div class="dropdown aura-dropdown btn-item">
            <button
              class="input-group align-items-center d-flex justify-content-between cursor-pointer btn-tns"
              type="button"
              id="typeExport"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              #trigger>
              <span class="body text--gray-4">
                <ng-container *ngIf="!dataType"> Select export data type </ng-container>
                <span *ngIf="dataType?.length > 0" class="text--white"> {{ mappingDataExport(dataType) }} </span>
              </span>
              <div class="ml-3 d-flex align-items-center">
                <i class="ph ph-caret-down text--white body"></i>
                <i class="ph ph-caret-up text--white body"></i>
              </div>
            </button>
            <ul class="dropdown-menu aura-dropdown-menu p-0" id="typeAction" #typeAction>
              <!-- Group 1-->
              <div>
                <h5 class="dropdown-menu__title">Account transaction</h5>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === TabsAccountLink.ExecutedTxs"
                  (click)="changeTypeFilter(TabsAccountLink.ExecutedTxs)">
                  <button type="button" class="button px-2">{{ TabsAccount.ExecutedTxs }}</button>
                </li>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === TabsAccountLink.EVMExecutedTxs"
                  (click)="changeTypeFilter(TabsAccountLink.EVMExecutedTxs)">
                  <button type="button" class="button px-2">{{ TabsAccount.EVMExecutedTxs }}</button>
                </li>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === TabsAccountLink.NativeTxs"
                  (click)="changeTypeFilter(TabsAccountLink.NativeTxs)">
                  <button type="button" class="button px-2">{{ TabsAccount.NativeTxs }}</button>
                </li>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === ETypeFtExport.CW20"
                  (click)="changeTypeFilter(ETypeFtExport.CW20)">
                  <button type="button" class="button px-2">{{ typeFtDisplay.CW20 }}</button>
                </li>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === ETypeFtExport.ERC20"
                  (click)="changeTypeFilter(ETypeFtExport.ERC20)">
                  <button type="button" class="button px-2">{{ typeFtDisplay.ERC20 }}</button>
                </li>
                <li
                  class="dropdown-item cursor-pointer py-2 body"
                  [class.active]="dataType === TabsAccountLink.NftTxs"
                  (click)="changeTypeFilter(TabsAccountLink.NftTxs)">
                  <button type="button" class="button px-2">{{ TabsAccount.NftTxs }}</button>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Cosmos Address -->
    <div class="row mb-6 align-items-center">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <span class="form-label body-02 text--gray-4 input-require">Cosmos Address</span>
      </div>
      <div class="col-12 col-lg-9">
        <div class="form-group">
          <div class="input-group form-check-input overflow-hidden d-flex justify-content-between px-0">
            <input
              type="text"
              formControlName="address"
              placeholder="{{ prefix }}..."
              class="input-address px-4 convert-address"
              name="inputAddress"
              (blur)="setAddressOther(getAddress?.value)"
              autocomplete="off" />
            <button
              class="button button-xxs p-0 mr-4"
              *ngIf="this.csvForm.get('address').value.length > 0 && this.csvForm.get('address').enabled"
              type="button"
              (click)="clearAddress()">
              <i class="ph-fill ph-x-circle text--white cursor-pointer h3"></i>
            </button>
          </div>
          <div *ngIf="!isValidAddress" class="text--danger mt-2 caption fw-normal">Invalid address format</div>
        </div>
      </div>
    </div>

    <!-- EVM Address -->
    <div class="row mb-6 align-items-center">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <span class="form-label body-02 text--gray-4 input-require">EVM Address</span>
      </div>
      <div class="col-12 col-lg-9">
        <div class="form-group">
          <div class="input-group form-check-input overflow-hidden d-flex justify-content-between px-0">
            <input
              type="text"
              formControlName="evmAddress"
              placeholder="0x..."
              class="input-address px-4 convert-address"
              name="inputEvmAddress"
              (blur)="setAddressOther(getEvmAddress?.value)"
              autocomplete="off" />
            <button
              class="button button-xxs p-0 mr-4"
              *ngIf="this.csvForm.get('evmAddress').value.length > 0 && this.csvForm.get('evmAddress').enabled"
              type="button"
              (click)="clearAddress()">
              <i class="ph-fill ph-x-circle text--white cursor-pointer h3"></i>
            </button>
          </div>
          <div *ngIf="!isValidEvmAddress" class="text--danger mt-2 caption fw-normal">Invalid address Evm format</div>
        </div>
      </div>
    </div>

    <!-- Data range -->
    <div class="row mb-6 align-items-center">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <span class="form-label body-02 text--gray-4 input-require">Data range</span>
      </div>
      <div class="col-12 col-lg-9">
        <div class="d-flex align-items-center">
          <div class="form-group d-flex align-items-center">
            <input
              type="radio"
              value="filterRange"
              id="date"
              class="radio-box radio-box--dark"
              [checked]="isFilterDate"
              (change)="changeType(true)" />
            <label for="date" class="ml-2 pl-1 mb-0 text-justify">Date</label>
          </div>
          <div class="form-group d-flex align-items-center ml-8">
            <input
              type="radio"
              value="filterRange"
              id="block"
              [disabled]="
                !(
                  !dataType ||
                  dataType === this.TabsAccountLink.ExecutedTxs ||
                  dataType === this.TabsAccountLink.EVMExecutedTxs
                )
              "
              class="radio-box radio-box--dark"
              [checked]="!isFilterDate"
              (change)="changeType()" />
            <label for="block" class="ml-2 pl-1 mb-0 text-justify">Block Height</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter Mode -->
    <div class="row offset-lg-3 d-flex align-items-center mb-6">
      <ng-container *ngIf="isFilterDate">
        <div class="col-6 pl-lg-1 pr-3">
          <div class="input-group input-group--simply px-0 cursor-pointer" (click)="pickerStart.open()">
            <input
              readOnly
              #start_date
              formControlName="startDate"
              [matDatepicker]="pickerStart"
              [min]="minDate"
              [max]="maxDate"
              (ngModelChange)="setDateRange()"
              class="cursor-pointer pl-4"
              placeholder="Start date" />
            <div class="mr-3 h6 mb-0 position-relative mt-1">
              <i class="ph-thin ph-calendar-blank h3 text--white"></i>
              <mat-datepicker #pickerStart></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="filter-last-item col-6 pl-3">
          <div class="input-group input-group--simply px-0 cursor-pointer" (click)="pickerEnd.open()">
            <input
              readOnly
              #end_date
              formControlName="endDate"
              [matDatepicker]="pickerEnd"
              [min]="minDateEnd"
              [max]="maxDateEnd"
              (ngModelChange)="setDateRange()"
              class="cursor-pointer pl-4"
              placeholder="End date" />
            <div class="mr-3 h6 mb-0 position-relative mt-1">
              <i class="ph-thin ph-calendar-blank h3 text--white"></i>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!isFilterDate">
        <div class="col-6 pl-lg-1 pr-3">
          <div class="input-group">
            <input
              placeholder="From Block"
              formControlName="fromBlock"
              (blur)="isError = false"
              mask="000000000000"
              (ngModelChange)="checkFormValid()"
              autocomplete="off" />
          </div>
        </div>
        <div class="filter-last-item col-6 pl-3">
          <div class="input-group">
            <input
              placeholder="To Block"
              formControlName="toBlock"
              (blur)="isError = false"
              mask="000000000000"
              (ngModelChange)="checkFormValid()"
              autocomplete="off" />
          </div>
        </div>
      </ng-container>
      <div *ngIf="!isValidBlock" class="text--danger mt-2 caption fw-normal">
        "To Block" height need to be greater than "From Block" height
      </div>
    </div>

    <div class="d-flex" [appTooltip]="!userEmail ? 'Need to login by email to enable this option' : null">
      <mat-slide-toggle formControlName="displayPrivate" [disabled]="!userEmail" class="csv-hint"></mat-slide-toggle>
      <span class="txt-toggle ml-2" [class.text--white]="userEmail">Include Private name tags in data downloaded</span>
    </div>

    <div id="box_recaptcha" class="mt-6"></div>
    <br />
    <div class="d-flex mb-6 justify-content-center justify-content-lg-end mt-3 mt-lg-0 button-group">
      <button class="button button--md button-pill button-outline" type="button" (click)="resetData()">
        <span>Reset</span>
      </button>
      <button
        class="button button--md button-outline--gradient button-pill button-flat btn-create ml-4"
        type="submit"
        [class.pl-1]="isDownload"
        [disabled]="!checkFormValid()">
        <img
          [src]="'assets/icons/icons-svg/color/spinner.svg' | imageS3"
          alt=""
          width="20"
          height="20"
          *ngIf="isDownload" />
        <span class="text--white"> Download </span>
      </button>
    </div>
  </form>
</div>
