.box-name-tag {
  // background: var(--aura-gray-8);
  border-radius: 16px;
  // min-width: 142px;
  display: inline-flex;
  // padding: 4px 8px;
  font-size: 14px;
  align-items: center;
  // justify-content: center;
  font-weight: 400;
  word-break: break-word;
  @media (min-width: 992px) {
    // padding: 4px 8px;
  }
  &.w-auto {
    // min-width: auto;
  }
  &:has(.icon-name-tag){
    // min-width: 158px;
  }
}

.icon-name-tag {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
