<ng-container *ngIf="isLink; else displayText">
  <div class="aura-tooltip-contain">
    <a
      *ngIf="!isHref"
      [routerLink]="['/' + url, paramUrl || value]"
      class="text--primary text-break"
      [ngClass]="[
        isBox && !commonService.checkDisplayTooltip(paramUrl || value) ? 'box-name-tag' : '',
        widthAuto ? 'w-auto' : ''
      ]"
      [class.aura-tooltip-object]="!commonService.checkDisplayTooltip(paramUrl || value)">
      <ng-container [ngTemplateOutlet]="contentData"></ng-container>
    </a>
    <app-tooltip-customize
      [content]="'Public Name Tag: ' + commonService.setNameTag(paramUrl || value, global.listNameTag)">
    </app-tooltip-customize>
  </div>
  <div class="aura-tooltip-contain">
    <a
      *ngIf="isHref"
      [href]="url + value"
      class="text--primary text-break"
      [ngClass]="[
        isBox && !commonService.checkDisplayTooltip(paramUrl || value) ? 'box-name-tag' : '',
        widthAuto ? 'w-auto' : ''
      ]"
      [class.aura-tooltip-object]="!commonService.checkDisplayTooltip(paramUrl || value)">
      <ng-container [ngTemplateOutlet]="contentData"> </ng-container>
    </a>
    <app-tooltip-customize
      [content]="'Public Name Tag: ' + commonService.setNameTag(paramUrl || value, global.listNameTag)">
    </app-tooltip-customize>
  </div>
</ng-container>

<ng-template #displayText>
  <div class="aura-tooltip-contain">
    <span
      class="text-break"
      [ngClass]="[
        isBox && !commonService.checkDisplayTooltip(paramUrl || value) ? 'box-name-tag' : '',
        widthAuto ? 'w-auto' : ''
      ]"
      [class.aura-tooltip-object]="!commonService.checkDisplayTooltip(paramUrl || value)">
      <ng-container *ngIf="!fullText">
        {{ (commonService.setNameTag(value) | cutStringPipe : 8 : 8) || '-' }}
      </ng-container>
      <ng-container *ngIf="fullText">
        <span class="d-none d-lg-flex">{{ commonService.setNameTag(value || paramUrl) || '-' }}</span>
        <span class="d-flex d-lg-none justify-content-center">{{
          (commonService.setNameTag(value || paramUrl) | cutStringPipe : 8 : 8) || '-'
        }}</span>
      </ng-container>
      <ng-container *ngIf="extendUrl && extendUrlLink">
        <i
          _ngcontent-wrg-c372=""
          class="ph-arrow-square-out-fill text--gray-1 body-01 h3-mob mb-1 ml-1 cursor-pointer"
          (click)="extendLink(extendUrlLink)"></i>
      </ng-container>
    </span>
    <app-tooltip-customize
      [content]="'Public Name Tag: ' + commonService.setNameTag(paramUrl || value, global.listNameTag)">
    </app-tooltip-customize>
  </div>
</ng-template>

<ng-template #contentData>
  <img
    [src]="'assets/images/icons/token-contract.svg' | imageS3"
    *ngIf="isTokenDetail && isContractAddress(value)"
    alt=""
    [ngClass]="commonService.checkDisplayTooltip(paramUrl || value) ? 'mr-1' : 'icon-name-tag'"
    width="16px"
    height="16px" />
  <img
    [src]="'assets/images/icons/token-contract.svg' | imageS3"
    [ngClass]="commonService.checkDisplayTooltip(paramUrl || value) ? 'mr-1' : 'icon-name-tag'"
    width="16px"
    height="16px"
    *ngIf="iconContract" />
  <img
    [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
    [ngClass]="commonService.checkDisplayTooltip(paramUrl || value) ? 'mr-1' : 'icon-name-tag'"
    alt="contract_verification"
    width="16px"
    height="16px"
    *ngIf="iconVerify" />
  <ng-container *ngIf="!fullText">
    {{ (commonService.setNameTag(value) | cutStringPipe : 8 : 8) || '-' }}
  </ng-container>
  <ng-container *ngIf="fullText">
    <ng-container *ngIf="!fullTextMob">
      <span class="d-none d-lg-flex">{{ commonService.setNameTag(value || paramUrl) || '-' }}</span>
      <span class="d-flex d-lg-none justify-content-center">{{
        (commonService.setNameTag(value || paramUrl) | cutStringPipe : 8 : 8) || '-'
      }}</span>
    </ng-container>
    <ng-container *ngIf="fullTextMob">
      <span>{{ commonService.setNameTag(value || paramUrl) || '-' }}</span>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="extendUrl && extendUrlLink">
    <i
      _ngcontent-wrg-c372=""
      class="ph-arrow-square-out-fill text--primary body-01 h3-mob mb-1 ml-1"
      (click)="extendLink(extendUrlLink)"></i>
  </ng-container>
</ng-template>
