.box-name-tag {
  background: var(--aura-gray-8);
  border-radius: 16px;
  min-width: 130px;
  display: inline-flex;
  padding: 4px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  word-break: break-word;
  @media (min-width: 992px) {
    min-width: 168px;
    padding: 4px 12px;
  }
}
