<!-- Transfer Assets -->
<div class="box-transfer mb-lg-4">
  <div class="h2 text--white mb-4">Transfer Assets</div>
  <div class="row">
    <!-- IBC Sending -->
    <div class="col-lg-6">
      <div class="card box-transfer">
        <div class="align-items-center d-lg-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <div class="text--white mb-0 body-01 fw-semibold">IBC Sending Assets</div>
          <form class="aura-form single-input-field search-form mt-4 mt-lg-0" #searchForm>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search by IBC Assets"
                [maxLength]="maxLengthSearch"
                [(ngModel)]="textSearchSend"
                (keyup)="searchSend()"
                name="search"
                autocomplete="off" />
              <button
                type="submit"
                class="btn-search {{ textSearchSend && textSearchSend?.length > 0 ? 'd-none' : '' }}">
                <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
              </button>
              <button
                type="reset"
                class="btn-reset cursor-pointer {{
                  !textSearchSend || (textSearchSend && textSearchSend?.length === 0) ? 'd-none' : ''
                }}"
                (click)="resetSearch()">
                <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
              </button>
            </div>
          </form>
        </div>
        <div class="card-body pt-4 pt-lg-2">
          <ng-container *ngIf="dataIBCSending?.data?.length > 0; else noValues">
            <div class="table-responsive table-transfer-assets d-none d-lg-block">
              <table mat-table [dataSource]="dataIBCSending" class="aura-table body">
                <ng-container *ngFor="let template of templatesIBC; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize">
                      <div [innerHTML]="template.headerCellDef | translate"></div>
                    </th>
                    <td mat-cell *matCellDef="let data; index as idx">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <div *ngSwitchCase="'no'">#{{ idx + 1 }}</div>
                          <div *ngSwitchCase="'asset'" class="d-flex align-items-center">
                            <img [appImg]="data['dataDenom']?.image" alt="" class="mr-1" width="20px" height="20px" />
                            <div class="aura-tooltip-contain">
                              <div class="aura-tooltip-object">
                                {{ data['dataDenom']?.name || data['dataDenom']?.symbol | ellipsis: 20 }}
                              </div>
                              <app-tooltip-customize
                                [className]="'tooltip--right'"
                                [content]="
                                  data['dataDenom']?.name
                                    ? data['dataDenom']?.name + '<br>' + data['dataDenom']?.denom
                                    : data['dataDenom']?.symbol
                                ">
                              </app-tooltip-customize>
                            </div>
                          </div>
                          <div *ngSwitchCase="'type'">{{ data.denom === denom ? 'Native Coin' : 'IBC Token' }}</div>
                          <div *ngSwitchCase="'total_messages'">
                            {{ data[template.matColumnDef] | mask: 'separator.0' }}
                          </div>
                          <div *ngSwitchCase="'amount'">
                            <div class="aura-tooltip-contain">
                              <div *ngIf="data.amount === 0">0</div>
                              <div
                                class="aura-tooltip-object"
                                *ngIf="
                                  data.amount !== 0 && (data.amount | balance: data['dataDenom']?.decimals | lt: 0.001)
                                ">
                                {{ '<0.001' }}
                              </div>
                              <div
                                class="aura-tooltip-object"
                                *ngIf="data.amount | balance: data['dataDenom']?.decimals | gte: 0.001"
                                [class.cursor-text]="
                                  data.amount === 0 ||
                                  ((data.amount | balance: data['dataDenom']?.decimals | gte: 0.001) &&
                                    (data.amount | balance: data['dataDenom']?.decimals | lt: 1000000))
                                "
                                [appBigNumber]="data.amount"
                                [decimal]="data['dataDenom']?.decimals"></div>
                              <app-tooltip-customize
                                *ngIf="
                                  data.amount !== 0 &&
                                  ((data.amount | balance: data['dataDenom']?.decimals | lt: 0.001) ||
                                    (data.amount | balance: data['dataDenom']?.decimals | gte: 1000000))
                                "
                                [content]="data.amount | balance: data['dataDenom']?.decimals | mask: 'separator'">
                              </app-tooltip-customize>
                            </div>
                          </div>
                          <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsIBC"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsIBC"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data" colspan="9999">
                    {{ 'NO DATA' | translate }}
                  </td>
                </tr>
              </table>
            </div>
            <div class="d-lg-none mobile">
              <div *ngFor="let data of dataIBCSending?.data" class="card-ibc-assets">
                <div class="d-flex align-items-center justify-content-between text--white">
                  <div class="d-flex align-items-center">
                    <img [appImg]="data['dataDenom']?.image" alt="" class="mr-2" width="20px" height="20px" />
                    <span>{{ data['dataDenom']?.name || data['dataDenom']?.symbol | ellipsis: 20 }}</span>
                  </div>
                  <span class="text--gray-2">{{ data.denom === denom ? 'Native Coin' : 'IBC Token' }}</span>
                </div>
                <div class="divider divider-horizontal divider-lighter my-2"></div>
                <div class="card__content text--white body-01">
                  <div class="d-flex align-items-center mb-2 justify-content-between">
                    <div class="body text--gray-4 label__content">Messages</div>
                    <div class="text--gray-1 body-mob">{{ data.total_messages }}</div>
                  </div>
                  <div class="d-flex align-items-center mb-2 justify-content-between">
                    <div class="body text--gray-4 label__content">Sending amount</div>
                    <div
                      [appBigNumber]="data.amount"
                      [decimal]="data['dataDenom']?.decimals"
                      class="text--gray-1 body-mob"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="mt-20" *ngIf="isLoadingIBCSend">
            <app-loading-sprint></app-loading-sprint>
          </div>
          <ng-template #noValues>
            <ng-container *ngIf="!isLoadingIBCSend">
              <app-table-no-data [textNull]="errTxtSend"></app-table-no-data>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- IBC Receiving -->
    <div class="col-lg-6">
      <div class="card box-transfer">
        <div class="align-items-center d-lg-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <div class="text--white mb-0 body-01 fw-semibold">IBC Receiving Assets</div>
          <form class="aura-form single-input-field search-form mt-4 mt-lg-0" #searchForm>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search by IBC Assets"
                [maxLength]="maxLengthSearch"
                [(ngModel)]="textSearchReceive"
                (keyup)="searchReceive()"
                name="search"
                autocomplete="off" />
              <button
                type="submit"
                class="btn-search {{ textSearchReceive && textSearchReceive?.length > 0 ? 'd-none' : '' }}">
                <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
              </button>
              <button
                type="reset"
                class="btn-reset cursor-pointer {{
                  !textSearchReceive || (textSearchReceive && textSearchReceive?.length === 0) ? 'd-none' : ''
                }}"
                (click)="resetSearch(true)">
                <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
              </button>
            </div>
          </form>
        </div>
        <div class="card-body pt-4 pt-lg-2">
          <ng-container *ngIf="dataIBCReceiving?.data?.length > 0; else noValues">
            <div class="table-responsive table-transfer-assets d-none d-lg-block">
              <table mat-table [dataSource]="dataIBCReceiving" class="aura-table body keep-header">
                <ng-container *ngFor="let template of templatesIBC; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th mat-header-cell *matHeaderCellDef class="text-capitalize">
                      <div
                        [innerHTML]="template.headerCellDef | translate"
                        *ngIf="template.matColumnDef !== 'amount'"></div>
                      <div *ngIf="template.matColumnDef === 'amount'">Receiving amount</div>
                    </th>
                    <td mat-cell *matCellDef="let data; index as idx">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <div *ngSwitchCase="'no'">#{{ idx + 1 }}</div>
                          <div *ngSwitchCase="'asset'">
                            <img [appImg]="data['dataDenom']?.image" alt="" class="mr-1" width="20px" height="20px" />
                            <div class="aura-tooltip-contain">
                              <div class="aura-tooltip-object">
                                {{ data['dataDenom']?.name || data['dataDenom']?.symbol | ellipsis: 20 }}
                              </div>
                              <app-tooltip-customize
                                [className]="'tooltip--right'"
                                [content]="
                                  data['dataDenom']?.name
                                    ? data['dataDenom']?.name + '<br>' + data['dataDenom']?.denom
                                    : data['dataDenom']?.symbol
                                ">
                              </app-tooltip-customize>
                            </div>
                          </div>
                          <div *ngSwitchCase="'type'">{{ data.denom === denom ? 'Native Coin' : 'IBC Token' }}</div>
                          <div *ngSwitchCase="'total_messages'">
                            {{ data[template.matColumnDef] | mask: 'separator.0' }}
                          </div>
                          <div *ngSwitchCase="'amount'">
                            <div class="aura-tooltip-contain">
                              <div *ngIf="data.amount === 0">0</div>
                              <div
                                class="aura-tooltip-object"
                                *ngIf="
                                  data.amount !== 0 && (data.amount | balance: data['dataDenom']?.decimals | lt: 0.001)
                                ">
                                {{ '<0.001' }}
                              </div>
                              <div
                                class="aura-tooltip-object"
                                *ngIf="data.amount | balance: data['dataDenom']?.decimals | gte: 0.001"
                                [class.cursor-text]="
                                  data.amount === 0 ||
                                  ((data.amount | balance: data['dataDenom']?.decimals | gte: 0.001) &&
                                    (data.amount | balance: data['dataDenom']?.decimals | lt: 1000000))
                                "
                                [appBigNumber]="data.amount"
                                [decimal]="data['dataDenom']?.decimals"></div>
                              <app-tooltip-customize
                                *ngIf="
                                  data.amount !== 0 &&
                                  ((data.amount | balance: data['dataDenom']?.decimals | lt: 0.001) ||
                                    (data.amount | balance: data['dataDenom']?.decimals | gte: 1000000))
                                "
                                [content]="data.amount | balance: data['dataDenom']?.decimals | mask: 'separator'">
                              </app-tooltip-customize>
                            </div>
                          </div>
                          <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsIBC"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsIBC"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data" colspan="9999">
                    {{ 'NO DATA' | translate }}
                  </td>
                </tr>
              </table>
            </div>
            <div class="d-lg-none mobile">
              <div *ngFor="let data of dataIBCReceiving?.data" class="card-ibc-assets">
                <div class="d-flex align-items-center justify-content-between text--white">
                  <div class="d-flex align-items-center">
                    <img [appImg]="data['dataDenom']?.image" alt="" class="mr-2" width="20px" height="20px" />
                    <span>{{ data['dataDenom']?.name || data['dataDenom']?.symbol | ellipsis: 20 }}</span>
                  </div>
                  <span class="text--gray-2">{{ data.denom === denom ? 'Native Coin' : 'IBC Token' }}</span>
                </div>
                <div class="divider divider-horizontal divider-lighter my-2"></div>
                <div class="card__content text--white body-01">
                  <div class="d-flex align-items-center mb-2 justify-content-between">
                    <div class="body text--gray-4 label__content">Messages</div>
                    <div class="text--gray-1 body-mob">{{ data.total_messages }}</div>
                  </div>
                  <div class="d-flex align-items-center mb-2 justify-content-between">
                    <div class="body text--gray-4">Receiving amount</div>
                    <div
                      [appBigNumber]="data.amount"
                      [decimal]="data['dataDenom']?.decimals"
                      class="text--gray-1 body-mob"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="mt-20" *ngIf="isLoadingIBCReceive">
            <app-loading-sprint></app-loading-sprint>
          </div>
          <ng-template #noValues>
            <ng-container *ngIf="!isLoadingIBCReceive">
              <app-table-no-data [textNull]="errTxtReceive"></app-table-no-data>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
