<ng-container *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
    <div class="table-responsive aura-table-contain">
      <ng-container *ngIf="!breakpoint.value.matches">
        <table mat-table [dataSource]="dataSource" class="aura-table d-lg-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data" style="max-width: 200px">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                    <a
                      *ngSwitchCase="'validator_name'"
                      class="text--primary cursor-pointer line-claim-v box-title-validator d-flex align-items-center position-relative break-all"
                      [routerLink]="['/validators', data['validator_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [appClass]="data['jailed'] ? 'jailed' : ''"
                            [identity]="data.validator_identity"
                            [srcImg]="data.image_url"></app-loading-image>
                        </div>
                      </div>
                      <span [class.text-jailed]="data['jailed']">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <div *ngSwitchCase="'amount'" class="d-flex align-items-center">
                      <div class="aura-tooltip-contain d-flex">
                        <div
                          class="aura-tooltip-object"
                          [class.cursor-text]="data[template.matColumnDef] < 1000000"
                          [appBigNumber]="data[template.matColumnDef]"
                          [decimal]="0"></div>
                        <app-tooltip-customize
                          *ngIf="data[template.matColumnDef] >= 1000000"
                          [content]="data[template.matColumnDef] | formatDigit: 2">
                        </app-tooltip-customize>
                      </div>
                      <span class="ml-1" [appLinkDenom]> {{ denom }}</span>
                    </div>
                    <div *ngSwitchCase="'reward'" class="d-flex align-items-center">
                      <div class="aura-tooltip-contain d-flex">
                        <div
                          class="aura-tooltip-object"
                          [class.cursor-text]="data[template.matColumnDef] < 1000000"
                          [appBigNumber]="data[template.matColumnDef]"
                          [decimal]="0"></div>
                        <app-tooltip-customize
                          *ngIf="data[template.matColumnDef] >= 1000000"
                          [content]="data[template.matColumnDef] | formatDigit: 2">
                        </app-tooltip-customize>
                      </div>
                      <span class="ml-1" [appLinkDenom]> {{ denom }} </span>
                    </div>
                    <div *ngSwitchCase="'completion_time'">
                      <div class="d-flex align-items-center">
                        <span>{{ data[template.matColumnDef] | customDateTime: 'DateOnly' }}</span>
                        <div class="divider divider-vertical divider-lighter mx-2"></div>
                        <span>{{ data[template.matColumnDef] | customDateTime: 'TimeOnly' }}</span>
                      </div>
                      <div class="small-body">({{ data[template.matColumnDef] | customDateTime: 'Distance' }})</div>
                    </div>
                    <div *ngSwitchCase="'vesting_schedule'">
                      {{ data['date_format'] | customDateTime: 'DateTime' }}
                      <br />
                      ({{ data['date_format'] | customDateTime: 'Distance' }})
                    </div>
                    <a
                      *ngSwitchCase="'validator_src_name'"
                      class="text--primary cursor-pointer line-claim-v box-title-validator d-flex align-items-center position-relative"
                      [routerLink]="['/validators', data['validator_src_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [identity]="data.validator_src_identity"
                            [appClass]="data['validator_src_jailed'] ? 'jailed' : ''"
                            [srcImg]="data.image_src_url"></app-loading-image>
                        </div>
                      </div>
                      <span [class.text-jailed]="data['validator_src_jailed']">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <a
                      *ngSwitchCase="'validator_dst_name'"
                      class="text--primary cursor-pointer line-claim-v box-title-validator d-flex align-items-center position-relative"
                      [routerLink]="['/validators', data['validator_dst_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [identity]="data.validator_dst_identity"
                            [appClass]="data['validator_dst_jailed'] ? 'jailed' : ''"
                            [srcImg]="data.image_dst_url"></app-loading-image>
                        </div>
                      </div>
                      <span [class.text-jailed]="data['validator_dst_jailed']">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ textNull | translate }}
            </td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="breakpoint.value.matches">
        <div class="table-mobile">
          <ng-container *ngFor="let item of dataSourceMobile; let i = index">
            <div class="box-mob-table fw-normal mb-3">
              <ng-container [ngSwitch]="pageEventType" class="fw-normal">
                <div *ngSwitchCase="pageType.Delegation">
                  <a
                    class="body-mob text--primary d-flex align-items-center"
                    [routerLink]="['/validators', item['validator_address']]">
                    <div class="avatar-wrapper">
                      <span class="validator-avatar">
                        <app-loading-image
                          [appClass]="item['jailed'] ? 'jailed' : ''"
                          [identity]="item['validator_identity']"
                          [srcImg]="item['image_url']">
                        </app-loading-image>
                      </span>
                    </div>
                    <span class="h5 mb-0 text--primary" [class.text-jailed]="item['jailed']">
                      {{ item.validator_name }}
                    </span>
                  </a>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between body-01">
                    <div class="text--gray-4">Amount</div>
                    <div class="text-end">
                      <span [appBigNumber]="item.amount" [decimal]="0"></span>
                      <span [appLinkDenom]> {{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between body-01 mt-3">
                    <div class="text--gray-4">Reward</div>
                    <div class="text-end">
                      <span [appBigNumber]="item.reward" [decimal]="0"></span>
                      <span [appLinkDenom]> {{ denom }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Unbonding">
                  <a
                    class="body-mob text--primary d-flex justify-content-between align-items-center"
                    [routerLink]="['/validators', item['validator_address']]">
                    <div class="d-flex align-items-center">
                      <div class="avatar-wrapper">
                        <span class="validator-avatar">
                          <app-loading-image
                            [appClass]="item['jailed'] ? 'jailed' : ''"
                            [identity]="item['validator_identity']"
                            [srcImg]="item['image_url']">
                          </app-loading-image>
                        </span>
                      </div>
                      <span
                        class="h5 mb-0 text--primary unbonding-val-name line-claim"
                        [class.text-jailed]="item['jailed']">
                        {{ item.validator_name }}
                      </span>
                    </div>
                    <div class="text--white">{{ item.completion_time | customDateTime: 'DateTime' }}</div>
                  </a>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between body-01">
                    <div class="text--gray-4">Amount</div>
                    <div class="text-end">
                      <span [appBigNumber]="item.amount" [decimal]="0"></span>
                      <span [appLinkDenom]> {{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between body-01 mt-3">
                    <div class="text--gray-4">Completion Time</div>
                    <div class="d-flex align-items-center body-mob">
                      <span>{{ item.completion_time | customDateTime: 'DateOnly' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-1"></div>
                      <span>{{ item.completion_time | customDateTime: 'TimeOnly' }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Redelegation">
                  <div class="d-flex justify-content-between">
                    <a
                      class="fw-normal text--primary body-01 line-claim mr-4 w-50"
                      [routerLink]="['/validators', item['validator_src_address']]">
                      <div class="d-flex align-items-center pl-1">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [appClass]="item['validator_src_jailed'] ? 'jailed' : ''"
                              [identity]="item['validator_src_identity']"
                              [srcImg]="item['image_src_url']">
                            </app-loading-image>
                          </span>
                        </div>
                        <span
                          class="h5 mb-0 text--primary line-claim"
                          [class.text-jailed]="item['validator_src_jailed']">
                          {{ item.validator_src_name }}
                        </span>
                      </div>
                    </a>
                    <a
                      class="fw-normal text--primary body-01 line-claim w-50"
                      [routerLink]="['/validators', item['validator_dst_address']]">
                      <div class="d-flex align-items-center pl-1">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [appClass]="item['validator_dst_jailed'] ? 'jailed' : ''"
                              [identity]="item['validator_dst_identity']"
                              [srcImg]="item['image_dst_url']">
                            </app-loading-image>
                          </span>
                        </div>
                        <span
                          class="h5 mb-0 text--primary line-claim"
                          [class.text-jailed]="item['validator_dst_jailed']">
                          {{ item.validator_dst_name }}
                        </span>
                      </div>
                    </a>
                  </div>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between body-01">
                    <div class="text--gray-4">Amount</div>
                    <div class="text-end">
                      <span [appBigNumber]="item.amount" [decimal]="0"></span>
                      <span [appLinkDenom]> {{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between body-01 mt-3">
                    <div class="text--gray-4">Time</div>
                    <div class="d-flex align-items-center">
                      <span>{{ item.completion_time | customDateTime: 'DateOnly' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-2"></div>
                      <span>{{ item.completion_time | customDateTime: 'TimeOnly' }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Vestings">
                  <span class="text--white h5 mb-0">{{ item.type_format }}</span>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between">
                    <div class="text--gray-4">Amount</div>
                    <div class="text-end">
                      <span [appBigNumber]="item.amount" [decimal]="0"></span>
                      <span [appLinkDenom]> {{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div class="text--gray-4">Vesting Schedule</div>
                    <div class="d-flex align-items-center">
                      <span>{{ item.date_format | customDateTime: 'DateOnly' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-2"></div>
                      <span>{{ item.date_format | customDateTime: 'TimeOnly' }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <app-paginator
        [length]="pageData.length"
        [pageSize]="pageData.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="paginatorEvent($event)">
      </app-paginator>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</ng-container>
