<ngx-simplebar style="max-height: 530px" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <div class="table-responsive aura-table-contain">
      <ng-container *ngIf="!breakpoint.value.matches">
        <table mat-table [dataSource]="dataSource" class="aura-table d-none d-lg-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data" style="max-width: 200px">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                    <a  *ngSwitchCase="'validator_name'"
                        class="text--green cursor-pointer text-clamp box-title-validator"
                        [routerLink]="['/validators', data['validator_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                                  [appClass]="data?.jailed ? 'validator-jailed' : ''"
                                  [srcImg]="getValidatorAvatar(data.operator_address)"></app-loading-image>
                        </div>
                        <div *ngIf="data?.jailed && data['status'] !== statusValidator.Active" class="jailed">
                          <img src="assets/icons/icons-svg/color/jailed.svg" alt="" />
                        </div>
                      </div>
                      <span [class.text-title]="data?.jailed && data['status'] !== statusValidator.Active">
                            {{ data[template.matColumnDef] }}
                          </span>
                    </a>
                    <div *ngSwitchCase="'amount'" class="fw-normal">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span>
                    </div>
                    <div *ngSwitchCase="'token_amount'" class="fw-normal">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                    </div>
                    <div *ngSwitchCase="'token_name'" class="fw-normal text--green">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <div *ngSwitchCase="'reward'" class="fw-normal">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span>
                    </div>
                    <div *ngSwitchCase="'completion_time'">
                      {{ commonService.getDateValue(data[template.matColumnDef], false)[0] }}
                      <div class="small-body">
                        ({{ commonService.getDateValue(data[template.matColumnDef], false)[1] }})
                      </div>
                    </div>
                    <div *ngSwitchCase="'vesting_schedule'">
                      {{ commonService.getDateValue(data['date_format'], false)[1] }} <br />({{
                        commonService.getDateValue(data['date_format'], false)[0]
                      }})
                    </div>
                    <div *ngSwitchCase="'total_value'" class="fw-normal">
                      $ {{ data[template.matColumnDef] | number: global.formatNumber2Decimal }}
                    </div>
                    <a
                      *ngSwitchCase="'validator_src_name'"
                      class="text--green cursor-pointer text-clamp"
                      [routerLink]="['/validators', data['validator_src_address']]">
                      {{ data[template.matColumnDef] }}
                    </a>
                    <a
                      *ngSwitchCase="'validator_dst_name'"
                      class="text--green cursor-pointer text-clamp"
                      [routerLink]="['/validators', data['validator_dst_address']]">
                      {{ data[template.matColumnDef] }}
                    </a>
                    <div *ngSwitchDefault class="fw-normal">{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ textNull | translate }}
            </td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="breakpoint.value.matches">
        <div class="table-mobile">
          <ng-container *ngFor="let item of dataSource.data; let i = index">
            <div
              class="box-mob-table fw-normal mb-3"
              *ngIf="i >= pageData.pageSize * currentPage && i < pageData.pageSize * (currentPage + 1)">
              <ng-container [ngSwitch]="pageEventType" class="fw-normal">
                <div *ngSwitchCase="pageType.Delegation">
                  <a
                    class="fw-normal text--green body-mob"
                    [routerLink]="['/validators', item['validator_address']]">
                    {{ item.validator_name }}
                  </a>
                  <br />
                  <div class="d-flex justify-content-between">
                    <div class="fw-normal">
                      Amount<br />
                      Reward
                    </div>
                    <div class="txt-right">
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span
                      ><br />
                      {{ item.reward | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Unbonding">
                  <div class="d-flex justify-content-between">
                    <div class="fw-normal">
                      <a
                        class="fw-normal text--green body-mob"
                        [routerLink]="['/validators', item['validator_address']]">
                        {{ item.validator_name }}
                      </a>
                      <br />
                      Amount<br />
                      Completion Time
                    </div>
                    <div class="txt-right">
                      {{ commonService.getDateValue(item.completion_time, false)[1] }}<br />
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span
                      ><br />
                      {{ commonService.getDateValue(item.completion_time, false)[0] }}
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Redelegation">
                  <div class="d-flex justify-content-between">
                    <div class="fw-normal">
                      <a
                        class="fw-normal text--green body-mob"
                        [routerLink]="['/validators', item['validator_address']]">
                        {{ item.validator_src_name }}
                      </a>
                      <br />
                      Amount<br />
                      Time
                    </div>
                    <div class="txt-right">
                      <a
                        class="fw-normal text--green body-mob"
                        [routerLink]="['/validators', item['validator_address']]">
                        {{ item.validator_dst_name }}
                      </a>
                      <br />
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span
                      ><br />
                      {{ commonService.getDateValue(item.completion_time, false)[0] }} <br />
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Vestings">
                  <span class="fw-normal text--green body-mob">{{ item.type_format }}</span
                  ><br />
                  <div class="d-flex justify-content-between">
                    <div class="fw-normal">
                      Amount<br />
                      Vesting Schedule
                    </div>
                    <div class="txt-right">
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--green">{{ denom }}</span
                      ><br />
                      {{ commonService.getDateValue(item.date_format, false)[1] }} <br />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <app-paginator
        [length]="pageData.length"
        [pageSize]="pageData.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="paginatorEvent($event)">
      </app-paginator>
    </div>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</ngx-simplebar>
