<ngx-simplebar *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
    <div class="table-responsive aura-table-contain">
      <ng-container *ngIf="!breakpoint.value.matches">
        <table mat-table [dataSource]="dataSource" class="aura-table d-none d-lg-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data" style="max-width: 200px">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                    <a  *ngSwitchCase="'validator_name'"
                        class="text--primary cursor-pointer text-clamp box-title-validator d-flex align-items-center position-relative"
                        [routerLink]="['/validators', data['validator_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [appClass]="data?.jailed ? 'validator-jailed' : ''"
                            [identity]='data.validator_identity'
                            [srcImg]="getValidatorAvatar(data.validator_address)"></app-loading-image>
                        </div>
                        <div *ngIf="data?.jailed && data['status'] !== statusValidator.Active" class="jailed">
                          <img [src]="'assets/icons/icons-svg/color/jailed.svg' | imageS3" alt="" />
                        </div>
                      </div>
                      <span [class.text-title]="data?.jailed && data['status'] !== statusValidator.Active">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <div *ngSwitchCase="'amount'">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                      <span class="text--primary">{{ data?.denom }}</span>
                    </div>
                    <div *ngSwitchCase="'token_amount'">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                    </div>
                    <div *ngSwitchCase="'token_name'" class=" text--primary">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <div *ngSwitchCase="'reward'">
                      {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                      <span class="text--primary">{{ denom }}</span>
                    </div>
                    <div *ngSwitchCase="'completion_time'">
                      <div class="d-flex align-items-center">
                        <span>{{ data[template.matColumnDef] | customDate: 'yyyy-MM-dd' }}</span>
                        <div class="divider divider-vertical divider-lighter mx-2"></div>
                        <span>{{ data[template.matColumnDef] | customDate: 'HH:mm:ss' }}</span>
                      </div>
                      <div class="small-body">
                        ({{ commonService.getDateValue(data[template.matColumnDef], false)[1] }})
                      </div>
                    </div>
                    <div *ngSwitchCase="'vesting_schedule'">
                      {{ commonService.getDateValue(data['date_format'], false)[1] }} <br />({{
                        commonService.getDateValue(data['date_format'], false)[0]
                      }})
                    </div>
                    <div *ngSwitchCase="'total_value'">
                      $ {{ data[template.matColumnDef] | number: global.formatNumber2Decimal }}
                    </div>
                    <a  *ngSwitchCase="'validator_src_name'"
                        class="text--primary cursor-pointer text-clamp box-title-validator d-flex align-items-center position-relative"
                        [routerLink]="['/validators', data['validator_src_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [identity]='data.validator_src_identity'
                            [appClass]="data?.jailed ? 'validator-jailed' : ''"
                            [srcImg]="getValidatorAvatar(data.validator_src_address)"></app-loading-image>
                        </div>
                        <div *ngIf="data?.jailed && data['status'] !== statusValidator.Active" class="jailed">
                          <img [src]="'assets/icons/icons-svg/color/jailed.svg' | imageS3" alt="" />
                        </div>
                      </div>
                      <span [class.text-title]="data?.jailed && data['status'] !== statusValidator.Active">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <a
                      *ngSwitchCase="'validator_dst_name'"
                      class="text--primary cursor-pointer text-clamp box-title-validator d-flex align-items-center position-relative"
                      [routerLink]="['/validators', data['validator_dst_address']]">
                      <div class="avatar-wrapper">
                        <div class="validator-avatar">
                          <app-loading-image
                            [identity]='data.validator_dst_identity'
                            [appClass]="data?.jailed ? 'validator-jailed' : ''"
                            [srcImg]="getValidatorAvatar(data.validator_dst_address)"></app-loading-image>
                        </div>
                        <div *ngIf="data?.jailed && data['status'] !== statusValidator.Active" class="jailed">
                          <img [src]="'assets/icons/icons-svg/color/jailed.svg' | imageS3" alt="" />
                        </div>
                      </div>
                      <span [class.text-title]="data?.jailed && data['status'] !== statusValidator.Active">
                        {{ data[template.matColumnDef] }}
                      </span>
                    </a>
                    <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ textNull | translate }}
            </td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="breakpoint.value.matches">
        <div class="table-mobile">
          <ng-container *ngFor="let item of dataSourceMobile; let i = index">
            <div class="box-mob-table fw-normal mb-3">
              <ng-container [ngSwitch]="pageEventType" class="fw-normal">
                <div *ngSwitchCase="pageType.Delegation">
                  <a class="body-mob text--primary d-flex align-items-center" [routerLink]="['/validators', item['validator_address']]">
                    <div class="avatar-wrapper">
                      <span class="validator-avatar">
                        <app-loading-image
                          [identity]='item["validator_identity"]'
                          [srcImg]="getValidatorAvatar(item['validator_address'])">
                        </app-loading-image>
                      </span>
                    </div>
                    <span class="h5 mb-0 text--primary"> {{ item.validator_name }} </span>
                  </a>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between body-01">
                    <div class="text--gray-4">Amount</div>
                    <div class="txt-right">
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--primary">{{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between body-01 mt-3">
                    <div class="text--gray-4">Reward</div>
                    <div class="txt-right">
                      {{ item.reward | number: global.formatNumberToken }}
                      <span class="text--primary">{{ denom }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Unbonding">
                    <a class="body-mob text--primary d-flex justify-content-between align-items-center" [routerLink]="['/validators', item['validator_address']]">
                      <div class="d-flex align-items-center">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [identity]='item["validator_identity"]'
                              [srcImg]="getValidatorAvatar(item['validator_address'])">
                            </app-loading-image>
                          </span>
                        </div>
                        <span class="h5 mb-0 text--primary"> {{ item.validator_name }} </span>
                      </div>
                      <div class="text--white">{{ commonService.getDateValue(item.completion_time, false)[1] }}</div>
                    </a>
                    <div class="divider divider-horizontal divider-lighter my-3"></div>
                    <div class="d-flex justify-content-between body-01">
                      <div class="text--gray-4">Amount</div>
                      <div class="txt-right">
                        {{ item.amount | number: global.formatNumberToken }}
                        <span class="text--primary">{{ denom }}</span>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between body-01 mt-3">
                      <div class="text--gray-4">Completion Time</div>
                      <div class="d-flex align-items-center">
                        <span>{{ item.completion_time | customDate: 'yyyy-MM-dd' }}</span>
                        <div class="divider divider-vertical divider-lighter mx-1"></div>
                        <span>{{ item.completion_time | customDate: 'HH:mm:ss' }}</span>
                      </div>
                    </div>
                </div>
                <div *ngSwitchCase="pageType.Redelegation">
                  <div class="d-flex justify-content-between">
                    <a class="fw-normal text--primary body-01 ellipsis-text mr-4 w-50" [routerLink]="['/validators', item['validator_src_address']]">
                      <div class="d-flex align-items-center">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [identity]="item['validator_src_identity']"
                              [srcImg]="getValidatorAvatar(item['validator_src_address'])">
                            </app-loading-image>
                          </span>
                        </div>
                        <span class="h5 mb-0 text--primary ellipsis-text"> {{ item.validator_src_name }} </span>
                      </div>
                    </a>
                    <a class="fw-normal text--primary body-01 ellipsis-text w-50" [routerLink]="['/validators', item['validator_dst_address']]">
                      <div class="d-flex align-items-center">
                        <div class="avatar-wrapper">
                          <span class="validator-avatar">
                            <app-loading-image
                              [identity]="item['validator_dst_identity']"
                              [srcImg]="getValidatorAvatar(item['validator_dst_address'])">
                            </app-loading-image>
                          </span>
                        </div>
                        <span class="h5 mb-0 text--primary ellipsis-text"> {{ item.validator_dst_name }} </span>
                      </div>
                    </a>
                  </div>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between body-01">
                    <div class="text--gray-4">Amount</div>
                    <div class="txt-right">
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--primary">{{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between body-01 mt-3">
                    <div class="text--gray-4">Time</div>
                    <div class="d-flex align-items-center">
                      <span>{{ item.completion_time | customDate: 'yyyy-MM-dd' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-2"></div>
                      <span>{{ item.completion_time | customDate: 'HH:mm:ss' }}</span>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="pageType.Vestings">
                  <span class="text--primary h5 mb-0">{{ item.type_format }}</span>
                  <div class="divider divider-horizontal divider-lighter my-3"></div>
                  <div class="d-flex justify-content-between">
                    <div class="text--gray-4">Amount</div>
                    <div class="txt-right">
                      {{ item.amount | number: global.formatNumberToken }}
                      <span class="text--primary">{{ denom }}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <div class="text--gray-4">Vesting Schedule</div>
                    <div class="d-flex align-items-center">
                      <span>{{ item.date_format | customDate: 'yyyy-MM-dd' }}</span>
                      <div class="divider divider-vertical divider-lighter mx-2"></div>
                      <span>{{ item.date_format | customDate: 'HH:mm:ss' }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <app-paginator
        [length]="pageData.length"
        [pageSize]="pageData.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="paginatorEvent($event)">
      </app-paginator>
    </div>
  </ng-container>

  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</ngx-simplebar>
