<section *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card mb-0">
    <div class="card-body p-0">
      <!-- Title -->
      <div class="d-xl-flex justify-content-between align-items-center mb-4" *ngIf="!assetsLoading">
        <h3 class="mb-3 fw-700 text--gray-light-2 mb-lg-0">Fungible Tokens ({{ pageData?.length || 0 }})</h3>
        <div class="d-flex flex-lg-row align-items-center justify-content-end gap-2">
          <div
            class="d-flex align-items-center justify-content-center ml-2 ml-lg-0 w-100"
            *ngIf="!breakpoint.value.matches && !errTxt">
            <div class="body d-lg-flex d-none align-items-center justify-content-center mr-2 text--gray-1">Type</div>
            <div class="dropdown aura-dropdown">
              <button
                class="button button-pill button--sm button-outline button-outline__in-card token-filter-none px-3 justify-content-between"
                type="button"
                #tokenFilterBtn
                id="tokenFilter"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>{{ tokenFilterItem?.label | ellipsis: 16 }} ({{ tokenFilterItem?.quantity || 0 }})</span>
                <i class="ph ph-caret-down text--white h3"></i>
                <i class="ph ph-caret-up text--white h3"></i>
              </button>
              <ul
                class="dropdown-menu aura-dropdown-menu filter-dropdown border-sm border-gray-9 border-radius--sm"
                aria-labelledby="tokenFilter">
                <li
                  *ngFor="let item of listTokenType; let i = index"
                  (click)="tokenFilter = item.value; getListToken(); setTokenFilter(item)"
                  class="dropdown-item cursor-pointer"
                  [class.item-border]="i === 0"
                  [class.mb-1]="i > 0"
                  [class.active]="tokenFilter === item.value">
                  <span class="body">{{ item.label + ' (' + item.quantity + ')' }}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="position-relative ml-lg-4 w-lg-auto w-100" *ngIf="!errTxt">
            <form (ngSubmit)="searchToken()" class="aura-form single-input-field token-filter-form w-100" #searchForm>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for Coins & Token name or Contract Address"
                  [(ngModel)]="searchValue"
                  [maxLength]="maxLengthSearch"
                  (keyup.enter)="searchToken()"
                  name="search"
                  autocomplete="off" />
                <button type="submit" class="btn-search {{ searchValue && searchValue?.length > 0 ? 'd-none' : '' }}">
                  <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
                </button>
                <button
                  type="reset"
                  class="btn-reset cursor-pointer {{
                    !searchValue || (searchValue && searchValue?.length === 0) ? 'd-none' : ''
                  }}"
                  (click)="resetSearch()">
                  <img
                    [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3"
                    alt=""
                    width="24"
                    height="24" />
                </button>
              </div>
            </form>
          </div>
          <div class="ml-2" *ngIf="breakpoint.value.matches && !errTxt">
            <div class="dropdown aura-dropdown">
              <button
                class="button button-pill button--sm button-outline button-outline__in-card token-filter-none px-3"
                type="button"
                id="filterTypeAction"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="ph-{{ 'faders-horizontal' }} text--white"></i>
              </button>
              <ul
                class="dropdown-menu aura-dropdown-menu filter-dropdown border-sm border-gray-9 border-radius--sm"
                aria-labelledby="filterTypeAction">
                <li
                  *ngFor="let item of listTokenType; let i = index"
                  (click)="tokenFilter = item.value; getListToken()"
                  class="dropdown-item cursor-pointer mb-1"
                  [class.active]="tokenFilter === item.value">
                  <span class="body">{{ item.label + ' (' + item.quantity + ')' }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="dataSource?.data?.length > 0; else noValues">
        <!-- Table -->
        <div class="table-responsive table-token" *ngIf="!assetsLoading">
          <table mat-table matSort [dataSource]="dataSource" class="aura-table coin-table none-header">
            <!-- Asset Column -->
            <ng-container matColumnDef="asset">
              <th *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div>
                    <img [appImg]="element?.image" [defaultImage]="defaultLogoAura" class="image-token" alt="" />
                  </div>
                  <div>
                    <a class="d-flex align-items-center text-nowrap mr-3" [routerLink]="['/token', element.tokenUrl]">
                      <div class="d-flex align-items-center">
                        <div class="ml-2 body-03 fw-semibold">
                          {{ element.name | ellipsis: 30 }}
                        </div>
                        <div class="cursor-pointer" [appTooltip]="element.verify_text || 'Verified by Aura Network'">
                          <img
                            [src]="'assets/images/icons/circle-wavy-check.png' | imageS3"
                            alt=""
                            width="18"
                            height="18"
                            class="ml-1"
                            *ngIf="element.verify_status === 'VERIFIED'" />
                        </div>
                      </div>
                    </a>
                    <span class="ml-2">{{ element.symbol }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- CONTRACT ADDRESS Column -->
            <ng-container matColumnDef="contractAddress">
              <th *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                <div class="d-flex flex-column">
                  <span class="text--gray-4 caption fw-normal">Contract</span>
                  <app-name-tag
                    [value]="element.contract_address"
                    *ngIf="element.contract_address !== '-'"
                    [iconContract]="true"
                    [linkRouter]="['/contracts', element.contract_address]">
                  </app-name-tag>
                  <span *ngIf="element.contract_address === '-'">-</span>
                </div>
              </td>
            </ng-container>

            <!-- PRICE Column -->
            <ng-container matColumnDef="price">
              <th *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex flex-column">
                  <span class="text--gray-4 caption fw-normal">Price</span>
                  <div class="d-flex text-nowrap mr-3" *ngIf="element.price > 0; else defaultValues">
                    <span>${{ +element.price | mask: 'separator.6' }} </span>
                    <span class="text--gray-4 caption fw-normal ml-1 mr-1">|</span>
                    <div
                      class="d-flex {{ element.isValueUp ? 'text--green-3' : 'text--red-3' }}"
                      *ngIf="element.change !== '-'; else defaultValues">
                      <span>{{ element.isValueUp ? '↑' : '↓' }} {{ element.change | formatDigit: 2 }}% </span>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- AMOUNT Column -->
            <ng-container matColumnDef="amount">
              <th *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <span class="text--gray-4 caption fw-normal">Amount</span>
                <div *ngIf="element.balance === 0">0</div>
                <div *ngIf="element.balance !== 0">
                  <div
                    [appTooltip]="{
                      priceAmount: element.balance,
                      decimal: element.contract_address !== '-' ? element.decimals : 0
                    }"
                    *ngIf="
                      (element.balance | balance: (element.contract_address !== '-' ? element.decimals : 0) : true).lt(
                        0.001
                      )
                    ">
                    {{ '<0.001' }}
                  </div>
                  <div
                    [appTooltip]="{
                      priceAmount: element.balance,
                      decimal: element.contract_address !== '-' ? element.decimals : 0
                    }"
                    *ngIf="
                      (element.balance | balance: (element.contract_address !== '-' ? element.decimals : 0) : true).gte(
                        0.001
                      )
                    "
                    [appBigNumber]="element.balance"
                    [decimal]="element.contract_address !== '-' ? element.decimals : 0"></div>
                </div>
              </td>
            </ng-container>

            <!-- VALUE Column -->
            <ng-container matColumnDef="value">
              <th *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex flex-column">
                  <span class="text--gray-4 caption fw-normal">Value</span>
                  <span *ngIf="element.price > 0; else defaultValues">
                    <div *ngIf="element.contract_address === '-'">
                      <div *ngIf="element.value == 0">$0.00</div>
                      <div *ngIf="element.value != 0">
                        <div *ngIf="element.value | lt: '0.01'" [appTooltip]="{ priceAmount: element.value, lt: 0.01 }">
                          {{ '< $0.01' }}
                        </div>
                        <ng-container *ngIf="element.value | gte: '0.01'">
                          <span
                            [appBigNumber]="element.balance"
                            [tokenPrice]="element.price"
                            [decimal]="0"
                            [appTooltip]="{
                              priceAmount: element.value,
                              lt: 0.01,
                              decimal: 0
                            }"></span>
                        </ng-container>
                      </div>
                    </div>

                    <div *ngIf="element.contract_address !== '-'">
                      <div *ngIf="element.value === 0">0</div>
                      <div *ngIf="element.value != 0">
                        <div *ngIf="element.value | lt: '0.01'" [appTooltip]="{ priceAmount: element.value, lt: 0.01 }">
                          {{ '< $0.01' }}
                        </div>

                        <div
                          *ngIf="element.value | gte: '0.01'"
                          [appBigNumber]="element.balance"
                          [decimal]="element.decimals"
                          [tokenPrice]="element.price"
                          [appTooltip]="{ priceAmount: element.value, decimal: element.decimal, lt: 0.01 }"></div>
                      </div>
                    </div>
                  </span>
                </div>
              </td>
            </ng-container>

            <ng-template #defaultValues>-</ng-template>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </ng-container>
    </div>
    <ng-template #noValues>
      <div class="card mt-lg-14 mt-8" *ngIf="!assetsLoading">
        <app-table-no-data [textNull]="errTxt || 'No coins & tokens'"></app-table-no-data>
      </div>
    </ng-template>
    <div *ngIf="assetsLoading" class="mt-lg-14 mt-8">
      <app-loading-sprint></app-loading-sprint>
    </div>
  </div>
</section>
