.contract-address {
  width: 125px;
}

.aura__change {
  font-size: 1.4rem;
  line-height: 1.8rem;

  &--desc,
  &--asc {
    &::after {
      top: -3px;
      left: 0;
      transform: unset;
    }
  }
}

.table-token {
  overflow-y: auto;
  height: 380px;

  ::ng-deep table thead {
    display: none;
  }
}

.token-filter-form.aura-form.single-input-field .input-group {
  height: 40px;

  @media (min-width: 991.99px) {
    width: 370px;
  }
  @media (min-width: 1281px) {
    width: 420px;
  }
  width: 100%;
}

.image-token {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

@media (max-width: 991.99px) {
  .aura-table.coin-table td.mat-cell:nth-child(1),
  .aura-table.coin-table td.mat-cell:nth-child(2) {
    min-width: 200px;
  }
  .aura-table.coin-table td.mat-cell:nth-child(3),
  .aura-table.coin-table td.mat-cell:nth-child(4),
  .aura-table.coin-table td.mat-cell:nth-child(5) {
    min-width: 120px;
  }
}

::ng-deep {
  .filter-dropdown {
    right: unset !important;
    transform: translateX(-50%) !important;
    width: 200px;
    li.active {
      background-color: var(--aura-gray-8) !important;
    }
  }

  .tokenFilterPanel {
    border: 1px solid var(--aura-gray-8);
    background: #25252c;
    width: calc(100vw - 66px) !important;
    min-width: 214px !important;
    transform: translate3D(1px, 29px, 0) !important;
    padding: var(--spacer-2) !important;
    border-radius: 8px;
    @media (min-width: 991.98px) {
      width: 214px !important;
    }
  }
}

#tokenFilter {
  min-width: 200px;
  text-align: left;
  &[aria-expanded='true'] {
    i.ph-caret-down {
      display: none;
    }
    i.ph-caret-up {
      display: flex;
    }
  }
  &[aria-expanded='false'] {
    i.ph-caret-down {
      display: flex;
    }
    i.ph-caret-up {
      display: none;
    }
  }
}
.item-border {
  position: relative;
  margin-bottom: 7px;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -5px;
    height: 1px;
    background-color: var(--aura-gray-8);
  }
}
