<section class="contract-verify">
  <h1 class="text--white mb-2 mb-lg-0">Verify & Publish Contract Source Code</h1>
  <div class="divider divider-horizontal my-4 d-none d-lg-block"></div>
  <div class="body-02 caption-mob fw-normal-mob text--gray-6">
    Source code verification provides transparency for users interacting with smart contracts. By uploading link GitHub
    source code, Aurascan will match the compiled code with that on the blockchain. Just like contracts, a smart
    contract should provide end users with more information on what they are "digitally signing" for and give users an
    opportunity to audit the code to independently verify that it actually does what it is supposed to do.
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <!-- Contract Source Code -->
      <form
        [formGroup]="contractForm"
        (ngSubmit)="onSubmit()"
        class="aura-form"
        autocomplete="off">
        <div class="form-group mb-4 mb-lg-6">
          <label for="address" class="form-label text--gray-1">Contract Address to verify </label>
          <input
            formControlName="contract_address"
            type="text"
            class="form-control"
            id="address"
            placeholder="aura..." />
          <div class="error" *ngIf="formControls['contract_address'].invalid">Contract address is required!</div>
        </div>
        <div class="form-group mb-4 mb-lg-6">
          <label for="link" class="form-label text--gray-1">
            Link GitHub Source Code
          </label>
          <input formControlName="link" type="text" class="form-control" id="link" maxlength="200" />
          <ng-container *ngIf="formControls['link'].touched">
            <div class="error" *ngIf="formControls['link'].errors?.required">Required</div>
            <div class="error" *ngIf="formControls['link'].errors?.maxlength">
              Link GitHub Source Code is not allowed more 200 characters!
            </div>
            <div class="error" *ngIf="formControls['link'].errors?.pattern && !formControls['link'].errors?.required">
              Invalid link Github Source Code
            </div>
          </ng-container>
        </div>
        <div class="form-group mb-4 mb-lg-6">
          <label for="wasm_file" class="form-label text--gray-1"> Compiled wasm file name </label>
          <input
            formControlName="wasm_file"
            type="text"
            class="form-control"
            id="wasm_file"
            maxlength="200"
            placeholder="xxx.wasm" />
          <ng-container *ngIf="formControls['wasm_file'].touched">
            <div class="error" *ngIf="formControls['wasm_file'].errors?.required">Required</div>
            <div class="error" *ngIf="formControls['wasm_file'].errors?.maxlength">
              Compiled wasm file name is not allowed more 200 characters!
            </div>
          </ng-container>
        </div>
        <div class="form-group mb-4 mb-lg-6">
          <label for="version" class="form-label text--gray-1">Compiler Version</label>
          <mat-select
            #version
            id="version"
            formControlName="compiler_version"
            class="form-control select-input-field select-input--flat"
            panelClass="aura-optional-panel aura-optional-panel--flat"
            [disableOptionCentering]="true"
            placeholder="Please select compiler version">
            <mat-option *ngFor="let item of versionList" [value]="item.value">
              {{ item.label }}
            </mat-option>
          </mat-select>

          <ng-container *ngIf="formControls['compiler_version'].touched">
            <div class="error" *ngIf="formControls['compiler_version'].errors?.required">Required</div>
          </ng-container>
        </div>

        <div class="d-flex justify-content-center justify-content-lg-end align-items-center pt-2 pt-lg-0">
          <button class="button button--md button-pill button-outline button-fixed" type="button" (click)="handleReset()">
            <span>Reset</span>
          </button>
          <button class="button button--md button-pill button-outline button-outline--gradient button-fixed button-outline__in-card ml-4" type="submit">
            <span>Verify & Publish</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
