.contract-verify {
  @media (min-width: 992px) {
    padding-top: 16px;
    padding-bottom: 56px;
  }
  .divider {
    background-color: var(--aura-gray-10);
  }
  ul.aura-nav-tabs li {
    min-width: 100px;
    text-align: center;
    @media (min-width: 992px) {
      min-width: 200px;
    }
  }
}
