.table-mobile__item .table-header {
  display: inherit;
  border-bottom: none;
  padding: 10px 0px 0px 0px;
}

.table-mobile__item .table-body {
  padding: 8px 0px;
}

::ng-deep .mat-menu-panel {
  max-width: 375px !important;
}