.divider.divider-vertical {
  min-height: 16px;
  margin: 0 16px;
}

input.form-check-input {
  color: var(--aura-gray-1);
}

.error-null {
  border: 2px solid var(--aura-red-3) !important;
}

.btn-add-zero {
  width: 25px;
  height: 25px;

  .icon-add-zero {
    font-size: 15px;
    color: var(--aura-white);
  }
}

textarea {
  padding: 8px 12px;
  resize: none;
}

.warning-wrapper {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;

  border-radius: 8px;
  background: rgba(255, 200, 0, 0.16);
  color: var(--aura-white);

  img {
    width: 20px;
  }
}

.item-notify {
  border-radius: 8px;
  background: #222f3d;
  box-shadow: 0px 4px 10px 0px #00000005;
  padding: 8px 16px 8px 8px;
  width: fit-content;
}

.connect-wallet {
  ::ng-deep {
    .wallet-connect-container {
      margin-bottom: 10px !important;
    }
  }
}
