table.internal-transaction {
  tr.mat-row {
    height: 48px;
  }

  td.mat-cell,
  th {
    border-bottom-color: var(--aura-gray-6);
  }
}

.box-internal-mobile {
  max-height: 600px;
  overflow-x: auto;
}
