<app-pagetitle title="Transactions" [breadcrumbItems]="breadCrumbItems" [displayInfo]="true"></app-pagetitle>
<ng-container *ngIf="length > 0; else noValues">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="  aura-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef class="none-border-top">
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <div *ngSwitchCase="'timestamp'">
                      {{ getDateValue(data[template.matColumnDef])[0] }}
                    </div>
                    <div *ngSwitchCase="'tx_hash_format'" class="text--green cursor-pointer hash-link">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <div *ngSwitchCase="'height'" class="text--green cursor-pointer block-link">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <div *ngSwitchCase="'type'" class="text--green">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <!-- <div *ngSwitchCase="'status'">
                      <div [ngSwitch]="data[template.matColumnDef]">
                        <div *ngSwitchCase="'Success'" class="text--primary">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Fail'" class="text--danger">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Pending'" class="text--warning">
                          {{ data[template.matColumnDef] }}
                        </div>
                      </div>
                    </div> -->
                    <div *ngSwitchCase="'fee'">
                      {{ data[template.matColumnDef] }} <span class="text--primary">{{ global.stableToken }}</span>
                    </div>
                    <div *ngSwitchCase="'amount'">
                      <ng-container *ngIf="data[template.matColumnDef] > 0">
                        {{ data[template.matColumnDef] | number: global.formatNumberToken }} <span class="text--primary">{{ global.stableToken }}</span>
                      </ng-container>
                      <ng-container *ngIf="data[template.matColumnDef] == 0"> - </ng-container>
                    </div>
                    <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [class]="displayedColumns"
                  (click)="openTxsDetail($event, row)"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ 'NO DATA' | translate }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noValues>
  <app-table-no-data></app-table-no-data>
</ng-template>
