<div class="wallet-list-container">
  <div
    class="d-flex flex-row-reverse flex-lg-row justify-content-center justify-content-lg-between align-items-center mb-4">
    <div class="sub-text wallet-title text--white w-100 text-center text-lg-start h3 h1-mob">Connect a wallet</div>
    <img
      class="icon-close close-dialog"
      [src]="
        disabled
          ? ('assets/icons/icons-svg/white/arrow-left.svg' | imageS3)
          : ('assets/icons/icons-svg/basic/close.svg' | imageS3)
      "
      alt=""
      (click)="dismiss()" />
  </div>
  <div class="border-bottom-mobile"></div>
  <p class="caption-mob fw-normal">
    {{ 'WALLET.MSG_CONNECT' | translate }}
  </p>
  <!-- <div class="wallet-list" [class.disabled-connect]="disabled"> -->
  <div class="wallet-list">
    <ul class="list-group">
      <li
        *ngFor="let wallet of walletList"
        class="wallet-item"
        (click)="!(disabled && wallet.disableMobile) && connect(wallet)"
        [class.disabled-connect]="disabled && wallet.disableMobile">
        <div class="d-flex align-items-center gap-3">
          <img class="wallet-icon" [src]="wallet.icon | imageS3" />
          <span class="h3 text--gray-1">{{ wallet.name | titlecase }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
