<div class="proposal-table-container">
  <ng-container *ngIf="data.length > 0; else noValues">
    <table mat-table [dataSource]="dataSource" class="table-responsive aura-table">
      <ng-container *ngFor="let template of template; index as i">
        <ng-container [matColumnDef]="template.matColumnDef">
          <th mat-header-cell *matHeaderCellDef class="none-border-top">
            <div [innerHTML]="template.headerCellDef | translate"></div>
          </th>

          <td mat-cell *matCellDef="let data">
            <div [classList]="[template.cssClass]">
              <ng-container *ngIf="template.isUrl && !template.isShort && data[template.matColumnDef]">
                <a [routerLink]="[template.isUrl, data[template.paramField] || data[template.matColumnDef]]">
                  {{ (template.isShort ? shortenAddress(data[template.matColumnDef]) : data[template.matColumnDef]) ||
                  '-'}}
                </a>
              </ng-container>
              <ng-container *ngIf="template.isUrl && template.isShort">
                <a [routerLink]="[template.isUrl, data[template.matColumnDef]]"
                  [class.disabled-link]="!data[template.matColumnDef]">
                  {{ shortenAddress(data[template.matColumnDef]) || '-'}}
                </a>
              </ng-container>
              <ng-container *ngIf="!template.isUrl || data[template.matColumnDef] === ''">
                <ng-container [ngSwitch]="template.matColumnDef">
                  <ng-container *ngSwitchCase="'amount'">
                    {{
                    (template.isShort ? shortenAddress(data[template.matColumnDef]) : data[template.matColumnDef]) ||
                    '-' | number: global.formatNumberToken
                    }}
                    <span class="g-purple">{{ global.stableToken }}</span>
                  </ng-container>
                  <ng-container *ngSwitchCase="'option'">
                    {{ getVoteValue(data[template.matColumnDef]) }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'created_at'">
                    {{ getDateValue(data[template.matColumnDef])[0] }}
                    <br />
                    {{ getDateValue(data[template.matColumnDef])[1] }}
                  </ng-container>

                  <ng-container *ngSwitchDefault>
                    {{
                    (template.isShort ? shortenAddress(data[template.matColumnDef]) : data[template.matColumnDef]) ||
                    '-'
                    }}
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell g-no-data" colspan="9999">
          {{ 'NO DATA' | translate }}
        </td>
      </tr>
    </table>
  </ng-container>
  <!-- <mat-paginator class="d-none" #paginator [length]="length" [pageSize]="pageSize" >
  </mat-paginator>
  <mat-paginator [class.d-none]="length === 0" #paginator2 [length]="length" [pageSize]="pageSize"
    (page)="pageEvent($event)">
  </mat-paginator> -->
  <app-paginator [length]="length" [pageSize]="pageSize" (paginator)="paginatorEmit($event)" (pageEvent)="pageEvent($event)"></app-paginator>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</div>