<div class="proposal-table-container" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <ng-container *ngIf="data?.length > 0; else noValues">
    <ng-container *ngIf="!breakpoint.value.matches">
      <table mat-table [dataSource]="dataSource" class="table-responsive aura-table">
        <ng-container *ngFor="let template of template; index as i">
          <ng-container [matColumnDef]="template.matColumnDef">
            <th mat-header-cell *matHeaderCellDef>
              <div [innerHTML]="template.headerCellDef | translate"></div>
            </th>
            <td mat-cell *matCellDef="let data; index as j">
              <div [classList]="[template.cssClass]" ngClass="d-flex align-items-center">
                <span *ngIf="template.prefix" class="cursor-pointer">
                  <ng-container *ngIf="template.prefix === 'operator_address'">
                    <div class="avatar-wrapper">
                      <span
                        class="validator-avatar d-inline-flex"
                        [routerLink]="[template.isUrl, data['operator_address']]">
                        <app-loading-image
                          [appClass]="data['jailed'] ? 'jailed' : ''"
                          [identity]="data['validator_identity']"
                          [srcImg]="data['image_url']">
                        </app-loading-image>
                      </span>
                    </div>
                  </ng-container>
                </span>
                <ng-container *ngIf="template.isUrl && !template.isShort && data[template.matColumnDef]">
                  <a [routerLink]="[template.isUrl, data[template.paramField] || data[template.matColumnDef]]">
                    {{
                      (template.isShort ? shortenAddress(data[template.matColumnDef]) : data[template.matColumnDef]) ||
                        '-'
                    }}
                  </a>
                </ng-container>
                <ng-container *ngIf="template.isUrl && template.isShort">
                  <ng-container *ngIf="template.isNameTag">
                    <app-name-tag
                      [value]="data[template.matColumnDef]"
                      [linkRouter]="[template.isUrl, data[template.matColumnDef]]"
                      [tooltipPosition]="'tooltip--right'"></app-name-tag>
                  </ng-container>
                  <ng-container *ngIf="!template.isNameTag">
                    <a
                      [routerLink]="[template.isUrl, data[template.matColumnDef]]"
                      [class.disabled-link]="!data[template.matColumnDef]"
                      [copyBtn]="data[template.matColumnDef]">
                      {{ shortenAddress(data[template.matColumnDef]) || '-' }}
                    </a>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!template.isUrl || data[template.matColumnDef] === ''">
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <ng-container *ngSwitchCase="'amount'">
                      <div
                        [appTooltip]="{ priceAmount: data[template.matColumnDef] }"
                        *ngIf="data[template.matColumnDef] < 0.001">
                        <0.001
                      </div>
                      <div
                        [appTooltip]="{ priceAmount: data[template.matColumnDef] }"
                        [class.cursor-text]="data[template.matColumnDef] < 1000000"
                        *ngIf="data[template.matColumnDef] >= 0.001"
                        [appBigNumber]="data[template.matColumnDef]"
                        [decimal]="0"></div>
                      <span class="ml-1" appLinkDenom>{{ coinInfo.coinDenom }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'vote_option'">
                      {{ getVoteValue(data[template.matColumnDef]) }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'option'">
                      {{ getVoteValue(data[template.matColumnDef]) }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'rank'">
                      <span [class.label-circle]="data[template.matColumnDef] <= 3">{{
                        data[template.matColumnDef]
                      }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'created_at'">
                      <div *ngIf="data[template.matColumnDef]">
                        <div>{{ data[template.matColumnDef] | customDateTime: 'Distance' }}</div>
                        <div class="text--gray-5 body-02 d-flex align-items-center">
                          <span>{{ data[template.matColumnDef] | customDateTime: 'DateOnly' }}</span>
                          <div class="divider divider-vertical mx-2"></div>
                          <span>{{ data[template.matColumnDef] | customDateTime: 'TimeOnly' }}</span>
                        </div>
                      </div>
                      <div *ngIf="!data[template.matColumnDef]">-</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'timestamp'">
                      <div *ngIf="data[template.matColumnDef]">
                        <div>{{ data[template.matColumnDef] | customDateTime: 'Distance' }}</div>
                        <div class="text--gray-5 body-02 d-flex align-items-center">
                          <span>{{ data[template.matColumnDef] | customDateTime: 'DateOnly' }}</span>
                          <div class="divider divider-vertical mx-2"></div>
                          <span>{{ data[template.matColumnDef] | customDateTime: 'TimeOnly' }}</span>
                        </div>
                      </div>
                      <div *ngIf="!data[template.matColumnDef]">-</div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell g-no-data" colspan="9999">
            {{ 'NO DATA' | translate }}
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="breakpoint.value.matches">
      <div>
        <ng-container *ngFor="let data of this.dataSource?.data; index as i">
          <!-- VOTES -->
          <ng-container *ngIf="type === proposalMode.VOTES">
            <div class="custom-card-mob-simple body-01 mb-2">
              <div class="d-flex align-items-center justify-content-between">
                <div class="text--gray-4">Voter</div>
                <div
                  [copyBtn]="data.voter"
                  class="{{
                    !(data.voter | nameTagTooltipPipe)
                      ? (data.voter | isPrivateNameTag)
                        ? 'name-tag private-name-tag mb-0 text--primary'
                        : 'name-tag text--primary mb-0'
                      : 'text--primary'
                  }}"
                  [innerHTML]="
                    !data?.voter
                      ? '-'
                      : !(data.voter | nameTagTooltipPipe)
                        ? '<a class=text--primary href=' +
                          ('/address/' + data.voter) +
                          '>' +
                          (data.voter | nameTag | ellipsis: 16) +
                          '</a>'
                        : '<a class=text--primary href=' +
                          ('/address/' + data.voter) +
                          '>' +
                          (data.voter | nameTag | ellipsis: 8 : 8) +
                          '</a>'
                  "></div>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">TxHash</div>
                <a href="/tx/{{ data.txhash }}" class="text--primary" [copyBtn]="data.txhash">{{
                  data.txhash | ellipsis: 6 : 6
                }}</a>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">Answer</div>
                <div class="body-01 text--gray-1">{{ getVoteValue(data.vote_option) }}</div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="text--gray-4">Time</div>
                <div class="card__date text--gray-1 body-01-mob">
                  <div class="text-end">{{ data.timestamp | customDateTime: 'Distance' }}</div>
                  <div class="text--gray-5">
                    <span>{{ data.timestamp | customDateTime: 'DateOnly' }}</span>
                    <span>{{ data.timestamp | customDateTime: 'TimeOnly' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- VALIDATORS_VOTES -->
          <ng-container *ngIf="type === proposalMode.VALIDATORS_VOTES">
            <div class="custom-card-mob-simple body-01 mb-2">
              <div class="text--primary body h5 mb-0 d-flex align-items-center">
                <div class="avt">
                  <app-loading-image [identity]="data.validator_identity" [srcImg]="data.image_url">
                  </app-loading-image>
                  <span class="avt__num">{{ data.rank }}</span>
                </div>
                <a [routerLink]="['/validators', data.operator_address]" class="h5 mb-0 ml-2 text--primary">
                  {{ data.validator_name }}
                </a>
              </div>
              <span class="divider divider-horizontal divider-lighter d-block my-3"></span>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">TxHash</div>
                <a href="/tx/{{ data.txhash }}" class="text--primary" [copyBtn]="data.txhash">{{
                  data.txhash | ellipsis: 6 : 6
                }}</a>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">Answer</div>
                <div class="body-01 text--gray-1">{{ getVoteValue(data.vote_option) }}</div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="text--gray-4">Time</div>
                <div class="card__date text--gray-1 body-01-mob">
                  <div class="text-end">{{ data.timestamp | customDateTime: 'Distance' }}</div>
                  <div class="text--gray-5">
                    <span>{{ data.timestamp | customDateTime: 'DateOnly' }}</span>
                    <span>{{ data.timestamp | customDateTime: 'TimeOnly' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- DEPOSITORS -->
          <ng-container *ngIf="type === proposalMode.DEPOSITORS">
            <div class="custom-card-mob-simple body-01 mb-2">
              <div class="d-flex align-items-center justify-content-between">
                <div class="text--gray-4">Depositor</div>
                <div
                  [copyBtn]="data.depositors"
                  class="{{
                    !(data.depositors | nameTagTooltipPipe)
                      ? (data.depositors | isPrivateNameTag)
                        ? 'name-tag private-name-tag mb-0 text--primary'
                        : 'name-tag text--primary mb-0'
                      : 'text--primary'
                  }}"
                  [innerHTML]="
                    !data?.depositors
                      ? '-'
                      : !(data.depositors | nameTagTooltipPipe)
                        ? '<a class=text--primary href=' +
                          ('/address/' + data.depositors) +
                          '>' +
                          (data.depositors | nameTag | ellipsis: 16) +
                          '</a>'
                        : '<a class=text--primary href=' +
                          ('/address/' + data.depositors) +
                          '>' +
                          (data.depositors | nameTag | ellipsis: 8 : 8) +
                          '</a>'
                  "></div>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">TxHash</div>
                <a href="/tx/{{ data.hash }}" class="text--primary" [copyBtn]="data.hash">{{
                  data.hash | ellipsis: 6 : 6
                }}</a>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-3">
                <div class="text--gray-4">Amount</div>
                <div
                  class="h6 mb-0 text--gray-1"
                  [innerHTML]="
                    data.amount
                      ? '<span class=mr-1>' +
                        (data.amount < 0.001 ? '<0.001' : (data.amount | mask: 'separator.6')) +
                        '</span>' +
                        '<a class=text--primary href=' +
                        ('/token/' + coinInfo.coinMinimalDenom) +
                        '>' +
                        coinInfo.coinDenom +
                        '</a>'
                      : '-'
                  "></div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="text--gray-4">Time</div>
                <div class="card__date text--gray-1 body-01-mob">
                  <div class="text-end">{{ data.timestamp | customDateTime: 'Distance' }}</div>
                  <div class="text--gray-5">
                    <span>{{ data.timestamp | customDateTime: 'DateOnly' }}</span>
                    <span>{{ data.timestamp | customDateTime: 'TimeOnly' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ 'NO DATA' | translate }}
            </td>
          </tr>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div class="mt-6 d-flex justify-content-center justify-content-md-end">
    <app-custom-paginator [paginator]="pageData" [length]="length" (pageChange)="pageEvent($event)">
    </app-custom-paginator>
  </div>
  <ng-template #noValues>
    <app-table-no-data [textNull]="errTxt"></app-table-no-data>
  </ng-template>
</div>
