<app-pagetitle [title]="chainInfo.chainName + ' - ' + channel_id" class="flex-grow-1"></app-pagetitle>
<section class="box-channel-detail">
  <div class="d-flex justify-content-center mt-lg-13 mt-6 mb-9">
    <div class="p-0 box-chain">
      <div class="box-connect d-lg-flex justify-content-between align-items-center">
        <div class="box-connect-chain d-flex align-items-center">
          <div class="d-flex justify-content-lg-center align-items-center">
            <img [appImg]="TITLE_LOGO" alt="" class="img-chain" />
            <div class="ml-2 ml-lg-4 body text--gray-11 caption-mob fw-normal">
              <div
                class="body-01 body-02-mob fw-semibold text--white mb-1"
                [appTooltip]="chainInfo?.chainName?.length > maxDisplayChar ? chainInfo?.chainName : ''">
                {{ chainInfo?.chainName | ellipsis: maxDisplayChar }}
              </div>
              <div>{{ chainInfo?.chainId }}</div>
            </div>
          </div>
        </div>
        <div class="box-connected justify-content-center align-items-center h5 d-none d-lg-flex">
          <div class="fw-semibold">Openned</div>
        </div>
        <div class="box-connect-chain mt-6 mt-lg-0 d-flex align-items-center pl-lg-9">
          <div class="d-flex justify-content-lg-center align-items-center">
            <img [appImg]="counterInfo?.chainImage" alt="" class="img-chain" />
            <div class="ml-2 ml-lg-4 body text--gray-11 caption-mob fw-normal">
              <div
                class="body-01 body-02-mob fw-semibold text--white mb-1"
                [appTooltip]="counterInfo.chainName?.length > maxDisplayChar ? counterInfo?.chainName : ''">
                {{ counterInfo?.chainName | ellipsis: maxDisplayChar }}
              </div>
              <div>{{ counterInfo?.chainId }}</div>
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal d-none d-lg-block"></div>
        <div class="divider divider-vertical d-lg-none"></div>
      </div>
    </div>
  </div>

  <!-- Overview -->
  <div class="box-overview mb-lg-9 mb-6">
    <div class="h2 text--white mb-lg-4 mb-2">Overview</div>
    <div class="row box-title mb-4">
      <div class="col-lg-3 col-12 mb-lg-0">
        <div class="item">
          Counter Party
          <div class="body-01 body-mob text--white fw-semibold mt-1">{{ counterInfo?.chainId }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="item">
          Operating Since
          <div class="body-01 body-mob text--white fw-semibold mt-1">
            {{ !channelDetail.operatingSince ? '-' : (channelDetail.operatingSince | customDateTime: 'Distance') }}
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="item">
          Total Transaction
          <div class="body-01 body-mob text--white fw-semibold mt-1">{{ channelDetail.totalTx | number }}</div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="item">
          Client ID
          <div class="body-01 body-mob text--white fw-semibold mt-1">{{ channelDetail.clientId }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Transfer Assets -->
  <app-transfer-assets></app-transfer-assets>

  <!-- Transactions -->
  <div class="h2 text--white mb-4">Transactions</div>
  <div class="card" *ngIf="pageDataTx?.length > 0; else noValuesTx">
    <div class="card-body" *ngIf="{ value: breakpoint$ | async } as breakpoint">
      <div class="table-responsive" *ngIf="!breakpoint.value.matches">
        <table mat-table [dataSource]="dataSource" class="aura-table tx">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th
                mat-header-cell
                *matHeaderCellDef
                [class.col-per-13]="template.headerCellDef === 'Height' || template.headerCellDef === 'Result'">
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <div *ngSwitchCase="'timestamp'">
                      {{ data[template.matColumnDef] | customDateTime: 'Distance' }}
                    </div>
                    <a
                      *ngSwitchCase="'tx_hash'"
                      [copyBtn]="data[template.matColumnDef]"
                      class="text--primary cursor-pointer hash-link"
                      [routerLink]="['/tx', data['tx_hash']]">
                      {{ data[template.matColumnDef] | ellipsis: 8 : 8 }}
                    </a>
                    <a
                      *ngSwitchCase="'height'"
                      class="text--primary cursor-pointer block-link"
                      [routerLink]="['/block', data['height']]">
                      {{ data[template.matColumnDef] }}
                    </a>
                    <div *ngSwitchCase="'type'" class="aura-status">
                      <div class="aura-status p-0">
                        <div class="status cursor-pointer" [appTooltip]="data.lstTypeTemp | combineTxsMsg">
                          {{ data[template.matColumnDef] | ellipsis: 25 }}
                          <div *ngIf="data.lstTypeTemp?.length > 1" class="ml-1 text--gray-4">
                            +{{ data.lstTypeTemp?.length - 1 }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'status'">
                      <div [ngSwitch]="data[template.matColumnDef]" class="text-uppercase">
                        <div *ngSwitchCase="'Success'" class="text--green-3">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Fail'" class="text--red-3">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Pending'" class="text--yellow-3">
                          {{ data[template.matColumnDef] }}
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'amount'" class="d-flex">
                      <div>
                        <div *ngIf="data.amountTemp === 0">0</div>
                        <div
                          [appTooltip]="{ priceAmount: data.amountTemp, decimal: data.dataDenom?.decimals }"
                          *ngIf="
                            data.amountTemp !== 0 && (data.amountTemp | balance: data.dataDenom?.decimals | lt: 0.001)
                          ">
                          {{ '<0.001' }}
                        </div>
                        <div
                          *ngIf="data.amountTemp | balance: data.dataDenom?.decimals | gte: 0.001"
                          [appTooltip]="{ priceAmount: data.amountTemp, decimal: data.dataDenom?.decimals }"
                          [class.cursor-text]="
                            data.amountTemp === 0 ||
                            ((data.amountTemp | balance: data.dataDenom?.decimals | gte: 0.001) &&
                              (data.amountTemp | balance: data.dataDenom?.decimals | lt: 1000000))
                          "
                          [appBigNumber]="data.amountTemp"
                          [decimal]="data.dataDenom?.decimals"></div>
                      </div>
                      <span class="ml-1">
                        <div
                          [appTooltip]="data.dataDenom?.symbol === data.denom ? data.denom : ''"
                          [appLinkDenom]="data.denom">
                          {{ data.dataDenom?.symbol | ellipsis: 25 }}
                        </div>
                      </span>
                    </div>
                    <div *ngSwitchCase="'fee'">
                      {{ +data[template.matColumnDef] | mask: 'separator.6' }}
                      <span appLinkDenom>{{ coinInfo.coinDenom }}</span>
                    </div>
                    <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" [class]="displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="breakpoint.value.matches">
        <app-card-mob-channel
          *ngFor="let data of dataSource?.data; first as isFirst"
          [link]="'/tx/' + data.tx_hash"
          [dataCard]="data"
          [title]="{
            size: 'md',
            titleClass: 'body-02-mob',
            label: data.tx_hash | ellipsis: 8 : 8,
            subLabelContent: data.type,
            subLabelClass: 'btn-mob',
            status: data.code
          }"
          [content]="[
            {
              label: 'Amount',
              class: 'h6 mb-0 text--gray-1',
              info: ''
            },
            {
              label: 'Height',
              class: 'text--gray-1 body-02-mob',
              info: '<a class=text--primary href=' + ('/block/' + data.height) + '>' + data.height + '</a>'
            },
            {
              label: 'Fee',
              class: 'text--gray-1 body-02-mob',
              info:
                (+data.fee | mask: 'separator.6') +
                '<span> ' +
                ' <a class=text--primary href=' +
                ('/token/' + coinInfo.coinMinimalDenom) +
                '>' +
                coinInfo.coinDenom +
                '</a>'
            }
          ]"></app-card-mob-channel>
      </div>
      <app-paginator
        [length]="pageDataTx.length"
        [pageSize]="pageDataTx.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="pageEvent($event)">
      </app-paginator>
    </div>
  </div>

  <ng-template #noValuesTx>
    <app-loading-sprint *ngIf="loadingTx"></app-loading-sprint>
    <app-table-no-data *ngIf="!loadingTx" class="mt-6" [textNull]="errTxt"></app-table-no-data>
  </ng-template>
</section>
