.aura-form.single-input-field {
  min-width: 420px;
  .input-group {
    height: 36px;
    padding: 0 16px;
    background-color: #1C1C1F;
    input {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
    button.btn-search img, button.btn-reset img {
      width: 18px;
      height: 18px;
    }
  }
}
.aura__change {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  &--desc, &--asc {
    &::after {
      left: 0;
      transform: unset;
      width: 20px;
      height: 20px;
    }
  }
}
