.box-token-info {
  table.aura-basic-table {
    min-height: 280px;

    tr,
    td {
      color: var(--aura-contract);
      height: 56px;
      padding: 0 var(--spacer-4);
    }
  }
}
.first-col {
  min-width: 120px;
  @media (min-width: 992px) {
    min-width: 150px;
  }
}

.break-word {
  word-break: break-word;
}
.social-group {
  a {
    color: var(--aura-gray-light) !important;
    &:hover {
      color: var(--aura-gray-1) !important;
    }
  }
}
.token-summary-more {
  left: -100% !important;
}
.g-ellipsis {
  width: 160px;
}
