<div class="card box-token-info">
  <table class="aura-basic-table w-100 body-02">
    <tr>
      <td colspan="2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="h6 h3-mob mb-0">
            <span class="text--white">{{ 'PAGES.TOKEN.profileSummary' | translate }}</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">{{ 'PAGES.TOKEN.contractLabel' | translate }}</div>
          <div class="break-word">
            <app-name-tag [value]="tokenDetail?.contract_address" [url]="'contracts'" [fullText]="true"></app-name-tag>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="!tokenDetail.isNFTContract">
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">{{ 'PAGES.TOKEN.decimalsLabel' | translate }}</div>
          <div class="text--white">{{ tokenDetail?.decimals }}</div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5">{{ 'PAGES.TOKEN.officialSiteLabel' | translate }}</div>
          <div class="text--white">-</div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="d-flex align-items-center py-2">
          <div class="first-col text--gray-5 mb-1">{{ 'PAGES.TOKEN.officialSiteLabel' | translate }}</div>
          <div class="text--white">-</div>
        </div>
      </td>
    </tr>
  </table>
</div>
