.box-token-info {
  table.aura-basic-table {
    min-height: 280px;

    tr,
    td {
      color: var(--aura-contract);
      height: 56px;
      padding: 0 var(--spacer-4);
    }
  }
}
.first-col {
  min-width: 150px;
}

.break-word {
  word-break: break-word;
}
.social-group {
  a {
    color: var(--aura-light-gray) !important;
    &:hover {
      color: var(--aura-white) !important;
    }
  }
}
