<div class="card box-token-info">
  <div class="">
    <div class="">
      <table class="aura-basic-table w-100">
        <tr>
          <td colspan="2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="body">
                <span class="fw-semibold text--white">Profile Summary </span>
                <a class="text--green" href="javascript:void(0)">[Edit]</a>
              </div>
              <div class="dropdown aura-dropdown">
                <button
                  class="button button-chart button-outline button-outline__in-card -small"
                  type="button"
                  id="token-summary-more"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <span class="text-white small-text mr-4">More</span>
                  <img [src]="'assets/images/icons/arrow-move-down.svg' | imageS3" alt="" width="24px" />
                </button>
                <ul
                  class="dropdown-menu aura-dropdown-menu token-summary-more"
                  *ngIf="!tokenDetail.isNFTContract"
                  aria-labelledby="token-summary-more">
                  <li class="dropdown-item cursor-pointer">Add token to Web3</li>
                  <li class="dropdown-item cursor-pointer">Update Name Tag</li>
                  <!--                  <li class="dropdown-item cursor-pointer">Submit Burn Details</li>-->
                  <!--                  <li class="dropdown-item cursor-pointer">Report/ Flag Address</li>-->
                  <!--                  <li class="dropdown-item cursor-pointer">Add to Ignore List</li>-->
                </ul>
                <ul
                  class="dropdown-menu aura-dropdown-menu token-summary-more"
                  *ngIf="tokenDetail.isNFTContract"
                  aria-labelledby="token-summary-more">
                  <li class="dropdown-item cursor-pointer">Add token to Web3</li>
                  <li class="dropdown-item cursor-pointer">Update Token Info</li>
                  <li class="dropdown-item cursor-pointer">Update Name Tag</li>
                  <!--                  <li class="dropdown-item cursor-pointer">Submit Burn Details</li>-->
                  <!--                  <li class="dropdown-item cursor-pointer">Report/ Flag Address</li>-->
                  <!--                  <li class="dropdown-item cursor-pointer">Add to Ignore List</li>-->
                </ul>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="d-flex align-items-center py-2">
              <div class="first-col">Contract:</div>
              <div class="break-word">
                <a class="text--green" [routerLink]="['/contracts', tokenDetail.contract_address]">{{
                  tokenDetail.contract_address
                }}</a>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="!tokenDetail.isNFTContract">
          <td colspan="2">
            <div class="d-flex align-items-center py-2">
              <div class="first-col">Decimals:</div>
              <div>{{ tokenDetail.decimals }}</div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <div class="d-flex align-items-center py-2">
              <div class="first-col">Official Site:</div>
              <div><a class="text--green" href="https://aura.network">https://aura.network</a></div>
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2" class="border_none">
            <div class="d-flex align-items-center py-2">
              <div class="first-col">Social Profiles:</div>
              <div class="d-flex social-group">
                <a
                  href="https://github.com/aura-nw"
                  target="_blank"
                  class="d-flex align-items-center justify-content-center body">
                  <i class="mr-3 icon icon-github"></i>
                </a>
                <a
                  href="https://twitter.com/AuraNetworkHQ"
                  target="_blank"
                  class="d-flex align-items-center justify-content-center body">
                  <i class="mx-3 icon icon-twitter"></i>
                </a>
                <a
                  href="https://www.facebook.com/AuraNetworkHQ/"
                  target="_blank"
                  class="d-flex align-items-center justify-content-center body">
                  <i class="mx-3 icon icon-facebook"></i>
                </a>
                <a
                  href="https://t.me/auranw"
                  target="_blank"
                  class="d-flex align-items-center justify-content-center body">
                  <i class="mx-3 icon icon-file-document"></i>
                </a>
                <a
                  href="https://www.linkedin.com/company/auranetwork/about/"
                  target="_blank"
                  class="d-flex align-items-center justify-content-center body">
                  <i class="ml-3 icon icon-email"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>

        <tr *ngIf="tokenDetail.isNFTContract">
          <td colspan="2"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
