@import '../../../../assets/scss/color.scss';
.wap-table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.price-token {
  color: $validator-btn-text;
  font-size: 12px;
}
.aura-table {
  th.mat-header-cell {
    border-top: none;
  }
}
