<ngx-simplebar style="max-height: 400px">
  <ng-container *ngIf="pageData?.length > 0; else noValues">
    <table mat-table [dataSource]="dataSource" class="table-reponsive">
      <ng-container *ngFor="let template of templates; index as i">
        <ng-container [matColumnDef]="template.matColumnDef">

          <th mat-header-cell *matHeaderCellDef>
            <div [innerHTML]="template.headerCellDef | translate"></div>
          </th>

          <td mat-cell *matCellDef="let data">
            <div>
              <ng-container [ngSwitch]="template.matColumnDef" class="fw-normal">
                <div *ngSwitchCase="'validator_name'" class="g-blue cursor-pointer"  [routerLink]="['/validators', data['validator_address']]">
                  {{ data[template.matColumnDef] }}
                </div>
                <div *ngSwitchCase="'amount'" class="fw-normal">
                  {{ data[template.matColumnDef] | number }} <span class="g-purple">{{global.stableToken}}</span>
                </div>
                <div *ngSwitchCase="'reward'" class="fw-normal">
                  {{ data[template.matColumnDef] | number }} <span class="g-purple">{{global.stableToken}}</span>
                </div>
                <div *ngSwitchCase="'completion_time'">
                  {{ data['completion_time_format'] }} <br>({{data[template.matColumnDef] | calDate}} remaining)
                </div>
                <div *ngSwitchCase="'vesting_schedule'">
                  {{ data['vesting_schedule_format'] }} <br>({{data['date_format'] | calDate}} remaining)
                </div>
                <div *ngSwitchCase="'total_value'" class="fw-normal">
                  $ {{data[template.matColumnDef] | number}}<br>
                  <span class="price-token">$ {{ data['price'] }}</span>
                </div>
                <div *ngSwitchDefault class="fw-normal">{{ data[template.matColumnDef] }}
                </div>
              </ng-container>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell g-no-data" colspan="9999">
          {{ textNull | translate}}
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-template #noValues>
    <app-table-no-data></app-table-no-data>
  </ng-template>
</ngx-simplebar>

<mat-paginator (page)="handlePageEvent($event)" [length]="pageData?.length" [pageSize]="pageData?.pageSize" [pageIndex]="pageData?.pageIndex" *ngIf="pageData?.length">