<div>
  <div class="card-header bg-transparent border-bottom fw-bold">
    Message
  </div>
  <div class="card-body">
    <ng-container *ngIf="transactionDetail?.type === eTransType.Send">
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text g-purple header-title"><img src="assets/images/icons/trans-send.svg"
              class="m-1 mb-0 mt-0 msg-image">
            {{transactionDetailType}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">From Address</p>
        </div>
        <div class="col-6 g-blue cursor-pointer"
          [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]">
          {{transactionDetail?.messages[0]?.from_address}}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">To Address</p>
        </div>
        <div class="col-6 g-blue cursor-pointer"
          [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]">
          {{transactionDetail?.messages[0]?.to_address}}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Amount</p>
        </div>
        <div class="col-6">
          <ng-container *ngIf="amount > 0">
            {{ amount | number }} <span class="g-purple">{{global.stableToken}}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0">
            -
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.type === eTransType.ExecuteContract">
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text g-purple header-title"><img src="assets/images/icons/trans-send.svg"
              class="m-1 mb-0 mt-0 msg-image">
            {{transactionDetailType}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Contract</p>
        </div>
        <div class="col-6">{{transactionDetail?.messages[0]?.contract}}</div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Sender</p>
        </div>
        <div class="col-6 g-blue cursor-pointer" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
          {{transactionDetail?.messages[0]?.sender}}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.type === eTransType.InstantiateContract">
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text g-purple header-title"><img src="assets/images/icons/trans-send.svg"
              class="m-1 mb-0 mt-0 msg-image">
            {{transactionDetailType}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Label</p>
        </div>
        <div class="col-6">{{transactionDetail?.messages[0]?.label}}</div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Sender</p>
        </div>
        <div class="col-6" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
          {{transactionDetail?.messages[0]?.sender}}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.type === eTransType.GetReward 
      || transactionDetail?.type === eTransType.Delegate 
      || transactionDetail?.type  === this.eTransType.Undelegate">
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text g-purple header-title"><img src="assets/images/icons/trans-send.svg"
              class="m-1 mb-0 mt-0 msg-image">
            {{transactionDetailType}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Delegator Address</p>
        </div>
        <div class="col-6 g-blue cursor-pointer"
          [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]">
          {{transactionDetail?.messages[0]?.delegator_address}}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Validator Address</p>
        </div>
        <div class="col-6 g-blue cursor-pointer"
          [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
          {{transactionDetail?.messages[0]?.validator_address}}
        </div>
      </div>
      <div class="row mb-3" *ngIf="transactionDetail?.type !== eTransType.GetReward ">
        <div class="col-3">
          <p class="card-text fw-bold">Amount</p>
        </div>
        <div class="col-6">
          <ng-container *ngIf="amount > 0">
            {{ amount | number }} <span class="g-purple">{{global.stableToken}}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0">
            -
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.type === eTransType.Vote">
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text g-purple header-title"><img src="assets/images/icons/trans-send.svg"
              class="m-1 mb-0 mt-0 msg-image">
            {{transactionDetailType}}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Proposal Id</p>
        </div>
        <div class="col-6 g-blue cursor-pointer" [routerLink]="['/proposal', transactionDetail?.messages[0]?.proposal_id]">{{transactionDetail?.messages[0]?.proposal_id}}</div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Voter</p>
        </div>
        <div class="col-6 g-blue cursor-pointer" [routerLink]="['/account', transactionDetail?.messages[0]?.voter]">
          {{transactionDetail?.messages[0]?.voter}}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p class="card-text fw-bold">Option</p>
        </div>
        <div class="col-6">
          {{transactionDetail?.messages[0]?.option === 'VOTE_OPTION_YES' ? 'Yes' : 'No'}}
        </div>
      </div>
    </ng-container>
  </div>
</div>