<div class="card-header title-small">Message</div>
<div class="card-body body">
  <ng-container *ngIf="transactionDetail?.type === eTransType.Send">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">From Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]"
      >
        {{ transactionDetail?.messages[0]?.from_address }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">To Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]"
      >
        {{ transactionDetail?.messages[0]?.to_address }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Amount</div>
      </div>
      <div class="col-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.ExecuteContract">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Contract</div>
      </div>
      <div class="col-6">{{ transactionDetail?.messages[0]?.contract }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Sender</div>
      </div>
      <div class="col-6 text--green cursor-pointer" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
        {{ transactionDetail?.messages[0]?.sender }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.InstantiateContract">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Label</div>
      </div>
      <div class="col-6">{{ transactionDetail?.messages[0]?.label }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Sender</div>
      </div>
      <div class="col-6" [routerLink]="['/account', transactionDetail?.messages[0]?.sender]">
        {{ transactionDetail?.messages[0]?.sender }}
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="
      transactionDetail?.type === eTransType.GetReward ||
      transactionDetail?.type === eTransType.Delegate ||
      transactionDetail?.type === this.eTransType.Undelegate
    "
  >
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <ng-container *ngIf="transactionDetail?.type === eTransType.GetReward && transactionDetail?.messages.length > 1">
      <ng-container *ngFor="let item of transactionDetail?.messages, let i = index">
        <div class="row mb-3">
          <div class="col-3">
            <div class="card-text fw-bold">Delegator Address</div>
          </div>
          <div class="col-6 text--green cursor-pointer" [routerLink]="['/account', item.delegator_address]">
            {{ item.delegator_address }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <div class="card-text fw-bold">Validator Address</div>
          </div>
          <div class="col-6 text--green cursor-pointer" [routerLink]="['/validators', item.validator_address]">
            {{ item.validator_address }}<br />
            <ng-container *ngIf="item.validatorName">({{ item.validatorName }})</ng-container>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-3">
            <div class="card-text fw-bold">Amount</div>
          </div>
          <div class="col-6">
            <ng-container *ngIf="listAmountClaim[i] > 0">
              {{ listAmountClaim[i] | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
            </ng-container>
            <ng-container *ngIf="listAmountClaim[i] == 0"> - </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="transactionDetail?.messages.length === 1">
      <div class="row mb-3">
        <div class="col-3">
          <div class="card-text fw-bold">Delegator Address</div>
        </div>
        <div
          class="col-6 text--green cursor-pointer"
          [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]"
        >
          {{ transactionDetail?.messages[0]?.delegator_address }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="card-text fw-bold">Validator Address</div>
        </div>
        <div
          class="col-6 text--green cursor-pointer"
          [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_address]"
        >
          {{ transactionDetail?.messages[0]?.validator_address }}<br />
          <ng-container *ngIf="validatorName">({{ validatorName }})</ng-container>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <div class="card-text fw-bold">Amount</div>
        </div>
        <div class="col-6">
          <ng-container *ngIf="amount > 0">
            {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
          </ng-container>
          <ng-container *ngIf="amount == 0"> - </ng-container>
        </div>
      </div>
      <div class="row mb-3" *ngIf="amountClaim > 0">
        <div class="col-3">
          <div class="card-text fw-bold">Auto Claim Reward</div>
        </div>
        <div class="col-6">
          {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vote">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Proposal Id</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/proposal', transactionDetail?.messages[0]?.proposal_id]"
      >
        {{ transactionDetail?.messages[0]?.proposal_id }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Voter</div>
      </div>
      <div class="col-6 text--green cursor-pointer" [routerLink]="['/account', transactionDetail?.messages[0]?.voter]">
        {{ transactionDetail?.messages[0]?.voter }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Option</div>
      </div>
      <div class="col-6">
        {{ parsingOptionVote(transactionDetail?.messages[0]?.option) }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Vesting">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">From Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.from_address]"
      >
        {{ transactionDetail?.messages[0]?.from_address }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">To Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.to_address]"
      >
        {{ transactionDetail?.messages[0]?.to_address }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Vesting Schedule</div>
      </div>
      <div class="col-6">
        {{ dateVesting }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.SubmitProposalTx">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Initial Deposit</div>
      </div>
      <div class="col-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0">
          0.000000 <span class="text--green">{{ global.stableToken }}</span></ng-container
        >
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Proposer</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.proposer]"
      >
        {{ transactionDetail?.messages[0]?.proposer }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Proposal Id</div>
      </div>
      <div class="col-6">
        {{ transactionDetail?.tx?.logs[0].events[4].attributes[0].value }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Proposal Type</div>
      </div>
      <div class="col-6">
        {{ transactionDetail?.tx?.logs[0]?.events[4].attributes[1].value }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Title</div>
      </div>
      <div class="col-6">
        {{ transactionDetail?.tx?.tx?.body?.messages[0]?.content.title }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Redelegate">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Delegate Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.delegator_address]"
      >
        {{ transactionDetail?.messages[0]?.delegator_address }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Source Validator Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_src_address]"
      >
        {{ transactionDetail?.messages[0]?.validator_src_address }}
        <ng-container *ngIf="validatorName"><br />({{ validatorName }})</ng-container>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Destination Validator Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/validators', transactionDetail?.messages[0]?.validator_dst_address]"
      >
        {{ transactionDetail?.messages[0]?.validator_dst_address }}
        <ng-container *ngIf="validatorNameDes"><br />({{ validatorNameDes }})</ng-container>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Amount</div>
      </div>
      <div class="col-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
    <div class="row mb-3" *ngIf="amountClaim > 0">
      <div class="col-3">
        <div class="card-text fw-bold">Auto Claim Reward</div>
      </div>
      <div class="col-6">
        {{ amountClaim | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.Deposit">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Proposal Id</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/proposal', transactionDetail?.messages[0]?.proposal_id]"
      >
        {{ transactionDetail?.messages[0]?.proposal_id }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Depositor</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.depositor]"
      >
        {{ transactionDetail?.messages[0]?.depositor }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Amount</div>
      </div>
      <div class="col-6">
        <ng-container *ngIf="amount > 0">
          {{ amount | number: global.formatNumberToken }} <span class="text--green">{{ global.stableToken }}</span>
        </ng-container>
        <ng-container *ngIf="amount == 0"> - </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Validator</div>
      </div>
      <div class="col-6">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Validator Address</div>
      </div>
      <div
        class="col-6 text--green cursor-pointer"
        [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]"
      >
        {{ transactionDetail?.messages[0]?.validator_address }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="transactionDetail?.type === eTransType.EditValidator">
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text header-title">
          <img src="assets/images/icons/trans-send.svg" class="m-1 mb-0 mt-0 msg-image" /> {{ transactionDetailType }}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Validator</div>
      </div>
      <div class="col-6">{{ transactionDetail?.messages[0]?.description?.moniker }}</div>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <div class="card-text fw-bold">Validator Address</div>
      </div>
      <div class="col-6 text--green cursor-pointer" [routerLink]="['/account', transactionDetail?.messages[0]?.validator_address]">
        {{ transactionDetail?.messages[0]?.validator_address }}
      </div>
    </div>
  </ng-container>
</div>
