<section class="card main-tab px-4 py-4 py-lg-6 px-lg-6">
  <div class="d-flex justify-content-between tab-wrapper tab-contract">
    <ul
      ngbNav
      #customNav="ngbNav"
      [activeId]="activeId"
      class="aura-nav-tabs nav-tabs nav-tabs-custom nav-justified col-12">
      <ng-container *ngFor="let tab of TABS; index as index">
        <li [ngbNavItem]="index">
          <a
            ngbNavLink
            (click)="changeTab(tab.key)"
            [class.verify-contract]="
              tab.key === contractTab.Contract && contractTypeData !== contractVerifyType.Unverifed
            ">
            <span class="tab-title h5 mb-0 text-uppercase">{{ tab.value }}</span>
            <img class="ml-2"
              *ngIf="tab.key === contractTab.Contract && contractTypeData !== contractVerifyType.Unverifed"
              [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
              alt="contract_verification"
              width="16px"
              height="16px" />
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="mt-5">
    <app-contract-table
      [length]="limit"
      *ngIf="countCurrent === contractTab.Transactions && contractTransaction['data']"
      [dataList]="contractTransaction"
      [templates]="templates"
      [nextKey]="nextKey"
      [contractInfo]="contractInfo"
      (onViewSelected)="filterTransaction($event)"></app-contract-table>
    <app-contract
      *ngIf="countCurrent === contractTab.Contract"
      [contractTypeData]="contractTypeData"
      [contractsAddress]="contractsAddress"></app-contract>
  </div>
</section>
