<div class="box-contract text--white">
  <ng-container *ngIf="contractTypeData === contractVerifyType.Unverifed">
    <div class="d-flex align-items-center">
      <img
        src="../../../../../../../assets/icons/icons-svg/color/info-circle.svg"
        alt=""
        width="16"
        height="16"
        class="mr-2" />
      Are you the contract creator?
      <a class="text--green fw-semibold ml-1 mr-1" [routerLink]="['/contracts/verify']">Verify and Publish</a>
      your contract source code today!
    </div>
    <div class="mt-3 small-text content-info">
      606060405234156200001057600080fd5b604051620016d8380380620016d883398101604052808051906020019091908051820191906020018051906020019091908051820191905050568360056000=
      373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002081905550836003819055508260009080519060200196
      620000ad929190620001 0190620000€6929190620001256565081600260006
      101000a81548160f40219169083604416021790555033600460006101000281548173547
      157510££10183117855520001=2565h82800160010185558215620001=2570182015h82811115620001-157825182554
    </div>
  </ng-container>
  <ng-container *ngIf="contractTypeData !== contractVerifyType.Unverifed">
    <div class="d-flex mb-3">
      <button
        class="btn-contract"
        [ngClass]="{'button-outline button-outline__in-card': countCurrent === contractType.Code}"
        (click)="changeTab(contractType.Code)">
        <span [class.text-gradient]="countCurrent === contractType.Code">Code</span>
      </button>
      <button
        class="btn-contract"
        [ngClass]="{'button-outline button-outline__in-card': countCurrent === contractType.ReadContract}"
        (click)="changeTab(contractType.ReadContract)">
        <span [class.text-gradient]="countCurrent === contractType.ReadContract">Read Contract</span>
      </button>
      <button
        class="btn-contract"
        [ngClass]="{'button-outline button-outline__in-card': countCurrent === contractType.WriteContract}"
        (click)="changeTab(contractType.WriteContract)">
        <span [class.text-gradient]="countCurrent === contractType.WriteContract">Write Contract</span>
      </button>
    </div>
  </ng-container>
</div>
<div class="mt-3">
  <app-code-contract *ngIf="countCurrent === contractType.Code" [contractTypeData]="contractTypeData"></app-code-contract>
  <app-read-contract *ngIf="countCurrent === contractType.ReadContract"></app-read-contract>
  <app-write-contract *ngIf="countCurrent === contractType.WriteContract"></app-write-contract>
</div>
