<div class="box-contract text--white">
  <ng-container *ngIf="contractTypeData === contractVerifyType.Unverifed && contractDetail">
    <div class="d-flex align-items-center fw-normal">
      <img
        src="../../../../../../../assets/icons/icons-svg/color/info-circle.svg"
        alt=""
        width="16"
        height="16"
        class="mr-2" />
      Are you the contract creator?
      <span class="text--green fw-semibold ml-1 mr-1 cursor-pointer" (click)="navigateContractDetail()">
        Verify and Publish
      </span>
      your contract source code today!
    </div>
    <div class="mt-3 small-text content-info">{{ contractDetail.tx_hash }}</div>
  </ng-container>
  <ng-container *ngIf="contractTypeData !== contractVerifyType.Unverifed">
    <div class="d-flex mb-3">
      <button
        class="btn-contract"
        [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.Code }"
        (click)="changeTab(contractType.Code)">
        <span [class.text-gradient]="countCurrent === contractType.Code">Code</span>
      </button>
      <button
        class="btn-contract"
        [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.ReadContract }"
        (click)="changeTab(contractType.ReadContract)">
        <span [class.text-gradient]="countCurrent === contractType.ReadContract">Read Contract</span>
      </button>
      <button
        class="btn-contract"
        [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.WriteContract }"
        (click)="changeTab(contractType.WriteContract)">
        <span [class.text-gradient]="countCurrent === contractType.WriteContract">Write Contract</span>
      </button>
    </div>
  </ng-container>
</div>
<div class="mt-3">
  <ng-container *ngIf="contractDetail">
    <app-code-contract
      *ngIf="countCurrent === contractType.Code"
      [contractDetailData]="contractDetail"></app-code-contract>
    <app-read-contract *ngIf="countCurrent === contractType.ReadContract"></app-read-contract>
    <app-write-contract *ngIf="countCurrent === contractType.WriteContract"></app-write-contract>
  </ng-container>
</div>
