<div class="contract-register" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="d-md-flex justify-content-between box-title-register">
    <h1 class="text--white mb-0">Type Smart Contract</h1>
    <button class="button button-pill button--sm button--md-mob button-outline button-outline--gradient btn-register button-fixed mt-4 mt-md-0" (click)="viewPopupDetail(modalManage, '')">
      <img [src]="'assets/icons/icons-svg/white/plus.svg' | imageS3" alt="" width="16px" height="16px" />
      <span class="ml-2">Register Contract</span>
    </button>
  </div>
  <div class="divider divider-horizontal my-4 d-none d-lg-block"></div>
  <div class="d-lg-flex justify-content-between mt-4 mt-lg-0">
    <div>
      <div class="text--gray-1 body-01">
        Before a user wants to register a type contract for a Code ID, the user has to claim ownership of the Code ID
        successfully
      </div>
      <div class="body-03-mob body-02 mt-1 search__result">{{ pageData?.length }} contract{{ pageData?.length > 1 ? 's' : ''}} registered</div>
    </div>
    <form class="aura-form single-input-field search-form mt-4 mt-lg-0 d-none d-lg-block">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search for Code ID"
          [(ngModel)]="textSearch"
          [maxLength]="maxLengthSearch"
          (keyup)="searchCode()"
          name="search"
          autocomplete="off" />
        <button type="submit" class="btn-search cursor-pointer {{ textSearch ? 'd-none' : '' }}" (click)="searchCode()">
          <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
        </button>
        <button
          type="reset"
          class="btn-reset cursor-pointer {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
          (click)="clearSearch()">
          <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
        </button>
      </div>
      <ng-container *ngIf="textSearch?.length > 0">
        <div class="box-search-data text-white" [style.display]="isHideSearch ? 'none' : 'block'">
          <ng-container *ngIf="filterSearchData?.length === 0">
            <span> There are no matching contracts </span>
          </ng-container>
          <ng-container *ngIf="filterSearchData && filterSearchData.length > 0">
            <div class="txt-title-search">Smart Contract</div>
            <ng-container *ngFor="let item of filterSearchData">
              <div class="d-flex p-3 cursor-pointer" (click)="replacePageList(item)">
                <div class="ml-1">
                  <div class="d-flex align-items-center">
                    <span class="text-clamp">
                      {{ item.code_id }} - {{ item.type }} Contract -
                      <span
                        [ngStyle]="{
                          color: item.result === 'TBD' ? '#5E84E6' : item.result === 'Incorrect' ? '#E65E5E' : '#5EE69D'
                        }">
                        {{ item.result }}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </form>
  </div>
</div>

<section>
  <div class="card mt-4 mt-lg-6">
    <form class="aura-form single-input-field search-form mt-4 px-4 d-lg-none">
      <div class="input-group">
        <input
                type="text"
                class="form-control"
                placeholder="Search for Code ID"
                [(ngModel)]="textSearch"
                [maxLength]="maxLengthSearch"
                (keyup)="searchCode()"
                name="search"
                autocomplete="off" />
        <button type="submit" class="btn-search cursor-pointer {{ textSearch ? 'd-none' : '' }}" (click)="searchCode()">
          <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
        </button>
        <button
                type="reset"
                class="btn-reset cursor-pointer {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
                (click)="clearSearch()">
          <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
        </button>
      </div>
      <ng-container *ngIf="textSearch?.length > 0">
        <div class="box-search-data text-white" [style.display]="isHideSearch ? 'none' : 'block'">
          <ng-container *ngIf="filterSearchData?.length === 0">
            <span> There are no matching contracts </span>
          </ng-container>
          <ng-container *ngIf="filterSearchData && filterSearchData.length > 0">
            <div class="txt-title-search">Smart Contract</div>
            <ng-container *ngFor="let item of filterSearchData">
              <div class="d-flex p-3 cursor-pointer" (click)="replacePageList(item)">
                <div class="ml-1">
                  <div class="d-flex align-items-center">
                    <span class="text-clamp">
                      {{ item.code_id }} - {{ item.type }} Contract -
                      <span
                              [ngStyle]="{
                          color: item.result === 'TBD' ? '#5E84E6' : item.result === 'Incorrect' ? '#E65E5E' : '#5EE69D'
                        }">
                        {{ item.result }}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </form>
    <div class="card-body">
      <div *ngIf="loading" class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
      <div class="table-responsive aura-table-contain d-none d-lg-block" *ngIf="!loading">
        <table mat-table matSort [dataSource]="dataSource" class="aura-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate" [style.width]="'180px'"></div>
              </th>
              <ng-container *ngIf="pageData?.length > 0">
                <td mat-cell *matCellDef="let data">
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <ng-container *ngSwitchCase="'code_id'"><div class="text--primary">{{ data[template.matColumnDef] }}</div></ng-container>
                    <ng-container *ngSwitchCase="'type'"> {{ data[template.matColumnDef] }} Contract </ng-container>
                    <ng-container *ngSwitchCase="'updated_at'">
                      <div class="d-flex align-items-center">
                        <span>{{ data[template.matColumnDef] | customDate: 'yyyy-MM-dd' }}</span>
                        <div class="divider divider-vertical divider-lighter mx-2"></div>
                        <span>{{ data[template.matColumnDef] | customDate: 'HH:mm:ss' }}</span>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'result'">
                      <div
                        [ngStyle]="{
                          color:
                            data['result'] === 'TBD'
                              ? '#5E84E6'
                              : data['result'] === 'Incorrect'
                              ? '#E65E5E'
                              : '#5EE69D'
                        }">
                        {{ data[template.matColumnDef] }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'action'">
                      <div class="d-flex align-items-center">
                        <button
                          type="button"
                          class="button button--sm button-pill button-outline button-outline__in-card ml-auto"
                          [disabled]="data['result'] === 'Correct'"
                          (click)="viewPopupDetail(modalManage, data)">
                          <img [src]="'assets/icons/icons-svg/white/edit_simple.svg' | imageS3" alt="" width="16px" height="16px" />
                          <span class="ml-1">Edit</span>
                        </button>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ data[template.matColumnDef] }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              <div class="d-flex justify-content-center align-items-center">
                <img [src]="'assets/icons/icons-svg/white/info.svg' | imageS3" alt="" width="16px" height="16px" class="mr-2" />
                You have yet to register any type contract
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="d-lg-none" *ngIf="dataBlock && dataBlock?.length > 0; else noValues">
        <div class="card-info body-01" *ngFor="let data of dataBlock; index as i">
          <div class="d-flex justify-content-between align-items-center">
            <div class="fw-semibold">
              <span>Code ID:</span>
              <span class="text--primary ml-1">{{ data.code_id }}</span>
            </div>
            <button
                    type="button"
                    class="button button-outline button--sm button-outline--gradient button-pill button-outline__in-card ml-auto"
                    [disabled]="data['result'] === 'Correct'"
                    (click)="viewPopupDetail(modalManage, data)">
              <img [src]="'assets/icons/icons-svg/white/edit_simple.svg' | imageS3" alt="" width="16px" height="16px" />
              <span class="ml-1">Edit</span>
            </button>
          </div>
          <div class="divider divider-horizontal my-3"></div>
          <div class="d-flex justify-content-between">
            <span class="text--gray-4">Type Contract</span>
            <span class="fw-semibold">{{ data.type }} Contract</span>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <span class="text--gray-4">Result Registration</span>
            <span [ngStyle]="{color: data['result'] === 'TBD' ? '#9DA8FF' : data['result'] === 'Incorrect' ? '#FA8684' : '#5EE69D'}">{{ data.result }}</span>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <span class="text--gray-4">Time Registered</span>
            <div class="d-flex align-items-center">
              <span>{{ data.updated_at | customDate: 'yyyy-MM-dd' }}</span>
              <div class="divider divider-vertical divider-lighter mx-2"></div>
              <span>{{ data.updated_at | customDate: 'HH:mm:ss' }}</span>
            </div>
          </div>
        </div>
      </div>
      <app-paginator
        *ngIf="pageData"
        [length]="pageData.length"
        [pageSize]="pageData.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="pageEvent($event)">
      </app-paginator>
      <ng-template #noValues>
        <div class="d-flex d-lg-none justify-content-center align-items-center text-white">
          <img [src]="'assets/icons/icons-svg/white/info.svg' | imageS3" alt="" width="24" height="24" class="mr-2" />
          <span class="">You have yet to register any type contract</span>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<div class="col-lg-6">
  <ng-template #modalManage let-modal>
    <div class="aura-form d-flex row p-3">
      <div class="col-12 d-flex justify-content-between px-0 mb-4">
        <span class="h1 h4-mob mb-0 text--white">
          <ng-container *ngIf="isEditMode">Update Type Contract</ng-container>
          <ng-container *ngIf="!isEditMode">Register Type Contract</ng-container>
        </span>
        <img
          [src]="'assets/icons/icons-svg/white/close.svg' | imageS3"
          alt=""
          width="14"
          height="14"
          class="mr-2 cursor-pointer"
          (click)="closeDialog(modal)" />
      </div>
      <div class="divider divider-horizontal"></div>
      <div class="box-body-register col-12">
        <p class="body-02 mb-1 text--gray-1" [class.input-require]="!isEditMode">Code ID</p>
        <div class="box-input">
          <input type="text"
            class="form-check-input col-12 mb-4"
            [maxlength]="50"
            [(ngModel)]="currentCodeID"
            [disabled]="isEditMode"
                 (keypress)="validateCurrentCodeID($event)"
                 (keyup)="checkInput()"
            placeholder="Enter a Code ID" />
        </div>
        <p class="caption fw-normal text--gray-5 mb-4" *ngIf="!isEditMode">Enter a Code ID that you owned/ created (ID must be greater than 0).</p>
        <p class="body-02 mb-1 text--gray-1 input-require">Type Contract</p>
        <div class="box-input">
          <mat-form-field appearance="fill" contract>
            <mat-select
              class="list-token"
              placeholder="Select a type contract"
              panelClass="contractPanel"
              (selectionChange)="checkInput();"
              [(value)]="selectedTypeContract"
              [disableOptionCentering]="true">
              <mat-option *ngFor="let item of lstTypeContract" [value]="item.value">
                <div class="d-flex option-contain">
                  <div class="option-lable">
                    <span>{{ item.value | translate }}</span>
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center justify-content-lg-end w-100 mt-4">
        <button type="button" class="button button-pill button--sm button--md-mob button-outline button-fixed mr-4" (click)="closeDialog(modal)">
          <span>Close</span>
        </button>
        <button
          type="button"
          class="button button-pill button--sm button--md-mob button-outline button-outline--gradient button-fixed"
          (click)="handleButtonContract(isEditMode)"
          [disabled]="isDisable || isProcess">
          <span>
            <ng-container *ngIf="isEditMode">Update</ng-container>
            <ng-container *ngIf="!isEditMode">Register</ng-container>
          </span>
        </button>
      </div>
    </div>
  </ng-template>
</div>
