.box-title-register {
  border-bottom: 1px solid var(--aura-dark-gray);
}

.search-form {
  min-width: 350px;
  &.single-input-field {
    .input-group {
      &.textbox_search {
        width: 97%;
        padding: var(--spacer-1) var(--spacer-4) var(--spacer-4) var(--spacer-4);

        input {
          padding-left: 0;
          width: 90%;
        }
      }
    }
  }
}

.box-search-data {
  position: absolute;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
  background-color: var(--aura-bg-form);
  width: 350px;
  margin-top: 5px;
  border-radius: 10px;

  .logo-token {
    margin-top: 2px;
    max-width: 18px;
    max-height: 18px;
  }

  .txt-title-search {
    background-color: var(--aura-dark-gray);
    border-radius: 48px;
    padding: 4px 12px;
    font-weight: 600;
  }
}

@media (min-width: 992px) {
  .search-form {
    min-width: 350px;
  }
}
