.search-form {
  min-width: 350px;

  &.single-input-field {
    .input-group {
      &.textbox_search {
        width: 97%;

        input {
          padding-left: 0;
          width: 90%;
        }
      }
    }
  }
}

.aura-form {
  .box-input {
    min-height: 50px;
  }

  .box-body-register {
    padding: var(--spacer-4) 0;
    border-top: 1px solid var(--aura-dark-gray);
    border-bottom: 1px solid var(--aura-dark-gray);
  }
}

@media (min-width: 992px) {
  .box-title-register {
    border-bottom: 1px solid var(--aura-dark-gray);
  }

  .search-form {
    min-width: 410px;
  }
}

@media (max-width: 414px) {
  ::ng-deep {
    .contract-modal.modal .modal-dialog .modal-content {
      overflow-y: auto;
      padding-bottom: 0;
    }

    .box-search-contract {
      width: 100%;
    }
  }
}

.button-outline__in-card {
  @media (max-width: 991.98px) {
    box-shadow: 2px 1000px 1px var(--aura-gray-9) inset !important;
  }
}

.aura-table th.mat-header-cell:nth-child(3) {
  min-width: 400px;
}
