<div (clickOutside)="closeVoteForm()">
    <ng-container *ngIf="!data.warning">
        <div class="d-flex">
            <img src="assets/icons/icons-svg/white/arrow-left.svg" alt="" width="24px" height="24px" (click)="closeVoteForm()" class="d-lg-none">
            <div class="sub-text sub-text-mob fw-500 ml-3 ml-lg-0">Your vote</div>
        </div>
        <div class="mt-4 small-body">#{{data.id}} {{data.title}}</div>
        <form #voteForm="ngForm">
            <mat-radio-group class="vote-group" aria-label="Select an option" [(ngModel)]="keyVote" name="inputVote">
                <mat-radio-button class="small-body" color="primary" value="Yes">{{ 'PAGES.PROPOSAL.yes' | translate }}
                </mat-radio-button>
                <mat-radio-button class="small-body" color="primary" value="No">{{ 'PAGES.PROPOSAL.no' | translate }}
                </mat-radio-button>
                <mat-radio-button class="small-body" color="primary" value="NoWithVeto">{{ 'PAGES.PROPOSAL.noWithVeto' |
                    translate }}</mat-radio-button>
                <mat-radio-button class="small-body" color="primary" value="Abstain">{{ 'PAGES.PROPOSAL.abstain' | translate
                    }}</mat-radio-button>
            </mat-radio-group>
            <div class="mt-4 d-flex justify-content-end">
                <button class="btn button-inline body mr-3" (click)="closeVoteForm()" color="primary">Cancel</button>
                <button class="button button-outline body" color="primary" (click)="onSubmitVoteForm()"
                    [disabled]="keyVote === null">
                    <img src="assets/icons/icons-svg/color/spinner.svg" alt="" width="20" height="20" *ngIf="isLoading" />
                    <span class="text-gradient">Confirm</span>
                </button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="data.warning">
        <div class="mx-auto mt-5">
            <div class="d-flex justify-content-center">
                <img src="../../../../assets/icons/icons-svg/color/info.svg" alt="">
            </div>
            <div class="body small-body-mob mb-5 mt-3 warning-content">
                {{
                data.warning === 'NOT_PARTICIPATE' ?
                    'You don\'t have the right to vote on this proposal because you are a unbonded Aura holder. Staking now to have the right to vote on other later proposals.' :
                    'You don\'t have the right to vote on this proposal because the voting period of this proposal started before you stake Aura.'
                }}
            </div>

            <div class="d-flex justify-content-center align-items-center gap-3">
                <button class="button button-inline" *ngIf="data.warning === 'NOT_PARTICIPATE'"
                        (click)="dialogRef.close()"> Cancel </button>
                <button class="button button-outline" (click)="onClick()">
                    <span class="text-gradient">
                        {{ data.warning === 'NOT_PARTICIPATE' ? 'Stake' : 'OK'}}
                    </span>
                </button>
            </div>
        </div>
    </ng-container>
</div>
