.vote-group.mat-radio-group {
  display: block;
  border-radius: 4px;
  .mat-radio-button {
    display: block;
    padding: 16px 0px 0px 0px;
  }
}
:host::ng-deep {
  .mat-ripple {
    display: none;
  }
  label.mat-radio-label {
    margin-bottom: 0;
    .mat-radio-label-content {
      padding-left: 18px;
    }
    .mat-radio-outer-circle {
      border-style: none;
      background-color: #2e3332;
    }
    .mat-radio-inner-circle {
      background-color: var(--aura-primary);
    }
  }
}
::ng-deep {
  .mat-dialog-container {
    background-color: var(--aura-black);
    border-radius: 12px;
    box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
    border: 1px solid #20262b;
    @media (max-width: 767.98px) {
      position: fixed;
      top: 0;
      left: 0;
      padding: var(--spacer-4);
    }
  }
}
