.vote-group.mat-radio-group {
  display: block;
  border-radius: 4px;
  .mat-radio-button {
    display: block;
    padding: 16px 0px 0px 0px;
  }
}
:host::ng-deep {
  .mat-ripple {
    display: none;
  }
  label.mat-radio-label {
    margin-bottom: 0;
    .mat-radio-label-content {
      padding-left: 18px;
    }
    .mat-radio-inner-circle{
      background-color: var(--aura-primary);
    }
  }
}
