<div class="container">
    <div class="fw-bold">Your vote</div>
    <div class="mt-3">#{{data.id}} {{data.title}}</div>
    <form #voteForm="ngForm" (ngSubmit)="onSubmitVoteForm(); voteForm.reset()">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="keyVote" name="inputVote">
            <mat-radio-button color="primary" value="yes">{{ 'PAGES.PROPOSAL.yes' | translate }}</mat-radio-button>
            <mat-radio-button color="primary" value="no">{{ 'PAGES.PROPOSAL.no' | translate }}</mat-radio-button>
            <mat-radio-button color="primary" value="noWithVeto">{{ 'PAGES.PROPOSAL.noWithVeto' | translate }}</mat-radio-button>
            <mat-radio-button color="primary" value="abstain">{{ 'PAGES.PROPOSAL.abstain' | translate }}</mat-radio-button>
        </mat-radio-group>
        <div class="mt-3 d-flex justify-content-end">
            <button class="btn-detail" mat-stroked-button color="primary">Cancel</button>
            <button mat-flat-button color="primary" (click)="onSubmitVoteForm()" [disabled]="keyVote === null">Confirm</button>
        </div>
    </form>
</div>
