@import "../../../assets/scss/custom-material.scss";

.box-info {
  background-color: $validator-bg-header;
  border-radius: 0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1rem;
  height: 30px;
  font-size: 15px;
  .img-valid {
    width: auto;
    height: 20px;
    margin-right: 10px;
  }
}
