// border thin
.border-sm {
  border: 1px solid !important;
}
// border color
.border-gray-9 {
  border-color: var(--aura-gray-9) !important;
}
.border-white {
  border-color: var(--aura-white) !important;
}
// border radius
.border-radius--sm {
  border-radius: 8px !important;
}
