.chart__options {
  .divider.divider-vertical {
    min-height: 22px;
  }
  img.download-simple {
    width: 18px;
    height: 18px;
  }
  .button-switch-stage {
    button {
      width: 60px;
    }
  }
}
