.divider {
  background-color: var(--aura-gray-9);
  &.divider-vertical {
    width: 1px;
    height: 100%;
  }
  &.divider-horizontal {
    width: 100%;
    height: 1px;
  }
  &-lighter {
    background-color: var(--aura-gray-8);
  }
}
