.aura-form {
  .form-control:focus {
    box-shadow: none;
  }
  &.single-input-field {
    .input-group {
      border: 2px solid var(--aura-neutrals-3);
      border-radius: 90px;
      padding: 6px;
      justify-content: space-between;
      align-items: center;
      input {
        max-width: 80%;
        padding: 0;
        padding-left: var(--spacer-1);
        border: none;
        background-color: transparent;
        color: var(--aura-light-gray);
        font-size: 16px;
        line-height: 24px;
        font-family: SFProDisplay;
        &::placeholder {
          color: var(--aura-dark-gray);
        }
      }
      button[type='submit'] {
        background: transparent;
        width: 24px;
        height: 24px;
        display: inline-block;
        padding: 0;
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
  .select-input-field {
    border: 2px solid var(--aura-neutrals-3);
    border-radius: 90px;
    padding: 12px 22px 14px 24px;
    color: var(--aura-white);
    font-size: 16px;
    line-height: 24px;
    font-family: SFProDisplay;
    .mat-select-arrow-wrapper .mat-select-arrow {
      border: none;
      width: 24px;
      height: 24px;
      background: url("../../icons/icons-svg/white/chevron-down.svg") center no-repeat;
    }
  }
  .input-group {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid var(--aura-neutrals-3);
    border-radius: 16px;
    padding: 0 var(--spacer-6);
    input {
      flex-shrink: 0;
      flex-grow: 1;
      padding: 0;
      font-size: 2rem;
      line-height: 2.4rem;
      background: transparent;
      outline: none;
      border: none;
      color: var(--aura-white);
      padding-right: 16px;
      overflow-x: hidden;
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type=number] {
        -moz-appearance: textfield;
      }
    }
    .input-group-append {
      display: flex;
      align-items: center;
      background: transparent;
      padding: var(--spacer-4) 0;
      padding-left: var(--spacer-6);
      font-size: 2rem;
      line-height: 2.4rem;
      color: var(--aura-white);
      border-left: 2px solid var(--aura-neutrals-3);
    }
  }
}
