@import 'icons-variable';

.aura-icon {
  font-size: 20px;
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.icon-close {
  width: 24px;
  cursor: pointer;
}

@each $icon-name in $icon-variables {
  .icon-#{$icon-name} {
    &::before {
      background: url('../../icons/icons-svg/basic/#{$icon-name}.svg') no-repeat center;
      background-size: contain;
    }
  }
  .icon-#{$icon-name}.icon--multi-color {
    &::before {
      background: url('../../icons/icons-svg/color/#{$icon-name}.svg') no-repeat center;
      background-size: contain;
    }
  }
  .icon-#{$icon-name}.icon--switch-stage {
    &::before {
      background: url('../../icons/icons-svg/basic/#{$icon-name}.svg') no-repeat center;
      background-size: contain;
      transition: background 0.35s ease-in-out;
    }

    @media (min-width: 992px) {
      &:hover {
        &::before {
          background: url('../../icons/icons-svg/color/#{$icon-name}.svg') no-repeat center;
          background-size: contain;
        }
      }
    }

    &:active {
      &::before {
        background: url('../../icons/icons-svg/color/#{$icon-name}.svg') no-repeat center;
        background-size: contain;
      }
    }
  }
}

@each $icon-name in $icon-black-variables {
  .icon-#{$icon-name} {
    &::before {
      background: url('../../icons/icons-svg/black/#{$icon-name}.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.icon-connect {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: var(--aura-danger);

  &.connected {
    background-color: var(--aura-blue-4);
  }
}