$icon-variables: (
  'fb-circle',
  'instagram',
  'twitter',
  'discord',
  'telegram',
  'linkedIn',
  'behance',
  'dribble',
  'burger',
  'close',
);
$icon-black-variables: ();
/*
$icon-white-variables: (
  'grid',
  'block',
  'credit-card',
  'user',
  'archive',
)
*/
