.modal {
  .modal-dialog {
    max-width: 720px;
    @media (max-width: 768px) {
      margin: auto var(--spacer-8);
    }
    @media (max-width: 414px) {
      margin: auto var(--spacer-4);
    }

    .modal-content {
      padding: var(--spacer-4);
      background: var(--aura-black);
      box-shadow: 0 10px 30px 20px rgba(0, 0, 0, 0.24);
      border-radius: 12px;
      color: var(--aura-white);
      @media (max-width: 413.99px) {
        overflow-y: auto;
        padding-bottom: 120px;
      }
      @media (min-width: 992px) {
        padding: var(--spacer-6);
      }
    }
  }

  &.fit-modal {
    .modal-dialog {
      width: fit-content;
    }
  }
  &.modal-holder.fade.show {
    z-index: 1090;
  }
}
