::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--aura-light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--aura-light-gray);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: var(--aura-gradient-simple)
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button, .button {
  outline: none;
  border: none;
  box-shadow: none;
}
a {
  color: var(--aura-light-gray);
  text-decoration: none;
  transition: color .35s ease-in-out;
  &:hover {
    color: var(--aura-white);
  }
}

#progressBar {
  .ng-spinner-icon {
    display: none !important;
  }
  .ng-bar-placeholder {
    height: 4px;
  }
  .ng-bar {
    background: var(--aura-gradient-simple) !important;
  }
}
// @media (min-width: 1400px) {
//   .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//     max-width: 1920px;
//   }
// }
