::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #5c606d;
  width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f2f3f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background: var(--aura-gray-5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--aura-light-gray);
  text-decoration: none;
  transition: color 0.35s ease-in-out;

  &:hover {
    color: var(--aura-white);
  }
}

#progressBar {
  .ng-spinner-icon {
    display: none !important;
  }

  .ng-bar-placeholder {
    height: 4px;
  }

  .ng-bar {
    background: var(--aura-gradient-button) !important;
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.navbar-header {
  padding-right: var(--bs-gutter-x, 6px) !important;
  padding-left: var(--bs-gutter-x, 6px) !important;

  @media (min-width: 992px) {
    padding-right: var(--bs-gutter-x, 30px) !important;
    padding-left: var(--bs-gutter-x, 30px) !important;
  }
}

.label__status {
  color: var(--aura-gray-light);
  border-radius: 4px;
  height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

app-paginator {
  overflow: hidden;
}

.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: transparent !important;
  --mat-mdc-button-ripple-color: transparent !important;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

// .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
//   background: unset !important;
// }

.card-explain mat-expansion-panel .mat-expansion-panel-body {
  padding: 0;
}