::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(130.23deg, #ce4da4 23.87%, #8a79ff 100%), #c4c4c4;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button, .button {
  outline: none;
  border: none;
  box-shadow: none;
}
a {
  color: var(--aura-light-gray);
  text-decoration: none;
  transition: color .35s ease-in-out;
  &:hover {
    color: var(--aura-white) !important;
  }
}
// @media (min-width: 1400px) {
//   .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//     max-width: 1920px;
//   }
// }
