.aura-table {
  background: transparent;
  mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: var(--aura-light-gray);
  }
  th.mat-header-cell {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--aura-white);
    &.has-border-top {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: var(--aura-light-gray);
    }
  }
  .mat-cell, .mat-footer-cell {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--aura-white);
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 16px;
  }
  .mat-cell{
    padding-right: 8px;
  }
  td a {
    color: var(--aura-green);

    &.disabled-link {
      pointer-events: none;
      color: var(--aura-white);
  }
  }
  button.button.button-outline {
    padding: var(--spacer-2) var(--spacer-6);
  }
}
mat-paginator {
  background-color: transparent !important;
}

.col-per-13 {
  width: 13%;
}

.col-per-15 {
  width: 15%;
}

.col-per-25 {
  width: 25%;
}
