.aura-table {
  background: transparent;
  mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: var(--aura-light-gray);
  }
  th.mat-header-cell {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--aura-light-gray);
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .mat-cell, .mat-footer-cell {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
