app-tooltip-customize,
.app-tooltip-customize {
  z-index: 2000;
  width: max-content;
  position: fixed;
  transform: translate(-50%, calc(-100% - 8px));
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;

  &.tooltip--below {
    bottom: 0;
    top: 100%;
    transform: translate(-50%, 16px);
  }
}

.aura-tooltip-contain {
  display: inline-flex;
  align-items: center;
  position: relative;

  .aura-tooltip-object {
    cursor: pointer;

    @media (min-width: 991.98px) {

      &:not(.disabled-hover):hover~app-tooltip-customize,
      &:not(.disabled-hover):hover~.app-tooltip-customize {
        max-width: 500px;
        max-height: 500px;
        opacity: 1;
        height: fit-content;

        .aura-tooltip {
          display: block;
          padding: 8px;
        }
      }
    }

    &.show~app-tooltip-customize,
    &.show~.app-tooltip-customize {
      max-width: 500px;
      max-height: 500px;
      opacity: 1;

      .aura-tooltip {
        display: block;
        padding: 8px;
      }
    }
  }
}

app-tooltip-customize.tooltip--left,
.app-tooltip-customize.tooltip--left {
  left: unset;
  right: 0;
  transform: translate(0, -32px);
}

app-tooltip-customize.tooltip--right,
.app-tooltip-customize.tooltip--right {
  right: unset;
  left: 0;
  transform: translate(0, -16px);
}

// chart tooltip
.floating-tooltip-2 {
  width: 120px;
  height: 80px;
  position: absolute;
  display: none;
  box-sizing: border-box;
  font-size: 12px;
  color: var(--aura-white);
  background-color: #3b403d;
  text-align: left;
  z-index: 1000;
  top: 12px;
  left: 12px;
  pointer-events: none;
  border-radius: 8px;
}

.floating-tooltip__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--aura-gray-8);
  padding: 8px;
}

.floating-tooltip__body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--aura-gray-9);
  padding: 8px;
}

.mat-tooltip {
  font-size: 1.2rem !important;
  max-width: unset !important;
}

.tooltip-copy {
  position: fixed;
  transform: translate(-50%, calc(-100% - 8px));
  display: none;
  align-items: center;
  justify-content: center;
  padding: 9px;
  border-radius: 4px;
  background-color: var(--aura-gray-8);
  color: var(--aura-white);
  z-index: 99999;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  text-transform: initial;

  &.show {
    opacity: 1;
    display: flex;
  }

  &:before {
    content: '';
    position: absolute;
    transform: translate(-50%, 0);
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--aura-gray-8);
    right: unset;
  }
}

.aura-tooltip {
  display: none;
  border-radius: 4px;
  background-color: var(--aura-gray-8);
  border: 1px solid var(--aura-gray-8);
  color: var(--aura-white);
  position: relative;
  text-transform: initial;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 650px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--aura-gray-8);
  }
}

app-tooltip-customize.tooltip--below .aura-tooltip:before,
.app-tooltip-customize.tooltip--below .aura-tooltip:before {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid var(--aura-gray-8);
  border-top: unset;
  bottom: unset;
  top: 0;
  transform: translate(-50%, -100%);
}

app-tooltip-customize.tooltip--right .aura-tooltip,
.app-tooltip-customize.tooltip--right .aura-tooltip {
  border-bottom-left-radius: unset;

  &:before {
    border-top: 10px solid var(--aura-gray-8);
    border-right: 10px solid transparent;
    border-bottom: unset;
    border-left: unset;
    right: unset;
    left: 20px;
  }
}

app-tooltip-customize.tooltip--left .aura-tooltip,
.app-tooltip-customize.tooltip--left .aura-tooltip {
  border-bottom-right-radius: unset;

  &:before {
    border-top: 10px solid var(--aura-gray-8);
    border-left: 10px solid transparent;
    border-bottom: unset;
    border-right: unset;
    left: unset;
    right: -6px;
  }
}