@mixin mono-font-size($font-size, $line-height, $letter-spacing, $font: "SFProDisplay") {
  font-size: #{$font-size}rem !important;
  line-height: #{$line-height}rem !important;
  font-family: $font !important;
  letter-spacing: #{$letter-spacing}em !important;
}
html,
body {
  font-size: 10px;
}
h1,
.h1 {
  @include mono-font-size(9.6, 12, 0.01, "Redig");
  display: inline-block;
  letter-spacing: 0.13rem !important;
}
h2,
.h2 {
  @include mono-font-size(6.4, 8, 0.02, "Redig");
  display: inline-block;
  letter-spacing: 0.13rem !important;
}
h3,
.h3 {
  @include mono-font-size(4.8, 5.6, 0.02, "Redig");
  letter-spacing: 0.13rem !important;
}
h4,
.h4 {
  @include mono-font-size(3.2, 3.8, 0.02, "Redig");
  letter-spacing: 0.13rem !important;
}
h5,
.h5 {
  @include mono-font-size(2.4, auto, 0.02, "Redig");
  letter-spacing: 0.13rem !important;
}
.title {
  @include mono-font-size(3.2, 4, -0.01, "SFProDisplay");
}
.title-medium {
  @include mono-font-size(2.6, 3.2, -0.01, "SFProDisplay");
}
.title-small {
  @include mono-font-size(2, 2.3, -0.01, "SFProDisplay");
}
.sub-text {
  @include mono-font-size(2.4, 4, 0.02, "SFProDisplay");
}
.body {
  @include mono-font-size(1.6, 2.4, 0.05, "SFProDisplay");
}
.body-bold {
  @include mono-font-size(1.6, 2.4, 0.02, "SFProDisplay");
  font-weight: bold;
}
.small-body {
  @include mono-font-size(1.4, 1.6, 0, "SFProDisplay");
}
.small-text {
  @include mono-font-size(1.2, 1.6, 0, "SFProDisplay");
}

@media (max-width: 991.98px) {
  .h1-mob {
    @include mono-font-size(9.6, 12, 0.01, "Redig");
    display: inline-block;
  }
  .h2-mob {
    @include mono-font-size(6.4, 8, 0.02, "Redig");
    display: inline-block;
  }
  .h3-mob {
    @include mono-font-size(4.8, 5.6, 0.02, "Redig");
  }
  .h4-mob {
    @include mono-font-size(3.2, 3.8, 0.02, "Redig");
  }
  .title-mob {
    @include mono-font-size(3.2, 4, -0.01, "SFProDisplay");
  }
  .title-medium-mob {
    @include mono-font-size(2.6, 3.2, -0.01, "SFProDisplay");
  }
  .title-small-mob {
    @include mono-font-size(2.4, 3.2, -0.01, "SFProDisplay");
  }
  .sub-text-mob {
    @include mono-font-size(2, 2.5, 0.02, "SFProDisplay");
  }
  .body-mob {
    @include mono-font-size(1.6, 2.4, 0.05, "SFProDisplay");
  }
  .small-text-mob {
    @include mono-font-size(1.2, 1.6, 0, "SFProDisplay");
  }

  .small-body-mob {
    @include mono-font-size(1.4, 1.8, 0, "SFProDisplay");
  }
}
$textColors: (
  "white",
  "light-gray",
  "dark-gray",
  "black",
  "black-1",
  "green",
  "primary-4",
  "neutrals-2",
  "neutrals-3",
  "neutrals-4",
  "neutrals-6",
  "neutrals-8"
);
@each $color in $textColors {
  .text--#{$color} {
    color: var(--aura-#{$color}) !important;
  }
}
.fw-semibold {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.text-gradient {
  background: var(--aura-gradient-simple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text--greyscale-3 {
  color: #98989B;
}

.text--greyscale-4 {
  color: #9CA3AF;
}

$textColorsStatus: (
  "primary"  : '#5EE6D0',
  "danger"   : '#E65E5E',
  "info"     : '#5E84E6',
  "warning"  : '#E3E65E',
  "secondary": '#E3E65E',
);

@each $status, $color in $textColorsStatus {
  .text--#{$status} {
    color: #{$color} !important;
  }
}
