@import '../spacer';
:root {
  /* Single Basic color */
  --aura-white: #ffffff;
  --aura-black: #131419;
  /* Level Basic color */
  --aura-gray-light: #f2f3f5;
  --aura-gray-light-2: #fcfcfd;
  --aura-gray-light-3: #777e90;
  --aura-gray-1: #e5e7ea;
  --aura-gray-2: #ccd0d5;
  --aura-gray-3: #b4b8c0;
  --aura-gray-4: #9da1ac;
  --aura-gray-5: #868a97;
  --aura-gray-6: #717582;
  --aura-gray-7: #5c606d;
  --aura-gray-8: #494c58;
  --aura-gray-9: #363843;
  --aura-gray-10: #24262e;
  --aura-gray-11: #e6e7e8;

  --aura-aqua-1: #a4f1e4;
  --aura-aqua-2: #82ecda;
  --aura-aqua-3: #5ee6d0;
  --aura-aqua-4: #38e0c4;
  --aura-aqua-5: #1cb69c;
  --aura-aqua-6: #0e7e6b;

  --aura-yellow-1: #fedca2;
  --aura-yellow-2: #ffcd76;
  --aura-yellow-3: #f5b73c;
  --aura-yellow-4: #bc872a;
  --aura-yellow-5: #89662a;

  --aura-blue-1: #b0e2ff;
  --aura-blue-2: #7dc8fa;
  --aura-blue-3: #22aef5;
  --aura-blue-4: #0f82c5;
  --aura-blue-5: #18699e;
  --aura-blue-6: #7482b6;
  --aura-blue-3link: #2cb1f5;
  --aura-blue-shade-3: #0f82c5;

  --aura-red-1: #fab6b4;
  --aura-red-2: #fa8684;
  --aura-red-3: #d5625e;
  --aura-red-4: #af4f4c;
  --aura-red-5: #904242;

  --aura-green-1: #c5e5d3;
  --aura-green-2: #9edbb8;
  --aura-green-3: #67c091;
  --aura-green-4: #49996f;
  --aura-green-5: #397856;
  --aura-green-6: #5ee69d;

  --aura-orange-1: #fd805f;

  /* Custom Aura theme color */
  --aura-primary: #2cb1f5;
  --aura-secondary: #9da8ff;
  --aura-danger: #d5625e;
  --aura-info: #7dc8fa;
  --aura-warning: #ffcd76;
  --aura-bg-form: #131419;

  /* Gradient color */
  --aura-gradient-button: linear-gradient(339deg, #ffd569 23.57%, #fc8e4f 50.76%, #ff697b 76.37%);
  --aura-gradient-black: linear-gradient(110.97deg, #262838 0%, #2e2e38 97.13%);

  /* Opacity color */
  --transparent-bg-2: rgba(255, 255, 255, 0.3);
  --transparent-bg-3: rgba(255, 255, 255, 0.8);
  --font-space-mono : 'Space Mono', sans-serif;
  @include spacer-variables();
}
