<div class="card box-contract-info" *ngIf="contractDetail">
  <div>
    <div class="table-responsive">
      <table class="aura-basic-table w-100 body-02 body-mob">
        <tr>
          <td colspan="2" class="h6 h3-mob mb-0">More Info</td>
          <td></td>
        </tr>
        <tr>
          <td class="text--gray-5 body-02-mob">Public name:</td>
          <td colspan="2">
            <ng-container
              *ngIf="commonService.setNameTag(contractDetail?.address) !== contractDetail?.address; else NoNameTag">
              <!-- <app-name-tag
                [value]="contractDetail?.address"
                [isLink]="false"
                [extendUrl]="true"
                [widthAuto]="true"
                [fullText]="true"></app-name-tag> -->
              <div class="d-flex">
                <span class="d-none d-lg-flex">{{ commonService.setNameTag(contractDetail?.address) || '-' }}</span>
                <span class="d-flex d-lg-none justify-content-center">{{
                  (commonService.setNameTag(contractDetail?.address) | cutStringPipe : 8 : 8) || '-'
                }}</span>
                <a target="_blank" [href]="extendLink(commonService.findUrlNameTag(contractDetail?.address))">
                  <i
                    _ngcontent-wrg-c372=""
                    class="ph-arrow-square-out-fill text--primary body-01 h3-mob ml-1 cursor-pointer"></i>
                </a>
              </div>
            </ng-container>
            <ng-template #NoNameTag>Not Available</ng-template>
          </td>
        </tr>
        <tr>
          <td class="text--gray-5 body-02-mob">Private Name Tag:</td>
          <td colspan="2"></td>
        </tr>

        <tr>
          <td class="text--gray-5">Token Tracker:</td>
          <td colspan="2">
            <ng-container>
              <div class="d-flex align-items-center">
                <a
                  class="text--primary break-word"
                  [routerLink]="['/tokens/token/', contractDetail?.address]"
                  *ngIf="
                    contractDetail?.code?.type === contractRegisterType.CW20 &&
                    contractDetail?.cw20_contract?.name &&
                    contractDetail?.cw20_contract?.symbol
                  ">
                  {{ contractDetail?.cw20_contract?.name }} ({{ contractDetail?.cw20_contract?.symbol }})
                </a>
                <div class="aura-tooltip-contain">
                  <div class="status cursor-pointer aura-tooltip-object">
                    <img
                      [src]="'assets/images/icons/circle-wavy-check.png' | imageS3"
                      alt=""
                      width="18"
                      height="18"
                      class="ml-1 mb-1"
                      *ngIf="contractDetail.verify_status === 'VERIFIED'" />
                  </div>
                  <app-tooltip-customize [content]="contractDetail.verify_text || 'Verified by Aura Network'">
                  </app-tooltip-customize>
                </div>
              </div>
              <a
                *ngIf="
                  contractDetail?.code?.type !== contractRegisterType.CW20 &&
                  contractDetail?.cw721_contract?.name &&
                  contractDetail?.cw721_contract?.symbol
                "
                class="text--primary break-word"
                [routerLink]="['/tokens/' + linkNft, contractDetail?.address]">
                {{ contractDetail?.cw721_contract?.name }} ({{ contractDetail?.cw721_contract?.symbol }})
              </a>
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
