<div class="card box-contract-info">
  <div class="">
    <div class="table-responsive">
      <table class="aura-basic-table w-100">
        <tr>
          <td colspan="2" class="body fw-semibold">More Info</td>
          <td class="">
            <div class="d-flex justify-content-end">
              <img src="assets/icons/icons-svg/basic/icon-love.svg" alt="" width="16px" />
              <button class="ml-3 button button-chart button-outline button-outline__in-card -small">
                <span class="ml-2 small-text">More</span>
                <img src="assets/images/icons/arrow-move-down.svg" alt="" width="24px" />
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td>My Name Tag:</td>
          <td colspan="2">Not Available, <span class="text--green ml-1">Update?</span></td>
        </tr>

        <tr class="d-lg-none">
          <td colspan="3">
            <div>Contract Creator:</div>
            <div>
              <a class="text--green mr-2" [routerLink]="['/account', contractDetail?.creator_address]">
                {{ contractDetail?.creator_address | cutStringPipe : 8:8 }}
              </a>
              at txn
              <a class="text--green ml-2" [routerLink]="['/transaction', contractDetail?.tx_hash]">
                {{ contractDetail?.tx_hash | cutStringPipe : 8:8}}
              </a>
            </div>
          </td>
        </tr>

        <tr class="d-none d-lg-table-row">
          <td>Contract Creator:</td>
          <td colspan="2">
            <a class="text--green mr-2" [routerLink]="['/account', contractDetail?.creator_address]">
              {{ contractDetail?.creator_address | cutStringPipe : 8:8 }}
            </a>
            at txn
            <a class="text--green ml-2" [routerLink]="['/transaction', contractDetail?.tx_hash]">
              {{ contractDetail?.tx_hash | cutStringPipe : 8:8}}
            </a>
          </td>
        </tr>

        <tr>
          <td>Token Tracker:</td>
          <td colspan="2">
            <ng-container *ngIf="contractDetail?.token_tracker">
              <a class="text--green" [routerLink]="['/token', contractDetail?.contract_address]">
                {{ contractDetail?.token_tracker?.name }} ({{ contractDetail?.token_tracker?.symbol }})
              </a>
              <!-- <span class="ml-1 text--light-gray">(@$1)</span> -->
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
