<div class="card box-token-info">
  <div class="">
    <div class="table-responsive aura-table-contain">
      <table class="aura-basic-table w-100">
        <tr>
          <td colspan="2">More Info</td>
          <td class="d-flex justify-content-end">
            <a href="javascript:void(0)" class="button button-chart button-outline">
              <span class="ml-2">More</span>
              <img src="assets/images/icons/arrow-move-down.svg" alt="" width="24px" />
            </a>
          </td>
        </tr>

        <tr>
          <td>My Name Tag:</td>
          <td colspan="2">Not Available, <a class="text--green" href="https://aura.network">Update?</a></td>
        </tr>

        <tr>
          <td>Contract Creator:</td>
          <td colspan="2">
            <a class="text--green" [routerLink]="['/account', 'aura1fceaesaz0fpckeeyt4dt6l6cd7nk7f7gsjpk8f']">
              aura1fceaesaz0fpckeeyt4dt6l6cd7nk7f7gsjpk8f
            </a>
            at txn
            <a class="text--green" [routerLink]="['/account', 'aura1kqmvuhlyj68l37vf7k7f6umvq400u5q88kx5wq']">
              aura1kqmvuhlyj68l37vf7k7f6umvq400u5q88kx5wq
            </a>
          </td>
        </tr>

        <tr>
          <td>Token Tracker:</td>
          <td colspan="2">
            <span class="text--green">Aura (Aura)</span> (@$442.8586)
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
