.box-contract-info {
  table.aura-basic-table {
    min-height: 224px;
    tr,
    td {
      color: var(--aura-gray-1);
      height: 56px;
      padding: 0px var(--spacer-4);
    }

    tr:first-child td:first-child {
      width: 40%;
      color: var(--aura-white);
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 16px;
  }

  @media (max-width: 414px) {
    tr td {
      width: 40%;
    }
  }
}
