.box-contract-info {
  table.aura-basic-table {
    min-height: 330px;
    tr td:first-child {
      width: 30%;
    }
    tr {
      height: 84px;
    }
    tr:not(:first-child) td:first-child {
      color: var(--aura-contract);
    }
  }
}
