.box-contract-info {
  table.aura-basic-table {
    min-height: 330px;
    tr, td {
      color: var(--aura-contract);
    }
    tr:first-child td:first-child {
      width: 30%;
      color: var(--aura-white);
    }
    tr {
      height: 84px;
    }
  }
}
