.search-form {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 410px;
  }
}

@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell:not(:nth-child(2)) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(2) {
    min-width: 250px;
  }
  .aura-table th.mat-header-cell:nth-child(1) {
    min-width: 50px;
  }
}

.vertical-align-top {
  vertical-align: top;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.search-form.contract-search-form {
  width: 100%;
  @media (min-width: 992px) {
    width: 555px;
  }
}

.filter-group {
  overflow: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  button.button {
    height: 30px;
    padding: 0 12px;
    background: rgba(157, 161, 172, 0.2);
    color: var(--aura-gray-2);
    font-weight: 600;
    flex: 1 0 auto;
    border: 1px solid var(--aura-gray-6);

    &:not(:last-child) {
      margin-right: 16px;
    }

    &.active {
      border: 1px solid var(--aura-green-3);
    }

    @media (min-width: 991.98px) {
      &:hover {
        border: 1px solid var(--aura-green-3);
      }
    }
  }
}

