<div class="event-log-container break-word" *ngIf="eventLog">
  <div class="event-number">{{ index + 1 }}</div>

  <div class="event-content w-100">
    <div class="d-flex flex-wrap mb-3">
      <div class="col-12 col-lg-1 mb-2 mb-lg-0 text--gray-4 body">
        {{ 'Contract' }}
      </div>

      <div class="col-12 col-lg-11 row">
        <div class="col-12">
          <div class="d-block d-lg-inline">
            {{ eventLog.contractName }}
          </div>
          <span class="font-space-mono">{{ eventLog.address }}</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3">
      <div class="col-12 col-lg-1 mb-2 mb-lg-0 text--gray-4 body">
        Topics
      </div>
      <div class="col-12 col-lg-11 d-flex flex-column gap-2">
        <ng-container *ngFor="let topic of topicsDecoded; index as idx">
          <app-decode-message
            *ngIf="topic?.value"
            [index]="topic?.index"
            [name]="topic?.name"
            [isLink]="topic?.isLink"
            [isAllowSwitchDecode]="topic?.isAllowSwitchDecode"
            [value]="topic?.value"
            [decode]="topic?.decode"></app-decode-message>
        </ng-container>
      </div>
    </div>

    <div class="d-flex flex-wrap mb-3" *ngIf="eventLog.data">
      <div class="col-12 col-lg-1 mb-2 mb-lg-0 text--gray-4 body">
        Data
      </div>
      <div class="col-12 col-lg-11">
        <app-decode-message
          index="Value" 
          [value]="eventLog.data" 
          [decode]="eventLog.dataDecoded"
          [isAllowSwitchDecode]="true"
          [isHighlight]="true"></app-decode-message>
      </div>
    </div>
  </div>
</div>