.raw-content {
  white-space: pre-wrap;
}

.header-mob{
  padding: var(--spacer-3) var(--spacer-6) !important;
  @media (max-width: 991.99px) {
    background: transparent;
    padding-bottom: 2px !important;
  }
}