<app-pagetitle title="Details for Block #{{ id || item?.height }}"></app-pagetitle>
<div class="row justify-content-end mb-2 d-none d-lg-flex">
  <div class="col-auto">
    <div class="button-switch-stage">
      <button [class.active]="!isRawData" (click)="changeType(false)">Summary</button>
      <button [class.active]="isRawData" (click)="changeType(true)">JSON</button>
    </div>
  </div>
</div>

<div class="card text--white" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="card-body header-mob px-4 py-4 px-lg-6 py-lg-6" [ngClass]="breakpoint.value.matches ? 'card-body' : 'card-header'">
    <div class="title-small d-none d-lg-flex fw-500">{{ !isRawData ? 'Information' : 'Raw Data' }}</div>
    <div class="d-flex justify-content-between align-items-center d-lg-none">
      <div class="title-small fw-500">{{ !isRawData ? 'Information' : 'Raw Data' }}</div>
      <div class="button-switch-stage">
        <button [class.active]="!isRawData" (click)="changeType(false)">Summary</button>
        <button [class.active]="isRawData" (click)="changeType(true)">JSON</button>
      </div>
    </div>
    <div class="divider divider-horizontal mt-4 d-lg-none"></div>
  </div>
  <ng-container *ngIf="!isRawData">
    <div class="card-body header-mob small-body" *ngIf="!loading">
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Chain Id</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.chainid }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Height</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.height }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Block Time</p>
        </div>
        <div class="col-12 col-lg-6">{{ commonService.getDateValue(item?.timestamp)[0] }} ({{ dateFormat }})</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Block Hash</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.block_hash }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Number of Tx</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.num_txs }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Gas (used / wanted)</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.gas_used | number }} / {{ item?.gas_wanted | number }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Block Round</p>
        </div>
        <div class="col-12 col-lg-6">{{ item?.round | number }}</div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-lg-3">
          <p class="card-text fw-semibold">Proposer</p>
        </div>
        <div class="col-12 col-lg-6">
          <a class="text--green" routerLink="/validators/{{ item?.operator_address }}">
            {{ item?.proposer }}
          </a>
        </div>
      </div>
    </div>
    <div class="card-body body" *ngIf="loading">
      <app-loading-sprint></app-loading-sprint>
    </div>
  </ng-container>
  <ng-container *ngIf="isRawData">
    <ng-container *ngIf="item?.json_data; else noValues">
      <div class="body">
        <pre id="json" class="raw-content text--white px-4" [innerHtml]="item?.json_data | appJson"></pre>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="card text--white">
  <div class="card-header title-small py-6 px-6 d-none d-lg-block fw-500">Transactions</div>
  <div class="d-lg-none px-4 pt-4 pb-0 title-small fw-500">Transactions</div>
  <div class="card-body body">
    <ng-container *ngIf="length > 0; else noValues">
      <div class="table-responsive d-none d-lg-block">
        <table mat-table [dataSource]="dataSource" class="aura-table">
          <ng-container *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>

              <td mat-cell *matCellDef="let data">
                <div>
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <div *ngSwitchCase="'timestamp'">
                      {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                    </div>
                    <a
                      *ngSwitchCase="'tx_hash'"
                      class="text--green cursor-pointer hash-link"
                      [routerLink]="['/transaction', data['tx_hash']]">
                      {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                    </a>
                    <a
                      *ngSwitchCase="'height'"
                      class="text--green cursor-pointer block-link"
                      [routerLink]="['/blocks', data['height']]">
                      {{ data[template.matColumnDef] }}
                    </a>
                    <div *ngSwitchCase="'type'" class="g-type">
                      {{ data[template.matColumnDef] }}
                    </div>
                    <div *ngSwitchCase="'status'">
                      <div [ngSwitch]="data[template.matColumnDef]">
                        <div *ngSwitchCase="'Success'" class="text--primary">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Fail'" class="text--danger">
                          {{ data[template.matColumnDef] }}
                        </div>
                        <div *ngSwitchCase="'Pending'" class="text--warning">
                          {{ data[template.matColumnDef] }}
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'fee'">
                      {{ data[template.matColumnDef] }} <span class="text--green">{{ denom }}</span>
                    </div>
                    <div *ngSwitchCase="'amount'">
                      <ng-container *ngIf="data[template.matColumnDef] > 0; else displayNonNumber">
                        {{ data[template.matColumnDef] | number: global.formatNumberToken }}
                        <span class="text--primary">{{ denom }}</span>
                      </ng-container>
                      <ng-template #displayNonNumber>
                        <span *ngIf="data[template.matColumnDef] === 0"> - </span>
                        <a
                          *ngIf="data[template.matColumnDef] !== 0"
                          class="text--primary cursor-pointer"
                          [routerLink]="['/transaction', data['tx_hash']]">
                          More
                        </a>
                      </ng-template>
                    </div>
                    <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              {{ 'NO DATA' | translate }}
            </td>
          </tr>
        </table>
      </div>
      <div class="d-lg-none" *ngIf="dataTxs && dataTxs.length > 0">
        <app-card-mob-simple
          *ngFor="let data of dataTxs"
          [link]="'/transaction/' + data.tx_hash"
          [title]="{
            size: 'md',
            label: data.tx_hash | cutStringPipe: 6:6,
            subLabelContent: data.type,
            subLabelClass: 'label__status',
            status: data.code
          }"
          [content]="[
            {
              label: 'Amount',
              info:
                data.amount > 0
                  ? (data.amount | number: global.formatNumberToken) + '<span class=text--primary> ' + denom + '</span>'
                  : checkAmountValue(data.amount, data.tx_hash)
            },
            { label: 'Time', info: commonService.getDateValue(data.timestamp, false)[1] }
          ]"></app-card-mob-simple>
      </div>
    </ng-container>

    <ng-template #noValues>
      <app-table-no-data></app-table-no-data>
    </ng-template>
  </div>
</div>
