<div class="h-100 d-flex flex-column justify-content-between">
  <div class="">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="mb-0 text--gray-1 fw-semibold fw-500-mob">Current Status</h4>
      <div class="proposal-status proposal-status__{{ currentStatus?.key }}">
        <span>{{ currentStatus?.value }}</span>
      </div>
    </div>
    <div class="mt-1 caption text--gray-5 content--fixed-height body-03-mob">{{ currentSubTitle }}</div>
  </div>
  <div class="mt-lg-6 mt-2">
    <div class="vote-bar mt-10 mb-4">
      <ul class="vote-bar-ul">
        <li class="bg--primary" [style.width]="proposalDetail.currentYesPercent + '%'"></li>
        <li class="bg--danger" [style.width]="proposalDetail.currentNoPercent + '%'"></li>
        <li class="bg--info" [style.width]="proposalDetail.currentNoWithVetoPercent + '%'"></li>
      </ul>
      <div class="vote-bar__info" [style.left]="proposalDetail.threshold + '%'">
        <span class="caption">
          <span class="text--gray-5">Threshold:</span>
          <span class="text--gray-1 ml-1">{{ proposalDetail.threshold | number: global.formatNumber2Decimal }}%</span>
        </span>
      </div>
    </div>
    <div class="d-flex align-items-center text--gray-1">
      <div class="vote status--primary"></div>
      <div class="row align-items-center flex-grow-1">
        <div class="col-4 col-lg-5 fw-semibold">
          <span class="body-03"> Yes </span>
        </div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1 body-02-mob">
          {{ proposalDetail.currentYesPercent | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 text-end h6 mb-0 fw-normal text--gray-5 body-02-mob">
          {{ proposalDetail.pro_votes_yes | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center text--gray-1 mt-2">
      <div class="vote status--danger flex-grow-0"></div>
      <div class="row align-items-center flex-grow-1">
        <div class="col-4 col-lg-5 fw-semibold">
          <span class="body-03"> No </span>
        </div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1 body-02-mob">
          {{ proposalDetail.currentNoPercent | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 flex-shrink-0 text-end h6 mb-0 fw-normal text--gray-5 body-02-mob">
          {{ proposalDetail.pro_votes_no | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center text--gray-1 mt-2">
      <div class="vote status--info"></div>
      <div class="row align-items-center flex-grow-1">
        <div class="col-4 col-lg-5 fw-semibold">
          <span class="body-03"> NoWithVeto</span>
        </div>
        <div class="col-3 col-lg-3 h6 text-end mb-0 text--gray-1 body-02-mob">
          {{ proposalDetail.currentNoWithVetoPercent | number: global.formatNumber2Decimal }}%
        </div>
        <div class="col-5 col-lg-4 flex-shrink-0 text-end h6 mb-0 fw-normal text--gray-5 body-02-mob">
          {{ proposalDetail.pro_votes_no_with_veto | number: global.formatNumberToken }}
        </div>
      </div>
    </div>
  </div>
</div>
