<footer>
  <section class="container-fluid container-lg footer">
    <div class="row">
      <div class="col-12 col-lg-2">
        <div class="footer__menu pt-10 pt-md-0">
          <a routerLink="" class="footer__logo aura-logo ml-2 ml-md-0">
            <img [src]="'assets/images/logo/aura-explorer-logo.png' | imageS3" alt="Aura Logo" class="w-100" />
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="footer__contact py-8 pt-lg-14 pb-lg-9">
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">{{ 'FOOTER.FEATURES' | translate }}</div>
              <div class="body mt-2 mt-md-10">
                <div class="mb-4">
                  <a target="_blank" href="{{ getUrl(dashboardURL) }}">{{ 'FOOTER.DASHBOARD' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="{{ getUrl(blocksURL) }}">{{ 'FOOTER.BLOCKS' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="{{ getUrl(transactionURL) }}">{{ 'FOOTER.TRANSACTIONs' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="{{ getUrl(validatorURL) }}">{{ 'FOOTER.VALIDATORS' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="{{ getUrl(governanceURL) }}">{{ 'FOOTER.GOVERNANCE' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">{{ 'FOOTER.RESOURCES' | translate }}</div>
              <div class="body mt-2 mt-md-10">
                <div class="mb-4">
                  <a target="_blank" href="https://aura.network/">{{ 'FOOTER.LANDING_PAGE' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="https://insight.aura.network/">{{ 'FOOTER.INSIGHTS' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="https://docs.aura.network/">{{ 'FOOTER.DOCS' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a
                    target="_blank"
                    href="https://github.com/aura-nw/whitepaper/blob/main/release/Aura_Network___whitepaper.pdf"
                    >{{ 'FOOTER.WHITEPAPER' | translate }}</a
                  >
                </div>
                <div class="mb-4">
                  <a target="_blank" href="https://docs.aura.network/blog">{{ 'FOOTER.RESEARCH' | translate }}</a>
                </div>
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">{{ 'FOOTER.ABOUT_US' | translate }}</div>
              <div class="body mt-2 mt-md-10">
                <div class="mb-4">
                  <a
                    target="_blank"
                    href="https://aura-network.notion.site/Aura-Job-Board-172bb39a89d844b0a0e1d8871026dc23"
                    >{{ 'FOOTER.CAREERS' | translate }}</a
                  >
                </div>
                <div class="mb-4">
                  <a target="_blank" href="https://discord.gg/bzm3dyxJxR">{{ 'FOOTER.CONTACT_US' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" routerLink="/terms">{{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" routerLink="/privacyPolicy">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="footer__cta">
          <div class="footer__cta-contain">
            <div>
              <img [src]="'assets/images/letTalk.png' | imageS3" alt="" />
              <div class="small-text mt-2 text--gray-5" innerHtml="{{ 'FOOTER.TEXT' | translate }}"></div>
            </div>
            <a href="mailto:support@aura.network" class="small-body text--primary mt-lg-5">{{
              'FOOTER.SUPPORT_MAIL' | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-bar pt-lg-6 pb-lg-5 pt-8">
    <div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
      <div class="caption-2 mt-6 mt-md-0">{{ 'FOOTER.COPYRIGHT' | translate }}</div>
      <div class="d-flex">
        <a href="https://discord.gg/bzm3dyxJxR" target="_blank">
          <i class="mr-3 aura-icon icon--switch-stage icon-discord"></i>
        </a>
        <a href="https://twitter.com/AuraNetworkHQ" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-twitter"></i>
        </a>
        <a href="https://t.me/auranw" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-telegram"></i>
        </a>
        <a href="https://www.facebook.com/AuraNetworkHQ/" target="_blank">
          <i class="mx-3 aura-icon icon-fb-circle"></i>
        </a>
        <a href="https://www.linkedin.com/company/auranetwork/about/" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-linkedIn"></i>
        </a>
        <a href="https://github.com/aura-nw" target="_blank">
          <i class="ml-3 aura-icon icon--switch-stage icon-github"></i>
        </a>
      </div>
    </div>
  </section>
  <app-menu-bottom-bar></app-menu-bottom-bar>
</footer>
