<footer>
  <section class="container-fluid container-lg footer">
    <div class="row">
      <div class="col-12 col-lg-2">
        <div class="footer__menu pt-10 pt-md-0">
          <a href="#" class="footer__logo aura-logo ml-2 ml-md-0">
            <img
              srcset="assets/images/logo/auraMainLogo-1x.png 1x, assets/images/logo/auraMainLogo-2x.png 2x"
              src="assets/images/logo/auraMainLogo-1x.png"
              alt="Aura Logo"
            />
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="footer__contact py-8 pt-lg-14 pb-lg-9">
          <div class="row">
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">Features</div>
              <div class="body mt-2 mt-md-10">
                <div class="mb-4"><a target="_blank" href="{{ this.dashboardURL }}">Dashboard</a></div>
                <div class="mb-4"><a target="_blank" href="{{ this.blocksURL }}">Blocks</a></div>
                <div class="mb-4">
                  <a target="_blank" href="{{ this.transactionURL }}">Transactions</a>
                </div>
                <div class="mb-4">
                  <a target="_blank" href="{{ this.validatorURL }}">Validators</a>
                </div>
                <div class="mb-4"><a target="_blank" href="{{ this.governanceURL }}">Governance</a></div>
                <!-- <div class="mb-4"><a target="_blank" href="https://safe.aura.network/welcome">Safe</a></div>
                                <div class="mb-4"><a target="_blank" href="https://docs.aura.network/">Docs</a></div>
                                <div class="mb-4"><a target="_blank" href="https://explorer.aura.network/">Explorer</a></div> -->
              </div>
            </div>
            <!-- <div class="col-6 col-sm-3">
                            <div class="body contact__title text--white">Partners</div>
                            <div class="body mt-2 mt-md-10">
                                <div class="mb-4"><button type="button">Partners</button></div>
                                <div class="mb-4"><button type="button">Advisors</button></div>
                            </div>
                        </div> -->
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">Resources</div>
              <div class="body mt-2 mt-md-10">
                <div class="mb-4"><a target="_blank" href="https://aura.network/">Landing page</a></div>
                <div class="mb-4"><a target="_blank" href="https://insight.aura.network/">Insights</a></div>
                <div class="mb-4"><a target="_blank" href="https://docs.aura.network/">Docs</a></div>
                <div class="mb-4">
                  <a
                    target="_blank"
                    href="https://github.com/aura-nw/whitepaper/blob/main/release/Aura_Network___whitepaper.pdf"
                    >Whitepaper</a
                  >
                </div>
                <div class="mb-4"><a target="_blank" href="https://docs.aura.network/blog">Research</a></div>
                <!-- <div class="mb-4"><button>FAQs</button></div> -->
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="body contact__title text--white">About us</div>
              <div class="body mt-2 mt-md-10">
                <!-- <div class="mb-4">
                    <a target="_blank" href="https://aura.network/#/team">Meet Our Team</a></div> -->
                <div class="mb-4">
                  <a
                    target="_blank"
                    href="https://aura-network.notion.site/Aura-Job-Board-172bb39a89d844b0a0e1d8871026dc23"
                    >Careers</a
                  >
                </div>
                <div class="mb-4">
                  <a
                    target="_blank"
                    href="https://discord.com/invite/PNCp4CXj7K"
                    >Contact us</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="footer__cta">
          <div class="footer__cta-contain">
            <div>
              <div class="h4 text-gradient d-inline fw-semibold">LET'S TALK!</div>
              <div class="small-text mt-2 text--light-gray">
                We’d love to hear from you, we’re here<br />to answer all your questions.
              </div>
            </div>
            <a href="mailto:support@aura.network" class="small-body text--green">support@aura.network</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-bar pt-lg-6 pb-lg-5 pt-10 pb-9">
    <div class="container-fluid d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
      <div class="caption-2 mt-6 mt-md-0">Copyright © 2022 Aura Network. All rights reserved</div>
      <div class="d-flex">
        <a href="https://discord.com/invite/PNCp4CXj7K" target="_blank">
          <i class="mr-3 aura-icon icon--switch-stage icon-discord"></i>
        </a>
        <a href="https://twitter.com/AuraNetworkHQ" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-twitter"></i>
        </a>
        <a href="https://t.me/auranw" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-telegram"></i>
        </a>
        <a href="https://www.facebook.com/AuraNetworkHQ/" target="_blank">
          <i class="mx-3 aura-icon icon--switch-stage icon-fb-circle"></i>
        </a>
        <a href="https://www.linkedin.com/company/auranetwork/about/" target="_blank">
          <i class="ml-3 aura-icon icon--switch-stage icon-linkedIn"></i>
        </a>
      </div>
    </div>
  </section>
</footer>
