.btn-status {
  min-width: 80px;
  @media (min-width: 992px) {
    min-width: 180px;
  }
  &--mob {
    @media (max-width: 991.98px) {
      .button-dropdown {
        &:after, &:before {
          right: 17px;
        }
      }
      .dropdown-item {
        white-space: break-spaces;
      }
    }
  }
}

@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell {
    min-width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .aura-table th.mat-header-cell:nth-child(1),
  .aura-table th.mat-header-cell:nth-child(2),
  .aura-table th.mat-header-cell:nth-child(9) {
    min-width: 200px;
  }
}
