.btn-status {
  @media (min-width: 992px) {
    width: 185px;
  }
  &--mob {
    @media (max-width: 991.98px) {
      .button-dropdown {
        width: 107px;
        &:after, &:before {
          right: 17px;
        }
      }
      .dropdown-item {
        white-space: break-spaces;
      }
      .dropdown-menu.aura-dropdown-menu {
        min-width: 125px;
      }
    }
  }
}
.search-form--mob .input-group {
  padding: 0 var(--spacer-2);
}
.card__info {
  min-height: 275px;
}
button:disabled a {
  cursor: not-allowed;
}
.aura-table th.mat-header-cell {
  min-width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.aura-table th.mat-header-cell:nth-child(1),
.aura-table th.mat-header-cell:nth-child(2),
.aura-table th.mat-header-cell:nth-child(9) {
  min-width: 200px;
}
