<div class="contract-register-mainnet" *ngIf="{ value: breakpoint$ | async } as breakpoint">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text--white mb-0">Smart contracts list</h1>
    <button class="button button-outline button--md button-pill button-flat d-none d-lg-flex"
    [disabled]="!this.dataSource || this.dataSource?.data?.length == 0">
      <a href="{{ (!this.dataSource || this.dataSource?.data?.length == 0) ? 'javascript:void(0)' : '/contracts/contracts-deploy-mainnet' }}">
        <img [src]="'assets/icons/icons-svg/black/plus.svg' | imageS3" alt="" width="16px" height="16px" />
        <span class="ml-2 text--black">Register Contract</span>
      </a>
    </button>
  </div>
  <div class="divider divider-horizontal my-4 d-none d-lg-block"></div>
  <div class="d-lg-flex justify-content-between mt-4 mt-lg-0">
    <div>
      <div class="text--gray-1 body-01">
        Users can register smart contracts that ware verified source code to deploy on mainnet.
      </div>
      <div class="body-03-mob body-02 mt-2 mt-lg-1 text--gray-5">
        A total of {{ pageData?.length }} Contract{{ pageData?.length > 1 ? 's' : '' }} that you created
      </div>
      <button class="button button-outline button--md button-pill button-flat d-flex d-lg-none mt-4 w-100"
              [disabled]="!this.dataSource || this.dataSource?.data?.length == 0">
        <a href="{{ (!this.dataSource || this.dataSource?.data?.length == 0) ? 'javascript:void(0)' : '/contracts/contracts-deploy-mainnet' }}">
          <img [src]="'assets/icons/icons-svg/black/plus.svg' | imageS3" alt="" width="16px" height="16px" />
          <span class="ml-2 text--black">Register Contract</span>
        </a>
      </button>
    </div>
    <div class="d-flex mt-4 mt-md-0">
      <div class="dropdown aura-dropdown mr-4 btn-status d-none d-lg-block" *ngIf="contractMainnetStatus.length > 0">
        <button
          class="button button--md button-pill button-outline button-outline--gradient button-dropdown w-100"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span *ngIf='!currentStatus'>
              {{ currentStatus?.label || 'Status' }}
            </span>
          <span *ngIf='currentStatus' class='text-capitalize'>
              {{ currentStatus?.label === "UNVERIFIED" ? (currentStatus.label | lowercase) : currentStatus.label }}
            </span>
        </button>
        <ul class="dropdown-menu aura-dropdown-menu">
          <ng-container *ngFor="let item of contractMainnetStatus">
            <li class="dropdown-item cursor-pointer" (click)="getListContract(item); resetPageEvent();">
              <button type="button" class="button p-0" [class.text-capitalize]='item.label === "UNVERIFIED"'>
                {{ item.label === "UNVERIFIED" ? (item.label | lowercase) : item.label }}
              </button>
            </li>
          </ng-container>
        </ul>
      </div>
      <form class="aura-form single-input-field search-form mt-4 mt-md-0 d-none d-lg-block position-relative">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search for Code ID"
            [(ngModel)]="textSearch"
            (keyup.enter)='textSearchCache = textSearch; searchContract()'
            [maxLength]="maxLengthSearch"
            name="search"
            autocomplete="off" />
          <button
            type="submit"
            class="btn-search cursor-pointer {{ textSearch ? 'd-none' : '' }}">
            <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
          </button>
          <button
            type="reset"
            class="btn-reset cursor-pointer {{
              !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
            }}"
            (click)="clearSearch()">
            <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<section>
  <div class="card mt-4 mt-lg-6">
    <div class="card-body card__info">
      <div class='d-flex d-lg-none mt-4'>
        <div class="dropdown aura-dropdown btn-status btn-status--mob" *ngIf="contractMainnetStatus.length > 0">
          <button
            class="button button--md button-pill button-outline button-outline--gradient button-outline__in-card button-dropdown"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class='caption fw-normal' *ngIf='!currentStatus'>
              {{ currentStatus?.label || 'Status' }}
            </span>
            <span class='caption fw-normal text-capitalize' *ngIf='currentStatus'>
              {{ currentStatus?.label === "UNVERIFIED" ? (currentStatus.label | lowercase) : currentStatus.label }}
            </span>
          </button>
          <ul class="dropdown-menu aura-dropdown-menu">
            <ng-container *ngFor="let item of contractMainnetStatus">
              <li class="py-1 px-2 dropdown-item cursor-pointer"
                  (click)="getListContract(item); resetPageEvent();">
                <button type="button" class="button p-0 body-02 text-start" [class.text-capitalize]='item.label === "UNVERIFIED"'>
                  {{ item.label === "UNVERIFIED" ? (item.label | lowercase) : item.label }}
                </button>
              </li>
            </ng-container>
          </ul>
        </div>
        <form class="aura-form single-input-field search-form search-form--mob ml-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for Code ID"
              [(ngModel)]="textSearch"
              [maxLength]="maxLengthSearch"
              (keyup.enter)='textSearchCache = textSearch; searchContract()'
              name="search"
              autocomplete="off" />
            <button
              type="submit"
              class="btn-search cursor-pointer {{ textSearch ? 'd-none' : '' }}">
              <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
            </button>
            <button
              type="reset"
              class="btn-reset cursor-pointer {{ !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : '' }}"
              (click)="clearSearch()">
              <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="loading" class="m-auto mt-10">
        <app-loading-sprint></app-loading-sprint>
      </div>
      <div class="table-responsive mt-4" *ngIf="!loading && dataSource">
        <table
          mat-table
          matSort
          [dataSource]="dataSource"
          class="aura-table"
          *ngIf="this.dataSource && this.dataSource.data?.length > 0; else noValues">
          <ng-container  *ngFor="let template of templates; index as i">
            <ng-container [matColumnDef]="template.matColumnDef">
              <th mat-header-cell *matHeaderCellDef>
                <div [innerHTML]="template.headerCellDef | translate"></div>
              </th>
              <ng-container >
                <td mat-cell *matCellDef="let data">
                  <ng-container [ngSwitch]="template.matColumnDef">
                    <ng-container *ngSwitchCase="'contract_address'">
                      <div class="d-flex align-items-center">
                        <img
                          *ngIf="data['contract_verification'] !== contractVerifyType.Unverifed"
                          [src]="'assets/icons/icons-svg/color/check-circle.svg' | imageS3"
                          alt="contract_verification" class="mr-2"
                          width="16px"
                          height="16px" />
                        <a
                          [routerLink]="['/contracts/', data[template.matColumnDef]]"
                          [class.ml-6]='data["contract_verification"] === contractVerifyType.Unverifed'
                          [class.disabled-link]="!data[template.matColumnDef]">
                          {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                        </a>
                      </div>
                      <span *ngIf="!data[template.matColumnDef]">-</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'contract_name'">
                      {{ data[template.matColumnDef] }}
                      <span class="ml-1" *ngIf="data.symbol">({{ data.symbol }})</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'code_id'">
                      <div class="pl-4">{{ data[template.matColumnDef] }}</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'project_name'">
                      <a [routerLink]="['/project', data.request_id]" class="row-ellipsis-2">{{ data[template.matColumnDef] }}</a>
                    </ng-container>
                    <ng-container *ngSwitchCase="'type'">
                      {{ data[template.matColumnDef] }}
                    </ng-container>
                    <!-- Type contract -->
                    <ng-container *ngSwitchCase="'height'"> - </ng-container>
                    <ng-container *ngSwitchCase="'verified_at'">
                      <div *ngIf="data[template.matColumnDef]">
                        <div class="body-02 d-flex align-items-center">
                          <span>{{ data[template.matColumnDef] | customDate: 'yyyy-MM-dd' }}</span>
                        </div>
                      </div>
                      <div *ngIf="!data[template.matColumnDef]">-</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'status'">
                      <div
                        [ngStyle]="{
                          color: statusColor[data[template.matColumnDef]]
                        }" [class.text-capitalize]='data[template.matColumnDef] === "UNVERIFIED"'>
                        {{ data[template.matColumnDef] === 'UNVERIFIED' ? (data[template.matColumnDef] | lowercase) : data[template.matColumnDef] }}
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'tx_hash'"> - </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ data[template.matColumnDef] || '-' }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell g-no-data" colspan="9999">
              <div class="d-flex justify-content-center align-items-center body-01 body-02-mob">
                <img
                  [src]="'assets/icons/icons-svg/white/info.svg' | imageS3"
                  alt=""
                  width="16px"
                  height="16px"
                  class="mr-2" />
                You have yet to deploy any contract
              </div>
            </td>
          </tr>
        </table>
      </div>
      <app-paginator
        *ngIf="pageData"
        [length]="pageData.length"
        [pageSize]="pageData.pageSize"
        (paginator)="paginatorEmit($event)"
        (pageEvent)="pageEvent($event)">
      </app-paginator>
      <ng-template #noValues>
        <app-table-no-data></app-table-no-data>
      </ng-template>
    </div>
  </div>
</section>
