<div *ngIf="contractInfo">
  <h1 class="mb-2 text--white">Transactions</h1>
  <div class="body-02 text--gray-5 d-flex align-items-center">
    for
    <span class="ml-1 break-all contract-title">
      <app-name-tag
        [tooltipPosition]="'tooltip--right'"
        [value]="contractAddress"
        [linkRouter]="[contractAddress.startsWith(EWalletType.EVM) ? '/evm-contracts' : '/contracts', contractAddress]"
        [fullText]="true"
        [widthAuto]="true"
        [fullTextMob]="true"></app-name-tag>
    </span>
  </div>
</div>
<section>
  <div class="card mt-6">
    <div class="card-body">
      <app-loading-sprint *ngIf="isLoadingTX"></app-loading-sprint>
      <app-table-no-data *ngIf="!isLoadingTX && errTxt" [textNull]="errTxt"></app-table-no-data>
      <app-contract-table
        *ngIf="!isLoadingTX && !errTxt"
        [length]="contractTransaction['count']"
        [pageSize]="pageSize"
        [label]="label?.toString()"
        [nextKey]="nextKey"
        [dataList]="contractTransaction"
        [templates]="templates"
        [contractInfo]="contractInfo"
        [viewAll]="true"
        (onChangePage)="onChangePage($event)"
        (onViewSelected)="filterTransaction($event)"></app-contract-table>
    </div>
  </div>
</section>
