<div class="">
  <div *ngIf="contractInfo">
    <p class="title-medium mb-2 text--white fw-bold">Transactions</p>
    <div class="body text--light-gray">For {{ contractInfo.contractsAddress }}</div>
  </div>
  <section>
    <div class="card mt-8">
      <div class="card-body" *ngIf="contract$ | async as contract">
        <app-contract-table
          [length]="contractInfo?.count"
          [label]="queryParams?.label?.toString()"
          [data]="contract"
          [templates]="templates"
          [contractInfo]="contractInfo"
          (onChangePage)="onChangePage($event)"
          (onViewSelected)="filterTransaction($event)"></app-contract-table>
      </div>
    </div>
  </section>
</div>
