<div class="">
  <div>
    <p class="title-medium mb-2 text--white fw-bold">Transactions</p>
    <div class="body text--light-gray">For {{ contractInfo.contractsAddress }}</div>
  </div>
  <section>
    <ng-container *ngIf="pageData?.length > 0; else noValues">
      <div class="card mt-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="small-body">A total of {{ contractInfo.count }} transactions found</div>
            <div class="">
              <app-dropdown [elements]="elements" (onSelected)="viewSelected($event)"> </app-dropdown>
            </div>
          </div>
          <div class="table-responsive aura-table-contain" *ngIf="dataSource">
            <table
              mat-table
              matSort
              [dataSource]="dataSource"
              class="aura-table d-none d-lg-table"
              (matSortChange)="sortData($event)">
              <!-- ID Column -->
              <ng-container matColumnDef="txHash">
                <th mat-header-cell *matHeaderCellDef style="min-width: 50px">Txn Hash</th>
                <td mat-cell *matCellDef="let element" class="position-relative">
                  <!-- <span class="token-id" class="text--green cursor-pointer hash-link">{{ element?.txHash }}</span> -->
                  <a class="text--green cursor-pointer hash-link">
                    {{ element?.txHash | cutStringPipe: 6:6 }}
                  </a>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="method">
                <th mat-header-cell *matHeaderCellDef style="width: 25%">Method</th>
                <td mat-cell *matCellDef="let element" class="title-cell py-4">
                  <div class="d-flex">
                    {{ element.method }}
                  </div>
                </td>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="block">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%">Blocks</th>
                <td mat-cell *matCellDef="let element">
                  <a class="text--green cursor-pointer hash-link">
                    {{ element.block }}
                  </a>
                </td>
              </ng-container>

              <!-- Change Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%">Time</th>
                <td mat-cell *matCellDef="let element">{{ element.time | dfnsFormatDistanceToNowStrictPure }} ago</td>
              </ng-container>

              <!-- Volume Column -->
              <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
                <td mat-cell *matCellDef="let element">
                  <a class="text--green cursor-pointer hash-link">
                    {{ element.from | cutStringPipe: 18 }}
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.label }}
                </td>
              </ng-container>
              <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
                <td mat-cell *matCellDef="let element">
                  <a class="text--green cursor-pointer hash-link">
                    {{ element.to | cutStringPipe: 18 }}
                  </a>
                </td>
              </ng-container>

              <!-- On-Chain Market Cap Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.value }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fee">
                <th mat-header-cell *matHeaderCellDef>Fee</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fee }}
                </td>
              </ng-container>

              <!-- Holders Column -->
              <ng-container matColumnDef="holders">
                <th mat-header-cell *matHeaderCellDef style="width: 10%">Holders</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.holders }}<br />
                  <span [ngStyle]="{ color: element.isValueUp ? '#5EE69D' : '#E65E5E' }" class="d-flex mt-1">
                    <ng-container *ngIf="element.isValueUp">
                      <img src="assets/images/icons/arrow-up.svg" />
                    </ng-container>
                    <ng-container *ngIf="!element.isValueUp">
                      <img src="assets/images/icons/arrow-down.svg" />
                    </ng-container>
                    <span class="ml-1">{{ element.change }}</span>
                  </span>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell g-no-data" colspan="9999">
                  {{ 'NO DATA' | translate }}
                </td>
              </tr>
            </table>
            <app-paginator
              [length]="pageData.length"
              [pageSize]="pageData.pageSize"
              (paginator)="paginatorEmit($event)">
            </app-paginator>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noValues>
      <app-table-no-data></app-table-no-data>
    </ng-template>
  </section>
</div>
