.step {
  &__num {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--aura-gray-8);
    border: 1px solid var(--aura-white);
    color: var(--aura-white);
    transition: all 0.35s ease-in-out;
  }
  &__title {
    margin-left: var(--spacer-2);
    font-size: 1.6rem;
    color: var(--aura-gray-4);
    transition: all 0.35s ease-in-out;
    @media (min-width: 991.98px) {
      margin-left: 0;
      margin-top: var(--spacer-4);
    }
  }
  &__label {
    position: relative;
    z-index: 5;
  }
  &__content {
    margin-left: var(--spacer-8);
    background-color: var(--aura-gray-9);
    border-radius: 12px;
    padding: var(--spacer-6);
    height: 210px;
    display: flex;
    align-items: center;
    color: var(--aura-gray-6);
    font-size: 1.4rem;
    @media (min-width: 991.98px) {
      height: 176px;
    }
  }
  &__error {
    margin-top: var(--spacer-1);
    font-size: 1.2rem;
    color: var(--aura-red-3);
    display: none;
  }
  &.active {
    .step__num {
      background-color: var(--aura-white);
      color: var(--aura-green-4);
    }
    .step__title {
      color: var(--aura-green-1);
    }
    .step__content {
      color: var(--aura-white);
    }
  }
  &.complete {
    .step__num {
      border: 1px solid var(--aura-green-4);
      background-color: var(--aura-green-4);
      color: var(--aura-white);
    }
    .step__title {
      color: var(--aura-green-4);
    }
    .step__content {
      color: var(--aura-white);
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    li {
      &.isError,
      &.isComplete,
      &.isProcessing,
      &.waiting {
        padding-left: 28px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
        }
      }

      &.isError {
        &:before {
          background: url('../../../../../assets/icons/icons-svg/color/x-circle--red.svg') center no-repeat;
          background-size: contain;
        }
        .step__error {
          display: block;
        }
      }

      &.isComplete:before {
        background: url('../../../../../assets/icons/icons-svg/color/check-circle--green.svg') center no-repeat;
        background-size: contain;
      }

      &.waiting:before {
        background: url('../../../../../assets/icons/icons-svg/color/circle-dashed.svg') center no-repeat;
        background-size: contain;
      }

      &.isProcessing:before {
        background: url('../../../../../assets/icons/icons-svg/color/arrow-circle.svg') center no-repeat;
        background-size: contain;
        animation: rotation 2s infinite linear;
      }
    }
  }
}
#step1,
#step2,
#step3 {
  position: relative;
}
#step2 {
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 16px;
    width: 1px;
    height: calc(100% - 25px);
    background-color: var(--aura-gray-9);
    z-index: 1;
    @media (min-width: 991.98px) {
      top: 16px;
      height: 1px;
      width: 100%;
    }
  }
  &:before {
    left: calc(-50% - 16px);
  }
  &:after {
    right: calc(-50% - 16px);
    left: unset;
  }
}
#step1:after,
#step3:before {
  content: '';
  position: absolute;
  left: 16px;
  width: 1px;
  background-color: var(--aura-gray-9);
  z-index: 2;
  height: 250px;
  transform: rotate(180deg);
  transition: height 0.35s ease-in-out;
  @media (min-width: 991.98px) {
    transition: max-width 0.35s ease-in-out;
    top: 16px !important;
    height: 1px !important;
    width: 100%;
    max-width: 0;
  }
}

#step1:after {
  top: 16px;
}
#step1.complete:after {
  background-color: var(--aura-green-4);
  @media (min-width: 991.98px) {
    max-width: 999px;
    left: calc(50% + 16px);
  }
}

#step3:before {
  top: -226px;
}
#step3.complete:before {
  background-color: var(--aura-green-4);
  @media (min-width: 991.98px) {
    max-width: 999px;
    right: unset;
    left: calc(-50% - 16px);
  }
}
#step3 .step__content {
  @media (max-width: 992px) {
    height: auto;
  }
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
