.menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f1f22;
  z-index: 2001;

  .menu-item {
    position: relative;
    padding: var(--spacer-3);

    .menu-link {
      display: flex;
      align-items: center;

      * {
        color: var(--aura-gray-6);
      }

      &.active {
        * {
          color: var(--aura-white);
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--aura-gray-9);
    }

    .box-menu {
      min-width: 210px;

      &#popContent3 {
        min-width: 220px;
      }

      li.dropdown-item.menu-link {
        color: var(--aura-gray-1);

        &.active,
        &:hover {
          background: rgba(54, 56, 67, 0.5);
          color: var(--aura-white);
        }
      }
    }

    i.icon {
      font-size: 2rem;
    }
  }
}
