<div class="box-contract">
  <div class="d-flex mb-3">
    <button
      class="btn-contract"
      [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.ReadContract }"
      [class.active]="countCurrent === contractType.ReadContract"
      (click)="changeTab(contractType.ReadContract)">
      <span [class.text-gradient]="countCurrent === contractType.ReadContract"> Read Contract </span>
    </button>
    <button
      class="btn-contract"
      [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.WriteContract }"
      [class.active]="countCurrent === contractType.WriteContract"
      (click)="changeTab(contractType.WriteContract)">
      <span [class.text-gradient]="countCurrent === contractType.WriteContract"> Write Contract </span>
    </button>
    <button
      class="btn-contract"
      [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.ReadProxy }"
      [class.active]="countCurrent === contractType.ReadProxy"
      (click)="changeTab(contractType.ReadProxy)">
      <span [class.text-gradient]="countCurrent === contractType.ReadProxy"> Read as Proxy </span>
    </button>
    <button
      class="btn-contract"
      [ngClass]="{ 'button-outline button-outline__in-card': countCurrent === contractType.WriteProxy }"
      [class.active]="countCurrent === contractType.WriteProxy"
      (click)="changeTab(contractType.WriteProxy)">
      <span [class.text-gradient]="countCurrent === contractType.WriteProxy"> Write as Proxy </span>
    </button>
  </div>
  <div class="mt-3">
    <ng-container *ngIf="tokenDetail">
      <app-token-contract-read
        *ngIf="countCurrent === contractType.ReadContract"
        [tokenDetailData]="tokenDetail"></app-token-contract-read>
      <app-token-contract-write
        *ngIf="countCurrent === contractType.WriteContract"
        [tokenDetailData]="tokenDetail"></app-token-contract-write>
    </ng-container>
  </div>
</div>
