.box-contract {
  .content-info {
    background: var(--aura-dark-gray);
    padding: var(--spacer-2) var(--spacer-4);
    border-radius: 8px;
    color: var(--aura-contract);
  }
  .content-contract {
    word-break: break-word;
  }
}
