<section>
  <div class="row d-lg-none mb-4">
    <div class="col">
      <div class="carousel">
        <ngb-carousel [showNavigationArrows]="false">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/pages/dashboard_mainnet-lauch--des.png" alt="Random first slide" class="carousel__img" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="row mb-lg-6">
    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
      <div class="card mb-0 h-100">
        <div class="card-body p-0">
          <div class="row h-100">
            <div class="col-12 col-lg-4">
              <div
                class="card-info card-info--gradient-black mb-0 card-summary-info p-0 h-100 d-flex align-items-center">
                <div class="d-flex flex-column px-lg-4 flex-shrink-0 flex-grow-1">
                  <div class="d-flex align-items-center py-4 px-2 pb-md-0 pb-lg-4 py-xl-6">
                    <img src="assets/images/logo/auraTitleLogo.png" alt="" width="40px" height="40px" />
                    <div class="h1 h2-mob mb-0 ml-4 text--white fw-700 fw-semibold-mob">AURA</div>
                    <a
                      href="https://www.coingecko.com/en/coins/aura-network"
                      target="_blank"
                      class="ml-2 button button--sm button-ghost button-ghost--sm"
                      matTooltip="Open CoinGecko"
                      [matTooltipPosition]="'above'"
                      [matTooltipClass]="'dashboard-tooltip'">
                      <i class="ph-arrow-square-out-fill text--primary body-01 h1-mob mb-0"></i>
                    </a>
                  </div>
                  <div class="divider divider-horizontal"></div>
                  <div class="d-flex flex-column align-items-start flex-shrink-0 flex-grow-1">
                    <div class="d-flex align-items-center justify-content-center py-4 px-2 py-lg-6 px-xl-6">
                      <i class="ph-coins-thin icon-info text--gray-3"></i>
                      <div class="ml-4">
                        <div class="mb-2 body-03 text--gray-1">Price</div>
                        <div class="text--white h4 mb-0 fw-semibold">
                          <span>{{ tokenInfo ? '$' + (tokenInfo?.current_price | number : '1.2-4') : '-' }}</span>
                          <span
                            *ngIf="tokenInfo"
                            class="ml-1 body
                      {{ tokenInfo.price_change_percentage_24h > 0 ? 'text--green-3' : 'text--red-3' }}">
                            {{
                              tokenInfo.price_change_percentage_24h
                                ? '(' +
                                  (tokenInfo.price_change_percentage_24h > 0 ? '+' : '') +
                                  (tokenInfo.price_change_percentage_24h | number : '1.2-2') +
                                  '%)'
                                : ''
                            }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="divider divider-horizontal"></div>
                    <div class="d-flex align-items-center justify-content-center py-4 px-2 py-lg-6 px-xl-6">
                      <i class="ph-chart-line-up-thin icon-info text--gray-3"></i>
                      <div class="ml-4">
                        <div class="mb-2 body-03 text--gray-1">Market Cap</div>
                        <div class="text--white h4 mb-0 fw-semibold">
                          <span>{{ tokenInfo ? '$' + (tokenInfo.market_cap | number : '1.0-0') : '-' }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="divider divider-horizontal"></div>
                    <div class="d-flex align-items-center justify-content-center py-4 px-2 py-lg-6 px-xl-6">
                      <i class="ph-arrows-down-up-thin icon-info text--gray-3"></i>
                      <div class="ml-4">
                        <div class="mb-2 body-03 text--gray-1">24h Vol Trading</div>
                        <div class="text--white h4 mb-0 fw-semibold">
                          <span>{{ tokenInfo ? '$' + (tokenInfo.total_volume | number : '1.0-0') : '-' }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <div class="align-items-center pt-6 pr-6 pl-2">
                <div class="d-lg-flex flex-wrap mb-4">
                  <!-- Tabs -->
                  <div class="button-switch-stage button-switch-stage__1">
                    <button type="button" [class.active]="isPrice" (click)="isPrice = true; getCoinInfo(chartRange)">
                      <span>Price</span>
                    </button>
                    <button type="button" [class.active]="!isPrice" (click)="isPrice = false; getCoinInfo(chartRange)">
                      <span>Volume</span>
                    </button>
                  </div>
                  <div class="ms-auto mt-4 mt-md-0">
                    <div class="d-flex align-items-center chart__options">
                      <div class="button-switch-stage button-switch-stage__2">
                        <button
                          type="button"
                          [class.active]="chartRange === chartRangeData.M_60"
                          (click)="getCoinInfo(chartRangeData.M_60)">
                          <span>60m</span>
                        </button>
                        <button
                          type="button"
                          [class.active]="chartRange === chartRangeData.H_24"
                          (click)="getCoinInfo(chartRangeData.H_24)">
                          <span>24H</span>
                        </button>
                        <button
                          type="button"
                          [class.active]="chartRange === chartRangeData.D_30"
                          (click)="getCoinInfo(chartRangeData.D_30)">
                          <span>30D</span>
                        </button>
                        <button
                          type="button"
                          [class.active]="chartRange === chartRangeData.MONTH_12"
                          (click)="getCoinInfo(chartRangeData.MONTH_12)">
                          <span>12M</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-100 position-relative">
                  <div id="chart"></div>
                  <div class="line-chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 d-lg-flex flex-column justify-content-between">
      <div class="card mb-4 mb-md-6 card__item">
        <div class="card-body px-4 py-4 px-lg-6 card-body--gradient-black d-flex flex-column justify-content-between">
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <i class="ph-cube-light icon-brand text--gray-3"></i>
              <div class="ml-4">
                <div class="body text--gray-1">Height</div>
              </div>
            </div>
            <div *ngIf="global?.dataHeader?.block_height > 0" class="h4 mb-0 fw-semibold text--white">
              {{ global?.dataHeader?.block_height || 0 | number }}
            </div>
          </div>
          <div class="divider divider-horizontal my-4 my-md-1 my-lg-2"></div>
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <i class="ph-graph-light icon-brand text--gray-3"></i>
              <div class="ml-4">
                <div class="body text--gray-1">Community Pool</div>
              </div>
            </div>
            <div class="h4 mb-0 fw-semibold text--white">
              {{ global?.dataHeader?.community_pool_format || 0 }}
            </div>
          </div>
          <div class="divider divider-horizontal my-4 my-md-1 my-lg-2"></div>
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <i class="ph-file-light icon-brand text--gray-3"></i>
              <div class="ml-4">
                <div class="body text--gray-1">Transactions</div>
              </div>
            </div>
            <div *ngIf="global?.dataHeader?.total_txs_num >= 0" class="h4 mb-0 fw-semibold text--white">
              {{ global?.dataHeader?.total_txs_num | number }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-md-0 card__item">
        <div class="card-body px-4 py-4 px-lg-6 card-body--gradient-black d-flex flex-column justify-content-between">
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <img src="assets/icons/icons-svg/basic/bonded-token.svg" alt="" class="icon-brand" />
              <div class="ml-4">
                <div class="body text--gray-1">Bonded Token</div>
              </div>
            </div>
            <div *ngIf="global?.dataHeader?.bonded_tokens" class="h4 mb-0 fw-semibold text--white">
              {{ global?.dataHeader?.bonded_tokens || 0 }} / {{ global?.dataHeader?.supply || 0 }}
            </div>
          </div>
          <div class="divider divider-horizontal my-4 my-md-1 my-lg-2"></div>
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <img src="assets/icons/icons-svg/basic/chart-col-up.svg" alt="" class="icon-brand" />
              <div class="ml-4">
                <div class="body text--gray-1">Inflation rate</div>
              </div>
            </div>
            <div *ngIf="global?.dataHeader?.inflation" class="h4 mb-0 fw-semibold text--white">
              {{ global?.dataHeader?.inflation }}
            </div>
          </div>
          <div class="divider divider-horizontal my-4 my-md-1 my-lg-2"></div>
          <div class="d-flex align-items-center justify-content-between py-1">
            <div class="d-flex align-items-center">
              <img src="assets/icons/icons-svg/basic/staking-coins.svg" alt="" class="icon-brand" />
              <div class="ml-4">
                <div class="body text--gray-1">Staking APR</div>
              </div>
            </div>
            <div class="h4 mb-0 fw-semibold text--white">{{ staking_APR.toFixed(2) || 0 }}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 d-none d-lg-block">
      <div class="mb-4 mb-lg-6 carousel">
        <ngb-carousel [showNavigationArrows]="false">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/images/pages/dashboard_mainnet-lauch--des.png" alt="Random first slide" class="carousel__img" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="col-12 col-lg-4 mb-4 mb-lg-6">
      <div class="card card__item h-100">
        <div class="card-body d-flex flex-column justify-content-center voting-card {{voting_Period_arr.length === 0 ? 'py-4 py-lg-6' : ''}}">
          <div class="h2 h3-mob fw-semibold mb-0 text--white">Voting</div>
          <div *ngIf="voting_Period_arr.length > 0">
            <div class="mt-4 d-flex align-items-center">
              <div class="flex-shrink-0 flex-grow-1 d-flex w-25">
                <div class="dropdown aura-dropdown w-100">
                  <button
                      class="button voting-dropdown-button button-pill button-outline button-dropdown w-100"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                  <span class="body text-start">{{
                      curr_voting_Period ? curr_voting_Period.content.title : voting_Period_arr[0].content.title
                    }}</span>
                  </button>
                  <ul class="dropdown-menu aura-dropdown-menu aura-dropdown-menu--light">
                    <ng-container *ngFor="let item of voting_Period_arr">
                      <li class="dropdown-item cursor-pointer">
                        <button type="button" class="button p-0 body-03" (click)="curr_voting_Period = item">
                          {{ item.content.title }}
                        </button>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <div class="ml-2">
                <button
                    *ngIf="!curr_voting_Period"
                    [disabled]="true"
                    class="button button--sm button-outline button-pill px-4">
                  <span class="caption fw-normal">View detail</span>
                </button>
                <a
                    *ngIf="curr_voting_Period"
                    href="/votings/{{ curr_voting_Period.proposal_id }}"
                    class="button button--sm button-outline button-pill px-4">
                  <span class="caption fw-normal">View detail</span>
                </a>
              </div>
            </div>
            <div class="mt-3 card-child">
              <div class="d-flex align-items-center justify-content-between body-03">
                <div>
                  <div class="text--gray-2">Yes</div>
                  <div class="text--gray-1 fw-semibold mt-1">
                    {{
                      curr_voting_Period ? (curr_voting_Period.tally.yes | number : global.formatNumber2Decimal) : '0,0'
                    }}%
                  </div>
                </div>
                <div>
                  <div class="text--gray-2">No</div>
                  <div class="text--gray-1 fw-semibold mt-1">
                    {{
                      curr_voting_Period ? (curr_voting_Period.tally.no | number : global.formatNumber2Decimal) : '0,0'
                    }}%
                  </div>
                </div>
                <div>
                  <div class="text--gray-2">Veto</div>
                  <div class="text--gray-1 fw-semibold mt-1">
                    {{
                      curr_voting_Period
                          ? (curr_voting_Period.tally.no_with_veto | number : global.formatNumber2Decimal)
                          : '0,0'
                    }}%
                  </div>
                </div>
                <div>
                  <div class="text--gray-2">Abstain</div>
                  <div class="text--gray-1 fw-semibold mt-1">
                    {{
                      curr_voting_Period
                          ? (curr_voting_Period.tally.abstain | number : global.formatNumber2Decimal)
                          : '0,0'
                    }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center h-100" *ngIf="voting_Period_arr.length === 0">
            <img src="assets/images/icons/empty_state_illus.svg" alt="">
            <div class="text--gray-3">No proposal within the voting period</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tables -->
<section>
  <div class="row">
    <!-- Block -->
    <div class="col-xl-6">
      <div class="card">
        <div class="align-items-center d-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <h2 class="text--white mb-0">Blocks</h2>
          <button
            type="button"
            class="button button-pill button--sm button-outline button-outline__in-card body"
            [routerLink]="'/blocks'"
            *ngIf="dataSourceBlock">
            <span>View more</span>
          </button>
        </div>
        <div class="card-body pt-4 pt-lg-2 box-dashboard">
          <ng-container *ngIf="dataSourceBlock; else noValues">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSourceBlock" class="aura-table body blocks">
                <ng-container *ngFor="let template of templatesBlock; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th mat-header-cell *matHeaderCellDef>
                      <div [innerHTML]="template.headerCellDef | translate" class="text--white"></div>
                    </th>
                    <td mat-cell *matCellDef="let data">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <div *ngSwitchCase="'timestamp'">
                            {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                          </div>
                          <a
                            *ngSwitchCase="'proposer'"
                            class="text--primary cursor-pointer text-break"
                            [routerLink]="['/validators', data.operator_address]">
                            {{ data[template.matColumnDef] }}
                          </a>
                          <a
                            *ngSwitchCase="'height'"
                            class="text--primary cursor-pointer"
                            [routerLink]="['/blocks', data.height]">
                            {{ data[template.matColumnDef] }}
                          </a>
                          <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsBlock"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBlock"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data" colspan="9999">
                    <app-table-no-data></app-table-no-data>
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>
          <ng-template #noValues>
            <app-table-no-data></app-table-no-data>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Transaction -->
    <div class="col-xl-6">
      <div class="card">
        <div class="align-items-center d-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <h2 class="text--white mb-0">Transactions</h2>
          <button
            type="button"
            class="button button-pill button--sm button-outline button-outline__in-card body"
            [routerLink]="'/transaction'"
            *ngIf="dataSourceTx">
            <span>View more</span>
          </button>
        </div>
        <div class="card-body pt-4 pt-lg-2 box-dashboard">
          <ng-container *ngIf="dataSourceTx; else noValues">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSourceTx" class="aura-table transaction body">
                <ng-container *ngFor="let template of templatesTx; index as i">
                  <ng-container [matColumnDef]="template.matColumnDef">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      [class.width-txhash]="template.headerCellDef === 'Tx Hash'"
                      [ngClass]="template.headerCellDef === 'Type' ? 'width-type' : ''">
                      <div [innerHTML]="template.headerCellDef | translate" class="text--white"></div>
                    </th>
                    <td mat-cell *matCellDef="let data">
                      <div>
                        <ng-container [ngSwitch]="template.matColumnDef">
                          <div *ngSwitchCase="'timestamp'">
                            {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                          </div>
                          <a
                            *ngSwitchCase="'tx_hash'"
                            class="text--primary cursor-pointer hash-link"
                            [routerLink]="['/transaction', data['tx_hash']]">
                            {{ data[template.matColumnDef] | cutStringPipe : 8 : 8 }}
                          </a>
                          <a
                            *ngSwitchCase="'height'"
                            class="text--primary cursor-pointer block-link"
                            [routerLink]="['/blocks', data['height']]">
                            {{ data[template.matColumnDef] }}
                          </a>
                          <div *ngSwitchCase="'type'">
                            <span class="label__status">{{ data[template.matColumnDef] }}</span>
                          </div>
                          <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTx"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTx"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell g-no-data" colspan="9999">
                    <app-table-no-data></app-table-no-data>
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>
          <ng-template #noValues>
            <app-table-no-data></app-table-no-data>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
