.button.button-flat--inactive {
  border: none;
  background: var(--aura-gray-9);
  color: var(--aura-gray-5);
}

.box-dashboard {
  min-height: 200px;
  @media (min-width: 992px) {
    min-height: 305px;
  }
}

.aura-table th:not(:last-child) {
  width: 23%;
}

.aura-table.transaction {
  th:not(:last-child) {
    width: 16%;
  }
  .width-type {
    width: 30% !important;
  }
  .width-txhash {
    width: 33% !important;
  }
  .label__status {
    max-width: 165px;
  }
}

.card-highlight {
  .card-highlight__content {
    @media (min-width: 992px) {
      font-weight: 700 !important;
      line-height: 2.8rem !important;
    }
  }
}

:host::ng-deep {
  apx-chart {
    .apexcharts-text tspan {
      color: var(--aura-gray-5);
      font-size: 1.2rem;
      line-height: 1.6rem;
      @media (min-width: 992px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
    .apexcharts-toolbar {
      padding: 0;
      top: -15px !important;
      @media (max-width: 992px) {
        top: -25px !important;
      }
      .apexcharts-zoomin-icon,
      .apexcharts-zoomout-icon,
      .apexcharts-menu-icon {
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
        &:not(:nth-last-child(2)) {
          margin-right: 12px;
        }
      }
      i.icon {
        font-size: 2.86rem;
        transition: color 0.35s ease-in-out;
        color: var(--aura-gray-5);
        &:hover {
          color: var(--aura-green);
        }
      }
    }
  }
}
