<!-- Chart -->
<section>
  <div class="row">
    <div class="col-xl-12">
      <div class="card card-h-100">
        <div class="card-body">
          <div class="align-items-center mb-3">
            <div class="d-flex flex-wrap align-items-center mb-lg-6">
              <h2 class="text--white mb-0">Transactions</h2>
              <div class="ms-auto">
                <div class="d-none d-lg-block">
                  <button
                    type="button"
                    class="button button--sm button-pill button-flat px-3 body mr-2"
                    [class.button-flat--inactive]="chartRange === chartRangeData.M_60"
                    (click)="updateBlockAndTxs(chartRangeData.M_60)">
                    60m
                  </button>
                  <button
                    type="button"
                    class="button button--sm button-pill button-flat px-3 body mr-2"
                    [class.button-flat--inactive]="chartRange === chartRangeData.H_24"
                    (click)="updateBlockAndTxs(chartRangeData.H_24)">
                    24h
                  </button>
                  <button
                    type="button"
                    class="button button--sm button-pill button-flat px-3 body mr-2"
                    [class.button-flat--inactive]="chartRange === chartRangeData.D_30"
                    (click)="updateBlockAndTxs(chartRangeData.D_30)">
                    30d
                  </button>
                  <button
                    type="button"
                    class="button button--sm button-pill button-flat px-3 body"
                    [class.button-flat--inactive]="chartRange === chartRangeData.MONTH_12"
                    (click)="updateBlockAndTxs(chartRangeData.MONTH_12)">
                    12M
                  </button>
                </div>
              </div>
            </div>
            <div class="w-100" *ngIf="chartOptions">
              <div id="chart">
                <apx-chart
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [xaxis]="chartOptions.xAxis"
                  [stroke]="chartOptions.stroke"
                  [tooltip]="chartOptions.tooltip"
                  [dataLabels]="chartOptions.dataLabels">
                </apx-chart>
              </div>
            </div>

            <div class="d-lg-none text-center">
              <button
                type="button"
                class="button button--sm button-pill button-flat px-3 body mr-6"
                [class.active]="chartRange === chartRangeData.M_60"
                (click)="updateBlockAndTxs(chartRangeData.M_60)">
                60m
              </button>
              <button
                type="button"
                class="button button--sm button-pill button-flat px-3 body mr-6"
                [class.active]="chartRange === chartRangeData.H_24"
                (click)="updateBlockAndTxs(chartRangeData.H_24)">
                24h
              </button>
              <button
                type="button"
                class="button button--sm button-pill button-flat px-3 body mr-6"
                [class.active]="chartRange === chartRangeData.D_30"
                (click)="updateBlockAndTxs(chartRangeData.D_30)">
                30d
              </button>
              <button
                type="button"
                class="button button--sm button-pill button-flat px-3 body"
                [class.active]="chartRange === chartRangeData.MONTH_12"
                (click)="updateBlockAndTxs(chartRangeData.MONTH_12)">
                12M
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Cards -->
<section>
  <div class="row">
    <div class="col-xl-3 col-md-6" *ngIf="global?.dataHeader?.block_height > 0">
      <!-- card -->
      <div class="card text--white card-highlight">
        <!-- card body -->
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <span class="h3 text--white ">Height</span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="h1 text-gradient card-highlight__content mb-0">
              {{ global?.dataHeader?.block_height || 0 | number }}
            </div>
            <!-- <div class="body">Update 5s ago</div> -->
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <div class="col-xl-3 col-md-6" *ngIf="global?.dataHeader?.total_txs_num >= 0">
      <!-- card -->
      <div class="card card-h-100 text--white card-highlight">
        <!-- card body -->
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <span class="h3 text--white ">Transactions</span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="h1 text-gradient card-highlight__content mb-0">
              {{ global?.dataHeader?.total_txs_num | number }}
            </div>
            <!-- <div class="body">Update 5s ago</div> -->
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <div class="col-xl-3 col-md-6" *ngIf="global?.dataHeader?.bonded_tokens">
      <!-- card -->
      <div class="card card-h-100 text--white card-highlight">
        <!-- card body -->
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <span class="h3 text--white ">Bonded Tokens</span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="h1 text-gradient card-highlight__content mb-0">
              {{ global?.dataHeader?.bonded_tokens || 0 }} / {{ global?.dataHeader?.supply || 0 }}
            </div>
            <!-- <div class="body">Update 5s ago</div> -->
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <div
      class="col-xl-3 col-md-6"
      *ngIf="global?.dataHeader?.total_validator_active_num >= 0 && global?.dataHeader?.total_validator_num >= 0">
      <!-- card -->
      <div class="card card-h-100 text--white card-highlight">
        <!-- card body -->
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12">
              <span class="h3 text--white ">Validators</span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="h1 text-gradient card-highlight__content mb-0">
              {{ global?.dataHeader?.total_validator_active_num || 0 }}
              {{ global?.dataHeader?.total_validator_num >= 0 ? '/ ' + global?.dataHeader?.total_validator_num : 0 }}
            </div>
            <!-- <div class="body">Update 5s ago</div> -->
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
  </div>
</section>
<!-- Tables -->
<section>
  <div class="row">
    <!-- Block -->
    <div class="col-xl-6">
      <div class="card">
        <div class="align-items-center d-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <h2 class="text--white mb-0">Blocks</h2>
          <button
            type="button"
            class="button button-pill button--sm button-outline button-outline__in-card d-none d-lg-block body"
            [routerLink]="'/blocks'"
            *ngIf="dataSourceBlock">
            <span>View more</span>
          </button>
        </div>
        <div class="card-body pt-4 pt-lg-2 box-dashboard">
          <ngx-simplebar>
            <ng-container *ngIf="dataSourceBlock; else noValues">
              <div class="table-responsive d-none d-lg-block">
                <table mat-table [dataSource]="dataSourceBlock" class="aura-table body">
                  <ng-container *ngFor="let template of templatesBlock; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th mat-header-cell *matHeaderCellDef>
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                            </div>
                            <a
                              *ngSwitchCase="'proposer'"
                              class="text--primary cursor-pointer"
                              [routerLink]="['/validators', data.operator_address]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <a
                              *ngSwitchCase="'height'"
                              class="text--primary cursor-pointer"
                              [routerLink]="['/blocks', data.height]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBlock"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBlock"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data" colspan="9999">
                      {{ 'NO DATA' | translate }}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="d-lg-none" *ngIf="dataBlock && dataBlock.length > 0">
                <app-card-mob-simple
                  *ngFor="let data of dataBlock"
                  [link]="'/blocks/' + data.height"
                  [content]="[
                    { label: 'Height', class: 'text--primary', info: data.height },
                    { label: 'Proposer', class: 'text--primary', info: data.proposer },
                    { label: 'Txs', info: data.num_txs.toString() },
                    { label: 'Time',
                      class: 'card__date text--gray-1 body-01',
                      info: '<span>'+(data.timestamp | customDate: 'yyyy-MM-dd')+'</span>' + '<span>'+(data.timestamp | customDate: 'h:mm:ss')+'</span>'
                    }
                  ]"></app-card-mob-simple>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
          <button
            type="button"
            class="button button-pill button--md button-outline button-outline__in-card body d-lg-none w-100 mt-2"
            [routerLink]="'/blocks'"
            *ngIf="dataSourceBlock">
            <span>View more</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Transaction -->
    <div class="col-xl-6">
      <div class="card">
        <div class="align-items-center d-flex justify-content-between px-6 pt-4 pt-lg-6 pb-0 pb-lg-2">
          <h2 class="text--white mb-0">Transactions</h2>
          <button
            type="button"
            class="button button-pill button--sm button-outline button-outline__in-card d-none d-lg-block body"
            [routerLink]="'/transaction'"
            *ngIf="dataSourceTx">
            <span>View more</span>
          </button>
        </div>
        <div class="card-body pt-4 pt-lg-2 box-dashboard">
          <ngx-simplebar>
            <ng-container *ngIf="dataSourceTx; else noValues">
              <div class="table-responsive d-none d-lg-block">
                <table mat-table [dataSource]="dataSourceTx" class="aura-table transaction body">
                  <ng-container *ngFor="let template of templatesTx; index as i">
                    <ng-container [matColumnDef]="template.matColumnDef">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        [class.width-txhash]="template.headerCellDef === 'Tx Hash'"
                        [ngClass]="template.headerCellDef === 'Type' ? 'width-type' : ''">
                        <div [innerHTML]="template.headerCellDef | translate"></div>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <div>
                          <ng-container [ngSwitch]="template.matColumnDef">
                            <div *ngSwitchCase="'timestamp'">
                              {{ commonService.getDateValue(data[template.matColumnDef])[0] }}
                            </div>
                            <a
                              *ngSwitchCase="'tx_hash'"
                              class="text--primary cursor-pointer hash-link"
                              [routerLink]="['/transaction', data['tx_hash']]">
                              {{ data[template.matColumnDef] | cutStringPipe: 8:8 }}
                            </a>
                            <a
                              *ngSwitchCase="'height'"
                              class="text--primary cursor-pointer block-link"
                              [routerLink]="['/blocks/id', data['blockId']]">
                              {{ data[template.matColumnDef] }}
                            </a>
                            <div *ngSwitchCase="'type'">
                              <span class="label__status">{{ data[template.matColumnDef] }}</span>
                            </div>
                            <div *ngSwitchDefault>{{ data[template.matColumnDef] }}</div>
                          </ng-container>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTx"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTx"></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell g-no-data" colspan="9999">
                      {{ 'NO DATA' | translate }}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="d-lg-none" *ngIf="dataTx && dataTx.length > 0">
                <app-card-mob-simple
                  *ngFor="let data of dataTx"
                  [link]="'/transaction/' + data.tx_hash"
                  [title]="{
                    size: 'md',
                    label: data.tx_hash | cutStringPipe: 6:6,
                    titleClass: 'h5 mb-0 text--primary',
                    subLabelContent: data.type,
                    subLabelClass: 'label__status',
                    status: data.code
                  }"
                  [content]="[
                    { label: 'Height', class: 'text--primary', info: data.height},
                    { label: 'Time',
                      class: 'card__date text--gray-1 body-01',
                      info: '<span>'+(data.timestamp | customDate: 'yyyy-MM-dd')+'</span>' + '<span>'+(data.timestamp | customDate: 'h:mm:ss')+'</span>'
                    }
                  ]"></app-card-mob-simple>
              </div>
            </ng-container>
            <ng-template #noValues>
              <app-table-no-data></app-table-no-data>
            </ng-template>
          </ngx-simplebar>
          <button
            type="button"
            class="button button-pill button--md button-outline button-outline__in-card body d-lg-none w-100 mt-2"
            [routerLink]="'/transaction'"
            *ngIf="dataSourceTx">
            <span class="text-gradient">View more</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
