.aura-table th:not(:last-child) {
  width: 23%;
}

.aura-table.transaction {
  th:last-child {
    width: 30%;
  }
  th:not(:last-child) {
    width: 16%;
  }
  .width-type {
    width: 20%;
  }
  .width-txhash {
    width: 30%;
  }
}

@media (max-width: 992px) {
  .aura-table.blocks,
  .aura-table.transaction {
    th {
      min-width: 140px;
      &:last-child {
        min-width: 180px;
      }
    }
  }
}

.box-dashboard {
  min-height: 413px;
}

.divider.divider-vertical {
  min-height: 16px;
}
#chart {
  position: relative;
  overflow: hidden;
}
::ng-deep {
  .floating-tooltip-2 {
    width: 100px;
  }
  .line-chart {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 10;
    height: 1.5px;
    background: linear-gradient(117deg, #ffd569 0%, #fc8e4f 21.39%, #ff697b 34.6%);
    width: 100%;
  }
}
.button-switch-stage {
  &__1 {
    width: 100%;
    @media (min-width: 568.98px) {
      max-width: 152px;
    }
    button {
      padding: 0 14px;
    }
  }
  &__2 {
    width: 100%;
    max-width: unset;
    @media (min-width: 991.98px) {
      max-width: 239px;
    }
  }
  &__3 {
    background-color: unset;
    max-width: unset;
  }
}

.price-label {
  font-size: 14px !important;
  min-width: 110px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-summary-info {
  .divider-vertical {
    min-height: 64px;
  }
  @media (min-width: 991.98px) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
.card-body--gradient-black,
.card-info--gradient-black {
  background: var(--aura-gradient-black);
}
ul {
  list-style: disc;
}
.voting-dropdown-button {
  height: 36px;
  span.line-claim {
    width: 90%;
  }
}
.dropdown-menu {
  &.aura-dropdown-menu.aura-dropdown-menu--light {
    li.dropdown-item {
      border-radius: 4px;
      button {
        display: inline-block;
        width: 100%;
        text-align: start;
      }
      &:hover button {
        color: var(--aura-white);
      }
    }
    .line-claim {
      width: 80px;
    }
  }
  inset: auto auto auto 0 !important;
  &.show {
    min-height: 60px;
    max-height: 175px;
    overflow-y: auto !important;
  }
}
.card-child {
  background: rgba(19, 20, 25, 0.4);
}
::ng-deep {
  .mat-tooltip-panel-above {
    transform: translateX(25%);
    mat-tooltip-component {
      .dashboard-tooltip {
        overflow: visible;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          transform: translateY(100%);
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid rgba(97, 97, 97, 0.9);
        }
      }
    }
  }
}

i.icon-info {
  font-size: 40px;
}
i.icon-brand {
  font-size: 32px;
}
.w-md-100 {
  @media (max-width: 1199.98px) {
    width: 100%;
  }
}
img.icon-brand {
  object-fit: cover;
}
.carousel {
  height: 150px;
  @media (min-width: 991.98px) {
    height: 196px;
  }
  ngb-carousel {
    height: 100%;
  }
  &__img {
    height: 150px;
    @media (min-width: 991.98px) {
      height: 196px;
    }
    width: 100%;
    object-fit: contain;
  }
}
.voting-card {
  @media (min-width: 991.98px) {
    max-height: 196px;
  }
}