.button.button-flat--inactive {
  border: none;
  background: var(--aura-gray-9);
  span {
    color: var(--aura-gray-5);
  }
}

.box-dashboard {
  min-height: 200px;
  @media (min-width: 992px) {
    min-height: 350px;
  }
}

.aura-table th:not(:last-child) {
  width: 23%;
}

.aura-table.transaction {
  th:last-child {
    width: 30%;
  }
  th:not(:last-child) {
    width: 16%;
  }
  .width-type {
    width: 20% !important;
  }
  .width-txhash {
    width: 30% !important;
  }
  .label__status {
    max-width: 165px;
  }
}

.card-highlight {
  .card-highlight__content {
    @media (min-width: 992px) {
      font-weight: 700 !important;
      line-height: 2.8rem !important;
    }
  }
}
.divider.divider-vertical {
  min-height: 16px;
}
#chart .tv-lightweight-charts {
  width: 100% !important;
}
