.mobile-tab {
  overflow: hidden;
  overflow-x: auto;
  &.nav-tabs-custom .nav-item {
    min-width: 180px;
  }
}

.mobile-tab::-webkit-scrollbar {
  display: none;
}

:host::ng-deep {
  app-proposal-table {
    table th {
      width: 25%;
    }
  }
}
