.tab-title {
    font-size: 15px;
    white-space: nowrap;
}

.card__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
    color: var(--aura-white);

    margin-bottom: 32px;
}