.contract-address {
  background-color: var(--aura-gray-9);
  height: 36px;
  padding: 0 var(--spacer-3);
  border-radius: var(--spacer-4);
  color: var(--aura-gray-2);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    max-width: 400px;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media (max-width: 768px) {
    max-width: 300px;
  }
  @media (max-width: 576px) {
    max-width: 90px;
  }
}
.search-form-sblist {
  width: 100%;
  @media (min-width: 991.98px) {
    width: 410px;
  }
}
.aura-table-slist {
  th {
    min-width: 15%;
  }
  th:first-child {
    min-width: 5%;
  }

  @media (max-width: 992px) {
    th {
      min-width: 150px;
    }
    th:first-child {
      min-width: 80px;
    }
    th:nth-child(2),
    th:nth-child(3) {
      min-width: 250px;
    }
  }
}
.token-status {
  position: relative;
  &:before {
    content: '\e916';
    font-family: 'ico-aura';
    color: inherit;
    position: absolute;
    left: -16px;
    top: 0;
    font-size: 8px;
  }
}
::ng-deep {
  .cdk-overlay-dark-backdrop {
    background: var(--aura-black);
    opacity: 0.85 !important;
  }
  .mat-form-field[soulbound] {
    width: 100%;
    background-color: var(--aura-gray-9);
    border-radius: 4px;
    display: flex;
    height: 48px;

    .mat-form-field-wrapper {
      width: 100%;
      padding-bottom: 0;
    }

    .mat-form-field-flex {
      padding: 2px 0.75em 0 0.75em;
      background: transparent;
    }

    .mat-form-field-infix {
      padding: 2px 0 0.75em 0;
    }

    .mat-select-placeholder,
    mat-select-trigger {
      position: relative;
      color: var(--aura-gray-5);
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .mat-select-value {
      color: var(--aura-gray-1);
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow-wrapper {
      transform: translateY(-5%);

      .mat-select-arrow {
        border: solid #e6e7e8;
        border-width: 0 2.3px 2.3px 0;
        display: inline-block;
        padding: 2.8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}
