<app-pagetitle title="Project Details"></app-pagetitle>
<div class="card">
  <app-loading-sprint *ngIf="loading"></app-loading-sprint>
  <div *ngIf="!loading" class="card-body">
    <app-table-no-data *ngIf="!projectData"></app-table-no-data>
    <div *ngIf="projectData">
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Project Name</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">{{projectData.projectName}}</div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Code ID</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">
          <div class="d-flex">
            <a *ngFor="let id of projectData.codeIds; let islast = last" class="text--primary hover-link d-flex"
               href="https://serenity.aurascan.io/contracts?param={{id.euphoria_code_id}}"
               target="_blank">
              {{ id.euphoria_code_id}}
              <span *ngIf="!islast" class="mr-2">,</span>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Official Website</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">
          <a href="{{projectData.official_project_website}}" class="text--primary hover-link">{{projectData.official_project_website}}</a>
        </div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Official Email Address</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">{{projectData.official_project_email}}</div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Creator</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">{{projectData.creator}}</div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Social Profiles</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">
          <div class="d-flex align-items-center social-group mt-3 mt-lg-0 flex-wrap">
            <a href="{{projectData.socialProfiles.whitepaper}}" *ngIf="projectData?.socialProfiles?.whitepaper">
              <i class="ph-file-pdf"></i>
            </a>
            <a href="{{projectData.socialProfiles.medium}}" *ngIf="projectData?.socialProfiles?.medium">
              <i class="ph-medium-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.github}}" *ngIf="projectData?.socialProfiles?.github">
              <i class="ph-github-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.reddit}}" *ngIf="projectData?.socialProfiles?.reddit">
              <i class="ph-reddit-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.telegram}}" *ngIf="projectData?.socialProfiles?.telegram">
              <i class="ph-telegram-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.slack}}" *ngIf="projectData?.socialProfiles?.slack">
              <i class="ph-slack-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.weChat}}" *ngIf="projectData?.socialProfiles?.weChat">
              <i class="ph-chats-circle"></i>
            </a>
            <a href="{{projectData.socialProfiles.facebook}}" *ngIf="projectData?.socialProfiles?.facebook">
              <i class="ph-facebook-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.linkedin}}" *ngIf="projectData?.socialProfiles?.linkedin">
              <i class="ph-linkedin-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.twitter}}" *ngIf="projectData?.socialProfiles?.twitter">
              <i class="ph-twitter-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.discord}}" *ngIf="projectData?.socialProfiles?.discord">
              <i class="ph-discord-logo"></i>
            </a>
            <a href="{{projectData.socialProfiles.bit_coin_talk}}" *ngIf="projectData?.socialProfiles?.bit_coin_talk">
              <i class="ph-currency-btc"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row mb-4 body-02 body-01-mob">
        <div class="col-12 col-lg-3 text--gray-4">Description</div>
        <div class="col-12 col-lg-9 text--gray-1 h6 mb-0">
          <div class="editorial-container p-4 mt-2 mt-lg-0" *ngIf="projectData?.description">
            <div id="marked" class="editorial"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
