.social-group a {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--aura-gray-8);
  color: var(--aura-white);
  font-weight: 700;
  margin-right: 16px;
  margin-bottom: 12px;
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
  &:hover {
    color: var(--aura-primary);
  }
}
