<div class="card-mob-channel">
  <div
    *ngIf="title.label"
    class="d-flex justify-content-between align-items-center"
    [ngStyle]="{ 'margin-bottom': '6px' }">
    <div class="text--primary body {{ title.size ? 'title-' + title.size : '' }}">
      <span
        class="{{ title.titleClass ? title.titleClass : '' }}"
        [routerLink]="['/transaction', dataCard['tx_hash']]"
        >{{ title.label }}</span
      >
    </div>
    <span class="caption {{ dataCard.status === 'Success' ? 'text--green-3' : 'text--red-3' }}">
      {{ dataCard.status | uppercase }}
    </span>
  </div>

  <div class="caption-mob fw-normal text--gray-light">
    <div class="d-flex">
      <i class="ph ph-clock mr-1 text--gray-4 body-mob"></i>
      <span>{{ (dataCard.timestamp | dateCustom)[0] }}</span>
    </div>
    <div class="d-flex mt-1">
      <i class="ph ph-chat-circle-text mr-1 text--gray-4 body-mob"></i>
      <span [class.line-claim]="modeQuery === tabsData.ExecutedTxs">
        {{ title.subLabelContent | stringEllipsis : 30 }}
      </span>
      <div *ngIf="dataCard.lstTypeTemp?.length > 1" class="ml-1 text--gray-4">
        +{{ dataCard.lstTypeTemp?.length - 1 }}
      </div>
    </div>
  </div>
  <div class="divider divider-horizontal divider-lighter mt-2"></div>
  <div *ngIf="content && content.length > 0">
    <div class="mt-2 d-flex justify-content-between" *ngFor="let data of content; let i = index">
      <div class="text--gray-4 fw-normal">{{ data.label }}</div>
      <div
        *ngIf="data.info && data.label !== 'Amount'"
        class="{{ data.class ? data.class : 'text--gray-1' }} mb-0"
        [innerHTML]="data.info"></div>
      <div *ngIf="data.label === 'Amount'" class="text--gray-1">
        <span class="mr-1"> {{ dataCard['amount'] | mask : 'separator.4' }}</span>
        <span>{{ dataCard.dataDenom?.symbol | cutStringPipe : 16 }}</span>
      </div>
    </div>
  </div>
</div>
