<div class="box-contract text--white">
  <ng-container *ngIf="contractTypeData === contractVerifyType.Unverified && contractDetail">
    <div class="d-flex break-word align-items-center">
      <img
        [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
        alt=""
        width="16"
        height="16"
        class="mr-2" />
      <div>
        Are you the contract creator?
        <a class="text--primary" [routerLink]="['verify']"> Verify and Publish </a>
        your contract source code today!
      </div>
    </div>
    <div class="mt-3 content-info caption fw-normal" *ngIf="contractDetail.tx_hash">{{ contractDetail.tx_hash }}</div>
  </ng-container>

  <ng-container *ngIf="contractTypeData === contractVerifyType.Verified">
    <div class="button-tab-group">
      <button
        class="button-tab"
        [class.active]="currentTab === contractType.Code"
        (click)="changeTab(contractType.Code)">
        <span>Code</span>
      </button>
      <button
        class="button-tab"
        [class.active]="currentTab === contractType.ReadContract"
        (click)="changeTab(contractType.ReadContract)">
        <span class="d-none d-lg-block">Read Contract</span>
        <span class="d-lg-none">Read</span>
      </button>
      <button
        class="button-tab"
        [class.active]="currentTab === contractType.WriteContract"
        (click)="changeTab(contractType.WriteContract)">
        <span class="d-none d-lg-block">Write Contract</span>
        <span class="d-lg-none">Write</span>
      </button>
    </div>
  </ng-container>
</div>
<div class="mt-4 mt-lg-8">
  <ng-container *ngIf="contractDetail && contractTypeData === contractVerifyType.Verified">
    <app-evm-code *ngIf="currentTab === contractType.Code" [contractDetailData]="contractDetail"></app-evm-code>
    <app-evm-read *ngIf="currentTab === contractType.ReadContract" [contractDetailData]="contractDetail"></app-evm-read>
    <app-evm-write *ngIf="currentTab === contractType.WriteContract" [contractDetailData]="contractDetail">
    </app-evm-write>
  </ng-container>
</div>
