<div class="box-contract text--white">
  <ng-container *ngIf="!(contractTypeData === ContractVerifyType.Verified || isImplementationVerified)">
    <ng-container *ngTemplateOutlet="noData"></ng-container>
  </ng-container>

  <ng-container *ngIf="contractTypeData === ContractVerifyType.Verified || isImplementationVerified">
    <div class="button-tab-group">
      <button
        class="button-tab"
        [class.active]="currentTab === ContractType.Code"
        (click)="changeTab(ContractType.Code)">
        <span>Code</span>
      </button>
      <button
        class="button-tab"
        *ngIf="contractTypeData === ContractVerifyType.Verified"
        [class.active]="currentTab === ContractType.ReadContract"
        (click)="changeTab(ContractType.ReadContract)">
        <span class="d-none d-lg-block">Read Contract</span>
        <span class="d-lg-none">Read</span>
      </button>
      <button
        class="button-tab"
        *ngIf="contractTypeData === ContractVerifyType.Verified"
        [class.active]="currentTab === ContractType.WriteContract"
        (click)="changeTab(ContractType.WriteContract)">
        <span class="d-none d-lg-block">Write Contract</span>
        <span class="d-lg-none">Write</span>
      </button>
      <ng-container *ngIf="isImplementationVerified">
        <button
          class="button-tab"
          [class.active]="currentTab === ContractType.ReadContractProxy"
          (click)="changeTab(ContractType.ReadContractProxy)">
          <span class="d-none d-lg-block">Read as Proxy</span>
          <span class="d-lg-none">Read as Proxy</span>
        </button>
        <button
          class="button-tab"
          [class.active]="currentTab === ContractType.WriteContractProxy"
          (click)="changeTab(ContractType.WriteContractProxy)">
          <span class="d-none d-lg-block">Write as Proxy</span>
          <span class="d-lg-none">Write as Proxy</span>
        </button>
      </ng-container>
    </div>
  </ng-container>

  <div class="mt-4 mt-lg-6">
    <ng-container
      *ngIf="(contractDetail && contractTypeData === ContractVerifyType.Verified) || isImplementationVerified">
      <ng-container *ngIf="currentTab === ContractType.Code">
        <app-evm-code
          *ngIf="contractTypeData === ContractVerifyType.Verified"
          [contractDetailData]="contractDetail"
          [abiString]="contractAbiString">
        </app-evm-code>

        <ng-container *ngIf="contractTypeData !== ContractVerifyType.Verified">
          <ng-container *ngTemplateOutlet="noData"></ng-container>
        </ng-container>
      </ng-container>

      <app-evm-read
        *ngIf="currentTab === ContractType.ReadContract && contractTypeData === ContractVerifyType.Verified"
        [abi]="contractDetail.abi"
        [contractAddress]="contractsAddress">
      </app-evm-read>

      <app-evm-write
        *ngIf="currentTab === ContractType.WriteContract && contractTypeData === ContractVerifyType.Verified"
        [abi]="contractDetail.abi"
        [contractAddress]="contractsAddress">
      </app-evm-write>

      <ng-container
        *ngIf="
          isImplementationVerified &&
          (currentTab === ContractType.ReadContractProxy || currentTab === ContractType.WriteContractProxy)
        ">
        <div class="mb-6">
          <div class="body-02 text--gray-1 fw-semibold mb-2">
            ABI for the implementation contract at
            <a
              [routerLink]="['/evm-contracts', implementationContractDetail.implementationContract]"
              class="text--primary body-02 fw-semibold">
              {{ implementationContractDetail.implementationContract }}
            </a>
          </div>
          <div class="body-02 text--gray-1" *ngIf="implementationContractDetail.previouslyRecordedContract">
            Previously recorded to be on
            <a
              [routerLink]="['/evm-contracts', implementationContractDetail.previouslyRecordedContract]"
              class="text--primary body-02">
              {{ implementationContractDetail.previouslyRecordedContract }}
            </a>
          </div>
        </div>
        <app-evm-read
          *ngIf="currentTab === ContractType.ReadContractProxy"
          [abi]="implementationContractDetail.abi"
          [contractAddress]="contractsAddress"
          [isProxyContract]="true">
        </app-evm-read>

        <app-evm-write
          *ngIf="currentTab === ContractType.WriteContractProxy"
          [abi]="implementationContractDetail.abi"
          [contractAddress]="contractsAddress"
          [isProxyContract]="true">
        </app-evm-write>
      </ng-container>
    </ng-container>

    <ng-template #noData>
      <div class="d-flex break-word align-items-center">
        <img
          [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
          alt=""
          width="16"
          height="16"
          class="mr-2" />
        <div>
          Are you the contract creator?
          <a class="text--primary" [routerLink]="['/evm-contracts', contractsAddress, 'verify']"> Verify and Publish</a>
          your contract source code today!
        </div>
      </div>
      <div class="d-flex break-word align-items-center mt-2">
        <img
          [src]="'assets/icons/icons-svg/color/info-circle.svg' | imageS3"
          alt=""
          width="16"
          height="16"
          class="mr-2" />
        <div>
          In case this is proxy contract, verify
          <a class="text--primary" [routerLink]="['/evm-contracts', contractsAddress, 'proxy-verify']">
            Is this a proxy
          </a>
          or not?
        </div>
      </div>
      <div
        class="mt-3 content-info caption fw-normal"
        *ngIf="contractCode"
        [appExpandable]="contractCode"
        [maxCharVisible]="900">
        {{ contractCode }}
      </div>
    </ng-template>
  </div>
</div>
