<div class="col-lg-6 col-12 box-error-message mb-2" *ngIf="errorMessage">
  <div class="item-error-message align-items-center">
    <div [style.width]="'24px'" class="content-error">
      <img [src]="'assets/icons/icons-svg/white/icon-error-login.svg' | imageS3" alt="" width="16px" height="16px" />
    </div>
    <div>
      {{ errorMessage }}
    </div>
  </div>
</div>

<div class="txt-title">Profile settings</div>
<div class="mt-4">
  <span class="mr-2 caption text--gray-4">Email</span>
  <span class="body text--white d-lg-inline-flex d-block mt-1 mt-lg-0">{{ userEmail }}</span>
</div>
<h3 class="fw-bold text--gray-4 mt-8 h4-mob">Change password</h3>
<div>
  <form
    [formGroup]="changePassForm"
    class="aura-form single-input-field profile-form"
    autocomplete="off"
    (ngSubmit)="onSubmit()">
    <!-- Old password -->
    <div class="row mt-4" *ngIf="currentProvider !== 'google'">
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label for="old_password" class="form-label body-01">Old password</label>
          <div
            class="input-group pr-0"
            [class.form-control--error]="
              getOldPassword.errors?.pattern && getOldPassword.touched && getOldPassword.dirty
            ">
            <input
              id="old_password"
              [type]="hideOldPassword ? 'password' : 'text'"
              #old_password
              formControlName="old_password"
              (blur)="isError = false"
              placeholder="Enter old password" />
            <i
              class="pr-4 hidden-icon cursor-pointer ph-bold  {{ hideOldPassword ? 'ph-eye-slash' : 'ph-fill ph-eye' }}"
              (click)="hideOldPassword = !hideOldPassword"></i>
          </div>
          <div
            *ngIf="getOldPassword.errors?.pattern && getOldPassword.touched && getOldPassword.dirty"
            class="text--danger mt-2 caption fw-normal">
            The password need to be more than 8 characters in length with at least one upper case, 1 lower case, 1
            number and 1 special character
          </div>
        </div>
      </div>
    </div>
    <!-- New password -->
    <div class="row mt-lg-6 mt-4 mb-4">
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <div class="form-group">
          <label for="new_password" class="form-label body-01">New password</label>
          <div
            class="input-group pr-0"
            [class.form-control--error]="
              getNewPassword.touched &&
              getNewPassword.dirty &&
              (getNewPassword.errors?.pattern ||
                (changePassForm.value.new_password === changePassForm.value.old_password &&
                  changePassForm.value.new_password?.length > 0))
            ">
            <input
              id="new_password"
              [type]="hideNewPassword ? 'password' : 'text'"
              #new_password
              formControlName="new_password"
              (blur)="isError = false"
              placeholder="Enter new password" />
            <i
              class="pr-4 hidden-icon cursor-pointer ph-bold  {{ hideNewPassword ? 'ph-eye-slash' : 'ph-fill ph-eye' }}"
              (click)="hideNewPassword = !hideNewPassword"></i>
          </div>
          <ng-container *ngIf="getNewPassword.touched && getNewPassword.dirty">
            <div *ngIf="getNewPassword.errors?.pattern" class="text--danger mt-2 caption fw-normal">
              The password need to be more than 8 characters in length with at least one upper case, 1 lower case, 1
              number and 1 special character
            </div>
            <div
              *ngIf="
                changePassForm.value.new_password === changePassForm.value.old_password &&
                changePassForm.value.new_password?.length > 0
              "
              class="text--danger mt-2 caption fw-normal">
              New password must be different from current password.
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <label for="cf_new_password" class="form-label body-01">Confirm new password</label>
          <div
            class="input-group pr-0"
            [class.form-control--error]="
              getConfirmPassword.touched &&
              getConfirmPassword.dirty &&
              changePassForm.value.new_password !== changePassForm.value.cf_new_password &&
              changePassForm.value.new_password?.length > 0 &&
              changePassForm.value.cf_new_password?.length > 0
            ">
            <input
              id="cf_new_password"
              #cf_new_password
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="cf_new_password"
              (blur)="isError = false"
              placeholder="Type the new password again" />
            <i
              class="pr-4 hidden-icon cursor-pointer ph-bold  {{
                hideConfirmPassword ? 'ph-eye-slash' : 'ph-fill ph-eye'
              }}"
              (click)="hideConfirmPassword = !hideConfirmPassword"></i>
          </div>
          <div
            *ngIf="
              getConfirmPassword.touched &&
              getConfirmPassword.dirty &&
              changePassForm.value.new_password !== changePassForm.value.cf_new_password &&
              changePassForm.value.new_password?.length > 0 &&
              changePassForm.value.cf_new_password?.length > 0
            "
            class="text--danger mt-2 caption fw-normal">
            The password confirmation does not match
          </div>
        </div>
      </div>
    </div>
    <!-- button group -->
    <div class="d-flex">
      <button
        class="button button--md button-pill button-outline button-outline--gradient button-outline__in-card"
        type="submit"
        [disabled]="checkDisableForm()">
        <span>Change password</span>
      </button>
    </div>
  </form>
</div>
