<h1 class="mb-0 text--white fw-500-mob">Non-Fungible Tokens (NFT)</h1>
<section>
  <ng-container>
    <div class="card mt-4 mt-lg-5">
      <div class="card-body">
        <!-- Title -->
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-lg-center">
          <div class="caption-mob fw-normal-mob body-03 text--gray-5 mt-4 mt-lg-0">
            A total of {{ pageData?.length | number }} Token Contract{{ pageData?.length > 1 ? 's' : '' }} found
          </div>
          <form class="aura-form single-input-field search-form mt-2 mt-lg-0" #searchForm>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for Token Name or Address"
                [maxLength]="maxLengthSearch"
                [(ngModel)]="textSearch"
                (ngModelChange)="getTokenData()"
                name="search"
                autocomplete="off" />
              <button
                type="submit"
                class="btn-search {{ textSearch && textSearch?.length > 0 ? 'd-none' : '' }}"
                (click)="getTokenData()">
                <img [src]="'assets/icons/icons-svg/basic/search.svg' | imageS3" alt="" width="24" height="24" />
              </button>
              <button
                type="reset"
                class="btn-reset cursor-pointer {{
                  !textSearch || (textSearch && textSearch?.length === 0) ? 'd-none' : ''
                }}"
                (click)="resetSearch()">
                <img [src]="'assets/icons/icons-svg/basic/close-circle.svg' | imageS3" alt="" width="24" height="24" />
              </button>
            </div>
          </form>
        </div>
        <div class="divider divider-horizontal d-lg-none my-4"></div>
        <!-- Table -->
        <div class="table-responsive aura-table-contain mt-4" *ngIf="pageData?.length > 0; else noValues">
          <table mat-table matSort [dataSource]="dataSource" class="aura-table" (matSortChange)="sortData($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index" class="vertical-align-top py-4">
                <span>{{ pageData?.pageIndex * 20 + i + 1 }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="token">
              <th mat-header-cell *matHeaderCellDef>Token</th>
              <td mat-cell *matCellDef="let element" class="title-cell py-4">
                <div class="d-flex">
                  <!-- <img [src]="element.image || defaultLogoToken" width="18" height="18" /> -->
                  <div>
                    <a href="/tokens/token-nft/{{ element.contract_address }}" class="text--primary">
                      {{ element.name | stringEllipsis : 16 }}
                      <span *ngIf="element.symbol">({{ element.symbol }})</span>
                    </a>
                    <div class="body-02 fw-normal caption-mob mb-0 text--gray-6 pr-5 desc">
                      {{ element.description }}
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="tokenContract">
              <th mat-header-cell *matHeaderCellDef>Token Contract</th>
              <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                <a [routerLink]="['/contracts/', element.contract_address]" class="text-clamp">{{
                  element.contract_address | cutStringPipe : 8 : 8
                }}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="transfers_24h">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfers (24H)</th>
              <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                <ng-container *ngIf="element.transfers_24h; else noData">
                  {{ element.transfers_24h | number }}
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="transfers_3d">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfers (3D)</th>
              <td mat-cell *matCellDef="let element" class="vertical-align-top py-4">
                <ng-container *ngIf="element.transfers_3d; else noData">
                  {{ element.transfers_3d | number }}
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell g-no-data" colspan="9999">
                {{ 'NO DATA' | translate }}
              </td>
            </tr>
          </table>
          <app-paginator
            [length]="pageData.length"
            [pageSize]="pageData.pageSize"
            (paginator)="paginatorEmit($event)"
            (pageEvent)="pageEvent($event)">
          </app-paginator>
        </div>
        <!-- No data -->
        <ng-template #noValues>
          <app-table-no-data></app-table-no-data>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-template #noData> - </ng-template>
</section>
