<div class="d-flex justify-content-between align-items-center">
  <div class="my-3 small-text">
    <button
      (click)="connectWallet()"
      class="button button-chart button-outline button-outline__in-card btn-unconnect"
      *ngIf="!isConnectedWallet">
      <div class="icon-connect"></div>
      <span class="">Connect to Web3</span>
    </button>
    <button
      [routerLink]="['/account/', walletAddress]"
      class="button button-chart button-outline button-outline__in-card"
      *ngIf="isConnectedWallet">
      <div class="icon-connect connected"></div>
      <span class="">Connected to Web3</span>
    </button>
  </div>
  <div class="small-text">
    <span class="cursor-pointer text--green mr-5" (click)="expandMenu()">
      <ng-container *ngIf="!isExpand">Expand all</ng-container>
      <ng-container *ngIf="isExpand">Collapse All</ng-container>
    </span>
    <span class="cursor-pointer text--green" (click)="reloadData()">Reset</span>
  </div>
</div>

<div class="box-content text--white mt-3">
  <ng-container *ngFor="let writeContract of jsonWriteContract.oneOf; index as i">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header class="content-contract">
        <mat-panel-title class="item-content"> {{ i + 1 }}. {{ writeContract.required }} </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-flex row p-3">
        <ng-container *ngFor="let item of writeContract?.properties[writeContract.required[0]].required; index as idx">
          <p>{{ item }} ({{ writeContract.properties[writeContract.required[0]].properties[item].type }})</p>
          <input
            class="form-check-input col-12 mb-4"
            type="text"
            placeholder="{{ item }} ({{
              writeContract.properties[writeContract.required[0]].properties[item].type
            }})" />
        </ng-container>
        <div>
          <button class="button button-chart button-outline body">
            <span class="ml-1 text-gradient">Write</span>
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
</div>

<!-- <div class="box-content text--white mt-3">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="content-contract">
      <mat-panel-title class="item-content">1. upgrade to</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex row p-3">
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <a [routerLink]="'/'" class="button button-chart button-outline">
        <span class="ml-1">Write</span>
      </a>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="content-contract">
      <mat-panel-title class="item-content"> 2. upgrade to and call </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex row p-3">
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <p>newImplementation (address)</p>
      <input class="form-check-input col-12 mb-4" type="text" placeholder="newImplementation (address)" />
      <a [routerLink]="'/'" class="button button-chart button-outline">
        <span class="ml-1">Write</span>
      </a>
    </div>
  </mat-expansion-panel>
</div> -->
