<ng-container *ngIf="paginator">
    <ngb-pagination [(page)]="paginator.pageIndex" [pageSize]="paginator.pageSize" [collectionSize]="100"
        class="d-flex justify-content-end custom-paginator" (pageChange)="pageChange($event)" [boundaryLinks]="true"
        [maxSize]="5" [ellipses]="false">


        <ng-template ngbPaginationPrevious="">
            <img src="../../../../assets/icons/icons-svg/white/chevron-left.svg" alt="">
        </ng-template>

        <ng-template ngbPaginationNext>
            <img src="../../../../assets/icons/icons-svg/white/chevron-right.svg" alt="">
        </ng-template>

        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationNumber let-p>
            {{ p }}
        </ng-template>
    </ngb-pagination>
</ng-container>