@media (max-width: 991.99px) {
  .button-filter {
    padding: 8px;
  }
}

.button-filter {
  &[aria-expanded='true'] {
    border: 2px solid var(--aura-white);
  }
}

::ng-deep {
  @media (max-width: 414px) {
    .nav-item {
      min-width: 138px;
    }
  }
}
.box-filter {
  .filter-time {
    .input-group {
      height: 40px;
    }
  }
  padding: 16px;
  @media (max-width: 376px) {
    width: calc(100vw - 68px);
  }
}
.tnx-filter-item {
  height: 44px;
}

.tnx-filter-box {
  max-height: 356px;
  overflow-y: auto;
  @media (max-width: 1366px) {
    max-height: 280px;
  }
  @media (max-width: 414px) {
    max-height: 210px;
  }
  ::ng-deep {
    .form-group label {
      line-height: 18px !important;
    }
  }
}

.box-type-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.icon-expand {
  &.active {
    cursor: pointer;
    color: var(--aura-white) !important;
  }
}

.row-tx:has(.ph-caret-up) {
  background: linear-gradient(0deg, #262838, #262838), linear-gradient(0deg, #0e7e6b, #0e7e6b);
  td:first-child {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 1px;
      width: 2px;
      top: 1.5px;
      bottom: 0;
      background-color: #0e7e6b;
    }
  }

  ::ng-deep {
    .box-name-tag:not(.private-name-tag) {
      &:after {
        border-right: 15px solid #262838 !important;
      }
    }
  }
}

::ng-deep {
  .table-transfer tr td {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      padding-top: var(--spacer-0) !important;
    }
  }
}

.account-transaction-table {
  .aura-status .status {
    background-color: unset;
    padding: 0;
  }
  app-name-tag {
    display: flex;
    align-items: center;
  }
  .item-show {
    height: 56px;
    min-width: 180px;
    display: flex;
    align-items: center;
    &.nft-column {
      display: block;
      height: 56px !important;
      margin-top: 8px;
    }
  }
  .tab-nft .item-show {
    height: 64px;
  }

  tr td {
    vertical-align: top;
    padding-top: var(--spacer-4);
    &:nth-child(2) {
      padding-top: var(--spacer-2);
    }
  }

  tr:has(.tab-nft) td {
    &:nth-child(1),
    &:nth-child(3) {
      padding-top: var(--spacer-5) !important;
    }
    &:nth-child(2) {
      padding-top: var(--spacer-3) !important;
    }
  }

  .explain-data:not(:first-child) {
    transition: all 0.35s ease-in-out;
    height: 0;
    overflow: hidden;
    &.show-detail {
      height: 56px;
    }
  }
  .box-number {
    border: solid 1px var(--aura-gray-8);
    border-radius: 4px;
    margin-left: var(--spacer-3);
    padding: 2px 6px 2px 6px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    .icon-expand {
      margin-bottom: 2px;
    }
  }
}

.btn-select-type {
  background-color: unset;
  color: white;
}

.account-transaction-table {
  ::ng-deep {
    .message-custom {
      transform: translate(0, 12px) !important;
    }
  }
  .box-token-transfer {
    min-width: 60px;
    display: flex;
    justify-content: flex-start;
    .token-transfer-status {
      display: inline-flex;
      align-items: center;
      padding: var(--spacer-2) var(--spacer-4);
      color: var(--aura-green-3);
      border-radius: 4px;
      font-weight: 600;
      font-size: 12px;
      width: auto;
      margin: auto;
      &.status-out {
        color: var(--aura-red-3);
      }
    }
  }
}
