.contract-address {
  width: 125px;
}

.aura__change {
  font-size: 1.4rem;
  line-height: 1.8rem;

  &--desc,
  &--asc {
    &::after {
      top: -3px;
      left: 0;
      transform: unset;
    }
  }
}

.table-token {
  overflow-y: scroll;
  height: 380px;

  ::ng-deep table thead {
    display: none;
  }
}

.token-filter-form.aura-form.single-input-field .input-group {
  height: 40px;

  @media (min-width: 991.99px) {
    width: 312px;
  }
  width: 100%;
}

.image-token {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.token-asset {
  min-width: 175px;
}

@media (max-width: 991.99px) {
  .button-filter {
    padding: 8px;
  }
  ::ng-deep {
    .mat-form-field[tokenFilter] {
      background-color: var(--aura-gray-10);
      border-radius: 8px;
      display: flex;
      align-items: center;
      width: 150px;
      height: 40px;
      // border: 1px solid transparent;

      @media (min-width: 991.98px) {
        width: 100%;
      }

      &.mat-focused {
        border-color: var(--aura-white);
      }

      .mat-form-field-wrapper {
        width: 100%;
        padding-bottom: 0;
      }

      .mat-form-field-flex {
        padding: 0 16px;
        background: transparent;
        height: 40px;
      }

      .mat-form-field-infix {
        padding: 4px 0 0.75em 0;
      }

      .mat-select-placeholder,
      mat-select-trigger {
        position: relative;
        color: var(--aura-gray-5);
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      .mat-select-value {
        color: var(--aura-gray-1);
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-select-arrow-wrapper {
        transform: translateY(-26%);

        .mat-select-arrow {
          border: solid var(--aura-white);
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }

    mat-select.token-filter[aria-expanded='true'] {
      .mat-select-arrow {
        border-width: 1px 0 0 1px !important;
      }
      .mat-select-arrow-wrapper {
        transform: translateY(2%);
      }
    }

    .token-filter-none::after,
    .token-filter-none::before {
      display: none;
    }

    .filter-dropdown {
      right: unset !important;
      transform: translateX(-50%) !important;
      width: 200px;
    }

    .tokenFilterPanel {
      border: 1px solid var(--aura-gray-8);
      background: #25252c;
      width: 214px !important;
      min-width: 214px !important;
      transform: translate3D(1px, 29px, 0) !important;
      padding: var(--spacer-2) !important;
      border-radius: 8px;
    }

    .mat-option {
      border-radius: 4px;
      color: var(--aura-white) !important;
      padding: 0 8px !important;
    }
  }
}

::ng-deep {
  @media (max-width: 414px) {
    .nav-item {
      min-width: 138px;
    }
  }
}

.tnx-filter-item {
  height: 44px;
}

.tnx-filter-box {
  max-height: 356px;
  overflow-y: auto;
  ::ng-deep {
    .form-group label {
      line-height: 18px !important;
    }
  }
}

.box-type-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.icon-expand {
  &.active {
    cursor: pointer;
    color: var(--aura-white) !important;
  }
}

.row-tx:has(.ph-caret-up) {
  background: linear-gradient(0deg, #262838, #262838), linear-gradient(0deg, #0e7e6b, #0e7e6b);
  ::ng-deep {
    .box-name-tag:not(.private-name-tag) {
      &:after {
        border-right: 15px solid #262838 !important;
      }
    }
  }
}

.account-transaction-table {
  .aura-status .status {
    background-color: unset;
    padding: 0;
  }
  app-name-tag {
    min-height: 30px;
    display: flex;
    align-items: center;
  }
  .item-show {
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacer-4);
  }
  tr td {
    vertical-align: top;
    padding-top: var(--spacer-4);
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      padding-top: var(--spacer-3);
    }
    &:nth-child(2) {
      padding-top: var(--spacer-2);
    }
  }
  .aura-status.aura-tooltip-contain {
    // transform: translateY(-8px);
  }
  .explain-data {
    transition: max-height 0.35s ease-in-out;
    max-height: 0;
    overflow: hidden;
    &.show {
      max-height: 99999px;
    }
  }
  .box-number {
    border: solid 1px var(--aura-gray-8);
    border-radius: 4px;
    margin-left: var(--spacer-3);
    padding: 2px 6px 2px 6px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    .icon-expand {
      margin-bottom: 2px;
    }
  }
}

.btn-select-type{
  background-color: unset;
  color: white;
}
