<div class="d-lg-flex justify-content-between">
    <div>
        <app-pagetitle title="ERC-721 Tokens" [displayInfo]="false"></app-pagetitle>
        <div class="body text--light-gray">A total of 530,908 Token Contracts found</div>
    </div>
    <form class="aura-form single-input-field search-form d-none d-lg-block">
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    placeholder="Search for Token Name or Address"
                    [(ngModel)]="textSearch"
                    (ngModelChange)="searchToken()"
                    name="search"
                    autocomplete="off"
            />
            <button type="submit" class="btn-search {{textSearch && textSearch?.length > 0 ? 'd-none' : ''}}" (click)="searchToken()">
                <img src="../../../assets/icons/icons-svg/basic/search.svg" alt="" width="24" height="24" />
            </button>
            <button type="reset" class="btn-reset {{(!textSearch || textSearch && textSearch?.length === 0) ? 'd-none' : ''}}"
                    (click)="textSearch = ''; searchToken()">
                <img src="../../../assets/icons/icons-svg/basic/close-circle.svg" alt="" width="24" height="24" />
            </button>
        </div>
    </form>
</div>

<section>
    <ng-container *ngIf="pageData?.length > 0; else noValues">
        <div class="card mt-8">
            <div class="card-body">
                <div class="table-responsive aura-table-contain">
                    <table mat-table [dataSource]="dataSource" class="aura-table d-none d-lg-table">
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style="min-width: 50px">#</th>
                            <td mat-cell *matCellDef="let element" class="position-relative"><span class="token-id">{{ element.id }}</span></td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="token">
                            <th mat-header-cell *matHeaderCellDef style="width: 30%">Token</th>
                            <td mat-cell *matCellDef="let element" class="title-cell py-4">
                                <a [routerLink]="['/smart-contract/token', element.hashCode]" class="text-clamp">{{ element.name }}</a><br>
                                <div class="pr-5">{{element.desc}}</div>
                            </td>
                        </ng-container>

                        <!-- Price Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%">Price</th>
                            <td mat-cell *matCellDef="let element">
                                <div>
                                    <div class="mb-1">${{ element.price | number: global.formatNumber2Decimal }}</div>
                                    <div class="small-text text--light-gray">{{ element.btc }} Btc</div>
                                    <div class="small-text text--light-gray">{{ element.eth }} Eth</div>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Change Column -->
                        <ng-container matColumnDef="change">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%">Change (%)</th>
                            <td mat-cell *matCellDef="let element">
                                <span [ngStyle]="{ color: (element.change > 0) ? '#37cc6e' : '#ff2745' }">
                                    {{ (element.change > 0) ? '+' : '' }}{{ element.change }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Volume Column -->
                        <ng-container matColumnDef="volume">
                            <th mat-header-cell *matHeaderCellDef>Volume (24H)</th>
                            <td mat-cell *matCellDef="let element">${{ element.volume | number: global.formatNumber2Decimal }}</td>
                        </ng-container>

                        <!-- Circulating Market Cap Column -->
                        <ng-container matColumnDef="circulatingMarketCap">
                            <th mat-header-cell *matHeaderCellDef>Circulating Market Cap</th>
                            <td mat-cell *matCellDef="let element">${{ element.circulatingMarketCap | number: global.formatNumber2Decimal }}</td>
                        </ng-container>

                        <!-- On-Chain Market Cap Column -->
                        <ng-container matColumnDef="onChainMarketCap">
                            <th mat-header-cell *matHeaderCellDef>On-Chain Market Cap</th>
                            <td mat-cell *matCellDef="let element">${{ element.onChainMarketCap | number: global.formatNumber2Decimal }}</td>
                        </ng-container>

                        <!-- Holders Column -->
                        <ng-container matColumnDef="holders">
                            <th mat-header-cell *matHeaderCellDef style="width: 10%">Holders</th>
                            <td mat-cell *matCellDef="let element">{{ element.holders | number: global.formatNumberOnlyDecimal }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell g-no-data" colspan="9999">
                                {{ 'NO DATA' | translate }}
                            </td>
                        </tr>
                    </table>
                    <app-paginator
                            [length]="pageData.length"
                            [pageSize]="pageData.pageSize"
                            (paginator)="paginatorEmit($event)">
                    </app-paginator>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noValues>
        <app-table-no-data></app-table-no-data>
    </ng-template>
</section>
