.search-form {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 410px;
  }
}

@media (max-width: 991.99px) {
  .aura-table th.mat-header-cell:not(:nth-child(2)) {
    min-width: 200px;
  }
  .aura-table th.mat-header-cell:nth-child(2) {
    min-width: 250px;
  }
  .aura-table th.mat-header-cell:nth-child(1) {
    min-width: 50px;
  }
}

.vertical-align-top {
  vertical-align: top;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
