.box-error {
  background-color: var(--aura-gray-10);
  color: #e65e5e;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  word-break: break-word;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0px;
  line-height: 1.6rem !important;
  .txt-see-more {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--aura-gray-light);
  }
}

#contentError.line-claim-v {
  -webkit-line-clamp: 3;
}

.status-container {
  column-gap: 12px;
  
  .method {
    height: 24px;
    display: flex;
    padding: 4px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: var(--aura-gray-9);
  
    span {
      color: var(--aura-gray-3);
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}
